[2021-08-20 16:33] pkolyvas commented on #21071
We're in the process of moving Grafana feature requests to [GitHub Discussions](https://community.grafana.com/t/were-moving-grafana-feature-requests-to-github-discussions/50341/3). This issue is being moved to [Discussions](https://github.com/grafana/grafana/discussions) or has been moved from our issues list, depending on where you're seeing this message.

 We hope to use the discussion thread to

[2021-08-20 16:33] pkolyvas commented on #26712
We're in the process of moving Grafana feature requests to [GitHub Discussions](https://community.grafana.com/t/were-moving-grafana-feature-requests-to-github-discussions/50341/3). This issue is being moved to [Discussions](https://github.com/grafana/grafana/discussions) or has been moved from our issues list, depending on where you're seeing this message.

 We hope to use the discussion thread to

[2021-08-20 16:33] pkolyvas commented on #26745
We're in the process of moving Grafana feature requests to [GitHub Discussions](https://community.grafana.com/t/were-moving-grafana-feature-requests-to-github-discussions/50341/3). This issue is being moved to [Discussions](https://github.com/grafana/grafana/discussions) or has been moved from our issues list, depending on where you're seeing this message.

 We hope to use the discussion thread to

[2021-08-20 16:33] pkolyvas commented on #25793
We're in the process of moving Grafana feature requests to [GitHub Discussions](https://community.grafana.com/t/were-moving-grafana-feature-requests-to-github-discussions/50341/3). This issue is being moved to [Discussions](https://github.com/grafana/grafana/discussions) or has been moved from our issues list, depending on where you're seeing this message.

 We hope to use the discussion thread to

[2021-08-20 16:33] pkolyvas commented on #24484
We're in the process of moving Grafana feature requests to [GitHub Discussions](https://community.grafana.com/t/were-moving-grafana-feature-requests-to-github-discussions/50341/3). This issue is being moved to [Discussions](https://github.com/grafana/grafana/discussions) or has been moved from our issues list, depending on where you're seeing this message.

 We hope to use the discussion thread to

[2021-08-20 16:34] pkolyvas commented on #25081
We're in the process of moving Grafana feature requests to [GitHub Discussions](https://community.grafana.com/t/were-moving-grafana-feature-requests-to-github-discussions/50341/3). This issue is being moved to [Discussions](https://github.com/grafana/grafana/discussions) or has been moved from our issues list, depending on where you're seeing this message.

 We hope to use the discussion thread to

[2021-08-20 16:34] pkolyvas commented on #19996
We're in the process of moving Grafana feature requests to [GitHub Discussions](https://community.grafana.com/t/were-moving-grafana-feature-requests-to-github-discussions/50341/3). This issue is being moved to [Discussions](https://github.com/grafana/grafana/discussions) or has been moved from our issues list, depending on where you're seeing this message.

 We hope to use the discussion thread to

[2021-08-20 16:37] #18869 closed

[2021-08-20 16:37] #18872 closed

[2021-08-20 16:37] #18900 closed

[2021-08-20 16:37] #19884 closed

[2021-08-20 16:37] #19901 closed

[2021-08-20 16:37] #19996 closed

[2021-08-20 16:37] #20032 closed

[2021-08-20 16:37] #20477 closed

[2021-08-20 16:37] #21071 closed

[2021-08-20 16:37] #21123 closed

[2021-08-20 16:37] #21157 closed

[2021-08-20 16:37] #21168 closed

[2021-08-20 16:37] #21233 closed

[2021-08-20 16:37] #21315 closed

[2021-08-20 16:37] #21780 closed

[2021-08-20 16:37] #21828 closed

[2021-08-20 16:37] #21975 closed

[2021-08-20 16:38] #21976 closed

[2021-08-20 16:38] #22004 closed

[2021-08-20 16:38] #22209 closed

[2021-08-20 16:38] #22250 closed

[2021-08-20 16:38] #22273 closed

[2021-08-20 16:38] #22353 closed

[2021-08-20 16:38] #22550 closed

[2021-08-20 16:38] #22590 closed

[2021-08-20 16:38] #22599 closed

[2021-08-20 16:38] #23118 closed

[2021-08-20 16:38] #23462 closed

[2021-08-20 16:38] #23534 closed

[2021-08-20 16:38] #24017 closed

[2021-08-20 16:38] #24177 closed

[2021-08-20 16:38] #24484 closed

[2021-08-20 16:38] #24509 closed

[2021-08-20 16:38] #24821 closed

[2021-08-20 16:38] #24878 closed

[2021-08-20 16:38] #24894 closed

[2021-08-20 16:38] #25002 closed

[2021-08-20 16:38] #25081 closed

[2021-08-20 16:38] #25082 closed

[2021-08-20 16:38] #25173 closed

[2021-08-20 16:38] #25299 closed

[2021-08-20 16:38] #25345 closed

[2021-08-20 16:38] #25452 closed

[2021-08-20 16:38] #25455 closed

[2021-08-20 16:38] #25523 closed

[2021-08-20 16:38] #25666 closed

[2021-08-20 16:38] #25793 closed

[2021-08-20 16:38] #25803 closed

[2021-08-20 16:38] #25820 closed

[2021-08-20 16:38] #25851 closed

[2021-08-20 16:38] #26026 closed

[2021-08-20 16:38] #26060 closed

[2021-08-20 16:38] #26089 closed

[2021-08-20 16:38] #26135 closed

[2021-08-20 16:38] #26230 closed

[2021-08-20 16:38] #26358 closed

[2021-08-20 16:38] #26538 closed

[2021-08-20 16:38] #26654 closed

[2021-08-20 16:38] #26712 closed

[2021-08-20 16:38] #26745 closed

[2021-08-20 17:28] apollo13 commented on #26322
@aocenas I am seeing this as well. As an example:
![Screenshot from 2021-08-20 19-21-42](https://user-images.githubusercontent.com/81547/130270742-2f80cc41-ef1b-49d7-87ae-3e9a9ef0c446.png)

The count metrics are generated (properly I think) from Elasticsearch and displayed as such. When Grafana displays the timestamp field, it seems to take it as local time though, because it misses a Z at the end

[2021-08-20 17:51] apollo13 commented on #26322
Ok so the main problem here is probably that explore doesn't seem to accept that this timestamp is UTC. If I set the datasource to use a timestamp field with no special format then elasticsearch will return `2021-08-20T16:36:28.819Z` -- Then Grafana properly picks this up and converts it as wanted.

Adding a `"docvalue_fields" : [{"field": "timestamp", "format": "date_time"}]` to the query generat

[2021-08-20 18:32] alanreay commented on #24092
Does this ⬆️  mean it will releasing soon?  Could really use this feature!  Right now we don't have some columns linked in favor of keeping the table clean.

[2021-08-20 20:29] zuchka commented on #37938
Hi @B3DTech

Thanks for making this issue. Your problem sounds similar to the one described in https://github.com/grafana/grafana/issues/37956. Do you think they could be related?

[2021-08-20 20:42] connorlindsey opened #38407 "Tempo: TraceID field is missing on initial page load"
**What happened**:
Trace id field doesn't appear when first loading Tempo

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Grafana version: 8.1.0
- Data source type & version: Tempo
- OS Grafana is installed on:
- User OS & Browser: Chrome, Mac OS
- Grafana plugins:
- Others:

[2021-08-20 21:05] zuchka commented on #38110
Hi @fgmpe

Thanks so much for creating this issue, and for providing such great steps for reproduction. I can confirm the behavior described using our [official sandbox](play.grafana.org), which was running Grafana v8.1.0 (62e720c06b) at the time. Both the lack of updating when a library panel is inside a collapsed row, and that "dashboard D2 is not in list of updated dashboards"

[D1 on play.graf

[2021-08-20 21:22] zuchka commented on #37941
Hi @mitulk

Thanks a lot for making this issue, and for all the screenshots. Can you please provide some more information, like your grafana version and reliable steps for reproduction? You can follow our template to help the teams get the rest of the information they need. Thank you for your help on this! 👍

[2021-08-20 21:35] zuchka commented on #37994
Hi @Beetix

Thanks so much for opening this. Your problem sounds similar to [this old issue regarding the early days of using flux queries to define template variables](https://github.com/grafana/grafana/issues/26357).

Could you please provide any steps for reliably reproducing this issue? Thanks so much for your help on this! 👍

[2021-08-21 02:47] loganmc10 opened #38410 "Bar graph does not display correct numerical value"
**What happened**:
I am using a bar graph to display Loki metrics (unwrapped values). The dashboard defaults to a 30 minute range, which works normally:
![1](https://user-images.githubusercontent.com/848146/130308134-97d748ac-010e-4e68-88e5-4dc7f067dca8.png)

However, when I change the range to 1h, the displayed number is not correct. However it is correct when you hover over the bar:
![2](https:/

[2021-08-21 02:52] ftcskater opened #38411 "Dashboard freezes after 8.1.2 update"
**What happened**:

After Ubuntu updated via software updater GUI, Grafana dashboard now freezes when trying to access.
I've tried to re-update and restart services with no luck.

Most of my metrics and graphs are smartmon and disk utilization

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:

[2021-08-21 05:19] ftcskater commented on #38411
After some research I discovered Google Chrome was also updated in the last round up updates. I rolled back Grafana and Chrome and the issue is now resolved.

[2021-08-21 08:49] msiemers opened #38412 "Grafana v8.1.2 does not connect to Influxdb2.0 with fluxQL"
FluxQL login attempt results in "InfluxDB Error: Bad Request"

My Settings:

<img width="1251" alt="Bildschirmfoto 2021-08-21 um 10 44 42" src="https://user-images.githubusercontent.com/34999079/130316306-c3be2ab4-17da-4c53-99b1-887409a2e22a.png">

I don't know what else to do. I have entered my Influx user as a user and saved the token that is stored in Influx as the password.

**Environment**:
-

[2021-08-21 11:38] B3DTech commented on #37956
I pretty sure you can’t take an extracted field value combination and use it as a log stream selector. The log stream selector is parsed first and at that point would have absolutely no idea that extracted label exists.  You also can’t use extracted labels in the ad-hoc filter.  The ad-hoc filter for Loki enters it into the stream selector section of the query and has the same issue. The ad-hoc fi

[2021-08-21 11:40] B3DTech commented on #37938
This doesn’t quite seem similar.

[2021-08-21 14:41] bredmich commented on #717
7 years later and still not resolved?

[2021-08-21 19:15] rokitski opened #38414 "Live measurements stopped working for Grafana 8.0.4 and above on Linux"
**What happened**:
Live measurements stopped working in time series, stat panels after Grafana is updated to version 8.0.4 and above

**What you expected to happen**:
Live measurements operational, as in Grafana 7.4 -> 8.0.3

**How to reproduce it (as minimally and precisely as possible)**:
Install Grafana 8.0.3 or below on Linux. Create test dashboard with a time series panel, connected to Grafan

[2021-08-21 19:23] ftcskater commented on #38411
discovered the issue. All variables were wiped out when Grafana was updated. Reloaded and everything works.

[2021-08-21 19:23] #38411 closed

[2021-08-22 03:17] BLasan commented on #32655
@connorlindsey Can I work on this?

[2021-08-22 07:41] Waynedejager1 commented on #6592
@gotjosh fantastic ! Thank You

[2021-08-22 11:58] dodo217 commented on #16452
+1

[2021-08-22 12:19] michaelosthege commented on #35540
This issue seems to be the same as in [this discourse thread](https://community.grafana.com/t/grafana-8-alerting-multiple-series-values/49654/2).

Using the classic condition fixes the error message, but doesn't help with the scenario of wanting to use template variables in the message text.
The [documentation for creating a managed alerting rule](https://grafana.com/docs/grafana/latest/alerting/u

[2021-08-22 14:50] MohdRashid01 commented on #24027
How to pass this command <-e "GF_INSTALL_PLUGINS = grafana-kubernetes-app" -e "GF_PLUGINS_ALLOW_LOADING_UNSIGNED_PLUGINS = grafana-kubernetes-app"> in Kubernetes grafana.yaml file

[2021-08-22 15:42] michaelosthege opened #38419 "Alertmanager keeps resolving alerts that are still failing"
**What happened**:
According to the logs, the alertmanager flrequently flushes alerts, setting them to "resolved" even though their condition is failing.

**What you expected to happen**:
Alerts that are continuously failing should not switch to resolved; no "resolved" notification should be sent.

**How to reproduce it (as minimally and precisely as possible)**:
This is a testing alert that alway

[2021-08-22 19:02] Willena opened #38422 "Annotation Panel: Annotation not correctly centered when start and and time are different"
**What happened**:

When clicking on an annotation in the annotation list panel, sometimes the annotation is not correctly centered and time offset are wrongly applied.

_In fact it is only the case when the annotation is created over a time range and it's time and timeEnd properties are different_

**What you expected to happen**:

The annotation should correctly centered even if it is a time ran

[2021-08-22 19:16] Willena opened #38424 "Annotation Panel: Annotation end time not displayed for time range annotations"
**What happened**:

When displaying the time of annotation in the annotation panel, only the start time get displayed.
For time range annotation the end time should also be displayed.

![image](https://user-images.githubusercontent.com/1786065/130367250-69f12267-49a6-465c-9da7-342755e2beae.png)

**What you expected to happen**:

The end time when available should be also displayed.
<img width="588

[2021-08-23 01:04] rennomarcus opened #38428 "Threshold by value not displaying correct colors"
**What happened**: when selecting the following:

* gradient mode = "scheme"
* color scheme = "from thresholds (by value)
* threshold -> giving three thresholds (base -> green, 120 -> yellow, 150 -> red)
* show thresholds = "as filled regions"

The colors from the regions work fine and when hovering the data points, I can see the value with the right color. The problem here is that the plot itself

[2021-08-23 01:11] leeoniya commented on #38428
plz try v8.1.2.

i did a pretty big refactor of this feature in https://github.com/grafana/grafana/pull/37670

[2021-08-23 02:22] jake-bierman commented on #37461
This is what i have for my test alert at the moment
Run interval: 10s
For setting : 10s
also tested both at 30s, with no difference
Nodata/error settings: will alert for no data and errors

Notification Policy:
I think this have the info required
        {
          "receiver": "Test Alert Contact Point",
          "group_by": [
            "sensorID",
            "alertname"
          ],

[2021-08-23 04:53] hugohaggmark commented on #38053
Hi @fgmpe can you try and replace `$be` with `${be:pipe}` and see if that works? Thank you.
You can read more about the formatting options here
https://grafana.com/docs/grafana/latest/variables/advanced-variable-format-options/#pipe

[2021-08-23 04:56] hugohaggmark commented on #38410
Hi @loganmc10, would be great if you could share your dashboard json or at least the settings for the specific panel causing the issue. Thank you!

Click the Share Dashboard Icon
![image](https://user-images.githubusercontent.com/562238/104685855-4f78db80-56fc-11eb-9cd4-658a850181c1.png)

Click on Export, and Click on Export for sharing externally
![image](https://user-images.githubusercontent.com

[2021-08-23 05:07] hugohaggmark commented on #38414
Hi @rokitski and thank you for reporting this, this feature is under heavy development so expect the interfaces and structures to change as this becomes more production ready. I can reproduce this for Grafana 8.1.2.

[2021-08-23 05:09] hugohaggmark commented on #38414
@ryantxu @FZambia is this something you are aware of?

[2021-08-23 05:11] hugohaggmark commented on #38419
@grafana/alerting-squad can you investigate this? Thank you!

[2021-08-23 05:55] hugohaggmark commented on #37945
@kylebrandt do template variables work with expressions?

[2021-08-23 06:06] hugohaggmark commented on #37948
A quick dive into this and it seems the `Config query` select will be empty when there's no `refId` in the  DataFrame https://github.com/grafana/grafana/blob/8c4c05493b3720ba898ca63acaf9f04dc7f20b53/public/app/core/components/TransformersUI/configFromQuery/ConfigFromQueryTransformerEditor.tsx#L20

Not sure how this transform is supposed to work and the limitations but maybe @torkelo knows more?

[2021-08-23 06:10] hugohaggmark commented on #26762
Hi @joshhunt @kylebrandt, are you actively working on solving this issue?

[2021-08-23 06:27] #37870 closed

[2021-08-23 06:27] #37754 closed

[2021-08-23 06:35] FZambia commented on #38414
Most probably the duplicate of #36929

@rokitski hello, could you check out the linked issue? You can start with looking at browser Javascript console (Chrome devtools) – most probably you'll see 403 error returned when connecting to WebSocket endpoint. Or look at Grafana server logs – there should be a warning with a message `Request Origin is not authorized`. In this case fixing `[server] root_u

[2021-08-23 06:36] #37398 closed

[2021-08-23 06:37] #37360 closed

[2021-08-23 06:37] #37356 closed

[2021-08-23 06:40] hugohaggmark commented on #37295
@dprokop @leeoniya can you investigate this one? Might be outdated, if so feel free to close it. Thank you!

[2021-08-23 06:41] hugohaggmark commented on #37135
Hi @SperChung-11 I can see you're using an older version of Grafana can you try to upgrade to 8.1.2 and report back if you're still experiencing this issue. Thank you!

[2021-08-23 06:45] gabor commented on #37628
hi @smoltron, the skip-tls-issue was fixed in grafana 8.1.2 (in https://github.com/grafana/grafana/pull/37797), could you try to upgrade and check if it fixes your problem?

[2021-08-23 06:45] #36957 closed

[2021-08-23 06:46] #36928 closed

[2021-08-23 06:46] torkelo commented on #37948
Yea, the config from query currently requires a refId (so you can select a specific query that returns the config frame)

[2021-08-23 06:46] #36927 closed

[2021-08-23 06:47] #37628 closed

[2021-08-23 06:51] #36883 closed

[2021-08-23 06:53] #36872 closed

[2021-08-23 06:53] gabor commented on #38412
hi @msiemers , an influxdb database can be used either in "Flux" mode or in "InfluxQL" mode.
the InfluxDB version you mentioned uses "Flux" mode by default. if you want to connect to it in "InfluxQL" mode, there are some extra steps needed, you can see them described here: https://docs.influxdata.com/influxdb/v2.0/tools/grafana/#configure-grafana-to-use-influxql

alternatively, if you would like t

[2021-08-23 06:53] hugohaggmark commented on #36811
@sarahzinger @joshhunt does this issue still need the `needs more info` label?

[2021-08-23 06:54] #36806 closed

[2021-08-23 06:57] hugohaggmark commented on #36540
Closing this issue because reporter solved it. We can always reopen this issue later if the need arises.

All the best

[2021-08-23 06:57] #36540 closed

[2021-08-23 06:58] #17464 closed

[2021-08-23 06:58] #36002 closed

[2021-08-23 06:59] hugohaggmark commented on #35857
@joshhunt any updates? Feel free to close this issue.

[2021-08-23 07:00] hugohaggmark commented on #35574
Closing this issue because of inactivity. We can always reopen this issue later if the need arises.

All the best

[2021-08-23 07:00] #35574 closed

[2021-08-23 07:03] #34513 closed

[2021-08-23 07:03] hugohaggmark commented on #32658
Closing this issue because reporter reports it's fixed and we're trying to limit open GitHub issues in order to better track planned work and features.

Thank You to you for taking the time to create this issue!

[2021-08-23 07:03] #32658 closed

[2021-08-23 07:04] #27292 closed

[2021-08-23 07:05] #26234 closed

[2021-08-23 07:10] michaelosthege commented on #38419
FWIW the logs continued throughout the night, but I only got a subset of Slack notifications, mostly the FIRING ones.

<details> <summary>More logging output</summary>

[code]

</details>

[2021-08-23 07:23] peterholmberg commented on #37989
@zuchka moving this to the backend board since evaluation does not happen in the frontend

[2021-08-23 07:25] hugohaggmark commented on #37945
@kylebrandt nevermind I read this https://grafana.com/docs/grafana/latest/panels/expressions/#using-expressions and it's like I expected we don't support variables in expressions. @annelaurefroment I don't think we've a timeline for fixing this AFAIK and it's really a feature request so I'll loop in @pkolyvas too.

[2021-08-23 07:37] qzhha opened #38431 "failed build - Failed to detect generated javascript files in public/build logger=settings"
**What happened**:

when i follow the developer-guide, i build failed.

git pull

make run

but it works few days ago...

**What you expected to happen**:

Version: 8.1.0-pre, Linux Version: 8.1.0, Package Iteration: 1629703604pre
go build -ldflags -w -X main.version=8.1.0-pre -X main.commit=b9a538aff0 -X main.buildstamp=1629701915 -X main.buildBranch=main -o ./bin/grafana-cli ./pkg/cmd/grafana-cl

[2021-08-23 07:41] gabor commented on #37571
@vakninf5 thanks for the additional info.
- did updading grafana to 8.1.1 or newer fix the problem?
- also, i forgot to ask last time. does this happen always when you open that page, or only sometimes?

thanks!

[2021-08-23 07:46] vakninf5 commented on #37571
HI
How can i upgrade without loosing all of my dashboards (through the docker-compose)?
`also, i forgot to ask last time. does this happen always when you open that page, or only sometimes?
` --> it happens all the time

[2021-08-23 08:08] #36555 closed

[2021-08-23 08:24] Ijin08 opened #38433 "Inconsistency between icon.ts and iconBundle.ts"
**What happened**:
Icons are not loaded in storybook

**What you expected to happen**:
To be able to see all icons in storybook

**How to reproduce it (as minimally and precisely as possible)**:
Simply go to https://developers.grafana.com/ui/canary/index.html?path=/story/docs-overview-icon--icons-overview

<img width="1215" alt="Screenshot 2021-08-23 at 10 21 05" src="https://user-images.githubuse

[2021-08-23 08:26] smoltron commented on #37628
Yes, it started work after an update. I needed to delete the data source and create a new one though.

[2021-08-23 09:04] mckn commented on #36229
Wow, great work @wbrowne @jackw <3

[2021-08-23 09:14] msiemers commented on #38412
Ok i will try it.

[2021-08-23 09:39] dprokop commented on #37295
@hugohaggmark I'm on it

[2021-08-23 09:40] gabor commented on #27469
@marefr i have just created a POC draft-pull-request here: https://github.com/grafana/grafana/pull/38434

[2021-08-23 09:43] jackw opened #38437 "Publish a plugin migration guide for upgrading v7.x.x -> v8.x.x"
This issue is a placeholder for the work of writing a migration guide on how to migrate a v7.x.x plugin to v8.x.x.

**We are planning on doing it in the following way**

We will try to cover all the breaking changes in [this document](https://docs.google.com/document/d/1DtFEY8uemksR0SRjtbJoSaDeyNNnUqx35T6OyNh8MX4/edit?usp=sharing) and how to address it. When we have most of the things covered in t

[2021-08-23 09:52] axelavargas commented on #38424
Thank you @Willena for reporting this issue and opening the PR 🙌🏾 , I was able to reproduce the issue here on Grafana play https://play.grafana.org/goto/F8K63X7nz?orgId=1 , we are going to review the PR 👀

[2021-08-23 09:58] gabor commented on #37571
hi @vakninf5 , regarding doing an upgrade, please check this documentation: https://grafana.com/docs/grafana/latest/installation/upgrading/

in short, upgrading from 8.0 to 8.1 should be safe, but we do recommend to backup certain things always.

[2021-08-23 10:39] #35758 closed

[2021-08-23 10:39] hugohaggmark commented on #37295
Thank you @dprokop 🙏

[2021-08-23 10:41] dprokop commented on #37295
@rajeswarivegi I've tried to reproduce this both with latest main and 8.0.6. Unfortunately with no success.

Can you please share your query result that breaks the rendering? You can easily do that by downloading CSV file from the [Panel Inspect](https://grafana.com/docs/grafana/latest/panels/inspect-panel/)

[2021-08-23 10:47] hugohaggmark commented on #38431
@qzhha have you started the front end too?

[code]

[code]

https://github.com/grafana/grafana/blob/main/contribute/developer-guide.md#build-grafana

[2021-08-23 11:03] #38422 closed

[2021-08-23 11:06] osg-grafana commented on #37703
@achatterjee-grafana is this yours or mine?

[2021-08-23 11:07] Ijin08 opened #38439 "Secondary button and disabled input looks to similar"
Secondary button and disabled input looks very similar to each other. Especially in the dark theme. When close to each other this can create confusion.

**Steps to reproduce**:
Create a panel that uses thresholds such as the Gauge panel. Find the thresholds control in the right hand panel in panel edit.

**Actual Result**:
The add new threshold button and the base threshold input look very similar

[2021-08-23 11:08] cykl opened #38440 "All AWS Elasticsearch based alerts return "No Data" since 8.1 (AWS/SigV4)"
**What happened**:

Upgraded from 8.0.x to 8.1.(0|1|2),  all elasticsearch based alerts switched to NO DATA state. ES datasource is still working, it only impacts alerts.

**What you expected to happen**:

Alerts should have continued to work as before.

**How to reproduce it (as minimally and precisely as possible)**:

Provision an elasticsearch data source using 8.1.x

[code]

Create a dashboard

[2021-08-23 11:25] yayitazale commented on #5812
+1, still waiting for this feature.

[2021-08-23 11:32] Fockaert commented on #36153
@davidmparrott Could you please share when we can expect the final version of the new Grafana 8 alerts (assuming provisioning is supported)?

[2021-08-23 11:40] bredmich commented on #36346
Why was this issue just closed without further discussion?
I´m currently trying to get my old Graph panels into the new time series.
Sometimes the hover doesn´t work at all and i need to hover around a point multiple times before Grafana finally accepts that i want to see this value.
Some kind of proximity is badly needed.
The tooltip is kind of useless when i need to point at the exact pixel of a

[2021-08-23 11:59] osg-grafana commented on #37782
cc @osg-grafana

[2021-08-23 12:06] sphtd opened #38443 "No data from zabbix"
<!--
Please use this template to create your bug report. By providing as much info as possible you help us understand the issue, reproduce it and resolve it for you quicker. Therefor take a couple of extra minutes to make sure you have provided all info needed.

Hi, I have “No data” in some items, data source is added because it works fine on the rest of the devices. In zabbix the data is also col

[2021-08-23 12:17] kylebrandt commented on #37945
Also https://github.com/grafana/grafana/issues/37636 looks like duplicate I think

[2021-08-23 12:18] sdboyer commented on #38041
This is obviated by the restructuring outlined in #38409.

[2021-08-23 12:18] #38041 closed

[2021-08-23 12:21] kylebrandt commented on #35083
Being worked on in https://github.com/grafana/grafana/pull/37920/files

[2021-08-23 12:29] Elfo404 commented on #38067
Closing this as it should be fixed by #37797. Can you try with Grafana 8.1.2?

[2021-08-23 12:29] #38067 closed

[2021-08-23 12:29] kylebrandt commented on #36153
@Fockaert The current plan is that new Grafana 8 alerting will become the default before we have resolved provisioning (8.2/8.3). When this happens, legacy alerting will still be available but the default system will be switched (flag will be needed for legacy, instead of currently flag is needed of 8/NG alerting). To get to that default we need Multi-instance Grafana (HA) alerting, and org isolat

[2021-08-23 12:31] connorlindsey commented on #32655
@BLasan Absolutely, PRs are always welcome!

[2021-08-23 12:37] marefr commented on #37976
Seems like fallback to the default is missing here https://github.com/grafana/grafana/blob/9a71cec1f05a1021ec9e57e9fe1acb376a1fe9f3/pkg/tsdb/prometheus/prometheus.go#L83-L86

[2021-08-23 12:38] marcosllama commented on #37528
Hi, sorry for the delay. Here's my query:

SELECT
  $__timeGroup(FECHA_HORA, '60m', 0) as time_sec,
  MSG2 AS Mensaje,
  count(*) AS "NU_MSG"
FROM logs1
WHERE
  $__timeFilter(FECHA_HORA)
GROUP BY 1,2
ORDER BY $__timeGroup(FECHA_HORA,$__interval)

The data types:

FECHA_HORA is datetime
MSG2 is varchar(260)
NU_MSG is bigint

The alert rule:
[image: image.png]

Thank you,
Marcos

On Wed, Aug 11, 202

[2021-08-23 12:39] Elfo404 commented on #37849
as per https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-terms-aggregation.html pipeline aggregations (like Bucket Script) can't be used for ordering.

The error here is that we are showing the bucket script in the order by select, which shouldn't happen.
Thanks for reporting this, I'll follow up with a PR to remove pipeline aggregations from the order by s

[2021-08-23 12:40] marefr commented on #37626
I'll open a PR to address the upgrade notes for v8.1...

[2021-08-23 12:52] hugohaggmark commented on #38443
@sphtd can you please use our template for issues and give some reproducible steps. Thank you 🙏 !

[2021-08-23 12:57] #36479 closed

[2021-08-23 13:09] kylebrandt commented on #38419
@michaelosthege Can you share the notification policy that this alert routes to?

In particular, what the various timings are (.e.g group_wait) etc

[2021-08-23 13:12] michaelosthege commented on #38419
Sure. This screenshot should have all the info. In short: All timings are the defaults.

![grafik](https://user-images.githubusercontent.com/5894642/130453097-f4669154-c3b8-4964-a9ae-70bc6296d624.png)

The contact point is just a Slack channel.

[2021-08-23 13:18] leeoniya commented on #36346
The tooltip is kind of useless when i need to point at the exact pixel of a chart to see it.

the issue is closed because hover proximity was added in the PR linked above. please update to 8.1.2 and if the problem persists, open a new github issue with your dataset and a screen recording showing it. thanks!

[2021-08-23 13:25] #37976 closed

[2021-08-23 13:25] michaelosthege commented on #38419
In the logs it stopped setting the alerts to "resolved" yesterday evening. So right now it's just sending the "Firing" alerts in a weird way.

Crazy idea: Since yesterday evening I stopped editing any alert settings. Could it be that these "resolved" flushes correlate with my editing activity, but because of a timezone mixup they are just delayed by 2h?

[2021-08-23 13:26] mathewmeconry commented on #38067
@Elfo404 version 8.1.2. resolves the issue
thanks a lot

[2021-08-23 13:26] achatterjee-grafana commented on #37703
I will pick this up.

[2021-08-23 13:36] kylebrandt commented on #38419
A bit different from want you are saying, but when an alert rule is saved we clear Grafana's state manager, I am not sure we send the same clear behavior signal to alert manger. So that is something to look into.

I would hope Grafana's built-in alert manager is using the same time settings, but will verify.

Regarding your notification policy, I see it grouped by `target=robo_admins`, but don't s

[2021-08-23 13:36] BhoomikaAnghan commented on #37849
Hi,

Can you please provide me a solution for this as I am new to grafana? As per my requirement, I need to use bucket script in term order by if you are removing that option then could you please provide an alternate solution for this?

[2021-08-23 13:40] michaelosthege commented on #38419
I had that label manually added to the rule where I first noticed the weird behavior, but the **testing alert does not have it**.

So the testing alert is just going through the default routing policy, which right now ends up in the same "dcstest" Slack channel.

[2021-08-23 13:51] #38407 closed

[2021-08-23 13:55] Elfo404 commented on #37849
we are only removing that option from the UI because it's not supported by elasticsearch itself: https://discuss.elastic.co/t/ordering-terms-aggregation-based-on-pipeline-metric/31839

Grafana has no power there. apparently, you might have some luck using a bucket_sort aggregation (see: https://github.com/elastic/elasticsearch/issues/8486#issuecomment-768323340), but this is currently not possible

[2021-08-23 14:12] BhoomikaAnghan commented on #37849
Hi @Elfo404 ,

Thank you so much for your answer!. It would be a great feature of grafana if possible.

[2021-08-23 14:15] loganmc10 commented on #38410
[Netflow Dashboard-1629728061902.zip](https://github.com/grafana/grafana/files/7032610/Netflow.Dashboard-1629728061902.zip)
 Sure, I've attached it here

[2021-08-23 14:16] axelavargas opened #38454 "Navigation: Add keyboard navigation to menus and submenus"
**What happened:**

The first level navigation submenus are not accessible via the keyboard, there are some [guides](https://www.w3.org/WAI/tutorials/menus/flyout/) from WCAG to address this problem.

But unfortunately, this guide is misaligned with our current design:

- Our menu items are also a link that redirects to a different page
- We don't have a button that serves as a visual indicator fo

[2021-08-23 14:17] dsotirakis opened #38455 "Build Packaging: CI/CD Improvements - Pipeline steps dependencies"
**What it this issue about**:

This issue is an issue tracker for improvements in CI/CD step dependencies.
Steps with number of vertices and edges written next to their name, cannot be simplified more, since they don't have enough dependences (edges)

- [ ] `test-pr` https://github.com/grafana/grafana/pull/38447
- [ ] `build-main` https://github.com/grafana/grafana/pull/38484
- [x] `windows-main`

[2021-08-23 14:44] kylebrandt commented on #38419
Without saving the rule, on our `main` branch, not replicating currently. Going to try to saving and see if I get unexpected behavior.

Then will compare to 8.1.2 if still not replicating and see if replicates there.

[2021-08-23 14:48] bredmich commented on #36346
The issue was closed before the PR was mentioned and torkelo said that "We might add a proximity limit".
After the PR was mentioned you said it´s still flawed so i didn´t read through thr PR.
Anyway, i was on 8.1.1, upgraded to 8.1.2 and the tooltips are working again.

[2021-08-23 15:05] kylebrandt commented on #38419
FWIW, if the helps understand possibilities:

Alert instances sent to the alert manager component (notification component) have an `endTime`. If that endTime is hit, and the alertManager component hasn't had an update on the instance (a message about the instance again), then it is considered resolved.

[2021-08-23 15:12] leeoniya commented on #37740
also visible in v8.1.2 on play.grafana.org home:

![image](https://user-images.githubusercontent.com/43234/130471934-cae5810d-1ad0-4e23-a939-5fd115406908.png)

[2021-08-23 15:16] domasx2 opened #38459 "Alerting: show alert state indicator on a panel for Grafana 8 alerts"
### Discussed in https://github.com/grafana/grafana/discussions/38458

<div type='discussions-op-text'>

<sup>Originally posted by **domasx2** August 23, 2021</sup>
Legacy alerts used to show a green/red heart indicator in dashboard panel header based on alert state.

This currently is not supported for Grafana 8 alerts, but I think it could be made to work. Needs some investigation.</div>

[2021-08-23 15:23] #13737 closed

[2021-08-23 15:38] kajla commented on #448
+1

[2021-08-23 15:43] kylebrandt commented on #38419
I can get the resolve behavior when I edit, my hypothesis is that it goes like this:
 - Alert exists, registered with the Alert manager (AM) component.
 - Alert is saved, and resets, it is now in pending
 - While the alert is in pending, the previous AM registered alert expires by hitting the end time, and resolve is generated
 - Meanwhile, pending ends, and we go into firing again.

[2021-08-23 15:51] sdboyer commented on #38039
This whole problem is going to blissfully disappear as a result of #38409 (and its successor PRs) - "zone two" is going to be changed to exist entirely within a single directory in the `packages/grafana-schema` subtree, relieving us of the problem of picking up and combining CUE files from all over the `packages/` directory.

That means the files in there can be without a `package` declaration, as

[2021-08-23 15:51] #38039 closed

[2021-08-23 15:52] pcsegal opened #38460 "Some panels show white background in dark mode when printing to PDF in Google Chrome"
**What happened**:

When printing a Grafana dashboard to PDF in Google Chrome, with Grafana in dark mode, some panels show a partially or completely white background.

I have seen it happen with the following panels:
* Time series
* Stat

Example screenshot of "Time series" panels:

![Screenshot from 2021-08-23 12-18-05](https://user-images.githubusercontent.com/7880893/130474593-76d40aa2-2001-4f7

[2021-08-23 16:02] sdboyer commented on #38043
I'm decently sure this whole subcommand is just gonna be rendered unnecessary by the introduced of a `grafana-schema` package and the structures therein - see #38409. But it's possible we may still do just a trivial copy of the cue files in `grafana-schema` to `cue/`, so i'll leave this open until there's certainty on that.

[2021-08-23 16:04] sdboyer commented on #38045
The intent of what i was trying to capture here is taken care of by #38409

[2021-08-23 16:04] #38045 closed

[2021-08-23 16:23] gustavoghpf commented on #37778
I noticed the same problem after upgrading to 8.1.x

[2021-08-23 17:04] sarahzinger commented on #36811
I think more information would be still be helpful yes! It's not totally clear what about the filters is not working or how to recreate it, perhaps someone else will also run into this and can demo for us.

[2021-08-23 17:31] connorlindsey commented on #36862
The plan is to display the span count here in the left side pane as well as in the expanded span row view next to the service, duration, and start time. The span names should still be vertically aligned so the implementation should adjust the number of digits shown accordingly.

![image](https://user-images.githubusercontent.com/12838032/130490977-1d029f56-6950-4a8b-adfb-af94d6310117.png)

![image

[2021-08-23 17:36] michaelosthege commented on #38419
So it's not just me, thanks for reproducing!

Also that explains why the [RESOLVED] messages went away after not editing the alert(s) for a while.

It looks like the "FIRING" notification is sent every 4 hours. Also it's still a duplicate message.
Is 4 hours the default of something? The timing fields in notification policies were left blank..
<sup>I'd prefer an interval of "just once" if that's p

[2021-08-23 17:41] kylebrandt commented on #38419
Yes, the repeat interval has a default of 4 hours:

![image](https://user-images.githubusercontent.com/1692624/130492299-3ca66a8e-6bd5-4b40-9ea1-fb171c328a54.png)

It seems this currently can't be disabled, but it is suggested in https://github.com/prometheus/alertmanager/issues/935 to try setting high like 8736 hours.

[2021-08-23 17:57] tgs commented on #2613
This would be very handy for me.  The square-root increases the visibility of the low end of the scale, but doesn't blow it all out of proportion like log() does.  log() also can't deal with negative numbers, while a cube-root handles them very nicely.

[2021-08-23 17:57] colramos-amd commented on #4827
This would be extremely helpful to me.

Any updates on this? Has similar functionality since been implemented?

[2021-08-23 18:05] michaelosthege commented on #38419
Thank you!

With this information I now have a workaround so I don't spam my coworkers with automated alerts.
Just one message about an actual prod alert was sent to the (non-testing) Slack channel and with a repeat interval of 30 days it should stay quiet for long enough.

I suppose you want to keep the ticket open because the alertmanager is not informed when alerts are saved?

[2021-08-23 18:16] #38443 closed

[2021-08-23 18:20] sphtd opened #38462 "No data in grafana from Zabbix"
![6709a26f4a44f20f71d7f31ededa7985ff553b68_2_1035x301](https://user-images.githubusercontent.com/22845822/130497110-fd2ab6bc-46b9-447b-b0bd-cf0f3b27d3ab.png)

[2021-08-23 18:20] sphtd commented on #38462
**What happened**:

After restarting the grafana service, the data disappeared in some places and shows "no data".

**What you expected to happen**:

I think I have updated the Zabbix plugin.

**How to reproduce it (as minimally and precisely as possible)**:

I cannot remember

**Anything else we need to know?**:

**Environment**:
- Grafana version: v8.1.2 (103f8fa094),
- Data source type & versio

[2021-08-23 18:36] msiemers commented on #38412
Sorry it doesn't work for me.

I try the Authetication Method. I don't know what works wrong?

[2021-08-23 18:47] kylebrandt commented on #38419
Yes just for a little bit while I ask a coworker that knows more if there is an option there. I am guessing at least for now this will just be documented as the way it works.

If you wanted to, creating a silence on the alertname or uid while editing should stop that noise - but think that will be a manual step for at least the near future.

[2021-08-23 19:23] rkennedy-tpl commented on #28404
I found this while googling the error message

[code]

Amazon ALB has a native OIDC `authenticate` doo-dad that I've been using.

https://docs.aws.amazon.com/elasticloadbalancing/latest/application/listener-authenticate-users.html

I also seem to be getting into CORS issues, as browsers in 2020/2021 are stricter than ever before, with vendors even removing the option to disable CORS enforcement ..

[2021-08-23 19:37] pkolyvas commented on #36848
We're in the process of moving Grafana feature requests to [GitHub Discussions](https://community.grafana.com/t/were-moving-grafana-feature-requests-to-github-discussions/50341/3). This issue is being moved to [Discussions](https://github.com/grafana/grafana/discussions) or has been moved from our issues list, depending on where you're seeing this message.

 We hope to use the discussion thread to

[2021-08-23 19:37] #36848 closed

[2021-08-23 22:02] OoLunar opened #38468 "Nginx Reverse Proxy Fails Due to CSP"
**What happened**:
![image](https://user-images.githubusercontent.com/46751150/130519668-03ea9b78-b030-43e0-aece-6ea0313ca82c.png)
Firefox:

Chromium:

**What you expected to happen**:
![image](https://user-images.githubusercontent.com/46751150/130520297-72b654d0-704e-4172-8995-2f5fbc7676be.png)

**How to reproduce it (as minimally and precisely as possible)**:
Proxy port 3000 through Nginx using

[2021-08-23 23:03] arkadiusz-bach commented on #38055
@kylebrandt it worked for labels but did not work for values, also as mentioned above alert is not being passed to contactpoints and in the logs there is information that it failed to put alerts in the notifier because label is invalid:
[code]

[2021-08-23 23:22] kylebrandt commented on #38055
Thank you for that information, very helpful in clarifying for me.

The problem is our integration of Labels with Alert Manager Prometheus. The prom code has the following restrictions on label names:

[code]

So this restrictions needs to be considered. I see two choices:
 - We modify the Labels to be compatible.
 - Extend (or just allow) at least Alert Managers notion's of an acceptable label na

[2021-08-23 23:53] gegtor commented on #38412
Same thing here

<img width="924" alt="Screenshot 2021-08-24 at 01 51 30" src="https://user-images.githubusercontent.com/10978723/130533997-256edffb-0c12-41cc-a595-decbb8983d0d.png">

[2021-08-24 01:06] shuotli commented on #36242
Is is possible it's double encoded?
I'm not an export on Azure portal. @mitulmk Do you know any resources on this?

[2021-08-24 01:37] shuotli opened #38471 "[Azure monitor] Multi-option template variables don't work with subscription pickers"
**What happened**:

The ARG subscription picker is a multiselect and it should work with the multi-select template variables. But currently there is no support for it in the code.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1. create a variable with `subscriptions` and name it `sub`
2. Select `sub` in the subscriptions picker
3. The option i

[2021-08-24 01:41] shuotli opened #38472 "[Azure monitor] todouble/toreal does not work on Azure Resource Graph explorer."
**What happened**:

Consider this KQL:
[code]
This works on Azure portal ARG explorer but not on Grafana ARG. It returns the error message:
`unsupported analytics column type number`
However it works if you remove `todouble()`

![image](https://user-images.githubusercontent.com/63325084/130672198-3c24673c-1fa5-42cc-a689-cfe6d5758c0b.png)

**What you expected to happen**:

**How to reproduce it (as

[2021-08-24 03:19] trivita opened #38474 "Table panel (gauge) doesn't work as expected on some data(source)"
**What happened**:

Gauge doesn't work properly on auto Max auto Min

**What you expected to happen**:

Max = full length

**How to reproduce it (as minimally and precisely as possible)**:

please refer to my screenshots

**Anything else we need to know?**:

if I put a value in Max, everything works fine.

**Environment**:
- Grafana version: 8.1.2
- Data source type & version: Clickhouse
- OS Graf

[2021-08-24 03:57] #38424 closed

[2021-08-24 04:17] hugohaggmark commented on #36811
@sarahzinger @joshhunt @gevorgkhachatryan maybe you can have a private meet and dive deeper into this?

[2021-08-24 04:59] hugohaggmark commented on #38410
@loganmc10 I'm having trouble reproducing this issue. Can you perhaps share the data when it works and when it doesn't work. Thank you.
![image](https://user-images.githubusercontent.com/562238/130558209-e86a569f-a8da-4ac1-bf89-a0ae83d7ddc6.png)

![image](https://user-images.githubusercontent.com/562238/130558336-832e86d6-8c19-461a-a631-980b4f20e863.png)

[2021-08-24 05:07] hugohaggmark commented on #38460
I think I'm passing this over to the BI squad.

[2021-08-24 05:11] hugohaggmark commented on #38462
Hi again @sphtd, in order for us to identify the issue here it would be awesome if you can share any repro steps or share the data received by
![image](https://user-images.githubusercontent.com/562238/130559252-906c93a4-0af5-4cbd-9a10-82e9ef8fdfff.png)
![image](https://user-images.githubusercontent.com/562238/130559216-aa3c53e7-c144-4e8c-98cf-f222325e64b5.png)

If you can share any errors in the b

[2021-08-24 05:11] #37740 closed

[2021-08-24 05:12] hugohaggmark commented on #38468
Passing this one over to @grafana/backend-platform

[2021-08-24 05:31] #31305 closed

[2021-08-24 05:33] hugohaggmark commented on #38474
Duplicate of #37635

[2021-08-24 05:33] #38474 closed

[2021-08-24 06:20] trivita commented on #38474
not exactly the same, i found out that this might be related to the **json data format** returned from the data source.

in my case, the json data returned from clickhouse is actually a **string array** which in fact should be **an integer array** from SQL perspective. (very oddly, **the unit function works** on string array, for example turning '1000' to '1k') this might lead to the failure of so

[2021-08-24 06:24] aedify-swi commented on #37957
Sure:

* Manjaro Linux, 21.1.0 (Pahvo)
* Brave Browser 92.1.28.105

[2021-08-24 06:27] MatinF opened #38478 "Grafana variable query not working with InfluxDB (Flux)"
**What happened**:
I have previously been able to use the below query to enable dynamic selection from variables in Grafana. This has e.g. worked in v7.3.7 without issues:
[code]

**What you expected to happen**:
I would expect the same query to still work in v8.1.2 - however, when I try this now, I get the below error:

[code]

The panel works fine if I hardcode the field/measurement values, so t

[2021-08-24 06:31] sphtd commented on #38462
Hi!
![No data](https://user-images.githubusercontent.com/22845822/130567440-71f8d2ff-b144-47e8-abea-bb6e870fb9b7.png)

json: https://pastebin.com/Qrg4yE0L

Query: https://pastebin.com/2qEsGXjJ

[2021-08-24 06:35] gabor commented on #38412
hi @gegtor , your problem is slightly different from @msiemers , you are using Flux mode, not InfluxQL mode.

the extra fields are not mandatory. the following fields should be enough for you to have a working connection:
- URL (in the HTTP section)
- Organization (in the influxdb_details section)
- Token (in the influxdb_details section)

there are specialized instructions for connecting to influ

[2021-08-24 06:46] hugohaggmark commented on #38462
Could this be the cause of your issue:
![image](https://user-images.githubusercontent.com/562238/130569591-f9211298-206b-4bf5-bb5e-48664944415f.png)

[2021-08-24 06:48] torkelo opened #38481 "PanelEditor: Crash after entering using geomap panel"
Steps to preproduce:

* Add a geomap panel
* Add a text panel
* Save
* Enter geomap panel in edit mode make sure Map Controls option category is expanded
* Leave panel edit
* Enter panel edit for text panel
* Crash

![Screenshot from 2021-08-24 08-45-45](https://user-images.githubusercontent.com/10999/130569821-f53f26d8-0a45-4cdf-a463-ea2f0b330860.png)

[2021-08-24 06:48] gabor commented on #38412
hi @msiemers , just to be sure, have you created the "InfluxDB DBRP mappings" as described in https://docs.influxdata.com/influxdb/v2.0/tools/grafana/?t=InfluxQL#view-and-create-influxdb-dbrp-mappings ?

if yes, then it should work.

if it still does not work, i recommend enabling the debug-logs in the grafana-server and looking at the logs to see more info, you can read about how to do it here ht

[2021-08-24 07:01] sphtd commented on #38462
@hugohaggmark

Do you know what to do? Where should I look further?

Its very importnant in my network..

[2021-08-24 07:06] hugohaggmark commented on #38462
@sphtd sorry but I'm not an Zabbix expert, maybe you should ask for help there or use our community site?
https://community.grafana.com/

[2021-08-24 07:06] #38462 closed

[2021-08-24 07:20] olbo98 commented on #37389
All of the components have now been refactored 🥳 🕺

[2021-08-24 07:20] #37389 closed

[2021-08-24 07:22] seatrain commented on #5201
hello! Which type of visualization are you using?

[2021-08-24 07:46] mckn opened #38483 "Toolkit: Align starter templates with versions of grafana-toolkit"

[2021-08-24 08:08] dprokop commented on #38481
Is this sth you can reproduce multiple times @torkelo ? Quickly followed your repro steps (on main) but now way I could reproduce it.

[2021-08-24 08:24] fatbasstard commented on #36355
Hi!

Really like this idea (well, actually we need this). We build our Grafana instance with custom (in-house) plugins once and deploy it to different sites, all running in different subdomains: `grafana.test1.example.com`, ``grafana.test2.example.com`, `grafana.test3.example.com` etc.

The amount of sites is unknown when building the image (and thus when signing the plugin) so some sort of wildca

[2021-08-24 08:31] #35697 closed

[2021-08-24 08:42] Beetix commented on #37994
To reproduce this behaviour:

- Insert multiples measures with different values of a tag in an InfluxDB measurement
- Execute in "Explore", replacing "mybucket", "measurement" and "mytag" with values used in the previous step
[code]
You should see all the tag's values in the given time range

- Create a dashboard variable with the same query
Only one tag value shows up even though the same time ra

[2021-08-24 08:44] malejpavouk commented on #35083
@kylebrandt I do not see any assignment to a future release (8.2 or 8.3). Is there any timeline, when we can expect that the HA of alerting will be finalized/released? For us, the absence of HA in alerting is (as far as I know) the last big obstacle for full adoption and migration from G7 alerting.

[2021-08-24 08:50] zoltanbedi commented on #38481
I could only reproduce this by clicking esc in edit mode. This is also happens if you leave edit mode in from the time series panel. @dprokop

[2021-08-24 09:25] domasx2 opened #38489 "Alerting: "Run queries" in alert rule editor no longer works"
**What happened**:
1. Open alert rule editor
2. Enter a valid query for a working Prometheus datasource
3. Click "Run queries"
4. Get error:
[code]

The same datasource / query works fine in explore or dashboard.

https://user-images.githubusercontent.com/847684/130592120-18d6d141-5adc-40d1-935e-9bc9f5cfc1d1.mp4

**What you expected to happen**:

See a visualization of the alert query.

**How to r

[2021-08-24 09:28] vinesh2011 commented on #11750
+1 for Webex Teams webhook

[2021-08-24 09:31] dprokop commented on #38481
Not 100% sure if this is the same issue or not, but looks similar (btw, discovered this just by accident). Using the attached dashboard:
1. Go to edit mode of the top right panel
2. Navigate back
3. Go to edit mode of the top left panel
4. Error occurs

Recording:
![Kapture 2021-08-24 at 11 29 11](https://user-images.githubusercontent.com/2376619/130593316-e9a7040d-f3e0-44a2-b577-9c8debe9b6f5.gif)

[2021-08-24 10:10] rahendatri opened #38492 "GF_GID=0 on purpose ?"
Hello,

I am trying to adapt the Dockerfile for specific needs, enforcing the Docker image security.
In the meantime, I discovered that the grafana group id is set to `0`. See https://github.com/grafana/grafana/blob/7ebf4027a72fe5a7f30404da5533dbf5a00cb24a/packaging/docker/Dockerfile#L17

However, usually `GID=0` is reserved for root user. This leads to Grafana folders belonging to `root` group an

[2021-08-24 10:15] domasx2 commented on #38489
Loki datasource works though.. bizzare, investigating more

[2021-08-24 10:20] PabblRepos commented on #18292
Running into the same problem. I am inviting users but I can't assign them to a team.
Chief @torkelo  ?

[2021-08-24 10:32] bramceulemans commented on #33377
I think it's valuble to make sure that the embed images still work. Personally we use the Discord notifications and love them.

[2021-08-24 10:34] oanamangiurea commented on #37972
Design available [here](https://www.figma.com/file/2s7EGevGeI4GuiArOmUECK/Unified-Alerting?node-id=2350%3A17676)

[2021-08-24 10:35] gotjosh commented on #35925
Fixed by https://github.com/grafana/grafana/pull/37320

[2021-08-24 10:35] #35925 closed

[2021-08-24 10:37] bramceulemans opened #38494 "Discord notification channel provisioner: message content field is not set"
**What happened**:

We are using a provisioner to create a Discord notification channel. However the `settings.message` field is not being applied.

Example:

[code]

The `$DISCORD_ALERT_MESSAGE` environment variable is set to `"Example message"`.

**What you expected to happen**:

The "message content" field is set. This is currently not happening.

![image](https://user-images.githubusercontent.

[2021-08-24 10:44] Trovalo opened #38495 "Text panel - relative link not working"
I'm using a text panel and markdown to show some text with a relative link.

it works on Grafana v7.2.0 but doesn't on v7.5.3 and not even I Grafana playground

to replicate the issue create a text panel in Grafana playground and put the following text into it.
`hi I'm a [link](d/000000097/influxdb-default-fill-value)`
The link won't work and will just point to the root of the website.

I had a lo

[2021-08-24 12:58] armandgrillet commented on #37752
I've talked with the UX team about this, the plan is to start working on the UX the second week of September and then have the front-end and back-end work starting. This means missing the 8.2 release and being done around the end of September.

[2021-08-24 13:07] dprokop commented on #37966
Related feature request: https://github.com/grafana/grafana/issues/3591

[2021-08-24 13:09] mckn commented on #28978
This is great! Thanks!

[2021-08-24 13:23] domasx2 opened #38505 "Alerting: validate recording rule name in alert rule form"
Recording rule names must also be valid prometheus metric names, that is, contain no whitespace.
Backend error does not clearly explain this, so let's add some frontend validation.

[2021-08-24 13:28] dprokop commented on #437
Think this should be now possible with https://github.com/grafana/grafana/pull/35910 in Grafana 8.1.

[2021-08-24 13:28] #437 closed

[2021-08-24 13:34] dprokop commented on #30564
This one has been with us for a long time and majority of the items here are already tracked as independent issues/discussions. Closing this epic.

[2021-08-24 13:34] #30564 closed

[2021-08-24 13:42] ashharrison90 opened #38507 "Navigation: Refactor sidemenu"
In preparation for navigation improvements, we should refactor the `sidemenu` component and its subcomponents. This is so we don't have to duplicate work when fixing accessibility issues.

TODO:
- [x] Refactor `DropDownChild` to be more like a component with separate props https://github.com/grafana/grafana/pull/38509
- [x] Refactor `SideMenuDropDown` to be more like a component with separate prop

[2021-08-24 14:06] loganmc10 commented on #38410
Sure, here you go:

[not_working.csv](https://github.com/grafana/grafana/files/7039767/not_working.csv)
[working.csv](https://github.com/grafana/grafana/files/7039770/working.csv)

[2021-08-24 14:30] marefr commented on #38468
@OoLunar are you sure that you have configured the CSP setting correctly? Maybe try using triple quotes as in the default template, i.e. `content_security_policy_template = """script-src 'self' 'unsafe-eval' 'unsafe-inline';"""`. Maybe try changing `root_url = https://grafana.example.com`?

CSP is not enabled by default, you are using a custom CSP template and CSP is not mentioned in the tutorial

[2021-08-24 14:30] #38468 closed

[2021-08-24 14:37] sawo1337 opened #38514 "Pull #33533 causes excessive load to InfluxDB and possibly other data sources"
**What happened**:
With Grafana 8.0 query variables can no longer be never refreshed, which causes long-running queries to bog down InfluxDB and possibly other data sources. With concurrent users refreshing dashboards, InfluxDB can easily be locked out, where in the past this issue was possible to be worked around by selecting "Refresh: Never" in the dashboard settings for specific variables. This

[2021-08-24 14:52] kylebrandt commented on #38419
Since I don't think alertmanager has any sort of cancellation, current plan is to make a PR that:

On the editing of a Grafana Managed alert rule, the scheduler / state manager will send a resolved signal to alert manager for any alert instances on the rule that are in a firing state as the state manager sees the current state.

[2021-08-24 15:52] anybodysguest commented on #35448
Are there any plans to re-open this issue to deal with the CW issue.  The problem still exists an it's keeping me from moving to  8.x.  I use a lot of CloudWatch logs in my dashboards.  CloudWatch metrics work fine however, it's just the logs that I and others are having this issue of the queries never completing.

[2021-08-24 16:01] leeoniya commented on #4469
yeah, we'd have to add an option to explicitly control the chart's left/right padding, so the bottom chart can have right padding matched to the top chart's right axes widths.

[2021-08-24 16:06] leeoniya commented on #38428
@rennomarcus i'm gonna close this for now, since i'm quite confident the linked PR solves this issue. we can re-open if it's still a problem for you after updating to 8.1.2.

[2021-08-24 16:06] #38428 closed

[2021-08-24 16:17] gegtor commented on #38412
@gabor I think I found something in the logs
[code]

[2021-08-24 16:32] OoLunar commented on #38468
Thank you for your helpful response. Unfortunately, this doesn't fix the issue.

We originally didn't touch the CSP policy when this error occurred. Even with the `content_security_policy` setting set to `true` or `false`, the same error kept happening.

I've done both, yet no difference.

At first, I too thought it was a configuration error. Then I created a fresh, new instance and the error kept

[2021-08-24 16:35] OoLunar commented on #38468
Everything works as expected on a new Nginx instance with no default configuration. This is definitely an issue on my end.

[2021-08-24 16:39] OoLunar commented on #38468
Going through my `nginx.conf`, turns out that I this was present:
[code]
Why this took precedence over the proxy headers is beyond me. Note for self, and others: **Check your subdomain config and Nginx config when debugging.**

I apologize for troubling y'all.

[2021-08-24 17:04] marefr commented on #38468
No worries. Glad you figured it out and thanks for letting us and others know

[2021-08-24 17:23] NikolaBorisov commented on #36245
@idafurjes Any chance you can take a look?

[2021-08-24 17:51] gorkem2020 commented on #37802
Hello,

what do you mean with '...' 3 dots? I just edited it as you recommended and now will be waiting.

[2021-08-24 18:25] awsiv commented on #35448
@anybodysguest did you try this suggestion btw?

https://github.com/grafana/grafana/issues/35448#issuecomment-875536941

[2021-08-24 19:18] kylebrandt commented on #37802
Literal 3 dots. This is from the alertmanager syntax
https://www.prometheus.io/docs/alerting/latest/configuration/#route , we
may make it the default. But it can be manually entered into the field.

On Tue, Aug 24, 2021 at 1:51 PM gorkem2020 ***@***.***> wrote:

[2021-08-24 20:02] allomorphy commented on #5983
Did this feature not make it? A bit sad as it is super useful for configurability. Variables are supported in the Panel name.

[2021-08-24 20:02] ChipWolf commented on #33377
They work, the Discord endpoint for Slack webhooks behaves exactly as Slack does natively

[2021-08-24 20:11] connorlindsey opened #38519 "Tracing: Uploading invalid JSON fails silently."
**What happened**:
Uploaded a JSON file with an invalid key. The uploader kept spinning with no sign there was an error although there was one in the console.

**What you expected to happen**:
An error message to appear.

[2021-08-24 20:24] basking-in-the-sun2000 commented on #38495
I'm having a similar issue. I had as my relative link ./d… now changed it to /d…

Links work fine in safari with /d, but in firefox, these don't open in a new window/tab.

Also, might be related to this or might have broken down the functionality of the plugin.  FlowCharting doesn't display all the images correctly, so not sure if it is a they or you issue ;) Noticed this since the last update, cu

[2021-08-24 21:54] mitulk opened #38522 "Replace Azure Monitor annotations editor with newer query editor"
Follow up from https://github.com/grafana/grafana/issues/37121

[2021-08-24 21:54] mitulk commented on #37121
Created https://github.com/grafana/grafana/issues/38522 to track this work.

[2021-08-24 23:12] sdboyer commented on #38043
Yup, no need for those files under `cue/`. At all. This is totally unnecessary!

[2021-08-24 23:14] sdboyer commented on #38033
By rearranging filesystem contents, we just...totally got rid of the need for all this "zones" stuff. Amazing. All the core schema live under `packages/grafana-schema` now, and it's just simpler for everybody.

YAAAAAAAAAYYYY

[2021-08-24 23:14] #38033 closed

[2021-08-25 00:57] rennomarcus commented on #38428
@leeoniya , just want to tell you that I tested with the v8.1.2 and it's working great. Thank you!

[2021-08-25 01:29] davidnewhall commented on #35448
This solved my problem on two Grafana installations (running in Fargate). It also required Grafana 8.0.5+ (8.0.5 has a different bug, so definitely jump to 8.0.6+).
[code]

I also tried sticky sessions on the ALB but that did not help. Good luck!

[2021-08-25 01:41] leeoniya commented on #38428
👍

[2021-08-25 02:34] trivita commented on #38474
after further investigation into the source code
![image](https://user-images.githubusercontent.com/1425147/130716823-5a439cf3-e703-4208-9489-a10b3a8f1578.png)
this line of code should be the problem
as my data source Clickhouse, returned the int array in the string array format

1. this function won't handle integer in string format， hence the automatic min/max won't work
2. table gauge will hand

[2021-08-25 02:45] trivita commented on #38474
i found a workaround
just add a binary calculation on this problematic field
now everything works properly
![image](https://user-images.githubusercontent.com/1425147/130717931-c9417c05-2fb4-4d3a-b440-f570e41397c3.png)

[2021-08-25 02:54] mario-lukic commented on #37693
I had the same issue and found that the Azure AD group needs to be type Security instead of Microsoft 365.
Everything else I've configured as specified in [official docs](https://grafana.com/docs/grafana/latest/auth/azuread/#configure-allowed-groups).
![image](https://user-images.githubusercontent.com/37988066/130718542-11ca42fb-ad91-43b0-92e1-b6ce9631bb66.png)

[2021-08-25 03:47] fnoopv commented on #448
+1

[2021-08-25 04:02] rajeswarivegi commented on #37295
[Temperature -data-2021-08-25 09_27_47.csv](https://github.com/grafana/grafana/files/7043553/Temperature.-data-2021-08-25.09_27_47.csv)
@dprokop , here it is.

[2021-08-25 04:10] rokitski commented on #38414
It appears that the issue is related based on the logs in [#36929](https://github.com/grafana/grafana/issues/36929) .

Here are logs from Grafana, when live measurements demo worked fine with Grafana 8.0.3 until Grafana 8.1.2 was installed at t=2021-08-24T20:57:08-0700. With Grafana 8.1.2 error messages show up in the log. I've attached dashboard setup showing internal Grafana source. Live measure

[2021-08-25 04:12] rajeswarivegi commented on #37295
@dprokop , Please check this.
[Temperature -data-2021-08-25 09_35_17.csv](https://github.com/grafana/grafana/files/7043571/Temperature.-data-2021-08-25.09_35_17.csv)

[2021-08-25 04:19] leeoniya commented on #37295
hey @rajeswarivegi this CSV does not appear to match the original screenshot in https://github.com/grafana/grafana/issues/37295#issuecomment-888801100. there are no seconds in your csv, so there are 9 records with identical timestamps at 00:00:00. is this correct?

![image](https://user-images.githubusercontent.com/43234/130725664-66a3f7f9-34cd-4201-88a9-8bf40b4994eb.png)

[2021-08-25 04:32] leeoniya commented on #37295
maybe disable "Formatted data" during export?

![image](https://user-images.githubusercontent.com/43234/130726781-f6b1aca0-5c68-4fe4-aaff-cfd6e9d8e7d4.png)

[2021-08-25 04:36] rajeswarivegi commented on #37295
[Temperature-data-2021-08-25 10_04_36.csv](https://github.com/grafana/grafana/files/7043658/Temperature-data-2021-08-25.10_04_36.csv)

[2021-08-25 04:37] hugohaggmark commented on #38410
Sorry, I still struggle to repro this with the data you provided. It all looks great. Maybe if you record a short movie we can get a better understanding of the problem?
![image](https://user-images.githubusercontent.com/562238/130727233-dc09adad-30ff-4e2f-aa07-f2bec3c42d78.png)

[2021-08-25 04:38] leeoniya commented on #37295
hmmm, we may have a bug with our export :(

![image](https://user-images.githubusercontent.com/43234/130727409-ace9e3a3-9e53-45de-8708-f8bcd3aa407e.png)

[2021-08-25 04:40] hugohaggmark commented on #38483
Friendly reminder to add labels to issues so we don't add more work for people on Issue Triage.

[2021-08-25 04:41] #38492 closed

[2021-08-25 04:45] hugohaggmark commented on #37295
@rajeswarivegi out of curiosity what locale are you running on Windows 10?

[2021-08-25 04:56] hugohaggmark commented on #38495
I can't reproduce this in Grafana 8.1.2. Can you try the following:
- change the link to `hi I'm a [link](/d/000000097/influxdb-default-fill-value)`
- upgrade to Grafan 8.1.2

[2021-08-25 04:58] hugohaggmark commented on #38514
@torkelo @pkolyvas should we move this to Github Discussions and continue there?

[2021-08-25 05:05] rajeswarivegi commented on #37295
[Temperature.xlsx](https://github.com/grafana/grafana/files/7043812/Temperature.xlsx)
I am using English [UnitedStates] in windows 10.However , I copied the data to excel workbook hope this will be useful

[2021-08-25 05:14] leeoniya commented on #37295
awesome, that works.

i think what you're missing is the `Connect null values` setting. try setting it to "Always" instead of "Never":

![image](https://user-images.githubusercontent.com/43234/130730510-caea2c6d-d01c-4e52-b358-5e851d1af492.png)

[2021-08-25 05:17] rajeswarivegi commented on #37295
![image](https://user-images.githubusercontent.com/88079995/130730710-10d7b643-f732-4511-9709-15dee83c8e85.png)

[2021-08-25 06:05] torkelo commented on #38514
@sawo1337 the problem with Refresh: Never was that the data ended up stored in the dashboard.json , making the dashboard schema model huge in many cases. Sounds like we need a proper caching solution for the problem you are experiencing. Grafana Enterprise has query caching, maybe that could help. Does InfluxDB have some query caching mechanism or rollup/aggregation of slow queries?

[2021-08-25 06:09] torkelo commented on #18292
@PabblRepos the invite creation does not actually add a user until the invite is used, so tricky to add a user to a team before user is created. We could add a team property (single) to the invite so the user will be added to at least one team when the user signs up using the invite.

[2021-08-25 06:29] dmit2k commented on #38055
Sorry, was able to test your hint only now.

Yes, the trick with {{ index $labels "field.name" }} worked just fine, and I can also get the value of a query with {{ $values.B.Value }}

But the alert still not being passed to contactpoints (both Alertmanager-type and **Webhook-type**)

[2021-08-25 06:31] dmit2k commented on #38055
Let me point out that it is broken not only for Prometheus Alertmanager contact point, but for Webhook as well! Not tested with other contactpoint type though.

[2021-08-25 06:42] tetsuya28 commented on #37461
I'm still facing this issue on v8.1.2.
[code]

[code]

[2021-08-25 06:50] sunker commented on #36036
Thanks for creating this issue @pertu!

Currently, we use the [list metrics api](https://docs.aws.amazon.com/cli/latest/reference/cloudwatch/list-metrics.html) to list dimension values. Region is not an argument in the call to this api. So in order to do this, we would need to create one new aws client for each region, and then for each client issue a new call to the list metrics api. This could p

[2021-08-25 06:50] #36036 closed

[2021-08-25 07:01] #38414 closed

[2021-08-25 07:04] Trovalo commented on #38495
Can confirm it works when starting the link with `/`

[2021-08-25 07:04] #38495 closed

[2021-08-25 07:05] #38489 closed

[2021-08-25 07:08] basking-in-the-sun2000 commented on #38495
@hugohaggmark

The link behaviour changed after the previous upgrade. Before I could use ./d/… but won't work like that anymore. Not a major problem, but not sure if something change the way it opens links in firefox. Now it will open the link in the parent window.

As stated earlier, I'm already on 8.1.2. Below is the json code for the links.

Could this change have something to do with FlowChart

[2021-08-25 07:12] towolf commented on #8198
I figured it out, I needed both `auth.jwt` and `auth.proxy` blocks to make the transparent account creation work:

[code]

[2021-08-25 07:14] MeetzhDing commented on #30561
How is the progress of this issue?

Why provide derived field function for loki data source separately instead of directly creating data link in logs panel?

@zoltanbedi @ivanahuckova

[2021-08-25 07:34] jkreileder commented on #8198
@towolf I've rewritten larges parts of the JWT code for https://github.com/empolis/grafana
The main user-visible changes are enhanced account creation/updating.  A typical configuration might look like:

[code]

`role_attribute_path` gives users a Grafana role. `groups_attribute_path` maps users to Grafana organizations.
Would be great if anybody could try this before I open a PR.

[2021-08-25 07:47] #38439 closed

[2021-08-25 07:51] ying-jeanne commented on #37944
Hi I am not aware of this, I think it should relate to a history when we introduce the new UID format before I join the team, I reckon @marefr would have more context about it.

[2021-08-25 07:59] Cradac commented on #9595
@farzadpanahi  I found a post online about this ([Link](https://utcc.utoronto.ca/~cks/space/blog/sysadmin/GrafanUnixEpochTime))
Basically, all date/time units in Grafana can convert epoch seconds, but they expect milliseconds, instead of seconds. So you need to multiply your value by 1000 and select any of the date/time unit formats.

[2021-08-25 08:01] hugohaggmark commented on #38495
@basking-in-the-sun2000 may I suggest you create a new issue for your case?

[2021-08-25 08:06] basking-in-the-sun2000 opened #38529 "relative links"
Since the last upgrade, been having some problems with relative links. Had as my relative links starting with a ./d…  and now changed them to /d… I did try //d… which would had been a more common way of doing it

Links now work fine in safari with /d, but in firefox, these don't open in a new window/tab.

Also, might be related to this or might have broken down the functionality of the plugin.  Fl

[2021-08-25 08:26] sawo1337 commented on #38514
Getting Grafana enterprise just for this specific feature doesn't really seem feasible at this point, I think this would be the case for a lot of other people as well.
I've checked the InfulxDB documentation, but can't seem to find anything that would resemble query caching, there are some third-party solutions, but this introduces more overhead on top of the existing functionality as it requires

[2021-08-25 08:32] aengusrooneygrafana opened #38530 "'Parse Error' using ad hoc filters in Explore mode"
**What happened**:

image obfuscated

**What you expected to happen**:

No parse error

**How to reproduce it (as minimally and precisely as possible)**:

Using ad hoc filters, run a loki query, one using a line_format, the other not using a line_format.  When using line_format, the error appears.  See screenshots.

image obfuscated

image obfuscated

**Anything else we need to know?**:

**Environ

[2021-08-25 08:37] #38020 closed

[2021-08-25 08:37] ivanahuckova commented on #38020
Solved, there wasn't an issue. Probably just misconfiguration.

[2021-08-25 08:40] ivanahuckova commented on #30561
Derived fields are very useful for users that use Explore for Loki querying and who wants to use derived fields to (for example) jump to traces from logs.

[2021-08-25 08:53] mehdibenfeguir commented on #6511
percentage is coming like this
Please fix this issue
![image](https://user-images.githubusercontent.com/7837335/130760085-92f6fd2d-ba9a-4c72-a88e-ab5e43fc0d54.png)

[2021-08-25 08:57] marefr commented on #37944
I can reproduce on [play](https://play.grafana.org/) (v8.1.2) and main (856cb1d80f81ed683b7990aaf8ab0e89433df0f1). This definitely seems like a bug to me and it seems like frontend not are passing the uid when not clicking on the `Change uid` button and importing the dashboard.

Request payload when importing the attached dashboard:
![Selection_1034](https://user-images.githubusercontent.com/16687

[2021-08-25 08:58] mehdibenfeguir commented on #6511
I found a workaround, in the metrics just put ceil(here your metrics function) and it will work

[2021-08-25 09:01] marefr commented on #37944
Passing this back to @grafana/grafana-frontend-platform

[2021-08-25 09:01] Gjed opened #38533 "Range annotations from postgres not display correctly on graphs (both old and new panel)"
**What happened**:
Time range annotations are not display correctly on the graph panels (Graph(old) and Time Series Panel). Start time appears to always be outside the selected time range and the end of the annotation is on what should be the start timestamp

**What you expected to happen**:
Time range annotations to be display correctly when the start and end times are within the selected time ra

[2021-08-25 09:19] hugohaggmark commented on #37944
Thanks @ying-jeanne and @marefr, @axelavargas can you have a look at this one, I mean as you've already started some initial investigation? Thank you

[2021-08-25 09:28] FZambia commented on #38414
@rokitski thanks, opened a pull request to discuss whether we should support behavior of Grafana v8.0.0-v8.0.3 in #38538 – to avoid such problems you experienced.

[2021-08-25 09:30] #36694 closed

[2021-08-25 09:47] mckn commented on #36228
This I great and I have forwarded it to the people working with the influx datasource plugin.

[2021-08-25 09:56] olbo98 opened #38541 "Jaeger: query is being executed twice when pressing the Run Query button"
**What happened**:
They query is being executed twice when pressing the Run Query button

**What you expected to happen**:
The query should only be run once

**How to reproduce it (as minimally and precisely as possible)**:
Write a trace id in the field and press the Run Query button. Open the network tab and you will see that there are two requests for the same trace id

[2021-08-25 10:44] gabor commented on #38412
@gegtor thanks for the additional info. unfortunately in this case it does not help us to narrow down the problem. (connecting to an influxdb-cloud database from grafana does work for me).

we had this error reported in the past ( https://github.com/grafana/grafana/issues/30193 ) but we were not able to reproduce it. someone at the end of the issue reported that for them the problem was an incorre

[2021-08-25 10:55] #38043 closed

[2021-08-25 11:15] thisisobate commented on #36915
I tested `Timezonepicker` using VoiceOver app on MacOS, and screen reader chrome extension. They all voice out the correct options. Would proceed to close this since I couldn't reproduce and also mark this task as completed in the [a11y phase 1](https://github.com/grafana/grafana/issues/35613) backlog.

[2021-08-25 11:15] #36915 closed

[2021-08-25 11:20] leeoniya commented on #37295
hmm, can't seem to reproduce, works okay for all ranges for me. maybe there's something additional in your panel config that's affecting this. can you attach your dashboard or panel json? i don't recall any changes to this behavior in post-8.0 releases, but maybe try updating to 8.1.2?

https://user-images.githubusercontent.com/43234/130781332-087f38d4-6ab9-4e84-9659-0db95d28e3ff.mp4

[2021-08-25 11:36] Atomicbeast101 commented on #18292
How would this work out if there is LDAP authentication in place?

[2021-08-25 12:00] rajeswarivegi commented on #37295
https://user-images.githubusercontent.com/88079995/130786724-086b3489-c3a9-4a3c-9aad-71fa789bc316.mp4

Hey! Hope I finally understood what is happening. When the graph size is less, it is not being able to show all the data points.

[2021-08-25 12:04] kylebrandt commented on #38055
Yes this is expected with the problem I described. The reason is that the new Grafana 8 embeds alert manager for the Grafana Managed Alerts, and all notifications from those rules go through the embedded alert manager (regardless of contact point). So  notifications policies and contact points in UI are alert manager under the hood.

[2021-08-25 12:19] ElisaFrancesconi commented on #11750
+1  for Webex Teams webhook

[2021-08-25 12:20] marcelgsteiger commented on #8621
This or a similar feature is especially helpful for displaying counters, e.g. energy counters.

One thing that could perhaps be done easily, is prohibiting the automatic conversion of units to K, M, G... some way. To begin, one could stop the conversion as soon as zero decimal places have been specified. For example:
if I specify Watt as units with 0 decimal places, 1100 W will remain this way and

[2021-08-25 12:54] dnnshssmnn opened #38549 "Mobile view: panels not loading after opening an initially closed row"
**What happened**:
This happened after upgrading to 8.1.x. After opening a dashboard on the mobile version, the panels in the rows that are saved in open state will load and are correctly displayed. However, when opening a row of the dashboard that is saved in closed state, those panels will not load. Only the background is visible as if they were invisible.

**What you expected to happen**:
The p

[2021-08-25 13:07] Fockaert commented on #36153
Thx @kylebrandt , more clear on my end already

[2021-08-25 13:11] #30144 closed

[2021-08-25 13:12] peterholmberg opened #38551 "Create Alert rule from the Create menu in the sidebar."

[2021-08-25 13:29] sunker opened #38552 "Analytics: Instrument Azure Application Insights"
### Discussed in https://github.com/grafana/grafana/discussions/38545

<div type='discussions-op-text'>

<sup>Originally posted by **sunker** August 25, 2021</sup>
**What I'd like to do**
Add support for instrumenting Application Insights with events coming from the Grafana frontend. This should be an opt-in feature that can be configured in grafana.ini.

**What is Application Insights?**
Azure Ap

[2021-08-25 13:57] loganmc10 commented on #38410
Sure thing, here is a video: https://youtu.be/v2ccKVZRrMI

We are Grafana Cloud customers, someone from Grafana can login to the instance and try it out if they'd like: https://suncornoc.grafana.net/d/XlsOy1uMk/netflow-dashboard?orgId=1&refresh=5m

[2021-08-25 14:08] #38530 closed

[2021-08-25 14:21] imReker commented on #37948
The 'Config from query results' itself will makes `refId` lost.
So currently it's not possible to apply multiple 'Config from query results'.
For example, set Query `MaxA` as Max of Field `A`, and Query `MinB` as Min of Field `B`

[2021-08-25 14:47] msiemers commented on #38412
I was able to solve the problem now. I did not pay attention to the fact that the password for the HTTP header authorization to be deposited must be entered as "Token API Token from InfluxDB". If this is done in this way, no data need be entered in the lower area.

<img width="1257" alt="Bildschirmfoto 2021-08-25 um 16 44 44" src="https://user-images.githubusercontent.com/34999079/130812348-659fdd

[2021-08-25 15:07] TJChong92 opened #38559 "Grafana with Unexpected InfluxDB Query Returns Occasionally"
**What happened**: Sometime influxdb query return unexpected result as below
{
  "status": 200,
  "statusText": "OK",
  "ok": true,
  "data": "",
  "url": "http://<myserver>:3000/api/datasources/proxy/12/query?db=simulation&epoch=ms",
  "type": "basic",
  "redirected": false,
  "request": {
    "method": "POST",
    "url": "api/datasources/proxy/12/query",
    "params": {
      "db": "simulation",

[2021-08-25 15:15] mlewald opened #38560 "Docs feedback: /administration/image_rendering.md"
https://grafana.com/docs/grafana/latest/administration/image_rendering/#certificate-signed-by-internal-certificate-authorities

The troubleshooting section includes only steps for Linux.   Please add the steps needed to fix a Windows installation of Grafana for "Certificate signed by internal certificate authorities" issue.

[2021-08-25 16:08] #38519 closed

[2021-08-25 17:27] lweberk opened #38561 "Plugin project from official npx template fails to run test harness due to some grafana toolkit config file missing"
**What happened**:

npm run test (internally `grafana-toolkit plugin:test`) throws an unexpected error:

[code]

**What you expected to happen**:

For the Jester tests to run and output the results.

**How to reproduce it (as minimally and precisely as possible)**:

Create project directory from template as instructed in official grafana plugin dev documentation;

[code]

Optionally add some tests

[2021-08-26 00:35] spxie85 opened #38567 "Grafana Bar Gauge Ignores Order By Sort"
Suppose datasource for sample Bar Gauge here: https://play.grafana.org/d/vmie2cmWz/bar-gauge?orgId=1 is an SQL backend, and you apply ORDER BY on the values, the Bar Gauge continues to sort the results in alphabetical order based on the series name and ignores the sorting rules given by the underlying SQL.

The "Sort By" option under the Transform tab doesn't allow me to sort by values either.

[2021-08-26 06:29] MuhdMurad opened #38570 "Object selected in draw.io panel not replicate into dashboard when saved"
Object selected in draw.io panel not replicate into dashboard when saved:

Aug 25th 2021:

everytime select different ogjects in draw.io and save it, the object not reflected into dashboard and just coming as normal square object.*:

**Anything else we need to know?**:

Found that these files not being part of permitted  files extension list as per https://github.com/grafana/grafana/blob/v8.1.2/pk

[2021-08-26 08:22] tatsutaigu opened #38575 "incorrect legends with influxdb 2.0"
**What happened**:
Hi,

I would like to show data on every Friday.
I hope legends to show "test1 val".
I tried, but legends are too long.
And, `weekday` is shown. I do not want to show it.
Column titles on table are not correct.

How do I do it?

![image](https://user-images.githubusercontent.com/44219065/130925874-563c0877-e235-43f3-b41d-ea974b8ae634.png)
![image](https://user-images.githubuserco

[2021-08-26 10:58] byte-opps opened #38583 "Value mapping on datetime fail"
i have a SQL DB source with a datetime column. I use grafana to show the latest datetime and and the standard options to unit "from now" this gives some thing like '10 Hours ago' Great. Now i want the colour to change if more the 5 hours and lesst then 12 and if more then  12 another colour etc. using the value mapping i set these ranges. But the text never changes colour(or the text replacement).

[2021-08-26 13:20] torkelo opened #38596 "Graph(old): It no longer renders thresholds in 8.1+"
Noticed on play site that the old graph is no longer showing any thresholds.

* Example https://play.grafana.org/d/000000074/alerting?orgId=1&editPanel=4

[2021-08-26 14:09] Rohlik opened #38601 "Missing "Access" config in datasource UI"
**What happened**:
There is no setting/toggle in Grafana UI while editing/creating a new datasource. For example Graphite.

**What you expected to happen**:
I expect some toggle setting in UI.

**How to reproduce it (as minimally and precisely as possible)**:
Edit or create Graphite datasource.

**Anything else we need to know?**:
According to official [Docs](https://grafana.com/docs/grafana/lates

[2021-08-26 15:23] henryw374 opened #38605 "Docs feedback: /panels/panel-library.md"
hi, I would like some info on how to manage version history of library panels.

Thanks

[2021-08-26 17:33] jhnclvr opened #38611 "Prometheus `rate()` and `increase()` should adjust for resets when applied to the `_sum` and `_count` components of a histogram"
**What happened**:

I created a histogram called `maf_http_req_time`. I tried running the query: `sum(increase(maf_http_req_time_sum[7d]))` to see the total increase over the last 7 days.

During the last 7 days there was a reset. `increase()` did not adjust for the reset.

Here is the peak before the reset at a total of 741:
![image](https://user-images.githubusercontent.com/55461455/131008255-7a

[2021-08-26 18:14] pslobo opened #38612 "Clicking a data link returns 404. Refreshing then returns expected page."
**What happened**:
When clicking on a data link in Drill Down, the immediate result is a 404, however when refreshing that page, it then correctly renders the expected dashboard.

![2021-08-26 19 10 35](https://user-images.githubusercontent.com/1452095/131014585-bdd91033-15e1-4941-8589-b7e8d69307bd.gif)

**What you expected to happen**:
- Display the dashboard correctly.

**How to reproduce it (as

[2021-08-26 21:53] pbrissaud opened #38619 "[Loki] Impossible to create a variable with label_values(log stream selector, label)"
**What happened**: When I create a variable with **"label_values(log stream selector, label)** , I get these following errors :
*  _Validation_ parse error at line 1, col 14: literal not terminated
* _Templating [severity]_ Error updating options: parse error at line 1, col 14: literal not terminated

**What you expected to happen**: No errors and preview of values updated

**How to reproduce it (

[2021-08-27 09:14] armandgrillet opened #38626 "Support explicit disabling alerting for an organization"
This needs to have two modes: `all` or `1,2,3,4` for disabling it entirely or for specific orgs within Grafana. For the `all` part, we need to inverse the flags by adding an enabled flag to `[unified_alerting]` defaulting to `true` and change the enabled flag of `[alerting]` to default to `false`, and remove the feature_toggles for `ngalert`.

[2021-08-27 12:16] marefr opened #38634 "Support JSON encoding/decoding of large integer values in data frames"
**What happened**:
Ran a table query selecting column of data type bigint and when visualized in table panel the values are wrong.

Query:
[code]

Result:
![Selection_1039](https://user-images.githubusercontent.com/1668778/131125555-45cf1d37-e784-47e5-afdd-7299743e3333.png)

Query inspector:
[code]

**What you expected to happen**:
The values to represent what I selected from the database:
[code]

[2021-08-27 13:06] peterholmberg opened #38638 "Alerting: Use a threshold handle to updated classic condition"
In current alerting we show a handle by the graph that the user can use to update the threshold value in the condition, we think users will miss this in unified alerting.

The plan for making this for unified alerting is that it will only work with the classic condition and it will only update the first of the classic conditions. First iteration will only `Is Above` and `Is Below`, with range thre

[2021-08-27 16:01] silvaa91 opened #38651 "Vulnerabilities found in v8.1.2"
The following High and Critical vulnerabilities are being reported on `grafana/grafana:8.1.2`.  Please update the packages below as soon as possible.

[code]

[code]

[2021-08-27 20:07] sunildabburi opened #38657 "Tag values are not respecting $timeFilter. could be a time zone issue."
**What happened**:
Tag values are not respecting $timeFilter. could be a time zone issue.

**What you expected to happen**:
Tag values should get filtered based on $timeFilter provided

**How to reproduce it (as minimally and precisely as possible)**:
Capture a metric with a hostname tag for few hours and then change the hostname and try capturing the metric again for the next 4 hours. See if the

[2021-08-28 00:44] basking-in-the-sun2000 commented on #38529
@mckn Thanks. Probably is related.

[2021-08-28 06:46] RkcCorian opened #38664 "Shared multiple panels are not loading with v8"
**What happened**:
See below "How to reproduce" + attached gif

**What you expected to happen**:
See below "How to reproduce" + attached gif

**How to reproduce it (as minimally and precisely as possible)**:
Use a webpage having multiple tabs. Inside several of the tabs use iFrames with Grafana shared panels via links. Refresh the webpage
- v.7.5.3 + any browser: Graphana graphs will be loaded fro

[2021-08-28 07:05] #30860 closed

[2021-08-28 07:16] SperChung-11 commented on #37574
Ah, i have set the state to "Keep Last State" if no data or values are null or error and so on. Is it possible that the date are delayed and the 'Count' function will count 0 and send alarm ?

[2021-08-28 10:32] mt-inside commented on #10786
It's absurd this has been open >3 years. This breaks any kind of dashboard portability using "proper" automation (eg gitops).

Related, `gnetId` should be supported too.

I should be able to point my provisioner file at a grafana.com dashboard ID (eg node_exporter), give it the name of my datasource, and have grafana's provisioning logic do the fetch, and replace `DS_PROMETHEUS` with `data-source-

[2021-08-28 11:14] borisyukd opened #38665 "Grafana 504 timeout for Loki DataProxy"
**What happened**:
This is an extension of the https://github.com/grafana/grafana/issues/31638
It looks that I hits one more timeout in Grafana DataProxy. When I create a request that executes during more than 60 seconds it fails with ```error="http: proxy error: context canceled"``` and ```time_ms=59998 size=0```.

Full log:
[code]

![Screenshot (7)](https://user-images.githubusercontent.com/5219

[2021-08-28 11:50] mvalletta opened #38666 "Column name is visualized in graph-old panel legend after migrating to 8.1.1 in"
**What happened**:
Column name is visualized in graph-old panel legend after migrating to 8.1.1, it's a useless info.

**What you expected to happen**:
Column name hidden as in the previous 7.4.3

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

![grafana-bug](https://user-images.githubusercontent.com/5305902/131110600-0b59ff71-8654-456d-b54f-

[2021-08-28 13:36] msiemers commented on #38412
Sorry, that doesn't work for me. I'am not an expert.

[2021-08-28 13:36] #38412 closed

[2021-08-28 15:33] om3171991 opened #38667 "Math expression error - expression request error"
Hi Team,

We are getting below error message:

![image](https://user-images.githubusercontent.com/86664910/131222998-237800aa-6425-41f7-9700-cc0bfe614a0a.png)

![image](https://user-images.githubusercontent.com/86664910/131223044-130b5eb9-5511-4a20-adb5-1e0cf288084a.png)

Grafana version: v7.4.0

If we remove math expression, then metrics give display desired data.
DataSource - Prometheus

[2021-08-28 15:34] om3171991 commented on #38667
We are using simple math express i.e $A + $B.

[2021-08-28 16:15] MattePalte commented on #24674
I am planning to work on it and I want to integrate it an appropriate way.

Our previous clearly temporary [patch](https://github.com/grafana/grafana/issues/24674#issuecomment-655385423) worked on the JavaScript code, now I want to implement the change directly in the TypeScript backbone, so it is stable.

For the **automatic addition of the template variables as annotation tags** I located this a

[2021-08-28 21:03] HenrikRolandHansen opened #38668 "MQTT-datasource and live streaming missing every 2 message"
What happened:

I'm currently using the MQTT-datasource plugin and every 2 message send is not streamed in Grafana. I have checked with other MQTT client at the same time and they receive all messages.

Not sure if it is the Mqtt-datasource or the Grafana live streaming engine having the problem,. but if I set the refresh dashboard time the like 1s I recive all messages.

If it is set the refresh

[2021-08-28 21:30] tatsutaigu commented on #38575
@gabor,

Thank you for your advice!
I could set "Merge" and "Organize fields" on "Transform" and resolved it.

When I remove `|> filter(fn: (r) => r[“Location”] == “test1”)` from query, "Outer join" is better than "Merge".

[2021-08-28 21:51] tatsutaigu commented on #38575
Hi,
I set "Outer join" and "Organize fields" on "Transform".
When time range is changed, `_value` on "Organize fields" change to blank.
for example
I set time rage "2021-07-02 00:00:00" to "2021-07-31 23:59:59" and `_value` on "Organize fields" are set.
time range is set to "2021-07-01 00:00:00" to "2021-07-30 23:59:59", then `_value` on "Organize fields" are cleared.
back to "2021-07-02 00:00:00"

[2021-08-29 07:00] michaelosthege commented on #38419
This morning it started to spam alternating firing/resolved messages out of the blue.

<details><summary>Logs showing when it suddenly started alternating</summary>

[code]

</details>

The alert is shown as firing continuously for more than 5d and I did not edit any alert settings recently.

cc @gotjosh because maybe this info could be relevant for the PR you opened.

[2021-08-29 07:46] aniaan opened #38672 "Elasticsearch query date range time zone problem exception"
**What happened**:
The time zone of my place is Asia/Shanghai (UTC+8), when I select the time range (2021-07-01 00:00:00 - 2021-07-31 23:59:59 Browser Time China, CST) in the dashboard, and then do a query, I find that the data points returned are not correct, this is the data returned For me,

[code]
I want the returned data point to start from 2021-07-01 00:00:00 in CST time zone, but it starts

[2021-08-29 10:47] MrMittensTheCat opened #38673 "Add field from calculation transform bug"
**What happened**:
Whenever I have 2 query's in grafana I cannot do any binary operation transform without getting NaN as a result even though in calculation I have selected last non null value.

As you can see by the attached screenshots, the 2 query's work seperately but when I have both of them I cannot do a calculation using both of them and only a calculation with the 2nd query gives me a res

[2021-08-29 12:16] MrMittensTheCat commented on #38673
UPDATE:

After experimenting some more I've found that for some reason the first queried number becomes undefined whenever I load up another one.

(Result is the same if I switch the query's around, the first one becomes undefined)
![Screenshot_6](https://user-images.githubusercontent.com/25552351/131250013-37456c03-e4c9-41b0-8fe7-f65228fdc836.png)

[2021-08-29 13:31] loganmc10 commented on #38619
This kind of thing happens to me sometimes when I'm making Loki dashboards. Sometimes it complains about a syntax error, when everything is correct. If I refresh the dashboard, the error goes away.

It's like it's still caching what I typed in previously or something. I'm guessing that's why it's complaining when you type it out, it's not registering the last thing you typed.

[2021-08-29 13:35] pbrissaud commented on #38619
Yeah, it looks like caching problems or something like that ! It's very frustrating when it happens but that's life !

I don't know if this issue needs to stay open.
On août 29 2021, at 3:31 pm, Logan ***@***.***> wrote:

[2021-08-29 16:23] medenlin commented on #37819
8.1.2 have a same problem

[2021-08-29 17:19] hexicans commented on #35552
Hello,

Always same issue for me :

1. Old crosshair :
<img width="927" alt="Capture d’écran 2021-08-29 à 19 19 01" src="https://user-images.githubusercontent.com/13521851/131259369-aea7ea2d-70a3-4964-8f81-b1efcccac9a7.png">

2. New crosshair :
<img width="554" alt="Capture d’écran 2021-08-29 à 19 19 08" src="https://user-images.githubusercontent.com/13521851/131259374-e221d359-8092-47b3-be16-

[2021-08-29 17:42] leeoniya opened #38674 "Single right-aligned y axis loses gridlines"
not sure what the prior behavior was, but maybe regressed by https://github.com/grafana/grafana/pull/38502

this can be worked around by setting gridline visibility to "On", but likely better if "Auto" properly handles the case of a single right y axis, if possible.

feel free to close if this is expected/desired behavior.

![image](https://user-images.githubusercontent.com/43234/131259945-316f4c4

[2021-08-29 17:53] leeoniya commented on #35552
@hexicans it's not clear to me what you're trying to show.

you have two examples using two different datasets and different cursor positions. in the top one you're hovering a gap but in the bottom one you are not.

if your complaint is that the top one is showing the nearest datapoint, then please look at https://github.com/grafana/grafana/pull/34552 and the linked issues there and suggest someth

[2021-08-29 18:09] RmStorm commented on #19949
Hello, we're considering switching to Grafana and Loki in my organization. We got a basic setup up and running last week and completed some initial user testing with our developers.

The issue in this thread was by far the biggest stumbling block for people to use the system. Explaining the basics of Loki to developers and getting them to find their logs went fine. But then, when the logs returned

[2021-08-29 18:57] schamock opened #38676 "Geomap + Flux: Marker Color based on thresholds not working"
**What happened**:
I'm trying to use Geomap as replacement for the World map plugin (as suggested in #30290).
The Geomap works fine when I'm setting the Marker Color to "Fixed Color", but I get the following error when I'm setting it to the "Hits" value: "undefined is not an object (evaluating 'n.value')"
My result table consists of two columns: "Country" with a two letter country code and "Hits"

[2021-08-29 19:24] cdalexndr opened #38677 "Logs Navigation: Timepicker interval does not correspond to interval in logs navigation"
**What happened**:

For log batch timed `21:19:54 - 22:16:04` the top date picker incorrectly shows `19:16:04 - 22:16:04` meaning it includes the previous batch dated `18:57:18 - 21:19:54`, but it does NOT.
This is confusing.

![131262873-2a51d1df-6506-4ccf-9540-1f2ec74fc965](https://user-images.githubusercontent.com/22418250/131263043-706ef057-7c2d-4fc5-a0ff-7e6f28f2dd50.png)

**What you expected

[2021-08-29 20:46] #37681 closed

[2021-08-29 20:48] leeoniya commented on #37681
@imReker we've merged the fix for this. please try the nightly build tomorrow.

[2021-08-29 22:26] cdalexndr opened #38679 "Logs navigation: Show more log results clears page"
**What happened**:

Trying to get more log entries results in empty page (same as when no results are found).

**What you expected to happen**:

Handle somehow the empty time interval.
At least allow user to go back... showing an empty page forces the user to re-run the search with a new time interval.

**How to reproduce it (as minimally and precisely as possible)**:

1. Search log entries that r

[2021-08-29 22:27] cdalexndr opened #38680 "Logs navigation: Older logs not working when flipped results order"
**What happened**:

Pressing `Older logs` button cycles between two datasets instead of retrieving actual older logs.

**What you expected to happen**:

Show older logs

**How to reproduce it (as minimally and precisely as possible)**:

1. Search some log entries that exceed the 500 limit
2. Press `Flip results order`
3. Press `Older logs` to load another page
4. Again press `Older logs` and notic

[2021-08-29 23:03] cdalexndr opened #38681 "Logs navigation: Pagination skips entries"
**What happened**:

Trying to get `Older logs` skips entries.
The initial page contains entries from `21:52:58` newest entry to  `21:20:30` oldest entry (position 500), but the page time is incorrectly computed to `21:19:22` oldest entry.
(Don't know if it's relevant, but I have duplicate entries on `21:20:30`)

Thus, when retrieving an older page, the page starts from `21:19:22` skipping results.

[2021-08-29 23:12] cdalexndr commented on #38681
Here are some `_msearch` request data for debugging:

First page `02.04:44 - 21:17:11`:
Request:
[code]
Response:
[Response1.txt](https://github.com/grafana/grafana/files/7073356/Response1.txt)

Second page `21:17:11 - 17:41:03`:
Request:
[code]
Response:
[Response2.txt](https://github.com/grafana/grafana/files/7073358/Response2.txt)

[2021-08-29 23:16] cdalexndr opened #38682 "Invalid logs table date tooltip"
**What happened**:

Hovering over a bar in the logs table shows invalid date:
![image](https://user-images.githubusercontent.com/22418250/131268394-e6fe9aa2-1155-4013-8c5a-dccc1aca77a8.png)
![image](https://user-images.githubusercontent.com/22418250/131268404-66c52dab-a26b-436d-984f-36e32ff7b7bf.png)

The dates are inverted, but the count is good.

**What you expected to happen**:

Correct tooltip

[2021-08-30 02:35] sarahzinger opened #38683 "E2E addDashboard flow should support query variables with custom code editors"
**What happened**:
I was writing e2e tests for an external component with uses the same code editor for query template variables as it does for a regular query and I wanted to confirm that adding a template variable worked, but the e2e tests flow for template variables is currently written in such a way that it only checks for the default code editor and not any code editor.

**What you expected t

[2021-08-30 04:36] hugohaggmark commented on #24674
@MattePalte thank you for creating the issue before we move on I think we need to think about how this feature should work in the general case, so I'm going to involve @pkolyvas for this.

This is the not entirely true, some of the code is here but we have a new Graph plugin called Time Series Panel that uses the code here: https://github.com/grafana/grafana/blob/main/public/app/plugins/panel/time

[2021-08-30 04:42] ryantxu commented on #38676
What does your data look like in the table view?

From your description, the size is using hits OK, but fails with color?

Are you able to paste the JSON response you see in the network tab?

[2021-08-30 05:07] hugohaggmark commented on #38664
@RkcCorian thanks for reporting this. This seems to be a fairly customised html page with tabs. Is there anyway you can share the source so we can try to reproduce this without creating all this from scratch?

[2021-08-30 05:11] hugohaggmark commented on #38666
@mvalletta can you share the dashboard json before and after the upgrade? Thank you!

[2021-08-30 05:11] sunker opened #38687 "AWS: Centralize aws plugin auth documentation"
### Discussed in https://github.com/grafana/grafana/discussions/38112

<div type='discussions-op-text'>

<sup>Originally posted by **sunker** August 20, 2021</sup>
Currently, all our AWS data source plugins use the same library for handling authentication. This means they will all have the same authentication options (AWS SDK Default, Secret & keys, Credentials file, Workspace IAM) and the same co

[2021-08-30 05:13] hugohaggmark commented on #38667
@om3171991 can you please share the queries you're trying to use expressions on? Thank you!

[2021-08-30 05:16] hugohaggmark commented on #38668
@HenrikRolandHansen could you please use our template for reporting issues? Thank you!

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Grafana version:
- Data source type & version:
- OS Grafana is installed on:
- User OS & Browser:
- Grafana plugins:
- Others:

[2021-08-30 05:37] hugohaggmark commented on #38673
@MrMittensTheCat I've tried with prometheus and the test data source and I can't repro this issue. The PRTG data source you've mentioned is not a built-in Grafana data source so there might be something not working with it. Can you create an issue in their repo instead? Thank you!

[2021-08-30 05:37] #38673 closed

[2021-08-30 05:45] hugohaggmark commented on #38683
Friendly reminder to add `labels` to new issues so people on issue triage have less work. Thank you!

[2021-08-30 05:57] om3171991 commented on #38667
Data Tab : Empty

![image](https://user-images.githubusercontent.com/86664910/131291877-e1622597-dde3-4982-96fd-72eaa304ff01.png)

Panel Json :

{
  "aliasColors": {},
  "bars": false,
  "dashLength": 10,
  "dashes": false,
  "fieldConfig": {
    "defaults": {
      "custom": {}
    },
    "overrides": []
  },
  "fill": 1,
  "fillGradient": 0,
  "gridPos": {
    "h": 8,
    "w": 6,
    "x": 0,

[2021-08-30 05:57] om3171991 commented on #38667
Query Result:
{
  "request": {
    "url": "api/ds/query",
    "method": "POST",
    "data": {
      "queries": [
        {
          "expr": "sum(rate(analytics_count_sum [2m])) by (eventType)",
          "legendFormat": "{{eventType}}",
          "interval": "",
          "hide": true,
          "refId": "A",
          "datasource": "thanosQuerier",
          "datasourceId": 2,
          "interva

[2021-08-30 06:56] hugohaggmark opened #38689 "LibraryPanels: Updated repeated panels create multiple duplicte entries"
When editing and updating a library panel that is repeated, then all the repeated panels become library panels entries instead of repeats.

1. Create a custom variable with values 1,2,3,
2. Make it a mutli variable and include all value
3. Create a panel that repeats on the custom variable
4. Create a library panel from that panel
5. Select over 1 value from the custom variable
6. Edit the first r

[2021-08-30 07:18] hugohaggmark commented on #38667
We done a lot of work on expressions, have you tried to upgrade to the latest Grafana version?

[2021-08-30 07:24] jaqb76 opened #38690 "access is forbidden to plugin file"
**Environment**:
- Grafana version:8.1.2
- Plugin: agenty-flowcharting-panel

Empty panel with plugin flow-chart.

In log:
lvl=eror msg="Plugin file access forbidden" logger=context userId=1 orgId=2 uname=admin error="access is forbidden to plugin file /var/lib/grafana/plugins/agenty-flowcharting-panel/static/defaultGraph.csv"

In change #37688 I think missing csv extension.

[2021-08-30 07:25] MaestroGlanz commented on #37179
@marefr I want this as time series. The table contains a time stamp. What I do in psql with "WHERE post_date > $startdate AND post_date < $enddate" should be handled implicitly by grafana. As bigger and smaller works in psql, I can conclude, that the format complies to sql standards.

[2021-08-30 07:29] andresmgot commented on #38472
it would be just adding that as a new line:

[code]

and check if that works as expected

[2021-08-30 07:57] #38481 closed

[2021-08-30 07:59] HenrikRolandHansen commented on #38668
Sorry, Updated the initial issue description

[2021-08-30 08:06] wbrowne commented on #38690
Thanks for flagging @jaqb76 - we have a duplicate issue here https://github.com/grafana/grafana/issues/38570. I'll close this in order to consolidate

[2021-08-30 08:06] #38690 closed

[2021-08-30 08:18] hugohaggmark commented on #38410
Ok, I could reproduce this with this dashboard and the gdev postgres data source. There are 2 panels in this dashboard, one using the bar chart and another one using the bar gauge. The bar gauge updates the labels for values accurately, but the bar chart doesn't when updating the time range. Could it be some memorization? ping @leeoniya @dprokop

[code]

[2021-08-30 08:25] fgmpe commented on #38053
Hi, that is exactly what i needed. Thank you for the documentation link.

[2021-08-30 08:25] #38053 closed

[2021-08-30 08:32] mckn commented on #38575
hmm, can you share the raw data? Sounds like the `_value` field is missing for that time range. You can do inspect on the panel and have a look at the `Query` tab to see the raw data.

<img width="512" alt="Skärmavbild 2021-08-30 kl  10 30 40" src="https://user-images.githubusercontent.com/172951/131310604-d785803e-ae1b-4fd6-a817-2376a0f5e63c.png">

<img width="477" alt="Skärmavbild 2021-08-30 k

[2021-08-30 08:42] gabor commented on #37994
@artstar-es thanks for the sample data! unfortunately, i cannot reproduce the problem. if i make influxdb return the csv-data you sent us, it works just fine as a query-variable, i see 2 options in the preview-of-values: "UPS RACK" and "UPSTower".

some ideas:
1. please double-check, if you used exactly the same query in the dashboard-variable-editor as the one you used to generate the CSV
2. whic

[2021-08-30 08:53] om3171991 commented on #38667
The same dashboard is working on another cluster with the same Grafana version, so didn't think or try of doing that.

[2021-08-30 09:28] ZuperZee opened #38692 "Pressing "e" on a panel causes it to crash"
**What happened**:
Pressing "e" on a panel to exit edit mode on a panel then pressing "e" again on a different panel causes the page to crash.

https://user-images.githubusercontent.com/39485579/131318319-add7e94e-1c53-42e9-84a8-97cd42f911bb.mp4

**What you expected to happen**:
Open the panel in edit mode

**How to reproduce it (as minimally and precisely as possible)**:
1. Create two panels (mus

[2021-08-30 09:42] #35981 closed

[2021-08-30 09:59] mvalletta commented on #38666
@hugohaggmark
[dashboard-json-before-after.zip](https://github.com/grafana/grafana/files/7075871/dashboard-json-before-after.zip)

[2021-08-30 10:13] artstar-es commented on #37994
OK, you've just enabled me to make a discovery, though not a favourable one. :)

Definitely using the exact same query. None of the other settings are being used.

However, if I create a new dashboard and create a new variable, the query works.

If I try creating a new variable in the existing dashboard with this query, it does not work!

Seems to me that the only way out of this will be to recrea

[2021-08-30 10:30] pere3 commented on #6041
I don't really understand how is completely new feature (which is currently in alpha and not really doing the same alerting mechanism that we all used to (it separates alerts from graphs after creating)) closes issue from where it starts

It also strange how this feature closes issue https://github.com/grafana/grafana/issues/11849, where alerts api not being updated after "alerting" state.

[2021-08-30 10:43] danieldonoghue opened #38693 "Pie Chart Legend Shows invalid labels when there is no data"
**What happened**:
grafana 8.1 Pie chart shows incorrect legend when there is no data to show. see attached image

**What you expected to happen**:
When there is no data, there should be no legend and the "no data" (or equivalent) message should be displayed in place of any graph and legend in the panel.

**How to reproduce it (as minimally and precisely as possible)**:
an SQL query that includes

[2021-08-30 10:58] sdboyer commented on #37859
related core issue: cue-lang/cue#602

[2021-08-30 11:14] Andrei-Rudenka opened #38695 "Links in annotations are not clickable"
In time series graphs links in annotations are not clickable.
![image](https://user-images.githubusercontent.com/89780743/131331211-e273e0f4-9932-468c-bdeb-65962dcc7504.png)

If we switch to graph(old) links in annotation becomes clickable
![image](https://user-images.githubusercontent.com/89780743/131331269-70159420-d040-4fa0-be7e-72d0ce469235.png)

[2021-08-30 11:22] Sourve commented on #25623
+1

[2021-08-30 11:36] zoltanbedi opened #38698 "Chore: remove classnames package from the repo"
**What happened**:

The [classnames](https://github.com/JedWatson/classnames) library is not necessary as emotion/css has a similar function called [cx](https://github.com/emotion-js/emotion/tree/main/packages/css#cx). For consistency we should refactor our codebase to only use emotion's classname implementation.

Tasks:
- [ ] Check performance when using the classNames library vs using the cx fun

[2021-08-30 11:48] wbrowne commented on #38651
Both should be fixed with

https://github.com/grafana/grafana/pull/38491
https://github.com/grafana/grafana/pull/38597

[2021-08-30 11:48] #38651 closed

[2021-08-30 11:49] Fgruntjes opened #38699 "Variables are combined when exporting snapshot"
**What happened**:
When exporting a dashboard with repeat variables it will combine those variables and not repeat the panel.

The dashboard when I create the snapshot
![image](https://user-images.githubusercontent.com/984466/131333970-cd33bd21-113c-4e12-8c87-04c0b536eb1c.png)

And the opened snapshot
![image](https://user-images.githubusercontent.com/984466/131334122-f8bb9696-0b93-4b79-abfe-ee1b0

[2021-08-30 12:00] #37930 closed

[2021-08-30 12:03] mckn commented on #38567
Hmm, so the `renameByRegex` transformation does not sort the data. It will keep the same order as it had when it entered the transformation pipeline.

[2021-08-30 12:03] mckn commented on #38567
Can you please provide the panel data to assist with further investigation. You can extract the panel data by doing the following steps:

1. Inspect the panel to bring up the panel inspector.
<img width="804" alt="Skärmavbild 2021-08-30 kl  13 58 42" src="https://user-images.githubusercontent.com/172951/131335935-c4e1e8cc-4bd1-4388-9690-7c912f01beae.png">

2. Copy the data from the query-tab to g

[2021-08-30 12:10] mckn commented on #35927
hmm, @marefr sounds like the application loading behind a reverse proxy is busted. Not sure this has to do with the browser version running on a TV since it sounds like @Dominion0815 has the same issue.

[2021-08-30 12:11] mckn commented on #35927
I will see if I can reproduce it locally, will get back with more information.

[2021-08-30 12:23] Rohlik commented on #37819
Maybe it is duplicate of #37787?

[2021-08-30 12:23] mckn commented on #38692
Thanks for opening this issue. I can reproduce this on `8.1.2` image but when testing it on main (38b398feb44edda1bc2c4cd27d0b460d60b43876) I cant reproduce it.

I will try to figure out what change have fixed this and also make sure it will be included in the next patch release.

[2021-08-30 12:24] mckn commented on #38692
Closed by the following PR: https://github.com/grafana/grafana/pull/38646 Fix will be released in `8.1.3`.

[2021-08-30 12:24] #38692 closed

[2021-08-30 12:25] ZuperZee opened #38700 "CodeEditor using javascript/typescript causes an error in the console"
Currently the monaco editor integrated into Grafana has removed typescript types.<https://github.com/grafana/grafana/blob/bafe16368ae945f4627e445280a63f53e2cfcf7a/scripts/webpack/webpack.common.js#L85-L88> Which makes it hard to use types.
![image](https://user-images.githubusercontent.com/39485579/130408305-ed349ead-2cca-4f7e-835f-0afd06a64f2b.png)

_Originally posted by @ZuperZee in https://gith

[2021-08-30 12:41] leventebalogh opened #38704 "Plugins Catalog: visualisation plugins are only available after a refresh"
**The problem**
After installing a visualisation plugin (e.g. Clock plugin) it doesn't immediately appear as an available visualisation for panels.

**How to reproduce**

1. Install a new visualisation plugin (e.g. Clock plugin)
2. Go and edit an existing panel / create a new panel without refreshing
3. Check if the Clock plugin appears in the list of available visualisations

[2021-08-30 13:01] marcelgsteiger opened #38706 "Overrides>Series>Hide in area misbehaves if a field has a space or lowercase letters in Standard options>Display Name"
**What happened**: When trying to hide all graphics except the graphic for some field (e.g. by clicking the legend), nothing is shown if that field has a lowercase letter in its "Override>Display Name". Moreover, other characters like spaces cause the same problem.

**What you expected to happen**:
A grayed-out Override for just this field should appear: "All except: My Field" and this series shou

[2021-08-30 13:03] sdboyer opened #38708 "Isolate schema-related checks into a discrete CI step"
#38577 disabled the key `TestDevenvDashboardValidity` test because it wasn't immediately clear to people why #38532 - which merged in spite of some schema validation failures - was actually failing. (the underlying problem was that the `geomap` plugin didn't have a `models.cue` file.)

This is part of the early, bumpy road with really getting the schema system in place. To help make that clearer f

[2021-08-30 13:10] mvalletta opened #38709 "After migrating to 8.1.1 often "relative time range" doesn't responding on click"
**What happened**:
After migrating to 8.1.1 often "relative time range" doesn't responding on click. As you can see in the attached .mov, selection of "Last 2days" needs two clicks and selection of "Last 7 days" needs  4 clicks to be selected

**What you expected to happen**:
Relative time range selected on the first click

**How to reproduce it (as minimally and precisely as possible)**:
Try to c

[2021-08-30 13:12] wbrowne commented on #38667
Server side expressions was in an experimental state in 7.4.0. I'd recommend updating to see if the issue is resolved there.

If you find other information that hints at the problem lying somewhere else, feel free to let us know.

[2021-08-30 13:13] sdboyer commented on #38708
Agreed, this is the core problem - just guiding people on how to do it. Actually isolating these checks is probably a good idea, but not something we necessarily need _right_ away.

I'll deprioritize this in favor of an issue that's just for writing a guide.

[2021-08-30 13:20] #37665 closed

[2021-08-30 13:20] sdboyer opened #38712 "Write a guide to creating/updating devenv dashboards"
Now that we're validating devenv dashboards vs. schema as part of CI, we need a guide that covers:

1. How to create/update devenv dashboards
2. How to tell when a CI failure is a result of devenv validation failure, and what to do about such failures

[2021-08-30 13:22] sdboyer commented on #38712
Note that we should expect to keep this guide current as we change things - e.g., adding the write path for provisioned/persisted devenv dashboards.

[2021-08-30 13:25] sdboyer commented on #34847
This should no longer be an issue, but we can reopen if it is. (We'll eventually have validation in the import path)

[2021-08-30 13:25] #34847 closed

[2021-08-30 13:25] kylebrandt commented on #37995
@gorkem2020 What is the contact point type(s) for AWS-API?

[2021-08-30 13:34] kylebrandt commented on #37618
@Freak12Techno Before changing the notifier, I'm wonder if you set the Notification policy that points to opsgenie is change so the Group by setting has the entry `...` (a literal 3 dots):

e.g:

![image](https://user-images.githubusercontent.com/1692624/131347220-87bd434d-3fb8-4e1e-bad0-44f5eeb7c439.png)

From the alert manager documentation (which is embedded in grafana for new alerts and what n

[2021-08-30 13:34] #38706 closed

[2021-08-30 13:35] marcelgsteiger commented on #38706
seems to be resolved in 8.1.2

[2021-08-30 13:35] serge1peshcoff commented on #37618
@kylebrandt I haven't tried this yet, will try to reproduce it later tonight.

[2021-08-30 13:40] mckn opened #38715 "Plugins Catalog: add possibility to toggle between the card/list view."
To make the new plugin catalog to have the same features as the previous one we need to add a possibility to display the plugins as a list as well as cards.

https://www.figma.com/file/9A5bn8tYbldeJFECXYaJgM/Plugin-catalouge

[2021-08-30 13:43] mckn opened #38716 "Plugin Catalog: Add "upgrade available" information on the plugin catalog list page."

[2021-08-30 13:55] mckn opened #38717 "Plugins Catalog: make the plugins catalog the default way of managing plugins in Grafana."
Change so the default way of managing plugins is the plugin catalog.

**This issue is only targeting making the Plugins Catalog the default way to access plugins, and does not involve cleaning up the deprecated code.**

**Future work:**
- [ ] Remove the old pages to manage plugins.
- [ ] Remove the configuration to enable/disable the plugin catalog. (feature flag)

[2021-08-30 13:57] orgads commented on #37918
When do you plan to push the new images?

[2021-08-30 14:02] dsotirakis commented on #37918
@orgads, hello!
Next release, 8.1.3, happening this week :)

[2021-08-30 14:03] orgads commented on #37918
Thank you.

[2021-08-30 14:16] mckn opened #38718 "Plugin Catalog: move the state management to redux"
We would like move the state management for the plugin catalog from page state into redux. The benefit of doing this would be to reuse plugin state between pages and make sure we have one single source of truth that can be used in dataSourceSrv etc.

[2021-08-30 14:18] jackw opened #38719 "Plugin Catalog: Handle loading errors"
The Plugin Catalog doesn't handle various error conditions like if the gcom api isn't accessible or a plugin.json file doesn't load correctly.

[2021-08-30 14:21] mckn opened #38720 "Plugin Catalog: add integration / E2E tests for the most important feature-parity scenarios"

[2021-08-30 14:27] zserge opened #38721 "Macaron: put URL parameters into Context"
Keep URL parameters in `context.Context` like Gorilla and many other routers do:

[code]

This would allow reading and mocking the router URL parameters in a compatible and portable way.

[2021-08-30 14:29] zserge opened #38722 "Macaron: replace macaron.Context.Data access with setters and getters"
Hide the internal macaron.Context details such as `Data` and provide and interfact to access it. This allow further storage of contextual data in a standard context.Context without breaking the API contract.

[2021-08-30 14:39] spxie85 commented on #38567
Hi,
I've actually provided this already above under "Raw result from inspect / data". Here's a screenshot to show:

![image](https://user-images.githubusercontent.com/26221112/131356674-594b57fd-13f6-41cb-9c4a-0ba62ece4025.png)

Here's another one when I format as Table
![image](https://user-images.githubusercontent.com/26221112/131356827-c8badecc-7416-4c12-88fd-43597b33f9f3.png)

Let me know if y

[2021-08-30 14:53] alaricljs opened #38723 "Docs: missing oauth bypass info from PR #28398 is not in current docs."
PR 28398 added documentation to docs/sources/auth/overview.md detailing how to bypass OAuth.  It's not in the docs anymore and would be great to have there since I just had a hell of a time  finding out how to do it.

Thanks

[2021-08-30 15:01] mckn commented on #38695
@Andrei-Rudenka I did try this locally and for me the link is clickable but missing the proper styling. Are you experiencing it the same way?

[2021-08-30 15:09] spxie85 commented on #38567
Here's a sample query statement
[code]

[2021-08-30 15:24] MukulKolpe commented on #38698
Hey @zoltanbedi, can I work on this issue??

[2021-08-30 15:39] zoltanbedi commented on #38698
Sure, go ahead.

[2021-08-30 15:52] sdboyer commented on #32239
Closing this. It's clear that it's possible for us to define the schema of our API objects in CUE; the more pressing question now is what we actually want that API to be shaped like.

[2021-08-30 15:52] #32239 closed

[2021-08-30 16:01] sdboyer opened #38724 "Schema: Fix default trimming behavior"
Currently, default trimming (as encapsulated in [this function](https://github.com/grafana/grafana/blob/79e79fe24489d57a56db64d9b8839ddc598e16ae/pkg/schema/schema.go#L312)) fails to produce useful results on essentially any dashboard JSON, as our currently logic fails to correctly handle [the disjunctions we dynamically create](https://gist.github.com/sdboyer/a8a5eacb9ceac45aca5c77cb7a34661b#file-

[2021-08-30 16:18] deton57 commented on #15884
Hi is there a workaround?

[2021-08-30 16:35] RkcCorian commented on #38664
@hugohaggmark : Many thanks for responding.
I'm thinking how to share... are you familiar with ioBroker*? If yes I can try to send you an export of the JARVIS adapter backup that you can import. I'm not familiar with an alternative for sharing the website itself.
Or is there some measurement data that I can grap somehow which might help you? In such a case I need a description what I shall measure

[2021-08-30 17:49] jeroenhendricksen commented on #36328
Thank you for creating this issue. I was going mad trying to figure out why these exceptions kept appearing: `lvl=eror msg="Alert Rule Result Error" logger=alerting.evalContext ruleId= name="" error="could not find datasource: data source not found"`

I managed to "fix" the problem by deleting the `/var/lib/grafana/grafana.db` and have everything re-provisioned from disk (I'm running grafana from

[2021-08-30 18:19] kminehart commented on #38634
I'm assigned to this one but I'm really unsure about what to do about it.

From @sakjur :

[code]

:thinking: do we need to stringify it before displaying it in the table?

[2021-08-30 18:36] shuotli commented on #38472
I created a PR for this fix.

[2021-08-30 18:48] GreenRover commented on #37819
+1

[2021-08-30 19:00] anybodysguest commented on #35448
@awsiv
Tried setting max_connections to 0.  It didn't change anything (e.g. CW log query still hanging).  I set the connections by passing the following parameter to my Docker container:   GF_LIVE_MAX_CONNECTIONS=0

[2021-08-30 19:01] schamock commented on #38676
Exactly, "Hits" works for the size but not for the color.
I'm not exactly sure, which JSON you mean. I attached the three I found in the Query inspector. I also attached the CSV I get directly from InfluxDB for the very same request.
Is that the information you were asking for?

[2021-08-30-20-57_influxdb_data.csv](https://github.com/grafana/grafana/files/7078953/2021-08-30-20-57_influxdb_data.csv

[2021-08-30 19:14] Freak12Techno commented on #37618
@kylebrandt Actually yes, I've verified it and it indeed works as expected, so this solved it for me, thanks!
I wonder if it should be more highlighted or set as default though, as I had no idea on that and I think that may mislead people. What do you think?

[2021-08-30 19:37] NikolaBorisov opened #38729 "Alerting with OpenTSDB, graph data not sorted by time"
**What happened**:
Data from query on the Create Alert Rule page is not displayed properly. It looks like the data is not sorted and the graph looks terrible.

**What you expected to happen**:
I expected the graph displayed on the Create alert rule page to look exactly like the panel for which I'm trying to create the alert.

**How to reproduce it (as minimally and precisely as possible)**:
Try to

[2021-08-30 19:38] NikolaBorisov commented on #36245
@idafurjes This one seems to be fixed, but I ran into another issue : https://github.com/grafana/grafana/issues/38729
Maybe you can take a look.

[2021-08-30 20:00] achatterjee-grafana commented on #38605
@pkolyvas and @kaydelaney, do we have the capability? If so, can you let me know so that I can update the docs? TY

[2021-08-30 20:04] achatterjee-grafana commented on #38601
I do not see the access option either. Looking at https://play.grafana.org/datasources/edit/000000001

![2021-08-30_16-03-43](https://user-images.githubusercontent.com/70489351/131398296-79623f50-4d41-44de-add6-2895e4602ba6.png)

[2021-08-30 20:08] achatterjee-grafana commented on #37703
@grafana/backend-platform team, who can help with this? Do we have an Invites API that is not documented yet? TY.

[2021-08-30 20:36] achatterjee-grafana commented on #36907
Hello @JohannesFluegel ! which version of Grafana docs are you looking at?

Looking at the latest Table visualization information, this section "https://grafana.com/docs/grafana/latest/visualizations/table/#table-options" corresponds to https://grafana.com/docs/grafana/v7.5/panels/visualizations/table/table-field-options/.

Also, for field overrides documentation, refer to https://grafana.com/docs

[2021-08-30 20:36] #36907 closed

[2021-08-30 20:38] achatterjee-grafana commented on #36907
Closing this issue as the link  https://grafana.com/docs/grafana/latest/panels/visualizations/table/table-field-options/ no longer exists.

I have provided the updated links in the previous comment.

[2021-08-30 20:44] achatterjee-grafana commented on #26173
@AgnesToulet is working on the doc improvements.

[2021-08-30 21:36] mdraevich opened #38733 "ctrl + backslash is invalid for Flux InfluxDB"
Good day!

I do some queries using Flux language in InfluxDB 2.0. As I see `ctrl + /` is prepend to the line symbols like `--` and that's not the right way to comment the line in Flux. The right way would be prepending `//`.

About my grafana in case the issue has already been resolved:
[code]

[2021-08-30 22:40] bputt-e commented on #8816
We plan on managing the users assigned to orgs via grafana's api to get around this. Essentially we're limiting everyone in an org to be an editor and are building our own user management feature outside of grafana since it's just username/email. Since our "user management" is essentially listing which groups users are in (managed via a 3rd party), we have to maintain the list of users in grafana

[2021-08-30 23:28] ryantxu commented on #38676
I see -- the issue is triggered when there is only one threshold value.

This works:
![image](https://user-images.githubusercontent.com/705951/131418337-e7f7ce90-3f95-4e56-8ce5-a7490544b725.png)

But when the additional theshold is removed, it fails:
![image](https://user-images.githubusercontent.com/705951/131418392-0eadc5ef-d82f-4536-a79f-3b096d827e95.png)

Error here:
![image](https://user-imag

[2021-08-31 03:11] om3171991 commented on #38667
@wbrowne - Thank you for your reply. As per suggestion, upgraded Grafana to v8.1.2, but still seeing the same error message.

Is server-side expression still in an experimental state as I see a beta feature message for expression in version 8?

![image](https://user-images.githubusercontent.com/86664910/131435356-1dc2c4c7-a6ae-4403-a37e-18c7bbd3bf82.png)

[2021-08-31 05:58] hugohaggmark commented on #38666
I can repro this now, and I think the reason for this is we've changed the legend so the aggregate functions appear before the value. But when the aggregation is aliased, something is not working.
![image](https://user-images.githubusercontent.com/562238/131449773-f6f08ec4-bb42-4bb0-ba32-e88fb7a65e3d.png)

Not sure this is @grafana/backend-platform or if this is something for the BI squad @dprokop

[2021-08-31 06:22] #38676 closed

[2021-08-31 06:28] ZuperZee commented on #38700
This also makes script tags in the text panel show types like window and such.
Currently the same error comes in the text panel when using <script></script>.

[2021-08-31 07:15] #38471 closed

[2021-08-31 07:18] Andrei-Rudenka commented on #38695
I look at console. Link exists, but without styling. The main problem is that annotation frame hides on hover and I cannot click =)

[2021-08-31 07:34] #35126 closed

[2021-08-31 07:40] Andrei-Rudenka commented on #38695
If it is useful
Grafana v8.0.6 (68fe9e3431)
InfluxDB

[2021-08-31 07:43] ifrost commented on #38601
I think docs are incorrect and "Access" could be removed from there. Graphite datasource always uses "Server" mode. @Rohlik do you need "Browser" mode for Graphite? If yes, could you explain a bit more why and what's your use case?

[2021-08-31 07:48] mckn commented on #38700
@joshhunt do you know what the thoughts where regarding the changes made to the editor?

[2021-08-31 07:48] dprokop commented on #38700
@ZuperZee why do you need explicit ts syntax support in Grafana?

[2021-08-31 07:55] asayeedi opened #38739 "Feature request: Multiple Marker Shapes in one Geomap"
I'd love the possibility to have the multiple markers like Circle and Square in same Geomap.
Suppose I have a Device Type A and Type B and I want to show Device Type A in Geomap with Circle and Device Type B with Square. It becomes very convenient to Identify the types without hovering over each markers.

[2021-08-31 07:56] mckn commented on #38723
Thanks for opening this issue, I will reach out the author and see what happened with that PR.

[2021-08-31 07:58] ZuperZee commented on #38700
The main reason why I need it is because I've developed a plugin and wanted to move to the integrated CodeEditor instead of my own implementation of Monaco.

When there were two Monaco loader configurations the last config would be loaded and because Grafana's implementation uses kusto it would be hard to implement it so both config would work together.

Without the ts syntax the browser console g

[2021-08-31 08:01] ZuperZee commented on #38700
![image](https://user-images.githubusercontent.com/39485579/131465616-136791be-6e7f-4edc-8968-8b3e6a484b72.png)

[2021-08-31 08:01] mckn commented on #38695
Super, thanks for confirming. But regardless, something that needs to be fixed.

[2021-08-31 08:01] axelavargas commented on #37282
Thank you @tskarhed 👍🏾,  @Ultraseamus If you are still up for it, you can open the PR, we will be happy to review it :)

[2021-08-31 08:04] mckn commented on #38739
Closing this one since the following discussion already exists: https://github.com/grafana/grafana/discussions/38740

[2021-08-31 08:04] #38739 closed

[2021-08-31 08:06] byte-opps commented on #38583
Thanks for your reply,

I have attached the pannel JSON which draws data from MSsql server, column type datetime. The pannel is a stat pannel. it shows at the moment 16 hours ago which is great, the difference in time from "now" to the "data". So now I would like to make the colours change depending on this calucated age. I have tried all settings, and thresholds.

[code]
[code]

[code]

[2021-08-31 08:12] ZuperZee commented on #38700
The TS part is a little big (~4MB) and was most likely removed to save some space.
![image](https://user-images.githubusercontent.com/39485579/131466517-c4ff74ed-2fad-4cb9-9296-580bd937dd78.png)
Link to the conversation where this was added <https://github.com/grafana/grafana/pull/33204/files#r619058827> (The link will probably not jump to the conversation. Try pressing the link below instead.)
Th

[2021-08-31 08:49] sakjur commented on #38634
If we'd do that, that'd possibly break some transformations 🤔

[2021-08-31 09:02] vbichov opened #38743 "logs panel throws error with cloudwatch datasource after upgrading from v7.4.3 to v8.1.2"
**What happened**:
logs panel throws "Cannot read property 'meta' of undefined" after upgrading grafana from v7.4.3 to v8.1.2 while using cloudwatch logs query
**What you expected to happen**:
the panel should work as expected
**How to reproduce it (as minimally and precisely as possible)**:
create logs panel in grafana  v7.4.3  with cloudwatch logs query, upgrade grafana to  v8.1.2
**Anything els

[2021-08-31 09:03] dsotirakis commented on #12582
This should be fixed in #38103

[2021-08-31 09:03] #12582 closed

[2021-08-31 09:09] merceyz commented on #34803
The issue has been fixed in `yarn@>=2` https://yarnpkg.com/getting-started/migration

[2021-08-31 09:11] qzhha commented on #38431
it works, thx

[2021-08-31 09:11] #38431 closed

[2021-08-31 09:26] Rohlik commented on #38601
@ifrost I don't know if docs are outdated but "Browser/Direct" access mode definitely works.

Our use case:
We are using several Graphite datasources and each of them are behind Apache web proxy with Kerberos auth (GSSAPI module), so user needs to be authenticated to access metrics from Graphite.
That's why we are using "Browser" mode with option "With Credentials" enabled.

[2021-08-31 09:36] marefr commented on #37703
Usually when api documentation are missing you can basically use your browser developer tools and inspect network requests while navigating Grafana.  For example clicking on pending invites and inspecting the network tab of chrome developer tools I can see the following:
![Selection_1040](https://user-images.githubusercontent.com/1668778/131479646-f60069a0-fb69-42d4-9b14-aca5419d1572.png)

That's

[2021-08-31 10:10] marefr commented on #35796
SQL data sources is a big problem so this is not only related to HTTP data sources.

[2021-08-31 11:36] gabor commented on #37994
that's very strange... maybe you could try to export the problematic dashboard and then import it again, maybe the new copy will work ok? ( https://grafana.com/docs/grafana/latest/dashboards/export-import/ )

[2021-08-31 11:49] hugohaggmark commented on #32912
@kylebrandt if I remember correctly, library-panels have been moved as suggested. Is there anything else to be done or can we close this?

[2021-08-31 11:55] kylebrandt commented on #32912
@hugohaggmark Can be closed I think, so closing. Thanks for the ping :-)

[2021-08-31 11:55] #32912 closed

[2021-08-31 11:56] torkelo commented on #38709
duplicate of https://github.com/grafana/grafana/issues/37727 , fixed in 8.1.2

[2021-08-31 11:56] #38709 closed

[2021-08-31 11:56] torkelo commented on #38709
duplicate of https://github.com/grafana/grafana/issues/37727 , fixed in 8.1.2

[2021-08-31 12:36] mckn commented on #35927
Not been able to reproduce it locally. @Dominion0815 @balintjuhasz @TrickUK is this still an issue for you guys?

[2021-08-31 13:03] dprokop commented on #34693
@deejayluk did you have a chance to try out latest version of Grafana to see if you still encounter this issue?

[2021-08-31 13:09] balintjuhasz commented on #35927
@mckn: v8.0.5 was the last version I tried with, I haven't tried 8.1 as I don't believe anything has changed regarding this.
I don't think reverse proxy is the issue because every device was able to load the new version, only the TVs showed the error page.

It's a shame though because we have no option to upgrade. :(

[2021-08-31 13:12] gabor commented on #27469
https://github.com/grafana/grafana/pull/38434 just got merged, which improves the situation for "old alerting".

the situation now is so that, in dashboard/explore-queries, in new-alert-queries and in old-alert-queries, everywhere it holds that `DataQuery.Interval` and `DataQuery.MaxDataPoints` is always set to a usable value.

so now a metric data-source can just take the `DataQuery.Interval` val

[2021-08-31 13:12] gabor commented on #27469
@torkelo do you think this issue can be closed now, or maybe i overlooked something?

[2021-08-31 13:18] kminehart commented on #38634
What about using the BigInt type for these in the frontend?

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/BigInt

[2021-08-31 13:22] sakjur commented on #38634
That looks really interesting, and afaict our the browsers we say we support supports it https://caniuse.com/bigint

[2021-08-31 13:22] mckn commented on #38567
Ah, sorry for being unclear. I meant the data from the `inspect -> query` tab @spxie85.

[2021-08-31 13:24] kminehart commented on #38634
I'm thinking this may be a larger task then where we add support for `big.Int` in the data frame (cc @ryantxu ) which should be represented by the BigInt type on the frontend, then.

[2021-08-31 13:25] mckn commented on #35927
Ok ok, then I'm agreeing with @marefr that we can close this one since we will not support `Samsung internet browser < v5`.

[2021-08-31 13:25] #35927 closed

[2021-08-31 13:32] spxie85 commented on #38567
ok, I suppose you're referring to the JSON request/response on the Query tab.

[code]

[2021-08-31 13:34] torkelo commented on #38567
After the switch format from time series to table you need to change the bar guage value options to "all values"

[2021-08-31 13:36] bijwaard commented on #38570
Dear all,
Guess this may also be the curprit with existing flowcharting drawings, see https://github.com/algenty/grafana-flowcharting/issues/314.
Kind regards,
Dennis

[2021-08-31 13:36] mckn commented on #38567
@spxie85 if you have a look at the request/response data you can see that it sorted in alphabetical order and not in the order of the values. So either we have an issue in your query or in the datasource.

[2021-08-31 13:45] mckn commented on #38567
@spxie85 as a work around you can try to do as @torkelo suggested.

1. Switch the query result format (Select dropdown) to Table.
2. Change the bar guage value options to "all values".

And I will forward this issue to our backend squad since this is a bug when we are converting the data from the datasource into our wide data frame format.

[2021-08-31 13:52] spxie85 commented on #38567
fantastic, I'm getting sorted result now! This combination of selection appears a little cryptic, and I certainly hope the bug gets fixed.

![image](https://user-images.githubusercontent.com/26221112/131514316-4f178690-9b8d-407c-9b2d-1b43033f90db.png)

[2021-08-31 14:43] #36755 closed

[2021-08-31 14:43] sdelobel opened #38756 "Time range for annotations by query ended at 1970-01-01"
Hi,
I've noticed that Time Series panel does not show time ranges for annotations from a database query. On the image below I input annotation by query (in blue) and I created two annotations by CMD + Click (light blue) using Grafana sample data.

**What happened**:
![image](https://user-images.githubusercontent.com/16326301/131521063-d354cdf5-aec7-482a-8a28-ee00e1faed2a.png)

**What you expected

[2021-08-31 14:58] marefr commented on #38666
Duplicate of #35390

[2021-08-31 15:11] kylebrandt opened #38760 "Unified Alerting: Notification Policy group by settings are confusing"
**What happened**:
The Group by options seems to have created confusion for several users:

![image](https://user-images.githubusercontent.com/1692624/131526552-617929fa-91da-44b9-bb2b-c70f0fb519b8.png)

(e.g. issue https://github.com/grafana/grafana/issues/37618)

As I understand it:
 - When this has an entry of three periods, `...` then there is no grouping of alert instances by labels (although

[2021-08-31 15:14] alexanderzobnin opened #38761 "Variable Query Editor: strange behavior (wrong data source passed in the props)"
**What happened**:
I've got a [bug report](https://github.com/alexanderzobnin/grafana-zabbix/issues/1282) related to the template variables. After some investigation, I've found a strange thing. When I switch data source in the variable editor from zabbix to another one, Grafana calls zabbix variable editor, but passes newly selected data source into the `props`.

**What you expected to happen**:

[2021-08-31 15:14] gerobinson commented on #37393
Hi @itsmjeu `$value` is not available in 8.0.6. It is an 8.1 feature which should explain the error message `undefined variable $value`.

[2021-08-31 15:14] kylebrandt commented on #37618
I've made a separate issue to follow up UX on the group by settings (and the secret settings :-/ ) in https://github.com/grafana/grafana/issues/38760

So closing this.

[2021-08-31 15:14] #37618 closed

[2021-08-31 15:22] gerobinson commented on #37393
I can see there is some confusion about the difference between `{{ $values.A }}` and `{{ $values.A.Value }}` and I don't think the documentation is clear enough here.

`{{ $values }}` is a [`map[string]templateCaptureValue`](https://github.com/grafana/grafana/blob/v8.1.0/pkg/services/ngalert/state/cache.go#L147). However `templateCaptureValue` implements the `fmt.Stringer` interface which means `{

[2021-08-31 15:24] gerobinson commented on #37393
I can see there is some confusion about the difference between `{{ $values.A }}` and `{{ $values.A.Value }}` and I don't think the documentation is clear enough here.

`{{ $values }}` is a [`map[string]templateCaptureValue`](https://github.com/grafana/grafana/blob/v8.1.0/pkg/services/ngalert/state/cache.go#L147). However `templateCaptureValue` implements the `fmt.Stringer` interface which means `{

[2021-08-31 15:26] gerobinson commented on #37393
I can see there is some confusion about the difference between `{{ $values.A }}` and `{{ $values.A.Value }}` and I don't think the documentation is clear enough here.

`{{ $values }}` is a [`map[string]templateCaptureValue`](https://github.com/grafana/grafana/blob/v8.1.0/pkg/services/ngalert/state/cache.go#L147). However `templateCaptureValue` implements the `fmt.Stringer` interface which means `{

[2021-08-31 15:36] gerobinson commented on #37393
I can see there is some confusion about the difference between `{{ $values.A }}` and `{{ $values.A.Value }}` and I don't think the documentation is clear enough here.

`{{ $values }}` is a [`map[string]templateCaptureValue`](https://github.com/grafana/grafana/blob/v8.1.0/pkg/services/ngalert/state/cache.go#L147). However `templateCaptureValue` implements the `fmt.Stringer` interface which means `{

[2021-08-31 16:08] marefr commented on #38666
The workaround is to use the alias `metric` rather than `intent`. We tried to improve things when partially fixing #35390, but we still require the metric column to be used for this to work. In addition, we added an [upgrade note](https://grafana.com/docs/grafana/latest/installation/upgrading/#postgres-mysql-microsoft-sql-server-data-sources) about the SQL data sources that manual migration might

[2021-08-31 16:21] frenzeldk opened #38765 "Link shortener option in share pop-up replaces protocol and port with internal values instead of reverse proxied values"
**What happened**:
When selecting the "Shorten URL" option in the Share Panel the protocol changed from https to http and the port changed from the implicit 443 to 3000.

**What you expected to happen**:
The expected behaviour is that both values stay the same and aren't changed.

**How to reproduce it (as minimally and precisely as possible)**:

 1. Set up a fresh copy of grafana, set the domain

[2021-08-31 16:51] pkolyvas commented on #38605
Library panels don't currently have a version history. I'm going to retile this issue and move it to discussions in order to start tracking a feature request.

[2021-08-31 16:52] #38605 closed

[2021-08-31 17:03] wbrowne commented on #38667
@om3171991  yes it's in Beta in v8.1 - but planned to be out of beta soon.

Unfortunately I've been unable to reproduce - perhaps there's something about the data you're dealing with that causes this. Are you able to reproduce under any other scenarios? Also - does there happen to be any server error logs?

[2021-08-31 17:23] wbrowne commented on #38729
I believe I'm seeing something similar

![Screenshot 2021-08-31 at 19 21 45](https://user-images.githubusercontent.com/1173299/131547919-b3f0f965-b546-4829-98a7-d8c5d648c057.png)
![Screenshot 2021-08-31 at 19 21 55](https://user-images.githubusercontent.com/1173299/131547926-d5e71381-1aff-4458-a85c-84986b6ad053.png)

[2021-08-31 17:33] kylebrandt commented on #38729
It looks like on the backend for OpenTSDB, it looks like the response object is a map. Since server side expressions go through the backend, we do not get sorted data.

IIRC, opentsdb has an option that is (asArray) or something like this, so the request should specify that, and then we would get ordered data back.

[2021-08-31 17:38] johandc commented on #8799
Still cannot zoom... It's almost 2022

[2021-08-31 18:41] nebular commented on #27770
can variables be used in the displayName? tried with no luck and I would like to always show the header with a custom field like {{filename}}

[2021-08-31 18:58] n300home opened #38771 "Mobile View: If opening Grafana directly via Android deskop link: Autorefresh respectively refresh button not working properly"
**What happened**:
Since Version 8.x (maybe 8.1.x) I experience the problem, that my Grafana dashboards opened via Homescreen Link (Android), not refreshing properly. Initial load after opening works in most cases. Sometimes some widgets are not loading anyway and I must force refresh via browser site refresh (pull down).
If a tab on refresh button it gets highlighted, but nothing happens. Once mo

[2021-08-31 19:15] schamock commented on #38676
@ryantxu Thanks for the analysis! I was absolutely sure, that I had multiple threshold values and just removed them while trying to find the problem... But great to see that a fix for stupid people like me is on the way ;)
Thank you for your great work!

[2021-08-31 20:20] thdesous commented on #11166
@daniellee  Would be great to have such feature

[2021-08-31 20:28] jdejesus517 commented on #30793
This is still an issue for enterprise customers who develop and maintain their own plugin repositories internally.

[2021-08-31 20:36] ethirolle commented on #30793
@papagian, re-opening this issue because it refers specifically to an issue that happens with Docker Compose. When using `docker-compose` command, user is not constructing & sending the `docker run` commands, compose is taking care of this. So I don't think your earlier comment closes this issue. Thanks!!

[2021-08-31 20:56] connorlindsey commented on #32655
Hi @BLasan, how's it going with this issue? Is there anything I can do to help?

[2021-08-31 20:58] marefr commented on #37179
Depends on how you want to visualize it, if just tabular format (a table) you can have a column for time, right? See my example:
![Selection_1041](https://user-images.githubusercontent.com/1668778/131574596-04a065bb-7b69-41e8-9fed-341590d25b4d.png)

If you still want to use time series format please explain what you're trying to achieve.

This feels unrelated to your issue and more of a question,

[2021-08-31 21:27] MattePalte commented on #24674
@hugohaggmark thanks for the prompt answer and feedback.

Meanwhile we wait for the comment of @pkolyvas I post here the UI/UX idea I had.

Goal of the change:
Allow the user select which templated variable should be added as annotation tag in automatic when hitting the save button in the annotation tooltip.

![UI_1_annotation_dashboard_setting](https://user-images.githubusercontent.com/15269127/1

[2021-08-31 21:59] marefr opened #38772 "Tracing: Request logger doesn't include traceID when jaeger tracing enabled"
**What happened**:
Request logs doesn't include `traceID` when jaeger tracing enabled.

**What you expected to happen**:
Request logs to include `traceID`.

**How to reproduce it (as minimally and precisely as possible)**:
1. Start jaeger (`make devenv sources=jaeger`)
2. Enable router logging and jaeger tracing:
[code]
2. Make a request, for example open the gdev dashboard named `Panel Tests - Gr

[2021-08-31 22:57] tatsutaigu commented on #38575
Hi, @mckn,

Query is here.
![image](https://user-images.githubusercontent.com/44219065/131585493-55042172-4bcc-4a92-a2f9-d2b4a4d55983.png)

Legends includes `_start` and `_stop` value.
Therefore, renamed `_value` on `organize fields` were cleared when time range changed.
I think it is root cause.
![image](https://user-images.githubusercontent.com/44219065/131585159-dff58c4d-2c3c-484d-b99e-243bd05b

[2021-09-01 01:12] BLasan commented on #32655
Hi, will be taking a look today. If any need, I'll let you know. Thanks :)

On Wed, 1 Sep 2021, 02:26 Connor Lindsey, ***@***.***> wrote:

[2021-09-01 04:14] #35422 closed

[2021-09-01 05:40] allareddysrikanth commented on #6956
Badly need this feature

[2021-09-01 06:40] mvalletta commented on #38666
@marefr thanks, workaround works fine!

[2021-09-01 07:02] #38472 closed

[2021-09-01 07:44] jackw opened #38776 "Build: yarn start command exits with TS errors"
`yarn start` exits when TS errors already exist in project.

![image](https://user-images.githubusercontent.com/73201/131632746-7a545633-0e5d-4085-8d66-aa3425f6b2bf.png)

[2021-09-01 07:46] flori commented on #38651
When will there be a 8.1.3 release that contains these security fixes?

[2021-09-01 07:53] itsmjeu commented on #37393
Any chance to have the {{ $values.A.Value }}  rounded some way?

[2021-09-01 08:14] hugohaggmark commented on #38110
I'm not super familiar with the underlying design of rows on dashboards but I think this is aligned with how saving collapsed rows work in Grafana.

Do you think we should make an exception for library panels @kaydelaney @torkelo?

[2021-09-01 08:17] hugohaggmark commented on #38110
Nevermind my last comment I think I know what is going on.

[2021-09-01 08:36] dprokop opened #38779 "Introduce fiscal time ranges into dashboard time picker"

[2021-09-01 08:46] gerobinson commented on #37393
@itsmjeu I don't think it's possible until we change it from `*float64` to `float64`? I have opened a PR to fix this above and hope to get it reviewed soon and in the next minor release.

[2021-09-01 08:47] cykl commented on #38440
Is there any way I can help to investigate this issue?

To begin, it would be interesting to know whether alerting still work on vanilla Elasticsearch cluster (VS AWS Elasticsearch service).

[2021-09-01 09:25] marefr commented on #35796
Outgoing HTTP requests (prio 1):
I think it should be possible to implement a middleware to limit responses and register that with the [HTTP Client Provider](https://github.com/grafana/grafana/blob/main/pkg/infra/httpclient/httpclientprovider/http_client_provider.go).

Was looking at https://golang.org/pkg/io/#LimitReader and that seems to work, however as I understand it will return `io.EOF` when

[2021-09-01 09:26] peterholmberg commented on #38638
poc pr https://github.com/grafana/grafana/pull/38711

[2021-09-01 09:32] wbrowne commented on #30793
@ethirolle Can you see if you can reproduce from version 8?

[2021-09-01 09:33] marefr commented on #33808
Fixed by #36899

[2021-09-01 09:33] #33808 closed

[2021-09-01 09:38] mckn commented on #38567
After some more investigation I think the issue here is more about the UX and helping the user define a proper query and format. Because the data you are querying isn't really time series data.

Let me know if you want me to re-open this issue.

[2021-09-01 09:38] #38567 closed

[2021-09-01 09:42] jackw opened #38781 "Plugin Catalog: write tests and refactor helper functions for mapping local and remote plugins"

[2021-09-01 09:42] wbrowne commented on #30793
Here's the fix that went into v8 https://github.com/grafana/grafana/pull/32506

[2021-09-01 10:18] itsmjeu commented on #37393
Ok super I will keep watch on it thanks! (#38766)

[2021-09-01 10:22] wbrowne commented on #38651
Yes @flori 😄

[2021-09-01 10:31] #38776 closed

[2021-09-01 11:09] titaneric commented on #6956
without this feature, user HAVE to build another proxy-server for constructing user-defined JSON payload which is troublesome

[2021-09-01 11:20] marefr commented on #38666
We definitely have some gaps in regards to documentation of this so I'll try to improve that.

[2021-09-01 11:27] #35518 closed

[2021-09-01 11:30] #38695 closed

[2021-09-01 11:30] marefr commented on #38666
I also learned that there's another workaround using [standard field options/display name](https://grafana.com/docs/grafana/latest/panels/standard-options/#display-name) to format the alias. In your original query, you could have configured a Standard options/Display name as `${__field.labels.intent}`, like this:

![Selection_1043](https://user-images.githubusercontent.com/1668778/131663894-92758e

[2021-09-01 12:16] thisisobate opened #38786 "PlaylistPage: Unable to search through playlists"
**What happened**:
I tried searching through the playlists but couldn't.
**What you expected to happen**:
I should be able to search through the playlist
**How to reproduce it (as minimally and precisely as possible)**:
On the sidemenu, hover/click on the dashboard icon
Navigate to the playlist
Try searching on the searchbar and notice it doesn't show any result.
**Anything else we need to know?**

[2021-09-01 12:18] maxvonroden commented on #37778
Yes, we've experienced the same problems in 8.x (currently 8.1.1).
Sadly, this makes some dashboards unusable on mobile devices, as several panels (Graph old, Tim series, Table, Stat...) are only loading very occasionally.

Would be great, if this could be solved in 8.1.3 - x or 8.2.x.
Thanks in advance ;-)

[2021-09-01 12:23] #37284 closed

[2021-09-01 12:33] Elfo404 commented on #38440
Hi @cykl I was looking into this and I wasn't able to reproduce it using a local ES cluster on docker and Grafana 8.1.2, so I'm suspecting this is related to AWS/SigV4.

looping in also @grafana/backend-platform, any idea for this?

[2021-09-01 12:39] fkalinowski commented on #38440
Hi @cykl @Elfo404, we are using Grafana 8.1.2 in association with a vanilla ElasticSearch 7.13.2 (with x-pack and security enabled) and our alerts are working as expected. We have also evaluated the new ngAlert 8+ feature and it's also working as expected (except for know issues with ES such as dotted term aggregation).

I hope this could help you to better narrow your problem...

[2021-09-01 12:49] cykl commented on #38440
@Elfo404 @fkalinowski Thanks for the feedback :heart:

If anyone using alerts with AWS/SigV4 could report if their alerts still works after upgrading to 8.1, that could help to support the hypothesis.

[2021-09-01 13:11] cykl commented on #38440
To confirm the AWS/SigV4 hypothesis, I deployed an aws-es-proxy and pointed the Elasticsearch datasource to it. With this setup, Grafana no longer have to deal with AWS/SigV4 as requests are signed by the proxy.

I can confirm the alerts do work as expected with this set-up.

![image](https://user-images.githubusercontent.com/1764725/131677159-4f3f9365-926f-4b11-91cf-3444d6a269fc.png)

[2021-09-01 13:18] k3vl4rAtAirside commented on #16265
I add to the sentiment of @kevinashaw, dynamodb is huge for aws, anything big for aws should be important to grafana.

[2021-09-01 13:19] wbrowne commented on #38440
That last change to our SigV4 implementation directly was https://github.com/grafana/grafana-aws-sdk/releases/tag/v0.7.0, which was added introduced in v8.0.5 https://github.com/grafana/grafana/pull/36430 so maybe something around our middleware has changed. Will try dig around a bit

[2021-09-01 13:50] wbrowne commented on #38440
@cykl can you confirm that you're still using the alerting system pre Grafana v8? (IE not the new unified alerting feature)

[2021-09-01 13:56] candlerb commented on #19172
I have the same problem with new users in an org, when I don't want to give permissions to everything by default.  The permission "Viewer (Role) can View" can be removed from individual dashboards, but you have to remember to do this for _every new dashboard you create_.

Either of the following solutions would work for me:

1. A new organization role, called "Everyone" or similar, which doesn't h

[2021-09-01 13:56] cykl commented on #38440
Yes, "legacy" alerts. IIRC alertng was also impacted but have rechecked lately.

[2021-09-01 14:43] pratikdas44 commented on #37393
Hi i am facing a similar issue can you look on this as well?
![image](https://user-images.githubusercontent.com/30981073/131691897-20b0759d-5dea-49e8-a530-05e686729386.png)

I tried with all possible options but none of them is printing.

My queries are like this -
![image](https://user-images.githubusercontent.com/30981073/131692085-2cc938d3-825d-4526-8071-e0224a836058.png)
![image](https://user-

[2021-09-01 15:15] mvalletta commented on #38666
Tried it, works fine, but I'll rename as metric, it's more simple to remember, thanks again!

[2021-09-01 15:15] anselmobattisti commented on #3919
+1

[2021-09-01 15:43] marefr commented on #38666
I'm closing this as a duplicate of #35390. Some docs improvements suggested in #38792

[2021-09-01 15:43] #38666 closed

[2021-09-01 15:55] #38700 closed

[2021-09-01 16:01] achatterjee-grafana commented on #38601
Thanks, @ifrost for resolving the issue.

[2021-09-01 16:01] gotjosh opened #38794 "Alerting: Support storing silences and notification log on the database"
Because of the embedded alertmanager, Grafana has moved from being completely stateless to requiring a persisting disk for storing silences and notification log.

I believe there's a path to support writing and reading these in the database that does not require heavy modification to the current operational state.

- [x] Add support in Prometheus/alertmanager for custom functions as part of the ma

[2021-09-01 16:12] ethirolle commented on #30793
Confirmed that issue no longer occurs on Grafana 8.1.1, so I think we are good to close this issue.

[2021-09-01 16:12] #30793 closed

[2021-09-01 16:24] newstead opened #38795 "Alerting: alerts deduplication not working when ngalert enabled"
Hello!

I'm running 2 separate Grafana instances with single PostgreSQL database and receiving duplicate alerts in Slack
So there is an issue in internal alertmanager near alerts deduplication
AFAIK this is known issue, but there is no public report for this (cc: @davidmparrott )

**Environment**:
- Grafana version: 8.1.2
- Data source type & version: Prometheus/v2

[2021-09-01 16:44] marefr commented on #27469
@gabor think that we can close this and create a new issue for tracking updating all core backend data sources to use the query.Interval.

[2021-09-01 16:45] marefr commented on #27469
Might be something more left in regards to max data points, but not sure what we could do rather than using a constant value?

[2021-09-01 17:25] SlightThought commented on #9158
+1

[2021-09-01 17:27] vuhuythanh1995 commented on #14629
I did that but nothing shows up in dashboarh.

[2021-09-01 18:30] svet-b commented on #26316
@noleto thanks for sharing the workaround. Unfortunately for my use case I'm trying to do the join on some Influx data, and since Influx isn't a relational database I don't think it's applicable. I thought I'd share that in case you (or anyone) might have relevant suggestions for a context like that.

[2021-09-01 18:32] urbanze opened #38799 "Wrong date in timeseries panel tooltip"
**What Grafana version and what operating system are you using?**
8.1.0

**What are you trying to achieve?**
Correct tooltip date in timeseries panel.

**What happened?**
When I use mouse to view info about points in timeseries panel, the tooltip box show wrong date. Eg:

Point X = 12:15h
Point Y = 12:16h

When mouse is close to X, show Y date.
When mouse is close to Y, show X date.

**Did you fol

[2021-09-01 20:09] leeoniya commented on #38799
pretty sure this got fixed in https://github.com/grafana/grafana/pull/37615

can you try the latest release (8.1.2)?

[2021-09-01 21:19] stevenschlansker commented on #16120
We're looking to use this as well.

[2021-09-02 05:04] thisisobate commented on #26348
Investigated and noticed issue no longer exist on main.
Fixed #29407

[2021-09-02 05:04] #26348 closed

[2021-09-02 06:15] BlackbitNeueMedien commented on #11435
Still a problem today ;(
`width: 100%` does also not work because this box is outside of the editor container and thus the `100%` are relative to screen width.

[2021-09-02 06:25] deweil opened #38805 "Partly rendering of repeating panels in row"
![repeat_issue](https://user-images.githubusercontent.com/7711496/131791817-5d1b10d7-f395-45a1-8469-7657243e5c72.gif)

**What happened**:
* The panels are not rendering correctly. First are scrolling a bit downwards, the panels appear.
    * The 4 horizontal rows are individual panels
    * All of them use the repeat option to repeat by `component` in the vertical direction
* Happend after update

[2021-09-02 06:26] imReker opened #38806 "'Classic palette' Color scheme has no effect in State Timeline"
**What happened**:
![state](https://user-images.githubusercontent.com/4949937/131792146-e29234da-0396-4f26-ac5f-e30cca3c684b.png)

**What you expected to happen**:
![state2](https://user-images.githubusercontent.com/4949937/131793059-46d5b083-c39f-4cfc-b004-d180ed787fba.png)

**How to reproduce it (as minimally and precisely as possible)**:
1. Create a State Timeline with different values
2. Check

[2021-09-02 07:07] hugohaggmark commented on #38756
@sdelobel have you tried to change the color for the annotation query? Not sure I understand what is wrong here otherwise.

[2021-09-02 07:17] peterholmberg commented on #38729
@kylebrandt this sounds like a change to the opentsdb plugin then? Would it change anything for paneledit/explore if we enabled arrays?

[2021-09-02 07:35] dprokop commented on #38460
Will be fixed with next uPlot release. More details in https://github.com/grafana/grafana/pull/38762

[2021-09-02 07:37] hugohaggmark commented on #37819
Hi everyone, I can't repro this using Grafana 8.1.2 on docker and a brand new dashboard (attached) and new annotations created manually.

Can you please share any console log output from your browsers or share the data from your network tab? This could probably be related to data stored in previous versions not being compatible with later versions?

[code]

[2021-09-02 07:52] hugohaggmark commented on #38699
Confirmed that this stopped working with Grafana 8.0.0 but worked in Grafana 7.5.6. Both repeats and repeating rows stopped working. You can test it using this json:

[code]

[2021-09-02 08:01] hugohaggmark commented on #38612
@pslobo can you share dashboard json and specifically how the links are constructed? Are you passing template variables for instance? Thank you!

[2021-09-02 08:03] hugohaggmark commented on #38619
Moving this to @grafana/observability-squad , feel free to pass it back to UE if this is a general issue unrelated to Loki.

[2021-09-02 08:11] mckn commented on #38805
I wonder if this could be related: https://github.com/grafana/grafana/issues/38549

[2021-09-02 08:12] mckn commented on #38549
Closing this one since I'm not able to reproduce it.

[2021-09-02 08:12] #38549 closed

[2021-09-02 08:16] #38601 closed

[2021-09-02 08:17] ifrost commented on #38601
Using browser access mode is deprecated. Docs will updated in the next release.

[2021-09-02 08:28] hugohaggmark commented on #38533
I can't really repro this in Grafana 8.1.2 and with this json:

[code]

I think the regions are aligned perfectly with the time that I'm using:
![image](https://user-images.githubusercontent.com/562238/131809860-969cc722-7812-47b0-bead-c41d0ccead3d.png)

Any ideas @Gjed ?

[2021-09-02 08:28] SebastianThorn opened #38810 "GraphNG: Allow axis placement control that's independent from unit config"
**What happened**:
Override setting not beeing honerd

**What you expected to happen**:
Field/Query to be moved to the right side

**How to reproduce it (as minimally and precisely as possible)**:
Add override in the panel-settings.

**Anything else we need to know?**:
JSON of panel:
[code]

**Environment**:
- Grafana version: Grafana v8.1.2 (103f8fa094)
- Data source type & version: InfluxDB 1.8.

[2021-09-02 08:29] SebastianThorn commented on #38810
![image](https://user-images.githubusercontent.com/409816/131810150-6d4233f3-68e3-4c22-86a1-1e2572351233.png)

[2021-09-02 08:52] pslobo commented on #38612
@hugohaggmark Dashboards were created by https://github.com/prometheus-operator/kube-prometheus which in turn uses  https://github.com/brancz/kubernetes-grafana. Here's one example of a dashboard with the reported issue though:

[dashboard.zip](https://github.com/grafana/grafana/files/7097503/dashboard.zip)

[2021-09-02 08:58] wallishuang commented on #6252
+1

[2021-09-02 09:05] mckn commented on #38794
Hehe, no worries :) I do the same thing.

[2021-09-02 09:09] ifrost opened #38814 "Explore: Query cannot be run when rich history exceeded local storage quota"
**What happened**:

It seems to be rare but may happen in some cases. Explore crashes if richHistory has reached the limit of local storage and the query is run:

https://user-images.githubusercontent.com/745532/131815549-a76ecbb8-d44d-4a59-8f7a-0b4b27d13e82.mov

**What you expected to happen**:

An alert message could be displayed instead indicating that the rich history limit was hit with a poss

[2021-09-02 09:12] hugohaggmark commented on #38596
Is this related to what you're working on @dprokop, I mean with thresholds?

[2021-09-02 09:13] hugohaggmark commented on #38699
Duplicate of #38568

[2021-09-02 09:13] #38699 closed

[2021-09-02 09:23] mobulaco opened #38816 "Strange Reload Dashboard Behaviours on different panel sizes (e.g. with TimeSeries plugin)"
Hello,

I'm working a panel plugin for vertical view of time/value data for some disciplines which is needed as vertical view. So my container panels will be vertical aspect ratios rather than horizontal ones. (pls. look at the picture below)

**What happened**:
I have noticed a strange refresh dashboard behaviour when you use panels with vertical aspect ratios. When I refresh dashboard from butto

[2021-09-02 09:32] hugohaggmark commented on #38612
I can see that the Table link for Drill Down is `./d/a164a7f0339f99e89cea5cb47e9be617/k8s-resources-workload?var-datasource=$datasource&var-cluster=$cluster&var-namespace=$namespace&var-workload=$__cell&var-type=$__cell_2` can you try to change it to `/d/a164a7f0339f99e89cea5cb47e9be617/k8s-resources-workload?var-datasource=$datasource&var-cluster=$cluster&var-namespace=$namespace&var-workload=$__

[2021-09-02 09:38] pslobo commented on #38612
Ok, tried changing `./d/..`to `/d/...` and it works as expected. So this seems like and issue for kube-prometheus project instead. I'll open an issue or PR there and bring up this and the Table Panel change too.

Thanks for looking into this!

[2021-09-02 09:38] #38612 closed

[2021-09-02 09:39] dprokop commented on #38596
Nope - my work is related to enabling threshold controls in the graph ng based visualizations, and in the alerting views to start with. We have not decided yet whether or not we want to bring this functionality to the time series panel.

[2021-09-02 09:41] zoltanbedi opened #38817 "Upload trace is not working after webpack 5 upgrade"
**What happened**:
After the webpack 5 upgrade the upload trace feature fails in Tempo fails as it uses `Buffer` for the base64 encoding.

[2021-09-02 09:47] imReker opened #38818 "Regex string incorrectly show in Unknown Variables"
**What happened**:
`$1` in regex string show in Unknown Variables in Settings.
![var](https://user-images.githubusercontent.com/4949937/131821790-07e829df-2235-459a-b901-8de1543c51ad.png)

**What you expected to happen**:
Show real variables only.

**How to reproduce it (as minimally and precisely as possible)**:
Create a panel, input `$1` in query and save.
Open dashboard settings.

**Environment

[2021-09-02 09:52] Gjed commented on #38533
I tried your method and actually it works on 8.1.2 as you say.
But querying from a postgres table is still broken (as described before), so can I assume that I might be doing something wrong or have some data missing?

I'll include the dashboard and the postgres data:
id | label |            t_start            |             t_end
----+-------+-------------------------------+-----------------------

[2021-09-02 10:09] artstar-es commented on #37994
Hi Gabor,

Unfortunately, no luck with that either. There must be something in that original v1 JSON that simply modifying what I need is in conflict with it.

[2021-09-02 10:24] imReker opened #38822 "Can't set color to threshold when added more than 55 thresholds"
**What happened**:
Can't set color to threshold when last threshold is a special color, the color control of new threshold disappeared.

![color](https://user-images.githubusercontent.com/4949937/131824965-a3697c29-3154-46e9-83c5-b4e857fbed84.png)

**How to reproduce it (as minimally and precisely as possible)**:
1. Click Add threshold button 55 times, you'll see threshold 0, 10, 20, 30....540
2.

[2021-09-02 11:09] hapklaar commented on #38667
fyi:

Same problem here, but in Grafana 7.2.0 in Home Assistant (latest available). The graph consists of several power plug watt measurements. As soon as I create a simple expression, the graph errors out with the exact same expression request error as TS. Removing this expression doesn't fix it, I have to delete the entire graph and start over.

[2021-09-02 11:18] hugohaggmark commented on #38533
Can be the timestamp format, can you paste the raw results from the browsers network tab, might be that the result needs to be multiplied or divided by 1000? Thank you!
![image](https://user-images.githubusercontent.com/562238/131834518-a42d8a6e-d456-4738-ad50-0fd26007bb15.png)

[2021-09-02 11:35] mobulaco commented on #38816
After some inspection over thw videos again. It seems that (just an observation) the behaviour is about the error at top-left corner. All panels which gets that error behave like full refresh except Graph (old) panel.

**The error:** A query returned too many datapoints and the results have been truncated at 2771 points to prevent memory issues. At the current graph size, Grafana can only draw 277

[2021-09-02 12:00] mckn commented on #38818
@imReker thanks for opening this issue. Can you provide some more information? Both when it comes to the reproduce steps but also what you are experience being the issue. Thanks 🙏🏻

[2021-09-02 12:02] mckn commented on #38818
But when i try this out it works as expected.

[2021-09-02 12:16] mckn commented on #38799
Yes, just verified it is not reproduced in 8.1.2 so #37615 will resolve this.

[2021-09-02 12:16] #38799 closed

[2021-09-02 12:23] kylebrandt commented on #38729
@peterholmberg No, this change would entirely be on the backend side and within the OpenTSDB datasource.

[2021-09-02 12:24] imReker commented on #38818
[code]

@mckn

[2021-09-02 12:25] wbrowne commented on #38729
Then this is most likely related to changes here I imagine https://github.com/grafana/grafana/pull/35815

[2021-09-02 12:29] kylebrandt commented on #38729
@wbrowne The following needs to change to not be a map for Datapoints:

https://github.com/grafana/grafana/blob/7e6cf14c84fd3bbd1ba709ecb772ff7e3afd4d6a/pkg/tsdb/opentsdb/types.go#L9-L12

And then however you specify that serializer option in my link above would also need to be set so the response marshals into it.

[2021-09-02 12:30] imReker commented on #38818
![1](https://user-images.githubusercontent.com/4949937/131843774-d5126b74-4bc2-405a-b817-c063f3f0b35d.png)
![2](https://user-images.githubusercontent.com/4949937/131843779-c7064528-cf98-40ae-baf2-0f5092014e77.png)

[2021-09-02 12:36] hugohaggmark commented on #38818
Unfortunately the $xyz format is reserved for variable naming in Grafana so there is no way for us to distinguish between users using them like you showed here and actual variables that have been removed.

[2021-09-02 12:46] mckn commented on #38805
@deweil could you please provide your dashboard json? I can't reproduce this locally on my `8.1.2` version.

[2021-09-02 12:57] imReker commented on #38818
Regex `$1` is legal and common in PromQL, and, unfortunately it's also a legal variable name in Grafana.
However, this issue is not a big deal, so I'll close it, thanks.

[2021-09-02 12:57] #38818 closed

[2021-09-02 13:07] mckn commented on #38818
Super, thanks for reaching out and highlighting this and we will give this some thought and see if we can prevent this situation from happening in some way.

[2021-09-02 13:18] #38507 closed

[2021-09-02 13:54] Gjed commented on #38533
There we go:

![Screenshot from 2021-09-02 15-52-45](https://user-images.githubusercontent.com/12700875/131856217-e04ce591-afb9-4b38-ba01-c4f27048a5da.png)

[2021-09-02 14:00] #37849 closed

[2021-09-02 14:17] Elfo404 commented on #38611
Hi @jhnclvr!
Is this actually a problem with Grafana or Prometheus itself?

Is the result looking different in Prometheus UI?

[2021-09-02 14:21] kylebrandt commented on #37648
Are you able to check the Grafana server logs and see if there is an error when this happens?

Also are you able to share any of the response / request from your browser inspector network tab?

Was not able to reproduce this locally - perhaps an issue with folder permissions on the folder you are trying to move to?

[2021-09-02 14:28] Elfo404 commented on #38619
Hi @pbrissaud , this looks very weird

looking at your screenshot it seems the first quote is a single quote, while the second one seems a double quote.

[2021-09-02 14:29] mckn commented on #38810
Try selecting one of the following fields:

- Value (base field name)
- Measurements

Since you have multiple value fields in your time series data you need to either select the first one represented in the data or the Value (base field name) to get the override to be applied properly.

<img width="1015" alt="Skärmavbild 2021-09-02 kl  16 27 38" src="https://user-images.githubusercontent.com/1729

[2021-09-02 14:30] mckn commented on #38810
If you select any other field for the override it won't be applied. Not sure if this is by design or a bug but I will send it to the people with the answer on that question.

[2021-09-02 14:33] Elfo404 commented on #36687
@kylebrandt can we close this issue?

[2021-09-02 14:34] mckn commented on #38806
Seems to work as expected if you try to visualize table formatted data but not with time series.

[2021-09-02 14:44] pbrissaud commented on #38619
Hi @Elfo404 , the screenshot is a little blur (sorry for that) but I'm sure there are 2 double quotes 😄

[2021-09-02 15:01] imReker commented on #38806
I tried switch format to table, and get same issue.

[2021-09-02 15:01] Elfo404 commented on #33299
@ivanahuckova while I don't see this being difficult to implement on a DS level, I'd say it would be better suited for a generic alerting "renaming" feature.

looping in @grafana/alerting-squad

[2021-09-02 15:03] phmayer opened #38827 "Explore: colors on the graph legend are mismatched, when showing loki logs."
This is just a minor issue. But as it can be a bit irritating when using Explore to look at logs, i thought i open up an issue to let you guys know about it.

**What happened**:
The colors for the levels are mismatched in Explore for logs from Loki.
Here is a screenshot to explain:
![2021-09-02 15_52_00-Explore - Loki - Grafana_edited](https://user-images.githubusercontent.com/39195932/131858725-3

[2021-09-02 15:14] mckn commented on #38816
@mobulaco can you please provide your dashboard.json so we can help you figure this out. It feels like you are querying for more datapoints than the graph can display given its size.

[2021-09-02 15:22] #37461 closed

[2021-09-02 15:22] #38419 closed

[2021-09-02 15:52] torkelo commented on #38822
think value mappings might be a better fit for you

[2021-09-02 15:53] wbrowne commented on #38667
@hapklaar are you also using the Prometheus datasource?

[2021-09-02 17:01] imReker commented on #38822
No, the issue maybe related to color generating, not related to amount of thresholds.
Please note step 6-10, if I set same color manually to the last normal threshold, I can add new threshold again, but soon the issue occur again.

[2021-09-02 17:41] santihernandezc commented on #36840
Hi @bigunyak ! All mentions to Slack users must be done in the form of `<user ID>` as detailed [here](https://api.slack.com/changelog/2017-09-the-one-about-usernames).

Example alert text:
![Screen Shot 2021-09-02 at 14 33 52](https://user-images.githubusercontent.com/41638679/131890603-6492cad6-43fe-48f1-9f87-64f1102ba9d8.png)

Result:
<img width="504" alt="Screen Shot 2021-09-02 at 13 49 05" src

[2021-09-02 17:41] #36840 closed

[2021-09-02 18:08] hapklaar commented on #38667
@wbrowne I had to look up what what Prometheus is, but as far as I know I (or HA for that matter) is not using that.

[2021-09-02 18:21] bergquist commented on #36511
:+1: The only thing I would like to add is to always keep an list of available feature toggles so they are always included in the metrics regardless if they are available or not :)

[2021-09-02 18:28] frenzeldk commented on #38765
Setting [server].root_url to https://%(domain)s/ fixed the issue. But maybe this should be mentioned on https://grafana.com/tutorials/run-grafana-behind-a-proxy/ ?

[2021-09-02 18:28] ryantxu commented on #38806
I am not really sure what the classic pallet *should* do.  In fact, perhaps it should be hidden/removed :man_shrugging:

The classic pallet will color each *series* in a consistent way, but the required behavior is to get a new color based on the value.

[2021-09-02 18:35] dragoangel commented on #20960
Hi, any update on the case?

[2021-09-02 19:52] leeoniya commented on #38806
i guess if each series just has "on" states (e.g. "on",null,"on") we can still use the classic palette.

basically just treat all states in a series as the next classic palette color?

[2021-09-02 22:53] Scotturbina opened #38843 "Forward OAuth Identity with elasticsearch datasource"
**What happened**:

When I turn on the Forward OAuth Identity and try to "Save and Test" it prompts a sign in pop-up, I fill this with my credentials but nothing happens.

I receive this error from chrome dev tools:  `{"error":{"root_cause":[{"type":"security_exception","reason":"missing authentication credentials for REST request [/data_source/_mapping]","header":{"WWW-Authenticate":["Bearer real

[2021-09-03 05:09] droidraja commented on #19886
Any update on this ? It is messy to have some alerts in grafana and some in AWS Cloudwatch alerting.

[2021-09-03 05:15] vijkishan opened #38845 "Grafana 8 pagerduty alert use the same incident_key (dedup_key) for the same group alerts"
**What happened**:
We enabled new Grafana alerts feature by mentioning  ngalert in Grafana.ini file. However, PagerDuty receiving all alerts in single page load with same dedup_key. due to which all alerts that are fired in that group are tagged under one incident.
**What you expected to happen**:

Each alert should have its own dedup_key such that  PagerDuty will create individual incident for ea

[2021-09-03 06:46] SebastianThorn commented on #38810
I want only one on the right side, "series".
This was possible in earlier versions of Grafana,

[2021-09-03 07:21] oriondvd commented on #19019
Hello, I have the same problem. I`m using Grafana Cloud free plan.
When I try to send test message - I receive this:
[code]
And there is no any inline images, only url.
Is this a restriction of a free plan or a bug?

[2021-09-03 07:24] deweil commented on #38805
Thanks @mckn for having a look. You can get the dashboard from her: [Repeat_issue_dashboard.json](https://github.com/grafana/grafana/files/7103982/Repeat_issue_dashboard.txt)

[2021-09-03 07:34] mckn commented on #38810
Ah, got it! So you basically want that field to be in a table on its own on the right side of the graph. Go it!

[2021-09-03 07:37] mckn commented on #35857
Closing this issue due to inactivity.

[2021-09-03 07:40] mckn commented on #36887
Closing this issue since it seems to be resolved, please let me know if I need to reopen it.

[2021-09-03 07:40] #36887 closed

[2021-09-03 07:40] mckn commented on #36954
Closing due to inactivity. Please let me know if I should re-open this.

[2021-09-03 07:40] #36954 closed

[2021-09-03 07:42] mckn commented on #37135
Closing this issue due to inactivity. Please let me know if I should re-open it.

[2021-09-03 07:42] #37135 closed

[2021-09-03 07:43] mckn commented on #37571
I'm closing this issue due to inactivity. Please let me know if it needs to be re-open. Thanks 🙏🏻

[2021-09-03 07:43] #37571 closed

[2021-09-03 07:48] mckn commented on #37929
I'm closing this issue due to inactivity. Please let me know if it needs to be re-open. Thanks 🙏🏻

[2021-09-03 07:48] #37929 closed

[2021-09-03 07:49] mckn commented on #37939
I'm closing this issue due to inactivity. Please let me know if it needs to be re-open. Thanks 🙏🏻

[2021-09-03 07:49] #37939 closed

[2021-09-03 07:50] mckn commented on #37941
I'm closing this issue due to inactivity. Please let me know if it needs to be re-open. Thanks 🙏🏻

[2021-09-03 07:50] #37941 closed

[2021-09-03 08:26] mobulaco commented on #38816
Hello @mckn,

you are right, I am on a panel development right now and the query isn't optimized yet. So, I realized that it is definitely about the more datapoints error message.

After some diggin, It seems that if any error occured, TimerSeries panel refreshes with blank view but Graph (old) without any blank views.

So, i used it with a manuel Max data points Query option and it is solved the

[2021-09-03 09:50] rijeshharidas commented on #10339
Bump

[2021-09-03 11:01] bpof86 opened #38848 "the annotation is not displayed"
**What happened**:
![image](https://user-images.githubusercontent.com/90040438/131994827-a0aa3946-0daa-47f2-8e39-966e08520acb.png)

![image](https://user-images.githubusercontent.com/90040438/131994892-c153a6d1-f785-49d6-926e-e7dfd6e16f56.png)

При создании аннотаций, на промежуток времени, если в отображении графика выбрать промежуток времени большей чем аннотация, то аннотация и подсказка ниже г

[2021-09-03 11:13] DmitrySidorow opened #38849 "Time series panel: The values on the axes are repeated"
**What happened**:
The similar values on the axes are repeated
![bug](https://user-images.githubusercontent.com/43705385/131996169-145e849d-b596-44fa-9160-1d2a9b2d86f1.png)

**How to reproduce it (as minimally and precisely as possible)**:
Panel JSON:
[code]

**Environment**:
- Grafana version: 8.1.2-31763 (current play.grafana)

[2021-09-03 11:25] Jordhan-Carvalho commented on #16452
My friend Gabriel Fialho made an amazing dashboard, the only problem is that he can't move the location of variables inputs, which makes him very sad... Please make my friend happy again.

[2021-09-03 12:05] DmitrySidorow opened #38850 "Variables: Invalid size of the field for entering a variable"
**What happened**:
Small size of the field for entering a variable
![image](https://user-images.githubusercontent.com/43705385/132001610-d2c7a25b-f059-4ad2-8632-a4a05aa3cb46.png)

**What you expected to happen**:
The field size must at least match the length of the hint 🤔

**Environment**:
- Grafana version: 8.1.2-31763
- User OS & Browser: Windows 10 + latest chrome

[2021-09-03 12:57] peter-miroshnikov opened #38851 "Roles Overwrite"
**What happened**:
Every time i Login with with AzureAD my Role is switched back to viewr
**What you expected to happen**:
I expect to keep the assigned role by the grafana admin account
**How to reproduce it (as minimally and precisely as possible)**:
1. Freshly install Grafana
2. Configure OAuth with Azure AD
3. Login with your Azure AD account to Create the Account in Grafana.
4. Log out
5. Log

[2021-09-03 13:00] CendioMartin opened #38852 "Creating alert and testing it results in error="request handler response error {invalid: compilation failed: error at @13:29-13:39:invalid expression @13:28-13:29: $ A <nil> [] [] 0xc000999e30}""
**  What I did: When creating an alert rule and click on Test Rule it fails **:

** Excpted outcome: Validation suceed **:

**How to reproduce: See attached GIF **:

**Environment**:
- Grafana version: grafana-8.1.2-1.x86_64
- Data source type & version: influxdb2-2.0.8-1.x86_64
- OS Grafana is installed on: RHEL 8
- User OS & Browser: Fedora 33 with google-chrome-stable-93
- Grafana plugins: No t

[2021-09-03 13:59] dllivipuma opened #38853 "Variables not updating inside a Panel when the preceding Row uses "Repeat For""
**What happened**: Variables are not updating inside a Panel when the preceding Row uses "Repeat For"

**What you expected to happen**: The panel content should update when changing their value.

**How to reproduce it (as minimally and precisely as possible)**: Changing the variable "host" a couple of times should bring up the issue.

**Anything else we need to know?**: The variables are not updat

[2021-09-03 14:02] faxm0dem opened #38854 "Table panel variable expansion in override malfunction"
Using 8.1.2 and 8.1.1 it seems there is something wrong with variable expansion.
In the table panel, I use the following overrides for columns: fields with name `host` > `Data Links`, and with the following value:

[code]

This used to work fine in 7.x. Now it seems to work for the first line of the table only. In other lines, the variables expand to an empty string. However, things seem normal wh

[2021-09-03 14:38] rvansa commented on #27677
Hi, any reason why the images still are not on quay.io after almost a year from opening this issue?

[2021-09-03 15:49] marcus-clements commented on #24115
This bug is still a problem in version 7.5.2.

[2021-09-03 19:57] xkilian commented on #35908
Shared crosshair is a key analytics component of grafana for different panel types. Very problmatic when working with paths on maps and different size timelines. I hope this issue will not be forgotten for 8.2.

[2021-09-03 20:39] Mimmi511 commented on #38805
I have the same issue. As soon as I start scrolling down, the dashboard renders.

[2021-09-03 23:12] martin3000 commented on #6986
So there is a new option to switch between forward/left/before staircase and backward/right/after staircase?
Where is it?

[2021-09-03 23:27] danieldemoraisgurgel commented on #29393
This functionality would be very welcome. It would avoid the need to work with the Boom Table plugin, which today finds itself with several bugs in new versions of Grafana.

[2021-09-04 00:05] mlewald opened #38856 "Docs feedback: /visualizations/graph-panel.md"
![image](https://user-images.githubusercontent.com/9828569/132075555-e11af748-5f1c-4075-8fdb-6104a5b5dcb5.png)

Clicking on the Time Series Panel link goes to https://grafana.com/docs/grafana/latest/visualizations/graph-panel/time-series/
and you see 404.

appears that is should be going to
https://grafana.com/docs/grafana/latest/visualizations/time-series/

[2021-09-04 00:09] cgthayer opened #38857 "Dashboard Variables Query regex not matching"
If one goes to dashboard settings > variables > edit, and specifies a query, with a regex, that regex isn't matching regex-parenthesis (for grouping).  For example, if I search for `/.*stress.*/` I see results but not for `/.*(stress).*/` or `/.*(stress|echo).*/`

**Environment**:
- Grafana version: 7.5.7
- Data source type & version: Prometheus

Picture showing that "stress" is matched (although

[2021-09-04 02:33] letran3691 opened #38858 "Failed to send webhook-Client.Timeout exceeded while awaiting headers"
**What happened**:

Recent I’ve issue. Sometime missing notification grafana send to telegram.
I Checked log and seen err “Failed to send webhook”.

Error specific:
[code]

**Environment**:
My system don’t use proxy and grafana install manual
grafana v6.2.5
Data source type & version: Prometheus
OS centos 7

[2021-09-04 03:06] leeoniya commented on #6986
Step before and Step after:

https://grafana.com/docs/grafana/next/visualizations/time-series/graph-time-series-as-lines/

[2021-09-04 07:32] martin3000 commented on #6986
Oh thank you. You have to switch from Visualization->Graph to Visualization->Time series and then switch from the "Panel" tab to the "Field" tab.

[2021-09-04 20:13] BLasan commented on #32655
@connorlindsey Sorry for the late replies. Does the relevant file locate under the directory "grafana/packages/grafana-ui/src/components" ?

[2021-09-05 05:00] phemmer commented on #35304
Not sure if it should be a separate issue, but custom macro functionality for postgres would also be appreciated.
It's very common to want to get the rate/derivative of a value, which in postgres looks something like:

    ((mycol - lag(mycol, 1) OVER w)::double precision / extract(epoch FROM (time - lag(time, 1) OVER w)) AS "rate"

As you can see, this is a very lengthy statement, and is easy to

[2021-09-05 08:27] VedanthB commented on #38698
I would like to do this, could you guide me on hoe i should proceed ? it would be my first open source contribution!

[2021-09-05 10:19] wetterfrosch commented on #36585
Hi there! I appreciate the new geomap panel very much. I humbly like to add a feature-request for this plugin here of which I am dreaming for some time:

* user-defined character(s) as a custom shape (like @wz2b suggested)
* using the result-value of a query as the custom shape, including the possibility to of values or value-ranges to a shape.

Or described the other way around: drawing result-va

[2021-09-05 16:51] Millnert opened #38862 "getOrCreateOrg in pkg/services/sqlstore/org.go doesn't actually get the org before create - initial grafana start fails"
**What happened**: Due to LDAP integration I configured e.g.:
[code]

Grafana does not start, and both Grafana and PostgreSQL query logs very clearly indicate getOrCreateOrg in https://github.com/grafana/grafana/blob/main/pkg/services/sqlstore/org.go tries to insert the default org even though it exists.

**What you expected to happen**: That Grafana starts and getOrCreateOrg in https://github.com

[2021-09-05 17:16] torkelo commented on #29393
This was added in v7 , labels to field transform

[2021-09-05 19:35] m-yosefpor commented on #17836
any updates on this?

[2021-09-06 00:46] gabzim commented on #17245
![image](https://user-images.githubusercontent.com/804281/132146302-3efcab2f-5a25-4905-8299-51e6f153d12d.png)

if something like this would help (I know it's not as nice/smooth as a bar gauge) I got this to work by using a table, then using an override to make the field with the value into a `cell display mode: gradient gauge` (you can also do LCD gauge)

[2021-09-06 00:54] yehaotong commented on #6983
a

[2021-09-06 00:55] yehaotong commented on #6983
So can I use alarms in grafana singlestat now？

[2021-09-06 03:57] #38689 closed

[2021-09-06 04:24] hugohaggmark commented on #38533
Seems like your timeend needs to be multiplied with 100? Not sure why though. Related to https://github.com/grafana/support-escalations/issues/728 @marefr?

[2021-09-06 05:15] maxweissboeck commented on #4252
+100 on this!
Unbelievable this common feature is open for more than 5 years now!

[2021-09-06 06:27] mckn commented on #38816
Yes, I think that would be the best way to go! You can reference this issue in your feature request if you feel that it is necessary. Thanks 🙏🏻

[2021-09-06 07:05] restorepoint1 commented on #37623
+1

[2021-09-06 07:05] PhilippDehner opened #38864 "Display modified dashboard variables"
**Why is this component needed**:
As a user, I want to be able to see self-explanatory dashboard variables, not the unmodified ones from the query, datasource, etc.

As a editor, I want to be able to define the shown values (dashboard variables). The shown value should be a part of the source value.
___
 - [x] Is/could it be used in more than one place in Grafana?

**Where is/could it be used?**:

[2021-09-06 07:39] dprokop opened #38866 "Refactor Explore's graph to use PanelRenderer instead of custom ExploreGraphNG"
Explore currently uses [custom graph panel implementation](https://github.com/grafana/grafana/blob/main/public/app/features/explore/ExploreGraphNGPanel.tsx)which is pretty much the same implementation as TimeSeries panel.

Let's rewrite it to use PanelRenderer with TimeSeriesPanel rather than having this additional wrapper. PanelRenderer with TimeSeriesPanel is already used successfully with Alert

[2021-09-06 07:41] mckn commented on #38575
@tatsutaigu to me it sounds like the `_value` is missing from the returned data when changing the time range. Can you please provide the data being returned from the two different scenarios?

Also, can you please verify that you are using the macro to specify time range in your query?

You can extract the panel data by doing the following steps:

1. Inspect the panel to bring up the panel inspecto

[2021-09-06 07:54] marefr commented on #38533
@hugohaggmark don't think that matters in this case. Seems like a problem with `timeend` field being of type `number` rather than type `time`.

[2021-09-06 08:01] tuhnu9089 opened #38867 "Add "include image" option into Notification settings. ngalert"
**Why is this component needed**:
ngalert is a good continuation of the alerting in grafana, but getting alerts without images is inconvenient.
In my opinion "include image" is a very useful function.
___
 - [x] Is/could it be used in more than one place in Grafana?
_This feature is already available for simple alerts (without ngalert)_

**Where is/could it be used?**:
The **include image** should

[2021-09-06 08:02] tetsuya28 opened #38871 "Grafana8 Dashboard Image Render"
**What happened**:
In grafana 8, I cannot get image for a dashboard page, even with grafana-image-renderer plugins and image render sidecar.
In grafana 7, I get these images from following url.
[code]
Is there a way to get dashboard image in grafana 8?

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Enviro

[2021-09-06 08:21] marefr commented on #38533
@hugohaggmark  Looked at the wrong field, yes I think you're correct having to multiply, but with 1000 as a workaround.

@Gjed as a workaround please try multiple the value of timeend with 1000, e.g:
[code]

[2021-09-06 08:25] hugohaggmark commented on #38533
Oops, thank you @marefr

[2021-09-06 08:30] marefr commented on #38533
Seems like the special code for treating `timeend` as `time` in table queries (annotations) was removed sometime from v7.5.x , see the old code from v7.5.x:
https://github.com/grafana/grafana/blob/991b83c55b0f1c10dc4e16220ce8f13823e3ff4d/pkg/tsdb/sqleng/sql_engine.go#L247-L273

[2021-09-06 08:34] mckn commented on #38583
@byte-opps thanks for appending the panel.json. However I can't really see where the issue is and you have not provided any reproduction steps.

When I have a look at this it looks like the `dt_start` is a `DateTime` value and what you really want to query for is the differens between that value and `now`, right? The standard options that you are using will only present the value and no used by th

[2021-09-06 08:34] #38583 closed

[2021-09-06 08:47] ivanahuckova commented on #38619
@pbrissaud Could you please paste the whole error from the console and also if there are errors in network tab. That would be super helpful! 🙏

[2021-09-06 08:50] gabor commented on #37994
very strange! could you try this?:

- export the JSON and then import it as a new dashboard
- remove everything from that dashboard, except the not-working variable-query
- export the JSON from the new minimal dashboard, and upload it here? (please check the JSON and make sure no private/secret info remains in it)

[2021-09-06 09:09] peter-miroshnikov commented on #38851
The problem was clearly me.

I Swear to god, the setup worked without configuring the Roles on Azure.
I was assigning roles from grafana to the newly created users and it worked like a charm.
It worked good for months.

After a recent re-install i experienced the described problem in the issue.

The problem is solved by assigning grafana roles in azure ad Enterprise Applications.