[2021-04-16 13:26] syh-rapha commented on #22271
@seism0saurus the idea is that if you are using the Logs Panel you can add the line_format on your query so it will show only the specified field, like `line_format "{{.RequestPath}} - {{.Message}}"`. You might wanna check the LogQL docs on this function and experiment a little on the Explore tab.

[2021-04-16 13:40] dprokop commented on #32841
@JanHBade tried with anonymous login and still the same- I get 1.6.1 installed.

[2021-04-16 13:40] leeoniya commented on #33073
yes, this looks like a duplicate of #32006.

your proposed fix sounds reasonable, and was likely the original intent of that code.

as i mentioned in #32006, the histogram functionality is being completely rewritten into a new panel. the way it does bucket control and tick determination is entirely different and should achieve exact bar/tick alignment and x axis padding.

you can try out the new c

[2021-04-16 13:43] #32816 closed

[2021-04-16 13:51] dprokop commented on #32940
@AdmiralGT can you share the data from the panel and the panel JSON? You will find panel inspect helpfult to get it: https://grafana.com/docs/grafana/latest/panels/inspect-panel/

[2021-04-16 15:04] bblazei commented on #6592
Happy Friday!

Here y'all go:
https://github.com/grafana/grafana/pull/33075

PS only accessible by non +1'ers ;)

[2021-04-16 15:06] #22164 closed

[2021-04-16 15:08] mckn commented on #28210
I'm closing this issue due to inactivity.

[2021-04-16 15:08] #28210 closed

[2021-04-16 15:10] mckn commented on #29925
I'm closing this issue due to inactivity. Please respond and add more information if you want this to be reopened.

[2021-04-16 15:10] #29925 closed

[2021-04-16 15:37] mckn commented on #31331
I'm closing this issue due to inactivity. Please respond and add more information if you want this to be reopened.

[2021-04-16 15:37] #31331 closed

[2021-04-16 15:53] mckn commented on #31559
I'm closing this issue due to inactivity. Please respond and add more information if you want this to be reopened.

[2021-04-16 15:53] #31559 closed

[2021-04-16 16:07] mckn commented on #31963
I'm closing this one due to inactivity. Please respond and provide some more information if we should reopen this issue.

[2021-04-16 16:07] #31963 closed

[2021-04-16 16:07] mckn commented on #31916
I'm closing this one due to inactivity. Please respond and provide some more information if we should reopen this issue.

[2021-04-16 16:07] #31916 closed

[2021-04-16 16:09] mckn commented on #31822
I'm closing this one due to inactivity. Please respond and provide some more information if we should reopen this issue.

[2021-04-16 16:09] #31822 closed

[2021-04-16 16:10] mckn commented on #32260
I'm closing this one due to inactivity. Please respond and provide some more information if we should reopen this issue.

[2021-04-16 16:10] #32260 closed

[2021-04-16 16:11] mckn commented on #32165
I'm closing this one due to inactivity. Please respond and provide some more information if we should reopen this issue.

[2021-04-16 16:14] mckn commented on #32685
I'm closing this one due to inactivity. Please respond and provide some more information if we should reopen this feature request.

[2021-04-16 16:14] #32685 closed

[2021-04-16 16:47] #33064 closed

[2021-04-16 17:31] agn-7 opened #33080 "x509: failed to load system roots and no roots provided" webhook=Telegram"
I'm using the Telegram alert notifier for alarms in Grafana but I'm dealing with the following error when an error happens or I test the Notification Chanel:

[code]

Actually, I checked this path (`/etc/ssl/certs/ca-certificates.crt`) in the Grafana container but it does not exist and when I want to create `certs` folder and copy `ca-certificates.crt` manually I encounter with the following error

[2021-04-16 18:12] aleheux-tc opened #33082 "Visual query editor for Flux (InfluxDB 2.0)"
There is no visual query editor for Flux, which is the InfluxDB 2.0 query language. There is one for InfluxCL (1.x).

This would greatly help those who are not (yet) very familiar with Grafana/InfluxDB.

[2021-04-16 18:27] flitjoe commented on #31374
We're having an issue editing Grafana tiles in Chrome & Edge (Chromium) ONLY when screensharing in MS Teams. We've done working sessions with stakeholders via zoom but today when trying in MS teams, clicking the title drop-down carrot to try and edit, does nothing. If you stop sharing that particular browser window, you can then edit. Is it worth making a new ticket or is it related to this issue?

[2021-04-16 18:28] rejeevd commented on #32960
Looks like the issue was on the client side. our calls to Grafana were going through a proxy and it was timing out.
Please consider this issue resolved for now. If it turns out otherwise I will reopen.
Sorry for the inconvenience.

[2021-04-16 18:28] #32960 closed

[2021-04-16 19:09] leeoniya commented on #33014
this might be pretty tough to do with axis auto-sizing. a much simpler path would be to add support for insetting the axis labels:

https://jsfiddle.net/580jdL7n/

![image](https://user-images.githubusercontent.com/43234/115072584-6676c780-9ebd-11eb-859b-4c3e738a4eb9.png)

[2021-04-16 19:50] BitProcessor commented on #33014
Could it be an option that 'hiding' the Axis simply sets the text to the backgroundcolor? Wouldn't that keep the alignment the same with a panel that has a 'visible' Y-Axis ?

The option presented above doesn't really look nice either if you ask me. Personal opinion of course.

[2021-04-16 20:02] Phara0h commented on #25561
Any updates on this bad boy?

[2021-04-16 20:24] leeoniya commented on #33014
i agree. however, there's _a lot_ to figure out here because anything we do has to support a vast number of dashboard configs and arrangements, not just one with two stacked time series graphs.

1. aligning y axis widths is only useful if the graphs are vertically stacked. otherwise it would look weird, with empty unused space. this means trying to understand dashboard layouts composed of maybe 15

[2021-04-16 21:40] bobrik commented on #32873
I think #32513 fixes the issue.

[2021-04-16 22:20] krzd7 commented on #32816
Nevermind, lets re-open this.

I have new info: that issue (display "null" without being able to overrite) only occurs if your result / MySQL table does not return a single row for that column that is not null.

Steps:
- Create a table containing two datetime cols: A and B;
- Add a few entries for that table, but only set the datetime value for col A;
- Column B - containing only null values - wil

[2021-04-16 22:36] bobrik commented on #32873
I backported this into our internal instance and it works well with prometheus v2.26.0.

[2021-04-16 23:54] morsik opened #33086 "Docs: Add Data links example to ElasticSearch provisioning documentation"
**What would you like to be added**:

Currently Grafana has ability to provision Data Sources, Dashboards and other stuff. But unfortunately, it's not possible (or I haven't found?!) how to provision Data Links for ElasticSearch data source. I mean this part which I'm trying to migrate to provisioned setup and I just can't.

![Screenshot from 2021-04-17 01-51-56](https://user-images.githubusercont

[2021-04-17 04:56] jmalter opened #33087 "Time window for notification channels"
**What would you like to be added**:
The time window of the notification channels should be individually configurable

**Why is this needed**:
We have different support times. For example from Monday to Friday from 07:15 a.m. to 11:00 p.m. and on weekends from 08:00 a.m. to 09:00 p.m. It should be possible to configure this independently for each channel, as certain emergency alarms go via a diffe

[2021-04-17 05:25] gidhap commented on #31374
same here, using 7.1.5, Chrome, Win10. It worked since it was released. Since a couple of days I can no longer edit. Pull down menu with triangle not available. This happens randomly. Sometimes it takes minutes until it works, sometimes after hours. Best workaround for me is to use Firefox.

[2021-04-17 09:49] MeetzhDing commented on #32780
it should be related to this [@emotion/css issues 2114](https://github.com/emotion-js/emotion/issues/2114).
when i use the @emotion/css, React#130 problem will be reproduced.

maybe we should upgrade @grafana/toolkit config?

[2021-04-17 10:30] MeetzhDing commented on #32780
OR maybe we should upgrade emotion in the @grafana/ui dependencies ?

[2021-04-17 12:27] torkelo commented on #32780
I think this component did not exist in 7.0.3, so a plugin built with Grafana/UI 7.5 is only guaranteed to work in Grafana 7.5

[2021-04-17 12:47] MeetzhDing commented on #32780
In grafana7.0.3, InlineFieldRow and InlineField was existed.
And when using grafana-toolkit, the @grafana/ui package has been added to webpack config `externals`,  So people who using grafana under 7.2.2(tested by our testing engineer ) will get this problem.

i think this @emotion/css problem should be deal with AND it won`t cost too much time.

[2021-04-17 15:13] mikhailredis opened #33089 "7.5.0-Master: Unauthorized error when switching themes in the Anonymous mode"
**What happened**:

It's such a cool feature! Getting Unauthorized error in the Anonymous mode when switching theme:

![Screen Shot 2021-04-17 at 11 09 28 AM](https://user-images.githubusercontent.com/47795110/115117615-8239a680-9f6d-11eb-97cb-340a689ad837.png)

![Screen Shot 2021-04-17 at 11 10 10 AM](https://user-images.githubusercontent.com/47795110/115117622-8960b480-9f6d-11eb-8ab8-c488ef4f648

[2021-04-17 16:18] gitman0 commented on #31374
I've been using Chrome 88 since early February and and Grafana 7.2.0 since Oct 1st 2020. Only within the past 2-3 weeks has the pull down menu stopped working. Very strange...

[2021-04-17 16:23] szerwi opened #33091 "[Time series panel] Tooltip shows only current value"
**What happened**:
When there are 2 queries on time series panel which are sent with different frequency, the tooltip shows only the "current value".
![image](https://user-images.githubusercontent.com/19311511/115119537-24c34b00-9fa9-11eb-8944-9d23e40d2239.png)

**What you expected to happen**:
Old "Graph" panel showed both values
![image](https://user-images.githubusercontent.com/19311511/1151195

[2021-04-17 16:29] szerwi opened #33092 "[Time series panel] Time labels are cut"
**What happened**:
In specific conditions, time lables on time series panel are cut.
![image](https://user-images.githubusercontent.com/19311511/115119724-28a39d00-9faa-11eb-8194-3e5587103601.png)
In this example, last time label is "17.04 18:00", but last two zeros are not visible.

**Anything else we need to know?**:
I have changed date&time formats in Grafana config, but I am pretty sure the pr

[2021-04-17 16:34] szerwi opened #33093 "[Time series panel] Shared tooltip does not work"
**What happened**:
Shared tooltip and shared crosshair does not work with time series panel.
I have tested it with two time series panels and with time series & graph panel.
![image](https://user-images.githubusercontent.com/19311511/115120004-69e87c80-9fab-11eb-835e-86d60d184167.png)

**What you expected to happen**:
It should work the same way as with two graph panels.
![image](https://user-imag

[2021-04-17 17:01] torkelo commented on #33091
This is a bug fixed in time series panel, the old Graph showed values very far from where you where hover

[2021-04-17 17:01] #33091 closed

[2021-04-17 17:02] torkelo commented on #33089
Only supported for logged in users , need to check if user is logged in before trying to save preference change

[2021-04-17 17:32] szerwi commented on #33091
@torkelo What do you think about adding option to display last value, even though the time is different?
I have a graph on which one value is sent every 10 seconds and the other is sent every 10 minutes. In this situation it is hard to hover  the mouse on the point to display the second value.

[2021-04-17 17:46] szerwi opened #33094 "[FeatureRequest]: [Time series panel] Rename mean to average in legend"
**What would you like to be added**:
Old graph panel has "avg" label in the legend. It has been renamed to "Mean" in the new time series panel.
![image](https://user-images.githubusercontent.com/19311511/115121863-40cce980-9fb5-11eb-864c-1f7e56c124a6.png)

**Why is this needed**:
I think "average" or "avg" is more common word and it is easier to understand it, especially for people whose English i

[2021-04-17 17:47] torkelo commented on #33091
No, so many options already.

Why is it hard to move mouse to the datapoint you want to inspect?

[2021-04-17 17:55] szerwi commented on #33091
@torkelo I normally use this panel with 24h timerange. In this situation the interval is 1m, so each point is really close to each other.
The second value on my panel is being sent every 10min (for example at 12:00, 12:10, 12:20).
When I move the mouse about 1mm to left or right, the graph switches to 12:01 and I cannot see the second value (only the first one which is sent every 10 seconds).

[2021-04-17 19:07] leeoniya commented on #33091
i wonder if we should make a transform that can be used to align data to predefined intervals, like 1s, 5s, 10s, 15s...1m, 5m, 10m.

this would trade timestamp accuracy for better aligment.

[2021-04-17 23:32] morsik commented on #33067
That would be pretty useful feature. Like "Dashboard global colors". Always what I do is I pick colors manually as you did.
We should be able at least pick colors manually but globally for whole dashboard based on names/patterns instead of single panels. That may help, a lot.

[2021-04-17 23:49] JichongWu commented on #16190
same issue here too!

[2021-04-18 07:59] jfk9w opened #33096 "Cyrillic values in dashboard data link parameters are not substituted"
**What happened**:
I have a Table panel which pulls data from PostgreSQL database. Most values in the column A of the table are cyrillic. I want to setup a data link to another dashboard using column A values as a parameter. But cyrillic values are not getting inserted into the data link.

**What you expected to happen**:
Data links are created with substituted cyrillic parameter values.

**How to

[2021-04-18 10:03] gillg commented on #22271
I use it also, it's very helpful to have a clean a  readable log panel. You can do almost everything to parse your logs as json or other format.
**But** when you find an interesting line it's extremely frustrating to not be able to view details with all fields ! I thought to a datalink pointing to explorer, but it's not really possible :
* Explorer is not available for viewer users (for security r

[2021-04-18 10:35] guymeron commented on #30936
Hi  @torkelo & @hugohaggmark

I believe the following items are duplicates:
https://github.com/grafana/grafana/issues/30936
https://github.com/grafana/grafana/issues/19172
I would like to contribute a fix which will allow provisioned ACLs in dashboards.
Please let me know if this change is acceptable and I can continue with creating the PR.

[2021-04-18 10:35] guymeron commented on #19172
Hi  @torkelo & @hugohaggmark

I believe the following items are duplicates:
https://github.com/grafana/grafana/issues/30936
https://github.com/grafana/grafana/issues/19172
I would like to contribute a fix which will allow provisioned ACLs in dashboards.
Please let me know if this change is acceptable and I can continue with creating the PR.

[2021-04-18 12:08] haeraeus opened #33097 "Templating error on first dashboard load"
Grafana throws a PostgreSQL templating error on first dashboard load, when a templating variable depends on another variable which defaults to "All", variable refresh is set to "On Time Range Change", and the default time picker is an absolute time range (relative time ranges work).

It seems like a variable that defaults to "All" is not initialized correctly when the default time picker is an abs

[2021-04-18 13:21] #32780 closed

[2021-04-19 03:05] leeoniya commented on #33092
yes, we still have to implement padding auto-sizing. i've added it to the todo list.

[2021-04-19 08:46] ivanahuckova opened #33111 "Tracing: Trace to logs data source field in edit view is too small"
**What happened**:
On current master:
![image](https://user-images.githubusercontent.com/30407135/115207807-3701ce00-a0fc-11eb-9ef3-823d3cca33e7.png)

In 7.5.3:
![image](https://user-images.githubusercontent.com/30407135/115207916-5698f680-a0fc-11eb-9b00-5c13d30ee4b5.png)

**Environment**:
- Grafana version: master 0af90795c6)
- Data source type & version: Tempo, Zipkin, Jaeger

[2021-04-19 08:51] hugohaggmark commented on #33080
Passing this to @grafana/backend-platform

[2021-04-19 08:59] hugohaggmark commented on #33082
Duplicate of #27697

[2021-04-19 08:59] #33082 closed

[2021-04-19 09:01] hugohaggmark commented on #33086
Passing this to @grafana/observability-squad

[2021-04-19 09:03] hugohaggmark commented on #33087
Duplicate of #6592

[2021-04-19 09:03] #33087 closed

[2021-04-19 09:13] Theoooooo opened #33114 "Dropdown dashboard list not displaying the dashboard names in the right direction"
**What happened**:
I've updated from the version 7.4.x to the 7.5.4, and every dashboard link as dropdown are not displaying in the correct way they should be. The names normally display from the right to the left to be able to read the entire dashboard names when the dropdown is expended, but since i've updated, the names are now displayed in the wrong direction.

**How to reproduce it (as minima

[2021-04-19 09:21] jamesxwang opened #33116 "tencentcloud-monitor-app plugin's datasource not available in Grafana < 7.3"
**What happened**: Datasource not installed for `tencentcloud-monitor-app` plugin in Grafana version 7.0 & 7.1 & 7.2.

**What you expected to happen**: Support the `tencentcloud-monitor-app` plugin in Grafana version >= 7.0.

**How to reproduce it (as minimally and precisely as possible)**:
1. Use the compose file below:
[code]
2. docker-compose up
3. Enable the plugin
![image](https://user-images

[2021-04-19 09:37] hugohaggmark commented on #33096
Reproduced here https://play.grafana.org/d/sdiNosuGz/cyrillic-values-in-dashboard-data-link-parameters-are-not-substituted-33096?orgId=1

[2021-04-19 09:45] hugohaggmark commented on #33096
Fine until locationUtli.processUrl here
https://github.com/grafana/grafana/blob/41f6af96c4e50cb9b72692f8141f75dea92c7171/packages/grafana-data/src/field/fieldOverrides.ts#L405

Caused by https://github.com/braintree/sanitize-url that sanitizes the url when `disable_sanitize_html` is not set to `true`. `braintree/sanitize-url` have an open issue and PR here that will solve this:
https://github.com/

[2021-04-19 09:48] jmalter commented on #33087
This is not a duplicate, because we requested the configuration on notification channel

[2021-04-19 10:18] stefi994 commented on #32493
Hey @dsotirakis,
Thanks! It's fixed now, the tags are correctly rendered :)

[2021-04-19 10:59] hugohaggmark commented on #33097
Hi @haeraeus and thank you for reporting this can you please supply a sanitized version of your dashboard json. Thank you.

Click the Share Dashboard Icon
![image](https://user-images.githubusercontent.com/562238/104685855-4f78db80-56fc-11eb-9cd4-658a850181c1.png)

Click on Export, and Click on Export for sharing externally
![image](https://user-images.githubusercontent.com/562238/104685907-6ae3e6

[2021-04-19 10:59] barry-luijten opened #33118 "Relative data links starting with / are prefixed by root_url"
**What happened**:
We serve Grafana from a subpath on a url that also contains other subpaths. Grafana is for instance hosted on <url>/grafana/ and another app on <url>/otherapp/.

When adding a data link to a panel with url  /otherapp/, the resulting link is rendered as **/grafana**/otherapp/.

**What you expected to happen**:
I expected that a relative url starting with / should always point to

[2021-04-19 11:42] hugohaggmark commented on #33114
Reproduced here https://play.grafana.org/d/c_knysXGz/dropdown-dashboard-list-not-displaying-the-dashboard-names-in-the-right-direction-33114?orgId=1

[2021-04-19 11:48] barry-luijten commented on #24092
As a workaround, I'm assigning a width of -1 to the columns containing ref-ids, which prevents them from being shown initially, but they are still visible when scrolling to the right. width=0 would be more intuitive and better looking of course ;)

[2021-04-19 11:52] hugohaggmark commented on #33116
Reproducable with the following error for Grafana 7.1.5, seems like the datasource part fails.
[code]

Not sure if we'll backport a fix for this, but I'm passing this on to @grafana/backend-platform

[2021-04-19 12:01] hugohaggmark commented on #33118
Duplicate of #24594

[2021-04-19 12:01] #33118 closed

[2021-04-19 12:04] haeraeus commented on #33097
Yes of course, thanks for the fast and detailed answer!

{
  "__inputs": [
    {
      "name": "DS_DEBI_PROD",
      "label": "debi_prod",
      "description": "",
      "type": "datasource",
      "pluginId": "postgres",
      "pluginName": "PostgreSQL"
    }
  ],
  "__requires": [
    {
      "type": "grafana",
      "id": "grafana",
      "name": "Grafana",
      "version": "7.5.0"
    },
    {

[2021-04-19 12:11] hugohaggmark commented on #33087
I thought `2. As a filter on notifications` would cover your case @jmalter

[2021-04-19 12:21] aknuds1 commented on #33116
Looks as if the issue is that the plugin is unsigned. Can you solve this by configuring plugins.allow_loading_unsigned_plugins as `tencentcloud-monitor-datasource`?

[2021-04-19 12:29] Morriz opened #33120 "colorize log lines according to query"
It is now not possible to "see" which query resulted in what log lines. In order to make sense of log lines that come from multiple sources those need to be identifiable visually. I believe a story for this was already started long time ago, and I was involved in that and we actually already agreed on implementing that. I can't find that issue here, but we agreed that grafana would allow us to cho

[2021-04-19 12:31] Morriz opened #33121 "[FeatureRequest] Show source field for multi query LogQL"
**What would you like to be added**:

In case of a multi logql query an extra column "Source" should be shown that is automatically populated with the query source.

**Why is this needed**:

To discern which query fetched which logs.

[2021-04-19 12:32] Morriz commented on #33121
I also added the following separate "accessibility" issue to address the lack of colors for this problem, but this issue here could be seen as the precursor story to that.

[2021-04-19 12:52] hugohaggmark commented on #33097
@haeraeus thank you for the dashboard.json. I've looked into this a bit and I think your variable $jahr is not receiving any values for the time range stored in the dashboard json. Can you show what the results are for the $jahr variable in the Network tab of Chrome when you first load the dashboard? Because the `IN` clause in the $account variable will fail if there are no values for $jahr unless

[2021-04-19 12:54] hugohaggmark commented on #33120
Maybe someone in @grafana/observability-squad knows which issue @Morriz is referring to?

[2021-04-19 12:56] hugohaggmark commented on #33121
Passing this to @grafana/observability-squad

[2021-04-19 12:59] paniterka opened #33124 "PostgreSQL+TimescaleDB: no data retrieved for intervals below 1s when using $__timeGroup macro in Grafana 7.4.2+"
**What happened**:
I use Grafana with PostgreSQL data source with TimescaleDB installed.
In a query using $__timeGroup macro, when the interval determined by the UI is less than 1s (e.g. 200ms), the macro no longer gets translated to the correct time_bucket function. Instead, the interval passed to time_bucket function in these cases is "0s", which causes an error: "pq: period must be greater then

[2021-04-19 13:00] bergquist commented on #31371
@marefr did you test setting the isolation level just for the delete session or for the whole database?

[2021-04-19 14:18] #31323 closed

[2021-04-19 14:20] aengusrooneygrafana commented on #31447
I am asking the client for more information on their request "If the solution accepts digital certificates, are these certificates verified as per our standards and industry best practices (e.g. requiring approved roots, certification path building, revocation checking via CRL/OCSP/SCVP)?"

[2021-04-19 14:37] da-blok commented on #31374
Same for me with Chrome 90.0.4430.72 (Mac OS), in Safari it is working.

[2021-04-19 14:43] da-blok commented on #25821
I'm having the same issue but the option "Override software rendering list" is already disabled. Also enabling and disabling again did not make any difference.

[2021-04-19 14:54] haeraeus commented on #33097
Yes that's the problem, the `IN` clause fails because there are no values. However, the white query seems to return the right values for $jahr as visible in the first screenshot. But the red query in the second screenshot shows that the variable $jahr is not set so the variable $account can not be set. I don't want a custom All value, because the values may change.

![Bildschirmfoto 2021-04-19 um

[2021-04-19 15:11] jamesxwang commented on #33116
Hi Arve, I can confirm that the datasource is unsigned in Grafana < 7.3 and can load with `plugins.allow_loading_unsigned_plugins`

[2021-04-19 15:29] belperite commented on #27697
My company would like people with little/no development or database experience to be able to pick from the available data items to create graphs, so this is a must-have for us too. Can work around it in the meantime by building the query in the InfluxDB UI, but the copy-pasting the queries to the Grafana UI isn't ideal.

[2021-04-19 15:51] mlewald opened #33131 "Docs feedback: /getting-started/getting-started.md"
Under 'Step 3 Create a Dashboard' for item #1:
   "Click the + icon on the left panel, select Create Dashboard, and then click Add new panel."

the "Add new panel." ending should be updated to "Add an empty panel"

![image](https://user-images.githubusercontent.com/9828569/115265804-6dcfe800-a0ec-11eb-9229-2ebd872645c7.png)

[2021-04-19 15:58] aknuds1 commented on #33116
Closing the issue then, as it's not a Grafana bug.

[2021-04-19 15:58] #33116 closed

[2021-04-19 19:49] zegerhoogeboom opened #33137 "[FeatureRequest] Add configuration option to show/hide sidebar when viewing a graph fullscreen."
**What would you like to be added**:

A configuration option to either show or hide the sidebar when viewing a graph fullscreen (using the "View" option).

**Why is this needed**:

In Grafana 7.4.x the sidebar was hidden when viewing a chart and in Grafana 7.5.x it is shown when viewing a chart as can be seen in these images:
![image](https://user-images.githubusercontent.com/5371096/115291238-caf

[2021-04-19 20:58] sdboyer opened #33139 "Epic: bring new CUE-based config schema system to release-readiness"
#32527 introduces the skeleton of the "scuemata" system for schematizing Grafana objects (primarily dashboards and their constituent parts to start). There's lots of work left to do before the whole system is actually mature enough to power Grafana 8. This epic is intended to enumerate the remaining work.

[This doc](https://docs.google.com/document/d/1qp3flLb6q1dPqTmHQ6MV-o6lOmlctfMNpzTx2MdzucY)

[2021-04-19 21:51] sniff122 commented on #4288
+1 i really would like to have a public dashboard for my discord bot stats but this is my main issue of doing that due to the large amount of records you could fetch

[2021-04-20 01:42] jamesxwang commented on #33116
@marcusolsson Would resign the MANIFEST.txt solve this issue? as it is not a Grafana bug.

[2021-04-20 04:19] saikatharryc commented on #22905
I'm using ambassador Mappings, doing [this](https://www.getambassador.io/docs/edge-stack/latest/howtos/websockets/) worked for me, which means. for those not working, try allowing WebSocket connection upgrade. to their controllers/servers.

[2021-04-20 04:40] hugohaggmark commented on #33097
@haeraeus thank you for that additional info, it's hard to make out which `white` query you've selected in the first image but one thing that looks strange is that you have 2 `white` queries and then 2 `red` queries. You should just get one white followed by one red if you're using the same dashboard json you sent.
![image](https://user-images.githubusercontent.com/562238/115338070-69fe9d00-a1a2-1

[2021-04-20 04:51] hugohaggmark commented on #33124
Passing this to @grafana/backend-platform

[2021-04-20 04:54] hugohaggmark commented on #33137
@torkelo @dprokop is this a regression after React router work?

[2021-04-20 05:03] hugohaggmark commented on #33016
Reproduced with the following docker compose:
[code]

and the following dashboard json
[code]

[2021-04-20 05:18] hugohaggmark commented on #33015
Hi @satyatechy to help you investigate this because I can't repro this [here](https://play.grafana.org/d/q67kawXGz/transform-division-usually-causes-nan-33015?orgId=1). Can you please share a sanitized version of your dashboard JSON? Thank you!

Click the Share Dashboard Icon
![image](https://user-images.githubusercontent.com/562238/104685855-4f78db80-56fc-11eb-9cd4-658a850181c1.png)

Click on Exp

[2021-04-20 05:23] hugohaggmark commented on #32965
Passing this over to @grafana/observability-squad

[2021-04-20 05:38] haeraeus commented on #33097
@hugohaggmark I get two two queries for a variable when I select `Refresh = On Time Range Change`. Their cURLs are exactly the same except for one header in the first white query:
  (white 1) -H 'Referer: https://mygrafana.com/d/2ej6xQuGk/temp'
  (white 2) -H 'Referer: https://mygrafana.com/d/2ej6xQuGk/temp?orgId=1'
  (red 1) -H 'Referer: https://mygrafana.com/d/2ej6xQuGk/temp?orgId=1'
  (red 2) -

[2021-04-20 05:50] dprokop commented on #33137
@hugohaggmark can't be, react router is on master only currently

[2021-04-20 06:25] marefr commented on #31371
The whole database. Just delete is not enough since inserts/updates to annotation and annotation_tag are happening concurrently

[2021-04-20 06:33] dpsenner commented on #23233
We regularly observe this behavior with the latest grafana version (7.5.4). In those situations we do find the following in the logfiles:

[code]

This issue appears to have a different root cause. To me this is not a duplicate to #16638. Please reopen this issue.

When this happened, I had more than one dashboard opened in different browser tabs. Could this be a race condition between multiple qu

[2021-04-20 06:35] aknuds1 commented on #33116
BTW do you mean that tencentcloud-monitor-app is only detected as unsigned in Grafana versions from 7.0.x up to and including 7.2.x? After realizing that might be what you mean, I checked v7.3.x and v7.2.x and it does look that way. However, we don't provide unpaid support for those versions so you would have to upgrade to v7.3.x or higher to fix the issue.

[2021-04-20 06:48] Udayendu opened #33143 "invalid: compilation failed: error at :@xx:xx-xx:xx expected comma in property list, got LPAREN"
**What happened**: Grafana is unable to load data from InfluxDB. But data are visible in InfluxDB GUI and CLI.

**What you expected to happen**: Grafana should be able to read the data correctly from InfluxDB as its already there.

**How to reproduce it (as minimally and precisely as possible)**:
- Make sure to have a vCenter of 6.5 or 6.7 or 7.0 version with some hosts, vms, datastores, clusters

[2021-04-20 07:08] Udayendu commented on #33143
[grafana_error_logs.txt](https://github.com/grafana/grafana/files/6341256/grafana_error_logs.txt)

Please find the attached error logs from grafana docker container.

[2021-04-20 07:12] julienmary commented on #11495
@bergquist : I don't see how this can be a problem is the access to the feature is protected by role, while obviously an admin is the one who input secure fields. When thinking provisioning, one wants to provision the whole config, not just a part of it, then finish stuffs by hands.

[2021-04-20 07:15] torkelo commented on #32858
fixed by https://github.com/grafana/grafana/pull/33066

[2021-04-20 07:15] #32858 closed

[2021-04-20 07:19] SebastianThorn opened #33144 "Docs feedback: /installation/docker.md "User ID changes""
Hello not sure if I'm missunderstanding the docs, but the gid of root is not 1 in my container.
Running: grafana/grafana:7.5.2

[code]

[2021-04-20 07:24] hugohaggmark commented on #33137
of course @dprokop 🙈

[2021-04-20 07:40] hugohaggmark commented on #33097
@haeraeus can you give an example when these errors appear, I can't repro this during initial dashboard load so it would be cool if you could explain or record a small clip when this happens for you. Thank you for your patience!

[2021-04-20 07:40] wxiaofan opened #33146 "Grafana InfluxDB The data source will be added after an error is prompted in the dashboard"
Grafana v7.5.4 (615c153b3a)
infuxdb 2.0

Add data source successfully, but it doesn't work in the dashboard and error pop-up

Templating
Template variable service failed InfluxDB Error: database not found:
Templating [processes]
Error updating options: InfluxDB Error: database not found:

![image](https://user-images.githubusercontent.com/23525119/115356966-bb347e00-a1ee-11eb-883e-67ca0233bae1.png

[2021-04-20 07:55] #32969 closed

[2021-04-20 08:08] hugohaggmark commented on #32865
Closing this issue because it's related to the browser.

[2021-04-20 08:08] #32865 closed

[2021-04-20 08:19] RMartires commented on #14629
[code]

use the cluster ip's so ```http://172.20.207.29:9090/metrics```

[2021-04-20 08:21] hugohaggmark commented on #32886
Hi @JorundMartinsen, we can see that you're using `sudo` before each command, which could mean that Grafana doesn't have access to the plugin folders.  Can you try to rerun it without `sudo` or run the Grafana service as `root`.

[2021-04-20 08:28] bergquist commented on #31371
[code]

My interpretation of that is that the delete statements won't use page lock anymore which I think would prevent this.
Doesn't seem like xorm support isolations so I guess it would have to be included in the SQL statement.

[2021-04-20 08:31] guymeron commented on #19172
@torkelo @hugohaggmark
Please let me know if this change is acceptable.

[2021-04-20 08:31] guymeron commented on #30936
@torkelo @hugohaggmark
Please let me know if this change is acceptable.

[2021-04-20 08:36] oscni opened #33149 "Make maximum variable elements configurable"
**What would you like to be added**:
Sorry for bringing this up again, found some old issue about the same thing but hear me out first before closing it :)
Maximum number of variable elements drawn in the GUI seems to be set to 1000. Would like to have it configurable some way instead of fixed. I need 1100 elements for an example.

**Why is this needed**:
The new time series panel is awesome and i

[2021-04-20 08:37] #32807 closed

[2021-04-20 08:38] haeraeus commented on #33097
@hugohaggmark sorry it's too much effort due to data sensitivity, maybe I can prepare something next week. Is it possible to speak to you or to share my screen with you? The error does only appear when I open the dashboard from a link in Grafana (e.g. from my Home dashboard or from the search shortcut or from /dashboards), not when I open the dashboard in a new tab so that Grafana reloads complete

[2021-04-20 08:38] #31218 closed

[2021-04-20 08:41] hugohaggmark commented on #33097
You can DM me `hugoh` in the public community slack I guess, and we can take it from there?

[2021-04-20 08:42] RanjithPremanand commented on #31980
@lionbee It works well for single grafana instance. But in our setup its multiple instances of grafana where we face this issue

[2021-04-20 08:44] Knocks83 opened #33151 "Problems visualizing booleans in graph"
![image](https://user-images.githubusercontent.com/22529815/115365050-4e0bf300-a1c4-11eb-9e65-f08863102d32.png)

**What happened**:
The boolean value (the bubble popup below) doesn't show the value, while the numbers (bubble popup up) is shown correctly

**What you expected to happen**:
I expected the boolean value to be shown correctly (true/false or even 0/1 like the axis)

**How to reproduce it

[2021-04-20 08:46] hawran commented on #29850
Hi,
I can confirm the same issue for `Grafana v7.5.4 (NA)`:
1. `Ctrl-A` within `grafana` and `Ctrl-V` to `thanos`: `OK`.
2. `LeftMouse` selection within `grafana` and `MiddleMouse` to `thanos`: `Error executing query: 1:4: parse error: unexpected character inside braces: '\ufeff'`
3. `Ctrl-A` within `grafana eXplore Panel` and `Ctrl-V` in `grafana PromQL editor`: `"1:4: parse error: unexpected cha

[2021-04-20 08:48] hugohaggmark commented on #33097
@haeraeus https://grafana.slack.com/ and my handle is `hugoh`, I'm glad to help figuring this thing out.

[2021-04-20 09:01] #33030 closed

[2021-04-20 09:06] JorundMartinsen commented on #32886
I've also found that renaming 'module.ts' to 'module' works.

I'll test with root permission level.

[2021-04-20 09:19] ying-jeanne commented on #33124
seems the bug is introduced by this pr: https://github.com/grafana/grafana/commit/d56c5285e213152c1a4b325da2e9fea6fca5881c, we need to keep the decimals to make sure ms works.

[2021-04-20 09:27] marefr commented on #31371
Ugh that sounds ugly.

Regarding the failed integration tests above I think I received them without the isolation level change. Seems like CI/drone/grafana build pipeline tool are doing something clever when running integration tests. Should probably open a PR with isolation level set on connectionstring and let drone run the integration tests for mysql. I would prefer always using a specific isol

[2021-04-20 09:40] cdupont commented on #19729
Is it possible to create an embedded iframe using the Cloud free-tier of Grafana?
Is it possible to test it locally (e.g. a simple HTML file in my laptop)?

[2021-04-20 09:50] Ma3oBblu commented on #31374
same issue Chrome 90.0.4430.72 (Mac OS), Safari is good with this

[2021-04-20 10:04] ralequi opened #33154 "[FeatureRequest] Allow to create transform plugins"
**What would you like to be added**: The ability to create plugins that adds a custom type of transform

**Why is this needed**: Some kind of data requieres some ad-hoc preprocess that may be too complex for the underlying DB.

Now a days this can be done by very complex queries repeated across many panels (which makes it hard to maintain) or by re-doing panel/datasource plugins to inject such kin

[2021-04-20 10:05] marefr commented on #33124
I opened a PR to resolve this

[2021-04-20 10:07] marefr commented on #23233
@Surfmobile @dpsenner if you're not seeing database is locked errors you should probably have a look at #15316

[2021-04-20 10:13] torkelo commented on #30936
There is an HTTP Api that can be used to provision dashboards and permissions

[2021-04-20 10:15] torkelo commented on #33137
No this is by design

[2021-04-20 10:17] ralequi commented on #31116
This plugin requiere the "other" option that the original piechart has.

**Example**: You have > 50 things to be shown on the piechart, but just a few (let's say 3 of them) have >90% of the cake. Resume the remaining 47 element into one piece called "others" (or a custom text) is necessary for great visualization.

Thanks for the new version. Looks good.

[2021-04-20 10:20] D-wenhao commented on #6222
”offset =- 8h and min doc count : 1“ This method is useful for me at present, the current test is not sure whether there will be other problems

[2021-04-20 10:37] clamstor commented on #448
+1

[2021-04-20 10:46] zegerhoogeboom commented on #33137
Would it be acceptable to make this (globally) configurable @torkelo? Maybe an option can be added under the `panels` section like the following?

[code]

If this is not an interesting feature to put time into from the Grafana team but you would accept a PR I'm happy to give it a go.

[2021-04-20 10:48] szilardk commented on #26767
i have a similar configuration:
grafana: 7.5.4
loki: 2.2.1
logql: {filename=~"server.log"} |= "loaded job" | json
Visualisation: Table
Transform: Label to Query

it is working correctly and extracts the json and displays it in the table. each json attribute as column in the table
@BriceNeo try to update the grafana version

[2021-04-20 10:57] christianTF opened #33157 "[FeatureRequest] Browse controls from a now time range"
**What would you like to be added**:
Currently, if a relative time range is set (now-7d), the browse arrows < > are not shown.

Only when I set absolute time ranges, these buttons are shown.

I would like that the < is also shown with a relative time range.
If I press the < button, Grafana should automatically switch to absolute time range, calculating the absolute start and end based on the set r

[2021-04-20 10:59] bergquist commented on #31371
Yea your right. Would be nice to make it a configuration or feature toggle so we can deploy it on a smaller set of customers first.

[2021-04-20 11:02] torkelo commented on #33137
no option, maybe if there is huge demand. maybe a kiosk mode or option to hide/toggle sidebar

[2021-04-20 11:24] hugohaggmark commented on #33016
I did an investigation and it seems like contextSrv.user doesn't have a value for `orgName` or `login` when called from image renderer.
https://github.com/grafana/grafana/blob/dff78561bca94935e3207e6e1c848a3d9b2d5abd/public/app/features/variables/state/actions.ts#L153

Investigating this further shows that contextSrv.user is populated from the backend here (bootdata is populated from backend).
htt

[2021-04-20 11:49] marefr commented on #31360
Duplicate of #15316

[2021-04-20 11:49] marefr commented on #31360
See update in latest comment in that issue.

[2021-04-20 11:49] #31360 closed

[2021-04-20 12:00] noob2master commented on #25969
Please tell me how to open a seperate feature request for pagination,thx

[2021-04-20 12:03] noob2master commented on #25969
@torkelo Please tell me how to open a seperate feature request for pagination,thx

[2021-04-20 12:07] marefr commented on #33016
I think this is due to only org id, user id and role is set on the context:
https://github.com/grafana/grafana/blob/bc2d90f1405fccd07e2d80b82df8b1b665f62346/pkg/services/contexthandler/contexthandler.go#L328-L332

[2021-04-20 12:10] #27618 closed

[2021-04-20 12:27] dsotirakis commented on #33030
@robert8103 thanks for spotting this, please let us know if you have any other problems with this!

[2021-04-20 12:28] jeka-r commented on #13468
The requested functionality is in great demand

[2021-04-20 12:30] torkelo commented on #33151
The new timeline panel coming in v8 will solve that https://github.com/grafana/grafana/pull/31973

[2021-04-20 12:30] #33151 closed

[2021-04-20 12:49] guymeron commented on #30936
Thanks @torkelo,
In K8S when a pod is deleted and then recreated, its manually defined ACLs don’t exist in the new pod.
This requires http API call upon pod creation.
Until the API call is requested, all dashboards are visible for all user types. This might expose dashboards with data which not all users should be exposed to e.g. customer data which should not be seen outside of EU region.
Since t

[2021-04-20 13:02] hugohaggmark commented on #33143
Passing this over to @grafana/observability-squad

[2021-04-20 13:04] hugohaggmark commented on #33144
Passing this over to @grafana/docs-squad

[2021-04-20 13:05] hugohaggmark commented on #33146
Hi @wxiaofan, seems like something is wrong with your Influx query, seems like the database is not found.

[2021-04-20 13:06] #32845 closed

[2021-04-20 13:08] Elfo404 commented on #24239
Small update: seems to work nicely with the linked PR, would be nice to do some manual testing around all-things-variables in elasticsearch to make sure nothing else is breaking.

<img width="1250" alt="Screenshot 2021-04-20 at 13 56 14" src="https://user-images.githubusercontent.com/1170767/115400849-a3a2c880-a1e1-11eb-975e-4f0f53cb7302.png">

[2021-04-20 13:08] JanHBade commented on #32841
strange things...

I stop the container, deleted the plugins folder from the docker volume by hand, so now the plugin is the newest version, but the website still display the old values

[2021-04-20 13:11] marcusolsson commented on #33116
It seems that for versions prior to 7.3 the app plugins need to provide a signature for each bundled plugin in addition to the signature for the app plugin. From 7.3, bundled plugins uses the same signature as the app plugin.

My first thought would be to add a signature to the bundled plugins, but I'm not sure whether that would break the plugin in recent versions of Grafana. @wbrowne might know.

[2021-04-20 13:15] #33089 closed

[2021-04-20 13:21] hugohaggmark commented on #33149
@oscni we only limit the render to 1000 items, if your variable queries have 1000+ items you can still search for them in the input as shown in the picture below. If this is not the case anymore, then you should report a bug instead because that should work. Thank you.

Example below shows a variable that holds 2187 items and we only render the first 1000, but if you search, you can still find ite

[2021-04-20 13:21] #33149 closed

[2021-04-20 13:33] rodrigorfk opened #33165 "[FeatureRequest] Cloudwatch datasource missing Amplify Console metrics"
**What would you like to be added**:
The AWS Amplify Console is the control center for fullstack web and mobile application deployments in AWS. AWS Amplify is integrated with Amazon CloudWatch, allowing you to monitor metrics for your Amplify applications in near real-time.

Documentation: https://docs.aws.amazon.com/amplify/latest/userguide/access-logs.html#monitoring-with-cloudwatch
Metrics supp

[2021-04-20 14:04] torkelo commented on #25969
we already have that

[2021-04-20 14:15] gouthamve opened #33167 "[explore] Timezone is not honored when entered manually."
**What happened**:
I set the timezone to UTC and entered a time manually:

![image](https://user-images.githubusercontent.com/7354143/115410864-4b74c200-a1f3-11eb-8fd1-847028543e15.png)

But it assumes that the time I entered is Local time and not UTC time (which I intended). Note how 16:15 became 14:15 in the time-bar above.

**What you expected to happen**:
It queries from `16:15` UTC not `14:15

[2021-04-20 14:16] Ruppsn opened #33168 "Docs feedback: /getting-started/labels.md"
Hello,

i am trying to get my syslogs into loki.
I followed the getting-started guide but got the following error inside loki:

[code]

Is it possible that this scrape config is for promtail and not for loki? If so it would be better to say so. Its quite confusing for a new user.

BTW: loki is a really nice tool!

[2021-04-20 14:19] Ruppsn commented on #33168
Never mind....
Should have read Chapter one

[2021-04-20 14:19] #33168 closed

[2021-04-20 15:20] uhthomas opened #33177 "OOM when switching between visualizations"
**What happened**:

OOM when switching from Time Series, to Graph and back to Time Series.

https://user-images.githubusercontent.com/9749173/115421561-f84f3f00-a1f3-11eb-9778-ef2525cc05b5.mp4

**What you expected to happen**:

No OOM.

**How to reproduce it (as minimally and precisely as possible)**:

Please see video for reproduction. Additionally, please see the panel json https://gist.github.c

[2021-04-20 15:27] uhthomas commented on #31724
Hey @leeoniya

I can still reproduce with v7.5.3, yes.

Whilst testing the axis width, I came across another oddity.

![](https://kipp.6f.io/7ZKBZupEoxmM.png)

Setting a static axis width does seem to help as I haven't been able to get it to freeze with it configured.

[2021-04-20 15:42] ivanpiffer commented on #3752
so ... how to share an iframe without a user/password request page? No way ?
I wanna give the iframe code to  the "webmaster" to build a simple site ... but absolutely I dont understand if is possible.

[2021-04-20 16:33] #8552 closed

[2021-04-20 17:10] jessover9000 commented on #32244
Ran the first usability test today and found a few issues that might be bugs (seemed like glitches to the user and I). The test was run with the time series panel. What we found:

### Visualization picker
- [ ] In the visualization list, the user had to click a visualization card twice in order to collapse the viz picker / on first click it didn't collapse
- [ ] In the visualization type cards, fo

[2021-04-20 17:45] matejzero opened #33187 "Rendering issue of drop-down dashboard select in Safari and Grafana 7.5.4"
After upgrading from Grafana 7.3 to 7.5.4, there is now a rendering issue at the top of the page where dashboard select drop-down is. If you are really precise, you can find a spot where drop-down opens. I tried opening Grafana in Firefox, where I don't see this issue.

I tried erasing caches, but it did not fix the issue.

![Screenshot 2021-04-20 at 19 42 00](https://user-images.githubusercontent

[2021-04-20 17:53] oddlittlebird commented on #33144
@xlson, does this look right to you?

[2021-04-20 17:56] UXabre commented on #19943
Hi, I'd like to present my solution to this problem as a patch under review:
https://github.com/grafana/grafana/pull/33162

Please let me know what you think :-)

[2021-04-20 17:58] UXabre commented on #8816
Hi,
I'm currently working on a patch for something like this:
https://github.com/grafana/grafana/pull/33162

It has the ability to set a role for an organization (in which the org with 1 is the main one). Perhaps this could fit your needs as well?

[2021-04-20 18:02] UXabre commented on #6083
Hi, I'm working on a patch that works on X-WEBAUTH-ORG aspect:
https://github.com/grafana/grafana/pull/33162
This patch has the ability to provide a list of organizations that should be assigned to this user and implies that the first ID listed is the default org as well.
Please have a look and feel free to comment any improvement on that subject :-)

[2021-04-20 18:22] vinodiyerrbx commented on #33187
Noticing the same behaviour on Grafana Version 7.2.1 and Chrome Version 90.0.4430.72 (Official Build) (x86_64).

[2021-04-20 19:29] eduardoroliveira opened #33190 "Docs feedback: /getting-started/get-logs-into-loki.md"
The wget link is broken

Change it to https://raw.githubusercontent.com/grafana/loki/main/clients/cmd/promtail/promtail-local-config.yaml

Edit this page is also broken

[2021-04-20 20:28] lux4rd0 commented on #32899
This seems to be the same kind of expectation for InfluxDB as well, correct? I thought I'd be able to use any of the `$tag_` variables, but none seem to come across. I can only get this to work when using Prometheus data sources. Are there examples of how this can be done with other data sources?

Example:

`SELECT mean("usage_idle") * -1 + 100 AS "alias" FROM "cpu" WHERE ("os" = 'linux') AND $tim

[2021-04-20 21:06] eduardoroliveira opened #33192 "Docs feedback: /clients/promtail/installation.md"
the configmap name in volume does not match the configmap name:
- name: promtail-config
        configMap:
          name: promtail-configmap
vs

apiVersion: v1
kind: ConfigMap
metadata:
  name: promtail-config
  namespace: loki

[2021-04-20 21:10] dkozar opened #33193 "[Grafana Enterprise] Cannot start: "Active: failed (Result: exit-code)""
**Environment**: Ubuntu
**Grafana version**: Latest (7.5.4.)

**What happened**:

I’m having a problem starting Grafana Enterprise on Ubuntu.

- I downloaded the Enterprise installation from https://grafana.com/grafana/download?edition=enterprise
- I’ve installed it over the free Grafana instance, which was working fine
- After the installation, I installed the license file, fine-tuned the `defaul

[2021-04-20 22:10] trogau commented on #27234
@hakro: If you look at the browser web developer console you'll probably see an error message relating to CORS headers. The current version of the plugin ships with a hard-coded CORS proxy (https://cors-anywhere.herokuapp.com/).

If you visit that URL you'll see a message saying it is no longer available by default to random users; you can click a button there to temporarily allow your system acce

[2021-04-21 00:41] davidnewhall commented on #11558
As an enterprise customer, this is exactly what I'm after.

Right now I can only send reports to email addresses, and I really want them in Slack.

[2021-04-21 03:09] Airray opened #33197 "Grafana Alert Rules Error "tsdb.HandleRequest() error Error response from server: no org id (<nil>)""
**What happened**:
alert rules error: "Execution Error: tsdb.HandleRequest() error Error response from server: no org id (<nil>)"
![alert rule error](https://user-images.githubusercontent.com/8575461/115487539-790d4a00-a28b-11eb-9f72-e06f2a5d5157.png)

data sources use Loki, and set up Custom HTTP Headers, Loki is work, but alert rules happened error message.
![X-Scope-OrgID](https://user-images.g

[2021-04-21 04:54] hugohaggmark commented on #33177
Hi @uhthomas, how much data is transferred to the client in this case? Can you share screenshots from the network tab? Thank you!

[2021-04-21 04:57] hugohaggmark commented on #33187
Hi @matejzero can you repro this on https://play.grafana.org/d/000000012/grafana-play-home?orgId=1

[2021-04-21 04:57] hugohaggmark commented on #33190
Passing this over to @grafana/docs-squad

[2021-04-21 05:00] hugohaggmark commented on #33192
Passing this over to @grafana/docs-squad

[2021-04-21 05:02] hugohaggmark commented on #33193
Passing this over to the Enterprise squad

[2021-04-21 05:04] hugohaggmark commented on #33197
Passing this over to @grafana/observability-squad for initial investigation

[2021-04-21 05:17] hugohaggmark commented on #32743
Hi @satyatechy and thank you for reporting this. I can see that you're using over one series/query, which will not work. Which series/query name would you expect to show up in the title?

[2021-04-21 05:18] hugohaggmark commented on #32743
Reproduced here: https://play.grafana.org/d/I3jj79XMz/transform-datalinks-__series-name-does-not-resolve-in-datalinks-when-we-use-transform-32743?orgId=1

[2021-04-21 05:25] hugohaggmark commented on #32746
Closing this issue as I can't repro it on https://play.grafana.org/d/7stpV9XGk/table-panel-filter-for-value-cell-not-working-on-elasticsearch-datasource-32746?orgId=1 and we're trying to limit open GitHub issues in order to better track planned work and features.

Thank You to you for taking the time to create this issue!

[2021-04-21 05:25] #32746 closed

[2021-04-21 05:32] torkelo commented on #33197
looks like the loki backend is not using the custom headers

[2021-04-21 05:36] torkelo commented on #33193
@dkozar that is strange, seem to hang/crash without any error message.

* Do you have any plugins installed? Try to remove them (just to check if they are the cause).
* Enable debug logging in grafana.ini (maybe gives us more clues)
* Try a clean install (but with the old database, if the same try with a clean db)

[2021-04-21 05:52] lucasmaurice commented on #27542
🙏🏻

[2021-04-21 06:06] dynamik7 commented on #7309
Still no update?
I run grafana-7.1.1-1 with opentsdb.

In alerting, alias does not work at all.
It is same results, even if I set alias with a static string.

![image](https://user-images.githubusercontent.com/35594326/115504522-1039c800-a2b3-11eb-99a6-aee207f1177d.png)

[2021-04-21 06:16] dkozar commented on #33193
No plugins, it's a fresh, clean install.

I'll try to get more logging and get back...

[2021-04-21 06:21] nicolastakashi commented on #22579
It's very interesting feature, any news about that?

[2021-04-21 06:41] mckn opened #33198 "Epic: Unified alerting"
This is an epic issue to track work that needs to be done in the new unified alerting functionality. Try to group the tasks to make it easier to find what you are looking for. This epic is mainly used to track the frontend work.

**Questions**:
- [x] What kind of time ranges should you be able to select in the TimeRangePicker when adding queries? Disable the possibility to select absolute time ran

[2021-04-21 07:40] danmx commented on #32784
Will this version include ability to define custom themes (https://github.com/grafana/grafana/issues/10495)?

[2021-04-21 08:00] vitorli opened #33200 "Adding a new flow unit m3/h"
Maybe I'm wrong, but I searched for this flow unit, I would like to see it in the m3 / h update or tell me if it is possible to make a custom unit
**What would you like to be added**:
Adding a new flow unit m3/h

**Why is this needed**:

for flow measurement

[2021-04-21 08:00] dsotirakis commented on #33080
Hello @agn-7, I can't reproduce - meaning that I can see an actual `certs` folder inside the container and can successfully send a telegram notification. Sure you need these variables there?
[code]

Maybe some overrides are happening?

[2021-04-21 08:23] oscarkilhed commented on #31374
@gidhap @gitman0 @da-blok @Ma3oBblu
There is an issue with the same symptom as this, related to a change in chromes behavior. Upgrading to at least Grafana 7.3.5 will fix that issue. If you're already using a later version of Grafana, please report back.

[2021-04-21 08:26] Ma3oBblu commented on #31374
thanks, we are using 7.0.3, will try to upgrade

[2021-04-21 08:35] alsitn opened #33202 "[Firefox - Grafana 7.5] Mouse wheel vertical scrolling is bugged in query panel"
**What happened:**
In the Query section tab of the Edit Panel of any Graph, vertical scrolling with the mouse wheel no longer works as expected. No other panel or tab suffer the same issue.
In Chrome and Opera everything work as expected.

**What you expected to happen:**
To be able to scroll with the mouse wheel as expected

**How to reproduce it (as minimally and precisely as possible):**
Instal

[2021-04-21 08:37] zoltanbedi commented on #33018
Related to https://github.com/grafana/grafana/issues/31293. We need to make sure that the variable interpolation is consistent in explore.

[2021-04-21 08:38] zoltanbedi commented on #31293
Looks like we do this for interval but not for rate_interval. We should make sure that we have the same behaviour.

[2021-04-21 08:43] davkal commented on #33018
Note that `$interval` is a template variable, and not a built-in variable.

[2021-04-21 08:50] davkal commented on #31293
Note that in #33018 what's being expanded is a template variable `$interval`, not our builtin variable `$__interval`.

[2021-04-21 08:54] gidhap commented on #31374
@Ma3oBblu Upgraded to 7.5.4 following the instructions for Debian https://grafana.com/docs/grafana/latest/installation/upgrading/
Worked right away. Will report back if issues occur again.

[2021-04-21 08:57] jgarciadeltoro commented on #29192
In my case I solved it by setting the data source in Server mode (not Browser) like this:
![image](https://user-images.githubusercontent.com/65986769/115526386-40bc3a80-a290-11eb-87f5-8b9da10b6ff3.png)

[2021-04-21 09:05] Ruppsn opened #33203 "Docs feedback: /getting-started/labels.md"
Hello,
I believe the following is not right:

[code]

If i run these both with the same job_name, only the last one with the same name will be active.
If i change it to something like this:

[code]

Both rules are working.

Can someone confirm this?

I am using promtail 2.2.1

[2021-04-21 09:06] iTrellis commented on #30222
I have the same problem. I have more queries in one panel, but I want some queries do not execute when variables not be selected or default value.

[2021-04-21 09:12] agn-7 commented on #33080
Hello @dsotirakis
Do you mean I should remove those variables? If so, I tried it and I still get the same error.

in fact, there isn't this address (`/etc/ssl/certs/ca-certificates.crt`) in the grafana container.

[2021-04-21 09:53] tsn77130 commented on #12925
For those who use apache2 as proxy, you can use following configuration (with a2enmod substitute)

[code]

[2021-04-21 09:53] dsotirakis commented on #33080
@agn-7 , the following happens when I run it with bash inside the Grafana container `5.1.3`

[code]

can't seem to find the `nginx-selfsigned.key` though.

[2021-04-21 10:49] renchili opened #33205 "Grafana 7.3.5 send /api/metadata/ query to prometheus datasource"
**What happened**:

2021-04-21T18:37:10+08:00 - thanos.xxxx.xxx.xxx   GET /api/v1/metadata HTTP/1.1 404 [upstream_status: 404] 19 0.000 0.000  TLSv1.2 [request_length: 616] - - - Grafana/7.3.5

**What you expected to happen**:

turn this off

**How to reproduce it (as minimally and precisely as possible)**:

randomly reported by user that this query from Web FE will freeze the dashboard loading

*

[2021-04-21 10:51] renchili commented on #28385
bug still reproducible on 7.3.5 version

[2021-04-21 10:51] renchili opened #33206 "still can reproduce"
https://github.com/grafana/grafana/issues/28385

[2021-04-21 11:02] ivanahuckova commented on #33197
Related to https://github.com/grafana/loki/issues/3608

[2021-04-21 11:04] Tomica-G opened #33208 "Data Link showing labels instead of a Title in the Stat panel if only one value is shown"
**What happened**:
The Data Link in the Stat panel shows the query instead of a Title when hovering over the panel.

This is happening only if there is one value showing on the panel and the Display Name is not set. Removing a Title from the Data Link configuration doesn't change anything.

If the panel is showing multiple values or has a Display Name configured, the proper Data Link title will sh

[2021-04-21 11:26] gredezcici commented on #2066
i tried all suggestion mentioned above, none of them worked for me.
at last i changed this line "serve_from_sub_path = true".

[2021-04-21 11:38] osg-grafana commented on #33190
Grabbing this 2-minute fix. Jita is OOO atm.

[2021-04-21 11:39] M0ns1gn0r commented on #32933
It would be nice to have this implemented. I need the `Microsoft.SignalRService/SignalR` metric, which is not on the list, and I don't know how to proceed. Should I create a separate issue with this request?

So realistically, what's the chance that this issue gets resolved any time soon? Is it really planned or just something nice to have in the far future?

[2021-04-21 11:40] nicolaerosia opened #33209 "[FeatureRequest] MySQL should accept DSN parameters"
The current MySQL plugin does not provide a way to pass parameters to DSN [0]

I'm trying to use this plugin with MongoSQLd [1] which is MySQL 5 compliant however the go sql driver complains with the following error and I have no way of adding that parameter.
[code]

In my opinion, there should be a way to add additional parameters AND have an option to override default parameters which currently

[2021-04-21 12:21] GustavJaner commented on #32921
Having a similar issue with dashboards using prom template queries after upgrading from v7.4.2 to v7.5.3. The same prom query used directly from a panel or explore works fine, but when used from a template query variable (to the same prom data source) it gives the following error:
[code]

[2021-04-21 12:46] dprokop opened #33213 "TimeSeries Panel: schemaRev after panel edit remains as before edit making the panel not update after options change"
Probably introduced by https://github.com/grafana/grafana/pull/33098

Going to edit mode clones the panel and creates new PanelQueryRunner. This means that the schema revision is reinitialized (it's scoped to `getData` closure https://github.com/grafana/grafana/blob/master/public/app/features/query/state/PanelQueryRunner.ts#L78). Going back to dashboard(back or via Apply) restores the original que

[2021-04-21 13:29] Foxeronie opened #33216 "Render and share link contains only one item of a multiselect variable"
Hi everyone,

we have the issue, that not all selected variable items are in the share and render link. Only one item seems to be added.

**How to reproduce it (as minimally and precisely as possible)**:
- create a variable with multiselect
- create a graph with a query that contains this variable
- select 2 or more items in the variable
- click share on that graph
Then we only have one variable i

[2021-04-21 13:34] hugree commented on #8816
@UXabre it seems like that would work just fine ;-). Thanks!

[2021-04-21 13:48] Udayendu commented on #33143
A discussion is going on in the community about the same issue and they are expecting some query language issue: https://community.grafana.com/t/invalid-compilation-failed-error-at-xxxx-expected-comma-in-property-list-got-lparen/46315/3

[2021-04-21 13:56] dkozar commented on #33193
@torkelo I've sent you the full (debug) log for you to take a look at.

Thanks!

[2021-04-21 14:04] joshhunt commented on #32933
Hey @M0ns1gn0r - we can't commit to timelines, but this is something that is of a medium priority that we do want to get done.

For now, PRs are welcome for metric namespace additions until this issue is address specifically and/or you have the option of running Grafana from source to get the change in before the release. https://github.com/grafana/grafana/blob/master/public/app/plugins/datasource

[2021-04-21 14:41] oddlittlebird opened #33221 "Docs feedback: Edit this page not working"
@robbymilo - **Edit this page** link is leading to a 404 page.

[2021-04-21 15:29] szatmari opened #33223 "Docker build fails with missing git binary using the Dockerfile.ubuntu version"
Failed to execute ```docker build -f Dockerfile.ubuntu .``` because of missing git binary.

Git tag: 7.5.4

[code]

https://github.com/grafana/grafana/commit/f917c2ab0fdce4af5c63cf9f19475045d654894e misses addig git installation to the Dockerfile.ubuntu.

[2021-04-21 15:42] lux4rd0 opened #33224 "Disabled Sort with Dashboard Variables Still Sorting Returned Values"
I'm creating a Dashboard Variable that uses future day numbers with future timestamps to represent a "from today forward" drop-down selection of days. The InfluxDB query is:

`SELECT ("local_day") FROM "weatherflow_forecast_hourly" WHERE $timeFilter`

Which becomes:

`SELECT ("local_day") FROM "weatherflow_forecast_hourly" WHERE time >= now() and time <= 1619882230662ms`

when I run the query.

Wh

[2021-04-21 15:57] Udayendu commented on #33143
This is a compatibility issue. I fixed it after downgrading the InfluxDB to 1.8.5
So closing this.

[2021-04-21 15:57] #33143 closed

[2021-04-21 16:08] ProjectJYL opened #33228 "[FeatureRequest] Dashboard Variable Debugger Feature"
When the variable definition works, the values are displayed at the bottom. That’s great. When the definition doesn’t work, there’s some sort of errors/warnings fade in/out after some time. However, I think it’d be helpful to

- Persist the errors/warnings, hide/display it for review.
- Have some sort of debugger to see what’s not working. Something like Query Inspector is good.

[2021-04-21 16:24] #26769 closed

[2021-04-21 16:48] jpdstan commented on #32473
hi, just wanted to raise a suggestion from here https://github.com/grafana/grafana/pull/30199#issuecomment-824207988

[2021-04-21 17:01] Rydez opened #33230 "Off-by-one user quota error"
**What happened**:
Unable to login to Grafana

**What you expected to happen**:
Ability to login to Grafana

**How to reproduce it (as minimally and precisely as possible)**:
The following was provided by @ximsandthings:

https://user-images.githubusercontent.com/21091975/115592275-027b4700-a2a1-11eb-93f4-659e2f55dcf3.mov

1. From Grafana Cloud Free add 3 users to the org (the limit)
2. Make sure

[2021-04-21 17:09] LuKePicci opened #33231 "[Feat Req?] Send notification over existing channel API"
**What would you like to be added**: I was looking for an API to create and send a notification via an existing notification channel. It should be the opposite of [alerting_notification_channels/#delete-alert-notification-by-id](https://grafana.com/docs/grafana/latest/http_api/alerting_notification_channels/#delete-alert-notification-by-id) and somehow similar to [alerting_notification_channels/#t

[2021-04-21 17:38] achatterjee-grafana commented on #32890
Fixed.

[2021-04-21 17:38] #32890 closed

[2021-04-21 18:32] agn-7 commented on #33080
@dsotirakis
Thank you. I rewrite a new `docker-compose` with your mentioning points as well as the `renderer` container, and the problem has been solved.

Also, here's the whole `docker-compose`:

[code]

[2021-04-21 19:02] adsche commented on #31374
I'm on 7.5.4 (Centos; via yum repo) and the issue described here now occurs (yes, only **after** the upgrade). I am using a magic mouse, macOS 10.15.7, Firefox 87.0.
Previous ('good') version was 7.3.6.
The issue only occurs with the magic mouse, not with the touchpad. It occurs both on the internal (retina) display and an external (non-retina) display.
Grafana always interprets the click as if I

[2021-04-21 19:36] bergquist opened #33237 "Error rate metrics for the SMTP client"
Grafana should expose metrics about the success rate for emails sent using the SMTP client.

https://github.com/grafana/grafana/blob/master/pkg/services/notifications/notifications.go#L86

[2021-04-21 20:07] oddlittlebird commented on #33192
It seems like this is a Loki issue. Can you transfer it to the Loki repo?

I made this issue in the website repo to hopefully get this problem addressed. https://github.com/grafana/website/issues/4092

[2021-04-21 20:15] acidos commented on #6511
+1

[2021-04-21 21:23] wburgos opened #33242 "Right Y-Axis issue on Graph and GraphWithLegend UI components"
**What happened**:
On Graph and GraphWithLegend UI components, applying a right y-axis to a series doesn't make the values of this series use that axis.

**What you expected to happen**:
The Y-Axis on the right should match the values of the series it's attached to.

**How to reproduce it (as minimally and precisely as possible)**:
Go to https://developers.grafana.com/ui/latest/index.html?path=/st

[2021-04-21 21:27] Rydez commented on #33230
Actually, the issue here seems to be that users are not removed from grafana when a member from an org is deleted from the user portal.

[2021-04-21 21:27] #33230 closed

[2021-04-21 22:30] ryantxu commented on #33242
note that the graph component will be replaced with one based on uPlot -- the config options/structure is all a work in progress, but one of the key features in the new timeseries panel is MUCH better multi-axis support

In what context are you using this component?

[2021-04-21 22:44] skaravad commented on #8816
@UXabre I build grafana from your repo and tested it, it works like a charm, it took me couple of attempts to understand the header setting (may be it is just me) just to add some details:
`X-WEBAUTH-ORGS "1:Admin"`
Here `1` is the `OrgId` , it must exist in grafana , `Admin` the Role (quite straight forward)

Thank you for the feature, really helps us.

[2021-04-21 22:50] zuchka opened #33244 "data links inside table panels render without underline on v7.5.4"
**What happened**:

A community member on our forum noticed this; [here is the thread for more info](https://community.grafana.com/t/tables-and-datalinks-broken-in-upgrade-from-7-3-1-to-7-5-3/46019/8)

After [the recent fix to data links in tables](https://github.com/grafana/grafana/pull/32571), data links no longer appear in the usual fashion. They now appear without an underline, the hover-over

[2021-04-21 23:01] wburgos commented on #33242
I developed a custom panel to be able to use the Graph component with a JSON file as provisioning instead of a classic data source. I wanted to graph multiple series with one being a different unit, so I tried the right Y-Axis for this one.

[2021-04-21 23:10] mooneym17 commented on #18491
do we have any update on this?

[2021-04-22 01:38] lux4rd0 commented on #33224
Update: I ran a test where I populated day numbers against historical timestamps and the behavior was the same:

[code]
<img width="1133" alt="date_variable" src="https://user-images.githubusercontent.com/30187533/115642641-f31bee00-a2e0-11eb-85af-779600114f12.png">
<img width="865" alt="date_epoch" src="https://user-images.githubusercontent.com/30187533/115642643-f3b48480-a2e0-11eb-80bd-3d7f8ee33

[2021-04-22 02:03] UXabre commented on #8816
Hi @skaravad , thanks for checking it out! I will adjust the documentation to explain this better.

[2021-04-22 02:12] mvsousa commented on #33224
@lux4rd0 Hi, I'm new here, just for curiosity end up reading your issue. Isn't because grafana is sorting by the time in miliseconds ? if so, this was not expected ?

[2021-04-22 02:33] lux4rd0 commented on #33224
"Sort" is disabled. Which means "return the results in the order that the data source provides it." If so, the JSON response that I provided should be the result that Grafana displays. The time that is shown is also in the right order. So either way - the sort seems incorrect in that it's still sorting the values rather than by time or returned results.

[2021-04-22 04:38] hugohaggmark commented on #33200
@vitorli we do have custom units https://grafana.com/docs/grafana/latest/panels/field-options/standard-field-options/#custom-units

[2021-04-22 04:38] #33200 closed

[2021-04-22 04:48] hugohaggmark commented on #33202
Hi @alsitn and Thank You to you for taking the time to create this issue!.

I can't repro this issue on MacOS, Firefox 88 with a Logitech Mouse. Closing this issue as I can't repro it and we're trying to limit open GitHub issues in order to better track planned work and features. We can always reopen or revisit this issue if more feedback is given.

![bug1](https://user-images.githubusercontent.co

[2021-04-22 04:48] #33202 closed

[2021-04-22 04:49] hugohaggmark commented on #33203
Passing this over to @grafana/docs-squad

[2021-04-22 04:50] hugohaggmark commented on #33205
Hi @renchili and thank you for creating this issue. The repro steps are really limited and it will be hard to us to investigate this without further info.

[2021-04-22 04:51] hugohaggmark commented on #33205
Passing this over to @grafana/observability-squad

[2021-04-22 04:53] hugohaggmark commented on #33206
Duplicate of #28385

[2021-04-22 04:53] #33206 closed

[2021-04-22 04:54] hugohaggmark commented on #33209
Passing this over to @grafana/backend-platform

[2021-04-22 05:03] torkelo commented on #33244
caused by this https://github.com/grafana/grafana/pull/32370

[2021-04-22 05:05] torkelo commented on #33242
this component will be deprecated in v8 and will likely be removed in a future release.

[2021-04-22 05:14] sidverma32 commented on #32852
@hugohaggmark   I would like to take this up. As this will be my first contribution to this repo. if you can guide me it will be very helpful.

[2021-04-22 05:30] hugohaggmark commented on #33216
Hi @Foxeronie and thank you for creating this issue, I can repro this but it needs a bit of more details. If you have 2 items selected and save that as the default for the dashboard everything works ok as shown in the working example below:

**Working example:**
https://play.grafana.org/d/qg1nUqXMk/render-and-share-link-contains-only-one-item-of-a-multiselect-variable-33216?orgId=1

But if you cha

[2021-04-22 05:42] hugohaggmark commented on #33223
Passing this over to @grafana/backend-platform

[2021-04-22 05:48] hugohaggmark commented on #33231
Passing this over to @grafana/backend-platform

[2021-04-22 06:04] dsotirakis commented on #33223
Thanks a lot @szatmari for spotting this, actually related to https://github.com/grafana/grafana/pull/31802, but will do the same for `Dockerfile.ubuntu` also now :)

[2021-04-22 06:12] matejzero commented on #33187
I can not exactly reproduce this on play.grafana.org, but there is a rendering issue there too. Lower part of the header gets covered when scrolling, but the dashboard is then scrolled behind the dashboard selector.

![Screenshot 2021-04-22 at 07 35 50](https://user-images.githubusercontent.com/4689252/115661541-de217800-a33d-11eb-8b64-86574efbda5a.png)

![Screenshot 2021-04-22 at 07 36 01](https:

[2021-04-22 06:21] JensKrone commented on #16120
am also looking for this

[2021-04-22 06:37] hugohaggmark commented on #33224
Hi @lux4rd0 I can't reproduce this using Postgres and hardcoded values:
![image](https://user-images.githubusercontent.com/562238/115666755-3f991500-a345-11eb-9a37-40a8eb598acf.png)

or InfluxDB with random values (https://play.grafana.org/d/lUSzuqXGk/disabled-sort-with-dashboard-variables-still-sorting-returned-values-33224?editview=templating&orgId=1)
![image](https://user-images.githubuserconte

[2021-04-22 06:39] hugohaggmark commented on #33224
Passing this over to @grafana/observability-squad because I can't see any issue with the templating sorting so this might be an Influx specific issue.

[2021-04-22 07:11] #33223 closed

[2021-04-22 07:32] mjseaman opened #33250 "Docs feedback: /alerting/create-alerts.md"
Images are a bit out of date. Might be worth a glance over the steps as well, to make sure they are still accurate.

[2021-04-22 07:35] Foxeronie commented on #33216
Hey hugohaggmark,
yes, we have the same behavior. If I select multiple items and save the dashboard including current values, the rendered image contains all of the data.
As soon as I select more, the link only seems to have the last selected value.
When I select less, the last item in list seems to be used.
This also happens to any other variable, if you change the value of another one.

[2021-04-22 07:35] oscarkilhed commented on #31374
@adsche do you mind testing out these two sandboxes to see if they work or not?

https://codesandbox.io/s/sparkling-frost-b5ozq?file=/package.json

https://codesandbox.io/s/modest-hamilton-rqi9f?file=/package.json

[2021-04-22 07:43] adsche commented on #31374
@oscarkilhed sure thing! I'm not sure what is supposed to happen / what I'm supposed to do but:

On your first link, when I click boxes, ~3/4 of times they turn red briefly and nothing further happens. I can reorder them by dragging, which is followed by an alert ("success"). But ~1/4 of the time, they move a tiny bit and the alert is displayed even when only clicking (I don't see the mouse cursor

[2021-04-22 07:50] oscarkilhed commented on #31374
@adsche it's probably related to this then https://github.com/react-grid-layout/react-grid-layout/issues/1441

[2021-04-22 08:29] LeeZChuan opened #33252 "THE problem of Time series and monitoring function"
HI,

I have a question about the Time series and monitoring function of grafana, **that is, how does the time series and monitoring function of grafana work?**

Read the latest data according to the refresh time granularity set by the user in advance?If not?Or other option？

Will grafana‘s real-time data reading burden our temporal database? I'm worried that reading in seconds by grafana will caus

[2021-04-22 08:33] torkelo commented on #33252
The refresh rate of dashboards and the frequency of evaluation of alert rules is up to you you can set these to high values so they do not overload your database. For dashboard refresh there is a min refresh interval option you can set for the whole system

[2021-04-22 08:33] #33252 closed

[2021-04-22 08:36] marefr commented on #33231
Thanks for your request. This is out of scope for the alerting feature and alert notifications are not really built for usage outside of alerting why I'm eager to close this. Sounds more like you're interested in a general purpose notification solution. If you rewrite your issue title/description explaining what you need and what problem that would solve without relating to alerting or alert notif

[2021-04-22 08:36] #33231 closed

[2021-04-22 08:39] marefr commented on #22251
@WrightKD sure

[2021-04-22 08:40] marefr commented on #33209
Duplicate of #16539

[2021-04-22 08:40] bergquist commented on #31371
@marefr did you have time to test this?

[2021-04-22 08:40] #33209 closed

[2021-04-22 09:00] thunderpigeon opened #33256 "navigation - dropdown minior update - new keyboard key indicator"
**Why is this component needed**:

___

[Figma file](https://www.figma.com/file/htVIFrTq8e7sx8Olo7L6kZ/Design-system-v2.0-%E2%80%93-G7.4?node-id=4517%3A15826)

 - [ ] dashboard panel dropdown update
 - [ ] new keyboard key symbol component for dropdowns
 - [ ] add keyboard key symbol component to storybook
 - [ ] Add navigation/dropdown to storybook  _"I could not find it"_
 - [ ] Add dropdown lis

[2021-04-22 09:04] LuKePicci commented on #33231
It's not related to alerting, it's all about notifications. I only mentioned alerts as a dirty workaround to get some notification pushed by abusing the alerting backend. I didn't even applied the alerting tag, this issue was moved here with this tag by @hugohaggmark

Of course the existing notifications backend appears to be somehow tight coupled to alerting so maybe you're still involved.

[2021-04-22 09:15] osg-grafana commented on #33203
@oddlittlebird would this be in your court?

[2021-04-22 09:16] marefr commented on #31371
@bergquist thanks for reminding me. Opened #33257 to test mysql integration tests with read committed isolation level.

[2021-04-22 09:18] marefr commented on #33231
Rather than providing a dirty workaround please try explaining your problem without providing a solution. Thanks

[2021-04-22 09:20] LuKePicci commented on #33231
I'm sorry if this was not clear enough.

[2021-04-22 10:04] Zeka13 commented on #6511
bet what be released first, HL 3 or this bugfix

[2021-04-22 10:28] steffenknott opened #33261 "Hidden series appear after other series have been selected and deselected in the panel"
**What happened**:

Using series overrides, series have been configured as "Hidden Series: true" and "Legend: false". As expected, they don't show up. But once another series in the panel gets selected and deselected again (causing all series to show up again), also hidden series appear in the panel.

**What you expected to happen**:

When the panel returns to showing all series, those configured

[2021-04-22 10:36] bigHave commented on #31374
update to newest chrome version ```90.0.4430.85```  has solved this problem.

[2021-04-22 10:40] memoir commented on #31374
not for me

[2021-04-22 10:43] thisisobate opened #33264 "Update grafana-ui components so they use new theme"
**Why is this needed**:
Since our goal is to improve the look and feel of Grafana, we want to update the UI components to use the new theme model. Below is a list of all components that make use of the old theme model.

Relates to #32784

- [x] Alert/Alert.tsx
- [x] AlphaNotice/AlphaNotice.tsx
- [ ] Badge/Badge.tsx
- [ ] BarChart/BarChart.tsx #33266
- [x] Button/Button.tsx
- [x] Button/ButtonGroup

[2021-04-22 10:45] oscarkilhed commented on #31374
@memoir do you mind testning the two sandboxes i posted earlier?

[2021-04-22 10:47] thunderpigeon opened #33265 "input dropdown sub-menu & multi-select"
**Why is this component needed**:

[Figma component playground](https://www.figma.com/file/ITCsaXtsANM17oRtU6GQS9/Component-Playground?node-id=1296%3A4514)

- We "would" have liked to use it on a project. But, only the current multi-select is available. See Slack [Slack chat](https://raintank-corp.slack.com/archives/G01LBUD42LE/p1616019367003900)
- The issue, with the current multi-select is that

[2021-04-22 10:51] memoir commented on #31374
1st link: Success only on "static" boxes
2nd link: Success on all boxes

[2021-04-22 11:14] dsotirakis commented on #33080
Great @agn-7, closing the issue then!

[2021-04-22 11:14] #33080 closed

[2021-04-22 11:23] conorevans commented on #31660
Corresponding PR was closed.

[2021-04-22 11:23] #31660 closed

[2021-04-22 12:35] sunker opened #33270 "CloudWatch: Incorrect dimension in AWS/MediaTailor namespace"
The dimension for AWS/MediaTailor is [Configuration Name](https://github.com/grafana/grafana-private-mirror/blob/6ae73eaa224a25ddcd4f30484dd0d3c06494c917/pkg/tsdb/cloudwatch/metric_find_query.go#L205), when it should be `ConfigurationName`

[2021-04-22 12:57] achatterjee-grafana commented on #33203
@ivanahuckova, can you take a look at this and we can make the necessary doc changes. Thank you!

[2021-04-22 12:58] shanson7 commented on #33216
We have the same issue. Manually adding the extra `&var-VarName=Value` to the image render link seems to work as expected. So this seems to just be an issue when creating the link text.

[2021-04-22 12:59] achatterjee-grafana commented on #33203
@Ruppsn, can you point me to the topic where you found the code snippet? Thank you.

[2021-04-22 13:02] #33270 closed

[2021-04-22 13:03] Ruppsn commented on #33203
@achatterjee-grafana sure thing :)
https://grafana.com/docs/loki/latest/getting-started/labels/

Its the second snippet. Can you confirm that its not working with both job names the same?

Thank you all for your support! Its really nice if a user can feel the community <3

[2021-04-22 13:10] zsiciarz opened #33273 "Explore doesn't display errors in SQL queries"
**What happened**:
In Explore, when executing an incorrect query against a Postgres datasource, database errors are not shown. There's no feedback in the UI what went wrong. When the query is correct, everything works fine and the results are displayed correctly.

**What you expected to happen**:
IIRC there used to be a red error bar which displayed the error message as returned from the database,

[2021-04-22 13:13] zsiciarz commented on #33273
The error bar is there for Prometheus data sources, for example:
![image](https://user-images.githubusercontent.com/182194/115720374-4e032300-a37d-11eb-90a5-db442ea29cbd.png)

[2021-04-22 13:14] martinemplo commented on #33273
I have the same problem
Browser Google Chrome Version 88.0.4324.96

[2021-04-22 13:22] michaelpiron commented on #11585
You can solve this by adding a timezone clause in your query in Grafana:
![image](https://user-images.githubusercontent.com/4469877/115721584-78a1ab80-a37e-11eb-8f4a-b18192cde252.png)

[2021-04-22 13:29] jasperkuperus commented on #6592
Just want to say it's great to see someone put in the effort. Thanks @bblazei

[2021-04-22 13:36] chrisfw commented on #6592
Ditto, thank you!

[2021-04-22 13:42] atellier commented on #1153
I really need this feature as well, as we use code / ids for our labels, and would like to display their friendly names in the legend instead. I can have it hardcoded or from database. I have looked at transformations, read all the issues, etc.... but have not found a way to that.
Anybody succeeded to "hack" a solution until we *hopefully* get official support for that? I will take it for now!
Tha

[2021-04-22 14:00] #25847 closed

[2021-04-22 14:23] #33213 closed

[2021-04-22 14:30] achatterjee-grafana commented on #33144
Assigning to @oddlittlebird. She has started investigation.

[2021-04-22 14:51] bcohee commented on #8341
Thanks for the workaround @w4rgrum

A copy paste of the Regex:

`/^.*range="([^"]+)".*$/`

[2021-04-22 15:00] ivanahuckova opened #33277 "Annotations: Input changes don't work properly"
**What happened**:
I noticed that Loki query editor doesn't render in Annotations. I have found this PR https://github.com/grafana/grafana/pull/32903 that fixes issues with loading angular annotation query editors. I used the same fix for Loki and editor appeared. However, I noticed that I wasn't able to update line limit and type of query. I have tried it with different editor (Cloudwatch) and ex

[2021-04-22 15:03] loganmc10 opened #33278 "Loki: invalid char escape when using a variable with . in value"
**What happened**:
![image](https://user-images.githubusercontent.com/848146/115737259-33af5200-a349-11eb-95ee-9abc9aa3d3ab.png)
![image](https://user-images.githubusercontent.com/848146/115738240-1cbd2f80-a34a-11eb-9689-d2afec9681e2.png)

**What you expected to happen**:
Grafana should properly escape the ```.``` in the value so that regex works properly. Removing the periods (1111 and 2222) make

[2021-04-22 15:04] ivanahuckova commented on #33277
fyi @jackw, @torkelo

[2021-04-22 15:20] FloraJeeva opened #33280 "Graph panel: No line when data is 0 with SQL data"
Hi,

I am trying to get a graph line when the returned value is 0 or anything. I have tried to enable the null value as connected in display tab. but no luck.

using grafana V5.3.1
the database is MySQL

![image](https://user-images.githubusercontent.com/43877207/115740278-49099800-a3ac-11eb-895e-11a4526f495a.png)

[2021-04-22 16:28] gitman0 commented on #31374
Upgrading to google-chrome-stable-90.0.4430.85-1.x86_64 has resolved the issue for me.

[2021-04-22 16:40] renchili commented on #33205
![image](https://user-images.githubusercontent.com/33677006/115751632-f213bb00-a3cb-11eb-8b3c-c3da8e8d55cf.png)
when issue happens nothing work my browser tab will no response to any thing

[2021-04-22 16:50] renchili commented on #33205
the dashboard panel json is :
[code]

[2021-04-22 17:19] grimz-ly commented on #6592
this is really good news to hear for sure. awesome!

[2021-04-22 17:29] loganmc10 commented on #33278
Escaping the string with backticks instead of double quotes seems to have done the trick (I think)

[2021-04-22 17:29] #33278 closed

[2021-04-22 17:29] yorickdowne commented on #11269
I've seen this in `version=7.5.4 commit=615c153b3a`, the very latest as of 4/22/2021.

Can this issue be reopened, please?

[2021-04-22 17:46] achatterjee-grafana commented on #33131
Fixed with PR https://github.com/grafana/grafana/pull/33285.

[2021-04-22 17:58] achatterjee-grafana commented on #31118
Fixed with PR https://github.com/grafana/grafana/pull/32612.

[2021-04-22 17:58] #31118 closed

[2021-04-22 18:01] chrisfw commented on #6592
One question I had is when this will get incorporated into the trunk
grafana release?

Thanks,
Chris

On Thu, Apr 22, 2021 at 1:20 PM grimz-ly ***@***.***> wrote:

[2021-04-22 18:07] grimz-ly commented on #5856
yeah. gaps in Grafana monitoring when trying to leverage as a somewhat traditional monitoring system of many targets. I've used 'targets' solely in reference to Prometheus.

Two key items of value which I know the second has an open issue. I'd love to know if the 1st doesn't and I'll gladly create one.

1. Scheduled pause of alerting at the target level (need to work on a single target)
2. Alertin

[2021-04-22 18:20] lux4rd0 commented on #33224
Small update. I've tested this against every version of Grafana going back to 6.7 and the behavior is the same. To reduce complexity, I also removed the `$timeFilter` variable that was provided in Grafana 7.4+, the same behavior. I switched to using previous dates only. Same issue. I used a single data point for each element rather than lots of data points spread out over time, the same issue. I c

[2021-04-22 18:23] achatterjee-grafana commented on #27384
The issue has been fixed, via PR https://github.com/grafana/website/pull/3934.

[2021-04-22 18:23] #27384 closed

[2021-04-22 18:26] achatterjee-grafana commented on #33131
Fixed with PR https://github.com/grafana/grafana/pull/33285.

[2021-04-22 18:26] #33131 closed

[2021-04-22 18:34] lux4rd0 commented on #33224
Directly from InfluxDB:

`curl -G 'http://localhost:8086/query?pretty=true' --data-urlencode "db=weatherflow" --data-urlencode "q=select distinct(\"local_day\") from \"forecast_hourly\""`

[code]

Or the same query with timestamps:

[code]

[2021-04-22 18:45] oddlittlebird commented on #32723
@dprokop, this looks like something for your team.

[2021-04-22 18:47] oddlittlebird commented on #32723
The way this works is:

**Add an override for** (a field)

**Add override property** (to the field you selected)

Perhaps the button text is too similar? We could make them more different, perhaps less confusing.

[2021-04-22 18:51] leeoniya commented on #32723
maybe better?:

Add property override
Add field override

[2021-04-22 18:55] achatterjee-grafana commented on #32723
A third suggestion:

1. Add an override for(can stay as is)
2. Add new override property

[2021-04-22 18:56] achatterjee-grafana commented on #32723
Removing doc label for now, this is an UI issue.

[2021-04-22 21:28] mukteshkrmishra commented on #8408
This will be really cool.

[2021-04-22 23:18] HaydenBurrows commented on #3935
@wiku-PSNC

A small modification with your code gets y min/max variables working for me.  Removing _. from this line:
`return _.toNumber(this.ctrl.templateSrv.replace(value, this.ctrl.panel.scopedVars));`

For my purpose it allows a text variable/s which a user can populate with a number of their choice.

[2021-04-23 03:46] lux4rd0 commented on #33224
More troubleshooting... I thought about publishing strings instead of integers. Some more inconsistencies. If I use a letter in front of the value, it sorts correctly (unsorted.) If I pad the number with a "0" - it sorts correctly (unsorted - but still padded)). If I don't pad the number, it doesn't sort correctly. (sorted). All of the JSON responses from InfluxDB are in the exact same order.

[co

[2021-04-23 04:06] qixiaobo commented on #31374
Me too

Google Chrome 已是最新版本
版本 90.0.4430.85（正式版本） (x86_64)

[2021-04-23 04:50] hugohaggmark commented on #33250
@mjseaman this is a friendly reminder to add appropiate labels as `type/docs` to make the issue triage smoother for people on issue triage. Thank you.

[2021-04-23 04:50] hugohaggmark commented on #33250
Passing this over to @grafana/docs-squad

[2021-04-23 04:54] ryantxu commented on #33280
Can you try with something more recent?

[2021-04-23 05:18] hugohaggmark commented on #33273
This seems to be fixed on master, maybe @grafana/observability-squad can add which PR fixed this?

[2021-04-23 05:25] hugohaggmark commented on #33261
Hi @steffenknott , thank you for creating this issue. Are you using `graph` or `timeseries` panel? I think it's the latter right?

[2021-04-23 05:59] steffenknott commented on #33261
Hi @hugohaggmark, I am using a `graph` panel (see "steps to reproduce").

[2021-04-23 06:09] hugohaggmark commented on #33261
@steffenknott can you please share a sanitized version of your dashboard JSON (without sensitive data)? Thank you!

Click the Share Dashboard Icon
![image](https://user-images.githubusercontent.com/562238/104685855-4f78db80-56fc-11eb-9cd4-658a850181c1.png)

Click on Export, and Click on Export for sharing externally
![image](https://user-images.githubusercontent.com/562238/104685907-6ae3e680-56fc-

[2021-04-23 06:43] torkelo commented on #33277
@ivanahuckova looking into this now

[2021-04-23 06:46] simonc6372 opened #33296 "Inherited folder permissions can prevent new permissions being added to a dashboard"
**What happened**:
Dashboard permissions can end up with duplicate entries by inheriting a permission from their parent folder that is also defined in the dashboard.  This prevents new entries from being added, and resulting in a confusing error message.

**What you expected to happen**:
Either the duplicate permission not to matter, or for a clear error message directing the user what to do.

**H

[2021-04-23 06:46] da-blok commented on #31374
Same applies for me. Chrome version 90.0.4430.85

[2021-04-23 06:57] steffenknott commented on #33261
@hugohaggmark sure, as the dashboard is quite complex I created a new dashboard from scratch with a minimal example that reproduces the error.

BTW: Is pasting the panel JSON as code best practice or should it be attached or so?

`{
  "annotations": {
    "list": [
      {
        "builtIn": 1,
        "datasource": "-- Grafana --",
        "enable": true,
        "hide": true,
        "iconColor"

[2021-04-23 07:45] M0rdecay opened #33299 "[FeatureRequest] Elasticsearch: allow to remove ".keyword" suffix for grouping fields"
**What would you like to be added**:
A setting that allows change a names of fields in alerts
Unfortunately, transformations are not available for panels with alerts:
![image](https://user-images.githubusercontent.com/50422107/115836980-c838b380-a420-11eb-8d7e-c269f9313a31.png)

**Why is this needed**:
By default, Elasticsearch allows index a field twice - for searching and for grouping.
A field i

[2021-04-23 08:23] ivanahuckova commented on #33121
Actually, for each log line, we actually use refId (id of query row) to crate unique id. So this should be very easy to implement. I couldn't find any other issue/discussion regarding this, so keeping this open.

[2021-04-23 08:29] ivanahuckova commented on #26219
I have looked into response and we actually get all labels, so there is no technical reason on why not to do that.

[2021-04-23 08:31] ivanahuckova commented on #33121
@Morriz Isn't this same as https://github.com/grafana/grafana/issues/33120, just different solution - color vs column?

[2021-04-23 08:33] ivanahuckova commented on #33121
I'll close this in favour of https://github.com/grafana/grafana/issues/33121. Feel free to reopen if I am wrong.

[2021-04-23 08:33] #33121 closed

[2021-04-23 08:36] ivanahuckova commented on #33197
I am wondering, if until grafana/loki#3608 is implemented, it wouldn't make sense to refactor to Prometheus client as  it allows to override and supports range query. @aocenas thoughts?

[2021-04-23 08:44] estermv opened #33304 "[FeatureRequest] Elasticsearch: add support for rate aggregation"
Add [rate](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-metrics-rate-aggregation.html) aggregation to the query editor.

[2021-04-23 09:05] ivanahuckova commented on #32943
@FSeidinger you can toggle *Wrap lines* settings to switch between **wrapping** which preserves newlines, spaces and tabs and **no wrap** that ignores newlines, spaces and tabs. Unfortunately, css property [white-space](https://developer.mozilla.org/en-US/docs/Web/CSS/white-space#values) doesn't have a value, that would ignore newlines and keep spaces and tabs. However, for your usecase, you can j

[2021-04-23 09:05] #32943 closed

[2021-04-23 09:16] ivanahuckova commented on #31638
You might be hitting **query_timeout**. You can [change it in your config](https://grafana.com/docs/loki/latest/configuration/#querier_config). Also it doesn't seem to be related to Grafana and I have found the same issue in Loki repo https://github.com/grafana/loki/issues/3244. So closing this, but feel free to reopen if you think that problem is with Grafana.

[2021-04-23 09:16] #31638 closed

[2021-04-23 09:26] raynigon commented on #14952
Yes please +1

[2021-04-23 09:30] aocenas commented on #32873
@bwplotka should be fixed in 7.5.3. Please reopen if you are still seeing this.

[2021-04-23 09:30] #32873 closed

[2021-04-23 09:32] LeeZChuan opened #33307 "How to change the line chart in grafana with multiple variable variables"
Hi,

How to change the line chart in grafana with multiple variable variables？

When I select a variable, the chart will draw a polyline, and if I select multiple variables, it will draw multiple polylines.

I want to ask: does grafana not support multiple or single selection of objects, adding or deleting line charts in one chart?

ex:
choose one variable
![image](https://user-images.githubuserco

[2021-04-23 09:33] ivanahuckova commented on #33205
@renchili I was looking into this issue. I wasn't able to reproduce this issue. The fact that `/metadata` endpoint returns 404 shouldn't have any negative effect (such as freezing of the browser or not working refresh button). We have done a work on Prometheus query editor and autocomplete in Grafana 7.4. Would you mind updating to (at least) this version to see if the problems persists.

[2021-04-23 09:37] DagobertDokate commented on #14952
+1

[2021-04-23 09:39] Elfo404 commented on #30903
Hi @tle-huu thanks for contributing!

could you please describe your query and what are you trying to achieve? are you using a `date_histogram` or `histogram` bucket aggregation?

[2021-04-23 09:55] M0ns1gn0r commented on #20147
I confirm, `$__timeFilter` works correctly with the relative time, but `$__from` always returns the dashboard time.

[2021-04-23 10:08] Elfo404 commented on #10871
Closing this as probably it doesn't apply to the current table panel, things have changed quite a bit :)

Please feel free to open a new updated issue (or comment on this one) if needed.

[2021-04-23 10:08] #10871 closed

[2021-04-23 10:31] renchili commented on #33205
Our team thinks is too aggressive that update this fast to a new version is too new for us and our Prometheus is not that new version we still using Prometheus 2.19.x

[2021-04-23 10:31] betorvs opened #33312 "Examplars are not working for imported prometheus data source with exemplarTraceIdDestinations configured"
**What happened**:

Examplars are not showing Tempo Link and when I tried to access a datasource in Configurations>Data Sources (imported using grafana chart k8s-sidecar), it throws an error:
[code]

**What you expected to happen**:

I can see the datasouce. And when I try to search using examplars enabled I can see Tempo Link. This is not working too.
I was trying to see examplars links in grafan

[2021-04-23 10:47] jramirezneira commented on #25202
is this feature already available? I need to join two queries from different datasources (cloudwatch and elastiicsearch), but I haven´tn found the way to solve it

[2021-04-23 10:55] hugohaggmark commented on #33261
@steffenknott I can confirm this on Grafana 7.5.4 here https://play.grafana.org/d/zzOvAz9Gk/bugtest?orgId=1. The graph panel will be deprecated and replaced by time series panel in Grafana v8 so this is probably not something we'll fix in the "old" graph panel.

[2021-04-23 10:55] Elfo404 commented on #32044
Hi @cdalexndr thanks for reporting this.

Unfortunately, I'm not able to reproduce this issue, it seems like everything works as expected for me.

The weird thing is in the context panel you see `Found 10 rows` but nothing shows up. this means the panel knows about those results but somehow it doesn't show them.

I'm wondering if this is a rendering issue. Do you, by any chance, get any js error a

[2021-04-23 11:05] hugohaggmark commented on #33299
Passing this over to @grafana/observability-squad

[2021-04-23 11:07] hugohaggmark commented on #33304
Hi @estermv do you mind using our templates for feature requests? Thank you!

[2021-04-23 11:08] hugohaggmark commented on #33304
Passing this over to @grafana/observability-squad

[2021-04-23 11:09] #33307 closed

[2021-04-23 11:10] hugohaggmark commented on #33312
Passing this over to @grafana/observability-squad

[2021-04-23 11:11] robbertvdg commented on #31638
It has to be a grafana config, since I was able to query the exact same query from the grafana container (NOT the UI) to the loki gateway using wget, resolving after +/- 70 seconds.

[2021-04-23 11:20] imskr commented on #32783
Can I work on this @zoltanbedi? I'm new to the project and trying to get started contributing to the project :)

[2021-04-23 11:26] zoltanbedi commented on #32783
Go ahead @imskr. We welcome every contribution.

[2021-04-23 11:48] borisyukd commented on #31638
The same for me. query_timeout was set to 3m. You can find in initial details that Loki API returns data correctly but not the Grafana UI.
Here is Loki `querier` block configuration:
[code]

[2021-04-23 11:56] ivanahuckova commented on #31638
What about your Grafana `timeout` setting in custom.ini file?
[code]

Btw, I have [found this PR](https://github.com/grafana/grafana/pull/31871) that will be part of the next release - we have added UI to add custom timeouts for each data source?

[2021-04-23 11:59] betorvs commented on #33312
hi @hugohaggmark thanks for replying it.
I received some help in grafana.slask.com and now its working:
[code]
 I miss a "-" dash in front of name after exemplarTraceIdDestinations.
 I will close this issue.

[2021-04-23 11:59] #33312 closed

[2021-04-23 12:06] #33277 closed

[2021-04-23 12:15] diogopalma opened #33316 "Table panel and datetime null values"
Reopening issue #32816

**What happened**:
I'm unable to override the null value of a datetime field returned by a MySQL select statement on a table panel.
Basically, this bug only happens if you have a datetime column that is null for all rows.

**What you expected to happen**:
I believe that, if the datetime field value is null, the "No value" property override should work regardless of the data

[2021-04-23 12:25] msaf1980 opened #33317 "Wrong query for resolve variable with tag_value"
**What happened**:
Grafana produce incorrect query for resolve variable with tag_values when depend on multi-value variable with several selected items

**How to reproduce it**:
1) Add 2 variables
route="test1,test2" (Custom type)
gateway="tag_values(route, route = ${route})" (Query on Graphite Datasource with refresh on Time Range Change)

2) On dashboard for variable route try to select test1 an

[2021-04-23 12:35] ivanahuckova opened #33318 "Elasticsearch: For log queries, add limit info to meta object"
**What happened**:
To utilize https://github.com/grafana/grafana/pull/33069, we need to add `meta.limit` to logs dataFrames. Also, we need to change in `adjustMetaInfo`  code ` const limit = limitIndex && logsModelMeta[limitIndex]?.value;` to `const limit = limitIndex >= 0 && logsModelMeta[limitIndex]?.value;`.

[2021-04-23 12:36] ivanahuckova commented on #33318
@Elfo404 fyi

[2021-04-23 13:01] Elfo404 commented on #33318
Thanks!

[2021-04-23 13:10] hugohaggmark opened #33319 "Explore: clicking on RunQuery doesn't work the first time you click but the second it does"
When you click on `RunQuery` immediately without invoking any onBlur then the query isn't executed. But the next time it is.

![bug1](https://user-images.githubusercontent.com/562238/115876059-29bf4900-a446-11eb-89c7-d711e47e85b5.gif)

[2021-04-23 13:23] ivanahuckova commented on #33205
Did you get any errors in console when you experienced this?

[2021-04-23 13:34] marefr opened #33322 "Viewer with editor permission in folder cannot edit dashboard settings/save as"
**What happened**:
Logged in with org role Editor and navigated to a dashboard where I have viewer permission (folder permission Editor can View). Wanted to Save As the dashboard, but Dashboard Settings (where Save As button normally is located) or Save As button is available.

**What you expected to happen**:
To be able to Save As the dashboard to a folder where I have edit permission (even thoug

[2021-04-23 13:40] renchili commented on #33205
`console` is grafana web page console?
yes the error is this:
![image](https://user-images.githubusercontent.com/33677006/115879638-79b90280-a47c-11eb-9406-a13213d5ef5d.png)

[2021-04-23 13:41] renchili commented on #33205
[code]

[2021-04-23 13:45] achatterjee-grafana commented on #33250
We will be re-writing alerts for v8.0.

[2021-04-23 13:48] aknuds1 opened #33323 "Frontend: Webpack injected scripts don't include CSP nonce"
**What happened**:
When enabling [CSP](https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP), Safari won't load Grafana since some dynamically loaded JS bundles don't have the "nonce" attribute. The JS loading errors can look as follows:

[code]

AFAICT this is happening because Webpack injects scripts without the nonce attribute, which is necessary for JavaScript to be loadable when CSP is enabl

[2021-04-23 13:57] ivanahuckova commented on #33205
Web page console. The metadata failed request is okay. As mentioned above, it can fail and doesn't result in any unwanted behaviour. Is that all? Nothin else when you can't click on refresh button?

[2021-04-23 14:08] joshhunt commented on #32933
Could be related https://docs.microsoft.com/sr-cyrl-rs/rest/api/monitor/metricnamespaces/list

[2021-04-23 14:17] borisyukd commented on #31638
@ivanahuckova thanks for the link.
I tested [new version](https://github.com/grafana/grafana/commit/d66a5e65a42e675b33e56cc7930402283e677216) and I confirm that Grafana UI does not fail to render long request if Loki was configured with correct datasource timeout (for instance, 300s).

### Loki API info:
[code]
### Grafana Inspector info:
![Screenshot (90)](https://user-images.githubusercontent.co

[2021-04-23 14:18] #32680 closed

[2021-04-23 14:36] #33322 closed

[2021-04-23 14:39] robbertvdg commented on #31638
That is good to hear! Is this the latest release? And did you change the datasource timeout with the new option?

[2021-04-23 14:46] jessover9000 commented on #31305
Hey team! Reviewed the status quo of the feature. Some nitpicks (not sure whether just issues with my Grafana or yet to be fixed):

- The terminology is a bit messy, some places say library panel, some places global panel. The user research resulted in "Shared panels" so we should remember to check all the views for the right wording 🤓 Could also change "Add current panel to library" button to "Sh

[2021-04-23 14:55] dkozar commented on #33193
It turns out that I had the following problem: https://github.com/grafana/grafana/issues/31061

Deleting the `gel-0.6.0` plugin helped:

`sudo rm -rf /usr/share/grafana/plugins-bundled/gel-0.6.0/`

Many thanks to Grafana team for finding the solution! Closing the issue.

[2021-04-23 14:55] #33193 closed

[2021-04-23 14:57] marefr opened #33331 "API: When deleting a non-existing api key should return 404 not found"
**What happened**:
Deleted a non-existing API key using curl which returned HTTP 200 and a message that it was deleted:
[code]

**What you expected to happen**:
HTTP 404 and a message that it was not found.

**How to reproduce it (as minimally and precisely as possible)**:
See above.

**Anything else we need to know?**:

**Environment**:
- Grafana version: master (3056f86f767ba2c439cb9ead8024ed5d4

[2021-04-23 15:17] marefr commented on #33331
Code for the API handler is here:
https://github.com/grafana/grafana/blob/5e818146deb00dbfcf0f2d3a1b7204a76a8fd103/pkg/api/apikey.go#L39-L50

[2021-04-23 15:33] clord opened #33334 "Improved mechanism for allowing app plugins to inject menus and and actions via `grafanaPanelInspectActionSupplier`"
**What would you like to be added**:

A general way for plugins to register functionality to show on the "Actions" tab on inspector of panel and explore view.

The mechanism is currently an unsupported extension. This item tracks improving it, fully supporting multiple plugins, supported in panel inspector and explore inspector, and finally adding a sub-menu for actions.

**Why is this needed**:

[2021-04-23 15:44] borisyukd commented on #31638
It`s the latest commit from **master** branch that contains PR that @ivanahuckova mentioned in https://github.com/grafana/grafana/issues/31638#issuecomment-825607645.
You may compile it from source or wait for the next release on my opinion.
When you start Grafana you will see new **timeout** parameter in Loki datasource settings.
![Screenshot (91)](https://user-images.githubusercontent.com/521987

[2021-04-23 16:11] johnatannvmd opened #33335 "Panels with timeshift after snapshot does not show the data correctly"
**What happened**:
I have a dashboard with a side-by-side comparison of the same metrics but shifted in the past for a certain amount of time via the variable. For future comparison, I made a snapshot of this dashboard. Panels with timeshift do not show the data and show me the "Data outside time range" message. If I click the button "Zoom to data" metrics from the non-timeshifted panels.

Normal

[2021-04-23 16:19] johnatannvmd opened #33336 "Errors with YUM repo install"
**What happened**:
Got errors when trying to execute `yum makecache`
[code]

grafana.repo
[code]

**Environment**:
- OS Grafana is installed on: CentOS7

[2021-04-23 16:27] renchili commented on #33205
yes nothing else and this is wildly reproducible in our team

[2021-04-23 17:40] wallacebrf commented on #20184
i am trying to use flowcharting and if i can do what i was planning i would need well over 100 queries. i am trying to make a network status diagram with over a dozen switches, showing the status of the ports (up/down), port VLAN ids, switch temps, switch fan speeds etc. per switch this will equate to around 30 queries each.

for the flowcharting in particular we need a much higher query limit

[2021-04-23 17:47] peterbourgon commented on #21435
This also appears to create a problem when a query-based annotation returns more than one timeseries. For example, if I want to annotate with process restarts, I might use a query like

[code]

with `{{hostname}}` as the annotation text. If that query returns e.g. 3 hostnames for a given point in time, only one of them will appear in the annotation tooltip. Bummer!

[2021-04-23 18:25] aocenas commented on #32965
This seems to be specific to the data and that the column only contains labels but does not have any name itself. If there is a name it work the same way whether the values are strings or numbers. Not sure though why there is no name for the column in the first query.

[2021-04-23 18:56] ModestTG commented on #32965
Now that you point that out I am curious as to why no field name is listed there. I am archiving this information using the Telegraf `exec` input plugin. Utilizing JSON data.

Here is the snippet from Telegraf that is archiving this data. Note that I had to explicitly specify the `json_string_field` for the `fs_hash` field:
[code]

Here is a snippet of the code thaat the `tautulli-get-activity.py`

[2021-04-23 21:07] amckinley opened #33340 "GF_AUTH_SAML_PRIVATE_KEY env variable not obfuscated during startup"
**What happened**:
We just turned on SAML auth for our grafana install, and unlike other sensitive environment variables like `GF_DATABASE_PASSWORD` or `GF_SECURITY_SECRET_KEY`, the fields `GF_AUTH_SAML_PRIVATE_KEY` and `GF_AUTH_SAML_CERTIFICATE` are not obfuscated in the startup logs, and are instead visible in their entirety. The log lines look like:
[code]

**What you expected to happen**:
A lo

[2021-04-23 21:22] Krinkle opened #33341 "There's an unidentified bouncy line in my graph"
**What happened**:

Sorry, I don't know.

**What you expected to happen**:

* For the lines to correlate to the data, and the data to be explained in the tooltip.
* For stacked lines not to cross through each other.

**How to reproduce it (as minimally and precisely as possible)**:

<https://grafana.wikimedia.org/d/000000330/varnish-machine-stats?viewPanel=3&editPanel=3&orgId=1&from=1619210663680&

[2021-04-23 21:26] leeoniya opened #33342 "Build: remove leftover debug-only things from production builds"
maybe via.
https://webpack.js.org/plugins/normal-module-replacement-plugin/ or
https://webpack.js.org/plugins/ignore-plugin/

noticed this when figuring out how to introduce spy-like calls to internal functions for performance regression testing to ensure that we initialize and redraw the expected amount of times and in a deterministic order. something like a global `perfLog("redrawChart")` that i

[2021-04-24 00:55] LeeZChuan commented on #33307
But there are nobody can solve the question. So I have to ask there

[2021-04-24 04:03] torkelo commented on #33307
Use the variable in your query

[2021-04-24 07:16] LeeZChuan commented on #33307
Emmm, sir? What you said is too simple. I want to know the specific operation process,

First of all, let me explain the project environment of this problem. They are Grafana v7.5.3. The database is read using simplejson and iotdb-Grafana tools. The following figure shows the effect of my manually writing dead query, realizing multiple data objects on a dynamic line graph. This figure is the effec

[2021-04-24 08:51] ludz-lim opened #33351 "Unable to use Influxdb2 as datasource"
**What happened**:

I'm unable to configure Influxdb2 as a datasource

**How to reproduce it (as minimally and precisely as possible)**:

Create a Influx DB data source, Click "Save and Test",  It returns  "Error reading Influxdb"

![image](https://user-images.githubusercontent.com/21330830/115953088-11b9f900-a51c-11eb-9cdb-c2f1a38e7227.png)

![image](https://user-images.githubusercontent.com/2133

[2021-04-24 15:37] ahmetonurslmz commented on #14629
exact solution for this and all related connection problems between docker images. Connection to prometheus to local app and from grafana to prometheus.
All of these issues is able to solved by using **host.internal.docker** instead of _localhost_ or _local ip_

[2021-04-24 16:44] Phil1pp commented on #31374
I am on Grafana v7.5.4 (615c153b3a) and Chrome Version 90.0.4430.85 and have this issue too.
First link doesn't show success. Second one does.

[2021-04-24 20:43] houmoller commented on #27697
we to rely heavily on having non-technical people design dashboards. This is no longer possible using Flux.

[2021-04-24 23:38] 01findus commented on #4469
+1
I am doing Grafena now for 6h visualising time dependent data in one dashboard and already came across that missing feature. Overall its a great tool.

[2021-04-24 23:44] hsmptg commented on #4469
5 years have passed since this request and... NOTHING!
Are we asking the impossible?!?

[2021-04-25 00:10] manolopm commented on #32972
I've been taken a look to the query inspector in both cases and I think the problem is in the query itself.

With one year so far lapse the query shows this:

![image](https://user-images.githubusercontent.com/60767/115976022-a266f800-a561-11eb-9142-0ba9122a4551.png)

And with last 7 days query show this:

![image](https://user-images.githubusercontent.com/60767/115976037-ce827900-a561-11eb-976f-d

[2021-04-25 03:10] baurine commented on #19354
Can we consider using the virtual list (likes the recycleview in Android) to avoid the performance issue if there are thousands of logs?

[2021-04-25 07:37] hectorj opened #33358 "NodeGraph: context menu doesn't show details if there is no link"
Hi!

I'm experimenting with the beta Node Graph Panel, and I just spent some time figuring out an issue : there is no context menu displayed when clicking on nodes/edges if they don't have at least a link, even though they have `details__`.

Now I see that it was intentionally done in this commit https://github.com/grafana/grafana/pull/29706/commits/1a6bec8033e75c24000262192715dbdbd7084768 but I w

[2021-04-25 07:48] hectorj commented on #30630
Hi!
Adding https://github.com/grafana/grafana/issues/33358.

To add to @lmangani 's remark, I also want to say I was surprised I needed special datasources to use this panel.
I originally wanted to use an SQL datasource, and thought that if I could get the fields right it would work.
But we can't set the dataframes' `preferredVisualisationType` nor `name` from most datasources so this is not curre

[2021-04-25 16:47] szerwi commented on #33091
So, do you plan to add an option like show last not null for the tooltip or something similar?

[2021-04-25 17:37] jayaddison commented on #33351
@ludz-lim While you should be careful not to paste any tokens into this thread, my guess is that the token you have configured on your datasource does not have permissions to read the associated buckets.  Could you check the permissions assigned to the token?

(the token does appear to belong to the correct organization, otherwise I might have guessed at a token-organization mismatch between confi

[2021-04-25 18:30] jayaddison opened #33360 "[yarn] [webpack] [build] Module parse failed: Unterminated comment"
**What happened**:
When running `yarn start` (strictly speaking, `yarnpkg start`) for version `1.22.10` of `yarn` to build and run the `grafana` assets and resources, an `angular.js`-related error appears in the output of the `webpack` build, after SASS compilation has taken place.

[code]

![grafana-webpack-build-error](https://user-images.githubusercontent.com/55152140/116004842-895f5500-a5fc-11

[2021-04-25 22:08] roalonso commented on #18968
Another use case would be having dashboards/panels by isoweeks, which start on Monday no matter which in country it's being viewed.

[2021-04-26 01:52] ludz-lim commented on #33351
@jayaddison  After googling for some time, it seems that token need to have admin permission (Sorry, I can't recall the page where I read it). I made it work by using the admin token.  I'll double check the permissions of the token.

It would be nice if the error message can be changed to "Permission not allowed" instead of "No bucket found in organization". I appreciate the fast reply :)

[2021-04-26 01:52] #33351 closed

[2021-04-26 04:13] #32772 closed

[2021-04-26 04:16] hugohaggmark commented on #33250
Should we close this issue then @achatterjee-grafana ?

[2021-04-26 04:20] hugohaggmark commented on #31305
Thank you @jessover9000, do you have the time to create a new issue out of this?

[2021-04-26 06:42] mckn commented on #33317
Thanks for reporting this however we will remove the tags feature from Grafana 8 so I will close this issue.

https://github.com/grafana/grafana/issues/29602

[2021-04-26 06:42] #33317 closed

[2021-04-26 06:48] jessover9000 opened #33363 "Library Panels: UX improvements"
Hey team! Reviewed the status quo of the feature. Some nitpicks (not sure whether just issues with my Grafana or yet to be fixed):

- [X] The terminology is a bit messy, some places say library panel, some places global panel. The user research resulted in "Shared panels" so we should remember to check all the views for the right wording 🤓 Could also change "Add current panel to library" button to

[2021-04-26 07:11] fatbasstard commented on #32831
Any update on this issue?

[2021-04-26 08:36] #32775 closed

[2021-04-26 08:38] aknuds1 opened #33369 "CI: Move nightly Docker image scan job from CircleCI to Drone"
**What happened**:
We should move the nightly Docker image scan job from CircleCI to Drone, and make sure that security issues are communicated in an easily detected manner, f.ex. by sending messages to a dedicated Slack channel.

[2021-04-26 08:38] #26651 closed

[2021-04-26 08:40] #26585 closed

[2021-04-26 08:42] #3368 closed

[2021-04-26 08:49] wbrowne commented on #33336
Thanks for the report @johnatannvmd. Would you be able to share your yum configuration (`/etc/yum.conf`)?

[2021-04-26 08:57] johnatannvmd commented on #33336
@wbrowne
[code]

[2021-04-26 09:11] briskjj opened #33371 "Encrypt datasource password in defaults.ini file"
**What would you like to be added**:

Now the database password is saved in plaintext in the defaults.ini file.
Whether it can be encrypted for storage in the defaults.ini file. Could only be reset by starting grafan-cli?
**Why is this needed**:
Security

[2021-04-26 09:15] ivanahuckova commented on #33205
I can only recommend to update to (at least) Grafana 7.4 as we have done a work to improve Prometheus autocomplete there. I am closing this for now as I wasn't able to reproduce this on the latest version. Feel free to reopen if you encounter the issue on newer version of Grafana.

[2021-04-26 09:15] #33205 closed

[2021-04-26 09:22] oscarkilhed commented on #32794
Currently not sure how to implement thresholds in the pie chart. Having all the slices matching a threshold turn the same color isn't very useful. The options are currently in line with stuff like gauges and stat panels, but the panel does not handle colors in the same way.

Maybe this option should be cut?

[2021-04-26 09:58] dafydd-t opened #33372 "Do not rely on `Content-Length` header for datasource response size metric"
**What would you like to be added**:

Currently, the `datasourceResponseSummary` metric, observed in [`datasource_cache.go`](https://github.com/grafana/grafana/blob/master/pkg/models/datasource_cache.go#L101) is populated with the value parsed from the `Content-Length`  header of the response.

We have seen a small number of examples in Grafana Cloud where some datasources to not send this header

[2021-04-26 10:16] torkelo commented on #32794
It would work but we have not enabled the color scheme "From thresholds" for pie chart yet. We could do that, but not sure thresholds make sense for a pie chart?

[2021-04-26 10:34] tomas-mota opened #33374 "Message field name dissapearing when selecting other parsed fields"
**What happened**:
Overriding message field makes the message field dissapear from list of parsed fields

**What you expected to happen**:
Expected to be able to add parsed fields _alongside_ the message field, when it has been set up when configuring the data source

**How to reproduce it (as minimally and precisely as possible)**:
- Set "message field name" when setting elasticsearch datasource

[2021-04-26 10:36] tomas-mota commented on #33374
Should be labeled as datasource/Elasticsearch

[2021-04-26 10:40] oscarkilhed commented on #32794
This was my conclusion as well after looking a bit deeper into this. Made this PR #33375

[2021-04-26 11:02] ChipWolf opened #33377 "Proposal: abandon the Discord notifier logic in favor of Slack webhooks"
**What would you like to be changed**: Currently, there are two notifiers for Slack and Discord. As Discord [supports Slack-compatible webhooks](https://discord.com/developers/docs/resources/webhook#execute-slackcompatible-webhook), you're able to append `/slack` to a Discord webhook & specify it as a webhook URL in the Slack notifier for an equal outcome. This obsoletes the need to maintain an ad

[2021-04-26 11:02] ChipWolf commented on #33377
Thoughts on this @dsotirakis?

[2021-04-26 11:14] johnatannvmd commented on #33335
Moreover, if I export this snapshot there are no current values, but these values present in the DB.

![image](https://user-images.githubusercontent.com/4918448/116073683-6767e000-a699-11eb-8103-967d3754f903.png)

[2021-04-26 15:50] dprokop commented on #33360
What happens when you remove node_modules, run `yarn install --pure-lockfile` and then `yarn start`?

[2021-04-26 15:54] #7794 closed

[2021-04-26 15:54] #8339 closed

[2021-04-26 15:54] #24239 closed

[2021-04-26 16:00] dprokop commented on #33341
@Krinkle can you be more precise what line are you talking about? Not sure I fully understand what you are experiencing here :)

[2021-04-26 16:41] #32718 closed

[2021-04-26 16:50] Krinkle commented on #33341
@dprokop Can you reproduce the issue at the provided Wikimedia link? The spiky lines have started to show on various other dashboards and data sources as well. It makes no sense to me since:

* The series in question only has zeroes, so there's no reason for the line to be moving at all. The tooltip also confirms the line in question has a zero at all the points where it seems to be alternating to

[2021-04-26 17:25] jayaddison commented on #33360
Thanks for checking @dprokop - the same problem appears after running `yarn install --pure-lockfile` followed by `yarn start`.

[2021-04-26 17:40] christianbookpwood commented on #31374
I'm also having this issue with Grafana 7.2.1. However, Chrome 90.0.4430.85 has not fixed the issue for me as it has with others. No issues in Firefox.

[2021-04-26 17:56] sarahzinger opened #33395 "Flakey Backend Test"
**What happened**:
I recently deployed and ran into a flakey test. The failing test was in alertmanager_test.go:287: `TestPutAlert/Valid_alerts_with_different_start/end_set (0.00s)`

**What you expected to happen**:
For the tests to both pass :)

**How to reproduce it (as minimally and precisely as possible)**:
[Here's where it failed](https://drone.grafana.net/grafana/grafana/18986/1/10) and [her

[2021-04-26 18:14] MorphBonehunter opened #33396 "new table panel show unformatted "no data" (follow up #30545)"
**What happened**:
This is an follow up to #30545.
In the case the table panel got column names, the issue was fixed with an properly formatted "No data to show".
But in case the query returns nothing at all ('[]') then there is only an unformatted "No data" (Screenshot):

![Screenshot 2021-04-26 200817](https://user-images.githubusercontent.com/4989388/116130173-343e4480-a6cb-11eb-9c67-baaa93d484

[2021-04-26 18:43] jkmnt commented on #4929
Would be nice to have this feature too. Just an implementation idea, maybe the Grafana team cosider it someday: new kind of transform.

Get min/max as reduced value in query B, set as min/max to query A. There are already transforms to change metric attributes (displayname), and cross-query transforms (join series ?)
Maybe even some generic 'Query B=> Query A attribute' transform for the numeric/o

[2021-04-27 04:07] Incrediblez7 commented on #448
+1

[2021-04-27 05:33] immohsin commented on #32461
Can I pick this issue as an outside contributor?

If yes please point me to the appropriate directory. Thanks!

[2021-04-27 07:34] #33264 closed

[2021-04-27 07:40] wwuck commented on #24132
@aknuds1 should this change be reverted?  Docker, OWASP, and hadolint have all recently removed their recommendations against updating packages in Dockerfiles.

https://github.com/hadolint/hadolint/issues/562#issuecomment-806869952
https://github.com/OWASP/CheatSheetSeries/pull/614#issuecomment-806209720
https://github.com/docker/docker.github.io/pull/12571

[2021-04-27 07:55] #33167 closed

[2021-04-27 08:09] #32966 closed

[2021-04-27 08:10] amnonh commented on #23319
@jongyllen @peterholmberg can you please reopen this issue?
Similiar to #32585 we have users without edit permissions, we still want them to be able to use the explore section (for example, this the only available way to look at traces)

There needs to be a way to specify to distinguish between edit previlages and those functionality

[2021-04-27 08:40] dprokop commented on #32893
Fixed by https://github.com/grafana/grafana/pull/33400

[2021-04-27 08:40] #32893 closed

[2021-04-27 08:55] aknuds1 commented on #24132
@wwuck thanks for the update - do you know if there are canonical sources of advice on the matter?

[2021-04-27 09:15] #33237 closed

[2021-04-27 09:31] oscarkilhed opened #33410 "suggestions missing from data links editor"
**What happened**:
Tried to open suggestions in data links editor

**What you expected to happen**:
suggestions portal to open

**How to reproduce it (as minimally and precisely as possible)**:
add data link, press ctrl+space

grafana master

[2021-04-27 10:06] ivanahuckova opened #33414 "Errors in Explore have blurry text"
**What happened**:

![image](https://user-images.githubusercontent.com/30407135/116224177-9ee59380-a750-11eb-9e53-4707ba732981.png)

With `text-shadow: none`:
![image](https://user-images.githubusercontent.com/30407135/116234352-c5a9c700-a75c-11eb-9166-ba50dbd03339.png)

**Environment**:
- Grafana version: master 58a325a4e4

[2021-04-27 11:33] #33395 closed

[2021-04-27 12:02] zoltanbedi commented on #31968
I couldn't reproduce this. Can you please try [play.grafana.org](https://play.grafana.org/explore?orgId=1&left=%5B%22now-1h%22,%22now%22,%22Prometheus%22,%7B%22exemplar%22:true%7D%5D) or provide some more details?

[2021-04-27 12:05] kylebrandt opened #33417 "Left Menus unselectable in Create Alert at Certain Window Sizes"
**What happened**:
In the new edit alert rule for a Grafana managed Alerting, unable to select the left menu.

https://user-images.githubusercontent.com/1692624/116238353-3b973980-a72f-11eb-9f3b-46dae4828f91.mp4

**How to reproduce it (as minimally and precisely as possible)**:
Haven't figured out exact sizes this happens at, seems to be smaller sizes? `1245x1053` was what I capture the video at.

[2021-04-27 12:48] MinDBreaK commented on #31968
I just added the screen recording on play.grafana.org where the issue still occur. I'm not sure what I can provide you more than what's in the original ticket.
Just make sure that you are on the right layout as the dead-key behave differently if you have a US layout or a french one for example.

https://user-images.githubusercontent.com/15737031/116243598-62716200-a767-11eb-9639-b71a09522691.mp4

[2021-04-27 13:13] #33414 closed

[2021-04-27 13:21] kaydelaney commented on #33363
Some thoughts:

For me it looks like this:
![image](https://user-images.githubusercontent.com/45561153/116247378-b299f580-a762-11eb-91de-5fe123d13d5d.png)

Not 100% sure what "while the picker is expanded" means? Since currently the visualizations and global panels are categorized with tabs, I worry it might be a bit confusing to receive the results for one tab while the other tab is selected. Or

[2021-04-27 13:43] torkelo commented on #33244
think we need to revert #32370

[2021-04-27 13:43] wwuck commented on #24132
@aknuds1 I just noticed this when I was reading the [hadolint releases changelog](https://github.com/hadolint/hadolint/releases/tag/v2.2.0).  Not being a docker expert, I guess the most "official" source that I can find would be the [docker pull request](https://github.com/docker/docker.github.io/pull/12571) removing the advice to not do upgrades from their best-practices documentation.  There isn

[2021-04-27 13:46] aknuds1 commented on #24132
@wwuck thanks, we will look into it. Dockerfile best practices are difficult to determine.

[2021-04-27 13:50] wwuck commented on #24132
@aknuds1 This article at https://pythonspeed.com/articles/security-updates-in-docker/ also gives some compelling reasons for running upgrade inside the Dockerfile.

[2021-04-27 13:51] J0WI commented on #24132
If you upgrade an existing package you will end up with both versions in the image if you don't squash the layers

[2021-04-27 14:16] #32921 closed

[2021-04-27 14:30] #25374 closed

[2021-04-27 14:35] reuvygroovy opened #33429 "Unknown Variables and strange view"
We are using 7.5.1

When I view the variables on my dashboard I see:

![image](https://user-images.githubusercontent.com/1325158/116259746-c0f60a80-a77e-11eb-9f9b-927afcfbca97.png)

And then when I try to view the items I see a really small/zoomed-out view:
![image](https://user-images.githubusercontent.com/1325158/116259826-d2d7ad80-a77e-11eb-9ed0-2a69d2a193f3.png)

Also not sure what the "$__dat

[2021-04-27 14:51] alanqcb opened #33434 "Allow data table to show one value column but sort by another (hidden one)"

[2021-04-27 14:56] leahoswald commented on #32048
Is the image not displayed at all or just not loaded? In the second case you get some grey replacement in slack

[2021-04-27 15:06] leahoswald opened #33435 "fill below to not working properly"
![Screenshot2021-04-27_16-50-44](https://user-images.githubusercontent.com/1292551/116263662-d61c6a80-a779-11eb-9b2c-2a18abd92896.png)

**What happened**:
I tried to use the fill below to override but it doesn't work properly. The lines mentioned in the override (best/worst) are not display and not filled too. But if I hove over the graph I can see the datapoints in the tooltip (see screenshot).

[2021-04-27 15:56] yarix opened #33437 "Data Sources configuration page is broken after upgrade to 7.5.4"
**What happened**: Data Sources configuration page is not accessible,

**What you expected to happen**: use the configuration page to setup my datasources.

**How to reproduce it (as minimally and precisely as possible)**:
* install Grafana v7.0.0 (aee1438ff2)
  * click the Configuration gear -> Data Sources; make sure the data source page is working.
* upgrade to Grafana v7.5.4 (615c153b3a)
  * c

[2021-04-27 17:12] #33434 closed

[2021-04-27 18:55] VladislavYak opened #33443 "uncorrect links from DataFrame"
**What happened**:
I got table which considers links to specific microservices (column named services).
Here's how i provided links from _Dasboard settings --> Overrides_
![image](https://user-images.githubusercontent.com/69644103/116295511-d7618d80-a7a1-11eb-8369-0f0e6e539a6a.png)

It works well when i do not sort my dataframe by any column, but  when i do that it navigates me to the wrong servic

[2021-04-27 19:01] torkelo commented on #33437
@yarix what happens if you refresh the browser page? This error is common after an upgrade, you need to refresh the browser

[2021-04-27 19:33] srclosson opened #33446 "Series name in panels never updates on latest master if template variables change"
**What happened**: When changing a template, the name of the series returned never updates on any panels. I've tested on table, graph, timeseries, stat, and div panel. In the div panel, this was my data update. I just wanted to show metadata...

[code]

**What you expected to happen**: If I change the template value, I would expect the series name to update. I have verified that the query returned

[2021-04-27 19:58] SunSparc commented on #24495
I am glad I found this issue. I have been digging around trying to find a way to fix this. Glad to see it is not just me and apparently been going on for a year now.

[2021-04-27 20:35] #30678 closed

[2021-04-27 20:59] eljimbo opened #33448 "Grafana webhooks only working from the CLI"
I am hoping that someone can help with a weird issue with the webhook alerting notification channels. We are using Zoom for our company messaging platform and I want to be able to send alerts from various panels etc to a monitoring channel. The incoming webhook has been setup and added as an app to zoom and when I test using a curl from the CLI of the grafana VM (Ubuntu 19.10), I get the 'Hello Wo

[2021-04-27 22:04] dharamaraob opened #33449 "Grafana alert giving false alarm"
**What happened**:
[code]
<img width="899" alt="Screen Shot 2021-04-19 at 4 14 21 PM" src="https://user-images.githubusercontent.com/29635138/116316674-24743e00-a767-11eb-9265-57707ea14509.png">

**What you expected to happen**:
[code]
<img width="404" alt="Screen Shot 2021-04-27 at 2 46 23 PM" src="https://user-images.githubusercontent.com/29635138/116317806-b3358a80-a768-11eb-830e-962504c11d43.p

[2021-04-27 22:15] timurista commented on #33449
I observed this also, we were running this on a Kubernetes cluster that was downscaling from 4 pods to 1. During this event, 3 pods were terminating at different times. One was terminated after 1 minute, then another pod was terminated in 2 minutes, then another was terminated in 3 minutes.

I was expecting by the end of 10 minutes that there would not be any alerts sent because we would have succ

[2021-04-27 22:36] dansimone commented on #12971
This issue was closed as of https://github.com/grafana/grafana/pull/22255, but one thing not addressed by that PR is creating all tables _initially_ with primary keys.  What Grafana does now is:
1) Create alert_rule_tag and annotation_tag tables without primary keys
2) Migrate them to new schemas that contain primary keys

However, if you are running using MySQL with `sql_require_primary_key=ON`,

[2021-04-27 22:47] dansimone opened #33450 "Not all tables have primary keys, blocking initial Grafana startup with sql_require_primary_key=ON"
**What happened**:
This issue is a follow up to https://github.com/grafana/grafana/issues/12971.  As described in that bug, if you are using for your Grafana data store MySQL > 8.0.13 with sql_require_primary_key=ON, then Grafana fails to start due to a couple of tables not having primary keys:

[code]

**What you expected to happen**:

That Grafana would be able to start initially, pointing to a

[2021-04-27 23:43] #33449 closed

[2021-04-28 01:40] wwuck commented on #24132
@J0WI Looking at https://github.com/moby/moby/issues/34565 it looks like squash could be removed at some point, and the Docker devs are recommending multi-stage builds instead?

[2021-04-28 04:30] endlesslycurious commented on #2640
To me if the legends don't get sorted consistently then its easy to make the mistake of looking at one chart seeing an interesting metric then looking at the same colour on another chart (graphing different metrics for the same objects) and think your looking at the same object when your not.
![image](https://user-images.githubusercontent.com/61634041/116345965-0fff6800-a79e-11eb-8111-32f3d43e8650

[2021-04-28 05:03] lawhoisun commented on #30925
Hi @torkelo, thanks for the follow up. I managed to solve it in the interim.

I was trying to do the join using a tag from InfluxDB and an integer from MySQL. All I needed to do was convert(id, char) and the join works on 7.5.4 (615c153b3a).

Interestingly, I didn't have to do this conversion in 7.3.

Thanks for keeping this open.

[2021-04-28 05:56] JayjeetAtGithub commented on #565
+1

[2021-04-28 06:30] fcddk opened #33456 "Change admin password always"
Grafana should support to modify the admin account information including the password according to the configuration every time it restarts.

[2021-04-28 06:32] fcddk commented on #33456
It is only the first time to start the settings, which will bring inconvenience to the subsequent reset and maintenance, especially the environment where the docker runs, and use mysql for storage。

[2021-04-28 06:42] fcddk opened #33457 "could not read user from database. Error: User not found"
grafana version: 7.1.3

conf:
defaults.ini:

    [database]
type = mysql
host = mysql.common:3306
name = grafana
user = grafana
password = fcddk

cmd:
    grafana-cli admin reset-admin-password  newpass

[2021-04-28 06:42] fcddk commented on #33457
log:
t=2021-04-28T03:27:55+0000 lvl=warn msg="[Deprecated] the configuration setting 'ldap_sync_ttl' is deprecated, please use 'sync_ttl' instead" logger=settings
t=2021-04-28T03:27:55+0000 lvl=info msg="Connecting to DB" logger=sqlstore dbtype=mysql
t=2021-04-28T03:27:55+0000 lvl=info msg="Starting DB migration" logger=migrator
Error: ✗ could not read user from database. Error: User not found

[2021-04-28 06:43] fcddk commented on #33457
The grafana account has been created in mysql and can log in normally.

[2021-04-28 06:50] torkelo commented on #33435
can you show what the data looks like? very hard to see the best & worst data points, any nulls there?

[2021-04-28 06:55] #27407 closed

[2021-04-28 06:59] torkelo commented on #33341
The issue is the data is being stacked, but the data points do not align so every other data point the stacking is not able to stack as the other series are all null for that data point, try to group the data into wider time buckets (adjust step) so all time have data points, or disable stacking

![Screenshot from 2021-04-28 08-58-12](https://user-images.githubusercontent.com/10999/116360190-f55dd

[2021-04-28 06:59] #33341 closed

[2021-04-28 06:59] aknuds1 commented on #33457
Please fill in our bug template.

[2021-04-28 07:02] mckn commented on #33443
Thanks for reporting this! It should already be fixed in the `7.5.4` version.

See for more information:
https://github.com/grafana/grafana/issues/32981

[2021-04-28 07:02] #33443 closed

[2021-04-28 07:02] ifrost opened #33458 "Explore: Make importing from other data sources consistent across different data sources"
**What would you like to be added**:

Follow up on:  https://github.com/grafana/grafana/pull/33405#discussion_r621144346

**Why is this needed**:

With #33405 we will have the following implementations to map queries between data sources:

* Prometheus -> Loki (https://github.com/grafana/grafana/blob/master/public/app/plugins/datasource/loki/language_provider.ts#L334)
* Prometheus, Loki -> Elastic

[2021-04-28 07:07] dprokop commented on #33316
@diogopalma  do you mind sharing your Panel JSON and data returned by the query? You can find those in https://grafana.com/docs/grafana/latest/panels/inspect-panel/

[2021-04-28 07:09] LeeZChuan opened #33459 "[FeatureRequest] Brush/zooming navigation for time series"
**Adding a new interactive way of dragging a box to the time series line chart**:

Now chart:
![image](https://user-images.githubusercontent.com/48050314/116360820-e3496000-a832-11eb-8e86-d9c6dc3e8f93.png)

Demand chart：I want add the drag box under the Now chart ；
![image](https://user-images.githubusercontent.com/48050314/116360955-0aa02d00-a833-11eb-8e76-5769d734242e.png)

The sample graph is c

[2021-04-28 07:13] BBQigniter opened #33460 "Short URL not working as expected"
**What happened**:
Generating a shortlink does not include selected variables from a templated dashboard - the shortlink always points to the default set ones.

**What you expected to happen**:
Shortlink creation should use the actual selected variables etc.

**How to reproduce it (as minimally and precisely as possible)**:
* Open a dashboard, set a few other variables in the drop-downs
* click on

[2021-04-28 07:17] yarix commented on #33437
@torkelo , i have refreshed the page, deleted caches and cookies. i've also switched browsers. in all cases the problem is the same.
when accessing the page, Grafana tries to fetch a JS that does not exist (http 404).
![image](https://user-images.githubusercontent.com/6409857/116362650-f34d4980-a80a-11eb-9a9f-48d8154db0bf.png)

[2021-04-28 07:19] mckn commented on #33446
@srclosson could you share the dashboard json for the dashboard where the issue occurs? It would be easier to reproduce and understand the issue.

[2021-04-28 07:27] mckn commented on #33448
@eljimbo thanks for reporting this! Do you get any more errors in the logs? The error you attached seems to only showing the request log and not the underlying error.

Also, next time you report an issue please use our template it helps us to triage the issues easier and quicker.

[2021-04-28 07:32] Phil1pp commented on #31374
Now with latest Chrom Update Version 90.0.4430.93 it's working fine.
Also both codesandbox links showing success on every click.

[2021-04-28 07:37] #32989 closed

[2021-04-28 07:56] #32728 closed

[2021-04-28 07:58] kmoppel opened #33463 "Dashboard import failing with: Templating [$myvar] Error updating options: Cannot read property 'text' of null"
**What happened**:
With all latest versions after v7.3.10 one of my dashboards fails to be imported via JSON

**What you expected to happen**:
Dashboard should load as with 7.3.10 and before I assume

**How to reproduce it (as minimally and precisely as possible)**:
1. Create a PostgreSQL datasource
2. Import the template from [here](https://github.com/cybertec-postgresql/pgwatch2/blob/master/graf

[2021-04-28 07:58] mckn commented on #33460
Thanks for reporting this however I have tried to recreate this issue with two simple variables and I can't so I'm thinking it might be the combination of template variable types you are using. Can you please share your dashboard json to help us debug this?

[2021-04-28 07:58] #33410 closed

[2021-04-28 07:59] torkelo opened #33464 "InfluxDB: InfluxQL: Measurement suggestions trigger query after every keypress"
To replicate create a old InfluxQL query and add open the measurements-select-box.

* for every keypress a new query is issued to query

The problem is in https://github.com/grafana/grafana/blob/master/public/app/core/directives/metric_segment.ts#L88

https://github.com/grafana/grafana/blob/master/public/app/plugins/datasource/influxdb/partials/query.editor.html#L31

[EDIT: adjusted text to be abo

[2021-04-28 08:02] kmoppel commented on #33463
The created PostgreSQL datasource should also be marked as default datasource

[2021-04-28 08:30] Robsta86 opened #33466 "TablePanel: Sort seems to be broken after updating to Grafana v7.5.4 (615c153b3a)"
After updating to Grafana v7.5.4 (615c153b3a) with the fix for the sorting issue reported in #32435 sorting broke for us in a TablePanel.

We get unexpected behavior when we're sorting on a column, see the screenshots below:

![Screenshot 2021-04-28 102921](https://user-images.githubusercontent.com/36365843/116372460-b5512500-a80c-11eb-9933-5c0dc9d89113.png)
![Screenshot 2021-04-28 102947](https:/

[2021-04-28 08:32] dprokop commented on #31192
I think adding max-height contraint to `DataLinkSuggestions` might solve this. react-popper used for positioning the suggestions popover can have problems with posiitoning non-sized elements

[2021-04-28 08:33] davkal commented on #4347
This is too niche, so closing this. If anyone from the community wants to work on this, please reach out to @gabor

[2021-04-28 08:33] #4347 closed

[2021-04-28 08:35] torkelo commented on #33466
Can you use inspect / data and show the raw data? (also show the data types, you find in inspect / json / DataFrame structure)

[2021-04-28 08:38] torkelo commented on #32940
this is expected when line series are drawn on top, the one drawn last will render top of the other

[2021-04-28 08:38] #32940 closed

[2021-04-28 08:40] torkelo commented on #32940
disable stacking should fix this, think in later versions (7.4+) we changed the stacking logic to not interpolate so this should work with stacking in v7.4+

[2021-04-28 08:43] davkal commented on #29231
The graph panel is getting a new event system, so this could be worked on soon.

[2021-04-28 08:45] Robsta86 commented on #33466
![Screenshot 2021-04-28 104158](https://user-images.githubusercontent.com/36365843/116374609-b84d1500-a80e-11eb-8c24-47f4c086d124.png)

`[
  {
    "meta": {
      "preferredVisualisationType": "table",
      "transformations": [
        "organize",
        "organize",
        "organize",
        "organize",
        "organize",
        "organize",
        "organize",
        "organize",
        "or

[2021-04-28 08:48] davkal commented on #33058
So far we have not done this, because we want users to be aware of the limit window aligning with the time window of the request. But will look into it.

[2021-04-28 08:51] davkal commented on #32917
The heatmap panel is being rewritten soon. Once that is done, we can get on this.

[2021-04-28 08:53] aknuds1 commented on #33457
Closing this until the bug template is filled in.

[2021-04-28 08:53] #33457 closed

[2021-04-28 08:53] c10l commented on #11418
Hi just chiming in with another use-case, if it helps this get some traction.

I'm using [JSON API data source](https://marcus.se.net/grafana-json-datasource/) to query `/_cluster/health` on ElasticSearch. It gives me back a field `status` with values `green`, `yellow` or `red`.

I'd like to display the text value and colour accordingly. Presently, the only way to colour it would be to map them to

[2021-04-28 08:54] leahoswald commented on #33435
Damit, thanks for being my rubber duck^^. I was sure I tried it in both directions fill below to best and fill below to worst. But in this case, we see ICMP RTTs here, so worst is the bigger value of the two and I need to select fill below to worst. Now it works.
![Screenshot2021-04-28_10-53-36](https://user-images.githubusercontent.com/1292551/116375906-06aee380-a810-11eb-8f2e-f7ff151908ea.png)

[2021-04-28 08:54] #33435 closed

[2021-04-28 08:56] davkal commented on #32792
@NotAFile is the latest fuzzy search helping? See #32207

[2021-04-28 08:57] davkal commented on #32475
This keeps people using the vanilla UI for Prometheus.

[2021-04-28 08:58] torkelo commented on #33437
@yarix can you try to re-install Grafana? verify that that file exists on disk at /usr/share/grafana/public/build  ?

We have not other report like this, something must have happened during install/upgrade where the new frontend assets where updated but not all files got copied.

[2021-04-28 08:59] davkal commented on #31810
There is a new feature to set timeouts at the datasource level: #31871

[2021-04-28 09:00] davkal commented on #31810
Please reopen if this does not help.

[2021-04-28 09:00] #31810 closed

[2021-04-28 09:15] yarix commented on #33437
so that was the problem.
we use the tar.gz installation and probably it had issue with unpacking the file, this is the file on my end : `default~DataSourceDashboards~DataSourceSettingsPage~DataSourcesListPage~N`

Closing since it looks like a problem on my end.
 Thanks

[2021-04-28 09:15] #33437 closed

[2021-04-28 09:20] ivanahuckova commented on #33197
Waiting for https://github.com/grafana/loki/pull/3654

[2021-04-28 09:28] ivanahuckova commented on #33458
I like this! I am wondering if we couldn't create API for this so it would be easy to import queries without much customisation. Cause mapping from any data source to other data source should be easy. You basically need key-value pairs from one data source and format these key-value pairs in the other data source.

Then any data source that has function to create key-value pairs with other data so

[2021-04-28 09:50] fcddk commented on #33456
t=2021-04-28T08:13:01+0000 lvl=info msg="App mode production" logger=settings
t=2021-04-28T08:13:01+0000 lvl=dbug msg="Initializing SqlStore" logger=server
t=2021-04-28T08:13:01+0000 lvl=info msg="Connecting to DB" logger=sqlstore dbtype=mysql
t=2021-04-28T08:13:01+0000 lvl=info msg="Starting DB migration" logger=migrator
t=2021-04-28T08:13:01+0000 lvl=dbug msg="Skipping migration: Already execute

[2021-04-28 09:52] fcddk commented on #33456
#################################### Security ####################################
[security]
# disable creation of admin user on first start of grafana
;disable_initial_admin_creation = false

# default admin user, created on startup
;admin_user = admin

# default admin password, can be changed before first start of grafana,  or in profile settings
;admin_password = admin

[2021-04-28 09:52] fcddk commented on #33456
The admin account should support changing the password.

[2021-04-28 09:56] mjseaman opened #33470 "[docs] Docs feedback: /permissions/dashboard-folder-permissions.md"
There are two dashboard-folder-permissions pages, one with dashes and one with underscores. They are different from each other.

https://grafana.com/docs/grafana/latest/permissions/dashboard_folder_permissions/
https://grafana.com/docs/grafana/latest/permissions/dashboard-folder-permissions/

Suggestion:
- They should be merged or one should be deleted
- We should check for references to the delet

[2021-04-28 10:10] fcremer2inv commented on #25187
@torkelo

Seconding feedback by @eriklouise
In my case I want to select a name and a metric from my datasource, along with an ID. The ID needs to be used in a link generated per table row, but has to be hidden from the table itself.

[2021-04-28 10:13] wbrowne commented on #33371
Hi @briskjj.

As per the [docs](https://grafana.com/docs/grafana/latest/administration/configuration/#config-file-locations), we don't encourage the modification of the defaults.ini.

Perhaps the [Variable Expansion](https://grafana.com/docs/grafana/latest/administration/configuration/#variable-expansion) feature is something that will suit your needs. There is a [specific example ](https://grafan

[2021-04-28 11:11] calkoe opened #33474 "Adding a option for hiding a Dashboard to viewer role"
Hello,

i am providing Dashboards to my customers via a public organisation and the Anonymous login feature.
It would be good if a customer is not able to see the public dashboards of other customers.
A public Dashboard should only be accessible by the direct link.

That would be awesome!
Thanks!

(I've tried to remove the folder permissions for the "viewer" role and add the permissions again to t

[2021-04-28 11:11] ying-jeanne commented on #32826
this feature could be used by https://github.com/grafana/grafana/pull/33453, to enable the autocompletion

[2021-04-28 11:14] ying-jeanne opened #33475 "Enhance the script to count external pr, visualize on Grafana dashboard."
A draft python script is created to trace the number of external pr in grafana repo. It would be nice if we can dump those pr info into google sheet or any kind of db, and show on grafana instance to see the trend etc.

[2021-04-28 11:18] ying-jeanne commented on #33475
initial script is here: https://github.com/ying-jeanne/script_external_pr/blob/main/external_pr.py

[2021-04-28 11:30] #33331 closed

[2021-04-28 11:38] #31044 closed

[2021-04-28 11:45] leeoniya commented on #29231
https://github.com/grafana/grafana/pull/33433

[2021-04-28 12:42] #33296 closed

[2021-04-28 12:46] #32463 closed

[2021-04-28 13:07] Ma3oBblu commented on #31374
fixed after updating Chrome to 90.0.4430.85 version (MacOS/Intel)

[2021-04-28 13:13] dsotirakis commented on #33377
Hello @ChipWolf, let me have a look and I'll get back to you :)

[2021-04-28 13:29] cykl commented on #31968
@zoltanbedi See also https://github.com/grafana/grafana/issues/32500 for a reproducer.

Please let us know if we can help you to reproduce or locate the issue. Having to switch between keyboard layouts during incident response is very annoying :sweat_smile:

[2021-04-28 13:38] kmoppel commented on #33463
FYI - after some trial and error I manged to work around the error by specifying a dummy "selected" value for the "dbname" dropdown. Diff here: https://github.com/cybertec-postgresql/pgwatch2/commit/bf10a96e6ed3eb61652f3dd137ac7ffcb0e0fd60.
So feel free to close if the issue seems irrelevant. Thanks!

[2021-04-28 13:42] kmoppel commented on #33463
And sorry, one more general question about this bunch of v6 dashboards (most carried over from v5 even)  - does Grafana plan to generally be still backwards-compatible or should one basically re-implement all dashboards whenever a new major version appears, i.e. v8 as next ?

[2021-04-28 13:44] ifrost commented on #33458
That could work! On top of key-value pairs we may also need some generic way to describe how they're connected (e.g. whether it's exact match, regexp, negation, etc.) - operators might be different between data sources.

[2021-04-28 13:46] wbrowne commented on #24495
Hey @codesome, just looping you in here as you have been doing some related work over in https://github.com/grafana/grafana/pull/32675. Was just wondering if you were aware of this and if the ported code might suffer the same problem?

[2021-04-28 13:47] aknuds1 commented on #24495
If we want to work on this, I can reach out to @sarlinska and see if we can develop a new solution based on Slack's Block Kit, which is the non-legacy solution.

[2021-04-28 13:49] leeoniya commented on #33459
the vis mechanics for this are already coded for the core component: https://leeoniya.github.io/uPlot/demos/zoom-ranger-grips.html

[2021-04-28 14:02] wbrowne commented on #33450
Hi @dansimone. Thanks for the report.

We have generally avoided this in the past as it "re-writes history". However, we'll keep this issue open and keep an eye so we can prioritize it as necessary.

Thanks again!

[2021-04-28 14:03] olafschmidt commented on #24971
This is really a bad design decision and from UX perspective a nightmare when dealing with large tables. Overall, the new table panel is an example for making good things worse.

[2021-04-28 14:08] glemiere commented on #32811
Hey there! Any news on this?

[2021-04-28 14:14] ivanahuckova opened #33485 "Explore: Use GraphNG for the logs histogram"
GraphNG supports stacking now - https://github.com/grafana/grafana/pull/30749. We should migrate logs histogram to use GraphNG.

[2021-04-28 14:27] nata7che commented on #31374
Fixed after updating to the latest Chrome: 90.0.4430.85

[2021-04-28 14:47] achatterjee-grafana commented on #33470
Looking at the source code, we do not have any "dashboard_folder_permissions.md" file. I am not sure how to remove it.

[2021-04-28 14:49] luhhujbb opened #33487 "Prometheus: Try to use labels API instead of series API as it newly supports match"
**What happened**:
On metric with high cardinality (a lots of prometheus series) we can't get label values.
This is because label_values use /api/v1/series instead of /api/1v/label when there is a metric defined.

It comes from here :
https://github.com/grafana/grafana/blob/b5190ee547340aa8f9e4d9e32d4ff05e3687d449/public/app/plugins/datasource/prometheus/metric_find_query.ts#L73-L109

It uses /api

[2021-04-28 14:58] achatterjee-grafana commented on #33250
Alerting will be an opt-in feature it seems like. Let me check with Daniel and Diana.

[2021-04-28 15:14] robbymilo commented on #33470
The source for the file is on this branch: https://github.com/grafana/grafana/tree/v7.5.x/docs/sources/permissions which syncs to `latest`. Looks like this was fixed in `master` for `next`: https://github.com/grafana/grafana/tree/master/docs/sources/permissions

[2021-04-28 15:37] ivanahuckova commented on #33458
Yes good point! Plus if we want to support mapping, we should also don't forget about that - to give possibility to rename keys as you do in Graphite PR.

[2021-04-28 16:08] jackw opened #33493 "Routing: App plugins route doesn't switch components on route change"
**What happened**:
I enabled two app plugins with custom pages. When I try to navigate between them the url updates and the query params are passed through but the view doesn't switch between plugins.

https://user-images.githubusercontent.com/73201/116435925-2b28b100-a84c-11eb-9c72-535bcd32e3e5.mp4

**What you expected to happen**:
When I navigate from a plugin custom page to a different plugin c

[2021-04-28 16:15] luhhujbb commented on #33487
It seems that this new feature exists only since v2.24 of prometheus.

[2021-04-28 17:00] darthkurak commented on #31809
Azure costs in Grafana would be great. It would allows many useful insights and correlation with other metrics already existed. For example: costs per user/request

[2021-04-28 17:59] Krinkle commented on #33341
Ah! This helped me realize that one of the three Prometheus queries had resolution set to 1/1, but the others used resolution 1/3. Setting them all to 1/3 made the problem go away.

Thank you!

[2021-04-28 18:01] ddorman16 commented on #31317
heya folks. seen a few users bring this issue up as of late - now that we have thousands of active free users. this question was asked today and i believe this is related https://community.grafana.com/t/quota-reached-grafana-cloud-free/46742

[2021-04-28 18:08] muutech opened #33498 "Dashboards links don't send referer header"
**What happened**:

We have some dashboard links processing "referer" (for instance for automate creation of ticket and getting automatically the origin url of the problem):

In 7.5.4:

![image](https://user-images.githubusercontent.com/30987258/116451712-21f41000-a85d-11eb-9940-b5d5475b2f69.png)

Click on the link:

![image](https://user-images.githubusercontent.com/30987258/116451776-37693a00-a8

[2021-04-28 18:24] achatterjee-grafana commented on #33470
Seems like the change made to `next` did not make it to `latest`. I have made the change manually via PR https://github.com/grafana/grafana/pull/33497.

[2021-04-28 18:24] #33470 closed

[2021-04-28 18:42] kiefersmith commented on #25782
`Template variable service failed e.replace is not a function`

Just hit this - makes it so I can't see my variables pane...

[2021-04-28 18:53] Ganga-Ops opened #33499 "Grafana Alerts Erroring out while using Thanos API as the Data Source"
**What happened**:
Trying to setup alerts for Dashboards created with Prometheus - Thanos API as the Datasource ( used Custom Hearders in API)
Getting the below error while testing the alerts

{
  "firing": true,
  "state": "pending",
  "conditionEvals": " = true",
  "timeMs": "1.227ms",
  "error": "readObjectStart: expect { or n, but found B, error found in #1 byte of ...|Bad Request|..., bigger

[2021-04-28 19:09] marefr commented on #31317
@ddorman16 yeah there's a [PR](https://github.com/grafana/grafana/pull/32519) open to address this. We just need to allocate some time to get it merged.

[2021-04-28 19:09] doronshai opened #33501 "Slack notifications are sent without an image"
**What happened**:
Alerts are sent to slack without image even that I configured it according to the docu and posts in the web.
plus, debug log for rendering is not working properly

**What you expected to happen**:
the slack notification has to include an image of the chart

**How to reproduce it (as minimally and precisely as possible)**:
create an alert to slack and choose it to include images

[2021-04-28 19:10] alex-berger commented on #31638
Same here with Grafana v7.5.1. Executing long-running Loki queries from within Grafana (Explorer) runs into timeout after approximately 16 seconds, while the same query executed via `logcli` works fine and does not timeout.

[2021-04-28 19:28] torkelo opened #33503 "Dashboard: Save model closes when hitting enter when dashboard name has focus"
To replicate
* create a new dashboard
* Save to open Save modal
* While dashboard name has focus hit enter key
* See the modal close

![Screenshot from 2021-04-28 21-27-36](https://user-images.githubusercontent.com/10999/116461481-95e7e580-a868-11eb-8958-779d2bad3eda.png)

![Screenshot from 2021-04-28 21-26-02](https://user-images.githubusercontent.com/10999/116461498-9bddc680-a868-11eb-9ab8-e443e

[2021-04-28 19:38] srclosson commented on #33446
[code]

[2021-04-28 19:41] srclosson commented on #33446
@mckn You will need to use this PR to reproduce the issue though.
https://github.com/grafana/grafana/pull/33447

[2021-04-28 19:58] ddorman16 commented on #31317
nice. that's great - thanks. I'll follow that PR.

[2021-04-28 20:50] nabelekt opened #33505 "Collapsing a row with panels below that row moves those panels into the row"
Grafana 7.5.4
Windows 10, Chrome 90.0.4430.93

If I start with:
![image](https://user-images.githubusercontent.com/7028403/116470668-f824f400-a830-11eb-854f-de43f3046fa7.png)

And then expand and then collapse the row, I then have:
![image](https://user-images.githubusercontent.com/7028403/116470742-0e32b480-a831-11eb-8d2e-88ee09216a27.png)

Which is obviously not desirable. This issue has been pr

[2021-04-28 21:21] marefr opened #33507 "Replace CircleCI badge in readme with drone badge"
**What happened**:

Browsed the readme and noticed the CircleCI badge not rendering correctly.

**What you expected to happen**:

We've almost migrated everything to drone so would have expected a Drone badge rather than a CircleCI one.

This one seems to work
[![Drone](https://drone.grafana.net/api/badges/grafana/grafana/status.svg)](https://drone.grafana.net/grafana/grafana/latest?branch=master)

[2021-04-28 22:02] llamahunter commented on #15316
FWIW, we hit this in grafana 7.4.3. It turns out to be a problem only if you run multiple replicas of grafana for HA.  We had to reduce to a single replicas so that the cookie clearing issue wouldn't hit us. Hopefully the new 7.5.5 release will fix this, and will be incorporated into the grafana helm chart soon, and that new chart referenced in the kube-prometheus-stack helm chart so that we can u

[2021-04-28 23:44] jaredleitner commented on #16452
+1

[2021-04-29 00:31] jaredleitner commented on #5983
+1

[2021-04-29 01:45] PatHoo opened #33509 "Sort switch port"
**What would you like to be added**:
With snmp_exporter, in Grafana Dashboard ID(10523) -> Settings -> Variables
Query: `query_result(ifHCInOctets{job="snmp",instance="$Device"})`
Regex: `.*ifName="(Fo.*?|Te.*?)",.*`
Sort: `Numerical(asc)`
[code]
**Why is this needed**:
I want this:
[code]

[2021-04-29 03:05] liuwanwu1406410337 opened #33510 "Chinese garbled characters are displayed in grafana."
Invoking the Grafana API interface view is normal and no garbled characters are displayed. In manual view import, garbled characters are displayed in the form of question marks.

[2021-04-29 03:18] liuwanwu1406410337 commented on #33510
help

[2021-04-29 05:41] torkelo commented on #33505
This has always been how row works , when collapsed they take all panels below up to the next row, to mark where a row ends you need to add an additional row

[2021-04-29 05:41] #33505 closed

[2021-04-29 07:32] hasso opened #33513 "Rename values by regex"
**What would you like to be added**:

https://github.com/grafana/grafana/pull/29281 added a support for renaming metrics, the same functionality is needed for values.

**Why is this needed**:

A common scenario for us are tables with instant data – hostname values are FQDN in these, but it's too verbose, wastes a lot of space and we'd like to strip these down.

[2021-04-29 08:43] LeeZChuan commented on #33459
I HOPE IT COME SOON. THANKS~

[2021-04-29 08:56] torkelo commented on #33474
this is currently not possible, and not secure if it would as a viewer role can still issue any possible query to all data sources added to the anonymous org

[2021-04-29 08:56] #33474 closed

[2021-04-29 08:58] torkelo commented on #33509
the values are not numerical

[2021-04-29 08:58] #33509 closed

[2021-04-29 09:17] mckn commented on #33501
@doronshai which of the two approaches explained here are your trying to get up and running? https://grafana.com/docs/grafana/latest/alerting/notifications/#slack

[2021-04-29 09:48] tmanh17 opened #33519 "ClickHouse plugin alert get 401 Unauthorized error"
**What happened**:

ClickHouse Datasource alert is always in pending/alerting status with error ```Error: tsdb.HandleRequest() error rpc error: code = Unknown desc = invalid status code. status: 401 Unauthorized```

**What you expected to happen**:

Just notify an alert when it exists actually

**How to reproduce it (as minimally and precisely as possible)**:

1. Install vertamedia-clickhouse-data

[2021-04-29 11:06] baur opened #33522 "Row title not changes after changing a time period"
**What happened**:

Row title not changes after changing a time period

![image](https://user-images.githubusercontent.com/2898361/116540251-bb79fb00-a90b-11eb-9397-714ef5711673.png)

**What you expected to happen**:

Simultaneously changing, like in other panel titles

**How to reproduce it (as minimally and precisely as possible)**:

Change row title to `from ${__from:date:DD.MM.YYYY LT} to ${__

[2021-04-29 11:14] BBQigniter commented on #33460
browser address bar shows (had to obfuscate some things):

[code]

link url copied via copy-button shows:

[code]

sry, it's not pointing to the default saved dashboard - but only the last selected variable is in this URL it seems

The JSON-source of the dashboard - the datasource "$checkmk_source" is graphite:

[code]

[2021-04-29 11:16] sunker opened #33524 "E2E flow for loading existing dashboard and verifying its panel queries work"
**What would you like to be added**:
I would like our E2E testing framework to have the following capabilities:
1. load an existing dashboard - upload a JSON file or import via panel json.
The latter is probably easier since we already have the [readProvisions](https://github.com/grafana/grafana/blob/master/packages/grafana-e2e/cypress/plugins/readProvisions.js) plugin. The drone plugin pipeline i

[2021-04-29 11:17] sunker commented on #33524
Thoughts @hugohaggmark @vickyyyyyyy @ryantxu?

[2021-04-29 11:21] baur opened #33525 "Not loads default param after navigate by current folder"
**What happened**:
Not loads default param after navigate by current folder

**What you expected to happen**:
load default param or selected

**How to reproduce it (as minimally and precisely as possible)**:

Change default param to another

![image](https://user-images.githubusercontent.com/2898361/116542518-87540980-a90e-11eb-91e4-a7fe08984d93.png)

Click to root

![image](https://user-images.gi

[2021-04-29 11:41] hugohaggmark commented on #33524
@sunker here are my 2 cents:

1. We use provisioning to load existing dashboards today, i.e. if you add a dashboard to https://github.com/grafana/grafana/tree/master/devenv/dev-dashboards then it's available in e2e tests (details in https://github.com/grafana/grafana/blob/master/e2e/start-server)
2. Waiting until responses are done in the backend is very tricky, in Cypress you can use intercept (h

[2021-04-29 11:41] hugohaggmark commented on #33524
I'm happy to get in a call and discuss this more.

[2021-04-29 11:45] baur opened #33527 "LT: Time format 12h in v7.5.5 expected 24h"
**What happened**:

**v7.5.1 (4dffb875cf)**

config:
[date_formats]
full_date = DD.MM.YYYY HH:mm:ss
use_browser_locale = true

Set panel title:
`from ${__from:date:DD.MM.YYYY LT} to ${__to:date:DD.MM.YYYY LT}`

Result 24h format

![image](https://user-images.githubusercontent.com/2898361/116544818-6e992300-a911-11eb-9058-865d2ec2c21b.png)

**v7.5.5 (b5190ee547)**

Same config and same text `from $

[2021-04-29 12:02] hugohaggmark opened #33530 "LibraryPanels: Final touches"
- [x] Naming
   - [x] Library panel in general  ![avatar](https://github.com/kaydelaney.png?size=24) (#33540)
   - [x] Use create library panel instead of add to library panel  ![avatar](https://github.com/kaydelaney.png?size=24)  (#33540)
- [x] Folder
   - [x] Add separate view under folder that lists the panels for that folder (#33560)
   - [x] Add folder filter to manage library panel page (#33

[2021-04-29 12:45] vickyyyyyyy commented on #33524
@sunker
1.

I'm not familiar with the flow of importing dashboards so I can't provide any helpful input for this 😔

2.

Do you mean check that a specific response has been received or assert on something has loaded/rendered? Otherwise, agree with @hugohaggmark  re the `intercept` if you need to wait for a specific response.

3.

Can you assert on the red triangle specifically?
https://github.com/g

[2021-04-29 13:19] owen-d commented on #33197
Upstream is merged :) @ivanahuckova

[2021-04-29 13:28] shaikadil95 commented on #30630
I am new to NodeGraph and trying out with Graphql queries. Somehow I can not figure out the structure required for the NodeGraph, can anyone please help?

**My Graphql Query:**
`mutation {
  data:exportNodeGraph(input: {nodeGraphType: TEMPLATE, id:1}) {
    name
    fields {
      ... on GraphNodeField {
        id
        title
      }
      ... on GraphEdgeField {
        id
        source

[2021-04-29 13:37] owen-d commented on #33197
Revendoring PR is here: https://github.com/grafana/grafana/pull/33534

[2021-04-29 13:54] #32828 closed

[2021-04-29 14:37] BertHartm commented on #31038
@ying-jeanne can https://github.com/grafana/grafana/issues/17475 be considered as part of this as well? that's a rough one for editing dashboards if they aren't being saved to a database.

[2021-04-29 15:18] avlitman opened #33537 "Can't set up the default_home_dashboard_path"
**What happened**:
I'm trying to set a custom default home dashboard (with json file) with default_home_dashboard_path variable, But nothing has changed.

**What you expected to happen**:
see in Grafana web the custom home dashboard I added in the grafana.ini file under 'dashboards'

**How to reproduce it (as minimally and precisely as possible)**:
1. login to my grafana server
2. add my custom ho

[2021-04-29 15:33] louij2 commented on #6983
Why's this not a feature. If 1 no alert else 0 alert......

[2021-04-29 16:01] marefr commented on #33372
The link to weaveworks/common seems to refer to  gRPC. Was that intended? Have an idea of how to solve this with http?

[2021-04-29 16:29] marefr commented on #32887
Can you please explain why having one oauth application configured per grafana instance doesn't work for you/is troublesome? What OAuth provider are you using?

Suggesting using the state parameter feels like a hack to me in lack of something else? Your suggested solution would open up for cross-site request forgery vulnerabilities. From https://tools.ietf.org/html/rfc6749#section-4.1.1:

[2021-04-29 16:39] marcuzh commented on #23825
I'm also getting very similar behaviour in Grafana 7.5.3 when using either Chrome or Edge.
In my case the data source for the template variables is MySQL, displaying a list of FirstName/LastName whitespace separated.
I can type the firstname and it starts to filter the list - but hitting the space bar is ignored. It doesn't _close_ the dropdown for me, which seemed to be what @daldoyle was experie

[2021-04-29 17:48] dulitz commented on #31559
I am having this problem as well, on version 7.5.4.

If I make it one grid-step wider, I see the sparklines. Oddly, if I then make it one grid-step narrower (so it's the same size as the original) I still see the sparklines.

Also oddly, other stat panels that are this narrow do show sparklines.

I don't know what's going on, but the logic that decides when to show a sparkline is broken. Since the

[2021-04-29 18:09] achatterjee-grafana opened #33543 "Doc: add information on how to change a series to display on the right y-axis"
From David Dorman:

hey folks. was trying to show a user how to change a series to display on the right y-axis. i expected this doc to show me how to do this. Feel like we should update this doc to include that: https://grafana.com/docs/grafana/latest/panels/visualizations/time-series/change-axis-display/#change-axis-display

the answer i found here: https://grafana.com/blog/2020/03/10/learn-grafa

[2021-04-29 19:39] mrjones-plip opened #33546 "Docs feedback: Widths between 970px and 982px rendor poorly"
Hi there! The docs on grafana (eg [this page](https://grafana.com/docs/grafana/latest/auth/)), are intended to have 3 states, but actually have 4.  The 4th looks bad and is found  starting at  970px wide and up to 982px wide.  This happened to be the browser width of my window at the time, hence how I noticed it.

## Happy Widths

### Full

![grafana docs1](https://user-images.githubusercontent.co

[2021-04-29 20:02] Ganga-Ops commented on #33499
Accidently Closed it. Reopening

[2021-04-30 03:27] a67793581 commented on #448
+1 Chinese

[2021-04-30 05:40] mckn commented on #33446
Ah, super! Thanks 🙌🏻

[2021-04-30 05:44] mckn commented on #33519
Thanks for reporting this, however this isn't a grafana managed plugin so I would recommend you to open an issue in the following repository instead: https://github.com/Vertamedia/clickhouse-grafana

[2021-04-30 05:44] #33519 closed

[2021-04-30 05:57] mckn commented on #33525
Thanks for reporting this! However, I'm not able to reproduce this can you please share your dashboard.json?

[2021-04-30 06:07] mckn commented on #33546
Thanks for reporting this! I'm closing this one and opening a new one In the proper repository with a reference to this one.

[2021-04-30 06:07] #33546 closed

[2021-04-30 06:12] mckn commented on #26356
I'm closing this issue due to inactivity.

[2021-04-30 06:12] #26356 closed

[2021-04-30 06:26] mckn commented on #31363
@huangweikuna did you manage to get this working as you wanted?

[2021-04-30 06:29] mckn commented on #31447
@aengusrooneygrafana @jongyllen what is the status of this issue? still something you are working on or could we close this one?

[2021-04-30 06:33] jackw opened #33552 "Add details badges for plugin signing"
The plugin details page should show signature and org badges for a signed plugin.

[2021-04-30 06:40] mckn commented on #31918
I'm closing this one due to inactivity, please re-open if needed.

[2021-04-30 06:40] #31918 closed

[2021-04-30 06:41] jongyllen commented on #31447
It is something we want to do but we were waiting for more information plus
getting it prioritized in our backlog

On Fri, Apr 30, 2021 at 8:29 AM Marcus Andersson ***@***.***>
wrote:

[2021-04-30 06:48] mckn commented on #32304
@simPod can you please provide the data from the panel inspector?

<img width="773" alt="Skärmavbild 2021-04-30 kl  08 47 43" src="https://user-images.githubusercontent.com/172951/116658761-c460e000-a990-11eb-9637-f3c1df7578eb.png">

<img width="872" alt="Skärmavbild 2021-04-30 kl  08 47 33" src="https://user-images.githubusercontent.com/172951/116658768-c75bd080-a990-11eb-8959-22884a384e28.png"

[2021-04-30 06:50] mckn commented on #32418
I'm closing this one due to inactivity. Please re-open if needed.

[2021-04-30 06:50] #32418 closed

[2021-04-30 06:53] mckn commented on #32850
I'm closing this issue due to inactivity, please re-open if needed.

[2021-04-30 06:53] #32850 closed

[2021-04-30 06:54] mckn commented on #33015
I'm closing this issue due to inactivity, please re-open if needed.

[2021-04-30 06:54] #33015 closed

[2021-04-30 06:55] mckn commented on #33146
I'm closing this issue due to inactivity, please re-open if needed.

[2021-04-30 06:55] #33146 closed

[2021-04-30 07:19] dprokop commented on #33463
@kmoppel we do plan to be backwards-compatible of course :)

[2021-04-30 07:19] #33463 closed

[2021-04-30 07:31] liuwanwu1406410337 commented on #33510
When I manually import a view on Grafana, a series of question marks are displayed in places with Chinese characters. For example, if the title of the panel contains Chinese characters, and if the message in the alert contains Chinese characters, no question mark is displayed. Do you need to download the font or modify the font configuration of Grafana?

[2021-04-30 07:32] hugohaggmark commented on #33463
Hi @kmoppel, looking at your template you're missing the datasource prop
![image](https://user-images.githubusercontent.com/562238/116663071-e5c4ca80-a996-11eb-9297-9c6b3821b0fe.png)

[2021-04-30 07:46] marefr opened #33556 "Database: Make it possible to configure isolation level"
**What would you like to be added**:
Make it possible to configure the isolation level to be used by the database backing Grafana.

**Why is this needed**:
Related to #31371 and https://github.com/grafana/grafana/pull/33257#issuecomment-827515835. Important thing is to support this for MySQL to begin with so that Grafana Cloud can begin experimenting with it. Suggested under [[database]](https://g

[2021-04-30 07:48] Knocks83 opened #33557 "Max time delta for points connection"
**What would you like to be added**:
I'd love if Grafana had a maximum time difference setting for the points connection

**Why is this needed**:
So if you have an extended downtime, the graph won't be connected to the next section.
For example: here I had days of missing data, so it doesn't look right when the data from 26/04 connects to the data from 30/04
![image](https://user-images.githubuser

[2021-04-30 07:52] #31192 closed

[2021-04-30 07:58] leeoniya commented on #33557
this is already done for Grafana 8: https://github.com/grafana/grafana/pull/32222

[2021-04-30 08:01] Knocks83 commented on #33557
Thanks, I'm going OT for a sec then: is there a way to try Grafana 8? Do I have to compile the repo?

[2021-04-30 08:13] kmoppel commented on #33463
@hugohaggmark Thanks for the feedback! This cannot be the root cause though I think in case you want to still get to to the bottom of this...as datasource is null also for the [other 30](https://github.com/cybertec-postgresql/pgwatch2/tree/master/grafana_dashboards/postgres/v6) dashboards but they got loaded normally.

[2021-04-30 08:13] #33096 closed

[2021-04-30 08:21] wbrowne commented on #33456
Hi @fcddk.

It is possible to change the admin password on the fly as documented [here](https://grafana.com/docs/grafana/latest/administration/cli/#reset-admin-password).

It's hard to tell exactly what you're asking for. Can you please try to encapsulate your problem in one of our issue templates ([bug](https://github.com/grafana/grafana/issues/new?labels=type%3A+bug&template=1-bug_report.md) or

[2021-04-30 08:58] marefr commented on #32853
There's many API's returning id rather than uid, not just data source :smile:

This would be a breaking change for those integrating with Grafana. Doing it for Grafana 8 guess makes sense, but we might want to deprecate it first like we did for dashboards and remove them Grafana 9?
- https://grafana.com/docs/grafana/latest/http_api/dashboard/#deprecated-resources
- https://grafana.com/docs/grafana

[2021-04-30 09:00] #33552 closed

[2021-04-30 09:02] fcddk commented on #33456
I actually want to update the system administrator account information through the configuration file.

eg:
`func (ss *SqlStore) ensureMainOrgAndAdminUser() error {
	//first get
	query := models.GetUserByEmailQuery{}
	query.Email = setting.AdminUser + "@localhost"
	if err := GetUserByEmail(&query); err != nil {
		ss.log.Info("failed to get user by email", err.Error())
	} else {
		if query.Result !

[2021-04-30 09:04] hugohaggmark commented on #33463
@kmoppel thanks for quick feedback can you point me to one of those where a query variable has a datasource set to null and works, shouldn't work.

[2021-04-30 09:08] fcddk commented on #33456
Grafana should support updating system administrator account information through configuration files, especially account passwords

[2021-04-30 09:47] tle-huu commented on #30903
Hi @Elfo404

We are using Grafana to monitor and catch possible regression in our programs metrics on a per commit basis. So each point on the graph corresponds to a commit.

The query is pretty straight forward, we use a max metric (since there can be only one point per data, max or average does not matter), group by Date Histogram.

The think we would like to achieve is to have the **data link**

[2021-04-30 10:05] marefr commented on #32939
Updating https://github.com/grafana/grafana/blob/master/docs/sources/http_api/snapshot.md as author suggest is probably a good idea. Something along these lines?

[code]

[2021-04-30 10:29] giom-l opened #33559 "Logs panel not displaying full logs"
**What happened**:
We are migrating from a grafana 6.5.2 to a grafana 7.5.2
In one of our dashboard, we used the logs panel to display some logs from Elasticseach and it went well.
However, it does not work anymore in grafana  7.5.2 where we only have timestamp displayed (because I toggled "time")
Otherwise, I only have "1" displayed
The datasource is the same (elasticsearch index)

What we had in

[2021-04-30 10:47] RouNNdeL commented on #4929
@torkelo it makes it easier to use a max value in multiple graphs and allows us to change it only in one place, instead of having to go into every graph and changing it manually.

[2021-04-30 10:50] pheetr commented on #28078
Hi, when I try this, Grafana doesn't visualize the values in the graph for some reason. Is there a solution to this, some option I may not be aware of (I'm fairly new to Grafana)? Thx.

![image](https://user-images.githubusercontent.com/44616229/116685324-0d715e00-a9aa-11eb-96b6-2a925ce8d91c.png)

[2021-04-30 10:53] allomorphy commented on #25580
👋
Is this not because annotations are simply not _yet_ implemented in the shiny new TimeSeries 😞

[2021-04-30 10:58] allomorphy commented on #30564
Hi @leeoniya

Is there a place to track all these yummy features that you and the team are implementing?
Our special favourite right now is **annotations**
Thanks for the great work 🤗

[2021-04-30 11:35] kmoppel commented on #33463
@kmoppel Ok for example [this one](https://github.com/cybertec-postgresql/pgwatch2/blob/master/grafana_dashboards/postgres/v6/db-overview/dashboard.json).
I think "null" just uses the default data source which is perfectly logical.

My original problem got fixed when the "current" attribute values of a template variable were set to empty strings or when removing the "current" attribute altogether,

[2021-04-30 11:46] eljimbo commented on #33448
Apologies, this is the first time logging via here, could you point me to the template and I will re-do my query.

That is the only log i can find referencing the attempt via the browser

These are the only other details in the syslogs (after firing the test from the broswer)

Apr 30 11:38:30 vm1grf001 systemd-resolved[859]: Server returned error NXDOMAIN, mitigating potential DNS violation DVE-20

[2021-04-30 11:57] johnatannvmd commented on #33460
Moreover, the share link(not shortened) does not contain proper current variables, only lastones from dropdowns.

[2021-04-30 12:11] simonpasquier commented on #33027
A version >= v8.2.13 is required because of [CVE-2021-23382](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-23382).

[2021-04-30 12:23] sunker commented on #26505
Fixed in https://github.com/grafana/grafana/pull/26662

[2021-04-30 12:23] #26505 closed

[2021-04-30 12:23] sunker commented on #26505
Fixed in https://github.com/grafana/grafana/pull/26662

[2021-04-30 12:26] natellium opened #33564 "Epic: Theme updates"
Long term goals for the themes project. This is not needed for 8.0

# Theme model work
* [ ] Complete breakpoints media queries (missing 2 I think)

# Update to new theme model
* [ ] Update old sass theme variables to use new theme variables
* [ ] Legacy select
* [ ] Update jaeger-ui components so they use the v2 theme
* [ ] Update PanelEdit to use new theme model
* [ ] Update Dashboard components

[2021-04-30 12:58] marcoboffi opened #33566 "Azure Monitor datasource: extend supported metrics for Microsoft.Sql/servers/databases"
**What would you like to be added**:
Azure Monitor datasource does not support all metrics available in Microsoft.Sql/servers/databases Namespace.
For example are not available:

-  diff_backup_size_bytes
-  full_backup_size_bytes

and several other metrics

**Why is this needed**:

These metrics are very useful to build a complete dashboard on SQL Server instance.

[2021-04-30 13:25] marcusolsson opened #33567 "NodeGraph: Remove preferredVisualisationType requirement"
**What would you like to be added**:

The Node graph currently requires the data source to set preferredVisualisationType to `nodeGraph`. This limits the number of data sources that can be used together with the node graph.

Since we already seem to require a hard-coded name, "source", for the data frame that provides the edges, could we do the same for the data frame that provides the nodes?

htt

[2021-04-30 14:04] ying-jeanne opened #33569 "correct external pr lables for org changes"
https://github.com/Estrax
https://github.com/stevenvachon
https://github.com/tskarhed

[2021-04-30 14:19] xAnder1402 opened #33574 "The series is displayed incorrectly in the tooltip of timeseries panel."
Grafana 7.5.5
Chrome 90.0.4430.85 x64
Windows 10 20H2
![image](https://user-images.githubusercontent.com/12598781/116708203-23961300-a9d8-11eb-8e04-72054b8bee5b.png)
![image](https://user-images.githubusercontent.com/12598781/116708220-298bf400-a9d8-11eb-8b16-e72eb06f6103.png)

[2021-04-30 14:26] mckn commented on #33559
Thanks for reporting this. Would it be possible to get your panel json to be able to reproduce this easier?

[2021-04-30 14:42] giom-l commented on #33559
Sure, here it is

`   {
      "datasource": "Elasticsearch - IODS - Spark rt logs ",
      "fieldConfig": {
        "defaults": {},
        "overrides": []
      },
      "gridPos": {
        "h": 9,
        "w": 12,
        "x": 12,
        "y": 0
      },
      "id": 3,
      "options": {
        "dedupStrategy": "none",
        "showLabels": false,
        "showTime": true,
        "sortOrder":

[2021-04-30 14:54] wbrowne commented on #33456
Not sure if this is something we will want to support. However I will leave the issue open to gather any additional feedback from the community. Thanks for your contribution!

[2021-04-30 15:44] aocenas opened #33580 "NodeGraph: don't check preferredVisualisationType."
We check and filter the dataframes here https://github.com/grafana/grafana/blob/1d689888b0fc2de2dbed6e606eee19561a3ef006/packages/grafana-ui/src/components/NodeGraph/useCategorizeFrames.ts#L11 but this makes sense only in Explore. In dashboards this does not make much sense as user specifically selects the visualization. Should be lifted up so it is done only in explore as part of dataframe catego

[2021-04-30 15:50] lux4rd0 opened #33581 "TypeError: Cannot read property 'frameIndex' of undefined"
**What happened**:

Zooming in and out on the Time Series (NG) graph panel randomly results in an error message:

[code]

The panel does not display any data when this happens. Sometimes the first query returns and gets painted, then the error happens, and the panel blanks. Other times neither query gets painted in the panel. A refresh of the browser is required to view the panel again. (With the

[2021-04-30 15:51] yousef-soliman opened #33582 "Start frontend dev"
**What happened**:
When i try to start frontend dev using `yarn start` i got these errors
[code]
**What you expected to happen**:
start localhost env
**How to reproduce it (as minimally and precisely as possible)**:
[code]
**Anything else we need to know?**:

**Environment**:
- Grafana version: latest version
- OS Grafana is installed on: fedora

[2021-04-30 16:37] replay opened #33583 "From/To is ignored when using auto-complete in explore mode"
**What happened**:

When using the auto-complete functionality in the query editor the specified time range (`from`/`to`) is only passed on to the data source when editing panels that are part of a dashboard, when I use the auto-complete functionality in the Explore mode the time range is not getting passed

**What you expected to happen**:

I think the specified time range should always be passed

[2021-04-30 16:46] simianhacker opened #33584 "[Metrics UI] Change system.cpu.use.pct to system.cpu.total.norm.pct for Metrics Explorer default"
`system.cpu.total.norm.pct` should be available for every host and it seems like a more appropriate field instead of `system.cpu.user.pct` which only gives you the user space CPU usage.

[2021-04-30 16:46] #33584 closed

[2021-04-30 17:33] elsehow commented on #3250
Has this been re-opened as a new issue? I agree that this should be fixed - it's a very common need.

[2021-04-30 17:55] achatterjee-grafana commented on #32939
Fixed.

[2021-04-30 17:55] #32939 closed

[2021-04-30 18:15] ryantxu commented on #32853
exactly -- this is the #1 request from people writing integrations.  The fact we use id sometimes and uid other times is super anoying.  Since we have uid, we should *always* use uid.  If our APIs don't support it, we need to make sure they do.  The feedback from people writing integrations is that the APIs have many odd gotcha's many of them stem from using internal ids and uids inconsistently.

[2021-04-30 18:49] omh1280 opened #33589 "VictorOps Notifier doesn't populate `custom_fields`"
**What would you like to be added**:
We should add tags in Grafana alerts to the [`custom_fields`](https://help.victorops.com/knowledge-base/incident-fields-glossary/) of a VictorOps notification.

The PagerDuty notifier [has this functionality](https://github.com/grafana/grafana/blob/93c39ca18cf1a4bb6a57574ff5436e4328198be9/pkg/services/alerting/notifiers/pagerduty.go#L185) so the implementation

[2021-04-30 18:52] svet-b commented on #31104
Bizarrely, this appears to still be an issue when using the [GraphQL datasource](https://grafana.com/grafana/plugins/fifemon-graphql-datasource/). Confirmed in several Grafana versions, including 7.5.4.

I've been staring at the Transform debugger for a while, trying to work out what's going on - and why the behavior for this datasource is different - but am drawing a complete blank.

Here's a min

[2021-04-30 18:58] JamieSimon opened #33591 "Grafana 7.5.2 webhook response to HTTP 301"
I believe we've found a bug in Grafana v7.5.2 Notification Channel functionality for webhooks. A webhook configured to send a POST appears to respond to HTTP 301 redirects by sending a GET, as described in https://rtfm.co.ua/en/http-redirects-post-and-get-requests-and-lost-data/#A_POST_became_GET.

The nginx config for our app redirects HTTP to HTTPS traffic thus:
`
server {
    listen 80;
    ser

[2021-04-30 19:41] weeco opened #33592 "Using interval variables in min step causes "Unexpected error""
**What happened**: I created a normal Graph chart, used bars as display method (but that's not necessary for reproducing) and I wanted to find an appropriate value for minStep that scales with my time range so that the width of my bars remains decent - regardless of the selected time range. Therefore I wanted to use the `$__interval` variable and divide that by some number. That immediately caused

[2021-04-30 20:32] doronshai commented on #33501
Actually i was using this [link](https://grafana.com/blog/2020/05/07/grafana-7.0-preview-new-image-renderer-plugin-to-replace-phantomjs/)
i set to use the local storage - i didn't see any info in the documentation  about settings a Slack App / Bot.
Will try that now

[2021-04-30 21:00] doronshai commented on #33501
@mckn  so now i have a new App set, and added a webhook.
i used the xbob for the token field in grafana settings of the slack alert integration and also the webhook.
still, no image is sent.

[2021-04-30 21:01] doronshai commented on #33501
<img width="1025" alt="Screen Shot 2021-04-30 at 23 58 52" src="https://user-images.githubusercontent.com/2786709/116753790-52c87680-aa10-11eb-9d11-7e2e4c7c2d95.png">

[2021-04-30 21:16] neuvill commented on #448
+1 can help with french

[2021-04-30 21:35] MrBlood01 opened #33594 "Visual bug with the ">" character in the tab title"
Hi everyone, I've been trying to figure out how to solve this problem for days:

![bug](https://user-images.githubusercontent.com/76105951/116756214-067b3780-aa0c-11eb-9492-86fbd6be01fe.jpg)

As you can already guess from the title I'm trying to insert the ">" symbol inside the title of a tab.
But it is automatically converted to "& gt;".

Can anyone help me out? Thanks so much everyone in advance

[2021-04-30 21:45] gcurti commented on #16638
I had the same issue but in baremetal environment and worked it great, thanks!

[2021-04-30 21:51] weeco opened #33595 "Add option to limit label length in panels"
**What would you like to be added**:

When I use table legends in Graph panels I'm often faced with very long labels. I'd like to be able to configure that labels longer than n characters shall be truncated.

E. g.

`super-hyper-crazy-long-label-with-useless-random-info-that-consumes-all-my-panel-width` => `super-hyper-crazy-lon...`

**Why is this needed**:

![image](https://user-images.githubuser

[2021-05-01 08:36] simPod commented on #32304
<details>

[code]
</details>

[2021-05-01 17:41] datahookinc commented on #32653
Same issue. Will implement a work around locally, but would be great to see this natively supported.

[2021-05-02 01:17] diogopalma commented on #33316
@dprokop sure

Panel JSON
`{
  "type": "table",
  "title": "Panel Title",
  "gridPos": {
    "x": 0,
    "y": 0,
    "w": 12,
    "h": 8
  },
  "id": 6,
  "targets": [
    {
      "refId": "table_null_test",
      "format": "table",
      "timeColumn": "time",
      "metricColumn": "none",
      "group": [],
      "where": [
        {
          "type": "macro",
          "name": "$__timeFilter",

[2021-05-02 05:23] bakman2 opened #33599 "Hide "No Data" text"
**What would you like to be added**:
I want my panel to be empty if there is no data.
So I put a space in the `No Value: What to show when there is no value` field.
This space is being ignored, any other character will work.

**Why is this needed**:
By default this field is empty and yet `No Data` is displayed.
The field and the output should match. ie: the field should also say: `No Data`, then i

[2021-05-02 07:42] #31110 closed

[2021-05-02 07:43] torkelo commented on #26930
this should be fixed in later versions as the stack interpolation has been removed

[2021-05-02 07:43] #26930 closed

[2021-05-02 10:59] codesome commented on #24495
Haven't faced it in the ported code

[2021-05-02 14:05] MrBlood01 commented on #33594
Can anyone help me out?

Thanks.

[2021-05-02 17:28] FloraJeeva commented on #33280
Hi tried with Grafana 7.1 still same there is no line in graph
![image](https://user-images.githubusercontent.com/43877207/116821949-e0839d80-ab99-11eb-81bf-a5bf68e2e204.png)

[2021-05-02 17:51] tricoos opened #33610 "Grafana embeds not working in Chromium/Chrome incognito window"
OS: Raspberry Pi OS (buster) - latest version with all updates (command line calls), Windows 10 20H2
Browser: Chromium 88.0.4324.187 (official build)
Grafana: 7.3.2

When I start Chromium like this after the loading animation the error message "...this could be caused by your reverse proxy..." is shown for all embeds:
chromium-browser --incognito --kiosk http://example.com/my-page-with-embeds/

Wh

[2021-05-02 18:08] bob454522 commented on #15546
This is a great mod,  thanks for posting!  i am making use of this, but for showing VARs dropdown while in KIOSK mode.
**It should be noted that making this change could (will?) very likely be overwritten by a future update**,  so it may disappear (and have to be re-modified by end user,  post grafana update)

**(would be GREAT to have this feature built into grafana, for the update issue referenc

[2021-05-02 23:15] elenorebastian opened #33613 "Add auto-complete to variables query"
**What would you like to be added**:
Add auto-complete to variables query
**Why is this needed**:
Ease of use

[2021-05-03 00:19] krzd7 commented on #448
A very important feature indeed.

Why not adding this in a way the community can handle language packs? I mean, Grafana should only support english by default, but having a way to upload your own language pack. It should not slow down development speed.