[2019-09-30 10:25] cdalexndr opened #19501 "Provisioning documentation default values"
**What would you like to be added**:
Please add default field values used in provisioning configuration [documentation](https://grafana.com/docs/administration/provisioning/#example-datasource-config-file)

**Why is this needed**:
When configuring provisioning, instead of adding all fields to the required value, a user can omit some and rely on their default values.

[2019-09-30 10:29] papagian commented on #19112
@hugohaggmark sure

[2019-09-30 10:59] Svonn commented on #19159
Unfortunatly defeats the point of having automatization for that. Having a large number of jobs we need to use drilldowns / aggregations of alerts that show us if any job in that aggregation is failing. We were hoping by having jobs creating their own dashboards and thus registering in the alert overview we can ensure that there is no job missing.

[2019-09-30 11:47] sarlinska commented on #18405
No, it's actually ok – it should stay as it is.

[2019-09-30 11:47] #18405 closed

[2019-09-30 11:47] cdalexndr commented on #18904
Opened https://github.com/grafana/grafana/issues/19501

[2019-09-30 12:05] karln-star commented on #4157
+1
Would be really helpful in inspecting logs.

[2019-09-30 12:13] hugohaggmark commented on #19501
Thank @cdalexndr for taking the time to create this issue!

[2019-09-30 12:38] marcusolsson commented on #19281
@bobertlo Sounds like a great idea!

[2019-09-30 12:44] #18982 closed

[2019-09-30 12:47] MuhtasimTanmoy commented on #19110
Have a look at here [notifications.md](https://github.com/grafana/grafana/blob/master/docs/sources/alerting/notifications.md).

URL should be uppercased in Webhook section?

Example json body:
[code]

[2019-09-30 12:48] #19109 closed

[2019-09-30 12:52] marcusolsson commented on #19110
Code blocks are typically sensitive to these changes. Looks like `imageUrl` is part of the webhook API schema, so we should probably leave this as is.

[2019-09-30 13:16] #19454 closed

[2019-09-30 13:34] #19489 closed

[2019-09-30 13:41] #19451 closed

[2019-09-30 14:00] AEzzatA commented on #19431
I know, yet its very misleading to have an option, save on it, and then refresh to find something else!

[2019-09-30 14:12] marefr opened #19506 "Database: Transactions over service boundaries experiment"
We want to do an experiment with handling transactions over service boundaries. Service boundaries in relation to Grafana backend means for example dashboard, alerting and user services, still running in-process. We've decided that converting SaveDashboard HTTP API call to start a transaction and commit/rollback where that same transaction is used for all database interactions would be a suitable

[2019-09-30 14:34] pbuentam opened #19507 "Pie charts not rendered"
**What happened**:

Pie charts are not been rendered if there are several panels in the dashboard before them.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

A templated dashboard with 72 panels (graph and single stat) before 20 pie chart panels (version 1.3.8)

![Captura](https://user-images.githubusercontent.com/38005863/65888274-88722d00-e3

[2019-09-30 14:46] sunker commented on #17601
This was fixed in 6.4

[2019-09-30 14:46] #17601 closed

[2019-09-30 15:03] weeco commented on #15381
@marefr Alright, I tackled this issue and tried to follow your pointers. Maybe you want to take a look at it and provide further assistance with the (broken) tests.

[2019-09-30 15:16] patrickjuchli commented on #19435
Sorry for the confusion, let me try again:

I have a custom backend. It holds my metrics for all systems but also offers user management. Users have access to specific sets of systems. "System" is a thing that exposes some metrics.

Users should be able to use Grafana to look at metrics of systems they have access to.

I've written a datasource plugin connecting to this backend. I've been using da

[2019-09-30 15:21] papagian commented on #19112
@handfreezer sorry for the late reply.
According to [this](http://opentsdb.net/docs/build/html/api_http/index.html#cors) you should be able to bypass the CORS errors your are experiencing by setting appropriately the `tsd.http.request.cors_domains` in your OpenTSDB configuration.
 Would you like to try this?

[2019-09-30 15:44] alvarolmedo commented on #6798
+1

[2019-09-30 18:14] szerwi commented on #19486
@hugohaggmark I'd like to change tab title that is displayed in browser and search engines.
I want to have it the same as dashboard name, without "Grafana" postfix.
![Bez tytułu](https://user-images.githubusercontent.com/19311511/65904404-ab600980-e3be-11e9-94b4-6f577e105a36.png)

[2019-09-30 18:39] #19473 closed

[2019-09-30 18:48] cyriltovena opened #19512 "Explore: Filter disappear when adding a label matcher via the UI"
**What would you like to be added**:

Currently in Explore with Loki datasource when you have a multiple filter expressions:

[code]

And you click on the `+` button to add a new label matcher from a label value, it will add the label matcher but also remove all filter ending up with `{app="foo",new="matcher"}`.

**Why is this needed**:

It would be better if we don't have to rewrite filter expres

[2019-09-30 20:22] kyschouv commented on #4469
This would be really helpful, as the legends on some graphs often have different widths, causing the graphs to be different sizes.

[2019-09-30 20:40] y-batsianouski opened #19514 "CloudWatch ec2_instance_attribute can't get LaunchTime: Metric request error"
**What happened**:
When I try to use template variable for CloudWatch with next query: `ec2_instance_attribute(eu-west-1, LaunchTime, { "tag:billing:component": [ "view-cache" ], "tag:billing:environment": [ "prod" ] })` I get error `Template variables could not be initialized: metric request error`

**What you expected to happen**:
I get LaunchTime of the instances

**How to reproduce it (as mini

[2019-09-30 20:48] y-batsianouski commented on #19514
![image](https://user-images.githubusercontent.com/26086873/65915789-cd688480-e3dc-11e9-93c4-205c03945409.png)

[2019-09-30 22:08] jtaleric commented on #13843
I am hitting this. I can query prom directly and get the desired result, however through Grafana I am missing values. I will see if I can get the Chrome `dev-tools` to show the request/response -- it would be a great feature to add the query inspector to the variables page too...

[2019-09-30 23:00] TheEdu commented on #1387
+1 panning

[2019-10-01 04:57] hugohaggmark commented on #19486
Thanks @szerwi, I understand this but I asked you if you could describe the use case for this and how you think this brings value to Grafana?

[2019-10-01 06:00] torkelo commented on #19371
<img width="463" alt="Screen Shot 2019-10-01 at 08 00 14" src="https://user-images.githubusercontent.com/10999/65937881-881a7600-e421-11e9-8c87-f8afd0bbc948.png">

[2019-10-01 07:37] marefr commented on #16264
Moving this to 6.5 milestone. We have done some related work in #19087 so that when creating a new alert that uses template variables you won't be able to add alert. We have to have another look at this for 6.5 and see if there something left we can do. We probably don't want to do too much given the next generation alerting coming up.

[2019-10-01 07:46] #19493 closed

[2019-10-01 08:19] #19152 closed

[2019-10-01 08:36] marefr commented on #18924
IP address is parsed here when creating a new token: https://github.com/grafana/grafana/blob/0ec83038783ba73d410fda74bd34c642906bb1a7/pkg/services/auth/auth_token.go#L58

Parsing of IP address is done here: https://github.com/grafana/grafana/blob/master/pkg/util/ip_address.go

[2019-10-01 08:47] ngjack2 opened #19521 "build issue using window 10."
**What happened**: command run "go run build.go build" return error.
![image](https://user-images.githubusercontent.com/50260319/65947468-f6cff180-e46a-11e9-816e-72b4ec882f95.png)

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**: Repeat the same command, the same error appear.

**Anything else we need to know?**:

**Environment**:
- Grafana versio

[2019-10-01 08:51] marefr commented on #13612
Should have been fixed by #19454 since it has this PR included https://github.com/hashicorp/go-plugin/pull/117

[2019-10-01 08:51] #13612 closed

[2019-10-01 09:02] sunker commented on #17949
I agree it's a bug that not more than one multiselect variable is supported, bu I also think it's wrong that Grafana is creating new queries based on the multiselect values. This should be done in the cloudwatch API and if it's not supported there we should not provide workarounds for that.

@mtanda, doesn't the API support chained dimensions so that instead of firing off many queries, we just app

[2019-10-01 10:00] torkelo commented on #19507
update pie chart plugin, should fix it

[2019-10-01 10:00] #19507 closed

[2019-10-01 10:12] mhollstein opened #19522 "Playlist with alarm dependend rotation"
**What would you like to be added**:
The playlist rotation should be triggered by an dashboard alarm (additional option)
Only dashboards with alarms should be shown if an alarm occurs in one or more
dashboards of a playlist. Dashboards with no alarms in a playlist should be hidden.
If only one dashboard of a playlist has an alarm than only that dashboard should be shown
and the rotation stopps unt

[2019-10-01 10:17] szerwi commented on #19486
@hugohaggmark just to make it more personalized. Most people probably don't want or don't need Grafana postfix in the title.

The most difference is in search engines, title without postifx looks better.

[2019-10-01 10:33] marefr commented on #13015
Should be fixed by #14150 since it looks like datasource is CloudWatch.

[2019-10-01 10:33] #13015 closed

[2019-10-01 10:37] marefr commented on #12570
Fixed by #13424

[2019-10-01 10:37] #12570 closed

[2019-10-01 10:41] marefr commented on #11757
@jeroenjacobs79 are you still having this problem?

[2019-10-01 10:46] rkno82 commented on #18223
I've also invested some time into debugging this issue and finally found that open issue.
Could we, atleast, make a note into the documentation that was config/ credential file support for switching roles is not supported currently?

[2019-10-01 10:46] sadoMasupilami commented on #19440
I just wanted to open the same request regarding Data Links for X Axis Series Mode.
Thank you for opening!

[2019-10-01 11:46] sadoMasupilami opened #19527 "BarGauge: Auto min / max based on data"
**What would you like to be added**: Bar Gauges should dynamically decide the maximum if not set (curretnly 100 is default)

**Why is this needed**:
The scenario is using bar gauges to show the most common error in an error log (mysql). As 1h or 1y could be selected setting a static maximum does not work for this scenario.

[2019-10-01 12:23] #17448 closed

[2019-10-01 13:11] xslugx commented on #19483
MSSQL version: 13.0.5026.0 SP2 , sorry for the delay on this.

[2019-10-01 13:36] der-eismann opened #19529 "6.4.0: Stacked graphs not sorted by query order anymore"
**What happened**: After updating to Grafana 6.4.0 my stacked graphs for memory consumption (and others too, of course) have a seemingly random order.

**What you expected to happen**: Keep the previous behavior and show graphs in the same order as they were queried.

**How to reproduce it (as minimally and precisely as possible)**: Query multiple metrics from prometheus, stack them and try to man

[2019-10-01 13:37] cyriltovena opened #19530 "Log Panel: Selecting Live doesn't trigger a preview."
**What happened**:

When you create a new log panel, set up the LogQL hit enter, you get a preview of the logs.
But when you activate Live options:

<img width="795" alt="loki log panel" src="https://user-images.githubusercontent.com/1053421/65966399-0715ab80-e42e-11e9-9d56-471ea717036d.png">

It doesn't open a tail directly, nothing changes. However if you hit `ENTER` in the query, the preview st

[2019-10-01 13:38] Fischer96 opened #19531 "Raw Document on Elasticsearch Datasource broken in Table"
**What happened**: Raw Document Queries don't show the json

**What you expected to happen**: That Raw Document shows the json as in older versions (< 6.4.0)

**How to reproduce it (as minimally and precisely as possible)**:

1. Add a Table to the Dashboard
2. Select Raw Document as Metric

**Anything else we need to know?**:

Worked in Grafana 6.3.5 and lower. When selecting Json Data in Table Tr

[2019-10-01 13:45] xslugx commented on #19483
I would like to state that I can connect to the same server I am trying to connect with Grafana using Heidi SQL and Microsoft SQL Server Management Studio

[2019-10-01 13:50] sunker commented on #8443
@visit1985 are you still having the same issue?

[2019-10-01 13:52] cyriltovena opened #19532 "Log Panel: Live tailing recreates websocket on refresh"
**What happened**:

If you activates `Live` in the log panels and set the dashboard to refresh every 5s, the websocket is recreated every 5s and the panel doesn't update anymore.
![image](https://user-images.githubusercontent.com/1053421/65968435-23ffae00-e431-11e9-8953-19b5b584fcbc.png)

**What you expected to happen**:

Dashboard refresh should not affect live tailing log panel, only refresh the

[2019-10-01 14:16] duylong commented on #7271
Even if a solution has been brought, it is a shame that this ticket is closed, because we can still improve the operation of the Singlestat.

[2019-10-01 14:23] cyriltovena opened #19534 "Loki Explore: Autocompletion for label values is not working when typing"
**What happened**:

When adding a label matcher, the label name is suggested but not the label value anymore see:

![Screen Recording 2019-10-01 at 10 12 02 AM (1)](https://user-images.githubusercontent.com/1053421/65970955-72af4700-e435-11e9-9dc1-cb7b2c391441.gif)

**What you expected to happen**:

Label value to be correctly suggested when typing.

**How to reproduce it (as minimally and precise

[2019-10-01 14:40] der-eismann commented on #19529
Another thing I noticed is that the axes show by default a lot of decimals, this was also different in the old version.
![screenshot](https://user-images.githubusercontent.com/10406217/65972444-229ea780-e46a-11e9-994d-d69133d13bc7.png)

[2019-10-01 15:09] pbuentam commented on #19507
Just upgraded it from 1.3.8 to 1.3.9 the issue is still there. Tomorrow I will upgrade Grafana to 6.3.6, just in case.

[2019-10-01 15:23] howardjohn opened #19535 "Grafana 6.4/6.3 snapshot to raintank displays empty panels"
**What happened**:
After upgrading to Grafana 6.4.0, I can no longer export snapshots to raintank. See one example: https://snapshot.raintank.io/dashboard/snapshot/m8UASph32CWB6KZAOPocSxyCYwy3j308?orgId=2

All the panels are there but all info is missing.

On grafana 6.1.6: https://snapshot.raintank.io/dashboard/snapshot/0y4pnjMjwraP7TCsEhoF14jgxGYOjGy7?orgId=2 (works)
On grafana 6.2.5: https://sn

[2019-10-01 15:34] benjdl commented on #5475
Any update on this issue ? No word on the roadmap about it

[2019-10-01 15:34] benjdl commented on #13703
Any update on this issue ?

[2019-10-01 15:40] cyriltovena opened #19536 "Explore: Connect null/zero values."
**What would you like to be added**:

It would be great if we could allow the same options `Null Value: Connected/Zero` from graph panel into Explore metrics.

When I'm looking at this :

![image](https://user-images.githubusercontent.com/1053421/65977534-1867b380-e440-11e9-8a25-fba1a3535e7b.png)

That is less interesting than:
![image](https://user-images.githubusercontent.com/1053421/65977732-76

[2019-10-01 15:57] cyrilbkr opened #19538 "Cloudwatch datasource : Sagemaker no datapoint"
Hi,

I m trying to use the Cloudwatch Datasource for catching Sagemaker metrics.

The Cloudwatch datasource auto discover my endpoint name correctly, but i can't visualize any data points.

Can you help me please ? I try with 2 differents versions of Grafana.
Did i miss something ?

<img width="1096" alt="toto" src="https://user-images.githubusercontent.com/31832102/65978997-e6bd0f80-e474-11e9-923

[2019-10-01 16:11] guhcampos commented on #13323
Allow me to register another request here.

One of the only drawbacks of using Elasticsearch pretty much anywhere is convincing people to learn Lucene (in the case of Grafana) or Elastic's Query DLS otherwise. Their implementation of SQL was a great improvement, but Grafana is falling behind in such regard. ES is a major platform even for timeseries data these days, so having SQL support is a big

[2019-10-01 16:13] cyriltovena opened #19540 "Explore: List of logs not updating accordingly"
**What happened**:

When you have a query that returns logs such as `{job=~"prod/.*",level="error"}` but then switch to a query with no logs using a dump query like `{job=~"prod/.*",level="foo"}`, all logs from the previous query are still showing however the histogram and counts are showing latest values.

**What you expected to happen**:

Query with empty result should wipe the log list.

**How

[2019-10-01 16:29] aocenas commented on #19540
I was able to reproduce it briefly but then it went away and right now I am unable to reproduce for some time. Not sure what the problem is but does not seem easy to simulate, either it was something really transient, or some edge case with some front end caching that goes away after reload and is not that easy to get again.

[2019-10-01 16:58] Fusl opened #19541 "Automated decimal precision on graphs broken since 6.4.0"
![afe2b6833bc4](https://user-images.githubusercontent.com/2349496/65979309-57fcc280-e475-11e9-825e-fc5868a87d38.png)

**Environment**:
- Grafana version: 6.4.0
- Data source type & version: InfluxDB 1.7.8
- OS Grafana is installed on: Official Docker Image
- User OS & Browser: Linux / Chrome
- Grafana plugins: standard plugins
- Others:

[2019-10-01 17:25] Nuadvocate commented on #6592
What's the status of this implementation? We're currently using seyren and cabot for alerting, and would like to migrate to Grafana alerting. Without the time restriction, we won't be able to move forward.

[2019-10-01 17:34] mkdel opened #19542 "More than one graph do not show Dynamic"
**What happened**: when I select more that one graph to show it draw straight lines.

**What you expected to happen**: expect to see dynamic

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Grafana version: Grafana v6.4.0 (c3b3ad4)
- Data source type & version: Prometheus 2.12.0
- OS Grafana is installed on: Red Hat Enterpr

[2019-10-01 17:47] aerickson opened #19543 "DashboardList Panel & support for url tag filters"
**What would you like to be added**:

I'd like to be able to share a link with people that allows me to filter the dashboard list based on tags.

Example URL: https://host.influxcloud.net/dashboards/f/UNIQUE_ID/FOLDER?tag=production,east_coast

**Why is this needed**:

It's very handy to highlight a subset of dashboards via direct link.

[2019-10-01 17:58] maxlehot1234 commented on #19213
@alexanderzobnin
Let me know when you can ;)

@ryantxu
We freeup some disk space and the Bar Gauge still having the same problem even at 10.22%.

[2019-10-01 18:22] ryantxu commented on #19213
yes

[2019-10-01 18:29] maxlehot1234 commented on #19213
Here it is with HOSTNAME represent the server hostname.
https://gist.github.com/maxlehot1234/cb7ad84d750ea4757cd59453548b04e3

[2019-10-01 18:35] mkdel commented on #19542
Also installed  on CentOS Linux release 7.6.1810 with the same result.  Grafana v6.3.3 (84d0a71)

[2019-10-01 18:54] brew-install-buzzwords commented on #19294
Can you give an example of where an ampersand should not be removed?

[2019-10-01 18:57] torkelo commented on #19542
this is not a bug, the variation is super small in the first series, so when add the second series then it becomes a line when drawn using same scale.

[2019-10-01 18:57] #19542 closed

[2019-10-01 18:58] torkelo commented on #19541
thanks for reporting this

[2019-10-01 19:24] aocenas opened #19544 "Explore: With Loki the query input overflows on long query"
When query gets long the Loki query input jumps to next line:
<img width="933" alt="Screenshot 2019-10-01 at 18 16 49" src="https://user-images.githubusercontent.com/1014802/65993414-812b4c00-e491-11e9-9df6-da1ca08465d2.png">

There is also another issue open that probably could be tackled together if possible (as I assume by fixing this one the other one will again be valid): https://github.com/g

[2019-10-01 19:31] aocenas commented on #15246
@davkal seems like this could be good onboarding issue, but the question is what would be a good fix. I would personally put it totally outside of the input in some way to make it easier.
Other solution could be to somehow inline it in to the end of the query but this can be hard to control in a way to prevent the counter being on its own row and also makes the position not stable in relation to t

[2019-10-01 20:02] flopp999 commented on #19535
same as #18490 ?

[2019-10-01 20:12] marefr commented on #19531
Can replicate on 6.4.0-beta2 [here](https://play.grafana.org/d/000000014/elasticsearch-metrics?orgId=1&fullscreen&panelId=5).

[2019-10-01 20:14] mstefa27-ford opened #19545 "Azure Monitor data source uses wrong authorization uri for Azure China"
**What happened**:
When attempting to configure a data source in Grafana for Azure Monitor in the Azure China cloud, Grafana reports back two "unexpected error" messages and a message at the bottom:

1. Azure Monitor: Cannot connect to Azure Monitor REST API. 2. Azure Log Analytics: Cannot connect to Azure Log Analytics REST API.

Upon inspection in the network tab in Chrome's developer console, I

[2019-10-01 20:17] marefr commented on #19483
Possibly duplicate of #17665

[2019-10-01 20:18] howardjohn commented on #19535
Yes looks like it, thanks for the reference. Is the raintank snapshot generally not something that is considered high priority/well supported? Just curious if I should transition over to local snapshots?

[2019-10-01 20:18] #19535 closed

[2019-10-01 20:29] xslugx commented on #19483
After looking at #17665 it appears to be a bit different, as this pertains to the actual connection string and not a username and password error. we used named servers for MSSQL instead of IP's, while the name contains a \ symbol it removes whatever is after \, So it may just be something with the go language that stops it from recognizing that in the string. I will do some further investigation i

[2019-10-01 20:45] bmcgough commented on #10901
I am interesting in this as a feature as well, and have another use case.

We have a system where the loss of redundancy for a period of time is an acceptable risk. In that state (redundancy lost, Grafana Alerting) however, there are other alerts that would change the risk calculation. In short, alert a is not enough to send notification, but alert a and alert b (or c, or d) may be enough to notif

[2019-10-01 20:59] marefr commented on #19529
Similar to #19448, maybe the same underlying problem?

[2019-10-01 21:12] marefr commented on #19483
Can you try and replace `\` with `\\`?

[2019-10-01 21:31] xslugx commented on #19483
That did not work as, so now I went with servername'\\ 'servername and the error stats
"Unable to get instances from sql Server Browser on host servername': dial udp lookup servername': no such host" so again removing everything after \

[2019-10-01 21:34] wtip commented on #19529
I'm having the same issue.
For example with this dashboard https://grafana.com/grafana/dashboards/405
for prometheus and node_exporter.

[2019-10-01 22:05] marefr commented on #19483
Looking at the code from the mssql go-library we're using:
Error is returned fromr `getInstances`:
https://github.com/grafana/grafana/blob/ac11352e3e9daec0c173b6db8bfa42690cc7fb1b/vendor/github.com/denisenkom/go-mssqldb/tds.go#L1187-L1190

Looking at `getInstances` it tries to connect to the first part of your host (what's before `\`) over udp port 1434 and that seems to fail:
https://github.com/g

[2019-10-01 22:28] marefr commented on #1889
@ashishgopal1414 Grafana per default doesn't allow script tags in text panels. You can change that using this [setting](https://grafana.com/docs/installation/configuration/#disable-sanitize-html) but please note that it have security implications.

[2019-10-01 22:30] ramivis opened #19548 "Singlestat background or value color not applied for string values (when there is no value mapping or thresholds)"
after upgrade from 6.3.5 to 6.4 the singlestat background broken if return is string

![img1](https://user-images.githubusercontent.com/47853421/66005450-deb79c80-e481-11e9-922f-becb20d252c9.png)

This only happens when there is a string value, and no value mappings or thresholds

[2019-10-01 22:33] marefr commented on #8222
@youurayy thanks for the suggestions. I would recommend you to open a new issue where you can report more detailed information since this issue have been closed for over 2 years.

[2019-10-01 22:33] AndrewFarley commented on #6778
+1

[2019-10-01 22:39] marefr commented on #19466
For .ini files you can use environment variables instead.

[2019-10-01 22:42] marefr commented on #19421
Please refer to #17316 which maybe is the feature request that will solve your problem.

[2019-10-01 22:42] xslugx commented on #19483
I do not believe it is mssql express due to the properties of the server. This is in a Corporate setting for a major company. I was testing Grafana for a use case for my department, and I was met with this particular issue immediately. I will look more tomorrow at the server settings but I am certain it is not express.

[2019-10-01 22:46] marefr commented on #19480
Are you sure you have phantomjs located in `/grafana/tools/phantomjs/phantomjs`? The exit status 127 sounds like you don't given for example this topic: https://stackoverflow.com/questions/1763156/127-return-code-from

FYI Grafana v6.4 is released now. Please try it out and let us know the outcome.

[2019-10-01 22:49] marefr commented on #19431
Reopened and change the title to reflect that this is a UX problem.

[2019-10-02 00:28] nightah opened #19549 "Docker: Add back curl to docker image"
**What happened**: Grafana 6.4.0 switched from a ubuntu base image to alpine now the curl package is missing.

**What you expected to happen**: curl to be present in the distributed docker image for Grafana.

**How to reproduce it (as minimally and precisely as possible)**: Install Grafana via docker, attempt to use curl within container.

**Anything else we need to know?**: I recall this occurrin

[2019-10-02 01:17] DanCech commented on #19549
Is there a reason you need curl in the image? Part of the reason behind moving to alpine was to reduce the size and attack surface of the image.  If you really need curl it's trivial to create a Dockerfile based on the official image with curl and any other utilities, plugins, etc added.

[2019-10-02 01:27] nightah commented on #19549
I understand it's trivial to do so, I would have thought that dropping it would have been socialised with issues and alternatives discussed.

It's used to provision data sources and dashboards in dockprom.

I tried swapping to the provisioning system instead of the old documented method with curl and found an issue, primarily with the fact that you cannot change any dashboard that's been provision

[2019-10-02 02:22] nightah commented on #19549
So the `wget` in alpine is the BusyBox variant not GNU, which means you cannot send a HTTP POST with this version, I'll look at what else can be achieved with what's in the base alpine image, I think BusyBox `nc` is available.

Having said that is curl really going to have that large of an impact from a size standpoint?
From the alpine packages page itself:
[code]
Is 220kB really going to be an is

[2019-10-02 04:38] cody271 opened #19552 "Subsecond queries can't go below 10ms interval regardless of minimum interval setting"
In `app/core/utils/kbn` module, `kbn.calculateInterval()` ignores `lowLimitMs` value because `kbn.round_interval()` always rounds up to 10ms minimum.

I think the switch statement in `kbn.round_interval()` needs to be extended with cases for values below 10ms.

[code]

[2019-10-02 04:42] cody271 opened #19553 "Custom time range text input can't parse millisecond durations"
`now-1s` works fine, but `now-100ms` isn't recognized as valid.

![grafana_ms_duration](https://user-images.githubusercontent.com/11763424/66018530-4d055a80-e494-11e9-9246-6eb1c1c699c0.png)

[2019-10-02 04:44] hugohaggmark commented on #19486
@szerwi I don't think we'll support this in a near future, have you looked at [this](https://community.grafana.com/t/how-to-change-title-of-website-grafana/500/21)

[2019-10-02 05:45] hugohaggmark commented on #19500
@torkelo it seems like this might be a bug but could also be something I don't understand about the `current` aggregation. Before I start investigation maybe you can take a quick look?

[2019-10-02 05:47] hugohaggmark commented on #19512
Thanks @cyriltovena

[2019-10-02 05:56] hugohaggmark commented on #19514
Thank you @y-batsianouski for taking the time to report this, we'll have a look at this!

[2019-10-02 06:41] hugohaggmark commented on #19521
Hi @ngjack2 , could you try using go version 1.12.10 instead.

[2019-10-02 06:45] hugohaggmark commented on #19522
Hi @mhollstein and thank you for taking the time to create this request. I added this to our backlog and we'll see what we can do.

[2019-10-02 06:48] hugohaggmark commented on #19527
Thanks for taking the time to create this feature request @sadoMasupilami. I added this to our backlog and we'll have a look.

[2019-10-02 06:50] hugohaggmark commented on #19530
Thank you @cyriltovena

[2019-10-02 06:51] hugohaggmark commented on #19532
Good catch @cyriltovena

[2019-10-02 06:51] f0ff38 commented on #9991
Please add an annotation role.

[2019-10-02 06:54] hugohaggmark commented on #19534
Thank you for reporting this @cyriltovena

[2019-10-02 06:55] hugohaggmark commented on #19536
Thank you again @cyriltovena

[2019-10-02 06:59] torkelo commented on #19548
have you mapped the string to a value? What are your singlestat panel options?

[2019-10-02 07:00] hugohaggmark commented on #19538
Hi @cyrilbkr, we use GitHub for issues and feature requests. For questions we kindly request that you ask your question at the [community site](https://community.grafana.com/) or in our external [Slack   here](https://grafana.slack.com/)

All the best

[2019-10-02 07:00] #19538 closed

[2019-10-02 07:00] iain-buclaw-sociomantic opened #19555 "Loki live tailing debugging needed"
Live tailing requirements should be better documented in the datasource page already. Based on the original issue (websocket config in nginx was missing) I propose to

- [ ] add example nginx config to Loki's datasource config page
- [ ] include a websocket connection test in the test-datasource step

===== Original issue ====

**What happened**:

400 Bad request

https://grafana/api/datasources/p

[2019-10-02 07:02] iain-buclaw-sociomantic commented on #19555
I suspect that Loki needs a new release if Grafana is only expected to work with current master.

[2019-10-02 07:04] hugohaggmark commented on #19545
Hi @mstefa27-ford we're investigating this further

[2019-10-02 07:07] hugohaggmark commented on #19552
HI @cody271, I suggest you open a PR with this change instead. Will close this issue for now, but it can always be reopened at a later stage.

[2019-10-02 07:15] hugohaggmark commented on #19553
Hi @cody271 and thank you for creating this feature request, I'll add it to our backlog but this could be a big change so not sure if we're taking this on in any near future.

[2019-10-02 07:18] hugohaggmark commented on #19555
Hi @iain-buclaw-sociomantic could you please supply grafana server logs and chrome dev tools log output. Could you also describe how your env is setup? Is there any LB in front of Loki for instance?

[2019-10-02 07:22] goravsingal opened #19556 "login.OAuthLogin(missing saved state) - Community version of grafana with OKTA integration"
I’m trying to configure Community edition Grafana(official docker image:5.4.3) with Okta integration.

After doing Okta configuration, Okta authenticates and redirect request to grafana, where I hosted it, But, it shows following error:

login.OAuthLogin(missing saved state)
I’m not using any database for storing sessions. I want to save it on local file only.
In container, I can see sessions fold

[2019-10-02 07:30] hugohaggmark commented on #19556
Hi @goravsingal, we use GitHub for issues and feature requests. For questions we kindly request that you ask your question at the [community site](https://community.grafana.com/) or in our external [Slack   here](https://grafana.slack.com/)

All the best

[2019-10-02 07:30] #19556 closed

[2019-10-02 07:33] davkal commented on #19540
Can't repro either.

[2019-10-02 07:35] iain-buclaw-sociomantic commented on #19555
@hugohaggmark no LB, Loki is running on the same host as Grafana, endpoint is http://localhost:3100.

The grafana side request is
[code]

I get the same response on the CLI just copying what Grafana sends to Loki.
[code]

Minimally though, even this returns bad request.
[code]
With the Loki-side log entry:
[code]

[2019-10-02 07:39] iain-buclaw-sociomantic commented on #19555
After some trial an error in curl, I get a good response from Loki if I do the following:
[code]

[2019-10-02 07:40] davkal commented on #19555
Re websocket connections: we documented this here with mentions of a reverse proxy: https://grafana.com/docs/features/datasources/loki/#live-tailing

But perhaps we should already have an active test in the datasource settings page to debug this.

[2019-10-02 07:45] hugohaggmark commented on #19555
I don't think we've added a test for this yet, we definitely should.

[2019-10-02 07:47] iain-buclaw-sociomantic commented on #19555
In the browser request:
[code]

Turning that into a curl command.
[code]
This works, so @davkal must be right, and something is getting dropped between the browser client and grafana. I'll give nginx a tweak and see what happens.

[2019-10-02 07:50] #19371 closed

[2019-10-02 07:52] iain-buclaw-sociomantic commented on #19555
Confirmed, nginx was not configured to handle the new feature.
[code]

[2019-10-02 07:53] duylong commented on #15951
Scroll API is a good idea. In addition, we don't wait for the loading of all data.

[2019-10-02 07:57] holgerbrandl commented on #3956
I understand the variables, but column filters are imho an independent drill-down mechanism. E.g. the user may want to quickly narrow down a particual table without changing the compelte dashboard configuration. See https://rstudio.github.io/DT/ (section 2.8) for a nice implementation.

[2019-10-02 07:57] ngjack2 commented on #19521
hi @hugohaggmark i able to solve this issue by **go get -u golang.org/x/xerrors**. Now it another problem rise up when i tried to **yarn install --pure-lockfile**. It seem due to python version, but the instruction mention the build able to support 3.7. The version i have is 3.7.4.
![image](https://user-images.githubusercontent.com/50260319/66027388-5e4e7580-e52d-11e9-96e8-01449455f320.png)

[2019-10-02 07:59] sunker commented on #11050
I can't reproduce this. Tested in master and in 5.4. What I did was:
1. Create a custom variable
2. Use the custom variable in a query editor --> works fine
3. Add a new value to the custom variable
4. The new value is being interpreted correctly. Query returns no data when inputing a bad value to the custom template variable, and returns query data when using a valid input value.

Also, after add

[2019-10-02 08:12] 7Horizon commented on #17939
No, I have chrome installed on a raspi with linux, same thing

[2019-10-02 08:12] hugohaggmark commented on #19521
Could you kindly ask this in the [community site](https://community.grafana.com/) or in our external [Slack   here](https://grafana.slack.com/) instead. I'll close this issue for now but we can always reopen it if needed.

All the best

[2019-10-02 08:12] #19521 closed

[2019-10-02 08:14] hugohaggmark commented on #19555
Great to hear that you solved it!

All the best

[2019-10-02 08:15] #19358 closed

[2019-10-02 08:22] Theoooooo commented on #17327
I'm also seing this issue in the explore panel for the version 6.4.1 of Grafana.
When choosing greater time range (more than 1 hour) i got an Unknown Elastic Error Response because the query return too many buckets to aggregate or display.

There is also something to do there to help display the informations without having to modify options into elastic

[2019-10-02 08:23] nightah commented on #19549
Could we alternatively replace BusyBox `wget` wiith GNU `wget`?

[code]

This will result with a larger image than if we just included `curl` though.
Not sure of the security implications considering BusyBox vs GNU `wget`

[2019-10-02 08:38] amilcarbra opened #19560 "Mobile navigation isn't showing hover tooltip"
**What happened**: When navigating on a panel on a mobile device, the hover tooltip is hidden by a create annotation form whenever you click on a panel point with your fingers. It looks like a bug, because the tooltip is presented for less than a second before the modal annotation form takes place in the screen

**What you expected to happen**: In older grafana versions the annotation form was not

[2019-10-02 08:59] keurigonline commented on #17939
Same problem on my Apple laptops.

[2019-10-02 09:04] Napfton commented on #19420
I am at a loss here: How can I add/define a single query to 2 different data sources? I was told that this is possible...

[2019-10-02 09:11] Nessworthy commented on #13749
Issue still seems to be outstanding, even in 6.4.1.

[2019-10-02 09:13] hugohaggmark commented on #19560
Thanks for adding this @amilcarbra, added this to our backlog.

[2019-10-02 09:14] duylong opened #19561 "Ignore keys in $Filters"
Hi,

In Elasticsearch, we can to have 2 same fields with "type": "keyword" and "type": "text". Except that in $Filters, we have all the fields in the selection. Is it possible to add the possibility of ignoring some fields?

[2019-10-02 09:18] hugohaggmark commented on #19420
When you add query instead of selecting `mixed` add one of your Influx datasources.
![image](https://user-images.githubusercontent.com/562238/66032785-516a5b80-e506-11e9-92ac-45a1fff29f9a.png)

[2019-10-02 09:18] anthonysomerset commented on #8259
For me, i'd like to maintain a single list of router/interface pairs e.g.

`BYO-XXX-XXX_LZWXXXXXX,BYO-XXX-XXX_GigabitEthernet0/X/X.XXXX`

I'd like to have a repeating panel on this variable list, that then uses the first part before _ to populate the Host field (Zabbix plugin) and the second part the Item field within a larger regex itself

if i can create nested variables that extract the parts o

[2019-10-02 09:22] llirikk commented on #12607
+1

[2019-10-02 09:24] hugohaggmark commented on #19420
Did that last information help you?

[2019-10-02 09:31] Nightglowie opened #19562 "Templating variable cause issue"
I'm trying to use template variable in grafana with an elasticsearch database.

My variable doesn't display any preview values.
![variable_none](https://user-images.githubusercontent.com/34153782/66033261-34825800-e507-11e9-8fa0-9cb73d4ce446.jpg)

Even though the variable name is displayed in the preview values when I search for the field names.
![variable_list](https://user-images.githubuserconte

[2019-10-02 09:33] pavleec opened #19563 "Table panel JSON Data presentation broken after 6.3.6"
**What happened**:
After upgrade to the latest stable 6.4 release Table panel stoped presenting ElasticSearch JSON Data. Here is how it looks like now:
![broken2](https://user-images.githubusercontent.com/12551929/66033550-cbe7ab00-e507-11e9-8b6f-d8c1ad2b5da9.png)
**What you expected to happen**:
And here is how it was presented in 6.3.6
![broken](https://user-images.githubusercontent.com/12551929

[2019-10-02 09:38] sanchomuzax opened #19564 "[bug] local format problem"
Please see the numbers on Legengs that not formatted to local format:

![image](https://user-images.githubusercontent.com/2911588/66033566-d3a74f80-e507-11e9-8633-c5530c6a994c.png)

(My local format is 1 000 000, HU/Hungary.)

It has a problem with formatting of numbers that less than 1 000 000.

The test query:

![image](https://user-images.githubusercontent.com/2911588/66033922-88417100-e508-11e

[2019-10-02 09:38] kaiehlig commented on #19563
+1

[2019-10-02 09:41] aocenas commented on #19563
Seems like this could be a duplicate of https://github.com/grafana/grafana/issues/19531

[2019-10-02 09:43] torkelo commented on #19564
this is what the browser is is doing, the locale format is using browser built-in local formating

[2019-10-02 09:44] aocenas commented on #19532
@davkal as we removed the Live option in dashboard should we close this or give it low priority?

[2019-10-02 09:44] cicciopizza commented on #19548
same problem:
in grafana 6.3.5 the visualization option of singlestat has:
![Selezione_066](https://user-images.githubusercontent.com/26459829/66034048-c5a5fe80-e508-11e9-9080-813fedd07f5a.png)
uptime is the column of mysql query:
![Selezione_067](https://user-images.githubusercontent.com/26459829/66034146-f8e88d80-e508-11e9-87dd-749b6a400a5d.png)

and the singlestat backgroung is correctly displa

[2019-10-02 09:45] kaiehlig commented on #19531
+1

[2019-10-02 09:46] Nightglowie commented on #19562
It needed to be added "keyword" so : correlationIdSet.date.keyword

[2019-10-02 09:46] #19562 closed

[2019-10-02 09:48] aocenas commented on #18864
Should be fixed already in 6.4.

[2019-10-02 09:48] #18864 closed

[2019-10-02 09:48] pierrecdn commented on #8259
I think it would be nice to have maintainers views on this instead of adding use-cases and use-cases year after year :smile:
@davkal @marefr what do you think? Skeptical about validity of use-cases? Generally speaking, people don't always have the full control on their metric ingestion, metric transformation, metric history and would like to change their text representation in drop-down lists and

[2019-10-02 09:53] torkelo commented on #19500
Current can of course change if you change time range (due to rollup or aggregation)

Check what zabbix returns using query inspector

[2019-10-02 09:53] #19500 closed

[2019-10-02 09:57] mkdel commented on #19542
oh, silly me, thank you so much!

[2019-10-02 09:59] m-peko commented on #19480
@marefr  Did Grafana v6.4 drop PhantomJS?

[2019-10-02 10:15] TheRoSS opened #19565 "Error "Canceled:Query Changed while running" upon changing time range"
**What happened**:
Open any slow query graph. While graph data is loading, try to change time range. You get an error "Canceled:Query Changed while running" and data stops loading.

**What you expected to happen**:
Current request to backend with old time range should be cancelled and new request with updated time range should be launched

**How to reproduce it (as minimally and precisely as possi

[2019-10-02 10:16] davkal commented on #19532
Can you please check if Explore is affected as well?

[2019-10-02 10:33] marefr commented on #11617
Some pointers if someone is interested in fixing this:

Need to add a new backend route for the /d-solo route without slug parameter
https://github.com/grafana/grafana/blob/16b041608d2fd4b3c4e4a8a54332d3ef881dfd7c/pkg/api/api.go#L73

Similar to what exists for the /d/ route:
https://github.com/grafana/grafana/blob/16b041608d2fd4b3c4e4a8a54332d3ef881dfd7c/pkg/api/api.go#L69

Also need to add a new

[2019-10-02 10:41] atartareanu opened #19567 "Singlestat $__name in postfix/prefix is not working anymore"
**What happened**: After upgrade from grafana 6.2.0 to 6.4.0 the $__name variable for prefix and postfix are not working anymore for the singlestat panel
I have verified with grafana 6.3.6 and this was still working.
**How to reproduce it (as minimally and precisely as possible)**: the panel will display $__name instead of the value

**Environment**:
- Grafana version: 6.4.0
- Data source type & v

[2019-10-02 10:46] torkelo commented on #18907
Sounds like your PC (browser) has wrong time configured :)

Do you want Grafana to add a similar alert to what Prometheus has?

[2019-10-02 10:46] #18907 closed

[2019-10-02 10:46] mickep76 commented on #17933
+1 support for dGraph

[2019-10-02 10:50] torkelo commented on #18650
Still not sure what your asking, the panel your showing that lacks is missing data, how is this relating to zoom without single panel only?

[2019-10-02 10:52] torkelo commented on #19426
closing due to lack of update

[2019-10-02 10:52] #19426 closed

[2019-10-02 10:53] torkelo commented on #19567
thanks for reporting this

[2019-10-02 11:26] torkelo commented on #19548
ok, so you have no thresholds you just want to set a static background color?

[2019-10-02 11:26] torkelo commented on #19563
yes

[2019-10-02 11:26] #19563 closed

[2019-10-02 11:28] torkelo commented on #19561
not sure I understand, ignore how / where? Filters are optional you can remove them in ad hoc way (which is why they are called ad-hoc filters)

[2019-10-02 11:28] #19561 closed

[2019-10-02 11:29] torkelo commented on #19561
ah, you want to filter out entries in the the dropdown

[2019-10-02 11:38] duylong commented on #19561
Sorry, I went quickly in the presentation. This is the entries in the dropdown ;) Currently I have duplicates, fields with the type "keywords" (raw values) and others with the type "text".

[2019-10-02 11:38] ramivis commented on #19548
yes, in the old versions it works and not now. Now works only for numeric values.

[2019-10-02 11:46] rwaffen opened #19569 "reposync breaks on old rpm packages"
**What happened**:
i want to sync the yum rpm repo to my local site. therefor i use reposync. but it breaks on old packages in the metadata.

**What you expected to happen**:
i can sync the repo with reposync

**How to reproduce it (as minimally and precisely as possible)**:
[code]
[code]

**Anything else we need to know?**:
no.

**Environment**:
- Grafana version: n/a
- Data source type & version

[2019-10-02 11:48] diegocanton opened #19570 "Gauge: Data (from query) driven min, max & thresholds"
**It would be very useful if we could control the Gauge "Min" and "Max" values through a query.

Imagine using a Query X with LimitThresholdMin alias and Query Y with LimitThresholdMax alias, now we use these variables in the Gauge Threshold "Min" and "Max" field making it dynamic.**:

**Utility example: We have a Dash that keeps the number of employees available for maintenance in different citie

[2019-10-02 11:58] marefr commented on #16709
If anyone interested in contributing here the first part is investigating whether the port is possible to retrieve from an `http.Server` instance or what would be needed to fix this.

[2019-10-02 12:12] sanchomuzax commented on #19564
I think you didn't watch the mistake. 😢

The local format is indicated by Grafana if the digit is above 1 000 000. If it is less than 1 000 000, it will be corrupted and not show in local format.

Please don't close the task. This feature was good before Grafana 6.4.

[2019-10-02 12:18] torkelo commented on #19564
if you use locale unit grafana will always let browser format value, there is no limit, maybe the browser changed how it formats values?

[2019-10-02 12:18] #19564 closed

[2019-10-02 12:22] gotjosh opened #19572 "SAML: Login button not shown"
**What happened**:

SAML login button is not shown despite having SAML enabled and being on Enterprise version.

**What you expected to happen**:

SAML button to be shown.

**How to reproduce it (as minimally and precisely as possible)**:

Use Grafana enterprise and enable SAML as login provider in the configuration.

**Anything else we need to know?**:

The problem lies on [LoginPage](https://git

[2019-10-02 12:51] edwinsc opened #19574 "Docs: Fix documentation regarding datasource SSL/TLS certificates support"
**What happened**: Configured Postgres datasource, as documented in https://grafana.com/docs/administration/provisioning/#datasources, using certificates and key to authenticate instead of user and password reports error: "pq: connection requires a valid client certificate". The connection from the machine running Grafana to the Postgres datasource db works fine using command line

**What you expe

[2019-10-02 13:05] oddlittlebird commented on #19294
If the ampersand is in a field name in the Grafana UI, then do not change it. It looks like there are few to none of those, but I like to cover my bases.

Example: If there was a button called **Save & Close**, and the instruction said "Click **Save & Close**," then you would not change it.

If someone just wrote, "When finished, save & close," then you would change that ampersand to "and".

[2019-10-02 13:11] xslugx commented on #19483
I am at work and was able to check the SQL version, we are using Microsoft SQL Server Enterprise

[2019-10-02 13:13] JnMik commented on #18864
Yep it works, tried it yesterday :)

Thanks !!

[2019-10-02 13:15] pbuentam commented on #19507
I have tried upgrading grafana to 6.3.6 and 6.4.0 but the issue persists

Kind regards

[2019-10-02 13:21] torkelo opened #19577 "Docs: Document url time parameters"
The current time range docs should mention that you control time range using URL
https://grafana.com/docs/reference/timerange/

* from  (ms epoch)
* to (ms epoch)
* time (ms epoch) alternative to from & to, but also requires
* time.window (example 10s), together with time parameter above this can be used to create a time range around a specific point

[2019-10-02 13:28] torkelo commented on #19507
maybe it's one of your other plugins that is causing it? can you try adding them one by one (on a dashboard)

[2019-10-02 13:37] Napfton commented on #19420
@hugohaggmark sadly not :( I do get a new query panel below the existing one when I do select one of my influx db data sources instead of mixed, but I cannot select from the other data source then. Only from that one I selected. Lets say I want: SELECT * FROM db1.table1 t1, db2.table2 t2 WHERE t1.id = t2.id;

Is that even possible? Because what I read in your docs and been told by other people, it

[2019-10-02 14:10] pbuentam commented on #19507
I have found the plugin that is broking it. I was not aware that someone has used Graph Compare Panel. A panel plugin that is not published on Grafana site. I will look for an alternative for its functionality using an elasticsearch datasource.

[2019-10-02 14:13] acondrat commented on #15258
@Jonathan34 thanks! Adjusting the `timeoutSec` on `BackendConfig` was the solution for me.

[2019-10-02 14:58] bhozar commented on #19531
Same issue exists in 6.4.1. For me it displays differently, but still incorrectly:

![image](https://user-images.githubusercontent.com/1184220/66055447-77572680-e52d-11e9-9298-5ea6c89a917d.png)

Have now rolled back to 6.3.x

[2019-10-02 15:03] kaiehlig commented on #19531
Is rollback to 6.3.x possible without any config changes?
Because we are running Grafana in Docker and the Config is mounted to the Host

[2019-10-02 15:09] #18650 closed

[2019-10-02 15:22] bhozar commented on #19531
Worked fine on Ubuntu 18.04 with no changes, but I took a snapshot first in case it all went pear shaped.

[2019-10-02 15:25] joker234 commented on #19529
Same issue here, the charts also change the colour when the dashboard refreshes. (Grafana 6.4.1)

[2019-10-02 15:35] mtanda commented on #17949
I didn't try yet, but Search expresssion could handle such query, but it's very hacky way.
I don't recommend to use it.
https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/search-expression-examples.html

I don't expect to use the feature for multiple variables.
Expanding query for all possible combination will make many invalid dimensions.

I think one possible solution is expanding qu

[2019-10-02 16:02] bLiGM commented on #17987
Hi Grafana folk,

My organisation is interested in this use case - in particular having a separate HTTPS user interface and a plain HTTP metrics interface. We'd would be up for working on it in our upcoming sprint. Do you have any pointers for a sensible design for this (assuming unfamiliarity with the Grafana codebase)?

[2019-10-02 16:11] tlex commented on #19531
Yes, I've pinned `grafana/grafana:6.3.6` instead of `latest` and all works fine.

[2019-10-02 16:11] maxlehot1234 commented on #19213
@ryantxu @alexanderzobnin
Problem was fixed TEMPORALY directly when I enable/disable transparent mode of the graph.

When I reload the page, Bar Gauge crash again.

So there is something related to Grafana+Bar Gauge+Zabbix.

Is it possible to fix this ;) So we can continue to have graphs with all useful datas.

Thanks again and have a nice day/night to you

[2019-10-02 16:17] Fischer96 commented on #19531
Worked for me

[2019-10-02 16:22] bobertlo commented on #19404
I think this should be already for review. I accidentally got another issue in the PR when I did this :)

[2019-10-02 16:55] fyang13 opened #19583 "share query (Dashboard datasource) not working when rows exist in dashboard"
**What happened**: After select "--dashboard--" as data source, instead of listing panels, it throw out error:
"Unable to find application file

Grafana has likely been updated. Please try reloading the page.

Reload
Details
TypeError: Cannot read property 'info' of undefined

    in t
    in div
    in r
    in l
    in div
    in div
    in div
    in t
    in t
    in div
    in t
    in t

[2019-10-02 17:04] fyang13 commented on #19583
Update: This seems only happen to some dashboards

[2019-10-02 17:20] torkelo commented on #19583
strange, been unable to replicate. what data source is the panel you are trying to reuse query results from using?

[2019-10-02 17:22] brew-install-buzzwords commented on #19294
Thanks for the clarification. I'll work on this assuming it's still available.

[2019-10-02 17:41] kcgthb commented on #19583
I can confirm the same behavior.
The original data source for us is Graphite (set as default).

[2019-10-02 18:25] oddlittlebird commented on #19294
No one else has claimed it, so have at it. Thanks!

On Wed, Oct 2, 2019, 10:23 AM brew-install-buzzwords <
notifications@github.com> wrote:

[2019-10-02 18:26] oddlittlebird commented on #19294
Feel free to post in #docs in Grafana Slack if you have questions or want
to discuss further.

On Wed, Oct 2, 2019, 11:24 AM Diana Payton <oddlittlebird@gmail.com> wrote:

[2019-10-02 19:13] theWaldschrat opened #19585 "Docker: ARM images doesn't work since v6.4.x"
**What happened**:
Grafana 6.4.X ARM in Docker does not work on Raspbian Buster.
Error message when trying to run the container:
/run.sh: line 80: /usr/share/grafana/bin/grafana-server: No such file or directory

**What you expected to happen**:
Obvious: Grafana runs without error.

**How to reproduce it (as minimally and precisely as possible)**:
docker run grafana/grafana

**Anything else we nee

[2019-10-02 19:40] azhiltsov opened #19586 "[Feature Request] - Add metrics for Grafana database interactions"
**What would you like to be added**:
All interactions between grafana-server and underlying DB with dashboards, users, etc (MySQL, PostgreSQL, sqlite3) are currently not instrumented. In case If underlying storage is misbehaving (slow response, flapping connections, etc) or grafana is creating more connections due to spike of requests or some of them are being slow or locking by their nature, ther

[2019-10-02 19:45] rscot231 commented on #17684
I am encountering similar behavior with provisioned dashboards. Has there been any work toward a fix?

[2019-10-02 19:51] marefr commented on #19531
Investigated a bit.

The result from Elastic datasource when doing a Raw Document query is similar to this:
[code]

Seems like there's a docs/json to dataFrame conversion missing for starters before this code https://github.com/grafana/grafana/blob/dafc955338aef05af259ec361bbf1ac29454ec3a/packages/grafana-data/src/dataframe/processDataFrame.ts#L244-L246

Then there's some missing logic here when t

[2019-10-02 21:45] wtip commented on #19529
Yes the big problem is that the colors change. Previously you could rely on the sort order to have predictable colors. Since they are random now the colors are always different

[2019-10-02 22:25] ramivis commented on #19548
No, i dont mapped the string to a value. I dont use the threshold, just background color for the panel for any value (number or text)

[2019-10-02 22:39] handfreezer commented on #19112
Don't worry,you're not so late, as I'm reading now only.
I'm happy to get some help and give it a try before end of Sunday, and keep you up-to-date.

[2019-10-03 00:04] #19552 closed

[2019-10-03 00:04] #19553 closed

[2019-10-03 05:06] hugohaggmark commented on #19420
Could you try adding another Query pointing to your other (t2) Influx datasource?

[2019-10-03 06:35] torkelo commented on #19529
Not sure how this ever worked before. In v6.3 Prometheus issues each query one by one, then combined the result, but the sorting was only done per query result , not on the final combined result.

@davkal any ideas why/how the final series list (for all queries) was sorted in v6.3?

https://github.com/grafana/grafana/blob/v6.3.6/public/app/plugins/datasource/prometheus/datasource.ts#L304

[2019-10-03 06:41] torkelo commented on #19529
So to be clear this is a Prometheus only problem:

The solution will have to be that we for non explore queries we have to wait for all queries to finish and then sort them by name & label. This sorting is currently done in the result transformer:
https://github.com/grafana/grafana/blob/v6.3.6/public/app/plugins/datasource/prometheus/result_transformer.ts#L26

But that is only run per query result

[2019-10-03 07:12] hugohaggmark commented on #19565
HI @TheRoSS I'm not able to repro `Canceled:Query Changed while running` error on the official Grafana 6.3.5 image. Looking in the network tab Grafana does not cancel the ongoing `mysql request` when Grafana changes the TimeRange so that might be a bug. I think all data sources may handle this differently.

This is the query I tried:
[code]

[2019-10-03 07:23] Napfton commented on #19420
Seperate queries (per DB/measurement) are possible. I have read a bit more now and apparently neither grafana nor influxdb support cross database/datasource queries.

[2019-10-03 07:23] #19420 closed

[2019-10-03 07:29] hugohaggmark commented on #19574
Hi @edwinsc have you looked at this https://community.grafana.com/t/what-format-should-tls-certs-be-stored-in-our-yaml-for-datasource-provisioning/7779/3? Hope that can help you.

[2019-10-03 07:33] hugohaggmark commented on #19585
Thanks for reporting this @theWaldschrat we'll investigate it further

[2019-10-03 07:43] davkal commented on #19529
The color assignenment happens on flattened index:
https://github.com/grafana/grafana/blob/dafc955338aef05af259ec361bbf1ac29454ec3a/public/app/plugins/panel/graph/data_processor.ts#L74

Processing of results happens only for results of the same query:
https://github.com/grafana/grafana/blob/dafc955338aef05af259ec361bbf1ac29454ec3a/public/app/plugins/datasource/prometheus/datasource.ts#L254

 If yo

[2019-10-03 07:50] hugohaggmark commented on #19586
Hi @azhiltsov thanks for creating this feature request, we already have a metrics endpoint that could maybe be extended to include this as well.

[2019-10-03 08:05] marefr commented on #19585
@theWaldschrat what device are you using? Is that 32- or 64-bit architecture (armv7 vs armv8)?

[2019-10-03 08:19] marcusolsson opened #19592 "Docs: Add Markdown style guide"
**What would you like to be added**:

A style guide for Markdown content. Here are some things I think would be helpful to start with:

# Markdown style guide

## Styling

- To make text **bold**, use double asterisks, e.g. `**Bold**`.
- To _emphasize_ text, use single underscores, e.g. `_Emphasized_`.
- Punctuation should follow the same styling as the text, e.g. `**TODO:**`, not `**TODO**:`.

##

[2019-10-03 08:24] frontalicious-martijn commented on #6689
I also wondered why auto refresh was not working, is it true that it only auto refreshes when you have a custom range?

[2019-10-03 08:25] marefr commented on #19585
Maybe we need to include https://pkgs.alpinelinux.org/package/edge/main/armhf/libc6-compat in Grafana docker image?

[code]

@theWaldschrat can you confirm that above solves the prioblem? Harder for us to verify without access to an actual ARM device.Docker based arm image maybe a possibility, but appreciate if you can help us out here. Thanks

[2019-10-03 08:26] marcusolsson commented on #19592
## Formatting

- Don't hard wrap lines
- Headings must be followed by a blank line, e.g.

[code]

not

[code]

[2019-10-03 08:34] andreaslangnevyjel opened #19593 "Gigabits/sec and Terabits/sec have the same id"
**One cannot select Gigabits/sec as axis unit**

It seams that Gigabits/sec and Terabits/sec have the same ID, therefore Gigabits/sec get mapped to Terabits/sec (very annoying).

A quick fix is to change the ID of terabits/sec from "Gbits" to "Tbits" (in public/build/app.317cab0c5862d6c99844.js)

**Environment**:
- Grafana version: 6.4.1
- User OS & Browser: Leap15.1, Chromium 77.0.3865.90
- Grafa

[2019-10-03 08:36] hugohaggmark commented on #19529
Another diff is that we're using the new React Graph in 6.4.0 instead of custom Explore one in 6.3.5

[2019-10-03 09:11] hgl2501 opened #19595 "Alerts broken after update to 6.4.1 "Template variables are not supported" with no variables"
**What happened**:
After upgrading to v6.4.1 panel alert reports error "Template variables are not supported in alert queries" even no variables are used.

**What you expected to happen**:
As no variables are used, we want to access alert config screen
**How to reproduce it (as minimally and precisely as possible)**:
I have created new dashboard, created a new graph time panel and pasted a time se

[2019-10-03 10:13] marefr commented on #19595
@hgl2501 please include the query and query inspector result. Thanks

[2019-10-03 10:14] diogoim commented on #12638
Hi everyone,

In my case we have accidently deleted the superadmin, i am afraid reseting the pass won't help, how can i recreate this user? It is super important, how can we do this without having through a re-installation process?

Thank you all in advance,
Br
Diogo

[2019-10-03 10:16] marefr commented on #19480
@m-peko no, just deprecated it. It's still there.

[2019-10-03 10:19] theWaldschrat commented on #19585
The device is a Raspberry Pi 4B. Technically it's an ARM64v8, but Raspbian by default runs a 32 bit kernel and userland, so ARM32v7.

`uname -a`
Host OS:
`Linux raspberrypi 4.19.66-v7l+ #1253 SMP Thu Aug 15 12:02:08 BST 2019 armv7l GNU/Linux`
Grafana 6.3.6 image:
`Linux 97f0bb9a456d 4.19.66-v7l+ #1253 SMP Thu Aug 15 12:02:08 BST 2019 armv7l armv7l armv7l GNU/Linux`
Grafana 6.4.X (latest) image:
`L

[2019-10-03 10:30] Pedrat commented on #19583
We're having the same problem, with the original data source being Influx
If we do recreate the panels from scratch there's no problem with it, only if we use the panels that were created in previous versions of Grafana

[2019-10-03 10:38] marefr commented on #19585
@theWaldschrat thank you very helpful.

Just to verify some additional things can you specifically try these to verify that you get the same problem:
`docker run -it -p 3001:3000 --entrypoint="bash" --user=root grafana/grafana-arm32v7-linux:6.4.1`
`docker run -it -p 3001:3000 --entrypoint="bash" --user=root grafana/grafana-arm32v7-linux:6.4.0-beta1`

Just to be sure, can you also try to run and st

[2019-10-03 10:44] Pedrat commented on #19583
Update: Even on brand new panels, sometimes when you go to edit the panel that is reusing the results it gives the error

[2019-10-03 10:46] hgl2501 commented on #19595
Query:
[code]

Query inspector result:

[code]

[2019-10-03 10:47] marefr commented on #12638
@diogoim if you still have access you may be able to create a new user based on this answer: https://community.grafana.com/t/super-admin-account/5523/6?u=mefraimsson

If your completely locked out I would suggest connecting to the database and either change an existing user in the user table to username `admin` and email `admin@localhost` or change `is_admin` column to 1/true for an existing user.

[2019-10-03 10:49] Pedrat commented on #19583
I think i got it, this error happens whenever i add a row and i try to edit the panel that is reusing the results (if i try to edit the one that is providing the results there is no problem at all)

So, steps to recreate this error:

1. Create a dashboard
2. Create a panel that queries the data source
3. Create a panel that reuses that results
4. Add a row to the dashboard
5. Try to edit the table

[2019-10-03 10:50] edwinsc commented on #19574
I read the mentioned doc and I used a YAML parser to make sure the file was correct. When the file is not correctly parsed Grafana fails to start.
So this is not a problem in the configuration file. It seems that Grafana is not sending the certificate a d key to the Postgres datasource.
Because of this, I created this bug report.

[2019-10-03 10:54] marefr commented on #19595
You're using `$__from` and `$__to` which is only supported in the browser. You have to change and use `$__unixEpochFrom()` and `$__unixEpochTo()`. Closing this, but let me know if that doesn't work and I'll reopen the issue. Thanks

[2019-10-03 10:54] #19595 closed

[2019-10-03 11:14] hgl2501 commented on #19595
Thanks. Still hanging on time epoch _crazyness_
Now seems results are different  using $__from and $__unixEpochFrom() but let me work on it.

[2019-10-03 11:17] theWaldschrat commented on #19585
First two all do the same as previously described.
Running `/run.sh` or directly `/usr/share/grafana/bin/grafana-server` doesn't make a difference.

The third one doesn't even start with an arch mismatch:
`standard_init_linux.go:211: exec user process caused "exec format error"`

[2019-10-03 11:24] ata4 commented on #19585
I have the same issue and had to rollback to version ``6.3.6``, so it seems that all Alpine-based ``6.4.x`` images are broken for ARMv7.

[2019-10-03 11:46] sipicsg commented on #16638
Same with docker image grafana/grafana:6.2.5 .

[2019-10-03 11:52] hugohaggmark opened #19598 "Explore: Move context from each target to DataQueryRequest level instead"
**Why need this**
Right now we add `context` to all targets in Explore for Prometheus queries
https://github.com/grafana/grafana/blob/dafc955338aef05af259ec361bbf1ac29454ec3a/public/app/plugins/datasource/prometheus/components/PromQueryField.tsx#L232
so that the Prometheus datasource can determine if the target is called from Explore or a Panel.
https://github.com/grafana/grafana/blob/dafc955338ae

[2019-10-03 11:59] abhijaink opened #19599 "grafana email sending via smtp not working"
Below are the configuration which I have done in my grafana but still it is not able to send the emails for alert notifications and for even forgotten passwords.

[smtp]
enabled = true
host = smtp.XXXX.ZZ:25
user = XXXX@XXXX.ZZ

;password =
;cert_file =
;key_file =
skip_verify = true
from_address = XXXX@XXXX.ZZ
from_name = XXXXXX

;ehlo_identity = dashboard.example.com

Below is the exception whic

[2019-10-03 12:01] marefr commented on #19585
Thanks. After you entered bash can you try and install the musl-dev packade using apk add?

[2019-10-03 12:13] #19244 closed

[2019-10-03 12:16] #19529 closed

[2019-10-03 12:32] ata4 commented on #19585
``musl-dev`` installs fine for me, but doesn't have an impact on the problem, with or without ``libc6-compat``.

[2019-10-03 12:38] torkelo opened #19600 "Bug: All select dropdowns have an empty space to the left"
My guess is that this PR introduced this: https://github.com/grafana/grafana/pull/19465

<img width="893" alt="Screen Shot 2019-10-03 at 14 39 23" src="https://user-images.githubusercontent.com/10999/66127310-9e742d80-e5eb-11e9-92cf-6400e33b96ab.png">

[2019-10-03 12:53] ata4 commented on #19585
Installing the glibc apks from https://github.com/armhf-docker-library/alpine-pkg-glibc/releases allows ``grafana-server`` to start. If I understand the issue correctly, it's better to statically link the binaries with musl, though.

[2019-10-03 12:54] kylebrandt commented on #19599
What version of Grafana are you using?

[2019-10-03 13:01] abhijaink commented on #19599
We are using v5.3.2

[2019-10-03 13:04] peay commented on #18024
I was not able to invest more time to try the external renderer yet. I'll close this issue for now and will update if I manage to make progress on that. Thanks!

[2019-10-03 13:04] #18024 closed

[2019-10-03 13:05] abhijaink commented on #19599
@kylebrandt I am using v5.3.2

[2019-10-03 13:05] hugohaggmark commented on #19593
Hi @andreaslangnevyjel, can you give us some more details by running the query inspector and pasting it here?

[2019-10-03 13:06] hugohaggmark commented on #19593
Also a way to reproduce this bug would be awesome!

[2019-10-03 13:09] kylebrandt commented on #19599
Is this an existing install, and email used to work and stopped working? Or is this a new setup?

If it is new setup, would you be able to try a more recent version?

[2019-10-03 13:09] m-peko commented on #19480
So, to replace PhantomJS I just need to install `grafana-image-renderer` plugin, right?

[2019-10-03 13:10] vgulinao commented on #17584
A simple solution could be https://stackoverflow.com/questions/248011/how-do-i-wrap-text-in-a-pre-tag/248013#248013.

.logs-row__message {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer

[2019-10-03 13:11] brunetton commented on #16638
Same here (sorry for the noise)
Grafana v6.1.1 (eff01d2)
I'm totaly new to Grafana, just added a new empty dashboard + one panel. This errors stops me from using grafana.

I tried [Switching to WAL (Write Ahead Log) as suggested by @davewat](https://github.com/grafana/grafana/issues/16638#issuecomment-498811755) and so far so good :) (using it for 2 hours now, created dashboards, panels, no proble

[2019-10-03 13:16] abhijaink commented on #19599
I did the setup last December and forgot to check the email functionality thing as were in process of migrating our dashboards to this new version. All my dashboards are working over here.

It will take some time for me to get it upgraded but I tried to check the debug logs as well but it wasn't much helpful.... can this be somehow fixed ?

[2019-10-03 13:28] abhijaink commented on #19599
@kylebrandt
I did the setup last December and forgot to check the email functionality thing as were in process of migrating our dashboards to this new version. All my dashboards are working over here.

It will take some time for me to get it upgraded but I tried to check the debug logs as well but it wasn't much helpful.... can this be somehow fixed ?

[2019-10-03 13:30] abhijaink commented on #19599
is it possible that it can be an issue because of my nat redirect in iptables like below :
REDIRECT   tcp  --  anywhere             anywhere             tcp dpt:http redir ports 3000
REDIRECT   tcp  --  anywhere             anywhere             tcp dpt:https redir ports 3000

[2019-10-03 13:30] Quicksy commented on #16638
Same here, with grafana in kubernetes with  image: 'grafana/grafana:6.2.2'

[2019-10-03 13:31] hugohaggmark opened #19601 "Dashboard: Multiple streaming panels stop streaming when editing one of the panels"
**What happened**:
1. Create a new dashboard
2. Create a new Panel by choosing visualization
3. Choose Logs Panel
4. Change to QueryTab
5. Add loki data source
6. Enter a query `{job="varlogs"}` for instance
7. Turn on `Live` switch
8. Notice how the logs keep streaming in the Panel 🆗
9. Go back to Dashboard
10. Notice how the logs keep streaming in the new Panel 🆗
11. Duplicate the new Panel
12.

[2019-10-03 13:33] ivanahuckova opened #19602 "Explore: Add interpolateVariablesInQueries function to selected datasources"
Follow up on[ PR that fixes this issue in majority of the datasources](https://github.com/grafana/grafana/pull/19582).

When using cmd+click to open new Explore window from Dashboard, template variables in queries should be expanded. Implementation of `interpolateVariablesInQueries` function that does this in the rest if the datasources should be added to following datasources:

- [ ] Opentsdb
- [

[2019-10-03 13:34] kylebrandt commented on #19599
I don't see why those would impact outbound emails. Any chance to capture a tcpdump maybe from Grafana host, or logs for your mail server to see if it even sees an attempt from Grafana?

[2019-10-03 13:35] #19572 closed

[2019-10-03 13:36] kylebrandt commented on #19599
Reference issue that may be related: https://github.com/grafana/grafana/issues/13358

[2019-10-03 14:27] Jekkyll opened #19603 "Query inspector stuck waiting to show results after update to newest version"
**What happened**:
I updated to the newest Adrem Netcrunch version (10.7.0.4785) and all our graphs broke in Grafana. It sits and spins on the Query inspector. I then thought since we were far behind in our Grafana version I would update that to 6.3.6 (newest version). The problem still persisted afterwards.

I am very new when it comes to Grafana so I'm not sure why it no longer pulls data when t

[2019-10-03 14:28] torkelo commented on #19603
Think you need to contact Netcrunch and have them investigate it, we have no other reports of breaking data source plugins in v6.3

[2019-10-03 14:28] #19603 closed

[2019-10-03 14:39] sacdpathade commented on #12941
+1 Any update on same? I am getting dynamic number of columns for which I need setup URL. When I hard code cell number, it doesn't work with dynamic set of columns as grafana doesn't allow us to setup column order for prometheus data.

it will be very useful if I can refere cell with it's name rather than number.

[2019-10-03 14:42] Jekkyll opened #19604 "Query inspector stuck waiting to show results after update to newest version"
This was just closed and I don't know how to respond to that particular request but I've already spoke with the vendor and they mentioned they are unable to help with anything which is why I went this route. I see a similar post from April (https://github.com/grafana/grafana/issues/16512) claiming it was fixed but its still breaking. You mention you have no other reports so maybe this is the first

[2019-10-03 14:50] cdalexndr opened #19605 "Elasticsearch query "and" is case sensitive"
**What happened**:
Joining multiple conditions in query with **and** keyword not working if **and** is lowercase.

**What you expected to happen**:
I was expecting **and** keyword to be case insensitive.

**How to reproduce it (as minimally and precisely as possible)**:
Tje the following query
`service.type:docker and docker.container.labels.app:web`
gives the same results as this query:
`service.

[2019-10-03 14:52] theWaldschrat commented on #19585
It's the idea of Alpine to statically link to musl instead of dynamic glibc linking. It's faster, smaller, more stable and potentially more secure. At least that's what they say.
But as far as I can see, Grafana is build outside the target image linking against glibc, so it's probably the best idea to either install glibc as above or use a different base image that already includes glibc.

[2019-10-03 14:53] #17230 closed

[2019-10-03 14:55] onicniepytaj opened #19606 "'From date' different in json file."
**What happened**: I have date table which contains just days in format YYYY-MM-DD. I want to use `$__timeFilter(date)` and adjust to this month only. If I pick date from to be 2019-10-01 00:00:00 here's what I have in json: 2019-09-30T23:00:00.000Z. Because of that it returns all events from last day of previous month. Similar analogy when I set it up to This Month So Far, which I need to use

**

[2019-10-03 15:17] fxmiii opened #19608 "Prometheus custom step alignment feature"
**What would you like to be added**:  A feature that gives the ability to have a custom step alignment on prometheus panels. Specifically I want this feature for cases where I display prometheus counter changes over intervals of time. [A PR showing how it might work](https://github.com/grafana/grafana/pull/18148)

**Why is this needed**: Its needed for bar charts of prometheus counters with interv

[2019-10-03 16:20] #19294 closed

[2019-10-03 16:22] TheRoSS commented on #19565
Yes. You're right. It seems to be a clickhouse only bug (vertamedia-clickhouse-datasource). I will investigate it further and write the results here.

But another question remains open. How to load my plugin before any other plugins? I dug into grafana code and hadn't found the way.

[2019-10-03 16:22] torkelo commented on #19605
this is handled by Elasticsearch's Lucene parser and is not something Grafana handles

[2019-10-03 16:22] #19605 closed

[2019-10-03 16:46] andreaslangnevyjel commented on #19593
Reproducing the bug is quite easy (just select Gigabits/sec as axis unit, will change to Terabits/sec). I have created a pull request to fix this issue.

[2019-10-03 17:50] brew-install-buzzwords commented on #19267
I'll take this

[2019-10-03 17:58] brew-install-buzzwords commented on #19267
Should "grafana" be capitalized?

[2019-10-03 18:40] brew-install-buzzwords commented on #19267
Should single words in parenthesis be capitalized? For example, when a heading ends in "(Important!)"

[2019-10-03 18:50] brew-install-buzzwords commented on #19267
Should the capitalization be JSON or Json? I've seen it both ways throughout the docs

[2019-10-03 19:48] oddlittlebird commented on #19267
Looping in @marcusolsson

Grafana - Always capitalize when it refers to the company or the product. Do not capitalize if it is part of a code or file name, like `grafana-cli`.

WHERE is the heading ending in "important"? That probably should change.

JSON, not Json. JSON stands for JavaScript Object Notation.

[2019-10-03 20:14] brew-install-buzzwords commented on #19267
I've also seen both URL and Url. Which is preferred?

I'll get back to you about "important" once I finish my first pass-through of all the headings.

[2019-10-03 20:15] marcusolsson commented on #19267
I'll second what @oddlittlebird said. Both JSON and URL are acronyms and should be uppercased, unless they're used as identifiers, or in code, in which case changing the case could break functionality.

[2019-10-03 20:54] brew-install-buzzwords commented on #19267
@oddlittlebird the (Important!) is in `mssql.md`, `mysql.md` and `postgres.md`

[2019-10-03 22:06] jimmybrancaccio commented on #19548
Can confirm the same is happening for me. Trying to display the MySQL version. Background color used to work in 6.3.6 but does not in 6.4.1.

https://grafana.slack.com/archives/C05675Y4F/p1570124626200200

[2019-10-03 22:28] handfreezer commented on #19112
hello, it does not have change the result, BUT, I discovered an error in the web console and reproduce it in commande line. It seems that the key work tag_names generate a bad request.
I tried this (request metrics(icin) ):
curl -kvL "http://localhost:4242/api/suggest?max=1000&q=icinga.host.pl&type=metrics"

And result was:
["icinga.host.pl","icinga.host.pl_crit","icinga.host.pl_warn"]

Then I try

[2019-10-03 23:01] simPod opened #19613 "ModuleNotFoundError: Module not found: Error: Can't resolve 'rxjs' in"
I tried to build latest master frontend using

[code]

The module is there

[code]

however getting many errors like this. Any idea how to resolve it?

[code]

[2019-10-03 23:13] wfraser opened #19614 "Feature Request: Dashboard URL mode for variable interpolation"
**What would you like to be added**:
It would be nice to have a variable interpolation mode (among the [others](https://grafana.com/docs/reference/templating/)) that would expand to dashboard URL format.

For example, a variable `$foo` with a single value `bar` would be interpolated as `var-foo=bar`

A multi-value variable `$foo` with values `bar` and `baz` would be interpolated as `var-foo=bar&va

[2019-10-04 00:02] oddlittlebird commented on #19267
Links, please?

On Thu, Oct 3, 2019 at 1:55 PM brew-install-buzzwords <
notifications@github.com> wrote:

[2019-10-04 04:48] hugohaggmark commented on #19565
@TheRoSS we use GitHub for issues and feature requests. For questions we kindly request that you ask your question at the [community site](https://community.grafana.com/) or in our external [Slack   here](https://grafana.slack.com/)

All the best

[2019-10-04 04:48] #19565 closed

[2019-10-04 04:56] hugohaggmark commented on #19593
Thanks for creating the PR, we'll have a look!

[2019-10-04 05:14] hugohaggmark commented on #19604
@Jekkyll could you look in the network tab and see what kind of response you get?

[2019-10-04 05:21] hugohaggmark commented on #19606
@onicniepytaj which timezone are you using `browser`or `utc`, because that would explain the diff.

[2019-10-04 05:24] hugohaggmark commented on #19608
Hi @fxmiii and thank you for creating this feature request. As Torkel mentioned we'll see the interest this gets.

[2019-10-04 05:30] hugohaggmark commented on #19613
@simPod could you try to remove all the `node_modules` under the grafana dir and under all the `grafana/packages/grafana-*/node_modules` and run `yarn install --pure-lockfile` and `yarn run build`. Did that help?

[2019-10-04 05:34] hugohaggmark commented on #19614
Hi @wfraser thank you for taking the time to create this feature request.

[2019-10-04 06:02] binduv124 commented on #5082
This would be a great feature to have.

[2019-10-04 06:18] #19606 closed

[2019-10-04 06:35] krishna217 opened #19617 "Unable to get plugin template from @grafana/toolkit"
**What happened**: Ran npx grafana-toolkit plugin:create my-grafana-plugin command with toolkit

**What you expected to happen**: Clone the react plugin template

**Error**:
git@github.com: Permission denied (publickey).
fatal: Could not read from remote repository.

**Anything else we need to know?**:  Running @grafana/toolkit@6.4.0-beta.2

**Environment**: Windows 10
- Grafana version: 6.4
- OS

[2019-10-04 06:52] jkalnik commented on #6778
+1 must have feature :)

[2019-10-04 07:30] marcusolsson opened #19619 "Docs: Add correct casing for commonly used words"
**What would you like to be added**:

In many places, we use the wrong case for abbreviations. We should expand the list of examples of common abbreviations:

**Suggestion**

[2019-10-04 07:35] marcusolsson opened #19620 "Docs: Add style rule for correct casing of API names"
**What would you like to be added**:

I suggest the we treat APIs as products, and that when referring to an API, it should be written in Title Case, and followed by "API"—for example, "Dashboard Permissions API".

This should be added to the [docs style guide](https://github.com/grafana/grafana/blob/master/contribute/style-guides/documentation-style-guide.md).

[2019-10-04 07:46] SelComputas opened #19622 "Expand Alerts"
**What would you like to be added**:
I would like to see functionality allowing me to set up an alert for the Diagram plugin visualization (https://grafana.com/grafana/plugins/jdbranham-diagram-panel). As I understand the UI it is only possible to set up an alert for the Graph visualization, because that is the only visualization in which the Alert button is present in the side menu.

**Why is thi

[2019-10-04 07:53] torkelo commented on #19434
ah, then related to this I think https://github.com/grafana/grafana/issues/12209

[2019-10-04 07:53] #19434 closed

[2019-10-04 08:18] hugohaggmark commented on #19617
Thanks for reporting this @krishna217, I can definitely repro this. Have you tried our recent 6.4.0 release as well?
![image](https://user-images.githubusercontent.com/562238/66192172-2f044980-e690-11e9-86d2-d01b971efe1d.png)

[2019-10-04 08:21] hugohaggmark commented on #19622
@SelComputas I think in some near future the Alerts will not be tied to a specific visualization and we're working on that already so I'm gonna close this for now.

[2019-10-04 08:21] #19622 closed

[2019-10-04 08:38] lfroment0 commented on #19021
Running this in Grafana 3.6.5, I couldn't replicate this issue it seems to work fine
[code]

[2019-10-04 09:01] M0rdecay commented on #19531
I have the same problem too.

If try to use Table Panel, we can see this error:
Panel data error: TypeError: Cannot read property 'toString' of undefined
    at Object.transform (transformers.ts:125)
    at editor.ts:81
    at t.render (module.ts:232)
    at t.onDataReceived (module.ts:219)
    at u.emit (index.js:129)
    at e.emit (emitter.ts:11)
    at t.handleQueryResult (sdk.ts:1)
    at Obje

[2019-10-04 09:15] krishna217 commented on #19617
I found a issue with my ssh key. Hence i am getting above error. Now it's working fine.

Also i updated toolkit to 6.4.0 and ran the same command and getting the following error:

$ npx grafana-toolkit plugin:create my-grafana-plugin
? Select plugin type (Use arrow keys)
? Select plugin type React panel
- Fetching plugin template...
√ Fetching plugin template...
  Trace: TypeError: Cannot read pro

[2019-10-04 09:36] m-peko commented on #19480
Solution is to update Grafana to version 6.4.0, install `grafana-image-renderer` plugin from source and start it to listen on whatever port you want. Also, it is required to add `[rendering]` section to Grafana configuration file.
Thanks

[2019-10-04 09:46] simPod commented on #19613
@hugohaggmark thanks for response! I initially thought it's rxjs related but it was not. There were probably some corrupted packages in cache. Had to clear yarn cache and install all again.

[2019-10-04 09:46] #19613 closed

[2019-10-04 10:08] alexanderzobnin opened #19626 "QueryField: make it available for external plugins"
In order to simplify adding explore logs feature support for external plugins, it makes sense to share `QueryField` component with external plugins. Possibly, by moving it into `grafana-ui` package. Related to #18057 as well.

[2019-10-04 10:40] pdMa2s commented on #11418
I support #9500. I'm using grafana to show a sequence of timed orders and I want to highlight the ones that are expired.

[2019-10-04 11:11] hugohaggmark commented on #19480
Glad to hear that worked out for you @m-peko!

[2019-10-04 14:18] aroundthecode commented on #16908
hi @bergquist any update on this bug?
We are experiencing the very same behaviour on Grafana v6.2.1 and Prometheus v2.6.1
depending on the time windows single event alarms seems to disappear.

[2019-10-04 15:11] KnpA opened #19630 "[BUG] No panel editor options on Firefox ESR"
**What happened**: When a user open another dashboard, the panel editor options are not showing in Firefox 60.9.0esr :
![image](https://user-images.githubusercontent.com/6367927/66218054-b4a3eb80-e6c8-11e9-96cc-1c2a81a9bf8a.png)

**What you expected to happen**: Having access to the panel editor 😃

**How to reproduce it (as minimally and precisely as possible)**:
1°) Create a new dashboard
2°) Cre

[2019-10-04 15:58] torkelo commented on #19630
dupe of https://github.com/grafana/grafana/issues/15524

think latest firefox ESR is 68, it works fine in that verison

[2019-10-04 15:58] #19630 closed

[2019-10-04 17:48] maxlehot1234 commented on #19213
@ryantxu @alexanderzobnin
Now with 3 servers under 10%, Bar Gauge was fuc**ed
![image](https://user-images.githubusercontent.com/5159244/66228467-8369f200-e6ad-11e9-8a87-943a67644e51.png)

Any help plz? ;)

[2019-10-04 17:54] guillaume-u opened #19631 "[Broken] Annotation popin un graph view not fully displayed."
**What happened**:
Graph module in version >= grafana-bin-6.3.4 (and maybe prior - but I can't test) is displaying annotation popin (on click) in right even if there is not enough space to see it on the right (see attached picture)

**What you expected to happen**:
The popin should be displayed at the left when there is not enough space to display it on the right.

**How to reproduce it (as minima

[2019-10-04 18:04] bswinnerton commented on #19448
Is it possible this was resolved by f9611250eaada546b9b24429dc010c4969d48c28? Pinning Grafana to [`v6.3.6`](https://github.com/grafana/grafana/tree/v6.3.6) has temporarily resolved this problem until a new release is cut.

[2019-10-04 19:08] dsg-anthony commented on #19531
I'm seeing the same issue with v6.4.1 (commit: 4ba8388)

![image](https://user-images.githubusercontent.com/43544235/66233177-b2399580-e6b8-11e9-8f2e-ae7d11b46879.png)

[2019-10-04 22:12] bljordan opened #19632 "More configurable alerting on "no data""
**What would you like to be added**:
Currently, alerts immediately trigger on "no data" and do not respect the "For" field (https://grafana.com/docs/alerting/rules/#for). What is the rationale for this behavior?

The feature request is for Grafana to be able to respect the "For" field and be able to delay the alert. Even better, have a separate "For" field just for "no data" situations.

**Why is

[2019-10-05 04:00] apichart2499 commented on #19548
I have the same problem after upgrading to 6.4.1

[2019-10-05 07:09] torkelo commented on #19213
Been unable to replicate this , something that zabbix returning that is unique and causing this? What is the graph or table showing?

[2019-10-05 07:19] maxlehot1234 commented on #19213
@torkelo
Hi,

What do you mean exactly?

I want to use the Bra Gauge plugin, but it start to crash when 1 drive goes under 10% and now I have 3 servers under 10% of disk space and Bar Gauge display errors and crash too...

[2019-10-05 08:11] srinathganesh opened #19635 "Parent Child Heatmap view"
**What would you like to be added**:
A Parent-Child Head map something like what d3 has where you can go into a child for it to behave like a drill down
https://observablehq.com/@d3/cascaded-treemap

[2019-10-05 10:53] torkelo commented on #19213
What error ? It says no data.

I mean what does other visualizations say for the same value? What are you bar gauge options ? Does the Normal gauge show anything ?

[2019-10-05 11:57] ddvlamin commented on #10185
I still got this problem in version 6.4.1, but now with resizing, the position is remembered, but not the new size

[2019-10-05 12:49] ITGuyDave opened #19636 "Gauge font rendering does not scale correctly"
**What happened**:
Long text when using range text mappings on a gauge do not scale properly, resulting in the text overlapping the gauge itself. The scaling seems to hit a point where the gauge itself widens the value area, while also increasing the text size, resulting in only certain panel sizes being viable for use with long text in value mappings. The only workaround is to make the panel extr

[2019-10-05 13:58] linusg commented on #19271
I'll take this one.

There are inconsistencies in the way multiple keystrokes are expressed as well:

- ´+´ or ´-´ ? i.e. Ctrl+S or Ctrl-S
- with or without spaces between? i.e. Ctrl + S or Ctrl+S

Please let me know what should be preferred.

[2019-10-05 15:30] maxlehot1234 commented on #19213
It say no data cause it "crashed".
I use this thing from Zabbix to put datas in the Bar Gauge plugin:

Application: Disk
Item: LogicalDisk Disk E: Space Available %
I use my server goup as the group and use the hostname as the hostname.

Check my previous message here for the Normal gauge, tables, etc:
[https://github.com/grafana/grafana/issues/19213#issuecomment-535060971](url)

I am supposed to

[2019-10-05 16:57] oddlittlebird commented on #19271
Follow the Microsoft Style guidelines:
https://docs.microsoft.com/en-us/style-guide/a-z-word-list-term-collections/term-collections/keys-keyboard-shortcuts

Plus sign, no spaces. Ctrl+S

On Sat, Oct 5, 2019 at 6:59 AM Linus Groh <notifications@github.com> wrote:

[2019-10-05 18:12] protik77 commented on #19585
Considering this change effectively broke the docker image for ARM devices, I was expecting something better than a tag of "needs investigation".

Sigh! The curse of "agile development", I guess.

[2019-10-05 19:10] 97amarnathk commented on #19598
Hey, Can I work on this issue?

[2019-10-05 19:12] 97amarnathk commented on #11617
Hi. I would be interested in fixing this issue. Could this be assigned to me?

[2019-10-05 19:28] lazycoder-ru commented on #13734
Any progress?

[2019-10-05 21:28] cschertz opened #19641 "Azure Monitor Data Source should support Managed Service Identity when running on Azure"
**What would you like to be added**:
Azure Monitor Data Source should support Managed Service Identity when running on Azure
**Why is this needed**:
Means that Azure users dont have to deal with SP cred management.   Leads to a more secure product

[2019-10-06 09:14] raphaeljuwe opened #19643 "Grafana 5 No data point visualization"
Environmemt : Linux Ubuntu

Grafana version : 5

I selected  AWS cloudwatch as my data source.

I cannot read any data point.

Had read : https://github.com/grafana/grafana/pull/9856

https://github.com/grafana/grafana/issues/9852

Issue still persist

and

[2019-10-06 12:04] gmistick commented on #2247
I can say that this is still not working in latest helm chart.
If i don't allow sign-ups i can't use Google Auth ?

[2019-10-06 13:33] szerwi opened #19645 "Singlestat: Treat no data data as null so it can be mapped to text (regression in v6.4)"
**What happened**:
After update to version 6.4.1, when there is no data in database in selected time range, singlestat panel shows "No Data" instead of applying value mappings settings
![1](https://user-images.githubusercontent.com/19311511/66269899-66b8f000-e84e-11e9-900b-f9ff31060b62.jpg)

![2](https://user-images.githubusercontent.com/19311511/66269901-69b3e080-e84e-11e9-828c-ceea9aa35ffb.jpg)

[2019-10-06 13:51] TotallyNotElite opened #19646 "Prometheus queries in graph constantly changing location"
**What happened**:
Position of queries in a graph changes constantly.
![Peek 2019-10-06 15-35](https://user-images.githubusercontent.com/38938720/66270020-155d3080-e84f-11e9-8807-eb031c7e5cf1.gif)

**What you expected to happen**:
The position should not change constantly.

**How to reproduce it (as minimally and precisely as possible)**:
Add 2 Prometheus queries to 1 graph, click refresh button a

[2019-10-06 14:00] TotallyNotElite commented on #19646
Duplicate of #19529 maybe?

[2019-10-06 14:17] TotallyNotElite commented on #19646
Ok yea already reported. #19448
Closing.

[2019-10-06 14:17] #19646 closed

[2019-10-06 14:21] Stono opened #19647 "non-deterministic column order since grafana 6.4.x"
**What happened**:
Many people are crying out for column ordering (see https://github.com/grafana/grafana/issues/5082), however in 6.4.x it's actually worse.  Not only can we not reorder columns, between dashboard refreshes, they change!  Here is the same panel between three clicks of the refresh.

<img width="824" alt="Screenshot 2019-10-06 at 15 19 31" src="https://user-images.githubusercontent.

[2019-10-06 15:50] 97amarnathk commented on #11617
@marefr I have submitted a PR for this issue, could you look into it?

[2019-10-06 17:45] marefr commented on #19476
Based on documentation [here](https://docs.aws.amazon.com/redshift/latest/mgmt/metrics-listing.html) the dimension is named `wlmid`, but named `wmlid` in Grafana. Needs to be changed here:
https://github.com/grafana/grafana/blob/3e603cd88a96f4cab71af6934fe4b688a41b245d/pkg/tsdb/cloudwatch/metric_find_query.go#L183

[2019-10-06 18:15] torkelo commented on #19643
Please ask questions on the community site https://community.grafana.com

[2019-10-06 18:15] #19643 closed

[2019-10-06 18:19] torkelo commented on #19631
to fix this we need to take viewport into account here: https://github.com/grafana/grafana/blob/master/packages/grafana-ui/src/components/ContextMenu/WithContextMenu.tsx#L18

[2019-10-06 18:24] torkelo commented on #19604
I think you need to reach out to Adrem netrcunch for this, we have no other report on failed data sources in 6.3

[2019-10-06 18:24] #19604 closed

[2019-10-06 21:22] krvajal commented on #19631
I am gonna give it a try tomorrow morning.

[2019-10-06 23:46] spasarok commented on #7832
@torkelo "then it makes more sense to have separate panels for the alerts, if you want sperate alert rule name & message etc."

This doesn't make any sense. Requiring users to visualize the same panel multiple times just so they can send useful non-generic alert messages isn't a solution. It's a hack for something that should be a feature, and it adds noise that degrades the usefulness of the prod

[2019-10-07 05:04] Joshica-Senthil commented on #19158
Hi Torkelo,
    In Grafana Diagram Panel, we have set the auto refresh as 2 mins to avoid multiple requests. But this 2 mins of time makes the blocks invisible rather the previous query result. I am attaching the screenshots below for your reference. How to resolve this?

![RP_2m](https://user-images.githubusercontent.com/27813479/66286161-cfa37500-e8ed-11e9-862c-1450ee7484d1.jpg)
![2m](https://us

[2019-10-07 05:38] pacive commented on #19541
I have a similar issue, but the other way around, seeing no decimals where there need to be.
![_20191007_073413](https://user-images.githubusercontent.com/30875102/66287198-0e790100-e8d5-11e9-85fc-04866f59c02c.JPG)
Decimals is set to auto, selected unit is "mbar". If I change to 3 decimals the values displayed in "bar" shows correct, but there are three zeroes added to the values in "mbar".
(Grafa

[2019-10-07 06:58] #19279 closed

[2019-10-07 07:06] #19541 closed

[2019-10-07 07:15] foofoo-2 commented on #19522
Basically, we are having a similar issue/requirement here: we are currently displaying a single dashboard on a TV screen that summarise the state of all our "environments". It would be nice we we could use the "Playlist" feature to dynamically add/remove dashboards to the playlist based on the state of each environment, like for example:

* Everything green: only display the "Summary" dashboard
*

[2019-10-07 07:17] Fischer96 opened #19650 "Add a way to combine variables"
**What would you like to be added**:

Add the possibility to combine several variables. For example:

Custom1: test, test1, test2
Custom2: test3, test4, test5
Custom3: ${Custom1:csv && Custom2:csv} => test, test1, test2, test3, test4, test5

**Why is this needed**:

To provide a granular control of variables which can obviously also be combined easily

[2019-10-07 07:45] Hipska opened #19651 "Lot of decimals on Y axis since 6.4"
**What happened**: Left Y axis has 6 decimals

**What you expected to happen**: Left Y axis to have 0, 1 or 2 decimals

**How to reproduce it (as minimally and precisely as possible)**:
It is a graph with interface traffic (unit: bits/sec) and Y axis decimals is left to be "auto". The tooltip values shows correctly with mixed 0 or 1 decimals.

It works fine if you put 0 or 1 as decimals setting, b

[2019-10-07 08:13] torkelo commented on #19541
Fixed in master and coming 6.4.2 patch

[2019-10-07 08:13] torkelo commented on #19651
duplicate of https://github.com/grafana/grafana/issues/19541

fixed in master and upcoming 6.4.2 patch

[2019-10-07 08:13] #19651 closed

[2019-10-07 08:14] torkelo commented on #19647
Are you using prometheus? If so it's a dupe of https://github.com/grafana/grafana/issues/19529

fixed in master and soon to be released 6.4.2

[2019-10-07 08:14] #19647 closed

[2019-10-07 08:15] #19593 closed

[2019-10-07 08:28] Hipska commented on #19651
Thanks

[2019-10-07 08:31] davkal commented on #19350
This should also just be "Live" w/o the tailing, since we might use the streaming logic also for metrics streams, which don't tail logs.

[2019-10-07 08:49] UkrZilla commented on #17327
Having the same problem too.
Grafana - 6.4.1
ES - 7.4.0

Also think Grafana should use scroll API

[2019-10-07 08:54] BrunaDaniel commented on #19583
I'm having the same problem, but I don't add a row to the dashboard. I'm using SQL Server. I added the database and when I try to add query to a dashboard or even when I click on Explore, I get the same error message.

[2019-10-07 09:06] marefr commented on #2247
@gmistick if not enabled you have to create users manually in Grafana before they can auth with google and login.

[2019-10-07 09:26] flopp999 opened #19654 "Math value depends on input data"
**What would you like to be added**:
A way to do math depending on data/query result.
**Why is this needed**:
Need to convert data from a unit to other unit, each data have different factor.

SO2 in ug/m3 -> SO2 in ppb have factor 2.62
NO2 in ug/m3 -> SO2 in ppb have factor 1.88

[2019-10-07 09:32] ulikl opened #19655 "Singlestat panel value is shown over tool tooltips"
**What happened**:

When SingleStat value is displayed alone (no gauge), it has a z-index of 1.
So this will be always shown on top. This should not be the case:

For example see
https://github.com/grafana/grafana-polystat-panel/issues/61#issuecomment-526222631

**What you expected to happen**:

That tooltips can be fully seen over the single stat value.

**How to reproduce it (as minimally and pr

[2019-10-07 09:45] Slach opened #19656 "Why grafana convert 64bit from unsigned to signed?"
**What happened**:
grafana converting 64bit unsigned values returned from prometheus to signed

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
setup wmi_exporter
https://github.com/martinlindhe/wmi_exporter/blob/master/docs/collector.os.md
use following query
[code]

prometheus show data as expected
https://monosnap.com/file/KG8pUci7AaynNvZfiSW7

[2019-10-07 10:02] gilsand commented on #1381
+1

[2019-10-07 10:46] marefr opened #19659 "Plugins: Can't load plugin description for image renderer"
**What happened**:
Clicked on Grafana Image Renderer in the plugin list and the plugin description doesn't load.

![image](https://user-images.githubusercontent.com/1668778/66305751-477a9b00-e900-11e9-8033-e20be8c31f12.png)

![image](https://user-images.githubusercontent.com/1668778/66305759-4a758b80-e900-11e9-93c3-ff956c9b9858.png)

**What you expected to happen**:
Either plugin not to show up in

[2019-10-07 11:17] Slach commented on #19656
oops, it was a wrong Prometheus output format "Heatmap"

[2019-10-07 11:17] #19656 closed

[2019-10-07 11:24] davkal commented on #19555
Re-opening this to work handle better debugging around live capabilities.

[2019-10-07 11:39] kylebrandt commented on #19632
Duplicate (FOR for no_data (same time or different) has some state complications): https://github.com/grafana/grafana/issues/18215

[2019-10-07 11:39] #19632 closed

[2019-10-07 11:43] olivierlemasle opened #19661 "Improve / refactor email templates generation"
Generation of email templates has some limitations:

- Email templates are generated from `emails` and saved into `public/emails`. This is error-prone: e.g. in #11322, copyright was changed in template layout but email templates were not re-generated. Email templates generation should be included in UI generation.

- In #18724, @markelog wrote that adding `yarn.lock` triggered vulnerability errors

[2019-10-07 12:18] #15153 closed

[2019-10-07 12:35] itshorty opened #19663 "Support for Regional Indicator Symbols (aka Unicode/Emoji Country Flags)"
**What would you like to be added**: A support for Regional Indicator Symbols (aka Unicode/Emoji Country Flags) in various places like panel titles.

**Why is this needed**:
To improve the overview of some international statistics:

How it looks without this support:
![image](https://user-images.githubusercontent.com/5031631/66311631-2ff6de80-e90f-11e9-9355-c8d0bed059b2.png)

JSON for this Text Pa

[2019-10-07 12:36] TimoL opened #19665 "Graph random stacking order"
**What happened**:
* Updated Grafana 6.3.1 to 6.4.1
* stacked values in graph started to have random order on each dashboard reload

**What you expected to happen**:
* stacked values are always rendered in the same (bottom to top) order

**How to reproduce it (as minimally and precisely as possible)**:
* Have a graph with 2 values (Prometheus queries in my case)
* enable stacking of values
* reloa

[2019-10-07 12:37] kylebrandt opened #19666 "Move go plugin sdk code into Grafana Repository"
**What would you like to be added**:

Move the https://github.com/grafana/grafana-plugin-sdk-go repo into this code base.

**Why is this needed**:

 - We need to investigate whether we can use a separate go module for the plugin sdk code
 - Need to decide if this is versioned with, our independently of Grafana's version.

To fill out: @marefr / @marcusolsson

[2019-10-07 12:44] marefr opened #19667 "Backend plugins architecture and SDK"
**Backend plugin architecture:**

**SDK:**
We want to make it easy for consumers/plugin developers to write a backend plugin, using Go as programming language to begin with, and an SDK should help with that. In addition, the SDK can abstract away things that a plugin developer shouldn't need to care about.

**Tasks:**
- [x] Bi-directional support for backend plugins https://github.com/grafana/graf

[2019-10-07 12:45] Estrax opened #19668 "DevEnv: Update package.json and Dockerfile to use Node 12.x."
**What would you like to be added**:

Update package.json and Dockerfile to use Node 12.x as it becomes an Active LTS on 2019-10-22.

**Why is this needed**:
To keep Nodejs on a current Active LTS version.

[2019-10-07 12:48] Stono commented on #19647
Indeed I am, and thank you for linking the issues

[2019-10-07 12:50] marefr opened #19669 "New HTTP endpoint for backend plugins"
**What would you like to be added**:
A new HTTP endpoint to be able to communicate with "v2 backend plugins" (sdk).

**Why is this needed**:
We want to be able to iterate quickly on SDK/plugin architecture.

- We need a feature flag to enable this endpoint. Disabled by default due to authorization issues TBD.

Epic: #19667

[2019-10-07 12:50] marcusolsson opened #19670 "Refactor gel-app to use the SDK package"
**What would you like to be added**:

Make the [gel-app](https://github.com/grafana/gel-app/blob/master/pkg/plugin.go) use the new [SDK package](https://github.com/grafana/grafana-plugin-sdk-go/blob/master/example/datasource.go).

**Why is this needed**:

[2019-10-07 12:56] #19271 closed

[2019-10-07 12:58] Estrax opened #19671 "Docker container built with fast build on linux/amd64 cannot be ran because of a libc6/GLIBC version."
**What happened**:

Docker container built with fast build on linux/amd64 cannot be ran because of a libc6/GLIBC version. Reproduced on Debian 9 (libc2.24), Ubuntu 18.04 (libc 2.27), Ubuntu 19.04 (libc6 2.29).

[code]

**What you expected to happen**:

Docker container after build can be ran with no issues.

**How to reproduce it (as minimally and precisely as possible)**:

1. Use a fresh install

[2019-10-07 13:08] svzhl opened #19672 "Bar Gauge upredictable rows order"
**What happened**:
Order of data shown is unpredictable

**What you expected to happen**:
Values are shown in order the queries are defined

**How to reproduce it (as minimally and precisely as possible)**:
Define multiple queries
![изображение](https://user-images.githubusercontent.com/33315430/66313734-82d69300-e91b-11e9-9fca-ab7b93f46b9f.png)

The data appears in correct order
![изображение](ht

[2019-10-07 13:22] marefr opened #19673 "Bi-directional support for backend plugins"
**What would you like to be added**:
A datasource plugin should be able to callback into Grafana to execute a datasource query.

**Why is this needed**:
To be able to support a backend plugin to transform results from other datasources.

Epic: https://github.com/grafana/grafana/issues/19667

[2019-10-07 13:55] arcenik commented on #19665
I have the same problem with Grafana 6.4.1.
For example, on a graph displaying node memory metrics, the order of the metrics is not reflected on the graph.
The make the graph difficult to read as metrics colors and order are changing and cannot be fixed.

[2019-10-07 15:10] spaceboy666 opened #19676 "null mapping dosen't work for SingleStat after upgrade to grafana 6.4.1"
Hello,

after upgrade to 6.4.1 null mapping to anything doesn't work in SingleStat

[2019-10-07 15:16] bljordan commented on #18215
I'm ambivalent to whether or not NoData uses the same FOR setting as the alert, but I would like to see NoData respect some duration setting before firing. Please see the closed referenced issue above for the specific scenario.

[2019-10-07 15:18] afirth commented on #10786
This would be so helpful now that the grafana helm chart (via the sidecar) supports loading dashboards by URL instead of jamming them in a configmap. Looks like the original responder is on leave. Can I poke @torkelo, is there any chance we'll get this soon or should we invest time in tooling further down the chain?

Example of what almost works with the grafana chart now
[code]
`{message: "Dataso

[2019-10-07 15:43] MattGill98 commented on #7949
+1

[2019-10-07 15:43] torkelo commented on #19665
Fixed in master (reported a couple of times now), fixed in tomorrows 6.4.2 patch, https://github.com/grafana/grafana/pull/19597

[2019-10-07 15:43] #19665 closed

[2019-10-07 15:46] torkelo commented on #19672
Fixed in master (reported a couple of times now), fixed in tomorrows 6.4.2 patch, #19597

[2019-10-07 15:46] #19672 closed

[2019-10-07 15:51] TimoL commented on #19665
thx @torkelo

[2019-10-07 16:18] torkelo commented on #19567
If anyone wants to fix this:
https://github.com/grafana/grafana/blob/master/public/app/plugins/panel/singlestat/module.ts#L260

that line should be:

 data.scopedVars['__name'] = { value: name }

[2019-10-07 16:19] torkelo commented on #19567
Needs to done in the next 12~ hours or so so can include it in tomorrows release :)

[2019-10-07 17:03] szerwi commented on #19676
I also described it in #19645

[2019-10-07 17:21] #19339 closed

[2019-10-07 17:36] #19534 closed

[2019-10-07 19:14] Dieterbe commented on #11700
this is now merged in MT. see above PR. We will however, tweak the output format a bit to be more user friendly.

[2019-10-07 21:12] orcunbaslak opened #19681 "Grafana pop-up annotations instead of values on iPad when I touch a graph"
**What happened**:
I'm trying to use Grafana on my iPad however when I touch a graph, I cannot see the values. Values show instantly for a sec then "annotation" bar pops-up.

**What you expected to happen**:
I expect grafana to show the values when I touch on a graph.

**How to reproduce it (as minimally and precisely as possible)**:
Go to a grafana bar on an iPad and touch a graph.

**Anything el

[2019-10-07 21:18] Diglador commented on #4469
real align will be nice

[2019-10-07 21:47] #19476 closed

[2019-10-07 21:56] marefr opened #19683 "Plugins: Support loading new version of backend plugin"
When new SDK/plugin model in #19666 have been merged we need to add support for loading this new version of backend plugins when scanning for plugins. Old backend plugins version from grafana-plugin-model should still be supported through the tsdb http query endpoint, i.e. continue to work as today.

[2019-10-07 22:26] treksler commented on #11537
I am not sure if nested jsonData is required to produce this issue in elasticsearch.
Rather, nothing is loaded from jsondata, when provisioning an Elasticsearch datasource.
could be a separate issue

[2019-10-07 22:40] treksler opened #19684 "jsonData and secureJsonData are ignored when provisioning Elasticsearch datasource from file"
**What happened**: when provisioning elasticsearch datasearch from a file, jsonData and secure JsonData keys are ignored. As a result, provisioning BasicAuth and TLS auth settings is impossible. (Use ODFE with security enabled to test) Settings need to be edited in browser, and are periodically lost and have to be re-entered in the browser

**What you expected to happen**:
settings form jsonData a

[2019-10-07 22:52] treksler commented on #19684
looks like you have to specify apiversion, or it will ignore jsonfile

this appears to not work
[code]

[code]

[2019-10-07 22:52] #19684 closed

[2019-10-07 23:39] Krinkle opened #19686 "Y-max missing from graphs"
**What happened**: I've set a Y-max on a graph, and while the line is main part of the chart renders correctly with this max in mind, the legend is missing the top number (there is a blank gap where a number should be)

**How to reproduce it (as minimally and precisely as possible)**:

Take any graph. Look at how far it goes on the default automatic Y-max, pick a number a bit  higher than that, e.

[2019-10-08 03:59] william-cheung commented on #4655
How can I use field name (with wildcards) in alias in the following case? Thanks.
[code]

[2019-10-08 04:38] #19659 closed

[2019-10-08 06:32] #18878 closed

[2019-10-08 06:32] #19567 closed

[2019-10-08 07:31] #19583 closed

[2019-10-08 07:33] #19531 closed

[2019-10-08 07:42] wfraser opened #19690 "Text panel: Template variables can't be used with alternate formats in URLs in Markdown mode"
**What happened**:
In a markdown text panel, variables in URLs can't be specified with alternate formats using the `${var:fmt}` or `[[var:fmt]]` syntax.

Because Markdown formatting happens before variable expansion, this syntax gets percent-encoded and then the templating doesn't recognize that it's a variable at all. See https://github.com/grafana/grafana/blob/fd21e0ba14dac32ae703dd6c73d93c84eeb

[2019-10-08 07:54] dturakhia commented on #1387
+1

[2019-10-08 08:56] tsarajar commented on #558
+1

[2019-10-08 09:27] markuman opened #19695 "Unable to upload alert images to s3 + grafana-image-renderer incompatible with grafana/grafana:6.4.1"
This is my bucket policy

[code]

And I tried every grafana config I could find here in the buck tracker, but nothing worked

nor `bucket_url`
[code]

nor `bucket`
[code]

and I also tried with ecs task role. but no chance, everything results in

[code]

instead of phantomjs, I also tried to use `grafana-cli plugins install grafana-image-renderer`.
However, the official docker image `grafana/grafa

[2019-10-08 09:52] CirnoT commented on #19636
Additionally there's some weird behavior happening where text is rendered multiple times in different positions.

![chrome_2019-10-08_11-49-59](https://user-images.githubusercontent.com/1447794/66386175-077bec80-e9c2-11e9-99dc-bd7f8a7b5609.png)

[2019-10-08 09:52] krvajal commented on #19631
Quick update. I managed to get a dev environment up and running very quickly. And I was also able to reproduce the bug.

[2019-10-08 10:19] torkelo commented on #19686
![image](https://user-images.githubusercontent.com/10999/66388126-c5ed4080-e9c5-11e9-912d-d49e4b75b076.png)

Strange unable to replicate, and no other reports.

What browser and version are you using?

[2019-10-08 10:20] torkelo commented on #19655
think this is fixed in v6.3, if not it might have to be fixed in polystat

[2019-10-08 10:20] #19655 closed

[2019-10-08 12:50] daldoyle commented on #19681
I was going to open an issue on similar when I saw this. I believe the annotation popup used to be a right click function but was moved to click at some point. This has confused some of our users. It would be great to have this back on right click or alternatively have a way to turn it off entirely.

Additionally, the annotation pops up even when the user has the "Viewer" role and cannot add an an

[2019-10-08 12:51] sunker commented on #18223
Role switching is not supported. Docs updated

[2019-10-08 13:06] sunker commented on #18087
Multi value support for region is not something that is in the road map for AWS at the moment, hence this cannot be fixed at our end.

[2019-10-08 13:06] #18087 closed

[2019-10-08 13:13] rkno82 commented on #18223
Do you plan to support this in the future? Because the #19706 will close that issue?

[2019-10-08 15:01] #19437 closed

[2019-10-08 15:29] siegfriedhoellrigl opened #19709 "Grafana 6.4.1 armhf Docker Image does not start"
Raspberry PI (arm 32 Bit System) - Was working perfectly with Version 6.3.6.

docker run -ti --rm grafana/grafana:6.4.1
 gives :
/run.sh: line 80: /usr/share/grafana/bin/grafana-server: No such file or directory

6.4.0 seems to have the same issue.

[2019-10-08 15:34] bLiGM opened #19710 "Yarn frontend tests can fail due to millisecond differences"
**What happened**:

I ran `yarn test` on master `9904e14f8ecafbba20c446fd26c0f0d1accfc005`

One of the tests failed due to a millisecond difference in Epoch time:

[code]

On re-running `yarn test` the test succeeded.

**What you expected to happen**:

`yarn test` succeeds every time.

**How to reproduce it (as minimally and precisely as possible)**:

Run `yarn test` (on a slow system?)

**Anythin

[2019-10-08 15:40] xlson commented on #19709
Duplicate of #19585

[2019-10-08 15:40] #19709 closed

[2019-10-08 15:47] #12404 closed

[2019-10-08 15:58] ivanahuckova commented on #19710
Thanks for reporting this! We will look further into this issue.

[2019-10-08 16:55] #16009 closed

[2019-10-08 17:57] #19631 closed

[2019-10-08 18:32] pacEPMS opened #19717 "Alert rule: parameter for duration"
**What happened**:
in an alert-rule I configure for example
- the evaluation interval to 15min
- the For duration to 30s
The time between alert state change from pending to alerting is about 15min
(see Screenshot alert rule and alert list)

![Bildschirmfoto vom 2019-10-08 20-26-20](https://user-images.githubusercontent.com/52577036/66422641-53eb1a80-ea0a-11e9-8712-1fcd23bafd92.png)
![Bildschirmfot

[2019-10-08 18:44] Krinkle commented on #19686
URL: <https://play.grafana.org/d/000000012/grafana-play-home?tab=visualization&orgId=1&fullscreen&panelId=11&edit>

Reproduced in:

|Chrome 77.0 |Firefox 69.0.02 |Safari 13.0.1.
|--|--|--
|<img width="525" alt="c" src="https://user-images.githubusercontent.com/156867/66423615-f227b200-ea03-11e9-9ade-4cf1ee100564.png">|<img width="768" alt="f" src="https://user-images.githubusercontent.com/156867/6

[2019-10-08 20:41] eslerm commented on #1691
The systemd service contains a variable which sets a file for environmental variables.
[code]
Setting the proxy, as described by @renatoram, in `/etc/default/grafana-server` resolved this on Ubuntu 18.04

[2019-10-08 20:45] baniocarpentercode42 commented on #19368
I see this fix mentioned here: https://github.com/grafana/grafana/milestone/134?closed=1
But I don't see it mentioned in the Release Notes v.6.4.x: https://community.grafana.com/t/release-notes-v-6-4-x/21088
Is this in v6.4.x?

[2019-10-08 21:11] marefr commented on #19368
@baniocarpentercode42 yes it's in v6.4.x. We must have missed to add it to the changelog.

[2019-10-08 21:22] #19281 closed

[2019-10-08 21:22] #19404 closed

[2019-10-08 22:03] francisozic commented on #17206
any update?  Still seems to not have the "auto" option in 6.4.2

[2019-10-08 22:21] ramivis commented on #19548
@torkelo need more details?

[2019-10-08 23:01] tobiaswest83 commented on #17387
@silencev you're able to get around this limitation by using a [Cross Workspace Query](https://docs.microsoft.com/en-us/azure/azure-monitor/log-query/cross-workspace-query), took a bit of faffing around to work out the way to suffix your query, but here's an example of an AI query from traces.

`app('/subscriptions/{{YOURSUBSCRIPTION}}/resourceGroups/{{RESOURCEGROUP}}/providers/microsoft.insights/

[2019-10-09 01:39] vishiy opened #19722 "Dashboards using Azure Monitor data source shows no data by default"
**What happened**:
For dashboard panels using Azure monitor data source, exporting(external) & importing the dashboard does not load data by default. All panels need to be manually edited to choose the workspace (even though data source has a default workspace set).

**What you expected to happen**:
Dashboard panels loads data by default by using the default workspace set in the data source

**How

[2019-10-09 03:26] hunanjsd commented on #9334
+1

[2019-10-09 05:10] RalphSu commented on #17703
See the same issue after update my grafana. Is there an conclusion of root cause ?

[2019-10-09 05:11] markuman commented on #19695
@xlson nothing happen

[code]

this is what ff looks like

![grafanaerror](https://user-images.githubusercontent.com/3920157/66453231-f71c4e00-ea63-11e9-93ee-69c4f400ac9f.png)

[2019-10-09 06:41] #19710 closed

[2019-10-09 06:46] pinguini commented on #18907
Yes need to inform users that local PC time is wrong configured.

[2019-10-09 06:58] #18924 closed

[2019-10-09 07:00] #19676 closed

[2019-10-09 08:23] xlson commented on #19695
Looks like PhantomJS is timing out on your panel. I would suggest trying to install the rendering plugin as its own docker container and use remote rendering. Unfortunately installing the renderig plugin within the main grafana container doesnt work very well, but running it separately should hopefully solve your issue.

The Grafana image renderer docker image is: `grafana/grafana-image-renderer:l

[2019-10-09 09:23] DooMMasteR commented on #18886
This issue is still present in
`Grafana v6.4.1 (4ba8388)`

[2019-10-09 10:00] cpmoore commented on #17327
It may be possible to wrap the date histogram aggregation in a composite bucket aggregation then paginate between the results and combine them client side.

[2019-10-09 10:02] pbaumard opened #19726 "Table panel: Add column for each annotation data key"
**What would you like to be added**:

When annotation key-value tags are used, then I would like to see the annotation key-value tags as columns in table panel.

For example with key-value tags "foo:foo1 foo:foo2 bar:bar1", then those columns are added:

foo | bar
------------ | -------------
foo1, foo2 | bar1

**Why is this needed**:

We have some metric associated to annotations and we would lik

[2019-10-09 10:32] weeco commented on #19448
@torkelo @cstyan The problem seems to be resolved (along with reandomly switching label colors) after updating Grafana from 6.4.1 to 6.4.2

[2019-10-09 10:43] rwalli commented on #4262
I'm very beginner with influxdb and grafana and tried your workaround:

which works very good but when restarting influxdb the retention policy "forever" is still there but all inserts are gone.

Can someone point me in the right direction?

[2019-10-09 10:46] markuman commented on #19695
That results also in an error.

Grafana log

[code]

Grafana Image Renderer Log

[code]

It is all deployed on aws ecs behind application loadbalancer.
They can reach each other. I can make a curl from grafana to grafana-image-renderer and vise versa.

[2019-10-09 11:25] toleds opened #19728 "Parent-Child Variable Issue"
**Grafana version 6.4.0**
**Datasource : MySQL**

I have created 2 query variables namely $continent and $country

**$continent query**

**$country query**

**Expectation**

When selecting  a continent, it should filter the countries in that particular continent.

**What is Happening?**

It is only listing the first record in the child list.

![image](https://user-images.githubusercontent.com/2573

[2019-10-09 11:43] edwinsc commented on #19574
It seems this was fixed in newer versions of Grafana.
https://github.com/grafana/grafana/pull/14456/commits/33c176e56cc9e69f49664993b7f8f62d77a412c5
I will try to upgrade to the latest version.

[2019-10-09 11:58] DooMMasteR commented on #18886
[I made a short clip of it](https://i.imgur.com/cCLXssq.mp4) it only appears to be a problem with the right side of steep rising edges....

https://i.imgur.com/cCLXssq.mp4

[2019-10-09 12:11] #19600 closed

[2019-10-09 12:49] herlon214 commented on #4623
+1

[2019-10-09 12:49] herlon214 commented on #1381
+1

[2019-10-09 12:50] xlson commented on #19717
That's for writing such a clear description of your problem.

`For` doesn't work the way you are expecting it to. `Evaluate every` is expected to be set to a value lower than `For` and will be when the alert is evaluated when an alert starts firing it will go to pending (if `For` is set and hasn't been exceeded), the next time it is evaluated and `For` has been exceeded it will go from pending to

[2019-10-09 13:03] torkelo commented on #19728
Can you open chrome dev tools and look at the network request when you change the continent? What is that query and what does it return? can you see anything wrong in the SQL Grafana sends in the query (when you change continent)

[2019-10-09 13:19] marefr commented on #19695
@markuman please include your grafana configuration in regards to [server](https://grafana.com/docs/installation/configuration/#server) and [rendering](https://grafana.com/docs/installation/configuration/#rendering) sections.

Also what's the public url you're using for Grafana and what's the internal addresses of grafana and grafana-image-renderer? Please strip out any sensitive information.

[2019-10-09 13:49] austin-barrington opened #19729 "Embedded iframe of grafana panel does not load on firefox"
**What happened**:
Using the iframe shared option to embed an iframe panel, the graphs loads on chrome & safari. However it does not on firefox. It just loads a blank even though it returns a 200, and loads when going direct.

**What you expected to happen**:
 Load on firefox as other browsers load.

**How to reproduce it (as minimally and precisely as possible)**:
 load grafana panel  in an Ifram

[2019-10-09 13:58] mmikalsen opened #19730 "DataProxy: Support access tokens without expire_on field"
**What happened**:
I'm trying to implement a datasource plugin for Grafana, the api used requires oauth2 client credentials authentication, which is implement as written in the [oauth-guide](https://grafana.com/docs/plugins/developing/auth-for-datasources/#how-token-authentication-works).  Grafana does not reuse the token, and will request a new token for each request.

The Access Token Response f

[2019-10-09 14:14] kylebrandt commented on #6288
Assigning to @ryantxu for consideration. I think this valuable for historical or test datasets, and our work with dataframes.

[2019-10-09 15:45] pcroc opened #19731 "Request URI Too Long 414 when "All" option is selected"
**What happened**:
I added a WHERE clause to my widget query, based on a dashboard variable with a very large number of options. When the variable is set to the "All" option, the widget fails to load with "Network Error: Request URI Too Long(414)".

When I inspect the browser console, I can see the URL being fetched by the widget query contains all possible options in the query string, therefore m

[2019-10-09 17:28] XLPE commented on #16094
I find  that the logic of the function getColorForValue with 5.4.2 is also like this,Why not show this error  with 5.4.2?

[2019-10-09 18:25] wrossmann opened #19732 "Variables containing quotes are not stored/retrieved properly."
**What happened**:

I've defined the following constant variable that I use across the dashboard to filter various filesystem graphs:

    fstype!="rootfs",mountpoint!~"/(run|var/lib/(kubelet|rancher)).*",mountpoint!=""

This will work until you close Grafana or load another dashboard, but when I reload the dashboard it's shown in the query inspector as:

    fstype!=\\'rootfs\\',mountpoint!~\\'/(

[2019-10-09 19:22] aknuds1 commented on #19585
I might have a lead on the root cause for this issue, hoping I can fix it by tomorrow.

[2019-10-09 19:35] kmott commented on #10727
FWIW, I recently switched my ingress loadbalancer to Fabio (from Traefik) and updated Grafana (Docker image, no additional database backends) to v6.4.2, and the 401 unauthorized errors seem to have gone away when doing automatic refresh (interval set to 10 seconds, running all day).  It's unlikely that switching to Fabio fixed the issue, I'm guessing it was the newer version of Grafana that helped

[2019-10-09 20:13] screentan opened #19733 "Repeats: Repeating panel causing out of order layout"
**What happened**: As part of a host performance dashboard I have a repeating panel for each ethernet nic.  When I first switch to that dashboard the layout is correct.  When switch back and forth between a host with 1 nic and a host with 3 nics the layout of the dashboard breaks.

**What you expected to happen**:  The general layout of the dashboard should not change apart from the number of grap

[2019-10-09 21:30] Tikam02 commented on #10420
@drnarahari how do you solved it???

[2019-10-10 02:13] turchanov commented on #15716
Same problem here. I removed both privisioning configuratuion and dashboard json-s. But I cannot remov dashboard from UI for the reasons stated above: "Dashboard cannot be deleted because it was provisioned"

[2019-10-10 02:38] toleds commented on #19728
**Here is the result, hope this helps,  apparently the return data is correct, only the display is wrong**

![image](https://user-images.githubusercontent.com/25734236/66534794-f362f700-eb49-11e9-8d0b-0dadd694202d.png)

**the query statement is**

[2019-10-10 02:44] toleds commented on #19728
This issue is my mistake.  grafana variables filtering runs perfectly.

Issue was the same id was put on both records.

Thanks for the help.

[2019-10-10 02:44] #19728 closed

[2019-10-10 06:01] Tirex commented on #15848
+1, very non intuitive UI

[2019-10-10 06:38] flunda commented on #17327
Same problem here.
ES - 7.2.0
Grafana - 6.4.2

[2019-10-10 06:41] mudit1804 commented on #19514
@hugohaggmark Any update on this? I am also facing same issue.

[2019-10-10 07:13] noomtw opened #19735 "tsdb.HandleRequest() error Get https://"
error:"tsdb.HandleRequest() error Get https://xx.xx.xx.xx/prometheus/api/v1/: x509: cannot validate certificate for xx.xx.xx.xx because it doesn't contain any IP SANs"

how can i fix this

thank

[2019-10-10 07:15] amprantino commented on #14463
"move to top" and "move to bottom"  buttons would be very handy!

[2019-10-10 08:12] miqh commented on #19196
Hi @davkal,

I had a look at this issue out of interest and I think the underlying problem isn't limited to just using multiple selectors on a recording rule.

As an example, I could have a recording rule `level:metric:op` defined as `avg(rate(count[5m])) by (job, service)`. I could then use it in a query such as `level:metric:op{service="foo"}`. If I'm not mistaken, expansion would mean preservin

[2019-10-10 09:24] unglaublicherdude commented on #17327
Same problem here:

ES - 7.3.2
Grafana - 6.4.2

[2019-10-10 09:32] austin-barrington commented on #19729
Nginx proxy with a header added for X-Frame-Options' 'allow-from: https://<sitename>' will solve this.

You MUST put this under the main domain and not a subdomain without an additional port.

Chrome does not like `SAMEDOMAIN` and Firefox does not like `allow-from *`

[2019-10-10 09:32] #19729 closed

[2019-10-10 09:59] maoyuanh opened #19736 "Grafana shows "Unable to load datasource meta data" errors"
We are using grafana 6.2.2.
When first login to grafana we can see dashboard normally.
![gracap](https://user-images.githubusercontent.com/39478165/66558907-ffb97500-eb86-11e9-9d2c-284425823a11.PNG)
but after wait a few minutes if i did not do any thing on gui, it cannot display data from prometheus at all: "Unable to load datasource meta data" error is shown. See screenshots.
![dashboard_not_able

[2019-10-10 10:01] aknuds1 opened #19737 "Improvements to Grafana builds"
As @xlson, @marefr and I discussed today, we need to make some changes to our build processes. Basically, we are building and distributing two types of artifacts: Independent binaries and Docker images. The underlying cause of the discussion was that our Docker images for the ARM architecture are broken, since the contained Grafana binary dynamically links to glibc while Alpine only has musl.

##

[2019-10-10 10:01] atais opened #19738 "Error parsing fixed date range in ms from 10.000.000 to 100.000.000"
**What happened**:

We use grafana to draw chart of data with a strange date frame
`1970-01-01 01:30:00` to `1970-01-01 10:00:00`

So that translates to url
```&from=1800000&to=32400000```

:smile:

And it works fine. But if you copy & paste the url into other tab, the `to` date errors as "invalid format".

**What you expected to happen**:
Graphs should load the date properly

**How to reproduce i

[2019-10-10 10:55] rguptarg opened #19740 "Singlestat : value mapping"
Hi Team,

We are using Singlestat
![Old_grafana](https://user-images.githubusercontent.com/49057178/66563074-9cc1e100-eb7a-11e9-83ff-e6944b784379.JPG)
![New_Grafana](https://user-images.githubusercontent.com/49057178/66563075-9d5a7780-eb7a-11e9-91f2-ca5fd89902e9.JPG)

plugin and want to mapped value if there is no output in query.

In old version of grafana, we did easily but in new version it's s

[2019-10-10 11:23] torkelo commented on #19740
Dupe of https://github.com/grafana/grafana/issues/19645

[2019-10-10 11:23] #19740 closed

[2019-10-10 11:58] terjegjose commented on #14943
+1 for this feature!

[2019-10-10 12:24] thall opened #19742 "Tables from Postgres datasource that are created under schemas with dashes are not listed"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Grafana version:
- Data source type & version:
- OS Grafana is installed on:
- User OS & Browser:
- Grafana plugins:
- Others:

[2019-10-10 12:25] #19742 closed

[2019-10-10 12:25] thall opened #19743 "Tables from Postgres datasource that are created under schemas with dashes are not listed"
**What happened**:
In the query tool when choosing from 'select table', tables that exists in schema `test-schema` doesnt shows up, even if `search_path` for that user contains `test-schema`.

**What you expected to happen**:
That the tables are shown

**How to reproduce it (as minimally and precisely as possible)**:
Postgres setup
[code]
Add postgres as datasource and connect with User: `youruser

[2019-10-10 12:39] tmvtmv commented on #6956
+1

[2019-10-10 12:55] jeffdesc opened #19744 "'cookie_secure' has no impact on 'redirect_to' cookie"
**What happened**: After a security scan we noticed the cookies were not secure. We enabled it through `cookie_secure` and all Grafana cookies are secure now.

However one cookie `redirect_to` is still not secure.

**What you expected to happen**: After enabling `cookie_secure` the `redirect_to` cookie should be secure as well.

**How to reproduce it (as minimally and precisely as possible)**:
- E

[2019-10-10 12:57] denisb411 commented on #17614
Any attention being taken on this?

[2019-10-10 13:00] Fischer96 opened #19745 "Implement an option to define the colors of table headers or hide table headers"
**What would you like to be added**:

It would be a nice to have feature to change the color of a header in the table panel. Could be implemented like the color picker for SingleStat. Another good option would be hiding the header bar completely for a table.

**Why is this needed**:

We are currently using tables with only one row and column to set dynamic html text. To save some space we get rid

[2019-10-10 13:18] seanlaff opened #19746 "Also provide panel height to datasource.query() call"
Datasources are provided the width in pixels of the panel making the request

https://github.com/grafana/grafana/blob/241a0ee79df89e294030f9b6f6196867f85593d3/public/app/features/panel/metrics_panel_ctrl.ts#L200

However my datasource uses a downsampling algorithm that requires both width and height, with the benefit of drastically reducing the payload size and rendering time.

[2019-10-10 13:21] edwinsc commented on #19574
I installed Grafana v6.4.2 (443a0ba), but the problem persists, the datasource file is parsed correctly, but I still get the error message "pq: connection requires a valid client certificate"

I also tried to provide paths for the certificates using :
[code]

or using the field names for used by Grafana database:
[code]

But for all configs, the log line remains similar (I had to change Grafana mo

[2019-10-10 13:30] Silvester23 commented on #17802
I also preferred the old time picker. It may not have been perfect, but seeing all options at once without having to scroll was a big plus compared to the new one.

[2019-10-10 13:51] guyse-michael opened #19747 "Cannot create a playlist using the playlist api"

[2019-10-10 13:57] #19747 closed

[2019-10-10 14:08] marefr commented on #19574
Duplicate of #14455

[2019-10-10 14:11] edwinsc commented on #19574
@marefr Thanks for the clarification.

So if I understand correctly this is not possible to do at the moment, not even in version 6.4.2, right?

[2019-10-10 14:12] marefr commented on #19574
Seems like our documentation regarding TLS/SSL is lacking for both  https://grafana.com/docs/features/datasources/postgres/ which is not supported and https://grafana.com/docs/features/datasources/mysql/ which have the support. Also wrong provisioning documentation here https://grafana.com/docs/administration/provisioning/#datasources which implies that all datasources supports `tlsAuth` settings

[2019-10-10 15:06] edwinsc commented on #19574
https://github.com/grafana/grafana/pull/14456/commits/33c176e56cc9e69f49664993b7f8f62d77a412c5 seems to add the support for adding key/value entries for psql client string certificate values to the connection string of a postgres datasource. Was this code abandoned?

[2019-10-10 15:22] fredbcode opened #19751 "grafana alerting method in others visualization modes"
Hello
I'm using bar gauge with grafana 6.4.2 and all works well
Unfortunately there is no Alerting menu, this is something planned ?

To reproduce just switch Visualization: Graph to Gauge

Thank you

[2019-10-10 15:28] marefr commented on #19574
Not sure where you found that commit. It's not in master where it looks like this: https://github.com/grafana/grafana/blob/master/pkg/tsdb/postgres/postgres.go#L51

[2019-10-10 15:49] cbonte commented on #19731
As a workaround, I usually set the **Custom all value** to `.*`

[2019-10-10 15:53] edwinsc commented on #19574
I found it by trying to find a way to solve my issue. :-)
It seems a simple fix, but I don't know if would create a cascade of changes.

[2019-10-10 16:27] maxlehot1234 commented on #19213
Nothing @torkelo @alexanderzobnin @ryantxu  ?
Sorry for the spam on this ticket, but I want it to be solve ;)

Without these graph, it was lot more harder to have everything in the same graph

Thanks again and have a nice day/night

[2019-10-10 16:47] daniellee opened #19752 "Frontend: Slate components cause mouse click bug"
**What happened**:

When you click on a field in a query editor that uses Slate (Azure Monitor, Splunk, New Relic, Flux) then it is not possible to click on a drop-down anymore - it collapses instantly after clicking.

![slate-bug](https://user-images.githubusercontent.com/434655/66588542-01863700-eb8d-11e9-863f-177e4dc81732.gif)

An alternative way to see the bug: If you open Prometheus in Explor

[2019-10-10 17:26] ryantxu commented on #19213
sorry -- this seems hard to debug.  There is something happening with your response from zabbix when the value is below 10 (or something like that).

If you could screenshare, I could maybe find a solution but we are unable to reproduce and.  Look me up on the grafana slack and we can try to sync up.

[2019-10-10 18:21] maxlehot1234 commented on #19213
Yeah it was really hard to debug.

I need to ask my boss for the screenshare for different reasons.

Maybe torkelo and alexander can "work" together on this, but without their help, it could be more complex to debug I think.

Thanks for the reply

[2019-10-10 19:25] maxlehot1234 commented on #19213
@ryantxu I can screenshare so you can see zabbix and the grafana setup, but I doesn't want to put everything here, so how I can contact us "privately"?

Just let me know how we can do that.

[2019-10-10 19:53] #19352 closed

[2019-10-10 20:58] shay117 opened #19753 "Redirect after sign up"
Not sure if this IS a bug or I just missed something.
**What happened**:

I have a Grafana instance that allows users to sign up, which is running in a Docker container with port 3001 mapped to 3000. There are 2 dashboards in the main org, where one is set as the default home. If I give a user a link to the second dashboard, http://IP:3001/otherdashboard, it redirects them to the login page and if

[2019-10-10 21:46] effgee commented on #9799
Looks like issue is still present with "percentage 0-100".
Workaround is to format as general, and just use % symbol as postfix.

[2019-10-10 21:50] karthikkota commented on #4645
+1

[2019-10-10 22:37] azhiltsov commented on #19137
The issue is gone in 6.3.6 without disabling the total stats. Thank you for quick fix.

[2019-10-10 23:31] ryantxu opened #19755 "RFC: Move DataFrame labels to field metadata"
Currently, DataFrame holds a labels attribute -- then we infer that the labels apply to all fields within the table.  This structure matches the 'tags' structure in TimeSeries.

We are now looking at how to join data from multiple frames, and labels get tricky :)

I propose that we move labels from the container and put it in each field.  This way we could reasonably join the frames:
[code]

Into:

[2019-10-11 01:40] qiyongxiao opened #19757 "build pause and could not listen localhost:3333 on mac or centos"
I clone the repo(v6.2.5), and use ```yarn install``` to install dependencies with an warning
[code]
When run ```yarn start``` will pause on 'hidden modules'
[code]

[2019-10-11 02:32] lobeck opened #19758 "[Feature request] add SI prefix caps"
**What would you like to be added**:

There should be a set of units that will be capped at a certain prefix on the SI scale.

For example: Prometheus recommends using meters as unit of distance measurement. When selecting the meters unit in Grafana it will convert large values like 5128179 into 5 Mm which is technically correct but often not helpful. In this case this should represent a distance

[2019-10-11 05:44] torkelo commented on #19730
What does your plugin.json look like?

[2019-10-11 05:48] torkelo commented on #19757
what version of node are you using? Is this happening every time? what OS?

[2019-10-11 05:49] torkelo commented on #19751
No, not planned, we are planing to move alerting out of panels into their own thing.

[2019-10-11 05:49] #19751 closed

[2019-10-11 05:55] torkelo commented on #19745
Don't think we will have color options for header, but hiding header sounds reasonable:

https://github.com/grafana/grafana/issues/3783

[2019-10-11 05:55] #19745 closed

[2019-10-11 05:57] torkelo commented on #19744
agree. Cookie is set here:
https://github.com/grafana/grafana/blob/master/pkg/api/login.go#L66

[2019-10-11 05:58] torkelo commented on #19735
not sure, looks like a problem with the certificate? Have you specified a custom certificate?

[2019-10-11 05:58] #19735 closed

[2019-10-11 06:02] torkelo commented on #19731
You can set custom value, or change request method to POST in the data source settings.

[2019-10-11 06:02] #19731 closed

[2019-10-11 06:22] christertime commented on #14943
+1 for this feature!

[2019-10-11 06:41] sunker commented on #19514
Apparently this template variable function only handles attributes that has a return value of type string. LaunchTime is of type time.Time so it doesn't work. Should be that hard to implement. Hopefully we'll be able to get this into the next release, but I'm not sure yet.

[2019-10-11 06:43] mmikalsen commented on #19730
[code]

[2019-10-11 06:53] fredbcode commented on #19751
Thanks, a long term change or sooner?

[2019-10-11 07:09] Jaeguki opened #19760 "Table Panel Header Bug Issue in Table Plugin"
**What happened**:
It happened in the grappa table panel.

Occurs when the table panel header is longer than the maximum representable length on the web screen.

Move the scroll left or right.

The table records shown move well along the scroll.

But the table header is fixed.

The table header shown does not move as you scroll.

**What you expected to happen**:
The table header shown when the scr

[2019-10-11 07:22] thall commented on #19743
I look into it quick this morning,

I found that it you wrap `table_schema` in https://github.com/grafana/grafana/blob/master/public/app/plugins/datasource/postgres/meta_query.ts#L78 with `quote_ident()` it returns all correct tables.

But if same table exists in multiple schemas you wouldn't see which belongs to which schema in the GUI. I think the proper way to fix this is to add another field i

[2019-10-11 07:36] torkelo commented on #17784
duplicate of https://github.com/grafana/grafana/issues/4157

[2019-10-11 07:36] #17784 closed

[2019-10-11 07:37] torkelo commented on #19760
duplicate of https://github.com/grafana/grafana/issues/4157

[2019-10-11 07:37] #19760 closed

[2019-10-11 07:39] annelaurefroment opened #19761 "CloudWatch dimension "Service class" not working"
**What happened**:
Using the Cloudwatch data source the dimension "Service class" the dimension values are not populated.
![image](https://user-images.githubusercontent.com/49911675/66633013-68165e00-ec3c-11e9-8b5c-0e9b0e5dc1f8.png)

This can be solved by manually by typing "service class" (all lower case) as a dimension, so the issue is the capital **S** in the Grafana dimension.

**Environment**

[2019-10-11 07:47] torkelo commented on #19751
early next year I hope

[2019-10-11 07:56] TurkerTunali commented on #19751
We usually create another dashboard just for alerts.

[2019-10-11 07:57] laundmo commented on #13706
i wanted to explain how to set up the solution by @Ermag with permissions that block access to otther dashboards

I managed to embed grafana (from another host) after following https://grafana.com/docs/auth/auth-proxy/
step by step:
1. edit grafana config accordingly to docs page
2. add apache server ip to whitelist parameter (all traffic from this ip has access to all accoutns without password)
3

[2019-10-11 08:02] laundmo commented on #7450
i solved this automatically logging in a "viewer" role user (cant edit, cant change anything, only able to change time range and color temporarily) https://github.com/grafana/grafana/issues/13706#issuecomment-540958284

[2019-10-11 08:04] laundmo commented on #3752
just wanted to comment how i solved this using http basic auth https://github.com/grafana/grafana/issues/13706#issuecomment-540958284

[2019-10-11 08:15] daniellee opened #19762 "Panel: text panel shows query editor as default"
**What happened**:

When I click edit on a text panel or getting started panel or dashboard list panel, then I see a query editor for the default datasource. There is no navigation for it on the left hand side.

![image](https://user-images.githubusercontent.com/434655/66635468-9af62d00-ec0f-11e9-81e9-429b8f46b700.png)

**What you expected to happen**:

I expected that the visualization options to

[2019-10-11 08:38] justClouds commented on #17703
Same for me. No rendering anymore and PhantomJS times out with the same error message as stated by OP.
Any updates on this?

[2019-10-11 08:51] Horkyze opened #19763 "Datasource ba"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Grafana version:
- Data source type & version:
- OS Grafana is installed on:
- User OS & Browser:
- Grafana plugins:
- Others:

[2019-10-11 08:51] #19763 closed

[2019-10-11 09:04] Horkyze opened #19764 "Datasource is not correctly updated when using basic auth"
Data source is not correctly updated in Grafana Web UI

I setup Prometheus data-source with basic auth, but the connection to it always failed. When I inspec the datasource with API call i get:

[code]

I expext that the `basicAuthUser` and `basicAuthPassword` would be set.

![image](https://user-images.githubusercontent.com/1040383/66639244-cc262b80-ec16-11e9-8fc5-63fa770c8176.png)

Then I update

[2019-10-11 09:04] sukjoonhong commented on #6592
In Elastic search case, I found easy way to solve this issue.
Use date math : https://www.elastic.co/guide/en/elasticsearch/client/net-api/7.x/date-math-expressions.htm.

for example, if you want data with range (AM 00:00 ~ PM:12:00) then @timestamp:[now/d TO now/d+12h] will may return wanted result

[2019-10-11 09:16] davkal commented on #13378
See design work in #14695

[2019-10-11 10:06] torkelo commented on #19762
To fix this:
https://github.com/grafana/grafana/blob/master/public/app/features/dashboard/panel_editor/PanelEditor.tsx#L112

This needs to default to first tab in state.panelEditor.tabs[0].id

Keep in mind that the state.panelEditor.tabs defaults to empty so needs a check for empty

[2019-10-11 10:14] Atem18 commented on #6592
@sukjoonhong I cannot make it work. Do you have a screenshot please ?

[2019-10-11 11:07] #19620 closed

[2019-10-11 11:22] suraganijanakiram commented on #9953
+1

This is a great feature to have since now a days every one is moving to cloud and AWS is having the majority of the share in the cloud.

[2019-10-11 11:37] amadeuszkryze commented on #17812
Is there any progress in this topic? I really see lack of this feature in my project where I have multiple areas of monitoring and every area has its overall and it looks like that:
![image](https://user-images.githubusercontent.com/37712172/66648182-2cbf6380-ec2b-11e9-9dec-62239cd59554.png)
Can we add some soft of shadowed folder structure before dashboard names like (even as configurable dashboa

[2019-10-11 12:12] marefr opened #19767 "Snapshot: Show confirmation before navigating back to original URL"
**What would you like to be added**:
A confirmation before navigating back to original dashboard URL from a snapshot.

**Why is this needed**:
If a snapshot have an original dashboard url defined the following button is shown when rendering snapshot:
![image](https://user-images.githubusercontent.com/1668778/66648599-35fd0000-ec2c-11e9-843f-c71e703b68aa.png)

If snapshot is stored in an external G

[2019-10-11 12:16] balda commented on #9953
Be aware of the cost of this API: $0.01 per request!

[2019-10-11 12:19] xlson commented on #19737
Thanks for summarising this into an issue.

[2019-10-11 12:20] marefr commented on #19761
Based on documentation [here](https://docs.aws.amazon.com/redshift/latest/mgmt/metrics-listing.html) the dimensions `Service class` and `Stage` here
https://github.com/grafana/grafana/blob/a427ff7f8d20a5e5ec275aa07896698479e25fad/pkg/tsdb/cloudwatch/metric_find_query.go#L183
Needs to be updated to `service class` and `stage`.

[2019-10-11 12:28] #15381 closed

[2019-10-11 12:37] suraganijanakiram commented on #9953
i think if they can put an option to send request like below then i hope cost wont be a big problem.
@hourly
@daily
@weekly
@monthly
etc.

[2019-10-11 12:52] amadeuszkryze commented on #17812
@torkelo can You check?

[2019-10-11 13:01] autarchprinceps commented on #10796
Is it possible to import it into a folder when you do so via configmap in Kubernetes?

[2019-10-11 13:04] torkelo commented on #17812
check what? is there a PR?

[2019-10-11 13:19] amadeuszkryze commented on #17812
Unfortunately no, I have not enough knowledge about go and grafana implementation to implement this feature but myself , but I was wondering if this could be transformed to task or add this to roadmap for some future release.

[2019-10-11 13:22] xlson commented on #19695
Have you set the callback_url to the url of your grafana instance? That might be able to cause the timeout.

Example of what it looks like for me in docker-compose local test case:
[code]

[2019-10-11 13:59] stephendoherty101 opened #19768 "Alerting: All notification channels should send even if one fails to send"
**What happened:**
A Grafana alert was configured with the following notifications in the sequence below:

Slack
Alerta
Email

From the logs we can see the Slack notification sent, then we can see the Alerta notification failed (a "500 Server Error" from the webhook). No email notification was ever attempted.

Error received
[code]
After receiving the error no attempt was made to send the email al

[2019-10-11 14:00] maxlehot1234 commented on #19213
I'm on slack with the same username as github.
Never used slack so DM me if you want and if its possible :P

Thanks in advance

[2019-10-11 14:16] cored commented on #19744
@torkelo @jeffdesc I would like to work on this

[2019-10-11 14:17] Mixajlo14 opened #19769 "Grafana TestData DB bug"
**What happened**:
I tried to add some test data on Grafana for Scenario **Manual Entry**. When I use current time everything works fine, when I try to change time problem happen. Tried to add some value for days in the past and future.

**What you expected to happen**:
To add value for the timestamp from the past or in the future.

**How to reproduce it (as minimally and precisely as possible)**:

[2019-10-11 14:20] jeffdesc commented on #19744
@torkelo I've setup the development environment to test it and it seems like that the issue is here in my case: https://github.com/grafana/grafana/blob/master/pkg/middleware/auth.go#L50.

If I make adjustments in login.go (the one you said) it does not reflect in the cURL above, where is the redirect_to cookie injected in the login.go (which URLs)?

@cored I actually have the fix ready already, it

[2019-10-11 14:26] aknuds1 commented on #19737
No worries @xlson, I'm currently working on this as well.

[2019-10-11 14:30] CRad14 commented on #17327
Same Problem here
ES 7.1
Grafana 6.4.2

[2019-10-11 15:02] eswdd opened #19770 "Grafana won't render OpenTSDB timeseries starting with a NaN"
**What happened**:

Chart line failed to render when a NaN was found at the start of the response from OpenTSDB. Chart renders fine when there are NaNs in the data, but not at the start.

**What you expected to happen**:

No difference between responses starting and just containing NaN.

**How to reproduce it (as minimally and precisely as possible)**:

Construct a query which returns NaN at the s

[2019-10-11 15:04] aSapien opened #19771 "Dashboards saved with numeric IDs for alert notifications are not triggering notifications"
**What happened**:
Dashboards created via API that point to alert notification channels via numeric IDs are not triggering these notification channels.

These dashboards are saved successfully, notification channels showing up in alert configs but are never triggered.

**What you expected to happen**:

One of:

-
  1. For numeric IDs to be supported and trigger the notification channels
-
  1. To

[2019-10-11 15:22] shavonn opened #19772 "Ability to add options to select field"
Would like the ability to type custom options into dropdown field. Can be toggled on and off with a prop (ex: allowCustom).

In Angular, we have the ability to add custom options on dropdown fields in Query Editor but now that we are converting to React, we need the same functionality.

[2019-10-11 16:08] syedsfayaz commented on #12019
+1

[2019-10-11 16:18] marefr commented on #19769
Fixed by #19409. Will be included in Grafana v6.5 and is available in nightly builds now.

[2019-10-11 16:39] marefr commented on #10796
@autarchprinceps If you use provisioning you can specify a folder where dashboards should be stored see https://grafana.com/docs/administration/provisioning/#dashboards

[2019-10-11 17:35] sjoeboo commented on #17186
+1 would like this, we've got a plugin we'd like to take over/re-publish:

"old" unsupported: https://grafana.com/grafana/plugins/udoprog-heroic-datasource

"new"/official we'd like to get published:

[2019-10-11 17:49] #19350 closed

[2019-10-11 17:55] gjabell opened #19777 "[Feature Request] Matrix Notification Channel"
**What would you like to be added**: Support sending Grafana alert notifications to [Matrix](https://github.com/matrix-org/synapse).

**Why is this needed**: Grafana currently supports other instant messaging / group chat systems (ie Slack, Discord, Telegram), and it would be nice to have the option to notify via Matrix as well.

[2019-10-11 19:23] cored commented on #19761
@marefr can I work on this?

[2019-10-11 19:25] gotjosh commented on #19761
Assigned it to you @cored.

[2019-10-11 20:22] jordanpurinton opened #19779 "Ability to clear filters in query builder before query resolves"
**What would you like to be added**:
The ability to clear a filter without waiting for the query to resolve.

**Why is this needed**:
We have users that have complained about not being able to build dashboards and panels quick enough due to the fact that they have to wait for the query to resolve when all they want to do is remove it from the list.

[2019-10-11 21:14] fredbcode commented on #19751
Yes I will create a special dashboard, but this is strange, it's like something very important is missing

--
Envoyé de mon appareil Android avec Courriel K-9 Mail. Veuillez excuser ma brièveté.

[2019-10-11 21:57] Dieterbe commented on #10395
Today, the ability to timeshift towards the future would have helped me. (and i didn't find the workaround in time). This doesn't seem like a high-prio item though

[2019-10-12 05:31] qiyongxiao commented on #19757
grafana version 6.2.5
OS is macos10.15 or centos 7 or neokylin

[2019-10-12 06:58] torkelo commented on #19779
Please provide more detail, what data source, what is the user flow where this feature is needed? Can you describe the steps the user takes and what the user would like to be able to do.

[2019-10-12 08:26] torlenor opened #19783 "Grafana spawns timeout threads which stay defunct"
**What happened**:
Every few hours our Grafana instance will start to spawn, but not kill, threads with the name "timeout" which will go defunct. This continues until the point that no more threads can be spawned on the server. The only way to recover is to restart Grafana. It also happens when there are no users actively using Grafana.

I include the recent log file and the thread count plots of

[2019-10-12 15:43] finkr commented on #922
As a workaround, I do the following.  It assumes the second Y-axis is not used (or it has fixed min and max) value.

Exemple:
![image](https://user-images.githubusercontent.com/13090680/66703698-8603c180-ed15-11e9-8acc-46f2666c0777.png)

There's how to create it:
- Add a metric named "down" (or whatever)
  - Use a query like this (multiple lines!). see notes below.
[code]
- Add a visualization ove

[2019-10-12 17:51] danhbear opened #19784 "CloudWatch dimension_values doesn't work for DynamoDB TableName dimension"
**What happened**:
No data points are returned when using `dimension_values` to select the DynamoDB table names as a dimension, for a graph showing provisioned capacity or other CloudWatch metrics. Here is a sample dimension string that returns no results: `dimension_values(us-east-1, AWS/DynamoDB, ProvisionedReadCapacityUnits, TableName)`.

**What you expected to happen**:
A graph should be displ

[2019-10-12 21:12] heytrav commented on #6956
:+1:

[2019-10-13 01:47] danielhuang1991 opened #19786 "Can't update time range with HTTP API"
**What happened**:
Can't update time range with HTTP API

**What you expected to happen**:
I wish to update the default dashboard time range with a pair of 'from' and 'to' variables (like  2019-09-07T11:50:26.046Z) without having to manually pick it on the right top corner menu
![image](https://user-images.githubusercontent.com/43122012/66709476-df2a2000-ed2a-11e9-889e-604a9d57b5af.png)  or zoom i

[2019-10-13 14:19] lormey commented on #15776
Since I upgraded from an old version, I really miss the Links in kiosk mode.
Would be graet, if this option will be reimplemented.

[2019-10-13 17:59] torkelo commented on #19786
the UI uses the same API so you can clearly update the dashboard default time range using the API.

Make sure your query is using the time filter macro, and compare the API request the UI makes to what you are trying to do yourself.

[2019-10-13 17:59] #19786 closed

[2019-10-13 18:00] torkelo commented on #19783
Can you provide more info on your setup? ini settings, provisioning? Alert rules? DB?

[2019-10-13 18:05] torkelo commented on #19768
@marefr do you know how this is supposed to work? On a notification error should it continue with the next one?

[2019-10-13 18:12] aocenas opened #19789 "LogsPanel: Elastic query does not work in dashbaords"
Logs panel seems to expect special kind of response which for Elastic is implemented as explicit switch with `isLogsQuery` in request https://github.com/grafana/grafana/blob/90b095362052a3d2b1c92767f99a07769cfe77d0/public/app/plugins/datasource/elasticsearch/datasource.ts#L340. In dashboards though there is no way to set it (as far as I know) as `queryRunner.run` is called independent of the visua

[2019-10-13 18:31] rmunoz10 opened #19790 "Drowdown variable value persists on page reload even though the dashboard is not saved"
I have a child dropdown variable whose values depend on a parent variable.  The child variable gets the correct values but the display value does not get reset to the first value in the list

You reproduce with a single drowdown variable as well. Say values are 1,2,3.  Then select 2.  Then refresh the dashboard for new parent.  I would expect the value selected on the child variable to be 1 - inst

[2019-10-13 18:50] torlenor commented on #19783
We deployed it in a Docker Swarm using the official Grafana Docker image from Docker Hub.

The yml file for the stack is:
[docker_swarm_stack.txt](https://github.com/grafana/grafana/files/3722135/docker_swarm_stack.txt)

The ini file is mostly unchanged and defaults are used for everything except smtp:
[grafana.txt](https://github.com/grafana/grafana/files/3722137/grafana.txt)

No special settings

[2019-10-13 19:15] aocenas commented on #19789
The preferred query editor could be also interesting in context of Loki metric queries. We could use the same editor component just with different settings so that it could give you specific hints or autocomplete consistently in both explore and dashboards. cc @kaydelaney

[2019-10-13 19:42] davidhusselmann commented on #6592
I've got a workaround for this in place which uses cron to turn alerts on and off.  This would only work if you want to turn ALL alerts off overnight (or if you can be bothered scripting individual alerts).

In crontab on the grafana box, I added:

`1 * * * * root /root/do-alert-thing.sh`

And in /root/do-alert-thing.sh:

[code]

Just replace Somewhere/Sometime with your timezone (tip: run `timeda

[2019-10-13 21:30] danielhuang1991 commented on #19786
Hi Torkelo,
Thanks for replying

which API are we talking about here ? the following one?
`POST /api/dashboards/db HTTP/1.1
Accept: application/json
Content-Type: application/json
Authorization: Bearer eyJrIjoiT0tTcG1pUlY2RnVKZTFVaDFsNFZXdE9ZWmNrMkZYbk

{
  "dashboard": {
    "id": null,
    "uid": null,
    "title": "Production Overview",
    "tags": [ "templated" ],
    "timezone": "browser",

[2019-10-13 22:37] ukkathva opened #19791 "Pie Chart is not Working for grafana 6.4.2"
**What happened**: Upgraded from 6.2.5  to 6.4.2  and pie Piechart started appearing as blank tables

**What you expected to happen**:   to load pie chart load normally to previous versions

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Grafana version:6.4.2
- Data source type & version: PostgreSQL 11
- OS Grafana is inst

[2019-10-14 00:46] sukjoonhong commented on #6592
@Atem18
![2019-10-14-094215_3840x1080_scrot](https://user-images.githubusercontent.com/52904891/66724961-451bc200-ee67-11e9-8235-ded0af1368fa.jpg)

In my case, this query worked.

[2019-10-14 02:24] jwlee98 commented on #18887
I didn't get any response for a long time. is there any good way to bump this issue up again ?

[2019-10-14 06:00] sunker commented on #18223
Not at the moment @rkno82.

[2019-10-14 06:32] g10guang commented on #2641
Link maybe satisfy this feature.

![image](https://user-images.githubusercontent.com/18458140/66732441-8c697900-ee8e-11e9-8f54-f0061a79db37.png)

![image](https://user-images.githubusercontent.com/18458140/66732595-2cbf9d80-ee8f-11e9-98d2-6622276e49cb.png)

Click the button will jump to anohter dashboard.

Or we can use variable feature.

![image](https://user-images.githubusercontent.com/18458140

[2019-10-14 07:32] aocenas opened #19792 "Component responsiveness solutions"
Right now most of our responsive approach relies on media queries but those only target viewport width. With more complex layout like split panes in Explore, or resizable panels this does not work very well.

In Explore there is a [ResponsiveButton](https://github.com/grafana/grafana/blob/4bd00491bd4b8c7f8ad1e865df758dc32b1b8044/public/app/features/explore/ResponsiveButton.tsx#L36) which needs exp

[2019-10-14 07:36] Atem18 commented on #6592
@sukjoonhong Thanks I will give it a try !

[2019-10-14 07:58] papagian commented on #19791
You need to update the pie chart plugin.

[2019-10-14 08:02] code4me-xx opened #19793 "Folder and Dashboard name not rendered correctly in TV mode"
**What happened**:
When upgrading from Grafana 6.3.6 a noticed that the dashboard header is displayed incorrectly
 without ' > ' like 'FolderDashboard'

**What you expected to happen**:
It should be 'Folder > Dashboard'

**How to reproduce it (as minimally and precisely as possible)**:
Make a folder with a dashboard inside and go to that dashboard. Switch to TV mode.

**Anything else we need to kn

[2019-10-14 08:14] C0rn3j commented on #10379
For people with the same issue as OP -

You can either start putting data in with the correct type and drop the current measurement, losing all data -
[code]

OR if you insist on converting the current data from string, which InfluxDB does not support, there's a [hack you can use](https://github.com/influxdata/influxdb/issues/2651#issuecomment-451744867)

[2019-10-14 08:20] papagian commented on #19736
This can be a duplicate of #8177
Are you using multiple organizations and have grafana open with same user but different organizations?

[2019-10-14 08:24] xlson commented on #19717
Closing this due to a lack of response. We can open it again if there is more discussion.

[2019-10-14 08:47] torkelo commented on #19791
Yes, update to latest version of pie chart plugin

[2019-10-14 08:47] #19791 closed

[2019-10-14 08:47] Atem18 commented on #12638
@diogoim I can confirm that using the command line to reset admin user password : grafana-cli admin reset-admin-password will recreate an admin user with username admin and random numbers. Then you have to query the table user in the database to know its username. Then you can login with that username and the password you have set and after you do what you want.

[2019-10-14 08:50] torkelo commented on #19764
The docs are incorrect (old), you need to set password via the secureJsonData.basicAuthPassword property

[2019-10-14 09:03] torkelo commented on #19786
![image](https://user-images.githubusercontent.com/10999/66739950-35ee4180-ee72-11e9-9776-0b1395516f9d.png)

Just include the time property in the dashboard json. Then reload the dashboard (in the browser)

[2019-10-14 09:03] pbuentam opened #19795 "MSSQL Server. Authenticating with domain users"
**What would you like to be added**:
Being able to authenticate with AD users

**Why is this needed**:
In our Corporation all MSSQL users are AD users. When we try to connect we get the following error:
Login error: mssql: Login failed. The login is from an untrusted domain and cannot be used with Windows authentication.

It's the same error you get when using jDTS if not properly configured. With

[2019-10-14 09:05] #16213 closed

[2019-10-14 09:31] macaba commented on #7258
+1
Just being able to turn off the fill would suit me.

[2019-10-14 09:38] schaabm commented on #11409
Any new about that topic?

[2019-10-14 09:41] akanshgupta commented on #17432
can you explain how you configured alerts directly from prometheus in more detail?

[2019-10-14 09:53] pracucci opened #19797 "Explore: unrecognized uppercase log level"
**What happened**:

The explore section with Loki data source doesn't recognize log levels if they're upper case. For example, a log entry with the label `level="info"` is correctly categorized as `info` while `level="INFO"` is categorized as `unknown`.

**What you expected to happen**:

I would expect log levels to be case insensitive (ie. internally force the `level` to lowercase).

**How to rep

[2019-10-14 10:14] marefr commented on #19795
Duplicate of #11876

[2019-10-14 10:32] papagian commented on #19790
I'm unable to reproduce it.
Which is the query for the child variable?
Also, could you specify the correct grafana version you are using? The latest available is 6.4.2.

[2019-10-14 10:51] Horkyze commented on #19764
Docs? I did not take a look at docs, it looks like the UI is not correctly making calls to the API.

[2019-10-14 12:06] pbuentam commented on #19795
I think it is not a duplivate of #11876 as integrated security uses the identity of the process running Grafana. Wi have thousands of MSSQL instances so we need to provide the identity through the datasource. Looking into mssql driver documentation it is usually called "Active Directory authentication by password"

[2019-10-14 12:18] autarchprinceps commented on #10796
@marefr Thanks for that link, but that only enables a folder on a level of dashboard provider. The configmap sidecar is setup as a single dashboard provider in the official Grafana chart, meaning I could only put all dashboards in the same folder. Yes, I could change that folder, but it would still be the same as all others, which defeats the point.
I understood your initial issue as such, that th

[2019-10-14 12:27] dmhv commented on #10805
For some of our use cases this would be really useful. Any updates, as it's been quite some time since last activity here?

[2019-10-14 12:29] torkelo commented on #19764
It is, but the basic auth password is set only when you reset it and is otherwise nothing you can read from the api, as it is encrypted internally and never exposed via api

[2019-10-14 12:43] torkelo commented on #18047
Is this stll an issue? I think its just a problem after you build the npm packages (test publish) you need to remove the fist folder?

[2019-10-14 12:43] #18047 closed

[2019-10-14 12:44] torkelo commented on #19100
closing due to lack of updates

[2019-10-14 12:44] #19100 closed

[2019-10-14 12:52] torkelo commented on #17701
For this panel to render properly use the new image rendering plugin:

https://grafana.com/grafana/plugins/grafana-image-renderer

The built-in phantomjs (deprecated) rendering method does not render properly for some of these new panels.

[2019-10-14 12:52] #17701 closed

[2019-10-14 13:02] danielhuang1991 commented on #19786
@torkelo
But this is change is still on the UI page side, right?
I found it in 'Dashboards/Settings/JSON Model'
Is there an API I could POST to change these features?

[2019-10-14 13:09] torkelo commented on #18025
closing this for now until we have more cases like this

[2019-10-14 13:09] #18025 closed

[2019-10-14 13:15] torkelo commented on #17819
Anything left for this issue? Maybe close this and create an issue for remaining issues

[2019-10-14 13:16] rguptarg opened #19801 "Date / time convert"
HI Team,

I have date in startdate (int, seconds) format, startdate=1544467481i.

We need to convert this into Date format (DD-MM-YYYY) IST format under Table Panel.

Grafana - V6.4.1
Source - InfluxDB/Telegraf

[2019-10-14 13:30] torkelo commented on #18009
not sure I understand what the task is in this issue. is it that @grafana/ui 6.4.2 does not depend on @grafana/data 6.4.2 ?

[2019-10-14 13:32] ahurtaud opened #19802 "Impossible to import dashboard and generating new UID - Regression in 6.4"
**What happened**:
When importing a dashboard which contains an already existing UID in the json.
If I change the UID to empty, it still complains an existing dashboard with same UID exists and force me to override it.
![bug_uid](https://user-images.githubusercontent.com/25080995/66754969-64cade80-ee97-11e9-8639-a8e69e71fece.png)

**What you expected to happen**:
Like in grafana 6.3.4, it should g

[2019-10-14 14:13] torkelo commented on #19786
yes.
POST /api/dashboards/db

[2019-10-14 14:14] torkelo commented on #17382
To fix this we need to check if we are switching to annotations transform:
https://github.com/grafana/grafana/blob/master/public/app/plugins/panel/table/editor.ts#L76

instead of render we should call this.panelCtrl.refresh()   (only when transform changes to annotations)

[2019-10-14 14:19] #19762 closed

[2019-10-14 14:27] papagian commented on #19801
Can you share the response of the InfluxDB/Telegraf? Thanks!

[2019-10-14 14:43] torkelo commented on #19477
unable to replicate this. Do you still get this on 6.4.2 ?

[2019-10-14 14:53] marefr commented on #19795
Sure. I've reopened the issue. However, I think this is currently blocked by https://github.com/denisenkom/go-mssqldb/issues/146 which is the library Grafana uses to connect to MSSQL.

[2019-10-14 15:30] cby016 commented on #19681
This is affecting me also. Now on mobile it's not possible to see the values of graphs by clicking. Is there anyway to disable the annotations popover on mobile?

[2019-10-14 16:12] papagian commented on #19784
Could you also share the request/response to the CloudWatch.
Which is the query time range? Can you try increasing it?

Thank you!

[2019-10-14 16:19] danw1979 commented on #14594
+1

When you're showing past and future data in the same chart, a vertical mark for "now" is a must.

I tried the SQL hack above, but I didn't like it - 1) it shows as two datapoints, with values under a tooltip and in the legend, which is really confusing.  2) it also affects the vertical scale of the graph.

A much neater solution would be to extend the time region function to accept "now()" as

[2019-10-14 16:21] #11617 closed

[2019-10-14 16:27] marefr commented on #10796
@autarchprinceps gotcha. The Grafana helm chart is not developed/maintained by Grafana so I suggest you to ask for help there, https://github.com/helm/charts/tree/master/stable/grafana.

[2019-10-14 17:05] marefr commented on #19574
@edwinsc those changes doesn't seem to be support by the pq library, see https://godoc.org/github.com/lib/pq#hdr-Connection_String_Parameters. It supports to configure path on disk where certificates are stored.

[2019-10-14 17:10] marefr commented on #19768
Seems to have been introduced by this #18967 included in v6.4.0.

[2019-10-14 17:17] marefr commented on #19768
**Changes needed to resolve this:**
This error
https://github.com/lzdw/grafana/blob/b0bf2ea09f4fa4f73c5a1021e8b5bc41d79a0ade/pkg/services/alerting/notifier.go#L112
should only be returned if `evalContext.IsTestRun` is true, otherwise `nil`.

[2019-10-14 17:27] jaytardis commented on #5848
Any movement on this? I'd love to include metrics/fields from datasources within the Grafana notification message

[2019-10-14 17:43] Estrax commented on #19792
Great idea. Support for [Resize Observer](https://caniuse.com/#feat=resizeobserver) is a little bit better now on desktop, though the biggest issue is mobile, where only Chrome on Android and Android system browser supports that.

[2019-10-14 18:22] marefr commented on #19137
@azhiltsov thanks for confirming :+1:

[2019-10-14 18:27] johannesloher commented on #5329
+1

[2019-10-14 19:50] dream4r1 opened #19806 "Alert: Trigger alert when there is no data for source."
**What happened**:
Alert did not trigger.
**What you expected to happen**:
It should have triggered atleast a alert even though it might not clear.

**How to reproduce it (as minimally and precisely as possible)**:
`Failing alert query => cassandra_cache_hitrate{job=~".*cassandra"}`
vs
`Successful alert query => cassandra_cache_hitrate {job=~".*cassandra",host="node1"}
`
The difference between the

[2019-10-14 21:21] jan25 commented on #19768
I'll give this a shot if no ones already working on it

[2019-10-14 22:05] ukkathva commented on #19791
Update fixed the issue  💯  , Thanks for the Swift response,

[2019-10-14 23:33] levilovelock commented on #18337
Also experiencing this. From what I've seen the `id` has some sort of a hash added to it based on the value of the variable in the dimension.

[2019-10-15 02:19] wqtty commented on #870
so many +1s....
+1

[2019-10-15 03:09] MFullStack commented on #448
+1 for translate to chinese

[2019-10-15 03:10] noomtw commented on #19735
how to do that ?

[2019-10-15 05:34] zimmertr commented on #19583
Also happening to me.

[2019-10-15 06:25] rguptarg commented on #19801
startdate (int, seconds) =1544467481i.

[2019-10-15 07:52] marcusolsson opened #19810 "Add Unix spelling to docs style guide"
**What would you like to be added**:

Add **Unix** as the preferred spelling (as opposed to UNIX, or unix) when referring to the family of operating systems, to the [documentation style guide](https://github.com/grafana/grafana/blob/master/contribute/style-guides/documentation-style-guide.md).

**Why is this needed**:

To ensure consistent spelling.

[2019-10-15 07:58] laundmo opened #19811 "plugin not found when using auth proxy"
**What happened**:
When using Auth Proxy with HTTP basic auth, grafana fails to load plugins that are avaliabe when accessing grafana without the auth proxy.

**What you expected to happen**:
Plugins should be avaliable with any authentication method.

**How to reproduce it (as minimally and precisely as possible)**:
1. Set up auth proxy according to https://grafana.com/docs/auth/auth-proxy/
2. In

[2019-10-15 08:32] edwinsc commented on #19574
As seen in my previous comment https://github.com/grafana/grafana/issues/19574#issuecomment-540577474, I tried to use the parameters as supported by pq library. They are also the same ones supported by psql, as I suggested in my initial comment.

The YAML for a postgres datasource would include:
[code]

psql command:
[code]

It seems to be necessary to edit the YAML parser to get these additional

[2019-10-15 08:36] papagian commented on #19811
I'm unable to reproduce it with nginx and the clock panel.
Which auth proxy do you use? Could you share the configuration?
Thank you

[2019-10-15 08:49] marefr commented on #19806
Please change your dashboard time range to last 5 minutes (given `query (D, 5m, now`) and use the query inspector for the Query D and include request and response here.

[2019-10-15 09:12] Estrax opened #19813 "Explore: ResponsiveButton does not forward a ref properly."
**What happened**:

ResponsiveButton does not forward a ref properly that causes a ref error. Missed to push an updated file last time.

**What you expected to happen**:

No ref errors.

[2019-10-15 09:12] woot365 commented on #6778
+1

[2019-10-15 09:14] EugeneKrapivin opened #19814 "Explore doesn't work as expected with ElasticSearch"
**What happened**:
Explore doesn't work with Elasticsearch. when trying you use explore I'm getting
[code]
This issue might be connected to the fact we are using ES with cluster search, hence we do not have mappings.
Another issue that might be related, when creating/saving an ES datasource I would get an error that there is no timestamp field but the source is still working (sans auto-completion

[2019-10-15 09:23] marefr commented on #19574
For us to approve a PR solving #14455 we expect to be able to configure this in UI and in provisioning.
![image](https://user-images.githubusercontent.com/1668778/66817992-eaed3080-ef3c-11e9-94eb-ec2dba384cd1.png)

Backend wise the following code needs to be changed:
https://github.com/grafana/grafana/blob/b848276fb828f650b11d2a554ead23b5292c9fa7/pkg/tsdb/postgres/postgres.go#L45-L55

Frontend wis

[2019-10-15 09:44] #19810 closed

[2019-10-15 09:57] marcusolsson opened #19816 "Chore: Move cmd to root directory"
**What would you like to be added**:

The `pkg` is normally reserved for libraries as opposed to applications. The `cmd` should be moved from `pkg` to the root directory.

[Project Layout](https://github.com/golang-standards/project-layout)

**Why is this needed**:

We want to make it as easy as possible to navigate the repository. Having `cmd` in `pkg` goes against common practices in the Go comm

[2019-10-15 09:59] Q-nu opened #19817 "No cross button to remove Functions in Queries"
**What happened**:
Further update of Grafana, I noted that the cross button to remove functions in queries is not available. I cannot remove the functions... It's annoying...

**What you expected to happen**:
I expect that it woks as before :)

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
![2019-10-15 11-44-11](https://user-images.githubuse

[2019-10-15 10:50] papagian commented on #19817
This issue is fixed [here](https://github.com/alexanderzobnin/grafana-zabbix/issues/810) and it will be included in the next version of the Zabbix plugin.

[2019-10-15 10:51] #19817 closed

[2019-10-15 10:57] renukuntaharish commented on #5045
Is there any alternative for altering sum of metric count?

[2019-10-15 11:04] papagian commented on #19814
There was a similar [issue](https://github.com/grafana/grafana/issues/17011) and it was fixed by selecting the right version in the datasource definition.
Please can you verify that you have selected `6.0+` as Elasticsearch version?

[2019-10-15 11:24] rguptarg commented on #19801
x509_cert,IP=10.3.168.103,application_name=UNOC_Mycom,common_name=prod-master04.shift.enoc-airtel.com,host=prod-master04.shift.enoc-airtel.com,source=/etc/etcd/peer.crt age=26671077i,enddate=1702147481i,expiry=131008922i,startdate=1544467481i 1571138559000000000

[2019-10-15 12:05] dprokop commented on #19617
@krishna217 the problem you have encountered is related to the fact that you don't have git config's user.name set. I have fixed that in https://github.com/grafana/grafana/pull/19821

[2019-10-15 12:06] #19617 closed

[2019-10-15 12:19] valentinrueeck commented on #19583
Also happening on windows server 2012 r2 with grafana 6.4.2, while trying to create a new Dashboard, new Panel and add a Query to this Panel. Datasource is Prometheus

[2019-10-15 12:45] EugeneKrapivin commented on #19814
@papagian yes I can confirm that the ES datasources are configure with version 6.0+
If you'd like i could submit a screenshot of the configuration

[2019-10-15 12:56] #19752 closed

[2019-10-15 13:08] #19772 closed

[2019-10-15 13:21] laundmo commented on #19811
@papagian following is the relevant apache config, domains/ips have been redacted/changed.

[code]

i hope this helps

[2019-10-15 13:50] genebean opened #19824 "Grafana doesn't scroll when using Firefox's full-page screenshot tool"
**What happened**:

While taking screenshots of dashboards using the builtin screenshot tool in Firefox I found that the "save full page" function was not able to scroll the Grafana web interface like it does on other pages which leads to not being able to get a single screenshot of an entire dashboard.

**What you expected to happen**:

I expect that the Grafana web interface will be scrollable b

[2019-10-15 14:07] dpavlos commented on #6520
Hi @torkelo ,  I see the same behaviour in v6.4.2 no matter whether the `Export for sharing externally` option is enabled or not.

[2019-10-15 14:17] cyriltovena opened #19826 "Loki template variable query not working"
**What happened**:

When using a Loki datasource for a template variable query I'm getting an error.

eg: `label_names()` or `label_values(level)`.

**What you expected to happen**:

Loki support label names and values queries so we should be able to support Loki datasource for template variable query.

see :
- https://github.com/grafana/loki/blob/master/docs/api.md#get-lokiapiv1label
- https://gi

[2019-10-15 14:17] rguptarg commented on #19801
issue is resolved by multiplied by 1000

"startdate" *1000

[2019-10-15 14:19] aocenas commented on #19826
`metricFindQuery` is [optional method](https://github.com/grafana/grafana/blob/bbf2bd18fd44b2f09a8a5e730b2145aa72fdcd01/packages/grafana-ui/src/types/datasource.ts#L223) that is not implemented for Loki yet.

[2019-10-15 14:44] torkelo commented on #6520
make sure you set "Refresh on dashboard load" in the template variable options

[2019-10-15 15:02] sylr opened #19827 "stack by sign"
**Why is this needed**:

I'm graphing deltas of memory used over a given period of time which results on having positive or negative values.

As it's a volume I choose to display it with bars and stack it.

Unfortunately when there are negative values the stacking produces unexpected results.

<img width="1656" alt="k8s-pods-2-thanos_-_Grafana" src="https://user-images.githubusercontent.com/153052

[2019-10-15 15:03] adivinho opened #19828 "FR: using a timeshift override for custom absolute time ranges"
**What would you like to be added**:

Allow using the panel relative time override for a custom absolute time range.
Now it's working with relative time ranges only.

![Screenshot_20191015_175745](https://user-images.githubusercontent.com/25184101/66843360-55ba5e00-ef75-11e9-8bf8-a74d2e76c14c.png)

**Why is this needed**:
It would allow to analyze a period smaller than what is set for a dashboard.

[2019-10-15 15:34] filippog commented on #19477
@hugohaggmark @torkelo thanks for taking a look! Confirmed I can replicate this on 6.4.2 too (with chrome 77 at least). I'm able to minimally reproduce with these steps:

* `docker run --network host grafana/grafana:6.4.2`
* login as admin, create a new dashboard an add a graph panel
* scroll down to data links and add one, title/url can be arbitratry
* click on "A-series" in the graph to preview

[2019-10-15 15:46] kylebrandt commented on #19770
I haven't done a trace, but I would guess that we eventually hit `guessFieldTypeFromValue`. `"NaN"` is a string, so the [`NUMBER` regex in `dataframe/processDataFrame.ts`](https://github.com/grafana/grafana/blob/0ad2242fb89ee74e31430dd541871f02d5f39275/packages/grafana-data/src/dataframe/processDataFrame.ts#L159) `/^\s*-?(\d*\.?\d+|\d+\.?\d*)(e[-+]?\d+)?\s*$/i` is used which doesn't match match `N

[2019-10-15 15:49] karlism commented on #13399
Run into similar issue while trying to install HA Grafana setup with PostgreSQL database, with second Grafana instance having replicated PostgreSQL database as it's primary DB (read only access is fine for us on backup Grafana node). Grafana server dies with following error upon startup:
[code]

[code]

Grafana remote cache type is set to `memcached`.

[2019-10-15 16:08] Lennac opened #19831 "Snapshots API does not keep data regardless of expires parameter"
On my Grafana dashboard  all data is stored and remains viewable for 7 days unless a Snapshot of the time frame is created via the Share Dashboard and Snapshot tool. The hope was to create a script that automatically creates snapshots using the API instead. However, they still "expire" after 7 days. Rather, the snapshot URL still works, but the graphs are now empty as the data is no longer there.

[2019-10-15 18:07] alexanderilyin commented on #16539
This is required when using MySQL 8.0 as Data Source.

[2019-10-15 19:20] patricktokeeffe commented on #19193
This workaround requires users to have domain-specific knowledge when deciding what small range constitutes 'zero'.

A 'not equal to" can be achieved using two rules (min is below or max is above), but it is not possible to get a true "equal to" condition. One solution might be:

* change `IS WITHIN RANGE` to inclusive
* but keep `IS OUTSIDE RANGE` exclusive

I think that's more semantically appro

[2019-10-15 19:23] Bots4You-Heimel commented on #12019
+1

[2019-10-15 19:34] dpavlos commented on #6520
@torkelo I think I found the culprit. If the dashboard consists of panels in multiple rows you have to collapse all the rows first and then try to export it. Otherwise, the variables as well as the repeated panels aren't cleaned up properly.

[2019-10-15 19:50] shanson7 commented on #16961
Interestingly, If the `/functions` query fails, then the function autocomplete sticks a sentinel `tags` value in that allows it to work. Only when the `/functions` query works does the function autocomplete seem to make this unclickable

[2019-10-15 19:53] maxlehot1234 commented on #19213
@ryantxu I send you a message on Slack last week. No idea if we can add other people to it so I can screenshare to everyone at the same time ;)

[2019-10-15 19:57] sunisa-j commented on #3608
I suggest to edit Panel JSON.
<img width="671" alt="Screenshot 2019-10-16 02 48 02" src="https://user-images.githubusercontent.com/6669455/66864846-47ddfa80-efc0-11e9-9e39-9750ac6d3b37.png">

You can add a lot of colors as you want according to thresholds setting in options tab.
<img width="878" alt="Screenshot 2019-10-16 02 48 35" src="https://user-images.githubusercontent.com/6669455/66864890-5f

[2019-10-15 19:59] ryantxu commented on #3608
Or just use the gauge panel!

[2019-10-15 20:12] cjtravis commented on #19032
Looking forward to a resolution on this soon!  Eager to use Grafana to surface metrics from our AWS MSK instance!

[2019-10-15 20:25] xc43 opened #19840 "Invalid command: core:start"
**What happened**:
Ran
`yarn start`

Obtained
`
yarn run v1.19.1
$ grafana-toolkit core:start --watchTheme
Invalid command: core:start
See --help for a list of available commands.
error Command failed with exit code 1.
info Visit https://yarnpkg.com/en/docs/cli/run for documentation about this command.
`

**What you expected to happen**:
Frontend to build.

**How to reproduce it (as minimally and

[2019-10-15 20:51] fredwangwang opened #19841 "grafana/toolkit: Allow to strip console.log when building"
**What would you like to be added**:
when building the final plugin artifact, I can run `yarn build --strip-console` (or something like that) to strip out the console log statements.

**Why is this needed**:
It is good to have console log during dev time so more insights about what is happening, but in production extraneous log pollute the console. I want to keep my console log statements in the c

[2019-10-15 21:21] peteeckel opened #19842 "Certificate trust issue with headless Chrome in grafana-image-renderer plugin"
I'm facing a problem with rendering graphs using the new grafana-image-renderer plugin.

When I try to render a graph, I get an error message along the lines of the following in the Grafana logfile:

[code]

This seems to be a result of headless chrome not accepting the CA the certificate running on the physical server has been signed with.

Environment:
* CentOS 7.6
* Grafana 6.4.2
* Grafana Imag

[2019-10-15 23:28] mpatel-cpi commented on #3250
+ 💯

This will be super useful since right now we have a lot of panels and having consistent coloring will enable correlating them visually.

[2019-10-16 02:39] pythonwood commented on #18208
thanks this issue.  I got this error if both nginx gzip and grafana gzip enable.
so doc should take care about it.

[2019-10-16 02:53] Sarke commented on #17561
Do not use that plugin with 2.0, as it is not supported.  CPU will spike and crash the InfluxDB server.

[2019-10-16 05:31] swethapaneet opened #19843 "HI, is there is any way to access the environment variables stored datasource.yaml to my config_ctrl.ts file"
**Steps to reproduce**:

**Actual Result**:

**Expected Result**

**Relevant WCAG Criteria:** [#.#.# WCAG Criterion](link to https://www.w3.org/WAI/WCAG21/quickref/?versions=2.0)

**Environment**:
- Grafana version:
- Data source type & version:
- User OS & Browser:
- Others:

[2019-10-16 06:23] FStefanni opened #19844 "Missing Grafana oauth cookie"
**What happened**:

Deal all,

I have a strange behavior with Grafana and oauth (Keycloak), similar to other questions seen around. I have also posted to the forum, but I got no answer.

I have managed successfully to configure Grafana with oauth for Keycloak.
So when I try to access Grafana directly, it redirects me to Keycloak login, and after login, I am redirected correctly to Grafana.
During

[2019-10-16 06:34] dprokop commented on #19840
@xc43 you should not install grafana-toolkit from npm in case of running Grafana, as it's a part of Grafana repository, and that version should be used when starting Grafana locally. The version published to the NPM repository has only plugin related tasks available, hence the error you are encountering.

Can you try do the following:
- Uninstall grafana-toolkit that you have installed from npm
-

[2019-10-16 06:51] ajnurjukan opened #19845 "Shows two times text query when adding annotations"
**What happened**:

When I open annotations on dashboard settings and then change simple json datasource it shows two times text query. You will understand everyhing, just look at the ss attached.
![Screenshot from 2019-10-16 08-40-32](https://user-images.githubusercontent.com/37128135/66895028-2269e480-eff2-11e9-8fcf-da7833ad9c71.png)

Environment:

Grafana version: 6.3.5
Data source type & versi

[2019-10-16 07:04] dprokop commented on #17819
@torkelo yup, closing this one. Other toolkit tasks are tracked in separate issues.

[2019-10-16 07:04] #17819 closed

[2019-10-16 07:25] Mengsen61 commented on #8171
+1

[2019-10-16 07:48] aknuds1 opened #19846 "Handle multiple Grafana plugin versions installed concurrently"
**What happened**:
According to [this comment](https://github.com/grafana/grafana/pull/19715#issuecomment-542544005), Grafana is now broken in the case of having multiple plugin versions installed concurrently. For example when you have the Azure monitor plugin before upgrading Grafana which bundles the Azure monitor.

**What you expected to happen**:
That multiple plugin versions can be installed

[2019-10-16 07:49] ocherfas opened #19847 "Chrome warning on SameSite attribute"
**What happened**:
We embed grafana UI in our own app and configure grafana instance with oauth authentication.
To enable such embedding, we configure the grafana instance with:
########
[security]
cookie_samesite = none
##########

While doing so, chrome issues a warning:
A cookie associated with a cross-site resource at <URL> was set without the `SameSite` attribute. A future release of Chrome w

[2019-10-16 07:49] papagian commented on #19814
Thank you for your reply!
I'm unable to reproduce it, could you please share the request and response from your browser's Network tab when you try to save the datasource and get the error.

[2019-10-16 07:55] #19768 closed

[2019-10-16 07:59] Anonymous-Coward opened #19848 "Make it possible to provision users"
**What would you like to be added**:

Add a possibility to provision orgs and users with passwords and permissions, not just the super-admin, via configuration.

**Why is this needed**:

In this deployment context:
- grafana deployed from a continuous integration pipeline
- grafana setup spanning multiple organizations
- grafana deployed behind an authentication/authorization proxy

It is labor in

[2019-10-16 08:23] marefr commented on #19842
Have you installed the grafana-image-renderer as a [plugin](https://grafana.com/docs/administration/image_rendering/#grafana-image-renderer-plugin) or as a [remote rendering service](https://grafana.com/docs/administration/image_rendering/#remote-rendering-service)? Please include your Grafana configuration (strip out any sensitive information) and explain what public address (load balancer) is th

[2019-10-16 08:27] marefr commented on #19843
Please ask questions on our [community site](https://community.grafana.com/). Github are mainly for feature requests and bug reports.

[2019-10-16 08:27] #19843 closed

[2019-10-16 08:30] marefr commented on #19844
Closing this since it's a question and Github are mainly for feature requests and bug reports.

[2019-10-16 08:30] #19844 closed

[2019-10-16 08:33] marefr commented on #19840
Probably need to checkout the grafana git repository to be able to build from source?

[2019-10-16 08:36] Anonymous-Coward commented on #12119
Not quite. The (IME) typical depoyment in k8s is via prometheus-operator. That deploys once per cluster, with a single grafana pod, and is not really friendly to customize to that level of detail as to add multiple grafanas, and have them preconfigured per org. But you may very well want to have multiple orgs in a cluster.

[2019-10-16 08:55] marefr commented on #19666
Decided to keep the sdk in separate repo for now due to go modules problems.

[2019-10-16 08:55] #19666 closed

[2019-10-16 09:10] peteeckel commented on #19842
* The renderer is installed locally as a plugin on both Grafana servers.

* The configuration of the servers is as follows:

[code]

The configuration of the other server is essentially the same apart from instance_name and http_addr:

[code]

The HA setup is as according to the following schematic:

![Grafana HA](https://user-images.githubusercontent.com/6815386/66904785-f9068400-f004-11e9-86d8-e

[2019-10-16 09:16] marefr commented on #19847
Thanks for the detailed report. The solution to this change in Chrome and the Safari bug is probably #18456 so I'll close this. Will add a reference back to this issue.

[2019-10-16 09:20] marefr commented on #18456
Chrome version 80 will only deliver cookies with cross-site requests if they are set with SameSite=None and Secure SameSite cookie attribute, see #19847 for detailed report of the problem.

[2019-10-16 09:22] victorclaessen commented on #11559
So in this location I see that the function decimalSIPrefix is referenced.

https://github.com/grafana/grafana/blob/ec6d69f468db48efb322059858e21c563301094a/packages/grafana-ui/src/utils/valueFormats/categories.ts#L267

I find the definition for this function here:

https://github.com/grafana/grafana/blob/b05afd7e4e57811149505d4b35c2ae4f9e59aab5/packages/grafana-ui/src/utils/valueFormats/symbolFor

[2019-10-16 09:25] marefr commented on #19847
In second thought, reopening this since there may be more issues related to this if you have cookie secure enabled and samesite none configured.

[2019-10-16 09:45] ajnurjukan opened #19852 "Text duplicates when adding annotations after changing datasource"
*What happened**:
When I change datasource from grafana to simple json datasource text query appears two times.
![Screenshot from 2019-10-16 08-40-32](https://user-images.githubusercontent.com/37128135/66907867-581ac780-f00a-11e9-8722-4f3b830a470a.png)

**What you expected to happen**:
It should show text query only one time.

Grafana version: 6.4.2
Data source type & version: Simple JSON datasour

[2019-10-16 09:54] jeremie-H commented on #1381
+1
We should at least reopen this issue. It's not fixed. more than 4 years ago :'(
poke @torkelo

[2019-10-16 09:54] jeanduporte opened #19853 "Add a custom unit directly in the unit section?"
Hello,

I use Grafana to display some chemicals data (conductivity, flow, etc.) and I thought it would be nice to have some more units, for example, the conductivity is in µS/cm or the flow in m³/h.

Instead of asking each time to add a unit, it would be nice to write directly to the unit section (see the picture in the attachment). I know that possible to write a prefix for some panels (Graph for