[2022-08-24 18:48] #54048 closed

[2022-08-24 19:02] leandro-deveikis commented on #53708
Thanks @simPod for the report. I have created a PR https://github.com/grafana/grafana/pull/54181 which fixes the issue. It will be merged in the next few days.

[2022-08-24 19:06] btasker commented on #42980
@gtk-grafana - not sure that the meaning of quotes has changed in InfluxQL (at least not in a meaningful time frame).

Single quote (`'`) delimits a string ([in v0.9](https://archive.docs.influxdata.com/influxdb/v0.9/query_language/spec/#strings) and ) and [in 1.8](https://docs.influxdata.com/influxdb/v1.8/query_language/spec/#strings)), whilst double quote (`"`) indicates a reference to a column/

[2022-08-24 19:35] onehivesystems opened #54182 "Add Custom Color Saver"
Been using Grafana for a few years now. I have some specific colors that pop well on monitors for status dashboards, but I have to store the RGB values in a text document, then copy and paste them in the custom selector each time I want to use them. I was wondering if it would be possible to have some kind of custom color storage when the color selector appears.

Since the color selector already h

[2022-08-24 19:39] timagixe commented on #54173
Hello @JoaoSilvaGrafana, can I help with this task? Could you please assign it to me? Thanks.

[2022-08-24 19:56] #53708 closed

[2022-08-24 20:21] gtk-grafana commented on #42980
@btasker Thanks for the context. We can assume that numeric tags can always be quoted, at least for modern versions of influx, however it looks like in versions before 0.1, values were required to be quoted, which was changed in 0.1 where they needed to be unquoted, and then 0.13 they required quotes again, at least according to the [original thread](https://github.com/grafana/grafana/issues/4163)

[2022-08-24 20:24] #51596 closed

[2022-08-24 21:05] 09jvilla opened #54188 "inspector / json tab crashes if the data is too large"
when you use the [inspector] / [json] option, and the data is too large, the whole webpage crashes, because an exception is thrown at https://github.com/grafana/grafana/blob/main/public/app/features/inspector/InspectJSONTab.tsx#L212

the exception is "RangeError: Invalid string length"

from searching on the internet, this error-message happens when the object-to-convert-to-json is simply too larg

[2022-08-24 21:12] timlevett opened #54189 "Public Dashboards: Zooming in doesn't work for all panels"
**What happened**:

See https://github.com/grafana/grafana/discussions/49253?sort=old#discussioncomment-3467176 for more details on this one, but basically when you zoom in on a public dashboard the time series panels update but the gauges do not.

**What you expected to happen**:

Gauges would requery

**How to reproduce it (as minimally and precisely as possible)**:

+ Create a dashboard with ti

[2022-08-24 21:19] codeincarnate commented on #54129
Thanks for this report @baur! For the main portion of this the "Merge equal consecutive values" option needs to be enabled to show the time duration together otherwise they're considered to be separate segments and so will show the time duration between each event (like you reported).

I was unable to reproduce the issue with value mapping, see below on 9.1.1:

https://user-images.githubuserconten

[2022-08-24 21:23] codeincarnate opened #54190 "State Timeline: Setting Tooltip to Hidden Doesn't Hide Tooltip"
**What happened**:

Reported in #54129, when setting tooltip configuration option to hidden on the state timeline the tooltip still shows.

**What you expected to happen**:

Tooltip shouldn't show in this situation.

**Environment**:
- Grafana version: 9.1.1
- Data source type & version: N/A
- OS Grafana is installed on: MacOS
- User OS & Browser: Chrome
- Grafana plugins: N/A
- Others:

[2022-08-24 22:40] codeincarnate opened #54192 "Update XY Chart to bring status from Alpha to Beta"
We're prepping to get the XY Chart (scatter plot) ready for a beta release. Tracking tasks here and will expand as further work is done.

- [x] Fix prepScatter issue on no data
- [x] Set default mode
- [x] Update mode names
- [x] Toggling between XY/Explicit adds redundant form elements
- [ ] Switch to mode 2 rendering in uPlot to allow for unordered data
- [x] Determine what should be done on zoo

[2022-08-25 01:31] nereus-east opened #54193 "Template function not available in alerting annotations"
### Background
I want use the [reReplaceAll](https://grafana.com/docs/grafana/latest/alerting/fundamentals/annotation-label/template-functions/#rereplaceall) in alerting annotation
Because I have a timestamp in scientific notation, be used for part of URL.

### Example:

-     timestamp: 1.6613856e+12
-     URL: http://myhost?param=1.6613856e**%2B**12

As you see, I need escape "+" to "%2B"
So tha

[2022-08-25 02:04] we684123 commented on #32252
hi there  ฅ(＾・ω・＾ฅ)

if you Grafana is run in docker, and u data source is outside docker container
just change url http://localhost:8086 → http://host.docker.internal:8086

because
https://docs.docker.com/desktop/networking/#i-want-to-connect-from-a-container-to-a-service-on-the-host

![2022-08-25 09_59_39-Settings - InfluxDB - Grafana — Mozilla Firefox](https://user-images.githubusercontent.com/

[2022-08-25 02:07] nereus-east commented on #54193
Or has some way for convert scientific notation to normal number?

[2022-08-25 02:57] tmyhu commented on #52915
@itsmylife , thanks for your reply. The datasource was already configured for `POST`, same as in your screenshot. But I took the opportunity to retest this in the latest version 9.1.1 and the issue appears to be gone now.

[2022-08-25 02:57] #52915 closed

[2022-08-25 03:18] baur commented on #54129
![state-timeline-duration-error-3](https://user-images.githubusercontent.com/2898361/186566675-fe1e280c-ff45-41de-b6e5-890d66c5e273.gif)

[2022-08-25 04:38] rohit-innodeed commented on #54130
Thanks for the information @gelicia.

[2022-08-25 06:40] dipeshtripathi commented on #11750
+1 for Webex teams Webhook!

[2022-08-25 07:04] itsmylife commented on #52915
🎉 🎉
Thanks for your input. I am happy that the issue resolved. I suspected SSL Certificates (expired/missing/etc) too. If it will come up again (I hope it won't) feel free to reach out.

[2022-08-25 07:07] #54113 closed

[2022-08-25 07:26] gabor commented on #53957
we will switch to usin the `interval_ms` for elasticsearch, because:
1. the `5y` format is not readable by elasticsearch anyway
2. this will make it the same as prom/loki
3. while technically a backward-incompatible change, it only produces a different results when the min-interval affects the result, and even then, the `interval_ms` behavior is more correct than the `interval` behavior.

[2022-08-25 07:27] gabor commented on #53956
it seems the difference only happens when min-interval happens, and the current behavior seems better than the alternative, so i'll close this issue.

[2022-08-25 07:27] #53956 closed

[2022-08-25 07:29] #51381 closed

[2022-08-25 07:29] gabor commented on #51381
hi @jlaudenbach , it's fixed now, will be available in grafana 9.2.0

[2022-08-25 07:38] #50233 closed

[2022-08-25 07:51] gabor commented on #53957
this will be solved by https://github.com/grafana/grafana/pull/54202 and https://github.com/grafana/grafana/pull/54157 , closing this issue.

[2022-08-25 07:51] #53957 closed

[2022-08-25 07:56] #46093 closed

[2022-08-25 08:18] ashharrison90 commented on #54048
no problem @jphx , glad we got to the bottom of it 👍

it's an area we're actively working on so please continue to keep an eye out for bugs and raise them whenever you see any, we really appreciate it! 🙌

[2022-08-25 08:19] glintik commented on #54096
Hi @erkexzcx,

Could you please show what query caused deadlock?
You can get the latest deadlock by executing in mysql:
`SHOW ENGINE INNODB STATUS;`

or you can enable mysqld config value https://dev.mysql.com/doc/refman/8.0/en/innodb-parameters.html#sysvar_innodb_print_all_deadlocks to print all deadlock info to error log.

[2022-08-25 08:20] anthosz commented on #54131
Finally, only "Alert rules" can be modified/removed right now.

Contact points/notifications policies/message template/silences are always in read only mode.

And cannot create a new group in dashboard.

[2022-08-25 08:23] ifrost commented on #34855
Query history uses only the query itself to create query description, not the results of the query. We'll take this scenario into account when working on improvements for query history in https://github.com/grafana/grafana/issues/26192. I'm closing this issue for now but feel free to continue the discussion in https://github.com/grafana/grafana/issues/26192.

[2022-08-25 08:23] #34855 closed

[2022-08-25 08:38] aocenas commented on #51323
@Elfo404 is this data from the correlations page already going to be used for the data links somehow?

[2022-08-25 08:55] Abuu001 commented on #15546
+1

[2022-08-25 08:57] dprokop commented on #53861
@astrocaribe thank you for opening the issue. I think the problem is that your variable is hidden and the actual option selected is the first one by default. If you make the variable visible and select more than one option or All, it will work as expected.

[2022-08-25 08:57] #53861 closed

[2022-08-25 09:04] hasnainnaseem2 commented on #36929
If you are using nginx proxy to serve grafana then you can use below configuration to solve web socket issue.

http {
    map $http_upgrade $connection_upgrade {
        default upgrade;
        '' close;
    }

    upstream grafana {
        server 127.0.0.1:3000;
    }

    server {
        listen 8000;

        location / {
            proxy_http_version 1.1;
            proxy_set_header Upgrad

[2022-08-25 09:10] JoaoSilvaGrafana opened #54210 "Add controls to `Label` story"
Add support for [controls](https://storybook.js.org/docs/react/essentials/controls) for the various props in a story.

[2022-08-25 09:11] gabor commented on #51381
hi @jlaudenbach sorry, no, this is a change in functionality technically, so we are only doing it in the next major-version release (9.2.0)

[2022-08-25 09:36] #54131 closed

[2022-08-25 09:39] armandgrillet commented on #51575
@santihernandezc Any thoughts on this? This loosely regards https://github.com/grafana/grafana/issues/48943

[2022-08-25 09:41] armandgrillet commented on #51528
This should be fixed since 9.1, thanks for the contribution!

[2022-08-25 09:41] #51528 closed

[2022-08-25 09:41] phmayer commented on #38827
I dont have that issue on 9.1.1, have you considered maybe trying to upgrade?
(although i have to say, i have not had the issue ever since it was fixed in the PR above)

[2022-08-25 09:46] Rohlik opened #54213 "Datasource mode `server` is not used for all queries"
**What happened**:
Our remote Prometheus is running in AWS EKS (k8s cluster maintained by AWS) and we restrict access to that datasource to just Grafana server IP address.
Datasource is configured to use `server` access mode.
But it seems that some queries to Prometheus are send from client (`browser`) instead of `server` based on this error:
![image](https://user-images.githubusercontent.com/2051

[2022-08-25 09:55] Bujupah opened #54214 "Fix & migrate user_id column type to bigint"
**What happened**:
After migrating to Grafana 9.x  - there was a new table added for query history "query_history_star" and now this is causing an issue when adding/deleting a record from/into it.

**Observation**:
The user_id there is of type INTEGER, but the real user id is of type BIGINT and this causing one sql error.
```value is out of range for type integer = (MISSING)```

**Environment**:
-

[2022-08-25 09:56] vesemmat commented on #53341
I think I have the same issue as described here https://stackoverflow.com/questions/58729080/how-to-reset-alerting-state-in-grafana

[2022-08-25 10:04] jlaudenbach commented on #51381
Ah, OK.
But isn't it more an error, since it worked on Grafana version 6.4 but not in Grafana Version 8.

[2022-08-25 10:11] NosIreland opened #54216 "Y axis is repeating values when decimals set to 0"
**What happened**: When using Time series panel and setting Decimals to 0, the axis is repeating values on Y axis, like 0,0,0,1,1,1,1,2,2,2. See examples attached
![image](https://user-images.githubusercontent.com/19308746/186634138-9b96c97a-a6b2-42df-ab65-9713cbc94757.png)
![image](https://user-images.githubusercontent.com/19308746/186634636-e192b73c-94df-4602-9ce5-bbc530551e88.png)
![image](http

[2022-08-25 10:21] gabor commented on #51381
i'm sorry @jlaudenbach , i understand it would be useful for you to have this in grafana8, but even if we consider this a bugfix, we don't backport non-security bugfixes so far back (considering since then both grafana9.0 and grafana9.1 has been released).

[2022-08-25 10:30] jlaudenbach commented on #51381
To consider only security bug-fixes sounds reasonable for me.
Thank you again for your support.

[2022-08-25 10:50] #53934 closed

[2022-08-25 11:11] #53967 closed

[2022-08-25 11:17] gabor commented on #53089
hi @Pyttei , based on the elasticsearch-response you provided, to me it seems elasticsearch is saying: `["test failed", 1]`.
so Grafana is correctly displaying what elasticsearch returned.

the query you are sending to elasticsearch is:
- take all the documents, group them by the value of the field `failure.keyword`, and count every group

and elasticsearch is reporting that there is a single docu

[2022-08-25 11:41] gabor commented on #54188
i was able to reproduce it with public info too:

1. `make devenv sources=loki` ... this will load around 300log-lines into loki automatically
2. `node devenv/docker/blocks/loki/data/data.js http://localhost:3100` ... this load 300 more
3. repeat [2] until you have 3000 log-lines in Loki (you can adjust the script to sleep less for this to go faster)
4. run the loki query in grafana explore: `{sou

[2022-08-25 11:59] dragoangel commented on #53294
@g-chcht I have same issue with provisioning of alerting where I want to mount one configmap to alerting folder that contain many files directly. Grafana not like that this files `..timestamp` exist and failing, e.g.: https://stackoverflow.com/questions/62776362/k8s-configmap-mounted-inside-symbolic-link-to-data-directory

[2022-08-25 12:22] dprokop commented on #51189
I can confirm this is reproducible in the current version. I've tracked this down to RBAC checking permissions for snapshot dashboard over here: https://github.com/grafana/grafana/blob/main/pkg/api/dashboard_snapshot.go#L329. Since the dashboard ID 0 cannot be loaded here https://github.com/grafana/grafana/blob/main/pkg/services/guardian/accesscontrol_guardian.go#L72 (errors with `Unique identifie

[2022-08-25 12:42] JoaoSilvaGrafana opened #54221 "Add controls to `ContextMenu` story"
Add support for [controls](https://storybook.js.org/docs/react/essentials/controls) for the various props in a story.

[2022-08-25 12:52] JoaoSilvaGrafana opened #54222 "Add controls to `DatePickerWithInput` story"
Add support for [controls](https://storybook.js.org/docs/react/essentials/controls) for the various props in a story.

[2022-08-25 12:55] adrapereira opened #54224 "Tempo: TraceQL Options component"
To fully support the upcoming TraceQL API we need more than just the query field. The outcome of this task should be a new Options component under the TraceQL query field that will contain a single option for now, the `limit`.

The `limit` input should update the `limit` field of the `TempoQuery` object.

Here's a screenshot of an Options component on the Prometheus datasource:

![Image](https://u

[2022-08-25 12:58] #53970 closed

[2022-08-25 13:03] nrwiersma commented on #51783
I was just looking for a feature in JWT that operated like `role_attribute_path` in OAuth Generic. I would be happy to put together a PR for this if it is along the lines if what you were thinking?

[2022-08-25 13:04] lzago opened #54225 "Templating alerting title opsgenie message"
I am trying to create a template for the message in the opsgenie contact point.
But i always get an error, related to the data entities resolution. It doesn't work with any documented entity.
It works only with a static message.
The templating of the message description it works as expended

**What happened**: when i try to use a template in the Message textbox i got an error 422 Unprocessable Ent

[2022-08-25 13:07] adrapereira opened #54226 "Tempo: TraceQL mocked API response"
While the tempo team works on the API that will handle TraceQL queries we should build a mocked API response to make progress on our part of the visualisation work.

The API agreement is in the TraceQL Implementation Design Doc and it should be referenced to build a mocked API response in the form of a JSON file. Once the user runs a query we skip the query call and load the file to return the dat

[2022-08-25 13:09] jackw opened #54227 "Plugins: Navigating from one app page to another doesn't work"
Navigation between app plugins doesn't work as intended. See video below:

https://user-images.githubusercontent.com/73201/186674934-1adbeaad-fc5b-474c-9ada-768c777d8978.mp4

[2022-08-25 13:17] matyax opened #54228 "Loki: Datasource settings form validation"
In https://github.com/grafana/grafana/issues/31024 it was requested to add validation to one of the required fields of the datasource settings.

While we can add validation for that particular field, it makes more sense to define and support for validation of all the required fields in the settings page.

Open questions:

    Should we validate the rest of the fields? At least that they are not em

[2022-08-25 13:20] matyax commented on #31024
Right now we can't proceed with these changs until https://github.com/grafana/grafana/issues/54228

[2022-08-25 13:29] Jojoooo1 opened #54230 "TimeSeries average is now taking into account 0 value, which false the mean"
**What happened**:
After upgrading to Grafana 9.1 time series mean is now being calculate using 0 value which totally false the mean in case of few value in the graph. For example when using mean of request duration the mean is being falsely low.

Before:

![Screenshot from 2022-08-25 10-25-59](https://user-images.githubusercontent.com/17641873/186677023-9558d2b9-2e1b-445f-9cfc-bea9cb83dcb1.png)

[2022-08-25 14:02] mdvictor commented on #54192
Additionally, I would say tooltip and legend options being functional, alongside custom options that currently don't work (e.g: point size)

[2022-08-25 14:03] gabor commented on #54188
maybe a potential solution: we could check the size of the data-to-be-jsonified, and if it's too large we just show a message like "sorry, too large". so that at least the whole page does not crash.

[2022-08-25 14:14] g-chcht commented on #53294
Using `subPath` is what we ended up to also @dragoangel
Though, it is still a bug imo, mainly because this behaviour is not met for datasources for example.

[2022-08-25 14:26] Fuco1 commented on #39431
I made a discussion post as well (as it was suggested for feature requests), but so far no activity.  Feel free to upvote it or something so we can get more attention

https://github.com/grafana/grafana/discussions/53110

[2022-08-25 14:28] marefr opened #54233 "Elasticsearch: Incorrectly creates new HTTP client on each query"
**What happened**:
Noticed in the code that the elasticsearch backend implementation creates a new HTTP client on each query. This is not good since HTTP connections can't be reused and could in theory use up all available TCP sockets on a server/node.

**What you expected to happen**:
That it creates a new HTTP client for a non-instantiated datasource instance and reuses that throughout the life-

[2022-08-25 14:37] ivanortegaalba opened #54235 "Use `uid` when starring a dashboard through `/api/user/stars/dashboard/<uid>`"
To mark a Dashboard as starred, we're using the dashboard ID. See the usage [here](https://github.com/grafana/grafana/blob/277a83215c1e20ff8c93768f93edf92d60deee5f/public/app/features/dashboard/services/DashboardSrv.ts#L97-L103). Also, in every place we use `starDashboard()`, the ID is used to target the dashboard.

As part of the migration. we've to use the dashboard UID instead.

[2022-08-25 14:38] 09jvilla commented on #50188
Discussed on Aug 25 call -
We'll bring the Downloads button to the front of the page for now just supporting 'txt' format (not csv).

[2022-08-25 14:38] 09jvilla commented on #50188
[open question is how many log lines would get downloaded if you clicked 'show older logs']

[2022-08-25 14:39] mariaiff opened #54236 "Template variable service failed Cannot destructure property 'includeAll' of 's' as it is undefined."
I created a dashboard with Geomap that has an override with a link to another dashboard with Flowchart.
In the link, two variables are sent. But sometimes when accessing the second dashboard the error appears "Template variable service failed Cannot destructure property 'includeAll' of 's' as it is undefined."

When inspecting the browser, the following error appears:
Uncaught TypeError: Cannot de

[2022-08-25 15:02] 09jvilla commented on #48988
Aug 25 discussion:
@slim-bean mentioned that he thinks Loki should be able to return a cleaner error message for this situation.

[2022-08-25 15:06] Condla opened #54237 "Curly brackets invert string syntax highlighting"
Loki query in Explore mode: when filtering a regex with curly brackets, the query syntax highlighter inverts the colours of what’s inside the quotes (green) and outside (white).

**Steps to reproduce**:
Loki query example to reproduce the issue for filtering a label `pod` that has the label value `grafana-agent-0`:
`{pod=~"grafana-agent-\\d{1}"} |= "test"`

**Actual Result**:
* The syntax of `"gra

[2022-08-25 15:20] gabor commented on #54233
(NOTE: for an example of how to do it, the Loki datasource has it done the right way: https://github.com/grafana/grafana/blob/main/pkg/tsdb/loki/loki.go#L83)

[2022-08-25 15:30] hairyhenderson opened #54242 "metrics: Some grafana_database_conn_* metrics are incorrect"
**What happened**:

The `grafana_database_conn_max_idle_closed_total` metric, for example, is intended to expose the value of [`DBStats.MaxIdleClosed`](https://pkg.go.dev/database/sql#DBStats). `DBStats.MaxIdleClosed` is a counter that only increments, from the lifetime of the `*sql.DB`.

However, when collecting metrics, Grafana adds that value to the metric (itself also a counter):

https://gith

[2022-08-25 15:33] #53397 closed

[2022-08-25 15:33] hairyhenderson commented on #54242
One option to solve this would be to use https://github.com/dlmiddlecote/sqlstats, but I'm not sure we can use it as-is because it wraps the `*sql.DB`, whereas Grafana's `*SQLStore` wraps an `*xorm.Engine` instead.

We could definitely use the approach as `sqlstats` though. I can look into this.

[2022-08-25 15:35] hairyhenderson commented on #54242
(I can get started working on a PR for this!)

[2022-08-25 15:39] ivanortegaalba opened #54243 "Stop using Folder ID in `FolderFilter` to identify a folder. Use folder UID instead"
[`LibraryPanelSearch`](https://github.com/grafana/grafana/blob/277a83215c1e20ff8c93768f93edf92d60deee5f/public/app/features/library-panels/components/LibraryPanelsSearch/LibraryPanelsSearch.tsx#L125) uses [`FolderFilter`](https://github.com/grafana/grafana/blob/277a83215c1e20ff8c93768f93edf92d60deee5f/public/app/core/components/FolderFilter/FolderFilter.tsx#L80) to get the folder ID to filter out

[2022-08-25 15:40] nrwiersma opened #54244 "JWT: allow using Authorization header and Bearer token"
**What happened**:

When setting the JWT header name to `Authorization` header with a `Bearer` prefix, the token is rejected as an API Key failure.

**What you expected to happen**:

I would expect it to realise that it is not an API request (by path) and instead try JWT authentication.

**How to reproduce it (as minimally and precisely as possible)**:

Configure JWT with `header_name` of `Authori

[2022-08-25 15:50] ivanortegaalba commented on #54243
This is blocked because the endpoint [/api/library-elements?folderFilter=<id>](https://github.com/grafana/grafana/blob/277a83215c1e20ff8c93768f93edf92d60deee5f/docs/sources/http_api/library_element.md?plain=1#L31) only accept IDs as `folderFilter` parameter.

[2022-08-25 16:11] Jguer commented on #51783
Hey @nrwiersma , `role_attribute_path` like in oauth generic (or gitlab/github) would be the approach I'm aiming for. :slightly_smiling_face: if you acknowledge the will to implement this, I'll assign you this issue.

I'm happy to coach however needed and handle the review :+1:

:smile: thanks for taking the time to check this out and for reaching out before implementing

[2022-08-25 16:17] Jguer commented on #51783
I'm also in the process of implementing server admin mapping to the existing oauth `role_attribute_path` ([diff](https://github.com/grafana/grafana/compare/main...jguer/add-serveradmin-oauth)) if you'd like to implement the same in the process.

The only part of it which is a bit specific is [here](https://github.com/grafana/grafana/compare/main...jguer/add-serveradmin-oauth#diff-1932ec0f0e9483143

[2022-08-25 17:39] bergquist commented on #54242
My fault! :grin:

[2022-08-25 17:46] timlevett opened #54251 "Team Members API with large member count takes a long time to load"
**What happened**:

For https://grafana.com/docs/grafana/latest/developers/http_api/team/#get-team-members there is no pagination, we did some load testing and if you have more than 20k users the API takes a very long time to process.

**What you expected to happen**:

I would expect this API to have pagination much like many other list results have.

**How to reproduce it (as minimally and precis

[2022-08-25 18:20] MatheusBeniniF commented on #54160
hey @westonforbes, what do i need to do to get to that part?

[2022-08-25 20:00] ryantxu commented on #54235
CC @ying-jeanne -- We likely want to just simplify and replace the existing stars API with something object store friendly rather than more migrations in SQL

[2022-08-25 20:24] ramukima commented on #11750
Basic webex notification feature PR here: https://github.com/ramukima/grafana/pull/1

[2022-08-25 20:32] nrwiersma commented on #51783
Will gladly take this issue on with the improvements you are planning. I would start with the simplest implementation first and make the needed refactoring on review.

[2022-08-25 21:32] zuchka commented on #54244
@nrwiersma is this a bug report or more like a feature request?  thx

[2022-08-25 21:33] zuchka commented on #53908
Thanks for creating this issue, @SaigaGentil

can you include a scrreencast or some screenshots? I'm having trouble following you.... thank you!

[2022-08-25 21:34] #54066 closed

[2022-08-25 21:35] zuchka commented on #53931
try increasing [the verbosity of the Grafana server logs](https://grafana.com/docs/grafana/latest/administration/configuration/#level) to `debug` and note any errors. For printing to console, [set the console logs to `debug`](https://grafana.com/docs/grafana/latest/administration/configuration/#level-1) as well.

[2022-08-25 21:36] #54225 closed

[2022-08-25 21:36] zuchka commented on #54225
see this thread:

https://community.grafana.com/t/how-to-configure-and-modify-grafana-9-alert-template/70620/2?u=mattabrams

[2022-08-25 21:39] #54213 closed

[2022-08-25 21:40] #54193 closed

[2022-08-25 22:04] #53906 closed

[2022-08-25 22:09] muenchris commented on #52486
This error now shows up on all Samsung smart TV browsers with Tizen OS. This is problematic as we are using smart tvs in break rooms to show factory KPIs in Grafena.

[2022-08-25 23:09] ying-jeanne commented on #54235
@ivanortegaalba @ryantxu In this case, what we can do probably now is to map uid to id (or reversely) on the API layer (call dashboard service), and then pass both id/uid into store, the SQL would use id to query db, and object store can use uid instead.

[2022-08-25 23:48] Toledodev commented on #52712
Hey @gabor, I checked now and realized that LiveLogs.test is already in RTL format

![Screenshot from 2022-08-25 20-47-03](https://user-images.githubusercontent.com/87545086/186788139-c9fb49d3-edbc-4929-b5d0-3c169904ffe1.png)

[2022-08-26 00:01] leeoniya commented on #52486
TV browsers are all terrible, and almost universally umaintained. generally the best practice for TVs is to hook up an external HDMI device running Grafana that can be updated by the user and not abandoned by the manufacturer. raspberry pis are good for this.

[2022-08-26 00:13] reyjrar commented on #54169
The error is a [React Recursion Error](https://reactjs.org/docs/error-decoder.html/?invariant=185).

It happens on 8.5.2 and 8.5.10 as well, but doesn't lock on the browser:
![ScreenShot of 8.5.10](https://user-images.githubusercontent.com/99365/186790409-18024929-9e8e-409e-a31c-2eb60b588755.png)

[2022-08-26 00:43] reyjrar commented on #54169
The rules this happens on were created via the `/api/ruler/grafana/api/v1/rules/<namespace>` API. I'm looking at the provisioning APIs now to cut over my scripts. I'm hoping that solves the problem? I don't know. Here are the API endpoints I found to create rules:

* `/api/ruler/grafana/api/v1/rules/<namespace>`
* `/api/v1/provisioning/alert-rules`

I think there was one in the `/api/alertmanager/

[2022-08-26 02:21] sszilvasi commented on #54071
Thank you for the suggestion, switching "Format as" to "Table" solves the issue.

In trying to make the most out of first impressions, I would still expect "Format as" set to "Time series" to work as described above. Furthermore, based on the [documentation](https://grafana.com/docs/grafana/latest/visualizations/geomap/), I would also expect "Location" set to "Auto" to display the markers when the

[2022-08-26 02:30] muenchris commented on #52486
That also excludes and app written for Tizen using the browser controls they are offering. RPIs are not very reliable either and not used in industrial environments.

[2022-08-26 04:09] orlandoortegajr commented on #54222
@JoaoSilvaGrafana Hi, I was searching for issues with the label good first issue and stumbled upon this project which looks pretty interesting! I am a full stack dev mostly focusing on the frontend side of things using React with Typescript and I found this issue pretty interesting. I have successfully setup my dev environment, was able to build storybook and already found the file that deals with

[2022-08-26 05:19] nrwiersma commented on #54244
I would argue this is a bug. There is nothing to say that JWT should not use the `Authorization` header or contain the `Bearer` prefix. Looking at every standard JWT implementation, this is the expected way to use JWT authentication, and while it is customisable in this case, I would still expect it to work in the standard use case.

I can gladly attach debug logs if you like, but JWT is never eve

[2022-08-26 06:28] pruthvi6767 opened #54265 "Fix Container Image Vulnerabilities"
**What happened**:
I’m using the grafana 9.0.5 image from docker hub. I have come across three vulnerability CVE’s
listed as below: Please help fix these

- [CVE-2022-37434](https://nvd.nist.gov/vuln/detail/CVE-2022-37434)
- [CVE-2022-32189](https://nvd.nist.gov/vuln/detail/CVE-2022-32189)
- [CVE-2022-35737](https://nvd.nist.gov/vuln/detail/CVE-2022-35737)
SQLite 1.0.12 through 3.39.x before 3.39.

[2022-08-26 06:41] mc-em commented on #53893
I also experienced the same in our prometheus datasource when I upgraded from v8.5 to v9. Our prometheus datasource is using custom http header Authorization. When i upgraded to v9, the value of Authorization went null and when I try to supply the value it failed to updated and logging error about data key not found. I had no issue like this when I upgraded from 8.4.3 to 8.5.0 and from 8.5.0 to 8.

[2022-08-26 06:48] gabor commented on #52712
oh, good catch @Toledodev , i will close the issue in that case. thanks!

[2022-08-26 06:48] #52712 closed

[2022-08-26 06:49] Rperry2174 commented on #53723
Adding that there is an effort in progress to support custom plugins in the explore tab:
https://github.com/grafana/grafana/pull/52057

[2022-08-26 06:56] #54075 closed

[2022-08-26 07:00] sbengo commented on #48900
Hi @jessover9000 , thanks for your feedback.

Actually, the UX unresponsiveness issue was already detected by Grafana team since 25 of march  - https://github.com/grafana/grafana/issues/46955
The issue is already closed on a merged (already on main) PR - https://github.com/grafana/grafana/pull/50612 (note: it doesn't appear on the CHANGELOG.md, so I didn't notice on the 9.1.0 release)

You talk ab

[2022-08-26 07:18] jackw opened #54267 "Plugins Catalog: Remove the Server admin plugins nav item"

[2022-08-26 07:26] #53127 closed

[2022-08-26 07:26] #53125 closed

[2022-08-26 07:26] #53132 closed

[2022-08-26 07:28] #53968 closed

[2022-08-26 07:30] tolzhabayev commented on #54267
Please check with @zsofiakomaromigrafana first if that is something that is being used or not.

[2022-08-26 07:35] armandgrillet commented on #36153
A blog post regarding this has been published: https://grafana.com/blog/2022/08/25/new-in-grafana-alerting-file-provisioning/

[2022-08-26 07:57] Slach commented on #36153
@armandgrillet @JohnnyQQQQ
 https://grafana.com/blog/2022/08/25/new-in-grafana-alerting-file-provisioning/
looks useless
where is the real example with real queries and real data sources for yaml files for alerting provisioning?

[code]

this is not a real example

moreover, https://github.com/grafana/grafana/tree/main/pkg/services/provisioning/alerting/testdata/alert_rules
still not contains any

[2022-08-26 07:58] gamab commented on #51189
@dprokop thanks for pinging us. I'll look into this.

[2022-08-26 08:24] ivanortegaalba opened #54270 "Use `uid` and `folderUid` to organize search items in folder search view"
When generating the search results, the SearchSrv creates a folder index mapping the folder ID to the folder. It should use the folder UID instead.

[2022-08-26 08:27] ashharrison90 opened #54271 "Page layout: Explore"
- [x] Add breadcrumbs using `pageNav`

[2022-08-26 08:27] ashharrison90 opened #54272 "Page layout: Reports item page"
- [x] convert to use `navId` instead of `navModel`
- [x] add `subTitle`
- [x] add `pageNav` (see `TeamPages`)

[2022-08-26 08:32] JoaoSilvaGrafana commented on #54222
Hey @orlandoortegajr ! 👋 Yep I can assign this issue to you, thank you so much for helping 😄

[2022-08-26 08:33] eledobleefe opened #54273 "A11y: Make the tooltip of Toolbar buttons and Icon buttons dismissable"
**Steps to reproduce**:
In `Explore Page`:
1. Go here: https://play.grafana.org/explore
2. Hover over the "Split" button of the Toolbar. Hover over the icons buttons of the QueryOperationRowHeader ("Duplicate query", "Disable/enable query", "Remove query" and "Drag and drop to reorder").
3. After clicking on the "Split" button, hover on the "Close" one.

In panels:
1. Go here: https://play.grafana

[2022-08-26 08:45] VtG242 commented on #54213
It doesn't seems to me like question, but well ...

[2022-08-26 08:46] cyriltovena opened #58378 "Switch between how colors are assigned in flamegraph"
I think we should have a switch button (right now just on/off but may be more later) to change the color scheme of the flamegraph.

We should be able to switch between:
-  normal  percentage of self compare to root gradient colouring (current)
<img width="722" alt="image" src="https://user-images.githubusercontent.com/1053421/186866774-77d9dda9-4543-42f6-9285-786b65b527fa.png">

-  and code colour

[2022-08-26 08:50] tubemeister commented on #37372
This might shed some light...

This happens if you've ever restored a database dump like normal people do, that is just import it over an existing database without dropping and recreating the whole database or without manually dropping every table in there.

A typical mysql dump will drop any table before creating it again, but it won't touch tables that exist in the database but not in the dump.

[2022-08-26 09:00] ashharrison90 opened #54278 "Page layout: Alerting: individual contact point"
- [x] convert to use `navId` instead of `navModel`
- [x] add `subTitle`
- [x] add `pageNav` (see `TeamPages`)

note: this shouldn't need to be done behind the feature toggle as it's improving consistency across the board

[2022-08-26 09:09] ashharrison90 opened #54279 "Page layout: Reports wizard pages"
- [x] convert to use `navId` instead of `navModel`
- [x] add `subTitle`
- [x] add `pageNav` (see `TeamPages`)

note: this shouldn't need to be done behind the feature toggle as it's improving consistency across the board
see e.g. https://github.com/grafana/grafana/pull/53936

[2022-08-26 09:25] grobinson-grafana commented on #54016
Hi @Nasko1234567! It looks like there is a unique index for the `org_id` column in the `alert_configuration` table which would cause such an error. Would you be able to share the schema for this table, including indexes, so we can confirm whether this is the case or not?

[2022-08-26 09:29] armandgrillet commented on #53990
Please follow https://grafana.com/docs/grafana/latest/alerting/high-availability/enable-alerting-ha/#enable-alerting-high-availability and let us know if you are still having issues.

[2022-08-26 09:35] armandgrillet commented on #53988
Thank you for the detailed report, we need to investigate this more but after triaging this looks like a real bug.

[2022-08-26 09:43] armandgrillet commented on #53349
How much data is being queried? How many data points? How many dimensions? This issue is probably is due to how we cache the last evaluations. An engineer will investigate this.

[2022-08-26 09:51] cyriltovena opened #58377 "Metadata information"
The flamegraph panel should contains information at the top such as:
- The type of samples and what it represents. (This is the highest priority)
- The total amount of profiles in the range.
- The max/min node in sample type e.g seconds, bytes, count,...

[2022-08-26 10:15] mc-em commented on #53893
got it update and running in v9.0.1 after adding below in custom.ini

[feature_toggles]
enable = disableEnvelopeEncryption

Tried upgrading to v9.1.0 but facing different error.

[2022-08-26 10:16] Friendly-Banana opened #54285 "Malformed tags cause hidden title and settings page crash"
**What happened**:
In the browse tab Grafana dashboards were shown without a title and with empty/no tags.
![image](https://user-images.githubusercontent.com/69007475/186880247-35d39610-35ba-42c1-a46b-4c0c61a88267.png)
Clicking on them is possible and they have a page, but their settings page is broken.
![grafana settings](https://user-images.githubusercontent.com/69007475/186882237-430ea286-5e12-

[2022-08-26 10:25] #53946 closed

[2022-08-26 10:26] Elfo404 opened #54288 "Glue: Make alert error in correlations settings page actionable"
the current alert component in the correlations settings page is not actionable. it'd be great if it had, for instance, a recovery button.

The alert component doesn't seem to support that use case though, as only allows for consumers to modify the close button text.

[2022-08-26 10:27] #52027 closed

[2022-08-26 10:27] JohnnyQQQQ commented on #53988
Thanks for reporting, we opened a PR that will fix this.

[2022-08-26 10:35] Nasko1234567 commented on #54016
Hi,

I fixed it but I don't think this is the rigt way but just workaround. I have manually deleted the records from the table in db, and only when I did that the external alert manager disappeared from the UI. I no the org_id s were different, same error poped up with different ID of the org I wanted to remove it from:

![image](https://user-images.githubusercontent.com/111745296/186885889-afea6f

[2022-08-26 10:41] Elfo404 commented on #51323
@aocenas not yet, as of now we still don't generate data links from it, but we are planning to do it very soon.

[2022-08-26 10:44] mc-em opened #54291 "Unable to upgrade to v9.1 due mysql statement error"
**What happened**:  I tried to perform Grafana upgrade from v9.0 to v9.1 but the upgrade is failing due to failure to rename table dashboard_public_config in grafana database (mysql). Below error is found in grafana log when starting Grafana service which is causing the service be paused.

logger=migrator t=2022-08-26T14:02:33.63422+04:00 level=error msg="Executing migration failed" id="Rename tab

[2022-08-26 11:01] thexperiments commented on #6932
Is this still not available? Definitely very useful in graphs with many lines

[2022-08-26 11:01] ashharrison90 commented on #49402
looks like this has been done: https://github.com/grafana/grafana/blob/main/public/app/plugins/datasource/cloudwatch/components/ConfigEditor.test.tsx 🙌

[2022-08-26 11:01] #49402 closed

[2022-08-26 11:01] JohnnyQQQQ commented on #54076
Thanks for reporting, I made a [PR](https://github.com/grafana/grafana/pull/54293) with a fix.

[2022-08-26 11:02] Elfo404 commented on #53927
@grafana/observability-metrics i think this has already been reported before and it's because the prometheus query editor assuming the shape of the query model is different in dashboards. can you check?

[2022-08-26 11:31] CrypticSignal opened #54295 "TestData DB: Node graph not showing when the `Data type` field is set to `random`"
**What happened**:
When using the `TestData DB` data source in Explore and changing the `Scenario` to `Node Graph`, the query runs for an infinite amount of time and I don't see a node graph.

**What you expected to happen**:
I expected to see a node graph.

**How to reproduce it**:
- Select the `TestData DB` data source in Explore.
- Change the `Scenario` field to `Node Graph`.

**OS**:
macOS 12.

[2022-08-26 11:43] gabor commented on #54237
i wonder how hard is to add this, whether it is an easy fix in https://github.com/grafana/grafana/blob/main/public/app/plugins/datasource/loki/syntax.ts , or something harder... @ivanahuckova do you have any idea if this is easy or hard?

(if it's hard i'd recommend we solve this after https://github.com/grafana/grafana/issues/44985 )

[2022-08-26 11:49] sunker opened #54297 "CloudWatch: Start collection feature adoption metrics in the plugin"
Now that it's possible to receive data on [dashboard load](https://github.com/grafana/grafana/pull/52052), we should start tracking CloudWatch plugin feature adoption. Please note that tracking will only happen for those who have actively enabled this in the grafana config file.

[2022-08-26 12:05] Norsu296 opened #54300 "Cannot load multiline value as environment variable in datasources"
**What happened**:
I can't add mulitiline values as environment variable. I want to add private key as variable and when I'm checking datasource status I got error. I want to do it with Google Cloud Monitoring. I have environment variables as secret, one line values works correctly. Working config:
[code]
Not working config
[code]
I tried also
[code]
When i decode secret it is as
[code]
**What you

[2022-08-26 12:05] nmarrs opened #54302 "Epic: Geomap - Add basic test coverage"
As we have recently promoted Geomap to general release (from beta) it probably would make sense for us to add some basic test coverage to critical flows / functionality - if we are missing anything please feel free to include it in the list below

E2E tests
- [x] #54304
- [x] #54305
- [x] #54306
- [x] #54307
- [x] #54308
- [x] #54309
- [x] #54310
- [x] #54311
- [x] #54312
- [x] #54313

Unit tests

[2022-08-26 12:16] nmarrs opened #54303 "Geomap: Add basic smokescreen unit test to confirm successful render"
Add basic unit test that sets up jest environment for geomap panel and ensures that it renders as expected without any runtime issues

[2022-08-26 12:17] nmarrs opened #54304 "Geomap: Add e2e test creating new geomap panel (smokescreen)"
Add basic e2e test that loads a new geomap panel (ensuring that panel loads as expected on initialization and doesn't crash)

[2022-08-26 12:17] nmarrs opened #54305 "Geomap: Add e2e test for tooltip functionality"
Test tool tip functionality / interaction on the geomap including:
- displaying data on hover
- Data link onClick functionality
- Layer toggle hiding / showing toggle button
- etc.

[2022-08-26 12:17] nmarrs opened #54306 "Geomap: Add e2e smokescreen test for every layer type"
On initialization of geomap panel, load every available layer type (including alpha) and ensure results are as expected and panel doesn't crash

[2022-08-26 12:17] nmarrs opened #54307 "Geomap: Add robust e2e tests for marker layer"
Given marker layer is _most_ likely the most popular layer we should consider adding more robust e2e tests for this layer specifically
- Dynamic size functionality
- Dynamic color functionality
- etc.

[2022-08-26 12:17] nmarrs opened #54308 "Geomap: Add e2e test for data query functionality"
Create two layers and have two separate queries - verify that user can filter by query series (A or B) for either layer

[2022-08-26 12:17] nmarrs opened #54309 "Geomap: Add e2e smokescreen tests for every base layer"
Load every available base layer and verify works as expected / no crash

[2022-08-26 12:17] nmarrs opened #54310 "Geomap: Add e2e test for dynamic view functionality (pending)"
Test initial view functionality
- including dynamic based on incoming data? (pending [#40496](https://github.com/grafana/grafana/issues/40496))

[2022-08-26 12:17] nmarrs opened #54311 "Geomap: Add basic e2e tests for every map control option"
Straightforward e2e tests for every map control option verifying that toggle shows / hides relevant UI on geomap panel

[2022-08-26 12:17] nmarrs opened #54312 "Geomap: Add robust e2e tests for measure tool"
Basic e2e tests confirming measure tool functionality (maybe one for distance, one for area and call it good for now)

[2022-08-26 12:17] nmarrs opened #54313 "Geomap: Add robust e2e tests for tool tip options in map control option"

[2022-08-26 12:27] marefr opened #54314 "Datasources: Integration tests for HTTP datasources"
In #54146 we introduced integration tests for the Prometheus datasource so that we have verification that the usage of HTTPClientProvider is correct and properly sets expected headers on outgoing HTTP requests. Headers not properly being set/forwarded is something that' been bugging us in multiple issue over the last releases why it would be good to introduce integration tests for all builtin HTTP

[2022-08-26 12:29] #52713 closed

[2022-08-26 12:30] nmarrs opened #54315 "Geomap: Break up GeomapPanel component"
Refactor geomap component into smaller pieces if possible - current size of file makes it harder to maintain / test / easily understand
        - Can move types to another file
        - Actions definition?
        - initMapRef?
        - Tooltip related code
        - Update / init layer
        - Init view code

[2022-08-26 12:43] torkelo opened #54319 "My feature"
We're solving a problem

[2022-08-26 12:43] torkelo commented on #54319
Link to feature: https://grafana.productboard.com/feature-board/planning/features/15073595

[2022-08-26 12:46] markjmeier commented on #54319
created in error. closing.

[2022-08-26 12:46] #54319 closed

[2022-08-26 12:48] #52526 closed

[2022-08-26 12:56] gabor commented on #54075
hi @alimli , this is fixed now, should be available in Grafana9.1.2 .

[2022-08-26 13:09] L-M-K-B opened #54323 "Feature Tracking: Create a dashboard for query history feature tracking"
The dashboard should display graphs showing user events added in https://github.com/grafana/grafana/issues/49668

Also track query history migration failures:

`{ app="grafana"} | logfmt | logger="frontend" |= "QueryHistoryMigrationFailed"`

[2022-08-26 13:14] linoman opened #54324 "Team sync is broken for LDAP"
**What happened**:

This might need more research but the Team Sync feature, where the roles are assigned automatically to the LDAP users based on the LDAP-group - Org-roles mapping is not working.

**What you expected to happen**:

I would expect LDAP users within the team `admins` (i.e. ldap-admin) to have the `Admin` role without any user intervention.

**How to reproduce it (as minimally and p

[2022-08-26 13:14] nmarrs opened #54325 "Geomap: Clean up TS types"
Partially addressed in #54328

Go through rest of instances of `any` type in geomap code as well as `unknown` and update to whatever types make sense

[2022-08-26 13:18] SovnSkyrim opened #54326 "Unable to push embed graphs to Notion through Iframes."
**What happened**:
Grafana failing to load it's stuff within Notion
[Screenshot](https://i.imgur.com/P6Pa1OY.jpg)
**What you expected to happen**:
A graph to appear
**How to reproduce it (as minimally and precisely as possible)**:
Open your Grafana on for embeds; set your environment variables as below; create a graph with a datasource; try to share it via embed. Go to your Notion page; do "/embed

[2022-08-26 13:18] gabor opened #54327 "Loki: Integration test for HTTP header handling"
add an integration tests like it is done for prometheus in https://github.com/grafana/grafana/blob/main/pkg/tests/api/prometheus/prometheus_test.go

to make sure headers are correctly sent.

for more details see https://github.com/grafana/grafana/issues/54314

[2022-08-26 13:20] gabor opened #54329 "Elasticsearch: Integration test for HTTP header handling"
add an integration tests like it is done for prometheus in https://github.com/grafana/grafana/blob/main/pkg/tests/api/prometheus/prometheus_test.go

to make sure headers are correctly sent.

for more details see https://github.com/grafana/grafana/issues/54314

NOTE: elasticsearch only uses the backend-code for alerting, so maybe it's not doable/sensible to do this currently. but it's possible that

[2022-08-26 13:28] ashharrison90 opened #54331 "Convert `public/app/plugins/datasource/influxdb/components/ConfigEditor.test.tsx` to RTL"

[2022-08-26 13:30] gtk-grafana commented on #42980
A fix for this has been merged and will be released with Grafana 9.2.0! Thank you all for your patience and hard work on this!

[2022-08-26 13:30] #42980 closed

[2022-08-26 13:36] #52613 closed

[2022-08-26 13:41] #54270 closed

[2022-08-26 13:49] joanlopez commented on #53893
Hi @pablozone,

Here few questions about your case:

- Do you recall with which version of Grafana did you set up those data sources? How are they created (manually, provisioning, etc)?
- Are you able to fix those data sources by configuring again the secrets (credentials)?
- If no, are you able to update the credentials (even if you introduce the same value is enough) of the data sources you crea

[2022-08-26 13:56] streetstorm commented on #36153
@Slach
Doc: https://grafana.com/docs/grafana/latest/administration/provisioning/#alerting
Here is my example, it works:
[code]

[2022-08-26 13:57] joanlopez commented on #53893
Hi @mc-em,

Error logs are pretty clear here: seems there's (at least one) missing data key - and with no data key, Grafana cannot decrypted the encrypted data.

So, my question is, have you manually modified the database? (import-export, or whatever) We even don't have support to delete data keys, so it's extremely weird that a data key has magically disappeared.

In any case, even without that d

[2022-08-26 13:58] gelicia commented on #54265
@pruthvi6767 Grafana 9.1.1 uses alpine-3.15 which has the patched zlib library - these CVEs should be fixed in that version. Please upgrade and open a new ticket if 9.1.1 still continues to have issues.

[2022-08-26 13:58] #54265 closed

[2022-08-26 13:58] ivanortegaalba commented on #53005
@zsofiakomaromigrafana one question: Could we also track when the creation is triggered but it fails? This could give us data about the user experimenting failures while trying to create the dashboard, helping us to discard the users that don't arrive at the final of the funnel for system errors. WDYT?

[2022-08-26 14:24] gelicia commented on #54230
@Jojoooo1 Trying to understand the issue - calculating the mean is including 0 values for missing values, so the mean is then 0 when a request doesn't have many values?

[2022-08-26 14:33] Jojoooo1 commented on #54230
hi @gelicia here a simple example with a http_server_requests_seconds_sum used to monitor SpringBoot API response time:

**Grafana 9.0.7:**

![Screenshot from 2022-08-26 11-27-41](https://user-images.githubusercontent.com/17641873/186927833-7d4d4e6e-bfb5-4c8f-9f47-c16321c160a9.png)
![Screenshot from 2022-08-26 11-27-49](https://user-images.githubusercontent.com/17641873/186927838-7e2ccac5-e27f-428

[2022-08-26 14:37] gelicia commented on #54236
@mariaiff - if you are receiving the error in flowchart, I would like to confirm with that team that they are handling these kinds of template variables correctly. We do not maintain that plugin - I believe the repo for that plugin is https://github.com/algenty/grafana-flowcharting. I looked to try to see if anyone else had found your issue and didn't see anything. Can you check to see if your dat

[2022-08-26 14:37] #54236 closed

[2022-08-26 15:10] m0ussaka commented on #39431
+1 Reopen please!

[2022-08-26 15:59] Slach commented on #36153
opps sorry, I miss something
I search documentation about how to provision ALERTS, not alerts message templates and notification channels
and https://github.com/grafana/grafana/tree/main/pkg/services/provisioning/alerting/testdata/alert_rules doesn't help

[2022-08-26 16:14] yuri-tceretian commented on #52896
I think it was fixed in https://github.com/grafana/grafana/pull/53069. Can you please upgrade to 9.1.0?

[2022-08-26 16:17] disfluxly opened #54338 "[Cloudwatch] - Using Template Variables in Query Dimensions Breaks Query After 9.0"
**What happened**:
After upgrading from Grafana 8 to Grafana 9.0.5, any existing dashboard panels that are using a Template Variable in the Dimensions field no longer work.

**What you expected to happen**:
I expect that existing panels that use Template Variables continue to work as they did before the upgrade.

**How to reproduce it (as minimally and precisely as possible)**:
Create a new dashbo

[2022-08-26 16:24] yuri-tceretian commented on #40080
Closing this issue as it is a very edge case.

[2022-08-26 16:24] #40080 closed

[2022-08-26 16:32] yuri-tceretian commented on #46888
This has been fixed by https://github.com/grafana/grafana/pull/50038. Closing.

[2022-08-26 16:32] #46888 closed

[2022-08-26 16:36] streetstorm commented on #36153
@Slach
API /api/v1/provisioning/alert-rules/{rule_id} helps to prepare this ALERT RULE
[code]

[2022-08-26 17:12] disfluxly commented on #54338
I did some more testing, and discovered that this seems to _only_ impact Panels that existed prior to upgrading.

I'll update the description with that information, as "New" dashboards/panels do seem to work

[2022-08-26 17:31] mbentley commented on #52896
I can confirm that the issue isn't present in 9.1.x.  Thanks!

[2022-08-26 17:31] #52896 closed

[2022-08-26 17:54] freebsdfrau opened #54343 "V9 Time-Series Axes do not align 0 when using left/right Y-Axis"
Hello,

I first created a discussion here: https://github.com/grafana/grafana/discussions/54342

**What happened**:
0 is not aligned between left/right Y-axis of time-series in V9.0.4

**What you expected to happen**:
I expect 0 to be aligned between left/right Y-axes. Instead it bounces all over the place.

**How to reproduce it (as minimally and precisely as possible)**:
Same units on left/right

[2022-08-26 17:58] leeoniya commented on #54343
we have an explicit setting for this now in v9.1: https://github.com/grafana/grafana/pull/52555

[2022-08-26 18:30] gtk-grafana opened #54344 "Prometheus version 2.12.0 reports as "Cortex" datasource type when testing datasource config"
**What happened**:
Testing prometheus `2.12.0` and I saw that it reported as "Cortex" instead of Prometheus like other versions (tested with 1.8 and
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
* Spin up 2.12.0 prometheus instance,
* connect datasource to Grafana
* click test & save
* Open details accordion in success dialog
**Anything else we

[2022-08-26 18:30] gtk-grafana commented on #54344
<img width="430" alt="image" src="https://user-images.githubusercontent.com/109082771/186969140-3e6918fa-4274-4f7a-9e76-353121f6e15c.png">
It didn't upload my image! Well here it is

[2022-08-26 18:34] gelicia commented on #54343
@freebsdfrau - It sounds like there is a setting in a newer version that will solve this issue. I'll close this ticket for now, feel free to reopen if there is a bug.

[2022-08-26 18:43] gtk-grafana commented on #54344
Looks like 2.12.0 returns a 404 instead of 405 like other versions (1.8, 2.3), so this code:
[code]
in /grafana/grafana/public/app/features/alerting/unified/api/buildInfo.ts

triggers the code to determine that this prometheus instance is a Cortex datasource.

[2022-08-26 19:14] adela-almasan opened #54345 "Geomap: local min/max"
Steps forward
- [x] Create dev env dashboard that shows problem clearly (should be pretty straightforward using csv file) -  PR [#54253](https://github.com/grafana/grafana/pull/54253)
- [x] Come up with solution that addresses across the board (this seems to impact multiple panels - geomap, table, etc.)
   - `getFieldConfigWithMinMax` may the key to the solution?

Related issues: #51185, https://g

[2022-08-26 19:18] gefgu commented on #54170
Hello @JoaoSilvaGrafana! I would be happy to work on this issue and be assigned to this task :)

[2022-08-26 19:53] ryantxu opened #54347 "Topnav: page container issues"
New topnav page wrapper has inconsistent behavior within a page -- is this intentional?  or shoud the continer be updated

[code]

http://localhost:3000/admin/storage/?view=export

Without topnav enabled:
![2022-08-26_12-51-23 (1)](https://user-images.githubusercontent.com/705951/186981017-b9492816-a560-4ef4-8238-02f8ae2d9549.gif)

With topnav:
![2022-08-26_12-48-14 (1)](https://user-images.github

[2022-08-26 20:40] #54345 closed

[2022-08-26 21:06] adela-almasan opened #54354 "Issues with contain:strict"

[2022-08-26 21:09] freebsdfrau commented on #54343
I have upgraded to Grafana 9.1.1 released to FreeBSD ports less than 24h ago, and have confirmed that it has a new option called "Centered zero" (pictured below) and that it deftly solves my problem. Thank you very much.

![Screen Shot 2022-08-26 at 2 08 04 PM](https://user-images.githubusercontent.com/14223049/186990980-2402c55d-37dd-477e-9d8f-17e24f169e19.png)

![Screen Shot 2022-08-26 at 2 07 5

[2022-08-26 21:18] freebsdfrau commented on #54343
Woah, hold up, I adjusted the time range just once and it failed.

[2022-08-26 21:26] freebsdfrau commented on #54343
It would seem that if you have a Soft Max set (either deliberately or inadvertently by way of attempting to deal with the lack of centered zero feature in previous version), that it affects the ability of centered zero to stay on track

![sr2](https://user-images.githubusercontent.com/14223049/186992805-261d7306-9c4c-4c9f-9942-8c7561e73191.gif)

If I remove the Soft Max and give up that feature, t

[2022-08-26 21:30] #53988 closed

[2022-08-26 21:34] leeoniya commented on #54343
it's really tricky dealing with the vast array of diverse y range options simultaneuously. a lot of invalid settings can occur and handling all of them is probably an endless game of whack-a-mole. i'll take a look at some point, but it may turn out that some ranging options will just have to remain mutually exclusive.

[2022-08-26 21:35] freebsdfrau commented on #54343
Below are 5 graphs, and it would appear that the problem in 9.1.1 even with centered zero is that if you set a Soft Max or Soft Min without setting them to be exactly equal (but negated). For example ...

Centered zero, No Soft Max, No Soft Min, No problem:
![Screen Shot 2022-08-26 at 2 27 27 PM](https://user-images.githubusercontent.com/14223049/186993364-56fea041-d071-4feb-8785-9b4a68ebbd48.png)

[2022-08-26 21:35] codeincarnate commented on #54029
Hi Tom, sorry for the delay in update here as I wanted to take another look. From what I'm seeing in this case is that it appears the datasource is returning zero values and from what I can tell hasn't been affected by the null value transformation changes. Were there some Prometheus or configuration changes around August 8th that may have caused this?

[2022-08-26 21:43] codeincarnate commented on #54230
Thanks for the report @Jojoooo1. I'm trying to understand you issue a bit better. In terms of the mean response time is that being calculated using transforms or by some other method?

[2022-08-26 21:48] Jojoooo1 commented on #54230
hi @codeincarnate, here the function that is being used (extracted from a spring boot reference dashboard)
[code]

[2022-08-26 21:54] #54076 closed

[2022-08-26 22:35] alanprot commented on #33487
Hi...

Based on https://github.com/grafana/grafana/pull/54263#issuecomment-1228938668,  is there any documentation on how this "prometheus version detection" will work? I imagine that projects like thanos or cortex will need to expose  this info somehow to grafana can take decision on, for instance, what endpoint to call.

[2022-08-26 23:34] gtk-grafana commented on #33487
@alanprot Not yet, we're still figuring out the details! Is there anything you would like to see?

[2022-08-26 23:38] alanprot commented on #33487
I was looking at grafana code it is already implementing what @bboreham suggested on https://github.com/prometheus/prometheus/issues/10022

https://github.com/grafana/grafana/blob/f3085b1cacef1a7cda5963320f116555b4389fa9/public/app/types/unified-alerting-dto.ts#L59-L70

I wonder if we should go ahead with the idea and make those "features" list documented so all other projects can comply and hint

[2022-08-27 00:34] fhlasek commented on #49778
I am having the same problem with `${__value.raw}` on 9.1.1 release. Exactly as the title of this Issue says: "Sometimes it works, sometimes not."
<img width="765" alt="Screen Shot 2022-08-26 at 5 31 51 PM" src="https://user-images.githubusercontent.com/6595091/187007114-20ebe856-f424-4130-905d-08ffd304b5a2.png">
<img width="751" alt="Screen Shot 2022-08-26 at 5 32 11 PM" src="https://user-images.

[2022-08-27 08:28] nrwiersma commented on #54244
I have found a potential solution to the issue. In order to not change the behaviour of the API key, when the key parsing fails, if JWT is enabled, the API Key handler can let the auth pass through to allow JWT the chance to handle it. The approach can be found here: https://github.com/grafana/grafana/compare/main...nrwiersma:grafana:allow-jwt-bearer.

If this approach is acceptable I can open a P

[2022-08-27 17:57] Pomierski commented on #54161
Hi @JoaoSilvaGrafana 👋 I would like to help. Could you please assign this issue to me? :)

[2022-08-27 18:16] pkirubak commented on #46142
apart from workaround, is the fix for this is being worked on? even grafana 9.x has this problem

[2022-08-28 04:03] gegtor opened #54364 "Heatmap color scheme range from high to low breaks color rendering"
**What happened**:

After the update to Grafana 9.1.1 from 8.5.10 heatmap colors with color ranges from high to low display wrong colors

Here you can see TPS display where values aren't properly visualised (data point with value 50 is selected but it displays as red)
Color range goes from 50 (blue) to 0 (red)
Colors for values like 25 also don't render properly and only show blue or red
<img widt

[2022-08-28 04:06] gegtor commented on #54364
Log shows no errors only requests

[code]

[2022-08-28 05:05] leeoniya commented on #54364
hmm, i wonder if a better fix for this would be to add an explicit toggle to reverse the chosen color scale instead of sprinkling a bunch of code everywhere to handle inverted min/max settings. :thinking:

[2022-08-28 06:42] armandgrillet commented on #34752
Fixed in August 2021, this is in Grafana 8 and 9:
<img width="600" alt="PS 2022-08-28 à 08 39 31" src="https://user-images.githubusercontent.com/2117580/187061167-11abcd6b-8c7f-491a-8687-f6eb38226236.png">

[2022-08-28 06:42] #34752 closed

[2022-08-28 06:42] #34628 closed

[2022-08-28 06:51] armandgrillet commented on #34734
Superseded by https://github.com/grafana/grafana/issues/53443

[2022-08-28 06:51] #34734 closed

[2022-08-28 06:55] armandgrillet commented on #16616
An implementation will start in the coming weeks: https://github.com/grafana/grafana/issues/53443

[2022-08-28 06:55] #16616 closed

[2022-08-28 10:49] szerwi opened #54367 "Library panel cannot be modified from panel's settings"
**What happened**:
It is impossible to modify the library panel from panel's settings view.
When I create the panel, create library panel (expand visualizations, switch to library panels and click ```Create new library panel```) the library panel is being created, but when I go back to the dashboard, the same panel becomes standard panel again.
Only creating library panels by clicking panel's titl

[2022-08-28 11:57] cdz620 commented on #5329
+1

[2022-08-28 12:14] posrix opened #54368 "Dockerfile node:16-alpine3.15 can't build v8.5.x"
### Error log by running make build-docker-full
[code]
I tried the main branch in docker with same node version and it was successful, so I guess maybe it's caused by node version incompatibility?

Grafana Version 8.5.5

[2022-08-28 13:44] #54222 closed

[2022-08-28 14:20] soukeiz529 opened #54369 "Missing $__timeEpoch function when provisioning alert rule"
**What happened**:
Using provisioning feature to provision an alert rule which contains a rawSql like below
[code]

When the grafana started, the sql in alert rule is like below
[code]

the $__timeEpoch is gone.
<img width="543" alt="image" src="https://user-images.githubusercontent.com/106508895/187078634-933bd107-9fa7-4676-9fc4-5eb178252ca1.png">
Is this a bug?

**What you expected to happen**:

[2022-08-28 15:04] posrix commented on #54368
Just change node:16-alpine3.15 to node:16.16.0-alpine3.15 and it solved, I think this is related to [https://github.com/yarnpkg/berry/issues/4778#issuecomment-1223990088](url)

[2022-08-28 15:04] #54368 closed

[2022-08-28 20:01] orlandoortegajr commented on #54166
Hi @JoaoSilvaGrafana , can you assign this one to me I have started working on this issue.

[2022-08-28 20:47] marwin1991 commented on #49988
waiting for this fix/features  too :)

I have spotted on more issue, when arc__ is equal to 1 it is not rendering color, when it is 0.999999 the color is correct

[2022-08-28 21:16] nonsavant commented on #38849
Why did this get closed @dprokop? I have the same problem, for a graph with integer results the automatic labelling of the y-axis is whack.

[2022-08-28 23:40] orlandoortegajr commented on #54221
Starting working on this one as well...

[2022-08-29 07:07] nothub commented on #53248
My use case for this is just a small one. In a dashboard that is monitoring a single target, I was trying to enhance the queries readability by following the DRY principle and moving the count of cores to a variable.

[2022-08-29 07:42] mikkancso commented on #50753
This issue is quite outdated and is not necessary in its current form. Closing...

[2022-08-29 07:42] #50753 closed

[2022-08-29 07:57] karlstav commented on #23674
just stumbled upon this issue myself, the solution as mentioned in the duplicate thread is to add an option to enable [symlog](https://mathworks.com/matlabcentral/fileexchange/57902-symlog).

Then you can set a range (like 0-1) to be plottet lienarly.

The implementation might be out of scope of this aplication, but it would be very nice.

like in this graph when the value drops to 0 the line diss

[2022-08-29 08:12] mroach opened #54376 "Histogram unit gets applied to Y-axis (bucket counts)"
**What happened**: Setting the **Unit** on a Histogram affects both the X _and_ Y axes.

**What you expected to happen**: For the unit to only affect the X-axis

Applying a unit to the Y-axis in a histogram doesn't make sense since it's always showing a count.

**How to reproduce it (as minimally and precisely as possible)**:

1. Create a new histogram
2. Set the Unit to something like currency or

[2022-08-29 08:22] svennergr opened #54377 "Logs: Add the rest of Feature Tracking"
In https://docs.google.com/spreadsheets/d/1ooDULJ0uiwpbsNEoB9a7kD01FhpjVx76JKuMwYol03M/edit#gid=0 we described places which are interesting to track.
Those items which are not marked done should be done with this issue.

[2022-08-29 08:23] svennergr opened #54378 "Query Builder: Remove Beta Tag from Query Builder"
At some point/release we should remove the beta tag from the Loki Query Builder.

@ivanahuckova what do you think about this?

[2022-08-29 08:24] yaelleC opened #54379 "Azure Monitor: Integration test for HTTP header handling"
add an integration tests like it is done for prometheus in https://github.com/grafana/grafana/blob/main/pkg/tests/api/prometheus/prometheus_test.go

to make sure headers are correctly sent.

for more details see https://github.com/grafana/grafana/issues/54314

[2022-08-29 09:21] mdvictor commented on #54192
Determining what should be done on zoom will be discussed further but is not a priority for the beta release.

[2022-08-29 10:37] fridgepoet commented on #54338
Hi @disfluxly

I went from a panel in Grafana v8.4.7 to v9.0.5 and wasn't able to "lose" the dimension key as you showed.
What specific version of Grafana 8 did you upgrade from?

[2022-08-29 11:03] academo commented on #54267
@tolzhabayev I talked offline with @zsofiakomaromigrafana and she says we can go ahead and remove the link. her team will work on combining server admin and config later.

[2022-08-29 11:45] kylebrandt commented on #53443
Another discussion on this https://github.com/grafana/grafana/discussions/38226

[2022-08-29 12:10] grobinson-grafana commented on #53349
Hi! 👋 Like Armand said it would be interesting to know the number of dimensions and the volume of data that is being returned. You can run Grafana with profiling (use `-profile`), take a sample of the heap via the debug server (http://127.0.0.1:6060/debug/pprof/), and then visualize the heap as a flame graph with `go tool pprof -http=:8082 heap.out`.

[2022-08-29 12:26] daniellee opened #54387 "search: poor match on dashboard name with multiple words"
When searching for dashboard titles, partial matching on multiple words does not find obvious matches. The whole second word has to be typed before the search returns a good match.

**What happened**:

I am searching for a dashboard with multiple words in the dashboard title and I  have to type the whole second word before I get a match.

An example from play.grafana.com. I am looking for the dash

[2022-08-29 12:44] grobinson-grafana commented on #54016
Hi! 👋 What I mean is, in the screenshot above, there is an existing row with an `org_id` of `32`. It sounds like Grafana was attempting to insert a different row with the same `org_id`, instead of updating the existing row.

[2022-08-29 12:44] tolzhabayev commented on #54267
Documentation that needs updating:
- https://grafana.com/docs/grafana/latest/administration/plugin-management/#plugin-catalog
`"Grafana server administrators can find it at Server Admin > Plugins."`
- Same doc as above, there is a screenshot: https://grafana.com/static/img/docs/plugins/plugins-catalog-browse-8-1.png
- Same doc as above, the video https://grafana.com/docs/grafana/latest/administrat

[2022-08-29 13:20] axelavargas commented on #54326
Hey @SovnSkyrim 👋🏾 , thank you for reporting this issue, I am able to reproduce it, I will add it to our backlog and we will prioritize in the future :)

[2022-08-29 13:24] ifrost commented on #54323
We have a dashboard for query history: "Grafana feature tracking / Query history"

[2022-08-29 13:24] #54323 closed

[2022-08-29 13:41] yaelleC opened #54391 "Cloud Monitoring: Add Integration test for HTTP header handling"
Add an integration tests like it is done for prometheus in https://github.com/grafana/grafana/blob/main/pkg/tests/api/prometheus/prometheus_test.go

to make sure headers are correctly sent.

for more details see https://github.com/grafana/grafana/issues/54314

[2022-08-29 14:11] GuillaumeCavelier commented on #42957
It seems that contact points should now be declared in `/alerting` and not `/notifiers`

[2022-08-29 14:26] grobinson-grafana commented on #54096
Hi! :wave: Below is the SQL statement that we use to update the state for an alert instance:

[code]

In the case where there is more than one alert, or dimensions of a single alert in an evaluation, Grafana will execute this SQL statement for each alert instance. This means that when Grafana is run in HA it is possible that the different instances of Grafana will attempt to update the alert state

[2022-08-29 14:26] #53005 closed

[2022-08-29 14:29] #51185 closed

[2022-08-29 14:29] #54094 closed

[2022-08-29 14:36] connorlindsey commented on #49988
Hi @marwin1991, could you open a separate issue for the node arc color issue? Thanks

[2022-08-29 14:54] bohandley commented on #50639
Annotations are [merged](https://github.com/grafana/grafana/pull/53856), moving onto the query builder. PThe plan for migrating the query builder is [here](https://docs.google.com/document/d/1HQ5xb8VZ0EKMgLtkacem1x5tJWjrD2Zs5lk81pz38Eo/edit#), it is a WIP. I will be adding testing scenarios as I work on the code.

[2022-08-29 15:25] hairyhenderson commented on #54242
Looks like we can, and pretty easily too! However, it would break metrics compatibility (a few names would change, labels would be added).

I think what I'd like to do is go through a deprecation cycle for the current metrics, and add the `sqlstats` wrapper as a feature-flagged option.

[2022-08-29 15:52] drew08t opened #54401 "Geomap: Custom tile layer duplicates"
When modifying layers, XYZ (custom tile) layers appear to duplicate multiple times.

![Image](https://user-images.githubusercontent.com/60050885/187242536-a21ccada-015f-4a29-b48e-cb29348f3cd0.gif)

[2022-08-29 15:56] drew08t opened #54402 "Geomap: Changing options locks up"
When changing options for either map controls, data source, or field for a layer, under certain circumstances (will attempt to replicate bug below), these options are locked and unable to be changed or cleared out.

[2022-08-29 15:58] camathieu opened #54403 "Missing Fromalert and X-Cache-Skip HTTP headers since v9.1.0"
**What happened**:

After upgrading to v9.1.1 we noticed that the `Fromalert` header we use to route Prometheus alerting queries was not added to the requests anymore.

Grafana 9.0.7 :
[code]

Grafana 9.1.0
[code]

**What you expected to happen**:

Fromalert and X-Cache-Skip Headers are added to alerting queries requests

**How to reproduce it (as minimally and precisely as possible)**:

Upgrade f

[2022-08-29 15:58] drew08t opened #54404 "Geomap: Improve location editor"
Provide the user with more informative errors when selecting incompatibly formatted data sources.

[2022-08-29 16:16] traeu commented on #53198
I think I had a similar problem here.
I normally only use the relative time option on all my panels and hide the time picker on every dashboard.
Today I added a new dashboard, added some panels with relative time options, but noticed that the panels had the time span that was set in the picker and not the relative time I customized for every panel. After enabling auto-reload I can see the right ti

[2022-08-29 16:38] leeoniya commented on #23674
see also https://github.com/grafana/grafana/issues/7627#issuecomment-778713077

[2022-08-29 17:15] DeMurlot commented on #48141
I have run into the (presumably) same issue on (dockerised) Grafana 8.4.3.

My issue was fixed by upgrading to 9.1.1

Regardless, here are some things that I noticed during troubleshooting before I tried upgrading the Grafana version.
datasource: mysql
plugins: -
Having a look at the requests my browser sends to my Grafana instance, I noticed that the POST request to `/api/ds/query` with the expre

[2022-08-29 17:56] hoerup commented on #50820
@supilee why was this closed? Is the lead identified and fixed ?

[2022-08-29 17:57] leeoniya commented on #50820
we're pretty confident that the linked PR fixes the reported issue, please test with https://grafana.com/docs/grafana/latest/release-notes/release-notes-9-1-1/ and we can reopen if the problem persists.

[2022-08-29 17:59] supilee commented on #50820
@leeoniya please update the comments as discussed

[2022-08-29 18:16] amy-super commented on #52276
We decided to revisit this decision.

- Because of the groupings in the IA, we run into some real weirdness with leaving conceptual categories out of the breadcrumbs. For example, Synthetic Monitoring’s Settings page would have a breadcrumb trail of Home > Settings.
- It won’t be a huge amount of work to auto-generate landing page
- But we’d have to make a plan for how to handle plugins which don’

[2022-08-29 18:18] amy-super opened #54407 "Look at "you are here" indicator for category landing page"
Now that we will have landing pages for categories, we'll need to take another look as how it works in the 2nd left navigation - in particular how the orange "you are here" indicator works with the alignment.

[2022-08-29 19:07] txjmb commented on #54034
@MatheusBeniniF, I agree with @gelicia .  It should have the same behavior as it did before this was broken.

[2022-08-29 19:26] stephane-pham-shift opened #54409 "Trace to logs, span start and end shift"
**What happened**:
Using Trace from logs feature with a span start and end shift doesn't work.
I use Tempo 1.5 and Grafana 9.1.

**What you expected to happen**:
Use span start and end shift allows me to jump from trace to logs with a timestamp having the value of start and end shift.

**How to reproduce it (as minimally and precisely as possible)**:
- Go to Tempo datasource
- Go in Trace to logs

[2022-08-29 20:17] MattDodsonEnglish opened #54411 "Docs: "Edit this page" leads to GitHub 404"
**What happened**:

I found a small format issue on the "Sharing" topic of the main Grafana docs ([related PR](https://github.com/grafana/grafana/pull/54408)).

But, when I selected **Edit this page**, the anchor went to a GitHub 404. I had to search for the text to find where the file actually ws.
All child topics in "Sharing" also have a broken edit link.

**How to reproduce it (as minimally and

[2022-08-29 20:41] mmusenbr opened #54413 "UI: Alerting Rule View: 'Created' timestamp of alert is displayed in UTC"
**What happened**: The 'Created' timestamp of an alert in the unified alerting UI which is firing does not match the local time, but UTC (even if browser timezone is used, and not using UTC). See attached screenshot.

**What you expected to happen**: Created timestamp is displayed in local time.

**How to reproduce it (as minimally and precisely as possible)**:
- Make sure that grafana timezone se

[2022-08-29 20:53] mmusenbr commented on #54413
I opened a PR addressing this issue: #54414

[2022-08-29 20:55] gtk-grafana commented on #33487
Yeah @alanprot those features appear to be returned from the Mimir API right now, but we don't seem to have feature detection for the other flavors (yet). I'm currently trying to find out if the Mimir api has always supported this change as well or if we'll need to support the old usage for certain versions for Mimir as well.

And agreed, we're going to want to make sure this is well documented.

[2022-08-29 21:10] gtk-grafana commented on #33487
Actually it looks like Mimir has always supported this API since launch (2.0.0), so we should be good to make this change for all Mimir datasources, but I'll make sure to test that.

[2022-08-29 21:13] #53499 closed

[2022-08-29 21:32] #54354 closed

[2022-08-29 21:43] santihernandezc commented on #51575
@armandgrillet I don't think this is related to improving the experience around templating. @JohnnyQQQQ correct me if I'm wrong, but I think this is more about having the same functionality we have now but available for other parts of the system, not just templating.
Another thing would be to make all template functions available both in alert creation and contact points. That would be a huge impr

[2022-08-29 22:29] maxdraki commented on #53198
@traeu - good find! I think that's worked for me. I'll keep an eye on things and if it doesn't work I'll post back here. Thank you

[2022-08-29 23:37] reyjrar opened #54418 "Alerting: Cannot retrieve all alerting rules via API"
**What happened**:

I'm building an integration for the Grafana Unified Alerting platform.

Missing in the `provision`-ing API that I think is the "right" way to manage Rules in the alerting engine:

1. `GET /api/v1/provisioning/alert-rules` - Dump all the rules currently provisioned so we can get UIDs and figure out if we need to create or update an existing rule.
2. An API to CRUD **Silences** -

[2022-08-29 23:50] mellieA commented on #54367
@szerwi it looks like there's a discussion and potential fix for this one. Closing in favor of https://github.com/grafana/grafana/pull/52855

[2022-08-29 23:50] #54367 closed

[2022-08-30 00:11] mellieA commented on #54409
Can you share a screenshot of how it looks and note how you would expect it to look?

[2022-08-30 01:41] PrestonTaylor commented on #6053
I have yet to see an argument on how a user wouldn't be able to use percentiles accurately. The only reason so far is that "most time series have aggregation" Well, what if mine doesn't? What if it doesn't matter in my use case? There is nothing inherent about Grafana or any of its' data sources that requires a time series to be aggregated in any way. Users could misuse any one of dozens of statis

[2022-08-30 07:23] zenzedoon commented on #48504
Hello , i resolve this issue by migrate the database from the built in Sqlite3 to a dedicated database on Mysql ( i create a dedicated server for that) .
The problem was on the performance of sqlite wghich can not support the big number of query .
So if somone has the same issue think to do the migration.

[2022-08-30 07:24] zenzedoon commented on #48504
Hello , i resolve this issue by migrate the database from the built in Sqlite3 to a dedicated database on Mysql ( i create a dedicated server for that) .
The problem was on the performance of sqlite wghich can not support the big number of query .
So if somone has the same issue think to do the migration.

[2022-08-30 07:24] #48504 closed

[2022-08-30 07:25] hoerup commented on #50820
Just checked with a colleague - this is not solved with 9.1.1 - it is still consuming a steadily increasing amount of memory

[2022-08-30 07:26] academo opened #54422 "Navigation: Remove `admin/plugins` redirection"
After the Server Admin plugins navigation link was removed a redirection was kept in place for grafana 9.x. This should be removed for Grafana 10.

Related PR https://github.com/grafana/grafana/pull/54386

[2022-08-30 07:29] theo416 opened #54423 "Annotation-List HTML Content"
**Steps to reproduce**:
Create Annotation with a href(a)-Tag and Switch to Annotation List.

**Actual Result**:
The href-Tag is displayed like this: `<a href="http://Server/otherContent">Link-Text</a>` (In raw HTML)

**Expected Result**:
A clickable Link like [Link-Text](http://Server/otherContent).
On the trend panels, hovering over an annotation already displays it correctly.

And same for other

[2022-08-30 08:01] axelavargas commented on #50665
⏸ On hold: until https://github.com/grafana/grafana/pull/50560

[2022-08-30 08:30] #54331 closed

[2022-08-30 08:58] nopa607 opened #54427 "How enter new line in setting-variables-constant"
i try to add a new line by \n or \r\n ,but in text block, when i use ${text}, it doesn't work.
can gafana make it ?

[2022-08-30 09:15] nmarrs commented on #53500
Testing on latest `main` this issue seems to be resolved - likely as a result of #54348

[2022-08-30 09:15] #53500 closed

[2022-08-30 09:26] JoaoSilvaGrafana commented on #54170
Hey @gefgu sure, assigned it to you! Thanks for helping 😄  I will try to review the PR today 🙏

[2022-08-30 09:28] #52718 closed

[2022-08-30 09:29] JoaoSilvaGrafana commented on #54161
Hey @Pomierski sure, assigned it to you! Thanks for helping 😄 I will try to review the PR today!

[2022-08-30 09:32] JoaoSilvaGrafana commented on #54166
Hi @orlandoortegajr thanks for helping with a lot of these tasks, assigned this one to you as well! Will try to get it reviewed today 😄

[2022-08-30 09:52] kalleep commented on #53995
Hey, we merged a fix for this https://github.com/grafana/grafana/pull/54208. Going to check if we want to backport to 9.0.x and 9.1.x

[2022-08-30 10:34] #52556 closed

[2022-08-30 10:45] simPod opened #54434 "Timeseries axis leaks from its container"
**What happened**:

The lowest number on the Y axis is not visible

<img width="814" alt="image" src="https://user-images.githubusercontent.com/327717/187417296-30d999f1-ccc3-4da6-88f9-ba6ee9a49429.png">

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

**Environment**:
- Grafana version: fc348e62796db7d748f032c3ef079656e3fb379d
- Data

[2022-08-30 10:51] osg-grafana commented on #54411
Closing, due to duplicate of https://github.com/grafana/technical-documentation/issues/349.

[2022-08-30 10:55] aangelisc commented on #53563
Hi @kaushall, did you manage to record a video? I've pushed an update to the flow so the metric descriptors API shouldn't be called multiple times anymore. That should be released this week and may solve the issue you were seeing!

[2022-08-30 11:01] ve4eslav commented on #54159
The request is executed correctly and headers are transferred only when the datasource is created/tested.
But when a request is made on the dashboard or even to the "Explore", then all the headers are deleted.

when creating a datasource
[code]
when a request is made in the "Explore" section
[code]

My workaround for now is this, but it's not a production solution:

`grafana/pkg/services/query/que

[2022-08-30 11:22] osg-grafana commented on #54411
Reopening so that there is more visibility to the public about this issue; the `technical-documentation` repo is private, and some of the details about the root cause of this and fix might otherwise be hidden from the public.

[2022-08-30 11:25] RakeshG1 commented on #53931
Hello @zuchka,

Sry for the delay in response. Sure will try to gather and share Grafana logs ASAP

[2022-08-30 11:58] dsotirakis opened #54440 "Nightly builds: Publish one nightly Grafana version per day"
**What happened**:

Currently we publish a `nightly` version every time we merge to the `main` branch. We need to create a cronjob to run nightly, to upload only one nightly Grafana version per day.

[2022-08-30 12:39] pf26 commented on #39431
+1 Please..

[2022-08-30 12:39] murtazaqa opened #54441 "Plugins Catalog: Unable to filter plugins using special characters"
**What happened**:
Plugin having name as "Graph (old)" was not shown in the list as soon as the search string had "(" character

**What you expected to happen**:
It should show "Graph (old)" plugin

**Environment**:
- Grafana version: v9.0.2

[2022-08-30 12:50] mxmorin opened #54442 "[9.1.1] Alerting - Url in annotations are not clickable in Teams notifications"
**What happened**:
When you create a rule with a field containing a url in the annotations, the field is clickable in the UI but not in the Teams notification

**Rule** :
![image](https://user-images.githubusercontent.com/58942529/187440591-a1905b91-5091-4f37-a4c0-b2fb2a1a8f9c.png)

**UI** :
![image](https://user-images.githubusercontent.com/58942529/187440443-54418cc3-1d3f-4311-ad94-0644a0d4471b.

[2022-08-30 12:51] axelavargas opened #54443 "Dashboard: Unsaved changes prompt is displayed with no changes when editing a panel"
**What happened**:

When we save a dashboard from Panel Edit, if we move away from the dashboard the "Unsaved changes prompt" is displayed with no changes.

https://user-images.githubusercontent.com/239999/187440895-5468461f-9b42-4237-a823-d3908c20656d.mp4

**What you expected to happen**:

It should not be displayed with zero changes

**How to reproduce it (as minimally and precisely as possible)

[2022-08-30 12:55] ivanortegaalba commented on #16543
This is the PR which reverts the changes https://github.com/grafana/grafana/pull/53521

[2022-08-30 12:57] MartykQ commented on #16420
+1

[2022-08-30 12:58] mactat opened #54444 "Fix Container Image Vulnerabilities"
**What happened**:
[CVE-2022-32189](https://nvd.nist.gov/vuln/detail/CVE-2022-32189) is still present in current docker image build. Packages built using golang need to be rebuilt once the golang version is updated. I suggest using newer version of golang docker image as a go-builder.

**What you expected to happen**:
Vulnerability not present in an image.

[2022-08-30 12:58] tolzhabayev opened #54445 "Plugin Schema - Adjust version and grafanaDependency regex"
Adjust plugin.schema.json regex patterns.

To fix:
- https://github.com/grafana/grafana/blob/main/docs/sources/developers/plugins/plugin.schema.json#L149 should also match minor versions >= 10 e.g. `>=8.4.10` (Possible regex to fix it `^(<=|>=|<|>|=|~|\^)?([0-9]+)(\.[0-9x\*]+)(\.[0-9x\*]+)?(\s(<=|>=|<|=>)?([0-9]+)(\.[0-9x\*]+)(\.[0-9x\*]+))?$`)
- https://github.com/grafana/grafana/blob/main/docs/s

[2022-08-30 13:12] sknaumov commented on #25623
I've prepared PR (#53768) to support annotations as a data source for the new table, but without this feature my changes are useless, as annotations often contain multi-line text.

[2022-08-30 13:18] chri2547 opened #54446 "Clarify Cloud AzureAD OAuth setup"
A customer has reported feedback on https://grafana.com/docs/grafana-cloud/authentication-and-permissions/authorization/#configure-oauth-with-microsoft-azure-ad for Cloud AzureAD OAuth setup.

He stated the configuration of permissions (Step 10) is not as clear regarding the requirements for groupMembershipClaims, like you see in [this documentation](https://grafana.com/docs/grafana/v9.0/setup-gra

[2022-08-30 14:16] svennergr opened #54448 "Loki: Ad-Hoc filters are added to the wrong place in query"
**What happened**:
Since the update of @lezer-common in https://github.com/grafana/grafana/pull/50866 the LogQL parser will result in wrong positions for empty stream selectors. Even though this was noticed in https://github.com/grafana/grafana/pull/50866, we oversaw implications of that. One implication is that ad-hoc filters are added at the wrong place in the query.
I.e.: [https://play.grafana.

[2022-08-30 14:31] usmangt commented on #54441
Hi @murtazaqa,

Thanks for opening this issue.

I have tested this on https://play.grafana.com/ and it seems that if I press enter the first time after e.g. writing  "Graph (old)"  without quotes, it does not show the result.

But if I just press enter a second time, it shows it.

Is it the same phenomenon in your case too?

[2022-08-30 14:33] #54427 closed

[2022-08-30 14:37] ArturWierzbicki opened #54450 "Search: check the performance of indexing large dashboards"
https://raintank-corp.slack.com/archives/C13QEUGLB/p1661495951007729?thread_ts=1661250400.532999&cid=C13QEUGLB

test the performance with dashboards that are e.g. 4, 8, 16mbs - both the db retrieval and the indexing time

[2022-08-30 14:42] tolzhabayev opened #54452 "Deprecate https://grafana.com/docs/grafana/latest/packages_api/"
We would like to remove api-extractor script(s) that we use in our CI/CD to generate the [API Reference](https://grafana.com/docs/grafana/latest/packages_api/) page in our docs. This area is currently not really useful for developers internally as well as externally and only adds to confusion around documentation.

In the future we want to have a solution that is adding value to developers reading

[2022-08-30 15:11] ArturWierzbicki commented on #41049
Done in https://github.com/grafana/grafana/pull/41090 but its still under a feature flag

[2022-08-30 15:11] #41049 closed

[2022-08-30 15:14] ArturWierzbicki opened #54463 "Live: remove the `live-service-web-worker` feature flag"
Options:

1. Remove the flag and use webworker by default
2. Remove the flag and the webworker implementation
3. Remove the flag, keep both implementations, move the configuration to `defaults.ini` ("promote web worker to stable")

TODO: measure the performance diff

[2022-08-30 15:16] nmarrs opened #54464 "Canvas: Refine element duplication"
While addressing https://github.com/grafana/grafana/pull/54462 I noticed that our element duplication behaves differently for elements with the following constraint options: center, scale, and top & left / left & right

Ideally duplicating an element results in the duplicated element being offset by 10 down and to the right

[2022-08-30 15:18] bohandley commented on #53927
We are working on reproducing this issue currently, thank you!

[2022-08-30 15:19] #51189 closed

[2022-08-30 15:21] adrapereira opened #54465 "Tempo: Cache autocomplete values for tags"
We're [performing a request](https://github.com/grafana/grafana/blob/61c433d37e2f4860e15d2323f3312ba5c6b3ea30/public/app/plugins/datasource/tempo/traceql/autocomplete.ts#L107) to the Tempo API for each tag name to get the possible autocomplete values `/api/search/tag/${tag}/values`. To avoid adding excessive load to the server let's cache the values in a map inside the `CompletionProvider` where t

[2022-08-30 15:27] #53498 closed

[2022-08-30 15:28] adrapereira opened #54466 "Tempo: Map TraceQL intrinsic names to tag names for autocomplete"
We have a set of predefined intrinsic names [defined here](https://github.com/grafana/grafana/blob/61c433d37e2f4860e15d2323f3312ba5c6b3ea30/public/app/plugins/datasource/tempo/traceql/autocomplete.ts#L22). However, since some of these don't match an existing tag name we don't offer any autocomplete options. Together with the Tempo team we found that some of them could be mapped to existing tags.

[2022-08-30 15:35] disfluxly commented on #54338
Hey @fridgepoet  - We were on 8.5.10.

I've also since done some more testing, and I discovered the JSON changes that seem to break it. However, I can't seem to always recreate this, as it appears some Cloudwatch Panels that have gone through the upgrade came out just fine, while others have issues. I'm not entirely sure why, but I'm wondering if it's perhaps a bug from a much previous version tha

[2022-08-30 15:35] kaushall commented on #53563
Hi @aangelisc

Yes I've recorded the video but didn't uploaded because you've already made the changes by that time. And yes I'm eagerly waiting for this release :)

Thank you so much for your efforts.

[2022-08-30 15:38] murtazaqa commented on #54441
@usmangt

Firstly, it should filter as I start typing. When it encounter special character e.g., "graph (", the filtered plugins don't return any value.

Secondly, when I hit enter to actually search then it handles the escape characters correctly and I can see filtered plugins.

[2022-08-30 15:46] kalleep commented on #53793
Seems like the authorize fallback handlers in https://github.com/grafana/grafana/blob/main/pkg/services/correlations/api.go#L21-L30 is miss configured. I can make a fix for that tomorrow

[2022-08-30 16:06] josephthanaraja opened #54469 "Do we have free plugin for PDF or Excel downloads?"
**Steps to reproduce**:

**Actual Result**:

**Expected Result**

**Relevant WCAG Criteria:** [#.#.# WCAG Criterion](link to https://www.w3.org/WAI/WCAG21/quickref/?versions=2.0)

**Environment**:
- Grafana version:
- Data source type & version:
- User OS & Browser:
- Others:

[2022-08-30 16:18] #52380 closed

[2022-08-30 16:42] bboreham opened #54472 "Timeseries panel switches showLegend to true"
**What happened**:

Dashboard is generated as JSON with `showLegend: false` [here](https://github.com/grafana/mimir/blob/cacd7593458475964391ce27acf2f3059d290a6c/operations/mimir-mixin-compiled/dashboards/mimir-writes.json#L655-L679)

When I load it into Grafana the legend is visible.  If I go into Settings / JSON Model it flips to `true`:

[code]

**What you expected to happen**:

Legend should s

[2022-08-30 16:50] napstr commented on #53833
I'm also hitting this.
@mellieA can you please share what the new correct way to add Github OAuth users to a Grafana organization is? I can't seem to find a working combination of config values.

[2022-08-30 17:08] disfluxly commented on #54338
To help our users, I put together a very quick (and dirty, don't judge me) script that they can run against their dashboard json to fix this problem. I'll leave the script here in the event it helps anybody else:

[code]

[2022-08-30 17:47] hameedshk commented on #19483
this problem exists in v9.0.5 and it took almost a month to figure out. I replicated by creating two instance of sql server , one named istance and another default. Connection string with default works but for named instance it fails as it contains '\' character. Adding another \ character doesnt work. Really stuck on this for very long , I dont have any clue on how to proceed.

[2022-08-30 17:56] torkelo opened #54485 "BarChart: Color by values and new data getting wrong colors"
Looks like the Barchart with value mappings that define are not updating the color when the data changes. (

Escalation: https://github.com/grafana/support-escalations/issues/3754

Test with the dashboard below, but add some more rows.

![Screenshot from 2022-08-30 19-53-00](https://user-images.githubusercontent.com/10999/187508839-4970237f-1423-46df-8df3-60a134fe913b.png)

Adding some rows, they

[2022-08-30 18:43] Edoz77 opened #54494 "Alert List doesn't have "Normal" state from Prometheus Datasources"
**What happened**:
Alert List plugin doesn't show "Normal" state from alerts directly upload on Amazon Managed Prometheus.
![Alert List](https://user-images.githubusercontent.com/17069089/187517048-fd5ec9c4-fa10-4cad-bfc4-fd674689b097.png)

**What you expected to happen**:
Alert not in Firing mode too.

**How to reproduce it (as minimally and precisely as possible)**:
- Setup an Amazon Managed Pro

[2022-08-30 18:45] jalevin commented on #53617
https://github.com/grafana/grafana/pull/54336

[2022-08-30 19:07] leeoniya commented on #50820
@hoerup is this happening in a streaming or non-streaming dashboard? can it be reproduced by doing manual/rapid data refreshes using random walk data from the built-in TestData datasource?

does manually triggering the GC reclaim the memory back to the original size?

![image](https://user-images.githubusercontent.com/43234/187521661-ca8c3d9e-250a-4bc8-8865-b878f47cc004.png)

memory leaks are unfo

[2022-08-30 19:17] obetomuniz commented on #53927
Hot update: I was able to reproduce the issue locally. Now I'll be digging into the issue and fix investigation.

Also, thanks @Elfo404, for suggesting the potential problem source. I'll be checking this in deep too.

[2022-08-30 19:39] Rushmed commented on #53992
Issue also occures in 9.1.2.

[2022-08-30 19:55] gtk-grafana commented on #33487
@alanprot So as I'm getting into Cortex I'm realizing that we're assuming that Cortex will always support the latest prometheus API changes (like the labels api change requested here), as we don't currently have any solution for checking the cortex version.

It looks like the grafana code currently checks to see if the `/api/v1/status/buildinfo` endpoint returns a 404, and then we label that datas

[2022-08-30 20:09] codeincarnate commented on #54485
#52038 was contributed to fix this. Unfortunately it breaks value mapping and so it was reverted. I believe a fix is needed that can work with both value mapping and the color fix.

[2022-08-30 20:30] #53632 closed

[2022-08-30 20:57] adela-almasan opened #54499 "Geomap: Panel's Go back button focused"
After today's `main` merge, the Go back button seems to be focused when hovering over the map. It seems to stop when you click on the options right pane.

https://user-images.githubusercontent.com/88068998/187541529-a0da5a98-6e9d-4716-aa8f-a4e1ca3b70df.mov

[2022-08-30 20:58] gefgu commented on #54210
@JoaoSilvaGrafana I would like to handle this issue. Thanks in advance!

[2022-08-31 01:02] joeblubaugh opened #54505 "Alerting: users should always be able to edit broken alertmanager configuration."
In Grafana Alerting there are some alertmanager configurations that are invalid or unparseable. In many cases the user is able to edit these broken configurations in the user interface until the config is valid.

However, there are still some cases where the configuration API will return a 500 error, or the backend will refuse to start up, because of broken configuration. Grafana should never cras

[2022-08-31 01:15] antonysouthworth-halter commented on #1959
this would be very handy for our use case where we are querying data from Athena.

Many of our tables use columns with the same names for partitioning, so we could use a standardised WHERE-clause expression that looks like this:

[code]

in one dashboard, I have created a variable called `$athena_partition_expression`, so e.g. I can use the following template in my panels:

[code]

in this example

[2022-08-31 04:08] vincentcsm0303 opened #54507 "Unable to Link and Manage the Graph(old) panel in Library Panels Page"
Hi,
I have an issue that upgraded to 9.1.2, I created few library panels, some of them are "Time Series" and some of them are "Graph(old)"

"Time Series" panel in library panel is working fine, but "Graph(old)" is unable to link and manage under library panels page, it's all grey out.

![image](https://user-images.githubusercontent.com/87968669/187592492-3692b68b-cd39-4926-b40b-a74989db6ff4.png)

[2022-08-31 04:49] reuvygroovy commented on #19483
This works for us: SQLServer\Instance:Port

[2022-08-31 05:15] auwaerter commented on #50841
Update

Still the same behavior with grafana 9.1.2

![image](https://user-images.githubusercontent.com/6923945/187597315-9d373849-c525-4bcd-b42e-c3d9dbb8941b.png)

grafana version 8.5.11 instead is working fine.

[2022-08-31 05:41] torkelo commented on #54485
@codeincarnate @oscarkilhed
When testing this I see that the function getColor
https://github.com/grafana/grafana/blob/main/public/app/plugins/panel/barchart/BarChartPanel.tsx#L229

The colorByField.values.get is returning undefined when it get's values for indices that was not part of the first render data. So the getColor function must be cached somehow and not updated on data updates.

[2022-08-31 05:56] hameedshk commented on #19483
Thanks for your valuable comment , now I get another error "login error:ms sql login failed for domain\hostname ". Looks like when I select windows authentication mode, hostname is appended as login instead of username. Browser and login is with the same user.

[2022-08-31 06:51] vincentcsm0303 commented on #54507
Update:
I was able to delete the grey-out elements in library panels by API

DELETE /api/library-elements/:uid

[2022-08-31 07:25] hameedshk commented on #19483
Finally I tried to run garafana.exe via explorer rather than as service and it works.

[2022-08-31 07:43] joey-grafana opened #54512 "Change trace span colors to stop using hex (of the name) for the color values"
From internal conversation:

"We've updated Grafana to 9.1.1 on the SE demo kit, but several SEs have pointed out (and I've also found) that the colour scheme that's been chosen for the set of traces we use are so dark as to be near invisible. It is currently early morning here, there's sunlight in the room I'm working in and honestly, that blue is so dark it's actually black. I literally cannot s

[2022-08-31 08:00] axelavargas commented on #53456
Reopening the issue as the problem is still present on Grafana v9.1.

cc @kaydelaney

[2022-08-31 08:01] gamab commented on #51189
Fix has been merged in main, backported to 9.1.x and 9.0.x. It will be available on next release (9.0.9, 9.1.3).
Thanks for reporting :slightly_smiling_face:

[2022-08-31 08:30] JoaoSilvaGrafana commented on #54210
Assigned it to you @gefgu , thanks again for contributing 🎉

[2022-08-31 08:32] Symbianx opened #54843 "Include the database type in the service graph metrics"
**Is your feature request related to a problem? Please describe.**
In v1.5.0 a new feature was added to include databases in the service graphs, which is something we were missing and really wanted.

However, it's not clear that the new nodes in the service graph are actually databases, which makes it very hard to understand.
This is especially true with redis databases as the databases are named

[2022-08-31 08:47] fridgepoet commented on #54338
@disfluxly Thanks for that, so thorough!

At least for the `queryType` `randomWalk` this seems to have been resolved in v9.0.6 by this fix https://github.com/grafana/grafana/pull/52759

[2022-08-31 08:48] ivanortegaalba commented on #54443
It seems we're using two different methods to detect changes in the dashboard. This creates inconsistencies at the UX level. We should use the same method in both places.

[2022-08-31 08:49] mc-em opened #54516 "Table panel header and footer in v9.1.1 is not fixed at the top and bottom of panel view when scrolling down"
**What happened**: I just recently upgraded to v9.1.1 and noticed that the Header and Footer of table panel also moved when I scroll down the panel. Please find below screenshot.

**What you expected to happen**: We expect it to be fixed at the top and bottom of panel view and always visible even when we scroll down/up just like on previous version in 8.4. (I did not check if same behavior in 8.5)

[2022-08-31 08:55] Pyttei commented on #53089
Hi @gabor,
Yeah that's what I was thinking too but I'm not sure how I could make the right query. If you have any suggestions I would love to try them out.

[2022-08-31 08:57] mdvictor commented on #52329
Closing this to clean the board a bit. Please reopen if needed.

[2022-08-31 09:28] leeoniya commented on #54434
may be fixed by https://github.com/grafana/grafana/pull/54197

will take a look later today

[2022-08-31 10:08] simPod commented on #54434
I have cherrypicked the commit but it does not fix it.

[2022-08-31 10:09] aangelisc commented on #53563
No worries at all @kaushall! I'm going to close this issue now and if anything comes up again feel free to create a new issue or comment on this one 😊

[2022-08-31 10:09] #53563 closed

[2022-08-31 10:19] #54170 closed

[2022-08-31 10:38] daniellee commented on #53927
The hands-on module "Module: Creating dashboard panels directly from Explore" in Grafana University for the "Add to dashboard" feature suffers from the same bug: https://university.grafana.com/learn/course/84/module-creating-dashboard-panels-directly-from-explore;lp=22

So might want to follow up with them to upgrade the Grafana version used in the tutorial sandbox once the bug is fixed.

cc @matt

[2022-08-31 10:38] joshhunt commented on #35631
Finally dig a bit of digging into this. It's standard browser behaviour to do a full page load when changing the `src` attribute on an iFrame. I'm not sure what Kibana is doing to work around this (if anything at all), and there are some hack we could do to try and detect this, but it would be unreliable and only work in certain situations.

If your iFrame is on the same origin as Grafana, you may

[2022-08-31 10:38] #35631 closed

[2022-08-31 10:42] #54161 closed

[2022-08-31 10:49] #52925 closed

[2022-08-31 12:37] thomasbromkapsdata commented on #47925
Hi,
I have the same issue.
I have more than 18 buckets but Grafana only see 18 of them.
When I set up the datasource it say "18 bucket found" and if I use "bucket()" in flux for a variable or whatever it is only 18.
However, I am able to query the shadow buckets (so it is an issue with bucket() but not a problem with the datasource itself)
More fun:
-if I delete a bucket in Influx, another one tak

[2022-08-31 12:37] academo opened #54524 "Grafana e2e: `run` command not finding the correct cypress configuration"
When running `yarn grafana-e2e run` an error message appears `Could not find a Cypress configuration file in this folder: /home/runner/work/grafana-plugin-examples/grafana-plugin-examples/examples/datasource-basic/node_modules/@grafana/e2e`

[2022-08-31 12:54] #54242 closed

[2022-08-31 13:09] oscarkilhed commented on #54485
@torkelo

Yes I did some quick investigation on this when we reverted a PR that caused another regression. I commented on it [here](https://github.com/grafana/grafana/issues/47297#issuecomment-1219109093) I think we're in agreement on what's causing it?

[2022-08-31 13:36] #54227 closed

[2022-08-31 14:10] sarm333 opened #54532 "Alert rule provision using Math returns error"
Apologies in advance if there was an oversight on how I provision the alert rule, but have really been stuck on this for a while.

**What happened**:

Cannot provision an alert rule with a basic math expression like "$A > 2", but can create an alert rule with the same expression through the UI. The following error is thrown when trying to provision the alert rule:

[code]

**What you expected to h

[2022-08-31 14:16] leeoniya commented on #54434
hmm, i cannot seem to reproduce this, even with your panel json. can you do a screen rec of setting the proper options and test data on play.grafana.org that shows it failing? :pray:

https://user-images.githubusercontent.com/43234/187700704-81f9aa8d-c3d6-459f-a0a0-11ee822a7c82.mp4

[2022-08-31 14:19] gelicia opened #54533 "Explore: Mixed Datasource followup"
This ticket addresses things brought up in the [PR](https://github.com/grafana/grafana/pull/53429) or elsewhere that we need to address in order to make mixed datasource in explore generally available.

[Definition of Done review](https://docs.google.com/document/d/1QRXdgI6spLHiskbQGNWr1wEhIROk2MwNcAsXC5ZaWm4/)

[code]

In the future we may consider adding more tracking to this feature, e.g. how l

[2022-08-31 14:24] #44438 closed

[2022-08-31 14:36] matyax opened #54535 "QueryFields/Input fields are broken in the recent Chrome browser"
Initially reported [here](https://raintank-corp.slack.com/archives/C13QEUGLB/p1661934429060559).

It seems that there are some inputs, or combination of inputs, that potentially cause cursor jumps/focus loss on the code editor.

Some examples both in Firefox and Chrome:

https://user-images.githubusercontent.com/1069378/187705345-3cc11c1f-12e1-407c-886b-74b59d81fbe5.mov

https://user-images.github

[2022-08-31 14:40] aknuds1 commented on #54535
It's also browser dependent. I'm not having this problem in MacOS (Chrome), nor in Firefox on Arch Linux. The one browser where I'm having problems is Chromium on Arch Linux. F.ex. if I type "na" into the query input using Chromium, the following text appears: `Enter a Loki query (run with Shift+Enter)na`.

Still in Chromium, if I type first an opening curly bracket, then "n", auto-completion adds

[2022-08-31 14:42] evandandrea commented on #45354
@Teuse apologies for not getting to this sooner. We're sweeping through unaddressed issues and wondering if you are still encountering this?

[2022-08-31 14:47] evandandrea commented on #32475
One idea raised by @itsmylife is that we could have a toggle to flip between table and text view.

@obetomuniz is going to dig into the current state of how these results are presented and follow up with @ivanahuckova for further clarity.

[2022-08-31 14:51] kminehart commented on #53551
I agree these should probably be removed.

But just to correct one statement:

The root dockerfile is not used in production. We package Grafana for Docker with the dockerfile in the `packaging/docker` folder. The root one is mostly a nice thing to have for people wanting to contribute to Grafana.

I believe the edge package referenced there was specifically to resolve a CVE at the time in OpenSSL

[2022-08-31 15:04] wdbdesign commented on #15465
This is happening to me as well, also on a raspberry pi running Chromium in kiosk mode.
Since folks continue to run into this issue, can we reopen it?

[2022-08-31 15:11] #53617 closed

[2022-08-31 15:36] santihernandezc commented on #46094
@codesome after some [discussion](https://raintank-corp.slack.com/archives/C028MCV4R7C/p1661874059386559) on Slack we think a better alternative would be to make Reduce the default instead of Classic Conditions, which are only there for backwards compatibility reasons.
A redesign of the expressions pipeline is on the way, and there's the idea of supplementing this choice of making Reduce the defau

[2022-08-31 15:52] Telokis opened #54542 "[Panel/Stat] Sparkline graph is irrelevant when stat value is high (> 200k)"
**What happened**:

Sparkline is unusable when stat value is high.
It makes it look like there are enormous spikes but the lack of y-axis/hover prevents me from figuring things out.
There is no way for any user to know what the spikes mean, making the graph completely useless.

![image](https://user-images.githubusercontent.com/6382729/187721213-6bbb491b-0cc1-4977-9650-3576c691be4e.png)

**What yo

[2022-08-31 15:54] codeincarnate commented on #54129
Hmm, it may be that the values are actually different under the state. I'm _think_ we're merging by underlying values here as opposed to the transformed threshold value. It's tricky because for all all the other visualizations there's potentially some differing behavior here. I'll take another look and see if that might be the case here.

[2022-08-31 16:17] drew08t commented on #54401
Has to do with attribution change event.

[2022-08-31 16:32] drew08t commented on #54401
Actually, only appears to occur when measure tools are active.

[2022-08-31 16:32] codeincarnate commented on #54192
There is an open question of what we should do regarding annotations. We may want to want for a later beta to do it though. I think there may be code written to support annotations for the barchart that could make it work but I'm not 100% sure.

[2022-08-31 16:48] drew08t commented on #54401
Not just restricted to XYZ layers. Whatever layer is added immediately after enabling and opening measure tools experiences this behavior.

[2022-08-31 16:49] gelicia commented on #54160
@MatheusBeniniF sorry for the delay - are you asking how to add a stat panel in Grafana? You would create a new dashboard, add a panel, and select "Stat" in the top right

<img width="342" alt="Screen Shot 2022-08-31 at 11 47 09 AM" src="https://user-images.githubusercontent.com/1533128/187734534-5852b177-759b-4eff-8197-3bd9f6082318.png">

[2022-08-31 17:08] svennergr commented on #54535
I noticed, that this is not only the case for the code-editor but also other input fields. In my case it was the `derivedFields` URL input.

[2022-08-31 17:40] alanprot commented on #33487
* Is the labels API with match always supported in all versions of Cortex? (i.e. can we release this particular change for all cortex clients?)

* Is there a better way to check the cortex flavor? Is there an API we could be using?

* How do we want this to work long term? Mimir gives us an array of feature flags in the buildinfo api endpoint which is the best solution (for us) I've seen, but I'm

[2022-08-31 18:06] 08d2 commented on #51222
I'm seeing this problem in Grafana v9.0.1.

[2022-08-31 18:25] MatheusBeniniF commented on #54160
No, I ask how to add the panel like this
![image](https://user-images.githubusercontent.com/88898100/187752138-f7771f1c-1b90-41c6-84b1-07940f3cc005.png)

[2022-08-31 18:40] gtk-grafana commented on #33487
* Seems only cortex v1.8.0 introduced the `match[]` parameter on the `labelValues` api

I'm now thinking it would be better to ignore the version/flavor detection for this issue and just fall back to the old API after trying the new one, and then worry about defining the buildinfo api requirements for feature flags as a long-term goal to get better support between Grafana and Cortex/Mimir/Thanos.

[2022-08-31 18:42] gtk-grafana commented on #33487
Ugh, no I forgot

[2022-08-31 18:50] #54347 closed

[2022-08-31 18:55] adela-almasan opened #54550 "Unable to use toggles in panel options"
**What happened**:
On the latest `main` the toggles from the options panel don't seem to work as they should. Trying to toggle will scroll to the first (?) toggled element.

Looks like the issue was introduced in https://github.com/grafana/grafana/pull/54400

Seems to be reproducible in all the panels.
(This also created some additional bugs in Geomap - the Back button is always focused when the t

[2022-08-31 19:04] leeoniya commented on #51222
yeah, that PR wasn't merged till after 9.0.1 was out: https://github.com/grafana/grafana/releases/tag/v9.0.1

[2022-08-31 19:12] #52886 closed

[2022-08-31 19:14] mwoodson-coinbasecloud commented on #54535
This is happening to me on MacOS, Chrome 105.0.5195.52.  Yesterday this wasn't happening, I updated chrome, and now it's happening.  Not sure if it's related, but it's bugging!

I type chars in, and it "ends" (like you would hit the end key, goes to the end of the line) and then other weird characters start appearing.  Very strange.

[2022-08-31 19:23] santihernandezc opened #54552 "Alerting: make "Reduce" the default instead of "Classic Condition""
Currently, the default type of expression when creating an alert is `Classic Condition`, which exists mostly for backwards compatibility reasons but doesn't preserve labels from Prometheus queries.

By changing this default to `Reduce` we make sure that labels are preserved just like in Prometheus (see [related issue](https://github.com/grafana/grafana/issues/46094)). This helps us being [Promethe

[2022-08-31 19:28] mmandrus opened #54553 "Add UI button for secret store plugin migration"

[2022-08-31 19:29] mmandrus opened #54554 "Refactor secrets kvstore to better isolate sensitive Public functions"
Some internal implementation functions in the secrets plugin code had to be made public in order to better organize the package. It might be worth finding a way to protect these, possibly by creating a new provider with these functions that must be explicitly imported.

[2022-08-31 19:36] santihernandezc commented on #46094
I just opened an [issue](https://github.com/grafana/grafana/issues/54552) to make "Reduce" the default option. Closing this one.

[2022-08-31 19:36] #46094 closed

[2022-08-31 20:39] asimpson commented on #54300
I believe this should be labeled for @grafana/user-essentials since the env parsing happens before the config gets to the azure monitor. I'm happy to continue to run this down but I wanted to make sure it had the right label.

[2022-08-31 20:44] alexweav opened #54556 "Alerting: Incompatibilities with database - AWS RDS, `aurora_mysql` backend"
**What happened**:

A user observed some 500s when using Grafana against AWS RDS, on the `aurora_mysql` backend.

After enabling database logging, the SQL statement that emitted the failure was logged as:
[code]
taken from `store/alertmanager.go` in unified alerting.

This failed with the error:
[code]

It seems that subquery aliases do not work on RDS's `aurora_mysql` backend. This same statement

[2022-08-31 20:54] krzysion commented on #54129
From version 9.1,x the option Merge equal consecutive values does not work, example:
https://play.grafana.org/d/8jRyQ13Mz/1-new-features-in-v8-0?orgId=1&viewPanel=65

[2022-08-31 21:20] outinspace commented on #54535
This started happening for me today.

MacOS 12.5.1.
Chrome Version 105.0.5195.52 (Official Build) (x86_64)

I didn't experience this on Firefox.

[2022-08-31 21:25] adela-almasan opened #54557 "Upgrade moveable to latest version"
Upgrade moveable and test with the latest Selecto. [#54548](https://github.com/grafana/grafana/pull/54548)

[2022-08-31 21:37] WilliamCassanova commented on #54086
Out of curiosity is this issue actively being investigated or do I need to make a change to my deployment to allow these dashboards to appear?  Logging in as my Grafana admin user still works but I would prefer not to have to share that same set of credentials to a large team.  I had hoped a possible fix would have been included in https://github.com/prometheus-community/helm-charts/releases/tag/k

[2022-08-31 21:41] zuchka commented on #54418
just verifying that you are using these endpoints:

Here are the newest stable API endpoints for provisioning Grafana alerts:

https://editor.swagger.io/?url=https://raw.githubusercontent.com/grafana/grafana/main/pkg/services/ngalert/api/tooling/api.json

also:
See this thread for using Grafana's newest stable Alerting API:

https://community.grafana.com/t/alert-provisioning-the-newest-stable-api/

[2022-08-31 21:44] zuchka commented on #54369
please verify that you are using the newest endpoints:

Here are the newest stable API endpoints for provisioning Grafana alerts:

https://editor.swagger.io/?url=https://raw.githubusercontent.com/grafana/grafana/main/pkg/services/ngalert/api/tooling/api.json

[2022-08-31 21:51] #54469 closed

[2022-08-31 21:52] zuchka commented on #54469
you can download panel data in the excel flavor of csv documents.

PDF reports are an enterprise feature:

https://grafana.com/docs/grafana/v9.0/enterprise/export-pdf/

[2022-08-31 21:56] zuchka commented on #54472
@grafana/backend-platform I'm moving this to your board but it might belong elsewhere, like with the Dashboards squad. Please move as needed 👍

[2022-08-31 22:00] #54507 closed

[2022-08-31 22:04] modulitos commented on #36153
Very excited about this progress :tada:

Does this mean that the Grafana Terraform provider is ready to support unified alerting as well?

I noticed in the [comment above](https://github.com/grafana/grafana/issues/36153#issuecomment-1087597922) that "rules", "contact points", and "notification policies" aren't yet implemented:

![screenshot_1661983114](https://user-images.githubusercontent.com/420

[2022-09-01 02:07] baur commented on #54129
This is exactly the kind of data under the state

[2022-09-01 02:11] baur commented on #54129
also not works **Value mapping**

![image](https://user-images.githubusercontent.com/2898361/187817474-7e4b8439-8e8a-4cbc-aa2f-fd58299e94b8.png)

[2022-09-01 02:20] yylbfyl commented on #53833
I'm also met the issue in 9.1 version , does anyone can fix it ?

[2022-09-01 02:52] leeoniya commented on #54542
this is a good point. i think the current logic doesnt require large values for this behavior. it simply uses the data min and max for the range.

https://github.com/grafana/grafana/blob/530dd63ac62fac5d5f5a4ece3081db0f9ceb6709/packages/grafana-ui/src/components/Sparkline/Sparkline.tsx#L96

starting at 0 would be problematic if you have values below and above zero. we could potentially draw a dash

[2022-09-01 03:09] ftoledo commented on #448
+1

[2022-09-01 03:23] honganan commented on #54535
I caught this too. In MacOS, after upgrading Chrome to 105.0.5195.52（Official Build） (arm64). I received user reports then I tested, before upgrading it's ok, and after upgrading it acts like this video shows. Safari works alright, not sure how it happends.

[2022-09-01 05:19] mwennrich commented on #54535
same on Ubuntu (latest Chrome)

[2022-09-01 05:26] Teuse commented on #45354
Thanks for coming back to this issue. Unfortunately, I don't have time to check if the issue still exists.

[2022-09-01 05:36] Tonio101 commented on #2418
was this implemented?

[2022-09-01 06:46] chrs-myrs opened #54562 "Rendering issue with area over bars"
**What happened**:
I tried to put a line chart on top of a bar chart by using a second axis and style overrides and got a strange rendering issue.  It fills the area below the line in bars.
![image](https://user-images.githubusercontent.com/2414664/187849067-7f4834df-491b-4fd0-90a6-9f2839e16a5b.png)

**What you expected to happen**:
When enabling opacity on the line chart I'd expect it to have a s

[2022-09-01 06:59] chrs-myrs commented on #54562
This is perhaps related, but the tooltip value for the chart does not match the axis (a sum aggregation).  It's named wrongly here and is actually a target response time.  I believe the tooltip is correct and the axis scale is wrong.
![image](https://user-images.githubusercontent.com/2414664/187850285-5ae03e30-f93d-4364-8687-b1a2a7d02136.png)

[2022-09-01 07:11] jongyllen commented on #54444
Hi, can you please specify what image and what tool is used?
Trivy against latest grafana does not give this CVE for me

[2022-09-01 07:19] konrad147 commented on #54344
General question, how old Prometheus versions we are supposed to support? Prometheus 2.14 is almost 3 years old

[2022-09-01 07:40] stephane-pham-shift commented on #54409
Hi,
This is the time range when I jum
![Screenshot 2022-09-01 093929](https://user-images.githubusercontent.com/100566208/187859302-78decc27-8711-4d0a-b015-7bfee6a26947.png)
p from log to trace.
I would expect this to honor the start/end shift time I put in the datasource (tempo).

[2022-09-01 08:02] joeblubaugh commented on #54556
The Grafana-supported databases are listed here: https://grafana.com/docs/grafana/latest/setup-grafana/installation/#supported-databases

RDS/MySQL isn't officially supported, but we can look into whether re-writing this query would be enough to avoid the issue. We should check for any subquery aliases we can find, while we're at it.

[2022-09-01 08:16] jongyllen commented on #54444
Ah, I understand it is in go 1.17.12 and not the container base image. We will bump this in a future release. It is already in the plans to bump that eventually when everything is tested and aligned.

[2022-09-01 08:53] #54295 closed

[2022-09-01 09:12] wiardvanrij commented on #54556
AWS claims (and to be really honest, I believe them, unless we are suddenly the only ones doing this?) that they are 100% compatible with MySQL. So, I'm actually going after that and figure out if it is even an AWS RDS issue. That said, when I saw the query, I was questioning if that is the nicest query we could do.

[2022-09-01 09:13] matyax opened #54565 "Deprecated Elasticsearch version displayed in Settings page"
Reported [here](https://raintank-corp.slack.com/archives/C03PMJLVC67/p1661968608665469).

We are still showing a deprecated version in the datasource settings page, which we need update.

![Image](https://user-images.githubusercontent.com/1069378/187878018-c343cedf-504c-4a8b-8bbc-b9ab5cbbc2bf.png)

[2022-09-01 09:28] #44446 closed

[2022-09-01 09:42] cedsana commented on #54542
Maybe we could add a bit more configuration options to the sparkline?
Letting users configure the y axis could make the sparkline more attracive

[2022-09-01 09:45] torkelo commented on #54542
@Telokis not sure I understand your issue? why not just specify min: 0  (under standard options)  if you want the y-axis to start at zero.

If you want y-axis tick labels your better of using time series panel (graph). Could see an feature request there to add a "big stat" option to overlay a big number ontop of a graph

[2022-09-01 09:45] #54542 closed

[2022-09-01 09:46] wiardvanrij commented on #54556
Ok, I did some testing. It only gave me more questions, but perhaps it helps.

[code]

Then I migrated the DB from AWS RDS into a native MySQL database using the latest image from mysql:

[code]

Exactly the same result.

So then I would think if the query is altered into:

[code]

It should work? (note the replace from `T.*` to `B.*` and the addition of `as B` on the end.

Yet I'm more curious on

[2022-09-01 09:59] Telokis commented on #54542
Thanks, I didn't know about the `min: 0`. I can't try right now but it might do the trick.

However, I still think this issue is relevant. The Sparkline graph doesn't give enough information for it to be anything more than a purely aesthetic feature.
That's not necessarily a problem but it would be nice to mention it somewhere.

You say I should use a time series panel but I simply thought I could

[2022-09-01 10:03] #54210 closed

[2022-09-01 10:15] mactat commented on #54444
Yeah, that's it. Thanks!

[2022-09-01 10:29] #53793 closed

[2022-09-01 10:38] joshhunt commented on #54550
@adela-almasan Are you able to consistently reproduce this? I got it to happen once, but never again.

@polibb would you like to check if this is related to your change?

[2022-09-01 10:48] joshhunt commented on #54550
Managed to reproduce it fairly consistently.

Focus a text field, scroll the text field out of view, then try and interact with a toggle (or any other control?). It might work fine on the first click, but breaks after that.

https://user-images.githubusercontent.com/46142/187895830-5ed52216-3629-452a-8bc6-fb181f8cfa3e.mp4

[2022-09-01 10:58] torkelo commented on #54542
@Telokis stat panel is for big numbers, the sparkline is just there for aesthetic and to provide a small amount of context / trend

[2022-09-01 11:14] lucagouty commented on #54535
same here, wasn't happening yesterday, MacOS Chrome `105.0.5195.52`

[2022-09-01 11:15] dprokop commented on #46493
@polibb - reopening because of https://github.com/grafana/grafana/issues/54550

[2022-09-01 11:19] wbrowne opened #54571 "Plugins: Core plugins requesting invalid logos"
**What happened**:
![image](https://user-images.githubusercontent.com/1173299/187901671-a4d90571-f3ff-4c4d-8167-23a83ab33dc6.png)

**What you expected to happen**:
Requests should probably not happen or images should be valid

This has happened as a result of the recent introduction of plugin schematization

[2022-09-01 11:20] mdvictor commented on #54192
From what I've seen the annotations work on timeseries because this is what the API when saving/retrieving them from storage. I might be wrong but I did not find any non-timeseries panel that works with annotations.

Another argument as to leave this for later is that there are other panels that do not have annotations functionality (e.g: heatmap, status history, bar chart)

Imo this is not a prio

[2022-09-01 11:41] svennergr commented on #54535
Thanks for your feedback, which we highly appreciate.

We narrowed down the issue and are working on a bugfix.

[2022-09-01 11:52] piotrp opened #54574 "Invalid dashboard UID in the request error on custom home dashboard"
**What happened**:

I set custom home dashboard using `default_home_dashboard_path`, now when entering Grafana I see an error in UI: "Invalid dashboard UID in the request"
![obraz](https://user-images.githubusercontent.com/1409807/187906130-b11a15ac-1cad-4c71-bc9d-695a18228376.png)

**What you expected to happen**:

No error

**How to reproduce it (as minimally and precisely as possible)**:

docke

[2022-09-01 12:08] nessita opened #54575 "Docs: Incorrect link to "Creating a systemd service to manage the agent""
**What happened**: Following the documentation published at https://grafana.com/docs/grafana-cloud/quickstart/noagent_linuxnode/ I tried to follow links for "Creating a systemd service to manage the agent" to configure node_exporter as a daemon in my system, but the link took me to the same page I was in.

**What you expected to happen**: When clicking on the link, I should have been taken to http

[2022-09-01 12:31] torkelo opened #54577 "Support custom empty variable"
Customer uses OSS and has a commercial plugin subscription where they have custom interfaces that leverage various types of panels and queries. When an 'empty' or 'null' template variable query is run in the panel, their dashboards don't work since Grafana doesn't handle this correctly. This previously returned an error, which we remedied but still don't handle.

<p></p>

<https://github.com/grafa

[2022-09-01 12:31] torkelo commented on #54577
Link to feature: https://grafana.productboard.com/feature-board/planning/features/9033825

[2022-09-01 12:39] sakjur commented on #54300
Tested this with this configuration and it seems to work for me:

[code]

the CERTIFICATE environment variable contains an OpenSSL certificate

[code]

I also generated another incompatible certificate and put it into the variable to verify that my configuration is applied, and with that certificate my connection is rejected.

Do you get error messages in Grafana's server logs or anything like tha

[2022-09-01 12:42] #54550 closed

[2022-09-01 12:46] ahurtaud opened #54578 "Snapshot dropdown disabled - Makes dashbaord as code validation with snapshot worst?"
**What happened**:
With the merge of https://github.com/grafana/grafana/pull/52827
We are unable to select dropdowns on snapshots (which were working for our setup...)

We followed a presentation done at PromCon in order to generate a snapshot with dashboard as code to validate pull-requests "visually" on top of code changes. See https://youtu.be/kV3Ua6guynI?t=413

By disabling dropdowns on snapsh

[2022-09-01 12:55] joshhunt opened #54579 "Grafana and Dashboard data sources show missing icon"
**What happened**:

The `-- Grafana --` and `-- Dashboard --` data sources show a missing image in the data source picker.

![image](https://user-images.githubusercontent.com/46142/187917763-e7df0e87-988d-45c7-a86d-6c1efc9bf6f0.png)

 Inspecting the `<img />` tag shows it's trying to load a "TODO" image which doesn't seem right

![image](https://user-images.githubusercontent.com/46142/187918452-36

[2022-09-01 13:00] #54577 closed

[2022-09-01 13:13] ahurtaud commented on #54029
Hello,
Maybe this is a more general issue. In our grafana instance, we see sometimes that null value are replaced by 0, even on Explore !
![Screen Shot 2022-09-01 at 14 55 19](https://user-images.githubusercontent.com/25080995/187922433-d0a75bf1-8f08-404b-bcff-bc39ded08011.png)
![Screen Shot 2022-09-01 at 14 55 29](https://user-images.githubusercontent.com/25080995/187922459-8b1d1a0a-8634-4489-acb

[2022-09-01 13:46] #54579 closed

[2022-09-01 13:47] y0zg opened #54602 "Grafana loki search tab stopped working properly for typing queries starting from chrome Version 105.0.5195.52"
When you type in Grafana Loki query `{app="something"}` it will show you in chrome as `{a}pp`
Not sure whether this is Grafana / Loki or chrome (most probably) issue (it is not reproducable with Prometheus queries)

Issue is reproducible in chrome Version 105.0.5195.52 , but isn't reproducible in lower versions
<img width="734" alt="Screenshot 2022-09-01 at 16 45 10" src="https://user-images.githu

[2022-09-01 13:50] matyax opened #54584 "Loki: Query Variable Editor improvements."
Follow up to https://github.com/grafana/grafana/issues/52380.

As suggested by @svennergr, we will attempt to read label names from the datasource response, and provide those values to the user in a select field in the form, replacing the current plain text input.

[2022-09-01 13:50] hugosxm commented on #45803
I feel that this feature is much needed in the case of the gauge graph. This way you can define all thresholds and maximum dynamically. For exemple in a monitoring dashboard you have a selector variable with the hostname of the machine you want to see. If you use the variable in every query you will have a dynamic dashboard for all your hosts, but the size of ram of hardisk may not be the same. Th

[2022-09-01 13:53] #54445 closed

[2022-09-01 14:00] tolzhabayev commented on #54571
@wbrowne git pull, verify it was fixed by https://github.com/grafana/grafana/pull/54580 and close this issue?

[2022-09-01 14:03] zeroone82 opened #54587 "Repeat by variable not working correctly with InfluxQL editor"
@bohandley update
**Description:** With InfluxDB InfluxQL, [repeating a panel](https://grafana.com/blog/2020/06/09/learn-grafana-how-to-automatically-repeat-rows-and-panels-in-dynamic-dashboards/) with a template variable and enabling the influxBackendMigration interpolates all selected variables into the query for all repeated panels.
**Acceptance criteria:** Each repeated panel should only use o

[2022-09-01 14:08] #54571 closed

[2022-09-01 15:09] simonswine opened #58376 "Consider tree map panel"
[Tree map](https://grafana.com/grafana/plugins/marcusolsson-treemap-panel/) might make it easier to discover the meaning of a profiles' aggregate share by function without educating the user about how to read a flame graph or just a table.

![Screenshot of plugin](https://grafana.com/api/plugins/marcusolsson-treemap-panel/versions/2.0.0/images/img/screenshot.png)

A similar approach is implemented

[2022-09-01 15:19] ashharrison90 commented on #54279
done by https://github.com/grafana/grafana-enterprise/pull/3768

[2022-09-01 15:19] #54279 closed

[2022-09-01 15:19] ashharrison90 commented on #54272
done by https://github.com/grafana/grafana-enterprise/pull/3768

[2022-09-01 15:19] #54272 closed

[2022-09-01 15:27] svennergr commented on #54535
I am unsure about tweaks in Chrome itself and also unsure what they exactly changed, such that this is failing now. I will try to check on that.

You can follow the patch/change in this PR https://github.com/grafana/grafana/pull/54566. If that gets merged to `main` you can run your Grafana from that branch.

[2022-09-01 15:31] dominik-horb-umg commented on #53907
I was able to get this work with Ansible by setting this inside the `jsonData` field:

[code]

[2022-09-01 15:52] didier-booking opened #54594 "Wrong interval calculation if step count = 1"
**What happened**:

When using an interval variable with step count = 1 (the idea being to convert the currently selected time range into an interval
for use with the graphite `summarize` function), the calculated interval does not always match the selected time range, especiallly for absolute time ranges. This is causing calculation errors.

**What you expected to happen**:

If step count = 1 the

[2022-09-01 16:15] #54452 closed

[2022-09-01 16:32] timlevett opened #62391 "Epic: Public Dashboards - Password Protected"

[2022-09-01 17:27] h0jeZvgoxFepBQ2C commented on #53877
ahh ok I see, sorry, seems rancher is shipping a really old grafana installation then

[2022-09-01 17:49] matthewhelmke commented on #53927
Thanks for the tag! I'm tagging @rodrigofernandz since he will be doing the work for the upgrade when it's time.

[2022-09-01 19:17] dannykopping commented on #54602
I've transferred this issue because it relates to the plugin not the Loki database itself

[2022-09-01 20:02] gefgu commented on #54171
@JoaoSilvaGrafana I decided to work on this issue too. Can you assign it to me?

[2022-09-01 20:21] #53431 closed

[2022-09-01 20:23] timagixe commented on #54173
Hello @JoaoSilvaGrafana, I have opened PR, please take a look on it whenever you have a chance. Thanks!

[2022-09-01 20:28] timagixe commented on #54168
Hi @JoaoSilvaGrafana, could you please assign this to me? I am willing to help with it.

[2022-09-01 20:42] yaelleC opened #54605 "Fix Azure Monitor Adoption event: does not recognise ${ds} as azure"
Testing the new event now that 9.1.2 was released, I noticed that if we import a dashboard and save it, the event will not be triggered for the page.
However, if we manually update a `${ds}` to `Azure monitor` explicitly, then the event is called but counts only reflect the queries in the updated panel

[2022-09-01 21:24] timagixe commented on #51330
Hey @JoaoSilvaGrafana, I would like to help with `Add controls to UnitPicker story` and `Add controls to PanelChrome story`. Could you please create respective issues and assign them to me? Thanks.

[2022-09-01 21:57] fabio-silva opened #54609 "Grafana managed alert: new rule page crashes when typing only letter(s) for "Evaluate every""
**What happened**: When creating a new rule for Grafana managed alerts, deleting the "Evaluate every" field and typing only a letter will crash the page.

**What you expected to happen**: Probably a validation error after I try to submit, as happens with other combinations there.

**How to reproduce it (as minimally and precisely as possible)**: Go to `/alerting/new`, select Grafana managed alert,

[2022-09-02 01:45] codeincarnate commented on #54192
I've given some more thought to annotations and completely agree. I think they're important but a big and key change there is that it would be moving from 1D (linear) annotations to 2D (area) annotations. I'm sure the behavior will have to be different (i.e. how do we treat intersected annotations) so something to keep on the radar.

[2022-09-02 02:02] codeincarnate commented on #54192
Another thing I'm not sure about, I think "Centered Zero" here doesn't make sense necessarily (unless we're trying to center in both x and y perhaps). I suppose it's a bit of a philosophical question but probably worth discussing how it would work. This would presumably effect any higher dimensions visualizations as well.

[2022-09-02 06:00] helgeschreyer commented on #49469
So do you have any information regarding updating to the new version?

[2022-09-02 06:35] EivV commented on #18186
I have a case as well. There is a bucket-based graph that I'd like to see sorted naturally. The source data has no padding and is sourced alphabetically. That is fine.
![image](https://user-images.githubusercontent.com/45094143/188072742-0cff0838-9484-4073-8882-8d3b2359f4a2.png)

But when I apply either Transform with Regex or Override Display Name, the sorting does not change.
![image](https://us

[2022-09-02 08:02] didier-booking commented on #54594
(To clarify, this is when the interval variable is set to "auto")

Proposal for fixing: when the interval variable is set to "auto", always return the width of the selected time range in seconds divided by the number of steps.

[2022-09-02 08:10] sarm333 commented on #54532
Just to add, seems like it throws this error when using variables in the expression. Simply have something like "2 > 1" as the expression seems to work. Its when you combine something like "$A" within the expression

[2022-09-02 08:10] funfried commented on #54516
Exactly the same for me with Grafana 9.1.2 and Data source InfluxDB 2.4.0 running in the Grafana Docker container and viewing with latest Brave Browser on MacOS 12.5.1

[2022-09-02 08:25] Nichsen commented on #448
+1

[2022-09-02 08:29] tolzhabayev commented on #54422
I assume this one can be closed? @academo

[2022-09-02 08:30] #52739 closed

[2022-09-02 08:32] tomwennerstrom commented on #53908
Maybe this will help. I have the same problem with 9.1.0.

![image77](https://user-images.githubusercontent.com/112690250/188098791-bf2edc31-0f71-48b6-8a05-b93bab5eb3dd.png)

[2022-09-02 08:34] tolzhabayev commented on #34807
We are closing this issue as stale

[2022-09-02 08:34] #34807 closed

[2022-09-02 08:35] JoaoSilvaGrafana commented on #54171
Done it, thanks for picking another issue @gefgu 🎉

[2022-09-02 08:37] #54524 closed

[2022-09-02 09:14] JoaoSilvaGrafana commented on #54168
Thanks for already submitting a PR @timagixe ! I will try to have a look at this today 🎉

[2022-09-02 09:37] tolzhabayev commented on #42121
Relevant https://github.com/grafana/grafana/issues/33897

[2022-09-02 09:39] ivanahuckova commented on #54237
@gabor No idea. Considering that this is only incorrect highlight (query works as expected), and we know we want to migrate to monaco soon, I wouldn't spend time on this. Or we can make it `help wanted` issue and if this is very important for someone, they can pick it up.

[2022-09-02 10:05] #52773 closed

[2022-09-02 10:17] shipa988 commented on #54535
i have the same issue with Chrome 105.0.5195.52 от macOS 12.4

[2022-09-02 10:38] JoaoSilvaGrafana opened #54628 "Add controls to `PanelChrome ` story"
Add support for [controls](https://storybook.js.org/docs/react/essentials/controls) for the various props in a story.

[2022-09-02 10:39] JoaoSilvaGrafana opened #54630 "Add controls to `UnitPicker ` story"

[2022-09-02 10:40] JoaoSilvaGrafana opened #54631 "Add controls to `DatePicker` story"
Add support for [controls](https://storybook.js.org/docs/react/essentials/controls) for the various props in a story.

[2022-09-02 10:42] JoaoSilvaGrafana commented on #51330
Hi @timagixe thank you for helping out with these! I have created those tasks now, could you please comment on the tasks themselves when you want to pick them up and I'll assign you to them? 😄

[2022-09-02 10:49] tolzhabayev commented on #40588
Closed as done https://github.com/grafana/create-plugin#update-your-plugin-build-config

[2022-09-02 10:49] #40588 closed

[2022-09-02 10:52] tolzhabayev commented on #40574
Closing. `tsc` should be enough for now

[2022-09-02 10:52] #40574 closed

[2022-09-02 10:55] tolzhabayev commented on #17926
Closing in favour of pursuing federated modules https://github.com/grafana/grafana/issues/39961

If we decide to not go the federated modules direction we can revive this.

[2022-09-02 10:55] #54466 closed

[2022-09-02 11:12] timagixe commented on #54630
@JoaoSilvaGrafana please assign this to me, cheers 🙂

[2022-09-02 11:12] timagixe commented on #54628
Hi, @JoaoSilvaGrafana please assign this to me, cheers 🙂

[2022-09-02 11:13] Bassardes commented on #54602
Same. Reproducible only on chrome Version 105.0.5195.52

[2022-09-02 11:23] jackw commented on #37478
I'm still not sure about Bazel but you can customise the output path by creating a `webpack.config.js` in your plugin root folder and add the following:

[code]
When `@grafana/toolkit` is run it will pick this up and webpack will use the `output.path` defined in the example above as the "dist" location.

[2022-09-02 11:23] #37478 closed

[2022-09-02 11:32] shashank588 opened #54637 "Usage of Global variable in SQL query which is used while creating dashboard variable."
**What happened**: Unable to create dashboard variable using SQL query which contains a global variable. For example, I have tried to run the below query, Instead of returning a value, it returned NULL. I am able to get the values if I replace the global variable with a string.

`SELECT user_role FROM user_details WHERE user_email=${__user.email}`

**Environment**:
- Grafana version: 9.0.6
- Data

[2022-09-02 11:48] #52716 closed

[2022-09-02 12:58] ivanahuckova commented on #51230
I am closing this and instead I'll create individual issues for each files.

[2022-09-02 12:58] #51230 closed

[2022-09-02 13:01] dowben opened #54641 "Grafana "Origin Not Allowed" 403 Error"
**What happened**: Receiving an "Origin Not Allowed" 403 error when POST or PUT requests are made from the browser after upgrading from 7.5.7

**What you expected to happen**: Requests (such as query to CloudWatch datasource) to go through. Calls are working when made to the Grafana API manually from command line and do not contain the "Origin" header

**How to reproduce it (as minimally and preci

[2022-09-02 13:08] mildwonkey opened #54642 "update the gzip middleware to support omitted endpoints"
When gzip is enabled for Grafana, some data is being compressed (seeing dashboard loads compressed with gzip) but not requests to load variables/series that contain a lot of results.

The gzip middleware ignores certain api endpoints (https://github.com/grafana/grafana/blob/main/pkg/middleware/gziper.go#L51)

We should improve the gzip middleware to gzip things that 1. are not already gzipped and

[2022-09-02 13:19] faustodavid opened #54643 "[Tempo plugin] Tags box is broken in the latest version of Chrome and Edge browser"
**What happened**:
When trying to type a tag in the search tags box in the Tempo Datasource, it autocompletes whatever I try to write with a static value.

**What you expected to happen**:
When I start typing something in the search tags box, it should provide suggestions related to what I am typing but not override what I typed.

**How to reproduce it (as minimally and precisely as possible)**:
O

[2022-09-02 13:31] oscarkilhed commented on #54485
@codeincarnate @torkelo @leeoniya
I did some more research on this.

The [`getColor`](https://github.com/grafana/grafana/blob/a230439679ff129b0b56f9283a63047c3a28971c/public/app/plugins/panel/barchart/BarChartPanel.tsx#L229) function is set in [`preparePlotConfigBuilder`](https://github.com/grafana/grafana/blob/a230439679ff129b0b56f9283a63047c3a28971c/public/app/plugins/panel/barchart/BarChartPane

[2022-09-02 13:37] mildwonkey commented on #54642
There is more conversation in the [support escalation](https://github.com/grafana/support-escalations/issues/3770) thread (for internal folks).

[2022-09-02 13:42] ifrost commented on #52107
Related to https://github.com/grafana/grafana/issues/49333

[2022-09-02 14:03] ivanahuckova opened #54645 "Loki: Rename public/app/plugins/datasource/loki/language_provider.ts file to follow convention"
Some files that are maintained by logs squad have snake_case name. According to convention https://github.com/grafana/grafana/blob/765b995b1bcafe8b94d0bbe53737ea6c751d63c9/contribute/style-guides/frontend.md#file-and-directory-naming-conventions we should use:
- `camelCase` when the primary export is a function
- `PascalCase` when the primary export is a class or React component.

Rename following

[2022-09-02 14:07] ivanahuckova opened #54646 "Loki: Rename public/app/plugins/datasource/loki/language_utils.ts file to follow convention"
**Level: easy**

Some files that are maintained by logs squad have snake_case name. According to convention https://github.com/grafana/grafana/blob/765b995b1bcafe8b94d0bbe53737ea6c751d63c9/contribute/style-guides/frontend.md#file-and-directory-naming-conventions we should use:
- `camelCase` when the primary export is a function
- `PascalCase` when the primary export is a class or React component.

[2022-09-02 14:09] ivanahuckova opened #54648 "Loki: Rename public/app/plugins/datasource/loki/live_streams_result_transformer.ts file to follow convention"
**Level: easy**

Some files that are maintained by logs squad have snake_case name. According to convention https://github.com/grafana/grafana/blob/765b995b1bcafe8b94d0bbe53737ea6c751d63c9/contribute/style-guides/frontend.md#file-and-directory-naming-conventions we should use:
- `camelCase` when the primary export is a function
- `PascalCase` when the primary export is a class or React component.

[2022-09-02 14:09] svennergr commented on #54643
Hi @faustodavid,
thanks for creating the issue. This is a duplicate of https://github.com/grafana/grafana/issues/54535, thus I am closing this issue here.

[2022-09-02 14:09] #54643 closed

[2022-09-02 14:11] #52715 closed

[2022-09-02 14:11] ivanahuckova opened #54649 "Loki: Rename public/app/plugins/datasource/loki/live_streams.ts file to follow convention"
**Level: easy**

Some files that are maintained by logs squad have snake_case name. According to convention https://github.com/grafana/grafana/blob/765b995b1bcafe8b94d0bbe53737ea6c751d63c9/contribute/style-guides/frontend.md#file-and-directory-naming-conventions we should use:
- `camelCase` when the primary export is a function
- `PascalCase` when the primary export is a class or React component.

[2022-09-02 14:12] tolzhabayev commented on #29647
closing as stale

[2022-09-02 14:12] #29647 closed

[2022-09-02 14:12] ivanahuckova opened #54650 "Loki: Rename public/app/plugins/datasource/loki/query_utils.ts file to follow convention"
**Level: easy**

Some files that are maintained by logs squad have snake_case name. According to convention https://github.com/grafana/grafana/blob/765b995b1bcafe8b94d0bbe53737ea6c751d63c9/contribute/style-guides/frontend.md#file-and-directory-naming-conventions we should use:
- `camelCase` when the primary export is a function
- `PascalCase` when the primary export is a class or React component.

[2022-09-02 14:24] leeoniya commented on #54485
is the solution to re-run the `colorByField` matcher at the panel level https://github.com/grafana/grafana/blob/a230439679ff129b0b56f9283a63047c3a28971c/public/app/plugins/panel/barchart/utils.ts#L333

and then store it in something like a `colorByFieldRef`

https://github.com/grafana/grafana/blob/a230439679ff129b0b56f9283a63047c3a28971c/public/app/plugins/panel/barchart/BarChartPanel.tsx#L99

whi

[2022-09-02 14:35] mmandrus opened #54653 "Fatal crash in secrets migration when LockExecuteAndRelease fails to release"
Will Browne reported this error:
[code]

Most likely setup for this was pausing (with the debugger) in the middle of migration, then killing the process before the LockExecuteAndRelease function did the release. The next run, this happened.

Throwing an error is good, but it should not be fatal since the migrator runs regardless of if there are secrets. Maybe a big ugly warn instead.

[2022-09-02 15:26] S0ulHunt3r commented on #52556
Hi, i installed version 9.1.2 and the problem persists even in private mode. Do i have to change something in my configuration?
![image](https://user-images.githubusercontent.com/916396/188182659-d671fdca-3420-4f3e-9e95-0ab7d50670ec.png)

[2022-09-02 15:32] gannaramu opened #54654 "Units also show on Y axis Histogram Panel"
**What happened**:
The Unit is replicated on both axis on **Histogram panel**. which ideally should only be on the X axis and Y axis should show the count/density.

![image](https://user-images.githubusercontent.com/12237488/188183029-c1284f21-b5c4-461d-9707-6689eab46aa5.png)

**What you expected to happen**:
The Y axis should just show the count of occurrences and not inherit the unit on Y axis o

[2022-09-02 15:38] #31555 closed

[2022-09-02 15:39] tolzhabayev commented on #30132
closing as stale

[2022-09-02 15:39] #30132 closed

[2022-09-02 15:39] tolzhabayev commented on #35674
closing as stale

[2022-09-02 15:39] #35674 closed

[2022-09-02 15:42] tolzhabayev commented on #32742
closing as stale

[2022-09-02 15:42] #32742 closed

[2022-09-02 15:43] #36257 closed

[2022-09-02 15:55] tolzhabayev commented on #40057
Will be solved by https://github.com/grafana/grafana/pull/53174

[2022-09-02 15:55] #40057 closed

[2022-09-02 15:55] tolzhabayev commented on #47587
closing as stale

[2022-09-02 15:55] #47587 closed

[2022-09-02 16:01] zsofiakm opened #54659 "Adding additional metadata to results_clicked events in dashboard search"
The backend team is going to work on improving the relevance of search results. We would like to compare the performance of the legacy and new search engines, and it the near future, we'll also run A/B tests on different configurations of the new search engine.

To measure and compare the performance of these versions, we would like to add more metadata to relevant events.

**Given**
The two event

[2022-09-02 16:03] tolzhabayev commented on #53372
@ZuperZee it will be a part of `9.2.0`, but you can check the pre-build [9.2.0-77333pre](https://www.npmjs.com/package/@grafana/ui/v/9.2.0-77333pre) and see if it works.

[2022-09-02 16:07] zsofiakomaromigrafana commented on #54659
@ArturWierzbicki How can we differentiate between different versions of the search engine? For now it's just old search vs. new search which we know based on the feature toggle, but in the future, we might want to test different configurations.

[2022-09-02 16:11] JacobsonMT commented on #54442
From your screenshot it looks like Teams is recognizing a few URLs as hyperlinks and for some reason not recognizing the Kibana URL. We don't do anything special here to make those work, you might have to fiddle with your template to get Teams to correctly make it a hyperlink.

What happens if you put the Kibana annotation in its own line instead of in a list tag?

[2022-09-02 16:19] tolzhabayev commented on #52633
Blog post pending https://github.com/grafana/website/pull/9763

[2022-09-02 16:20] glebsam commented on #54602
Yep, since I've been on Chrome 105 (beta), I had to use builder-mode for queries

[2022-09-02 16:24] ivanortegaalba commented on #46672
Hi @dorianm, yes there is a way to work around this issue 😄 You can just disable the `user-event: none` with the dev tools for the library item.

![2022-09-02 18 24 30](https://user-images.githubusercontent.com/5699976/188197467-02acf0c0-6fe9-4227-a5de-5f538bca5109.gif)

[2022-09-02 16:25] nikitapecasa commented on #54535
@svennergr Hi 👋

I have one more important observation and a question.

- I'm getting the same chrome specific issue in Grafana v8.2.7 (d2cccfe91e), but interestingly enough not in v9.0.1 (14e988bd22).
- Would the fix be back-ported to 8.2.x? or only to 9.1.x?

In my case the issue in 8.2.7 is the same as @mwoodson-coinbasecloud described - query editor jumps to the end on each key press and weird

[2022-09-02 16:46] JacobsonMT commented on #50222
The field `intervalSeconds` is calculated and is not modifiable so it's being ignored. The correct field to use to modify a group's interval is the `interval` field at the top level (`"interval": "10s"`).

Closing for now, feel free to re-open if this did not fix/answer your issue.

[2022-09-02 16:46] #50222 closed

[2022-09-02 16:48] ZuperZee commented on #53372
Works like a charm.
![image](https://user-images.githubusercontent.com/39485579/188200544-94c62710-1467-46ff-8f5e-2bd6e37818b4.png)

One note. It requires the monaco editor build files. Which depends on the installed Grafana version. Image above is the main branch (commit: https://github.com/grafana/grafana/commit/d2bb72fb3c46aa7bab3250849bfee074de96cc77).

[2022-09-02 16:58] tolzhabayev opened #54663 "Epic: Error Response for Plugin Query API"

[2022-09-02 17:00] ZuperZee commented on #53372
@tolzhabayev another note.
You do not have to upgrade the Grafana UI version to get the fix. Only the actual Grafana server version.

[2022-09-02 17:02] tolzhabayev opened #54664 "Plugins: Add support for error plane and 207 in /api/ds/query"
Use the [errutil](https://github.com/grafana/grafana/tree/main/pkg/util/errutil) package for /api/ds/query.

Example usage:
https://github.com/grafana/grafana/blob/aee13563cefd5ce555115b8e1e90882b4ce7d733/pkg/models/shorturl.go#L9-L15

- [x] https://github.com/grafana/grafana/pull/54750

**Note:**
- Any HTTP 4xx returned from a downstream server indicates a client error so we should be able to ret

[2022-09-02 17:02] tolzhabayev opened #54665 "Support display/visualization of multiple data response errors in the UI"
The `error` property on the `DataQueryResponse` interface can only hold one data response error currently:
https://github.com/grafana/grafana/blob/8e4fa4046bcf373ca52a0bd382ed00664fd4bb81/packages/grafana-data/src/types/datasource.ts#L427-L444

The `toDataQueryResponse` function, used by the [DataSourceWithBackend class](https://github.com/grafana/grafana/blob/8e4fa4046bcf373ca52a0bd382ed00664fd4b

[2022-09-02 17:10] tolzhabayev commented on #44260
@marefr all the subtasks seem done?

[2022-09-02 17:25] drew08t opened #54668 "Geomap: Reordering layers removes measure layer"
When re-ordering map layers, measure vector layer is removed, so any measurements are not persistent.

![Image](https://user-images.githubusercontent.com/60050885/188206752-dfa5209d-6298-4118-a83f-31630d5d939d.gif)

[2022-09-02 17:53] #54401 closed

[2022-09-02 18:02] ssunny1081 commented on #54516
Exactly the same Issue for me with Grafana 9.1.2 using the latest Windows Chrome Browser

[2022-09-02 18:50] #54654 closed

[2022-09-02 19:20] ryantxu commented on #54668
I don't see any issue at all with this... seems totally fine.  The use case for using measure tool while editing is pretty slim to start with :)

[2022-09-02 19:30] adela-almasan commented on #54557
Fixed in #54559

[2022-09-02 19:30] #54557 closed

[2022-09-02 20:51] #53973 closed

[2022-09-02 22:36] sqkysqnt commented on #6511
Just ran into this problem. Off to find a work around because it seems grafana doesn't care about this issue

[2022-09-02 22:45] SunSparc commented on #40964
I just migrated database hosts and am seeing what appears to be the same issue. I have an instance of Grafana `v9.1.0` in two locations (old and new). I did a `mysqldump` of the existing database and imported it into the new database. As the new instance of Grafana was starting, several errors happened.

Here are some of the errors that seem most relevant:
[code]

It could be that the database dum

[2022-09-02 23:54] mellieA commented on #54562
@chrs-myrs please reopen if you find that you're still seeing these issues in the latest release

[2022-09-02 23:54] #54562 closed

[2022-09-03 00:13] mellieA commented on #54609
Thanks for reporting this, I tried it on version 9.1.2 and it looks like it's fixed. Please reopen if I missed a step

![Screen Shot 2022-09-02 at 6 10 28 PM](https://user-images.githubusercontent.com/18175287/188248024-5aa4dd03-41a6-4755-8190-01042c28286e.png)

[2022-09-03 00:13] #54609 closed

[2022-09-03 00:53] mellieA commented on #54494
I'm seeing something similar on play.grafana.org, only firing alerts are shown in the alert list, even though the filter is set to include the normal state:

Used the test alert panel at https://play.grafana.org/d/Kb2RgVQnk/alert-panel?orgId=1&refresh=5s&editPanel=2

![Screen Shot 2022-09-02 at 6 44 22 PM](https://user-images.githubusercontent.com/18175287/188249399-78a179e3-0d3f-48e0-a529-8f1e4ef

[2022-09-03 01:01] mellieA commented on #54578
@ahurtaud the queries for a snapshot cannot be re-executed, so the drop downs were removed so users wouldn't get the impression that they could be used.

Can you share more about your use case and how this was working for you before? Please include a video and the versions of grafana that you were using.

[2022-09-03 01:13] mellieA commented on #54532
@sarm333 another user had an issue with alerting interpreting the SQL statement that included ` $__timeEpoch(date_time)` in this issue https://github.com/grafana/grafana/issues/54369.

 Forwarding both to our alerting devs to get some insight about how to handle these use cases.

[2022-09-03 01:17] mellieA commented on #54369
@soukeiz529 I see you're using provisioned alerts with yaml files. I've seen another issue with interpreting special characters in the files, forwarding on to our devs to find out if this is expected.

[2022-09-03 01:19] mellieA commented on #54602
👋 This issue is fixed [here](https://github.com/grafana/grafana/issues/54535)

[2022-09-03 01:19] #54602 closed

[2022-09-03 06:35] syswombat commented on #54343
i would wish to have both 0 degree on the same level too
![ecff96b4fa9c611e1a8b61febfad9e4f91b6c68b](https://user-images.githubusercontent.com/3279451/188258984-2ae2a29b-eb45-4c17-a691-3da2c2a02b1b.png)

use grafana 9.1.1

[2022-09-03 07:05] #54637 closed

[2022-09-03 09:11] simo222 commented on #4470
Hi

Instead of hiding it, you can just minimize it.
Then it will take minimaal space on the dashboard
Or move it to the bottom.
I think you should always put an icon where the panel is hidden. With the icon you can always edit again.

[2022-09-03 11:15] ritubajaj89 opened #54680 "Error 1062: Duplicate entry '114-xxxxxxxx' for key 'UQE_alert_rule_org_id_uid'"
What happened:
I want to update grafana from v7.3.5 to v8.4.6, so I copied history data from our live environment, and then start grafana.
I upgraded grafana from version 8.4.2 to 9.1.0 without unified alerting. DB was cloned before upgrade. Now while trying to enable unified alerting I am getting below error:

level=error msg="Executing migration failed" id="move dashboard alerts to unified alert

[2022-09-03 12:02] TryTryAgain commented on #4470
Not really helpful when you have 300 items that are empty and only 14 with data and the fact that the data is variable. Hiding is not an option.

[2022-09-03 12:09] fabio-silva commented on #54609
@mellieA Are you sure about this? Because I checked the code on release-9.1.2 and it's the same, I still get the crash.

[2022-09-03 23:30] leeoniya commented on #54343
it looks like your temperature ranges are very similar in the first image. you can simply use a single axis in that case.

there is currently no cross-coordination between different y scales, so this is not super straightforward, especially with the additional y range control settings we currently support. i'm not aware of any charting lib that can synchronize specific values (like 0) within mixed

[2022-09-04 01:36] #53436 closed

[2022-09-04 03:16] SaigaGentil commented on #53908
Thanks @tomwennerstrom. That's exactly what I was describing. @zuchka, I hope that helps.

[2022-09-04 06:07] blueForestIcarus commented on #36416
This is still a problem

[2022-09-04 12:51] simPod commented on #54434
Ok thanks a lot for testing it.

It was caused by my modification where I removed panel header from lazy loading wrapper but forgot to subtract title height in the new panel component.

[2022-09-04 12:51] #54434 closed

[2022-09-04 17:11] rrey commented on #53995
Just tested with Grafana 9.1.2 and I have the same error:

[code]
$ curl -u admin:admin http://127.0.0.1:3000/api/datasources/name/datasource%2FElastic
{"message":"Data source not found"}
[code]

[2022-09-04 17:28] marwin1991 opened #54683 "Node Graph - node arc color bug"
**What happened**:
When there is one value of arc__** and set to 1.0 there is no color.

**What you expected to happen**:
When changed to f.e. 0.99999 color is correct.

![grafana_bug](https://user-images.githubusercontent.com/25181517/188325641-45947e7c-a750-48e4-8094-8341bb15db20.gif)

**How to reproduce it (as minimally and precisely as possible)**:
I have really complicated query, but you can

[2022-09-04 17:28] marwin1991 commented on #49988
@connorlindsey https://github.com/grafana/grafana/issues/54683

[2022-09-05 02:13] nguyencaochien opened #54685 "[UI] Missing legend when using grafana import to my website"
![chart in my website](https://user-images.githubusercontent.com/24190909/188346619-9fba1ea7-806a-4a3c-9125-79fc1e6a3941.png)
![chart in grafana admin](https://user-images.githubusercontent.com/24190909/188346622-cbfff67c-1dc7-46ed-95db-77ffe179bfa6.png)

**What happened**:
I'm import grafana chart in my website, but not show the legend (bottom). If i change bottom to right/table, it's ok. Only ha

[2022-09-05 06:21] joeblubaugh commented on #54556
What version of "native MySQL" are you testing with? We should be sure to test against the same version.

On MySQL 5.7.39:
[code]

The second query succeeds, and to my eyes matches the sub-query in the Grafana source code, so I don't think this is the root of the RDS issue.

[2022-09-05 07:26] #54441 closed

[2022-09-05 07:27] murtazaqa commented on #54441
Fixed in https://github.com/grafana/grafana/pull/54474

[2022-09-05 07:40] Jguer opened #54688 "Auth: Take into account `oauth_skip_org_role_update_sync` for locking down UI"
**What happened**:

With `oauth_skip_org_role_update_sync` enabled, the UI remains locked out for oauth causing existing flows to break

https://github.com/grafana/grafana/pull/52160#issuecomment-1231945457

**What you expected to happen**:

oauth parameters that are not synced to remain editable in the UI (role and such)

[2022-09-05 08:13] shubhamnyaik opened #54690 "Live Query Panel in Dashboard Crashing Browser"
Hello Everyone,

We have been facing issues with loki "live log" panel.
Once we disable the live log query panel in dashboard the data comes up fine.
Anyone knows how to correctly add live log panel in dashboard without crashing the dashboard.

Thanks
Shubham

[2022-09-05 08:21] osg-grafana commented on #41297
@jericvizmanos writes internally, ... for the [advanced variable format options page](https://grafana.com/docs/grafana/latest/variables/advanced-variable-format-options/#text) ... [How does one use] the key when setting up `key : value` pairs in custom variables. We were able to make it work with `${variable:text}`.

[2022-09-05 08:21] dannykopping commented on #54690
Transferred issue here since the grafana/loki repo deals only with the Loki database, and is separate from Grafana.

[2022-09-05 08:29] kalleep commented on #53995
Added a backport to 9.1.x so the fix will be included in the next 9.1 release

[2022-09-05 08:44] iameli commented on #54535
Getting this in both Brave and Chrome.

Brave:
Version 1.43.89 Chromium: 105.0.5195.102 (Official Build) (arm64)

Chrome:
Version 105.0.5195.102 (Official Build) (arm64)

[2022-09-05 09:39] marefr commented on #44260
There's still potential things left I think, but closing it for now.

[2022-09-05 09:39] #44260 closed

[2022-09-05 09:47] ovidiubuligan commented on #3227
**Violin plot** might be even better than box plot pannels :
https://en.wikipedia.org/wiki/Violin_plot
![image](https://user-images.githubusercontent.com/4757459/188420373-fd2f9369-13df-44cc-bd2d-92b4849de1cb.png)

[2022-09-05 10:13] usmangt commented on #54690
Hi @shubhamnyaik ,

Thanks for opening this issue.

Can you please provide some more details e.g. screenshots of the crash along with any error messages in the UI ?

Also, once this crash happens, do you see any error in the logs ?

Lastly it is important to mention the following details:

- Grafana version
- Loki ver.
- OS ver
- Browser name & ver
- If running in a containerized env. then all nam

[2022-09-05 10:19] mdvictor commented on #54129
Work in progress to fix weird duration behaviour

[2022-09-05 10:29] usmangt commented on #54685
Hi @nguyencaochien,

Thanks for opening this issue.

Can you please provide the steps of reproduction so that we can try to reproduce it on a test machine?

Thanks.

[2022-09-05 10:46] baur commented on #54129
good news, thank you!
what about **value mapping?**

https://play.grafana.org/d/8jRyQ13Mz/1-new-features-in-v8-0?orgId=1&viewPanel=65

![image](https://user-images.githubusercontent.com/2898361/187817474-7e4b8439-8e8a-4cbc-aa2f-fd58299e94b8.png)

[2022-09-05 11:05] shubhamnyaik commented on #54690
Hi @usmangt

Grafana Version: v8.4.1 (53f5c6a44)
Loki ver: 2.6.1
OS ver: 22.04 Ubuntu (my system version)
Browser name: Chrome Version 103.0.5060.53
Our observability stack is deployed via helm
Can you elaborate what info do you need from version perspective ?

Regards
Shubham

[2022-09-05 11:15] mdvictor commented on #54129
Hey @baur

Value mapping still needs to be looked over. But the duration issue will be fixed starting with v9.1.3

[2022-09-05 11:18] DWebb0 commented on #6252
+1 for network switching and an increasing number of IoT use cases

[2022-09-05 11:19] mdvictor commented on #54192
PR has been merged. We should be all good to bump this up to a beta!

[2022-09-05 12:04] matyax commented on #53134
This has been recently fixed.

[2022-09-05 12:04] #53134 closed

[2022-09-05 12:10] max-wittig opened #54703 "Cannot change OAuth Login method for existing accounts, Generic OAuth -> Gitlab OAuth"
**What happened**:

To take advantage of the Gitlab group login feature, we wanted to switch from our current Generic OAuth
configuration to the Gitlab OAuth integration, but instead we got hit with

<img width="430" alt="image" src="https://user-images.githubusercontent.com/6639323/188445126-4ee06179-79f1-4f2d-ba87-dd1b79353d4c.png">

and

[code]

After some analyzing, turn out that `new` account

[2022-09-05 12:27] ivanahuckova commented on #54641
Thanks for creating this issue,

there was a breaking change regarding headers and reverse proxies with grafana 8.3.6.

Here is the fix:

https://github.com/grafana/grafana/issues/45117#issuecomment-1033842787

and the new sample config in the docs:

https://grafana.com/tutorials/run-grafana-behind-a-proxy/#configure-nginx

[2022-09-05 13:00] ashharrison90 commented on #52285
@amy-super i've added the scroll indicators to the `MegaMenu`/`SectionNav` here: https://github.com/grafana/grafana/pull/54705

we can tweak the design of these (if we want to) later. i do think we should use them sparingly and keep the design fairly muted, because they create clutter if there's lots of them

[2022-09-05 13:03] pablozone commented on #53893
Hi, sorry for delay, (I was on holiday) I finally upgrade succesfully my grafana from version 8.5.11 to 9.1.2.
I have configuration in mariadb databases.
When I upgrade grafana binaries problem still exist, and datasources not working. I havent find any errors on grafana log

What I did next, I delete my grafana database. I create fresh new one,  and loaded shema from backup.
And then I upgrade gr

[2022-09-05 13:09] jcputter commented on #54535
will this fix to backported to 7.4.~ release ?, i have some old install with that along with 9.1.3...Firefox 104.0.1 seems ok but Chrome 105.0.5195.102 is broken

[2022-09-05 13:19] hanjm opened #54710 "tracesToMetrics: graph time range too short"
**What happened**:
I am using the experimal feature: tracesToMetrics, i found the span range is too short so that the graph is not looks good.
<img width="1803" alt="image" src="https://user-images.githubusercontent.com/7621241/188458612-0e876e9f-0bd4-45fe-ba7f-d9dd76ffe9a5.png">
**What you expected to happen**:
could we use the timeShift, like tracesToLogs?
**How to reproduce it (as minimally and

[2022-09-05 13:28] #53456 closed

[2022-09-05 13:35] marcosrogers commented on #14952
+1

[2022-09-05 14:06] adeverteuil opened #54713 "State timeline tooltip shows partial state range and duration"
**What happened**:

Using the state timeline panel, when mousing over a region, the tooltip shows the range and duration between the crosshair and the end of the region, instead of the range and duration between the start and end of the region.

Pointing the cursor at the very start of a region:
![Screenshot 2022-09-05 09-58-02 start](https://user-images.githubusercontent.com/3270755/188466859-c4d

[2022-09-05 14:23] ahurtaud commented on #54578
Hello @mellieA ,

As explained in the video, the dropdowns were working for our snapshots (tested in 9.0.5).
Here is a video record of our pipeline generating snapshot from our dashboards as code.

https://user-images.githubusercontent.com/25080995/188470376-9189c7aa-52c4-474d-b859-35bc5b744f70.mp4

below is the code sample we use to create the snapshots:
[code]

[2022-09-05 14:36] #54413 closed

[2022-09-05 14:44] sdboyer opened #54715 "codegen: More feedback during `make gen-cue`"
Currently, this is the (non-error) output produced by `make gen-cue` in the grafana/grafana repo root:

[code]

The commands themselves generate no ouptut - the little that's there is produced by `make` itself.

While i've generally ensured the code generators produce informative errors when they are encountered, i haven't done anything to make them informative about what they actually _are_ doing

[2022-09-05 14:45] #46672 closed

[2022-09-05 14:47] vickyyyyyyy commented on #53042
draft PR here: https://github.com/grafana/grafana/pull/54619

[2022-09-05 15:02] Jguer commented on #47451
Closing this issue for now, `oauth_skip_org_role_update_sync` should cover this use case for now

[2022-09-05 15:02] #47451 closed

[2022-09-05 15:10] roman-batrak-sp opened #54719 "Value bar is showing wrong load"
I have found that after Grafana update from 7.5.15 to 8.3.6 my dashboard is showing a wrong picture of disk utility load.
![Screenshot 2022-09-05 at 18 08 39](https://user-images.githubusercontent.com/93782091/188478608-ab924a05-9aff-4623-8098-6ca09cd88d8b.png)
 Here is one value that is red but according to the percentage, it must not. On Grafana's version 7.5.15 everything was correct.
Did anyon

[2022-09-05 15:29] ypnos opened #54721 "Series Selection in Time Series Panel clashes with "hide" overrides"
**What happened**:

I have a time series panel with overrides to hide specific fields ("begin" and "end"). Use cases:

1. Hide only in legend to remove clutter
2. Hide completely but use for data links

When I click on a series, it hides all other series but the selected one - in theory. In practice, it shows all other series in the legend in gray, including the ones configured for the panel. The

[2022-09-05 15:30] dorinand opened #54722 "Cannot write Log query in grafana in chrome"
**What happened**:
Log Browser query in Grafana explore does not work properly. Query completion or hints does not shows and cursor jumps from the middle of curly brackets to the end of the line. Even pressing only one character fill hint text into browser and pass character at the end.

1. Fill hint text and pass characters at the end of line:
![fill-hint](https://user-images.githubusercontent.co

[2022-09-05 15:37] ivanahuckova commented on #54378
I agree athat we should remove it before 9.2, ideally now. As we use 1 component for Loki & Prometheus, @grafana/observability-metrics would you be okay with removing beta badge from Prometheus query builder?

[2022-09-05 15:43] #54221 closed

[2022-09-05 15:54] #53725 closed

[2022-09-05 15:55] baileydoestech commented on #54722
Also seeing this issue with latest release of Chrome and Edge, seems to be ok in Firefox for now.

[2022-09-05 16:03] #53118 closed

[2022-09-05 16:25] #53133 closed

[2022-09-05 16:42] ZuperZee commented on #53372
Closing as this seems resolved on the main branch

[2022-09-05 16:42] #53372 closed

[2022-09-05 16:43] connorlindsey commented on #49988
Thanks @marwin1991!

[2022-09-05 16:48] sahnib opened #54725 "CloudWatch Logs - No results displayed if the last field queried is not a String"
**What happened**: Ran a CW logs query using Grafana. If the Logs query returns fields of type integer, Grafana does not display log results and just prints - `No Logs Found`. In the Network tab, I can see that the response for `api/ds/query` contains the log data - The front end just does not display it at all.

**What you expected to happen**: Expected to see the logs from the query.

**How to r

[2022-09-05 16:53] wiardvanrij commented on #54556
`mysql  Ver 8.0.30 for Linux on x86_64 (MySQL Community Server - GPL)`

and yes, your second query works there as well:
[code]

It also works on RDS

[2022-09-05 17:06] sahnib opened #54727 "CloudWatch Metrics does not display Metric Namespace/Values in Explore Mode"
**What happened**: I created a dashboard for CloudWatch data source. Inside the dashboard, I created a panel which referred to a metric from custom namespace. The panel displays the metric value correctly - however when I go to Explore mode or Edit mode, the metric namespace and name are empty.

**What you expected to happen**: Expected the Explore and Edit mode to show the correct namespace and m

[2022-09-05 17:21] wiardvanrij commented on #54556
So my query was bad. Yet I still don't entirely understand this part of the query:

[code]

How are we doing a select in a select, without defining where the select is FROM?

The query gets followed up by a:
[code]

If you could craft me the exact query that is being made, then I also can test it against RDS.

[2022-09-05 19:28] guicaulada commented on #54653
Running migration on the background all this does is stop the background service, not Grafana.

Fixed by https://github.com/grafana/grafana/pull/54676

[2022-09-05 20:42] paalkr commented on #54722
For me this started when upgrading from Microsoft Edge 104.x to 105.x

[2022-09-05 20:44] shkim-sandbox opened #54734 "table header is moving when scroll"
![CleanShot 2022-09-06 at 05 40 42](https://user-images.githubusercontent.com/26107429/188510987-78df7dd6-fa3e-4493-973a-a1c98201f865.gif)

**What happened**: table header is moving

**What you expected to happen**: The table header should be fixed

**How to reproduce it (as minimally and precisely as possible)**: All situations using the table

**Anything else we need to know?**: As far as I know

[2022-09-05 21:29] elliotdobson commented on #54722
Also seeing this issue on Chrome Version 105.0.5195.102 (Official Build) (arm64) and Grafana v8.5.11.

When I am able to type into the explore query I get this error when I run the query:

![image](https://user-images.githubusercontent.com/61951524/188513850-2084501a-7bee-409a-95ed-7c1a220660e3.png)

[2022-09-05 21:46] shukon commented on #19777
For those looking for an intermediate work-around and already use maubot: https://github.com/moan0s/alertbot

[2022-09-05 22:19] gefgu commented on #54631
@JoaoSilvaGrafana I would like to work on this issue. Can you assign it to me?

[2022-09-06 00:51] robertmacyiii opened #54735 "Plugin Dashboard Save As button not working for versioning"
https://user-images.githubusercontent.com/16856582/188524933-9914d19b-8163-4196-8278-3ebb4b2fac10.mov

**What happened**: When trying to save a copy of a dashboard using the TestDB, the `Save As...` button doesn't seem to do anything. I looked at the network traffic in developer tools and it doesn't look like this button is triggering any request. The `Overwrite` button works though.

**What you e

[2022-09-06 02:29] yongzhang commented on #54535
same issue, expecting an emergency fix

[2022-09-06 02:50] vqmanh opened #54736 "Error reading InfluxDB"
**Environment**:
- Grafana version: 8.4.3
- Data source type & version: influxdb:2.1.1
- OS Grafana is installed on: Rhel 8
- User OS & Browser: Chrome
- Grafana plugins:
- Others:

![image](https://user-images.githubusercontent.com/52390360/188536806-f80f4378-2d1a-43d7-bab1-4e21a93e4fd0.png)

[2022-09-06 03:35] hanyuancheung commented on #54722
We've met the same problem in a lot of cases, looks like the Chrome browser incompatibility issue.
Chrome Version: 105.0.5195.X
Grafana Version: v8.5.2

Could anybody help to check this issue? Thx.

[2022-09-06 03:46] hanyuancheung commented on #54722
Same as another issue: https://github.com/grafana/grafana/issues/54535

[2022-09-06 04:00] nguyencaochien commented on #54685
HI @usmangt ,

My steps :
1. Go to grafana page, create chart "UPS Power (300kVA)", show legend at bottom
![Screen Shot 2022-09-06 at 10 53 57](https://user-images.githubusercontent.com/24190909/188543944-d2b6486e-7966-49a0-9e45-9a60bfbb271b.png)

2. Embed this grafana into my website (using iframe).
3. Go to my website, and view this grafana
![Screen Shot 2022-09-06 at 10 56 15](https://user-imag

[2022-09-06 05:52] Wafa9 commented on #54688
HI @Jguer, I would like to work on this issue, I am looking for a good first issue so can I take this.

[2022-09-06 06:44] #54722 closed

[2022-09-06 06:48] daynthishoho commented on #6956
+1

[2022-09-06 07:40] SincerelyUnique opened #54738 "Set timezone to UTC and set timerange to 2022-08-01 00:00:00 ~ 2022-08-30 23:59:59 but it shows 2022-07-31 23:00:00 data"
**What happened**:
I set timezone to UTC from Dashboard preferences and Configuration preference, but when I change the Absolute time range to 2022-08-01 00:00:00 ~ 2022-08-30 23:59:59 in the dashboard right top corner, the data table always display the data which belongs to 2022-07-31 23:00:00

**What you expected to happen**:
Expect only show the data belong to 2022-08-01 00:00:00 ~ 2022-08-30 2

[2022-09-06 07:46] L-M-K-B commented on #53776
Updating won't help as it brings some other issues with it. I have to look into the function which is called onAfterChange as it's causing the weird behaviour.

[2022-09-06 08:32] daniel-anova commented on #54535
Microsoft Edge v105.0.1343.27 has joined the list of chrome-based browsers affected by this issue.

[2022-09-06 08:41] tripitakav opened #54740 "Loki Explore Query Bug"
**What happened**:
I don't know why there are repeated strings when querying in Loki through keyboard input, but I can query normally by copying and pasting this query statement

**Environment**:
- Grafana version: 8.5.2
- Data source type & version: loki
- OS Grafana is installed on: Centos 7
- User OS & Browser: Chrome(105.0.5195.102)
- Grafana plugins:
- Others:

![image](https://user-images.gi

[2022-09-06 08:46] StefanCenusa commented on #54740
Indeed, this happens to us too. And I've noticed it happens since Chrome `105.0.5195.102`. On previous Chrome version `104.0.5112.101 (Official Build) (64-bit)` it worked. Also, on Safari `15.6.1 (17613.3.9.1.16)` it works.

[2022-09-06 08:47] wiardvanrij opened #54742 "Unable to get a unified alerting screenshot in Slack"
**What happened**:
Configured Grafana to create a screenshot for an alert via a Slack notification channel. I see however, no indication of this happening.

**What you expected to happen**:
The Slack Alert, contains an image via an URL of my Grafana public http folder

**How to reproduce it (as minimally and precisely as possible)**:
- configure Grafana to use image renderer and confirm that it is

[2022-09-06 08:57] wiardvanrij opened #54743 "Unified alerting: bad input in the alert evaluation behavior throws a 'fatal' error"
**What happened**:
I changed the "Evaluate every" input from `20s` to `20n` and this instantly forwards me to a "An unexpected error happened" page.

**What you expected to happen**:

To just give me UI notification / validation on the field, rather than this 'fatal' exception page.

**How to reproduce it (as minimally and precisely as possible)**:

Go to a unified alert (or create one) and change

[2022-09-06 09:03] wiardvanrij opened #54744 "Explore Loki datasource with the Code query breaks UI / input"
**What happened**:
![Kapture 2022-09-06 at 10 58 51](https://user-images.githubusercontent.com/5786097/188593477-6b599e7c-0501-40c9-b7fc-f7ab3224dcda.gif)

**What you expected to happen**:
That I can make a query.

**How to reproduce it (as minimally and precisely as possible)**:
- Have a Grafana Loki datasource
- Query the datasource in the explore page with Code, not the builder

**Anything else

[2022-09-06 09:07] StefanCenusa commented on #54744
Similar to this [one](https://github.com/grafana/grafana/issues/54740)

[2022-09-06 09:11] StefanCenusa commented on #54740
Seems like a known [issue](https://github.com/grafana/grafana/issues/54535).

[2022-09-06 09:16] Elfo404 opened #54749 "Explore: crash when last used datasource is deleted"
When navigating to Explore, if the last used datasource was deleted, Grafana shows a blank page.
https://github.com/grafana/grafana/pull/51605 introduced this.

given most of the logic about initialization was moved to `ExplorePaneContainer`, in https://github.com/grafana/grafana/blob/38c1f3d054ef7ea1a86b41437004fdbe72505e3e/public/app/features/explore/ExplorePaneContainer.tsx#L83 we should fallba

[2022-09-06 09:17] tripitakav commented on #54740
ok

[2022-09-06 09:17] #54740 closed

[2022-09-06 09:24] wiardvanrij commented on #54744
I guess my search skills are terrible. Thank you

[2022-09-06 09:24] #54744 closed

[2022-09-06 09:26] Elfo404 opened #54751 "Explore: new navigation improvements ideas"
follow up on https://github.com/grafana/grafana/pull/54547

We can probably make use of the breadcrumb area and the top nav more efficiently like in  dashboards:
- we probably can remove the icon & Explore title from the left pane given it's present in the breadcrumb
![Screenshot 2022-08-31 at 20 52 11](https://user-images.githubusercontent.com/1170767/187770456-c066195a-7fa4-4436-884c-ea996b0aa18

[2022-09-06 09:48] sdboyer opened #54752 "Rename `pluginmeta` coremodel"
I picked `pluginmeta` as a name for the coremodel because it seemed more or less OK and i didn't know what else to call it.

Turns out, this collides with an existing term of art, "plugin meta," which is used to refer to some actual data about the state of an installed plugin that's communicated out on the frontend.

`pluginmeta` was never a particularly great name for the coremodel anyway, so tha

[2022-09-06 09:49] starboyvarun opened #54753 "Dashboard is frozen - no recent changes"
When I try to load my Grafana dashboard , it sometimes freezes and the page becomes unresponsive. I can’t click anything. Only a couple panels show data before it freezes, and the rest of the panels are stuck with the rotating arrows.
I have not changed anything on the dashboard recently. My browser is version 86.0.4240.197 built on raspbian , running on Raspbian 10 (32 bit).
I have using server a

[2022-09-06 10:11] #54271 closed

[2022-09-06 10:26] yggdrasil-tynor opened #54757 "Azure Monitor: Custom Metric Namespaces not working (Grafana 9.1.3)"
After the Grafana 9.0.0 and these changes https://github.com/grafana/grafana/pull/49029. It is not possible to find/chose custom Metric Namespaces.
We have a namespaces named "Yggdrasil ServiceBus Metrics", which we could find and chose before, but now it's not possible - not even when typing it in manually.

![image](https://user-images.githubusercontent.com/43808309/188612157-67fb1e49-d2cf-4dbe-

[2022-09-06 11:11] UP929312 commented on #46907
I also have this issue

[2022-09-06 11:17] grobinson-grafana opened #54766 "Resolved alerts are not sent to the Alertmanager"
**What happened**:

Resolved alerts are not sent to the Alertmanager. This means that annotations from the resolved alert, such as the latest image token, are not present in the resolved notification.

**What you expected to happen**:

The `NeedsSending` function should return true if the state has just transitioned from `Alerting` to `Normal`.

**How to reproduce it (as minimally and precisely as

[2022-09-06 11:20] usmangt commented on #54685
Hi @nguyencaochien,

Thanks for defining the steps.

I have tried but cannot reproduce it as in my case I can see the legend at the bottom.

Did you enable the configuration parameter inside grafana.ini file i.e.

`allow_embedding = true
`

If yes and it is still showing like that then please do the following,

- Goto https://play.grafana.com/
- Create a test visualisation and put it as iframe on

[2022-09-06 11:33] m1hanick opened #54768 "Data link takes wrong values with __data.fields"
**What happened**:
We have a Jaeger datasource with trace statistics (TraceId, Tracename, Duration, StartTime)
We want to draw a dotted time-series graph just like the Jaeger native UI does
Each dot should represent a trace and also it should have a datalink to the Explorer to get a detailed trace view.
We use data links to prepare an URL to the Explorer.
However, as we see datalinks grab the wron

[2022-09-06 12:18] ivanahuckova commented on #54734
duplicate of https://github.com/grafana/grafana/issues/54516

[2022-09-06 12:18] #54734 closed

[2022-09-06 12:25] aaronstutzer commented on #54532
i have the same issue and cant even delete the alerts i already created :(

[2022-09-06 12:26] ivanahuckova commented on #54768
@m1hanick Could you please share the panel/dashboard JSON with us? Thank you!

[2022-09-06 12:35] #53398 closed

[2022-09-06 12:35] #53401 closed

[2022-09-06 12:39] ivanahuckova commented on #35354
@marefr @ashharrison90 I am closing this as there is no activity/no new information in this issue. Feel free to reopen if this is still an issue that should be investigated/worked on.

[2022-09-06 12:39] #35354 closed

[2022-09-06 12:40] #36879 closed

[2022-09-06 12:48] wbrowne commented on #54752
`pluginjson`? 😄

[2022-09-06 12:51] ifrost opened #54771 "Explore state tests"

[2022-09-06 12:56] #53921 closed

[2022-09-06 12:59] jayjupdhig opened #54772 "Unknown lvalue warning on service start"
Hi there

There are some warnings on grafana service start / system boot with

Grafana Version: 9.1.3 on Raspbian 10.x (must current version via apt upgrade today)

`
[    4.707209] systemd[1]: /usr/lib/systemd/system/grafana-server.service:26: Unknown lvalue 'ProtectClock' in section 'Service', ignoring
[    4.719518] systemd[1]: /usr/lib/systemd/system/grafana-server.service:29: Unknown lvalue '

[2022-09-06 13:05] ifrost opened #54773 "Explore tests: Wrapper.test.tsx - move Handles datasource states test to public/app/features/explore/spec/datasource.ts"
* Move [Handles datasource states](https://github.com/grafana/grafana/blob/15756ecf86dd3f019cbf9f8356c825f2a76d2647/public/app/features/explore/Wrapper.test.tsx#L41) to a new file explore/spec/datasource.ts (2 tests)
* Check if we can reuse existing helpers defined in [spec/helper](https://github.com/grafana/grafana/tree/15756ecf86dd3f019cbf9f8356c825f2a76d2647/public/app/features/explore/spec/hel

[2022-09-06 13:09] ifrost opened #54774 "Explore tests: Wrapper.test.tsx - move Handles running/not running query test to public/app/features/explore/spec/query.ts"
* Move [Handles running/not running query](https://github.com/grafana/grafana/blob/15756ecf86dd3f019cbf9f8356c825f2a76d2647/public/app/features/explore/Wrapper.test.tsx#L67) to a new file explore/spec/query.ts
* Check if we can reuse existing helpers defined in [spec/helper](https://github.com/grafana/grafana/tree/15756ecf86dd3f019cbf9f8356c825f2a76d2647/public/app/features/explore/spec/helper)

[2022-09-06 13:11] ifrost opened #54775 "Explore tests: ExplorePage.test.tsx - move Handles open/close splits in UI and URL test to public/app/features/explore/spec/split.ts"
* Move [Handles open/close splits in UI and URL](https://github.com/grafana/grafana/blob/15756ecf86dd3f019cbf9f8356c825f2a76d2647/public/app/features/explore/Wrapper.test.tsx#L157) to a new file explore/spec/split.ts
* Check if we can reuse existing helpers defined in [spec/helper](https://github.com/grafana/grafana/tree/15756ecf86dd3f019cbf9f8356c825f2a76d2647/public/app/features/explore/spec/hel

[2022-09-06 13:13] ifrost opened #54776 "Explore tests: ExplorePage.test.tsx - move Handles document title changes and Handles different URL datasource redirects test to public/app/features/explore/spec/browser.ts"
* Move [Handles document title changes](https://github.com/grafana/grafana/blob/15756ecf86dd3f019cbf9f8356c825f2a76d2647/public/app/features/explore/Wrapper.test.tsx#L272) and [Handles different URL datasource redirects](https://github.com/grafana/grafana/blob/15756ecf86dd3f019cbf9f8356c825f2a76d2647/public/app/features/explore/Wrapper.test.tsx#L303) to a new file explore/spec/browser.ts
* Check i

[2022-09-06 13:14] gabor commented on #53089
hi @Pyttei , i'm sorry, i don't have any useful suggestions for this. i recommend checking with the elasticsearch community, perhaps at https://discuss.elastic.co/ .

[2022-09-06 13:14] #53089 closed

[2022-09-06 13:15] ifrost opened #54777 "Explore tests: Change ExplorePage.test.tsx to a unit test"
After implementing:

- #54773
- #54774
- #54775
- #54776

Ensure Wrapper.test.tsx contains only unit tests for the Wrapper component:

 - if only `left` is defined in `queryParams` only one pane is rendered
 - if `left` and `right` is defined in `queryParams` then two panes are rendered

[2022-09-06 13:17] ifrost opened #54778 "Explore tests: Query History errors"
Test scenarios:

[code]

[code]

[2022-09-06 13:23] ifrost opened #54779 "Explore tests: Delete query history item"
Tests cases

[code]

[code]

[2022-09-06 13:38] m1hanick commented on #54768
Hi @ivanahuckova
here is the panel json
`{
  "id": 2,
  "gridPos": {
    "h": 6,
    "w": 24,
    "x": 0,
    "y": 2
  },
  "type": "timeseries",
  "title": "$service - History",
  "transformations": [
    {
      "id": "organize",
      "options": {
        "excludeByName": {},
        "indexByName": {},
        "renameByName": {
          "Trace ID": "TraceId",
          "Trace name": "TraceName

[2022-09-06 13:41] ivanortegaalba opened #54783 "Invalid initial state for custom variable picker"
**What happened**:
The initial value of the custom variable is wrong, instead of the key for the selected variable defined on the dashboard it renders a placeholder text. Once the first value is selected and the variable value is moved into the URL the bug is solved.
**What you expected to happen**:
The user would expect it to always show the selected key, including on the first dashboard load.
**

[2022-09-06 13:42] #54565 closed

[2022-09-06 13:54] jangaraj opened #54786 "CloudWatch annotation query is failing: cannot unmarshal number into Go struct field DataQueryJson.Period of type string"
**What happened**:
Can't create CloudWatch annotation query

**What you expected to happen**:
CloudWatch annotation query should not be failing

**How to reproduce it (as minimally and precisely as possible)**:
Create new annotation with CloudWatch datasource (UI has also some issues, editor is not visible from the start). Define query and try to test it via TEST button (I tried also `120/120s` in

[2022-09-06 14:01] jangaraj commented on #54338
Is it a really bug? I can open template variables:
![image](https://user-images.githubusercontent.com/1182932/188654760-ab802407-5462-4299-8551-211526f9f23d.png)
->
![image](https://user-images.githubusercontent.com/1182932/188654903-121de287-72ca-42e0-842f-2786d09351a6.png)

[2022-09-06 14:02] L-M-K-B opened #54788 "Recorded Queries: Add tests for tracking recorded queries"
It was supposed be part of the task to enable tracking in Recorded Queries but we decided to create a separate task for it to merge the tracking faster.

[2022-09-06 14:05] L-M-K-B opened #54789 "Glue: get /api/correlations should return 200 when there are no correlations"

[2022-09-06 14:12] L-M-K-B opened #54792 "Dashboard 2 Explore: check if we should keep queries' hidden state"
TODO: prepare a POC and share with UX for confirmation.

[2022-09-06 14:17] roman-batrak-sp commented on #54719
![Screenshot 2022-09-06 at 17 13 54](https://user-images.githubusercontent.com/93782091/188658872-9dd84423-4f5d-4ff1-9128-566b888f46d0.png)
{
  "datasource": "${datasource}",
  "description": "Current disk utilization",
  "fieldConfig": {
    "defaults": {
      "custom": {
        "align": null,
        "filterable": false
      },
      "thresholds": {
        "mode": "percentage",
        "step

[2022-09-06 14:18] #54168 closed

[2022-09-06 14:18] #54173 closed

[2022-09-06 14:22] gelicia commented on #19536
The explore team would like to discuss this feature alongside many other similar type of features, so we are moving this to that discussion:  https://github.com/grafana/grafana/discussions/54158

[2022-09-06 14:22] #19536 closed

[2022-09-06 14:25] #54278 closed

[2022-09-06 14:26] L-M-K-B opened #54794 "Remove immer"
This is a dependency used in two places used for creating immutable objects - we have other dependencies we can use for this that are more widely used and we should use one of those instead.

[2022-09-06 15:02] taleena commented on #54727
Affects Amazon Managed Grafana, which is on 8.4.7

[2022-09-06 15:02] taleena commented on #54725
Affects Amazon Managed Grafana, which is on 8.4.7

[2022-09-06 15:02] kinzhi commented on #1875
I made this modification in the grafana 9.x version and it worked:
1.Add at the bottom of the dashboard "text panel" and turn on a transparent background.
2.Open the Options tab and switch to a HTML mode
3.Paste next CSS code:
`<style>
.panel-title h2{
font-size: 1.5rem;
}
</style>`

[2022-09-06 15:15] m1hanick commented on #44562
Is there a way to disable this formatting?
We'd like to draw a time series graph of our traces, just like the Jaeger GUI does.
But without timestamp values, we cannot

[2022-09-06 15:23] connorlindsey commented on #44562
Hey @m1hanick, going to cc our tracing team on this @joey-grafana

[2022-09-06 15:25] BapRx commented on #51634
I believe I have the same issue on Gravana `v8.5.11`: https://github.com/grafana/grafana/blob/v8.5.11/pkg/api/org_invite.go#L73

The change was introduced in this PR: https://github.com/grafana/grafana/pull/51964/files

I'm rollbacking to `v8.5.9` for now but @IevaVasiljeva can you revert this PR also?

Thank you

[2022-09-06 15:26] bohandley commented on #54378
Part of our team is out this week so we would like to wait to make a decision. What are the criteria of things that are no longer listed as beta? @evandandrea are you able to find this out? Also, @aocenas, what do you think of removing the beta tag from the Prometheus query builder?

[2022-09-06 15:34] bohandley commented on #45979
Is this issue only happening with the InfluxDB datasource? We will investigate and look for more info. Thank you!

[2022-09-06 15:39] m1hanick commented on #44562
Here is an example of what we'd like to achieve (now we're using Jaeger datasource, but seeking a way to migrate to Tempo)
<img width="962" alt="image" src="https://user-images.githubusercontent.com/52662457/188677594-40334f64-93fb-45e7-b840-e5a15ae63479.png">