[2020-10-26 10:52] hugohaggmark commented on #28528
@dprokop is this something we're thinking about supporting in the new Graph?

[2020-10-26 11:21] #25479 closed

[2020-10-26 11:36] #28519 closed

[2020-10-26 12:09] #1763 closed

[2020-10-26 12:21] hugohaggmark commented on #28529
Thank you for reporting this @gjemp

[2020-10-26 12:27] #28278 closed

[2020-10-26 12:30] hugohaggmark commented on #28361
@mckn thank you, @peterholmberg can you have a look if it's related to the new Notification Channel work?

[2020-10-26 12:30] gjemp commented on #28529
do you have any workaround  for that cause  measuremets that come from telegraf docker kubernetes plugin to influx have dot notation tags and it makes impossible to use them .... :(

[2020-10-26 12:33] hugohaggmark commented on #28529
@gjemp but it's "only" the alias of the series that doesn't work right?  The queries work using dot notations in tags AFAIK.

[2020-10-26 12:36] gjemp commented on #28529
yes, but due that you can not show data on graph by tag values cause it is not able to resolve the tagname and the value behind that name for the particular data

[2020-10-26 12:41] hugohaggmark commented on #28529
I understand, but you can always open a PR trying to fix this.

Here is the line that needs better handling of dot notation:
https://github.com/grafana/grafana/blob/96e6524a7d68f3b341d66d940eff78723b9858ef/public/app/plugins/datasource/influxdb/influx_series.ts#L86

[2020-10-26 13:14] wiegandf commented on #28457
Sure, @marefr.

This one is working:
[code]

This one is not working
[code]

[2020-10-26 14:22] torkelo commented on #28526
A transparent panel background just means it has the same background as the dashboard background.

Grafana does currently not support transparent dashboards / panels in iframes

[2020-10-26 14:26] torkelo commented on #28479
I can scroll right then I can access the filter icons., sadly I do not see a solution for this (that would break the new hover behavior where you do not see content that does not fit). I would move columns that you want to filter on left.

[2020-10-26 14:26] #28479 closed

[2020-10-26 14:33] torkelo commented on #27380
This is now handled (we are on a paid plan)

[2020-10-26 14:33] #27380 closed

[2020-10-26 14:35] torkelo commented on #27677
we have a paid docker hub org now so those rate limits & retention limits do not apply, but sitll worh considering quay if it's better than docker hub

[2020-10-26 14:40] marefr commented on #28457
Hmm I don't see any groups property in those payloads? Can you please include your Grafana azuread configuration (please replace sensitive information).

[2020-10-26 15:00] wbrowne commented on #28510
Hey @chrs-myrs, thanks for raising this issue. This should be fixed with Grafana 7.2.2 (see relevant PR for the fix: https://github.com/grafana/grafana/pull/28391)

There was also an original issue for this bug [here](https://github.com/grafana/grafana/issues/28075) so will close this duplicate.

[2020-10-26 15:00] #28510 closed

[2020-10-26 15:07] nathanaelCNAF opened #28546 "Dashboard Links: Search by tag causes SQL error"
**What happened:**
Search failed popups into dashboard  with tags links

**What you expected to happen:**
Functional tags links

**How to reproduce it (as minimally and precisely as possible):**

Create tags links  with postgreSQL, but works with SQlite

**Anything else we need to know?:**

grafana-server with postgrSQL backend :  error log from postgreSQL

2020-10-26 02:35:36.746 CET [79584] ERRO

[2020-10-26 15:12] Phara0h commented on #25313
The issue was not addressed, I +1 this feature, please. Or should I make a duplicate ticket, since the feature does not exist in "stat panel" either

[2020-10-26 15:22] maksymlysenko opened #28547 "Grafana does not redirect to login page when accessing the snapshot."
**What happened**:

Trying access the snapshot when unauthorized such like:
http://<grafana_host>/dashboard/snapshot/<snapshot_id>.
When clicking "sign in" button I am redirecting to the same page but with "forceLogin=true" in the URL.

When accessing the dashboard when unauthorized redirect to the login page works as expected.

I am using https://github.com/grafana/helm-charts/tree/main/charts/gr

[2020-10-26 15:28] ivanahuckova commented on #28248
@aknuds1 @marefr regarding:

I was wondering, if anyone has time for that or if I should tackle this.

Also regarding

Not sure what should be the next steps.

[2020-10-26 15:32] aknuds1 commented on #28248
Yeah I'm not sure @ivanahuckova, maybe @marefr would be the best person to answer this? I feel as if I lack insight into this part of the system.

[2020-10-26 16:39] wbrowne commented on #28456
Thanks for creating this issue @lfroment0! This has been a topic of discussion for a while as an idea to explore (see for example https://github.com/grafana/grafana/issues/20362 as a baseline idea to support this type of thing). I doubt this is something we will look at in the immediate future but will keep it open for now.

[2020-10-26 16:45] wbrowne commented on #28489
Thanks for creating this issue @oz4899. I believe this is a /duplicate of #18120, therefore I will close as we will track any changes from the original issue.

[2020-10-26 16:45] #28489 closed

[2020-10-26 16:49] wbrowne commented on #28507
Thanks for creating this issue @Barbiero. Unfortunately in order to add support for this in Grafana, we'd first like to see if there is a high demand for this feature.

In the meantime, perhaps a SMTP proxy could be used to support your particular use-case?

[2020-10-26 17:19] Barbiero commented on #28507
That's a good idea, I'll look into it. Thanks!

For me in particular, this isn't high priority. The grafana emails are all internal within our organization so even if there's click tracking we don't really care that much, it just would be nice to have. I figured the possibility of additional headers would be interesting for other users as well.

[2020-10-26 17:57] wbrowne commented on #28507
Great! Thanks for the extra context.

Sounds great. We'll leave the issue here for the meantime in order to gauge priority.

Thanks again @Barbiero!

[2020-10-26 19:41] scottlepp commented on #28501
I tried also returning a value prop, as I did see a value prop when using templatesrv.getVariables() to read the variable values, though "value" was the "text" value and not the value prop that I returned.

[2020-10-26 19:42] StephenKing commented on #26307
This issue would be fixed by #28176, I think

[2020-10-26 20:37] scottlepp commented on #28501
@torkelo shall we leave this open to fix the type?

[2020-10-26 22:37] aned commented on #28384
Thanks for pointing to [PR](https://github.com/grafana/grafana/pull/28349)  @wbrowne  !
We just need to monitor whether the synchronization btw Grafana and MySQL happened on all instances in the Grafana cluster (so all the dashboards/datasources are in sync on all instances)
I think the  [PR](https://github.com/grafana/grafana/pull/28349) should address it.
Any chance to make it available via /met

[2020-10-26 22:41] Daphneitec opened #28553 "Grafana 7.2.0 Elasticsearch 6+"
![Bucket_Script](https://user-images.githubusercontent.com/8192781/97236188-e9df1800-17ba-11eb-873b-117cdfbe392c.jpg)

**What happened**:
Bucket Script won't work, error 'Cannot read property 'value' of undefined'

**What you expected to happen**:
Bucket script works

**How to reproduce it (as minimally and precisely as possible)**:
it happens everytime I hit create Bucket Script
**Anything else w

[2020-10-26 22:59] Daphneitec commented on #28553
It only throws error  when using 'term' as group by, it works if using 'date histogram' as group by

[2020-10-27 01:33] theyaa commented on #28515
Thank you @hugohaggmark. Below is the json for one of the dashboards.
{
  "annotations": {
    "list": [
      {
        "builtIn": 1,
        "datasource": "-- Grafana --",
        "enable": true,
        "hide": true,
        "iconColor": "rgba(0, 211, 255, 1)",
        "name": "Annotations & Alerts",
        "type": "dashboard"
      }
    ]
  },
  "editable": true,
  "gnetId": null,
  "graphTo

[2020-10-27 01:56] PeeJay commented on #26397
Just noticed for 1.8.x you need to enter a username:password even when not using authentication.

[2020-10-27 02:16] biuboombiuboom commented on #16638
I guess this problem is caused by the slow backend query service。
![Uploading 企业微信截图_16037649943587.png…]()

[2020-10-27 03:40] allenlongbaobao commented on #6492
meeting the same issue
version: Grafana v7.2.1 (72a6c64532)
i copy other's existing workspace. when i change the variable's value, new values can't make sense.
my solution:
1. delete all old variables, then save, you can get the result in chrome dev tool network line.
2. add the new variables, then save
3. refresh the page, my issue is gone.

my conjecture:
   is it possible grafana backend handle

[2020-10-27 05:32] biuboombiuboom commented on #16638
log

t=2020-10-27T04:07:23+0000 lvl=info msg="rotate new token sucess" logger=auth newToken=cb4d13f08b6f4e49c787098a197c56c9 oldToken=2a12712084517785a7dffc77142bf67a clientIp=10.181.34.189
t=2020-10-27T04:17:24+0000 lvl=info msg="rotate new token sucess" logger=auth newToken=f7eb1aeeb6d76daa5b0bf06aa56d3990 oldToken=cb4d13f08b6f4e49c787098a197c56c9 clientIp=10.181.34.189

[2020-10-27 05:46] biuboombiuboom commented on #16638
Use channel rotate token control concurrency。
OR
Add lock

type UserToken struct {
     sync.Mutex
}

auth_token.go
func (s *UserAuthTokenService) TryRotateToken(ctx context.Context, token *models.UserToken,
	clientAddr, userAgent string) (bool, error) {
	token.Lock()
	defer token.Unlock()
}

[2020-10-27 06:02] hugohaggmark commented on #28515
@theyaa thank you for supplying this. Did you remove the `datasource` prop for the variables in the JSON? I can see you have 3 query variables and all of them is missing the `datasource` prop so I wonder if you've removed them manually when sharing this JSON?

Look in the variables named  __cluster__ and __hosts__, see the datasource prop below for query variable named __cluster__:

[code]

Maybe

[2020-10-27 06:09] hugohaggmark commented on #28546
Thank you for reporting this @nathanaelCNAF. I'm not sure I understand the repro steps. Do you mean that running Grafana with PostgreSQL10 doesn't work in your use case, but SQLite does?

Could you share any dashboard that is causing this error? Thank you.

[2020-10-27 06:15] hugohaggmark commented on #28547
@maksymlysenko sorry but the docs state that snapshots are publicly available for anyone that has the link.

https://grafana.com/docs/grafana/latest/dashboards/share-dashboard/#dashboard-snapshot

[2020-10-27 06:46] hugohaggmark commented on #28553
Thanks for reporting this @Daphneitec but I can't repro this using Elastic 6 and Grafana 7.2.0. Would be great if you could share query results from Query Inspector and if you could share any errors from the Browser console tab. Thank you again.

![image](https://user-images.githubusercontent.com/562238/97266173-488eab00-1828-11eb-87a0-71ad7add592f.png)

![image](https://user-images.githubusercont

[2020-10-27 06:50] wiegandf commented on #28457
/etc/grafana/grafana.ini:
[code]

[2020-10-27 07:09] arcivanov commented on #27617
We have an identical issue with Grafana behind istio/envoy filter/oauth2 proxy where via `AuthorizationPolicy` and `RequestAuthentication` **istio** verifies the tokens and oauth2 proxy supplies them from the request. Thus the tokens must be present per request.

I guess I could add another envoy filter specifically for Grafana to remove that Authorization Bearer header, but since nobody enabled i

[2020-10-27 07:24] zmapleshine opened #28556 "Can't run and build on windows os"
What happened: cann't build and run /debug in windows os

Environment:

Grafana version: v7.2.1
Data source type & version: none
OS Grafana is installed on: windows 10
User OS & Browser:
Grafana plugins: none
Others:

"make run" command is not supports on windows , replace the command for  "mingw32-make run"
the error message is ：
[code]

execute command "go run build.go build"
the following error

[2020-10-27 07:42] hugohaggmark commented on #28556
@zmapleshine thank you for reporting this. Before we can help out we need you to use the default issue template. Thank you

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Grafana version:
- Data source type & version:
- OS Grafana is installed on:
- User OS & Browser:
-

[2020-10-27 07:47] hugohaggmark commented on #25253
/no new info

[2020-10-27 07:47] #25253 closed

[2020-10-27 07:55] aknuds1 commented on #28556
Please rewrite the issue description, following the bug report template and, most importantly, fill in the "how to reproduce" section.

[2020-10-27 07:56] vvvprabhakar commented on #4214
+1

[2020-10-27 07:56] #28013 closed

[2020-10-27 07:57] #27987 closed

[2020-10-27 07:58] #27903 closed

[2020-10-27 07:59] #28121 closed

[2020-10-27 07:59] #24963 closed

[2020-10-27 08:01] #25775 closed

[2020-10-27 08:03] #27679 closed

[2020-10-27 08:04] #27846 closed

[2020-10-27 08:07] aknuds1 commented on #28556
How have you installed Make and GCC?

[2020-10-27 08:15] zmapleshine commented on #28556
TDM-GCC-64 9.2.0 is installed in win10 2004.

[2020-10-27 08:15] aknuds1 commented on #28556
From what I hear you should install GNU Make on Windows.

[2020-10-27 08:21] arcivanov commented on #27617
Actually we solved the issue by using `VirtualService` header filters:

[code]

[2020-10-27 08:28] aknuds1 commented on #28556
OK, I've found out that building via `make` doesn't work in Windows shells (PowerShell or Batch). Instead, you can run `go run build.go build` to build bin\windows-amd64\grafana-server.exe.

[2020-10-27 08:29] hugohaggmark commented on #22433
Is this issue still actual @mckn and if so do we still need the __needs investigation__ label?

[2020-10-27 08:32] zmapleshine commented on #28556
GNU Make is installed on windows ,but it can't work

run `go run build.go build`  or `go run build.go setup` the following error is :

![image](https://user-images.githubusercontent.com/12667610/97276291-f3778700-1871-11eb-8e0f-8e943a68e2d4.png)

[2020-10-27 08:38] aknuds1 commented on #28556
Oh yeah, I discovered that error too right now. I have a [PR](https://github.com/grafana/grafana/pull/28557) for it.

[2020-10-27 08:51] zmapleshine commented on #28556
Great!   I have seen this pr and copy your code to build.go ,command  `go run build.go build `   has been executed correctly,

But i have not found the place where i can add in  grafana-server/main.go ，it still have the following error:

![image](https://user-images.githubusercontent.com/12667610/97278323-9a5d2280-1874-11eb-82d5-c7b756a41973.png)

[2020-10-27 08:52] robinchampseix commented on #9991
+1. Also Key for our end users to only annotate without being able to edit the dashboard as they are "non Tech" people and we are not using Grafana to monitor logs.

[2020-10-27 08:59] aknuds1 commented on #28556
What are you doing to get that error?

[2020-10-27 08:59] maksymlysenko commented on #28547
@hugohaggmark I am creating the snapshot via API call.
And when trying to access it, I am getting the following
![image](https://user-images.githubusercontent.com/36924157/97279288-7fbe8580-1843-11eb-9f6c-ac5c4444f938.png)

[2020-10-27 09:06] zmapleshine commented on #28556
I want to debug in IDE , run this main function :
![image](https://user-images.githubusercontent.com/12667610/97279806-6a168380-1876-11eb-9803-66cd97c2a629.png)

the full command is :

[code]

[2020-10-27 09:08] zmapleshine commented on #28556
run `go run build.go setup ` , it will still appear above error

[2020-10-27 09:09] nathanaelCNAF commented on #28546
Hi, our issue resides with the Dashboard links. We have properly tagged each dashboard, but when comes creating the Dashboard Links, we have the search fail error. We have test on a different environment with SQLite and the option works properly. We have attached the SQL error that the “search fail” generate. We remain at your disposal for any further information or any query you require. Sincerel

[2020-10-27 09:18] aknuds1 commented on #28556
OK thanks for reporting that, I've updated the PR.

[2020-10-27 09:25] hugohaggmark commented on #28547
@maksymlysenko I'm sorry, but I don't understand. Can you please write the exact repro steps, because it's hard to understand what your issue is?

[2020-10-27 09:26] marefr commented on #28248
@ivanahuckova @aknuds1 Looking into it

[2020-10-27 09:43] hugohaggmark commented on #26739
Thank you for reporting this @i0x71 and @dusanmsk but to help with this we need you to share your Panel JSON, Panel Data and any output from the Query Inspector. Thank you.

![image](https://user-images.githubusercontent.com/562238/97283990-c9f23780-1840-11eb-94d1-71a8f91657d4.png)

![image](https://user-images.githubusercontent.com/562238/97284123-f0b06e00-1840-11eb-949f-c66cad23fce5.png)

![imag

[2020-10-27 09:49] amandeepchugh commented on #8816
+1

[2020-10-27 09:50] zmapleshine commented on #28556
if u want to debug grafana-server  in windows IDE ,please set this param :
![image](https://user-images.githubusercontent.com/12667610/97285100-c2e91a80-187c-11eb-86fe-19fd9cc5f2e0.png)

Thank u very much !

[2020-10-27 09:51] maksymlysenko commented on #28547
@hugohaggmark Yes, sure.
So, steps to reproduce the issue.
1) Create a snapshot in Grafana using API. We have a Jenkins job, which is giving us a direct link to the snapshot.
2) Try to open the created snapshot without login (just open the link). Firstly, we are getting the Grafana dashboard, but without the data on the panels and getting the error I shared in the previous comment.
3) In Grafana v

[2020-10-27 09:57] hugohaggmark commented on #28547
@maksymlysenko can you share the Dashboard JSON that you're snapshoting? Do I understand you correctly that with v5.2.0 you can see the snapshot after login but not with v.7.2.1?

[2020-10-27 10:09] maksymlysenko commented on #28547
@hugohaggmark with v.7.2.1 I cannot even get a redirect to the login page.
{
  "annotations": {
    "list": [
      {
        "builtIn": 1,
        "datasource": "$data_source",
        "enable": false,
        "hide": false,
        "iconColor": "rgba(0, 211, 255, 1)",
        "limit": 100,
        "name": "Start/stop marker",
        "query": "select text from events where $timeFilter",

[2020-10-27 10:18] #27990 closed

[2020-10-27 10:32] hugohaggmark commented on #28547
@maksymlysenko that is not valid JSON. Could you please try again:
![image](https://user-images.githubusercontent.com/562238/97289638-bdbda880-1847-11eb-9241-8f24035dac13.png)

Click the  __View JSON__ button
![image](https://user-images.githubusercontent.com/562238/97289692-ce6e1e80-1847-11eb-9223-01c4f38b609c.png)

Click the __Copy to Clipboard__ button
![image](https://user-images.githubusercon

[2020-10-27 10:53] maksymlysenko commented on #28547
@hugohaggmark
{
  "__inputs": [
    {
      "name": "DS_JMETER",
      "label": "jmeter",
      "description": "",
      "type": "datasource",
      "pluginId": "influxdb",
      "pluginName": "InfluxDB"
    },
    {
      "name": "VAR_MEASUREMENT_NAME",
      "type": "constant",
      "label": "Measurement name",
      "value": "jmeter",
      "description": ""
    },
    {
      "name": "VAR_SEN

[2020-10-27 10:59] hugohaggmark commented on #27407
@nicoduck I'm having trouble reproducing this using the data you supplied.
![image](https://user-images.githubusercontent.com/562238/97291762-a338fe80-184a-11eb-86d6-a4f78adb4f4f.png)

I'm not an expert on InfluxDb so I'm not sure how to repro. Can you attach the data for the right/red panel when you get the data you posted for the green/left panel. To clarify can you supply data from both panels

[2020-10-27 11:41] #7416 closed

[2020-10-27 12:02] dusanmsk commented on #26739
My problem was caused by data in influx - it was string instead of float. I found some bugreport describing that old versions of grafana was tolerant to this situation but latest versions are not.

After converting all measurements from strings to float problem was solved.

Thank you

[2020-10-27 12:17] maxless commented on #25623
+1

[2020-10-27 12:18] #28501 closed

[2020-10-27 12:25] #26726 closed

[2020-10-27 12:57] #28556 closed

[2020-10-27 13:10] marefr commented on #28248
@ivanahuckova as a first step I'm looking into updating the last seen at on visit. Will open a PR soon

[2020-10-27 13:12] wbrowne commented on #28384
@aned https://github.com/grafana/grafana/pull/28349 solves the issue of verifying that there's a valid connection between Grafana and the database, nothing related to synchronization. I'm still uncertain about the exact problem you're trying to solve - are you perhaps more interested in the topic of database slave lag?

Instances of Grafana are synchronized through the database itself. Perhaps [th

[2020-10-27 13:30] KadenLNelson commented on #8816
May we please stop commenting `+1` on this issue? Many of us are subscribed to this issue and don't want to get pinged on unnecessary notifications.

[2020-10-27 13:39] mckn commented on #22433
hmm, yes - I think we can improve the docs generation by just doing the compile but I'm not sure if it has any other side effects.

[2020-10-27 13:49] FireEmerald commented on #24092
As the milestone 7.3.0-beta1 was assigned and the closed 12 days ago, is this feature already implemented in the beta? It would be a really important feature...

[2020-10-27 13:54] wbrowne commented on #28546
@nathanaelCNAF I haven't been able to reproduce with PostgresQL 10.14. Would you be able to provide more detailed info and steps in order to help us reproduce? Even if you try with a very simple dashboard setup, I'm curious if the error occurs every time.

[2020-10-27 14:09] Morriz opened #28566 "trust auth proxy: allow claims consumption without doing client lookup"
**What would you like to be added**:

The option to disable client authentication in case `auth.generic_oauth` is chosen.
This would result in no client lookup, but could still be doing a JWT validation when the shared secret is provided.

I see these options:
[code]

**Why is this needed**:
Allows grafana to consume a provided trusted JWT so it can just use it's payload to map claims in `role_att

[2020-10-27 14:11] davewat commented on #24092
Would this be better supported by:
- table panel supports column width=0 -> hidden
- when selecting a column as hidden in Organize Field transform, an override for that field is automatically added, with column width=0
?

Note that the table doesn't appear to support column width=0 ATM.

[2020-10-27 14:11] Morriz commented on #27617
@arcivanov @torkelo I created a separate issue for delegation of oauth to be done by a trusted proxy: #28566

[2020-10-27 14:15] nikasvan commented on #28307
This seems to be fixed on latest master branch.

![Alt Text](https://p83.f1.n0.cdn.getcloudapp.com/items/qGuvqjnl/Screen%20Recording%202020-10-27%20at%2006.12.16%20PM.gif?source=viewer&v=14d8d113e099654333c7785698bf0171)

[2020-10-27 14:18] hudeldudel commented on #5164
+1

[2020-10-27 14:21] hugohaggmark commented on #24139
For any bizchart error with the following text: max: 5e-324 should not be less than min: xxx, I could repro this with a null value in data because this line will make max value less than min value:
https://github.com/grafana/grafana/blob/d18178294364112cd28950bcbb3c7727ed6a847f/packages/grafana-data/src/field/fieldOverrides.ts#L62

Steps to repro:
1. Install Static Plugin (https://grafana.com/graf

[2020-10-27 14:24] wbrowne commented on #28422
Fixed with: https://github.com/grafana/grafana/pull/28469

[2020-10-27 14:24] #28422 closed

[2020-10-27 14:32] nathanaelCNAF commented on #28546
Yes we create 2 dashboards with one graph panel in each. Each dashboard is tagged with "toto" and a dashboard link with tag "toto" failed each time. In database log we have SQL error about "group by" at character 1520. This error appears after migration from 6.5.x to 7.0.x,
It's not easy to give you an access as we are in an intranet.
May a new install will correct this problem but without loosing

[2020-10-27 14:42] cyriltovena opened #28567 "Loki: Add instant query switch similar to Prometheus"
**What would you like to be added**:

Since Loki can be queried using promql style metric queries, and it supports also instant query, it would be awesome to support those instant queries for dashboarding.

**Why is this needed**:

There cases where you need a single point of data like singlestat, it would be better performance wise to reduce the result via the backend and not via

As you can see

[2020-10-27 14:42] slim-bean opened #28568 "Certain longer (length of query) Loki queries seem to break the URL"
**What happened**:

[code]

As an example, if you run this query and then copy and paste the URL from the browser address bar, you are unable to open the link in a new window.

Shortened links also seem broken.

If you close and re-open your browser the window will come up blank.

This also appears to impact the behavior of the back button (not necessarily surprising as the url seems to be involve

[2020-10-27 15:02] slim-bean opened #28571 "Explore: Queries dissapear when interacting with multiple query windows"
**What happened**:

![dissapearing_labels](https://user-images.githubusercontent.com/10332331/97319792-949b1900-1843-11eb-80a3-4f38399a5cbf.gif)

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Grafana version:

master v7.4.0-5409pre (b3ac4eb899)

- Data source type & version:

prometheus

[2020-10-27 15:04] Leosirth opened #28572 "Gotify support as Notification Channel"
**What would you like to be added**:
I would like to have [Gotify](https://github.com/gotify/server) supported as Notification Channel

**Why is this needed**:
Right now is possible to use Webhook to send alerts to Gotify, but this lack the following features:

-  the possibility to send image (supported by [Markdown](https://gotify.net/docs/msgextras#clientdisplay) in Gotify)

- setting the prior

[2020-10-27 15:24] miguelarios commented on #11418
Anyone know if there is any update on the ability to map string values to integers to be able to visualize on a graph? This issue here was referenced from #14222

[2020-10-27 15:44] bitbier commented on #26794
Any word on this? We are running into this issue as well. We only use the CloudWatch metrics and this happens when a query a metric and only one unique dimension combination is returned. As soon as we have more than one, the labels are displayed correctly. It makes it hard for our users to understand their metrics as that one label doesn't describe the specific dimension that contains 100% of the

[2020-10-27 15:44] hborchardt opened #28574 "Navigating between SoloPanelPages requires reload"
**What happened**: When viewing a SoloPanel, navigating to another SoloPanel does not work without a full page reload. The page freezes with the message "Loading & initializing dashboard".

Navigation without reload can occurr, for example, by creating an annotation on dashboard 1 containing a link to dashboard 2.

**What you expected to happen**: Navigating from one SoloPanelPage to another using

[2020-10-27 15:58] xcoulon commented on #28404
@pantaoran in case you're still stuck with this auth issue, this article may help: https://www.redhat.com/en/blog/custom-grafana-dashboards-red-hat-openshift-container-platform-4 (in particular, the use of a ServiceAccount token configured as the bearer token in the datasource)

[2020-10-27 16:18] torkelo commented on #28571
strange bug :)

[2020-10-27 16:24] torkelo commented on #28572
Think your best path to support this is to first att support for external notification channel plugins  https://github.com/grafana/grafana/issues/16004
t

[2020-10-27 16:24] #28572 closed

[2020-10-27 16:29] slim-bean commented on #28571
indeed :) I was not able to reproduce on chrome either.

Also, hitting the back button returns both queries to their respective windows  ¯\_(ツ)_/¯

[2020-10-27 16:47] pantaoran commented on #28404
Yes that is pretty much how I'm doing it now. It's just less elegant because it requires a predefined service account with a token secret instead of passing on the user's identity.

[2020-10-27 16:49] xcoulon commented on #28404
yes, I agree with you: it's too bad that we can't pass the user's token (I'm also using the openshift/oauth-proxy to login on Grafana)

[2020-10-27 16:53] wbrowne commented on #26794
Apologies for the delay on this. I have some time now and I'll try reproduce to understand the problem better on the Grafana side. Thanks @bitbier @oleksii-iaroshchuk for the extra context

[2020-10-27 17:04] aocenas commented on #28571
I was actually able to reproduce it on chrome/ubuntu right now.

[2020-10-27 17:27] MartiUK commented on #28301
![image](https://user-images.githubusercontent.com/1244603/97338608-823bd200-1879-11eb-9535-976e4a05f153.png)
Old visits and Open visits are separate queries to Cloudwatch, same region, same namespace, but different metrics.

[2020-10-27 17:43] ivanahuckova opened #28576 "Table: Image cell doesn't work when value mappings are used"
**What happened**:
If you apply value mapping to map value/range to image url and then set the cell display mode to Image, we don’t get image shown as we are showing cell value.
![image](https://user-images.githubusercontent.com/30407135/97340598-48bc9400-1884-11eb-85ad-565e6e51a8f2.png)

**What you expected to happen**:
If I use value mappings and mappings point to image url and I use Image cell,

[2020-10-27 17:44] oddlittlebird commented on #24713
@daniellee , still need an answer.

[2020-10-27 17:51] dr3adx opened #28577 "How do I access Grafana Server Log on a panel hosted by Grafana?"
Hello,

How do I access Grafana Server Log **on a panel that is hosted by Grafana company and not my own server**?
Hopefully someone will see this, since there is countless posts on the forum and not a single one has a reply to such an important quesiton.

Thanks.

[2020-10-27 18:31] stevenvachon opened #28580 "Settings retrieval for plugins"
**What would you like to be added**:
A means of retrieving a Grafana runtime's settings, as parsed from env vars and/or config file. Perhaps this could be a `/settings` REST endpoint, or something else. Ultimately, I think the SDK could provide a simple function for getting the values.

**Why is this needed**:
My specific use case is referencing the global datasource timeout value (#15054) within

[2020-10-27 19:26] stevenvachon opened #28581 "Data source timeout field in config editor"
**What would you like to be added**:
This is related to #28580. Any data source plugin (HTTP, SQL, etc) could benefit from a custom timeout that overrides the global timeout (#15054) and defaults to it.

**Why is this needed**:
Some panels are configured to pull in so much data that—currently hardcoded—default timeouts are not long enough.

[2020-10-27 19:49] DmitrySidorow opened #28583 "shared tooltip low perfomance in chrome"
Faced with low perfomance (low fps) when use shared tooltip in google chrome. But no problems with Firefox.

**Environment**:
- Grafana version: 7.3.0 beta 2
- Data source type & version: postgres + TimescaleDB
- OS Grafana is installed on: windows 10
- User OS & Browser: chrome, firefox

[2020-10-27 21:46] kumters commented on #26397
That GUI is still broken somehow (no TLS CA skip and so on), you have to create a provisioning YAML config file and place it to /etc/grafana/conf/provisioning/ (don't forget to chown rights to grafana group). Do restart of grafana and Woala it's there and test button works:)

My yaml file:
apiVersion: 1

datasources:
  - name: InfluxDB_v2
    type: influxdb
    access: proxy
    url: **https**://l

[2020-10-27 23:13] marefr commented on #28457
Thanks. In the payloads you posted earlier I don't see a reference to `fcac86b2-08ea-4d29-839d-441fc4725f3e`. Based on the code I would expect a property "groups" in the payload.

Have you enabled group attributes as explained in [here](https://grafana.com/docs/grafana/latest/auth/azuread/#configure-allowed-groups-and-domains)?

[2020-10-27 23:15] arcivanov commented on #27617
@Morriz Over here we don't want to delegate OAuth to grafana. We want Grafana to be absolutely authentication-oblivious. We don't even care about authorization that much, as that part will be handled by Istio policies. We just wanted Grafana to stop caring about the Bearer token.

[2020-10-27 23:35] hairyhenderson commented on #24092
@FireEmerald the milestone was switched to 7.4.0 14 days ago 😅

[2020-10-28 00:03] taciomcosta commented on #28203
Hello, guys.

I've added a PR that makes IPv6 addresses not surrounded by brackets acceptable.
Let me know for any improvements! :)

[2020-10-28 01:40] xRoker commented on #26808
The new behaviour is less convenient for a workflow where you select a larger timerange and try to narrow it down on the graph.

[2020-10-28 02:56] msinphilpk commented on #25253
Thank you for your immediate response and help to fix the issue.

On Tue, Oct 27, 2020 at 1:18 PM Grot (@grafanabot) <notifications@github.com>
wrote:

--
MOHAMMED SINPHIL

[2020-10-28 03:30] theyaa commented on #28515
@hugohaggmark I did not remove anything. I just copied the Json from Grafana and pasted it here. This dashboard works fine with Grafana 6.7.4, but does not work with 7.2.1. Below is another dashboard with the same issues, works with v6.7.4 but does not work with 7.2.1

{
  "annotations": {
    "list": [
      {
        "builtIn": 1,
        "datasource": "-- Grafana --",
        "enable": true,

[2020-10-28 03:48] LunkRat commented on #16363
I'm looking at https://grafana.com/docs/grafana/latest/auth/google/#enable-google-oauth-in-grafana

I don't see any explanation of how local Grafana accounts and Oauth accounts are related to each other.

I was left wondering about it after reading the doc, which is how I ended up here.

[2020-10-28 03:56] ming0804 opened #28586 "webhook read: connection reset by peer"
![image](https://user-images.githubusercontent.com/17372409/97389101-8f59cf00-1914-11eb-830e-05033eb6cb82.png)

**What happened**:
`lvl=eror msg="Failed to send webhook" logger=alerting.notifier.webhook error="Post \"http://192.168.12.132:8080/alert/standardAlert\": read tcp 192.168.4.106:34934->192.168.12.132:8080: read: connection reset by peer" webhook=12`
**What you expected to happen**:
 But

[2020-10-28 05:03] hugohaggmark commented on #22433
So do I keep the needs investigation label that is mainly used for bugs?

[2020-10-28 05:07] hugohaggmark commented on #28515
@theyaa thank you, I will try it out

[2020-10-28 05:19] hugohaggmark commented on #28515
@theyaa in your JSON every data source property is null __`"datasource": null,`__. This means that none of the queries will work.

You need to edit each Panel and Query Variable and select the correct data source for those queries.

One reason for this it could be that the original data source has been removed/renamed or a migrations problem, but we have received no migrations issues that I know o

[2020-10-28 05:46] #28577 closed

[2020-10-28 05:49] hugohaggmark commented on #28581
@stevenvachon friendly reminder to please add labels to your issues so that the person on issue triage doesn't have to

[2020-10-28 05:51] hugohaggmark commented on #28583
@DmitrySidorow can you please supply a little more information about how to reproduce this? Is it in every graph?

[2020-10-28 05:54] hugohaggmark commented on #28586
@ming0804 thank you for reporting this. Can you please supply reasonable reproducible steps so we can help you? Thank you!

[2020-10-28 05:57] ming0804 commented on #28586
![image](https://user-images.githubusercontent.com/17372409/97397992-668e0580-1925-11eb-992f-711ae7150918.png)
![image](https://user-images.githubusercontent.com/17372409/97398025-7279c780-1925-11eb-8695-c68e9ea064a4.png)
![image](https://user-images.githubusercontent.com/17372409/97398050-7c9bc600-1925-11eb-8ec9-ade06033de89.png)

[2020-10-28 06:04] ming0804 commented on #28586
@hugohaggmark

[2020-10-28 06:06] FireEmerald commented on #24092
So the issue was first added to milestone 7.1, then to 7.2 moved to 7.3 and now to 7.4. Hopefully the "max-move" count is at 4 🙈

[2020-10-28 06:26] neel5481 commented on #26447
I also face similar issue where "Welcome Panel" appears in between the dashboard and asking user to add datasource and all which makes very bad user experience.

[2020-10-28 06:27] hugohaggmark commented on #28586
@ming0804 I just tried this out using a simple Express server in Node using the express generator and it works with no issues.

![image](https://user-images.githubusercontent.com/562238/97400121-dcc34580-18ee-11eb-9d69-76d21c970b45.png)

![image](https://user-images.githubusercontent.com/562238/97400156-ec428e80-18ee-11eb-93c1-0e6f361aba32.png)

What other settings are configured in Optional Webho

[2020-10-28 06:43] ming0804 commented on #28586
@hugohaggmark  Sorry, just because of my network problem, but there is another problem. Now I can't add data source
![image](https://user-images.githubusercontent.com/17372409/97401517-e919c380-192b-11eb-8005-ee34209db77d.png)
![image](https://user-images.githubusercontent.com/17372409/97401561-fafb6680-192b-11eb-90ab-531626070852.png)

[2020-10-28 06:48] hugohaggmark commented on #28586
@ming0804 so your original issue is gone? I can close this issue then?

[2020-10-28 06:49] ming0804 commented on #28586
well

[2020-10-28 06:50] #28586 closed

[2020-10-28 06:51] #28234 closed

[2020-10-28 06:53] #28362 closed

[2020-10-28 06:55] DmitrySidorow commented on #28583
Just noticed that this is due to adblock enabled

[2020-10-28 07:04] #24139 closed

[2020-10-28 07:05] hugohaggmark commented on #28583
Thank you @DmitrySidorow, closing the issue now.

[2020-10-28 07:05] #28583 closed

[2020-10-28 07:11] ming0804 commented on #28586
@hugohaggmark Thank you for your patience

[2020-10-28 07:12] hugohaggmark commented on #27971
I can confirm this, but if I change the Fields settings from __Numeric Fields__ to __All Fields__ or a specific field it works as expected:
![image](https://user-images.githubusercontent.com/562238/97403451-be604880-18f4-11eb-95a2-424eb708ec41.png)

Not sure if this is an intended change, do you know more about this @torkelo

[2020-10-28 07:16] hugohaggmark commented on #28586
@ming0804 no worries

[2020-10-28 07:23] #28209 closed

[2020-10-28 07:25] hugohaggmark commented on #22801
@r00ta very late on the game here but are you still experiencing this issue. If you do can I please bother you to share the Query Inspector data? panel -> inspect -> query
![image](https://user-images.githubusercontent.com/562238/97404854-08e2c480-18f7-11eb-9478-2ac5a7e28c96.png)

[2020-10-28 07:32] hugohaggmark commented on #22956
Reading through comments and the PRTG plugin's own issues this seems to have been fixed in 6.7.2 but there are more issues afteer Grafana 7.0 release. I'm going to close this for now as the fix seems to be to upgrade to Grafan 6.7.2.

[2020-10-28 07:32] #22956 closed

[2020-10-28 07:36] hugohaggmark commented on #23418
@vmanju123 not sure what to make of this, it seems like a Feature Request but I'm not sure. Can you confirm that this is a feature you want to add to Grafana?

[2020-10-28 07:38] wiegandf commented on #28457
That's what I would have expected as well. Interestingly, it still works for about half the people in the allowed group (without the groups property in the jwt payload).

I followed the documentation and `"groupMembershipClaims": "ApplicationGroup"` is set. Actually, I also followed https://github.com/grafana/grafana/pull/23465 because otherwise it didn't work at all.

I'll try to add more debug l

[2020-10-28 07:46] hugohaggmark commented on #25039
@giddyhup sorry for late response but I'm reading this https://grafana.com/docs/grafana/latest/datasources/influxdb/#annotations and according to that you shouldn't use the Field Mappings when you are querying just one column.

I'm going to close this for now but we can always reopen this issue if the needs arises.

All the best

[2020-10-28 07:46] #25039 closed

[2020-10-28 08:00] hugohaggmark commented on #25230
@ZaneL sorry for a very late response but are you still experiencing this? If so can you please share your Panel JSON and the markup for the iFrame because I'm struggling to repro this.

[2020-10-28 08:03] torkelo opened #28591 "Grafana UI Card Component"
We did the first pass on a new unified card component that looks very promising. https://github.com/grafana/grafana/pull/28216

But it has a few issues that I think we should explore before start using it more.

A) Big API

[code]

One thing that stands out to me here is onTagClick feels strange, makes me think tags should be an element like the actions?

It's kind of messy to use with props that

[2020-10-28 08:37] baur commented on #26899
@sakjur , @peterholmberg
v7.3.0-beta2 (fce221a7d3)
same problem!

[2020-10-28 08:39] Morriz commented on #27617
You obviously did not read what I posted ;)

[2020-10-28 08:45] Clarity-89 commented on #28591
Agree with the API restructuring idea. It would help to simplify the API and delegate the props to the actual components that use them. The UI tweaks will probably need some input from the UX team.

[2020-10-28 08:49] dprokop commented on #28528
@andreashofm thank you for this feature request. I have added it to the new graph panel backlog and we will try to include this feature in the new graph panel.

[2020-10-28 08:59] hugohaggmark commented on #25449
Hi @sabeDev and sorry for this late response. I've looked into this and I can't find any performance difference and I can't repro the issue with 7.0.3 version of Grafana. To be able to help out more with this investigation

I think I need more information about the size of the returned data for instance. You write __Any SQL query__ and that doesn't really help us. Could you alsso share any Dashboa

[2020-10-28 09:10] pimjansen commented on #16638
In Azure i finally got it working by running this command on the database:

[code]

After that i overwritten the database using the Azure Storage explorer and all is running fine from there

[2020-10-28 09:19] marefr commented on #28395
Is this the same as https://github.com/grafana/grafana-starter-datasource-backend/issues/16?

[2020-10-28 09:22] sabeDev commented on #25449
The later versions seemed have fixed the issues; the SQL performance is working fine now.

[2020-10-28 09:22] #25449 closed

[2020-10-28 09:24] hugohaggmark commented on #25449
Thank you @sabeDev

[2020-10-28 09:25] marefr opened #28594 "Short URL: Cleanup non-visited short URL's"
**What would you like to be added**:
A cleanup job for deleting short URL's that haven't been visited.

**Why is this needed**:
Database should not consist of data that's not in use/not needed.

**Additional details**:
Suggestion: Delete all rows in the short_url database table where `last_seen_at` is zero and `created_at` is older than for example 24 hours.

Ref #28248

[2020-10-28 09:25] aocenas commented on #26651
Does not seem like Explore related. @ryantxu is your team handling Influx DS now?

[2020-10-28 09:30] marefr commented on #28248
Created a separate issue for clean up of non-visited short URL's #28594. Also did some additional testing yesterday so will close this issue.

[2020-10-28 09:30] #28248 closed

[2020-10-28 09:41] aocenas commented on #27952
Not sure how many datasources use the `label_values` I assume at least Loki also uses this so they should be checked/fixed together with this.

[2020-10-28 09:50] aocenas commented on #28568
Seems like this could be connected to https://github.com/grafana/grafana/issues/28571

[2020-10-28 10:15] avilsmeier commented on #16452
Pretty Please? :D

[2020-10-28 10:33] marefr commented on #28457
Maybe @alexanderzobnin can help bring some clarity to this as well?

[2020-10-28 10:49] marefr commented on #28087
There's a link to OWASP in the configuration documentation that should explain lax and strict. Lax, strict and none is basically the attribute values supported by browsers, please have a look at https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Set-Cookie/SameSite#Values. From that we can read

Those recent changes is why we had to do some changes to Grafana in v6.6 and why we have this up

[2020-10-28 10:58] zhoumin8023 opened #28595 "Dashboard settings refresh, leave it for a while, chrome crashes"
**What happened:**
   When 10 panels are configured on a dashboard and set to refresh for 5 seconds, the chrome browser will hang up after 3 days.
**What you expected to happen:**
  After setting the refresh time on a dashboard, Chrome keeps not crashing
 ![chromeCrash](https://user-images.githubusercontent.com/34366341/97427364-5db22980-194f-11eb-8f07-ff37b762c808.png)
**How to reproduce it (as m

[2020-10-28 10:59] zhoumin8023 commented on #28595
![Uploading chromeCrash.png…]()

[2020-10-28 11:06] hugohaggmark commented on #25520
Sorry for the super late response to this.

I've confirmed this on latest master cb965ce17740b567e1f7ea946778348cc77bfeff and @rvdheij is correct __`07E386`__ is transformed to __Infinity__ and depending on which table you use React or old Angular table this value will be displayed differently.

For the old Angular Panel this is where we end up:
https://github.com/grafana/grafana/blob/cb965ce17740

[2020-10-28 11:10] aknuds1 commented on #27969
Closing, as we agreed earlier and considering it's implemented by #28176.

[2020-10-28 11:10] #27969 closed

[2020-10-28 11:19] hugohaggmark commented on #25520
To replicate this issue:
1. Install the Grafana Static Plugin
2. Import [this dashboard](https://gist.github.com/hugohaggmark/bd348cb52e1463f15b7faaed60d1cbbe)
3. Notice how "07E386" is formatted in table
![image](https://user-images.githubusercontent.com/562238/97429453-bbc31a80-1917-11eb-90c4-53368cce3da3.png)

[2020-10-28 11:29] hugohaggmark commented on #28595
@zhoumin8023 can you please share Dashboard JSON as well?

[2020-10-28 11:34] hugohaggmark commented on #28595
@zhoumin8023 can you explain what you mean by __`each panel is 10 times higher than query`__?

[2020-10-28 11:49] HenrikRolandHansen opened #28598 "Table filter with override value mapping"
I have applied a value override with the value mapping range to text in the table plugin. Two value mapping is applied with text "ok" and "Not Ok" and it works fine in the table. But when I select "ok" in the table filter, only one row is listed even if there are serval rows with "ok".

Before filter "ok is selected":
![image](https://user-images.githubusercontent.com/8969659/97419599-8bc14a80-190

[2020-10-28 12:39] edin008 opened #28600 "Dashboard variable fills slow if more than 250k unique values on PostgreSQL (TimescaleDB)"
**What happened**: on PostgreSQL (TimescaleDB) dashboard variable fills slow if more than 250k unique values, on InfluxDB there is no problem with same 250k unique values, variable fills without a problem

**What you expected to happen**: dashboard variable fills fast on PostgreSQL (TimescaleDB) even if more than 250k unique values

**How to reproduce it (as minimally and precisely as possible)**:

[2020-10-28 12:45] badrpc opened #28601 "Dynamic content in repeated row/panel title"
I have some data describing network interfaces in Prometheus fetched via SNMP. These data is indexed with ifIndex metric:

[code]

and using ifIndex one can get descriptions:

[code]

and performance metrics:

[code]

I have a dashboard with variables:

device: `label_values(up{job="snmp_exporter"}, instance)`
ifIndex: `query_result(ifIndex{instance="${device}"})`

User selects a device in a drop-

[2020-10-28 12:47] hugohaggmark commented on #28598
Thank you for reporting this @HenrikRolandHansen to be able to repro this I would need to have a closer look at the data and Panel JSON. Can you please share via panel -> Inspect -> Query and panel -> Inspect -> Panel JSON? Thank you

[2020-10-28 12:48] mrarmyant commented on #4693
Where is this?

[2020-10-28 12:52] hugohaggmark commented on #28600
Thank you for reporting this @edin008 we'll investigate this closer. In the meantime I would be super glad if you could share your dashboard.json with PostGres and InfluxDb so we can rule out any other issues? Thank you again

[2020-10-28 12:58] hugohaggmark commented on #28601
@badrpc what happens if you create a hidden query variable with label_values(ifName{instance="$device"},ifName)?

Couldn't you use that hidden variable as the title for the rows?
I might be not understand your problem here (I'm not a Prometheus expert) so I'm sorry if I'm asking a stupid question.

Regarding if this is a reasonable feature request I don't think we want to introduce more variable t

[2020-10-28 13:05] ivanahuckova commented on #28594
Yes that makes sense! Just wondering if 24 hours isn't too strict. I can imagine sharing the link on slack on friday and the person would want to access it next week. So maybe expanding the time to more hours would make sense.

Also, we should figure out how long do we want to keep link. E.g. if `last_seen_at` is older than X. But no idea what it should be. Maybe month? Longer? Shorter?

And lastl

[2020-10-28 13:21] wbrowne commented on #28546
Thanks for that! So you just recently migrated from 6.5.X to 7.2.2 (assuming from the PR description)?

I'll continue testing for now and will let you know what I find.

[2020-10-28 13:29] wbrowne commented on #28350
If I understand the problem correctly, I believe this issue is addressed in [this fix](https://github.com/grafana/grafana/pull/28369), which will be part of Grafana 7.3.0 stable

[2020-10-28 13:38] HenrikRolandHansen commented on #28598
Hi Hugo

Panel Json below - hope it's what you need. Ready to assist if needed

Cheers

Henrik

{
  "datasource": "DGA_Gasanalyser",
  "fieldConfig": {
    "defaults": {
      "custom": {
        "align": null,
        "displayMode": "auto",
        "filterable": true
      },
      "thresholds": {
        "mode": "absolute",
        "steps": [
          {
            "color": "green",

[2020-10-28 13:47] badrpc commented on #28601
That's what I tried to explain when described the ifName variable (I wasn't very clear I guess). Basically with another variable defined as `label_values(ifName{instance="$device"},ifName)` or better as `label_values(ifName{instance="$device",ifIndex=~"$ifIndex"},ifName)` this variable will have it's own set of values. But this values won't be synchronized with ifIndex in repeated rows/panels. Bec

[2020-10-28 14:00] #27592 closed

[2020-10-28 14:11] aknuds1 opened #28604 "CloudWatch: Estimate time required to implement dynamic listing of metrics"
Marc has asked us to estimate the time required to implement dynamic CloudWatch metrics listing.

[2020-10-28 14:59] arcivanov commented on #27617
I did. You want `allow claims consumption without doing client lookup`. It's great, but I want even less than that - simply disregard all of the token :smile:

[2020-10-28 15:18] GregoryOrciuch commented on #28301
Today I noticed same issue in my dashboards which use Cloudwatch, so started to look for the issue and here it is. I can help somehow but need some instruction on what needs to be provided.

[2020-10-28 15:18] maemigh commented on #27004
As a workaround, I wonder if there is a way to use data from an external link to produce data in a modal? ie click the link and have data from it popup in a modal?

[2020-10-28 15:31] aocenas opened #28605 "Explore: History seems to update timestamps every time"
Looking at the Redux actions it seems like when updating history we update all the timestamps of all the items for some reason:
![Screenshot from 2020-10-28 16-30-17](https://user-images.githubusercontent.com/1014802/97458482-07d38680-193b-11eb-9af5-a15630994f45.png)

[2020-10-28 15:33] seanluce commented on #28350
My apologies, but I don't think that fix referenced will address the issue. The API call seems to be incorrect as mentioned by migel0.

[2020-10-28 15:46] lucaslefaucheur commented on #7949
+1

[2020-10-28 16:07] salavessa opened #28606 "Legends repeat as many times as number of active queries"
**What happened**: Each legend entry gets repeated as many times as number of active queries.

**What you expected to happen**: Legend to be unique.

**How to reproduce it (as minimally and precisely as possible)**: This has been observed using CloudWatch datasource when using expressions:
![grafana-7.3.0-repeated-legend GIF](https://user-images.githubusercontent.com/15344273/97462324-7c57f680-193

[2020-10-28 16:23] ivanahuckova commented on #28605
I looked into this briefly and I think it is Redux-i related bug. Basically in https://github.com/grafana/grafana/blob/master/public/app/core/utils/explore.ts#L320 we are adding new queries at the beginning. And it moves everything down and in Redux it seems like we have done a bunch of changes, but the change was just adding a new object to the first place in array. Not sure if it has any perf im

[2020-10-28 16:35] holiiveira opened #28608 "Error while trying to authenticate user"
**What happened**:
Error when logging in with user:

[code]

**Anything else we need to know?**:
Problem occurred after database migration, and migration Grafana version: 7.2.0 to 7.2.2.

**before**: 10.1.45-MariaDB-0+deb9u1 Debian 9.12
**after**: 8.0.22 MySQL Community Server - GPL

[code]

I have users where the auth_id field exceeds 190 characters. However, this error did not occur before migra

[2020-10-28 16:45] gpxlnx commented on #28608
I am also facing the same problem described above.

[2020-10-28 16:52] ad-m opened #28610 "Alerting: Automatically add tags to alert annotations"
**What would you like to be added**:

I would like automatically add tags to annotations created by alerts.

Now alerts have tags:

![obraz](https://user-images.githubusercontent.com/3618479/97468723-e330dc00-1945-11eb-95b9-f6e84d16e7f4.png)

What surprised me was that these information are not used as tags for the annotations. As a result, alert annotations are not tagged in any way. Tags is only

[2020-10-28 17:17] deejayluk opened #28611 "Show variable in Cycle View Mode"
**What would you like to be added**:
Please add option to shows variable when dashboard is on the cycle view mode.
**Why is this needed**:
I am using Grafana to visualizate dashboards on the production and for me this is very important options.
Variables for me are filters, users can choose some options who have effect on dashboards.

[2020-10-28 17:39] edin008 commented on #28600
I made new dashboard with both datasources. I cannot share full json, here is basic dashboard json with altered names inside. [Variable load InfluxDB vs PostgreSQL.txt](https://github.com/grafana/grafana/files/5453780/Variable.load.InfluxDB.vs.PostgreSQL.txt)

InfluxDB query: show tag values from table with key=value (no problem wih 250k unique values)
PostgreSQL query: select value from table lim

[2020-10-28 18:03] aknuds1 opened #28612 "Drone: Disable Windows on PRs"
Windows is slowing down PR builds, disable it for the time being.

[2020-10-28 18:04] aknuds1 opened #28613 "Drone: Make new Git Drone plugin for Windows"
Make Git Drone plugin for Windows with latest Git version, to support the `eol` property in .gitattributes.

[2020-10-28 18:05] wbrowne commented on #28350
Thanks @seanluce. We'll try to take a look as soon possible

[2020-10-28 18:20] lostmimic opened #28614 "7.3.0 grafana user group is not getting created in alpine dockerfile"
**What happened**: Moving from 7.2.1 to 7.3.0 there is no longer a grafana group in the alpine based grafana docker image

**What you expected to happen**: The grafana group existed as per https://github.com/grafana/grafana/blob/4301121b9d96a4567dfb69f041780ca25e9368d3/Dockerfile#L58

**How to reproduce it (as minimally and precisely as possible)**:
docker run grafana/grafana:7.3.0
exec into the c

[2020-10-28 18:52] btmc opened #28615 "Multiple edits of Folder/Dashboard Permissions can result in inconsistent database state and permission leak"
**What happened**:

Making certain sequence of actions on Folder or Dashboard Permissions tab result in ability of users, whose permissions are based only on organization role (tested for viewer) gain access to dashboards with permissions those of configured for teams or users, not for organization roles.

For example, if Folder/Dashboard Permissions include a team with Edit permission, every user

[2020-10-28 18:57] ahornercenteredge opened #28616 "MSSQL data type hierarchyid causes grafana to crash"
**What happened**:
Using the MSSQL data source. When a query includes a column of type hierarchyid, the data fails to load with error "Failed to fetch." This failure also appears to crash the grafana process as the attached logs show an entry for "Starting Grafana" after the MSSQL connection is initialized for the query.
[grafana.log](https://github.com/grafana/grafana/files/5454206/grafana.log)

[2020-10-28 19:09] rvdheij commented on #25520
Thank you for looking into this. I don't see how your bypass or circumvention would work as there are no options in the table display. The data I have is dynamic and comes out of InfluxDB. The tag values are strings by definition. This seems to be biting me in a few different places where tag values are handled as numbers.
Trying to recreate that table, I now don't seem able to exclude the time co

[2020-10-28 19:13] theyaa commented on #28515
@hugohaggmark the last Json is from v6.7.4, I have installed the same plugin on both versions, without modifications. It works fine in 6.7.4, but fails with the error mentioned at the top with version 7.2.1

Best,

Theyaa.

[2020-10-28 19:27] igorzavgorodniy commented on #24889
@kaydelaney looks like not fixed ((
![image](https://user-images.githubusercontent.com/64777755/97486553-45003e80-1964-11eb-9471-efe095841566.png)

[2020-10-28 20:38] aocenas commented on #28605
Ah ok got it, I did not notice that also the queries changed in the diff (cause I did not expand it) so I thought that the timestamps changed for the same history items. Right now that's expected and should not be an issue, my bad for not looking more closely. Thanks for looking at it.

[2020-10-28 20:38] #28605 closed

[2020-10-28 20:58] aned commented on #28384
For example, there are 3 grafana instances in HA cluster. One of the instances becomes blocked to access mysql "sync DB" (acl update, network routing, etc).
A load balancer will round-robin users btw 2 "healthy" (read synced) and 1 "unhealthy" instance (not synced). The end result will be discrepancies for end users (depending on which instance load balancer put them).
Currently there is no way to

[2020-10-28 21:04] corycomer commented on #28301
Also started having this issue. Same scenario, using CloudWatch as the datasource, multiple queries in the graph. One thing I noticed is that this did not start happening until I enabled the Legend on the graph. Beforehand, the graph was using 3 queries, and producing 1 line per query for a total of 3 lines. After enabling the Legend and setting it to the display on the right hand side, it is now

[2020-10-28 21:17] orenwolf opened #28619 "[Feature Request] Legend variables"
We have many instances of Prometheus as a data source, pulling in integer values for items like an event ID or userid.

These IDs map to human-readable names in a SQL data source (which we also have configured in grafana)

While we can use grafana variables to, for example, provide a dropdown to modify the graph query by friendly name (if, for example, we wanted to filter on an ID, the legend does

[2020-10-28 21:23] torkelo commented on #24889
Are you running 7.3 ?

[2020-10-28 22:07] aocenas opened #28621 "Loki: Error when one query returns zero results"
Seems like there is a weird error that happens only when running 2 queries and one of then does not return any data.

![Screenshot from 2020-10-28 23-06-27](https://user-images.githubusercontent.com/1014802/97501846-4c2e4900-1972-11eb-8b18-a779b04831f4.png)
![Screenshot from 2020-10-28 23-06-19](https://user-images.githubusercontent.com/1014802/97501847-4cc6df80-1972-11eb-85f0-e08fb178969f.png)

[2020-10-28 22:54] ebabani opened #28623 "Elasticsearch logs over time shorter than selected time range"
**What happened**: In Grafana 7.3.0 I went to the explore tab and selected 1 hour of logs for one of my elasticsearch data sources. In the logs window instead of showing me the volume of logs over time for the entire 1h window, it only showed logs over time for only a few seconds

![image](https://user-images.githubusercontent.com/2236882/97504531-6efa3680-194d-11eb-8c77-379a8368aa84.png)

**What

[2020-10-28 23:10] badrpc commented on #28601
And since you mentioned demand from the community there is https://github.com/grafana/grafana/issues/1032. Maybe I misread it but I don't think it was properly resolved. It was closed with a merge of https://github.com/grafana/grafana/pull/27829. But the latter only allows for statically configured mapping which I think is not what many people on that feature request were talking about. And comple

[2020-10-29 01:30] kevinashaw commented on #16725
I seem to be running into the same issue.  We are experimenting with a Grafana AMI running on an AWS EC2 instance.  I created a new role with the CloudWatchReadOnlyAccess policy and a trust relationship to "ec2.amazonaws.com".  I have bound that role to the EC2 instance.  I then created a new CloudWatch Data Source in Grafana, set it for ARN as the Auth Provider and entered the ARN of the new role

[2020-10-29 02:10] ming0804 opened #28626 "Error adding data source"
When I click add data source, I report the above error directly. This is true for any data source
Is it on one of my servers, other servers are normal? Is this because?

**Environment**: centos7
- Grafana version: 7.2.2

[2020-10-29 02:14] ming0804 commented on #28626
msg="Request error" logger=context userId=1 orgId=1 uname=admin error="cannot accommodate data, need 13 digits, got 8" stack="/root/go/pkg/mod/github.com/teris-io/shortid@v0.0.0-20171029131806-771a37caa5cf/shortid.go:133 (0x94ffa4)\n/root/project/pkg/util/shortid_generator.go:25 (0x94ff7d)\n/root/project/pkg/services/sqlstore/datasource.go:240 (0xf6ef88)\n/root/project/pkg/services/sqlstore/dataso

[2020-10-29 02:39] ming0804 opened #28627 "Whether the variable can be set when all is selected, that is, add a setting in all to filter out the condition without adding the where condition"
Whether the variable can be set when all is selected, that is, add a setting in all to filter out the condition without adding the where condition

[2020-10-29 02:41] 369pie commented on #13214
how is it going?

[2020-10-29 02:48] zhoumin8023 commented on #28595
[
[grafana-piechart-panel.zip](https://github.com/grafana/grafana/files/5455837/grafana-piechart-panel.zip)
](url)

[2020-10-29 02:52] zhoumin8023 commented on #28595
The above zip file is the json file of the dashboard panel, you can import it and leave it for a period of time to find that chrome crashes @hugohaggmark @grafanabot

[2020-10-29 02:52] zhoumin8023 commented on #28595
[
[chrome-crash-json.zip](https://github.com/grafana/grafana/files/5455850/chrome-crash-json.zip)
](url)

[2020-10-29 02:53] #28626 closed

[2020-10-29 03:59] mikhailredis opened #28628 "Plugins signing: Signed community plug-in displays renderPluginNotice()"
**What happened**:
After upgrade to Grafana 7.3 Signed plugin display Unsigned Notice.

![Screen Shot 2020-10-28 at 8 42 51 PM](https://user-images.githubusercontent.com/47795110/97523358-48dd9200-195f-11eb-98ed-8e0f44eeb17f.png)

**What you expected to happen**:
The Notice should not be displayed.

**How to reproduce it (as minimally and precisely as possible)**:

Install `redis-app` plugin.

**A

[2020-10-29 04:12] mikhailredis opened #28629 "Plugins signing: Panels inside Signed App marked as Unsigned"
**What happened**:

The panel, which is a part of Signed Application, marked as Unsigned.

![Screen Shot 2020-10-28 at 9 08 51 PM](https://user-images.githubusercontent.com/47795110/97524455-f3ef4b00-1961-11eb-97bf-241858acc0a8.png)

**What you expected to happen**:

The panel should be marked as Signed.

**How to reproduce it (as minimally and precisely as possible)**:

Install `redis-app` plug-i

[2020-10-29 04:42] aknuds1 commented on #16725
@kevinashaw To me it sounds as if you shouldn't configure the data source to assume the role, since the EC2 instance is already bound to it. It looks from the error as the EC2 instance has assumed the role and tries to assume it again, since the data source was configured to do so. Make sense?

[2020-10-29 04:44] kevinashaw commented on #16725
I agree completely.  But Grafana demands that I enter an ARN for the Role.  I can't not provide it.

[2020-10-29 05:08] nittayakaiyang opened #28630 "Grafana alert not send message resolved when state change to status OK"
****What happened:**
Hi! Grafana Team I'm using Line notification. When state change to alerting, notification can be sent but when state change to OK, I cannot receive resolve message. In state history tab I can see every state change and I see state change to OK not No Data
I make sure Uncheck Disable Resolve Massage

****What you expected to happen**:**
When the state change from alerting to OK

[2020-10-29 05:16] hugohaggmark commented on #28598
Thank you @HenrikRolandHansen I think in this case I would need the data, could you share with panel -> inspect -> query. Thank you!

[2020-10-29 05:18] aknuds1 commented on #16725
@kevinashaw If you're on v7.3.x try "AWS SDK Default" as the auth provider, otherwise try "Credentials file". There shouldn't be any need for you to pick ARN as the provider.

[2020-10-29 05:18] hugohaggmark commented on #28600
Awesome information @edin008, I'll investigate further.

[2020-10-29 05:21] kevinashaw commented on #16725
I will try.  Thanks!

[2020-10-29 05:40] hugohaggmark commented on #25520
This is where it can get a bit tricky and confusing because we upgraded the Table for 7.0 in Grafana so It kind of depends on which Table you have. If you can share the Panel JSON for your Table I can help out. If your JSON includes __`"type": "table-old"`__ then you're using the Old Table Panel otherwise your using the New Table Panel.

But basically both Tables assume numeric values by default s

[2020-10-29 05:43] hugohaggmark commented on #28515
@theyaa in v6.7.4 do you see any options for your variable called `Cluster`. I mean, do you see a drop down with values for `Cluster`? I'd be very surprised if you did with the JSON you've supplied.

[2020-10-29 05:51] hugohaggmark commented on #1032
Reopening this issue as #27829 only solves this for static data.

[2020-10-29 05:54] hugohaggmark commented on #28601
@badrpc gotcha: and thank you for clarifying this, I'll reopen that issue. I can tell with some confidence that we will not add __`Per each repeated row/panel`__ option because it won't work as the repeated rows are calculated after all the variables have finished loading. So that would introduce a catch 22 moment.

We're working on the next generation of dashboards that can be more dynamic but th

[2020-10-29 05:59] hugohaggmark commented on #28606
Related to #28301

[2020-10-29 05:59] FrankAnk commented on #22271
We also put our logs out in JSON format to avoid getting multiple log records when these contain line feeds. The applications are mostly Java Spring applications, sometimes errors produce stacktraces which we would like to view in the logs. Until now we have been using Elasticsearch and Kibana for this, which both work well but we would rather have just one Oberservabilty tool and want to view the

[2020-10-29 06:01] xieziqiang commented on #25580
+1 on this!

[2020-10-29 06:04] Sorrythegame commented on #28595
I also encountered this problem. I am using grafana 6.5.2 version, when I configure multiple panels, the dashboard page hangs after a few days(1-4).

[2020-10-29 06:08] hugohaggmark commented on #28613
@aknuds1 friendly reminder to add labels to new issues so the person doing issue triage doesn't have to.

[2020-10-29 06:09] zhoumin8023 commented on #28595
To add, I found that the more panels and queries configured on a dashboard, the faster the Chrome browser will hang. For example, if you configure 50 panels on a page and each panel is configured with 20 queries, the hang is more fast

[2020-10-29 06:18] hugohaggmark commented on #28619
/duplicate https://github.com/grafana/grafana/issues/1032

[2020-10-29 06:18] #28619 closed

[2020-10-29 06:20] hugohaggmark commented on #28627
@ming0804 please use our template for bugs or feature requests and add reproducible steps or a better description. Thank You

[2020-10-29 06:26] ming0804 commented on #28627
![image](https://user-images.githubusercontent.com/17372409/97533066-82131200-19f2-11eb-98a2-006294f005a4.png)
![image](https://user-images.githubusercontent.com/17372409/97533092-89d2b680-19f2-11eb-81da-0c6b1532e1c4.png)

When I select the all condition, I want to query SQL without this condition

[2020-10-29 06:38] aknuds1 commented on #28301
I think I've reproduced this issue, by following the reproduction steps provided by @MaikiGirardi. I.e., I created two identical queries, with distinct aliases and I get 4 data points in the graph, 2 per query/alias. From my debugging, the duplication must happen in the front-end, since the back-end sends unique results, one per query.

[2020-10-29 06:39] hugohaggmark commented on #28628
Confirmed on Grafana v7.4.0-pre (4301121b9d)

[2020-10-29 06:39] torkelo commented on #28627
This is not possible as templating can only replace the variable in a string, not remove parts of the string before it location

[2020-10-29 06:39] #28627 closed

[2020-10-29 06:40] aknuds1 commented on #28628
This is related to @wbrowne's recent work, right?

[2020-10-29 06:41] hugohaggmark commented on #28628
Yes, and @dprokop's work

[2020-10-29 06:42] aknuds1 commented on #28629
Isn't this fundamentally the same bug as #28628? WDYT @hugohaggmark?

[2020-10-29 06:43] hugohaggmark commented on #28629
Yes! /duplicate #28628

[2020-10-29 06:56] igorzavgorodniy commented on #24889
no. 7.1.5
Does this PR get into 7.3?

[2020-10-29 07:01] dprokop commented on #28628
On it in a bit. It's ok the notice is there, but the copy is wrong

[2020-10-29 07:01] hugohaggmark commented on #28630
/duplicate #12781
@nittayakaiyang this issue seems to be fixed in https://github.com/grafana/grafana/pull/27639

[2020-10-29 07:01] #28630 closed

[2020-10-29 07:03] hugohaggmark commented on #28628
@dprokop also have a look at #28629

[2020-10-29 07:07] deejayluk opened #28631 "Font size in most module"
**What would you like to be added**:
Please add possiblity to change font-size in module table, stat, gauge.
**Why is this needed**:
Because different resolutions dont shows everything in table (is not responsive)

[2020-10-29 07:19] HenrikRolandHansen commented on #28598
The query:

SELECT last("Last sample value") AS "value", "slope value", "R2" *100 FROM "DGA_Predictive" WHERE ("Stationsbetegnelse" =~ /^BJS_400$/ AND "Trafobetegnelse" =~ /^(A03-T41|A03-T41-R41|G1-T45|S1-P1-WT-T1-L1|S1-P1-WT-T1-L2|S1-P1-WT-T1-L3|T43-T31|T43-T3|T43-T43)$/ AND "Last sample value" < 1) AND time >= 1130566520925ms and time <= 1919488520925ms GROUP BY "Stationsbetegnelse", "Trafobeteg

[2020-10-29 07:53] nzrunner commented on #16937
I have the same issue. In my case, I moved the Grafana DB to a new Grafana server and didn't install the Strava plugin on the new server (deliberately, as the plugin was faulty).

Now I cannot delete the Strava datasource.

Any suggestions on how I can delete the datasource reference?

[2020-10-29 07:59] hugohaggmark commented on #28631
/duplicate #26965

[2020-10-29 08:00] #28631 closed

[2020-10-29 08:06] dprokop commented on #28629
@hugohaggmark @aknuds1 this is not a duplicate. Apparently, when checking for the app plugin being signed or not the panel is not taken into consideration and its status is still unsigned. This is the meta of redis-cli panel:

[code]

@wbrowne can you have a look at this one?

[2020-10-29 08:22] hugohaggmark commented on #28598
Hi Henrik and thank you for this additional info, I can now repro this on latest master.

[2020-10-29 08:35] peterholmberg commented on #28431
This has been fixed in 7.3 https://github.com/grafana/grafana/pull/28115

[2020-10-29 08:44] btmc commented on #28615
Visualization of the chain of actions in Permissions tab.

![Kapture 2020-10-29 at 11 36 22](https://user-images.githubusercontent.com/22390036/97545181-a8798300-19db-11eb-92a0-ed7095653024.gif)

[2020-10-29 08:45] torkelo opened #28634 "Dependencies: Update angular-sanitize"

[2020-10-29 08:51] #28574 closed

[2020-10-29 09:13] nanicpc opened #28635 "Data link not working with Template Variable "Custom all value""
**What happened**:
After adding a Data Link to a table using field values as well as template variables the dashboard visualization broke since the template variable field "All" is replaced by its custom value ".*" on the dropdown Menu. in order to reload the data you have to manually click on "All" again.

original variable selection:
![image](https://user-images.githubusercontent.com/15998450/97

[2020-10-29 09:35] f1-outsourcing opened #28636 "grafana logs you out, when the connection with the remote db is dropped"
I have a local grafana server and a remote database. Sometimes the internet connection to the remote database is not available. In stead of showing then empty graphs, I have the impression the grafana server logs you out. That is of course not nice if this all is running on a remote display.

So better would be to never log someone out, until they press the logout button.

[2020-10-29 09:41] #28628 closed

[2020-10-29 09:51] hugohaggmark commented on #28636
Thank you for reporting this @f1-outsourcing, could you please use our template for issues and add any reproducible steps if you have them? This simplifies our work a lot! Thank you

[2020-10-29 10:02] wbrowne commented on #28606
Thanks for creating this issue @salavessa. It seems to be a /duplicate of #28301 which is where we're tracking updates so will close this.

[2020-10-29 10:03] #28606 closed

[2020-10-29 10:21] torkelo opened #28640 "TextPanel: Migration always uses old content property"
The migration handler always uses the old content property (and does not cleanup the old content property):

So after going into edit mode the content will change, but on save and reload will reset.

https://github.com/grafana/grafana/blob/master/public/app/plugins/panel/text/textPanelMigrationHandler.ts#L6

[2020-10-29 10:23] mlechgue commented on #15316
As described in the upgrading notes, changing the login_cookie_name solve the problem for me.
Thank's

[2020-10-29 10:45] marefr commented on #28431
Regarding "Unable to translate notification id to uid" it means that you've specified a notification channel id in your dashboard that doesn't exist. When using provisioning of alert notification channels and dashboards it's important that you refer to notification channel uid in dashboards because the id (database incremental counter) is non-deterministic where's the uid is deterministic/stable.

[2020-10-29 10:58] Morriz commented on #27617
aha, but those mechanics are already in place I reasoned, so nothing to be done there. I would not propose removing that, as it gives authn/authz for free :)

[2020-10-29 11:22] torkelo commented on #28389
this is an alpha panel so no need to patch this in 7.3.1

[2020-10-29 11:39] papagian commented on #28431
The original issue (unable to load the notification channel) is duplicate of #28051 (as @peterholmberg has pointed out).

Regarding the errors in the logs, on top of what @marefr's comment, these errors are not related to the original issue above but imply that inside the dashboard JSON the notification channels (under `notifications` section) are referred using the notification id instead of uid.

[2020-10-29 11:52] aknuds1 commented on #28614
Why do you need the grafana group in your containers?

@xlson Can you have a look at this?

[2020-10-29 12:10] torkelo opened #28646 "Dependencies: Update react-popper"

[2020-10-29 12:22] aknuds1 commented on #28614
Assigning to @xlson , since he made the changes in question.

[2020-10-29 12:30] Diggsey opened #28648 "Explore search UX: buggy cursor behaviour (1)"
![grafana_issue](https://user-images.githubusercontent.com/451321/97572877-d8775500-19e0-11eb-9960-d706b0a91aa7.gif)

**What happened**:
Cursor alternates between the start and end of the textbox each time it gains focus.

**What you expected to happen**:
The cursor should go where I click.

**How to reproduce it (as minimally and precisely as possible)**:
Click in and out of the textbox repeatedl

[2020-10-29 12:38] Diggsey opened #28649 "Explore search UX: buggy cursor behaviour (2)"
![grafana_issue2](https://user-images.githubusercontent.com/451321/97574609-694f3000-19e3-11eb-9312-7347fc92510f.gif)

**What happened**:
Mouse pointer switches to an IBeam outside of the textbox's clickable area.

**What you expected to happen**:
The IBeam is supposed to give visual feedback for when you can select text. If the cursor is an IBeam then clicking should focus the textbox, and cause

[2020-10-29 12:39] ivanahuckova commented on #28648
Hello @Diggsey we have already an issue for same problem https://github.com/grafana/grafana/issues/27707 that was closed in favour of #26760.

/duplicate of #26760

[2020-10-29 12:40] #28648 closed

[2020-10-29 12:48] lostmimic commented on #28614
This isn't about a need, there is a line in the dockerfile (that I quoted in the initial bug) that is attempting to create said group but the group does not exist. So this is a bug.

You can either remove that logic in the dockerfile and post that your intentions are to run with only grafana:root user:group or you can fix the bug that is not getting the grafana group created in the image.

My pers

[2020-10-29 12:53] #28576 closed

[2020-10-29 12:53] de1150423 opened #28650 "UI interface hung/busy/high download volume when using group by terms with elasticsearch"
**What happened**:
We experience in some scenarios when using elasticsearch datasource high data download volumes (40mb/s over vpn) when adding a group by term. The UI is unresponsive during  that time and we receive multiple times suggestions regarding the term. Even if you click on one selected item (i.e. agent.hostname) we get at least 2 or 3 following suggestions.

**What you expected to happe

[2020-10-29 12:57] Diggsey opened #28652 "Cascader: Size of dropdown in Windows + Firefox is smaller than it should be"
![image](https://user-images.githubusercontent.com/451321/97576167-b7fdc980-19e5-11eb-85dd-f4ea6f1b7af5.png)

**What happened**:
Sometimes after opening the "log label" dropdown, it will suddenly shrink for no apparant reason. This makes it hard to find labels.

**What you expected to happen**:
The dropdown should remain the normal size:
![image](https://user-images.githubusercontent.com/451321/97

[2020-10-29 13:04] Diggsey opened #28653 "Query editor: Selecting from dropdown button should not clear the undo history of the textbox"
![image](https://user-images.githubusercontent.com/451321/97577183-fba50300-19e6-11eb-90ff-e832d3f18aea.png)

**What happened**:
Selecting a label from the dropdown will clear the undo history of the textbox.

**What you expected to happen**:
Selecting a label should be equivalent to typing into the textbox: ie. it should extend the undo history. Pressing ctrl+Z should recover the previous query.

[2020-10-29 13:06] luca-battistelli opened #28654 "When selecting text from a log line in Loki the detail log line opens."
**What happened**:
When selecting text from a log line in Loki (to copy-paste elsewhere for instance) the detail log line opens.

**What you expected to happen**:
The detail of the log line should not open when selecting text, just on click

**How to reproduce it (as minimally and precisely as possible)**:
1. Started Loki (Grafana v7.2.1 (72a6c64532))
2. Run any query
3. Select text on a log line

[2020-10-29 13:06] aknuds1 commented on #28614
You're saying this is a bug because of this [line](https://github.com/grafana/grafana/blob/4301121b9d96a4567dfb69f041780ca25e9368d3/Dockerfile#L58) in Dockerfile? That isn't the source Dockerfile for our official images, it's actually [this one](https://github.com/grafana/grafana/blob/master/packaging/docker/Dockerfile).

Closing this issue as the base premise turns out to be off.

[2020-10-29 13:06] #28614 closed

[2020-10-29 13:08] #28482 closed

[2020-10-29 13:15] Diggsey opened #28656 "Explore search UX: undo history missing entries"
![grafana_issue3](https://user-images.githubusercontent.com/451321/97578144-4d01c200-19e8-11eb-9ee2-2e0dcb006521.gif)

**What happened**:
Hitting undo skipped over a previous query (`{namespace="pgl", app="loki"}`).

**What you expected to happen**:
Running a query should force it to become a separate entry in the undo history: undo should never go back more than one query at a time, or else the u

[2020-10-29 13:19] aknuds1 commented on #28629
This should be fixed in #28638. Thanks for the bug report!

[2020-10-29 13:20] jbguerraz commented on #26822
@torkelo @marefr what kind of additional information / evidence would you need?

We've already implemented a workaround, so that's pretty good now, but, FWIW, a few thoughts to share:
anyway it needs some action IMHO, either we think the secure data could be a JSON object, then its storage should become a `map [string] interface {}` or we think it couldn't (or shouldn't) be a JSON object but strin

[2020-10-29 13:23] Diggsey opened #28658 "Explore search UX: Ctrl + Shift + Z does not redo"
**What happened**:
Pressed `Ctrl + Shift + Z`. Nothing happened.

**What you expected to happen**:
`Ctrl + Shift + Z` should behave the same as `Ctrl + Y` as both are shortcuts for redo. Both shortcuts work in normal textboxes.

**Environment**:
- Grafana version: 7.2.0
- Data source type & version: Loki
- User OS & Browser: Windows 10, Firefox
- Grafana plugins: None

[2020-10-29 13:24] brzezins opened #28659 "Error while dashboard import"
I've tried to import dashboard via "JSON import" in Grafana v7.1.0-beta3.
The error is:

[code]
The dashboard JSON file:

[code]

[2020-10-29 13:30] hugohaggmark commented on #28654
/duplicate #25517

[2020-10-29 13:35] genebean commented on #22271
I'd love to see this in the details in the log panel too. I have had multiple instances of wanting this personally and have been asked about it by internal customers. I'd also settle for a way to drill down on a log that sent me over to explore.

[2020-10-29 13:35] hugohaggmark commented on #28659
@brzezins try this instead:
[code]

How did you get this JSON?

[2020-10-29 13:36] hugohaggmark commented on #28659
Closing this as this is not a bug. We can always reopen this later if more evidence is posted that points to an issue in Grafana.

All the best

[2020-10-29 13:36] #28659 closed

[2020-10-29 13:40] xlson commented on #28614
The Dockerfile in the root of the repository exists to support easy building of Grafana locally with docker being the only tooling needed and is not (as @aknuds1 explains) the Dockerfile that is used to produce our production docker images.

[2020-10-29 13:50] dprokop commented on #28395
Fixed with https://github.com/grafana/grafana-starter-datasource-backend/commit/fe65385fa5f01ee0c4e49038a355147f28f6d748. Will require removinf `resolutions` entry in package.json when #28657 is released

[2020-10-29 13:50] #28395 closed

[2020-10-29 13:52] gdub commented on #28650
Related, fixed issue: #8321

[2020-10-29 13:57] hugohaggmark commented on #28600
I've managed to repro this and here is the comparision between InfluxDB and Postgres:

__InfluxDB__

623 kB payload:
![image](https://user-images.githubusercontent.com/562238/97582927-9fe27600-19f6-11eb-9e83-d35838c44c91.png)

updateVariableOptions takes 1 second:
![image](https://user-images.githubusercontent.com/562238/97582896-93f6b400-19f6-11eb-9ea3-30abdb6bb3c9.png)

__Postgres__
2.1 MB paylo

[2020-10-29 14:19] Clarity-89 commented on #28634
We have the [same issue](https://github.com/grafana/grafana-enterprise/issues/818) open in enterprise repo. Maybe link it to the PR as well, so it gets closed?

[2020-10-29 14:37] aknuds1 commented on #28636
Possible dup of #15316.

[2020-10-29 14:41] jeroenst opened #28665 "No data displayed when zooming in and using fill(previous)"
**What happened**:
When I zoom in in a graph, data points disappear because there are no values in the database in the shown time window which is correct.
But also when I add the fill(previous) function to the query no data is shown.

**What you expected to happen**:
When I zoom in and use fill(previous) I would expect to see a line generated from a value even when it's written to the database bef

[2020-10-29 14:44] RiRa12621 commented on #27491
@marefr testing that out, it seems i can only do that within the same dashboard but not reference the same query from an other dashboard.
let's say we have `dashboard a` that has a panel based on `query 1` and `dashboard b`.
so `query 1` can be reused on `dashboard a` as often as i want but i can never use it on `dashboard b`.
Is that intended behaviour or a bug?

[2020-10-29 14:57] aknuds1 commented on #28613
D(r)one.

[2020-10-29 14:57] #28613 closed

[2020-10-29 15:47] rmccarthy-ellevation commented on #6041
Is there going to be an update on this?

[2020-10-29 16:05] #28301 closed

[2020-10-29 16:06] torkelo commented on #24744
I think this should be fixed in 7.2

[2020-10-29 16:06] #24744 closed

[2020-10-29 16:12] yoramshai opened #28669 "only 1hr time range is working for loki datasouece in Explore tab"
**What happened**:
Only 1 hr is visible in the "Explore" tab

**What you expected to [happen**:]
when changing the relative time range, to be able to see older logs than 1hr or less than 1hr (e.g. 5min)

**How to reproduce it (as minimally and precisely as possible)**:
use Loki data source and run log query

**Environment**:
- Grafana version: v7.3.0
- Data source type & version: Loki v1.6.0
- OS

[2020-10-29 16:14] xyReaper commented on #7397
+1 Please and thank you.

[2020-10-29 16:58] pva commented on #28435
@torkelo does snapshot help to understand this problem?

[2020-10-29 17:01] Berbe commented on #28313
I just tested `v7.3.0` and I cannot find a way to associate a `null` -> `Overriden value` to an overriden colour.

@peterholmberg Would you mind explaining to me how to do so?

[2020-10-29 17:20] wbrowne commented on #28615
Thanks for reporting this @btmc and for the clear steps for reproducing 😄  I was indeed able to reproduce what you saw. I'll dig a bit deeper to understand what's going on

[2020-10-29 17:35] Eraac opened #28672 "Stackdriver: multi-value template variable for project selector doesn't work as expected"
**What happened**:
Can't use templating variable in project selector

**What you expected to happen**:
Use templating variable in project selector

**How to reproduce it (as minimally and precisely as possible)**:

1. New dashboard, setup variable with list of projects, multi-select ON
2. create a row (repeat for <the variable>)
3. create a panel in the row, project -> template variables -> <varia

[2020-10-29 17:41] trueuto opened #28673 "Gauge panel metric font colour"
**What would you like to be added**: Possibility to have font colour of the metric value on the Gauge set to a single colour ('static') and not reflecting the threshold's colour. Make the possibility for the Gauge panel to look similarly to how the old Singlestat panel looked like.

**Why is this needed**: To provide better visibility/readibility of the dashboard with many Gauges.

How Gauge panel

[2020-10-29 17:44] ivanahuckova commented on #28522
Hello @sdwire! For parsing, we are using `JSON.parse()`. I think that there might be just simple problem problem with escaping and therefore we are no able to parse the log message. It would be very helpful, if you would share what does the response exactly look like - ideally using our **Query Inspector**. It would be really helpful.
![image](https://user-images.githubusercontent.com/30407135/976

[2020-10-29 17:46] simonc6372 commented on #28428
Just bumped into this while researching something and felt compelled to add my view.

From my perspective, if I change anything in the "dashboard settings" area, I would expect them to be explicitly saved when I click on "save", so to default yes.

If I've changed a variable selection from the drop downs, I would not expect them to be saved, so that should default to no, as that is part of the das

[2020-10-29 17:55] eunice98k opened #28674 "Feature Request: PPL Query Syntax support for Elasticsearch Plugin"
**What would you like to be added:**

This feature request proposes to extend Grafana’s Elasticsearch data source plugin with Piped Processing Language (PPL) support. [Pipe Processing Language](https://opendistro.github.io/for-elasticsearch-docs/docs/ppl/) is a semi-structured query language using a set of commands delimited by a vertical bar (|), and it can be used to query Elasticsearch when PPL

[2020-10-29 17:56] ivanahuckova commented on #27964
But this should work. I have taken example log line and using "Wrap log line" fixed the view according to what you expected. 🤔 Can I ask what Grafana version you are using?
![image](https://user-images.githubusercontent.com/30407135/97612796-28bdd980-1a18-11eb-87a8-fb30bad4df05.png)

[2020-10-29 18:12] NotAFile opened #28675 "Buggy scroll and focus changes when using multiple queries in a panel"
**What happened**:
Switching between queries in a panel with the mouse causes unexpected jumps and focus changes occasionally. Sometimes this also causes deletion of parts of the query, but I am unable to reproduce this.

**What you expected to happen**:
Selecting a query should move your cursor to that query.

**How to reproduce it (as minimally and precisely as possible)**:
I've experienced this

[2020-10-29 18:17] ivanahuckova commented on #27964
@ethirolle could you maybe use **Query Inspector** and share what does the response and log line exactly look like when Grafana receives it. Because I have taken your _one-log-line_prettified.JSON.txt_ and used it as a loki log message and using **wrap log lines** I got correct formatting. So I am just thinking if there couldn't be some escaping error or something. 🤔
![image](https://user-images.g

[2020-10-29 18:28] kesor commented on #13325
Sorting data of a time series in the Prometheus query sorts each time bucket returned from Prometheus. But when the X-Axis is set to "Series" with a "Total" aggregation function (part of Grafana) it is not really possible to sort this in the query like this.

[2020-10-29 18:36] aocenas commented on #28568
Seems like this has to do with how we encode/parse the url with connection to the new logql syntax. In https://github.com/grafana/grafana/blob/ce1f7908c867531745363c1a9a6f70cec485c199/public/app/core/utils/explore.ts#L211 I get error
[code]
so we do not return anything. The weird thing is that the text there actually isn't encoded anymore and could be just JSON.parsed.

[2020-10-29 18:48] #15692 closed

[2020-10-29 18:48] #25549 closed

[2020-10-29 18:48] #23095 closed

[2020-10-29 19:06] NotAFile opened #28677 "Prometheus query entry deletes parts of query under certain conditions"
**What happened**:
In #28675, I mentioned a class of issues where switching between queries would delete text. After some experimenting, I've found a somewhat reliable way to reproduce this.

**What you expected to happen**:
Selecting a different entry should not delete parts of your query.

**How to reproduce it (as minimally and precisely as possible)**:
These are the basic steps:
 - Create a ne

[2020-10-29 19:18] billoley commented on #15316
I am also seeing the log message "Failed to look up user based on cookie" happen **on the same timestamp** and after "auth token rotated" when I get logged out.

**This looks like a race condition** when updating/fetching the user token after token rotation happens.  That would explain why increasing token_rotation_interval_minutes mitigates the problem.

The issue can be duplicated more quickly b

[2020-10-29 19:37] pjawo commented on #5329
+1

[2020-10-29 19:55] Varrah commented on #9305
+1

[2020-10-29 21:08] arcivanov commented on #27617
Yes, it's nice, if it works. It doesn't, so the next best thing is for it to be turned off entirely :)

[2020-10-29 21:22] Bio2hazard opened #28678 "Add field from calculation transformation not working on Cloudwatch Datasources since 7.3"
**What happened**:
Add field from calculation transformation no longer aggregates series correctly when using cloudwatch as a datasource.

**What you expected to happen**:
Add field from calculation is expected to work on cloudwatch as it does on other datasources and prior to 7.3.

**How to reproduce it (as minimally and precisely as possible)**:
Add any cloudwatch metrics query with 2 or more st

[2020-10-29 21:36] woodsaj opened #28680 "Support group by time interval with transformations"
I would like to be able to group input data by a time interval.
eg, given input data that looks like

timestamp | name | value
--------------|----------|--------
2020-10-29 16:28:31 | foo | 10
2020-10-29 16:28:12 | foo | 8
2020-10-29 16:25:37 | foo | 1

I want to be able to group the data into time buckets and select the aggregation to apply to each bucket.

eg, group into 1min buckets, and for ea

[2020-10-29 22:12] bacsog commented on #25623
+1

[2020-10-29 23:04] crawforde opened #28681 "Grafana replicates cloudwatch queries 1-3 additional times in graphs after upgrading to 7.3"
**What happened**:
After upgrading to Grafana 7.3, many of my cloudwatch graphs started showing each series 1-3 additional times in different colors.

**What you expected to happen**:
Each series should be shown once in one color.

**How to reproduce it (as minimally and precisely as possible)**:
A number of different metrics seem to be causing this problem, but the example here uses the `Count` `

[2020-10-30 01:21] hairyhenderson commented on #28681
@crawforde this may be a duplicate of https://github.com/grafana/grafana/issues/28301, which was fixed and will be released in Grafana 7.3.1

[2020-10-30 02:18] prichards-wmko opened #28683 "Query editor combo box (Select) pops upwards and underneath graph component"
Environment:
Grafana 7.3
Data source: custom back-end data source, https://github.com/KeckObservatory/epics-grafana-datasource
OS: CentOS 7
User OS/browser: Chrome 83

When a combo box("Select" component) in the query parameters has many entries, clicking on it will sometimes make it pop upwards (vs downwards).  The component Z order is apparently underneath the graph itself, obscuring the top of

[2020-10-30 03:56] mpw-eng opened #28684 "Persistent Data Labels"
**What would you like to be added**:
Please add the ability to place persistent data labels on panels, similar to those shown on the Excel chart image attached.

**Why is this needed**:
Grafana is an excellent tool for analysing historical process data.  Having the ability to place notes, with data values and timestamps would allow Grafana panels to be used in technical reports, showing what happe

[2020-10-30 04:47] aknuds1 commented on #28681
/duplicate #28301

[2020-10-30 04:47] #28681 closed

[2020-10-30 05:17] hugohaggmark commented on #28665
Hi @jeroenst, do I understand this correctly that you want to zoom in on a graph where there are no values except for the filled values?

[2020-10-30 05:26] hugohaggmark commented on #28669
Hi @yoramshai I can't reproduce this issue with the supplied information, could it be something with your Loki datasource?. Can you please share data for 15min, 1h and 3h using the Query Inspector:
![image](https://user-images.githubusercontent.com/562238/97663013-c47f3200-1a78-11eb-9b6b-96bde2ef9f5e.png)

[2020-10-30 05:32] hugohaggmark commented on #28672
Hi @Eraac, for someone not an Cloudmonitoring (Stackdriver) expert, what would you expect the projectName to be in the metricQuery/projectName?

Or is this an issue with the repeating rows, I mean are you expecting the query for each row to only target the project for that row?

[2020-10-30 05:38] hugohaggmark commented on #28673
I think this might be a duplicate but I can't seem to find it, do you remember @torkelo?

[2020-10-30 05:44] hugohaggmark commented on #28675
Hi @NotAFile, hard issues to reproduce tend to take more time to investigate/solve, so please have patience with this issue. Thank you.

[2020-10-30 05:48] hugohaggmark commented on #28677
Hi again @NotAFile, so is this issue an replacement of #28675 or is it another bug?

[2020-10-30 06:00] mckn opened #28685 "Build: building frontend package docs doesn't work on windows."
**What happened**:
When running `yarn packages:docsExtract` it will fail due to the underlying command not being supported on Windows.

https://github.com/grafana/grafana/blob/master/packages/grafana-data/package.json#L21

**What you expected to happen**:
It should extract the packages docs meta data that will be used to generate docs.

**How to reproduce it (as minimally and precisely as possible

[2020-10-30 06:04] cuspat96 commented on #28042
Problem persists in Grafana 7.3.0

[2020-10-30 06:05] hugohaggmark commented on #28683
I can confirm that we have challenges with the Select component in Grafana UI. There should already be an issue for this though, do you know @dprokop?

[2020-10-30 06:08] hugohaggmark commented on #28683
@prichards-wmko you can force the menu to bottom, I know this is not optimal at all but might be better? __`menuPlacement="bottom"`__

[2020-10-30 06:17] hugohaggmark commented on #28684
Thank you for adding this request @mpw-eng, is this something we should consider for the new Graph NG #27848 @dprokop?

[2020-10-30 06:44] jsedy7 commented on #28677
Hello, I think that only complements previous problem. I have same problem.

[2020-10-30 07:00] hugohaggmark commented on #28677
I understand that, but it makes it a lot harder for us as maintainers of Grafana if issues are almost the same. Maybe @NotAFile can combine these two into the same issue?

[2020-10-30 07:05] hugohaggmark commented on #28600
I found the issue on this line:
https://github.com/grafana/grafana/blob/5a83fc574aaf73a8143f921c84dff6a8b59e0549/public/app/plugins/datasource/postgres/response_parser.ts#L76

[Using a Set instead speeds up this operation 33times](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Set) to 1 second:

![image](https://user-images.githubusercontent.com/562238/97670327-40

[2020-10-30 07:10] torkelo commented on #28675
Think @marcusolsson opened an issue reporting the problem of clicking and cursor position

[2020-10-30 07:10] jsedy7 commented on #28675
Well, I have a problem with deleting parts in a query editor and I tried reproduce my problem.

![grafana_issue2](https://user-images.githubusercontent.com/8748774/97670753-3199c400-1a87-11eb-8c4a-905e70dbfa51.gif)

[2020-10-30 07:13] trueuto commented on #28673
I have been looking for similar report prior to posting this one but could
not find anything related.

pt., 30 paź 2020, 06:39 użytkownik Hugo Häggmark <notifications@github.com>
napisał:

[2020-10-30 07:14] mckn commented on #22433
Aha, I guess we then can remove that one 👍

[2020-10-30 07:18] hugohaggmark commented on #22433
Thank you @mckn

[2020-10-30 07:22] #28640 closed

[2020-10-30 07:23] jeroenst commented on #28665
@hugohaggmark yes this is correct.

I also heard that more people and even a company (1000+ employees) would like this feature.

[2020-10-30 07:24] #28629 closed

[2020-10-30 07:30] jsedy7 commented on #28677
I understand and I'm sorry. I think, that should be this issue closed for duplication reason and used first one.

[2020-10-30 07:36] jeroenst commented on #28665
Here you have an example what's going wrong.

![download](https://user-images.githubusercontent.com/2833940/97672788-ee415480-1a8a-11eb-8d39-24b7e307249e.png)

[2020-10-30 08:12] #28621 closed

[2020-10-30 08:47] aknuds1 commented on #28678
I'm having a look.

[2020-10-30 08:50] NotAFile commented on #28677
This issue contains the reproduction steps for occasionally deleting parts of the query text. The other issue contains reproduction steps for the cursor jumping unintentionally.

I can't say if they're the same issue on a technical level, but they require significantly different steps to create and have significantly different results.

[2020-10-30 08:53] torkelo commented on #10266
closing this, we still need to fix https://github.com/grafana/grafana/issues/26447

[2020-10-30 08:53] #10266 closed

[2020-10-30 08:53] hugohaggmark commented on #28677
Thank you for clarifying @NotAFile and @jsedy7 will keep both then.

[2020-10-30 08:58] torkelo commented on #21123
you can use ${__dashboard.uid} to get the uid of the dashboard

[2020-10-30 09:00] NotAFile commented on #28675
Sorry for being confusing, but unlike the other issue, this buggy cursor movement reproduces 100% reliably for me. The deletion one is the one that's hard to reproduce.

[2020-10-30 09:03] #28571 closed

[2020-10-30 09:23] hugohaggmark commented on #28672
Confirmed on Grafana v7.4.0-pre (76fb7ee494)

[2020-10-30 09:29] #28452 closed

[2020-10-30 09:30] amnonh commented on #26447
This issue makes #10266 useless

[2020-10-30 09:33] Eraac commented on #28672
Yes, the query should be for one project

The json model: https://gist.github.com/Eraac/15865c0ea6d7904eac7e329e8141e86e

config row
![image](https://user-images.githubusercontent.com/5497623/97688989-408a7180-1a9b-11eb-8403-9f0932d9bd9e.png)

config query
![image](https://user-images.githubusercontent.com/5497623/97689017-44b68f00-1a9b-11eb-82b7-b11174a0a508.png)

[2020-10-30 09:34] wbrowne commented on #28546
@nathanaelCNAF can you confirm the Grafana versions you recently migrated from and to?

[2020-10-30 09:53] fraform opened #28693 "Bar Gauge panel doesn't show legend with only one time series"
**What happened**:
When my metric query returns only one time series the legend is not showed.

![2020-10-30_09:53:36](https://user-images.githubusercontent.com/34766291/97689422-d4f4d400-1a9b-11eb-934e-c7b137ddfb2c.png)

**What you expected to happen**:
Legend appears.

![2020-10-30_09:53:29](https://user-images.githubusercontent.com/34766291/97689451-e211c300-1a9b-11eb-8ea7-fa14c5e5aea9.png)

**

[2020-10-30 10:05] tomlut opened #28695 "Grafana v7.3.0 - unable to view single graph on iOS"
**What happened**:
Right clicking a graph in a dashboard and selecting "View" results in a blank screen.

**What you expected to happen**:
A view of the single graph.

**How to reproduce it (as minimally and precisely as possible)**:
Right clicking a graph and selecting "View" results in a blank screen using any apple iOS device.

**Anything else we need to know?**:
Still works perfectly fine on a

[2020-10-30 10:11] hugohaggmark commented on #24849
Confirmed on Grafana v7.4.0-pre (76fb7ee494)

[2020-10-30 10:15] hugohaggmark commented on #24849
This line looks wrong for the auto value:
https://github.com/grafana/grafana/blob/e8bfb2185184c7b36b05d21176515a8e139ee945/public/app/plugins/panel/heatmap/rendering.ts#L545

This line also looks wrong for the legend:
https://github.com/grafana/grafana/blob/e8bfb2185184c7b36b05d21176515a8e139ee945/public/app/plugins/panel/heatmap/color_legend.ts#L74

[2020-10-30 10:18] maksymlysenko commented on #28547
@hugohaggmark Did you have a chance to review dashboard configuration?

[2020-10-30 10:24] torkelo commented on #28693
this is by design, you have to set Display name property in the field tab if you want to force a legend when there is only one bar

[2020-10-30 10:28] Agraphie opened #28696 "OpsGenie responders via Grafana tags"
**What would you like to be added**:

We would like to be able to specify the responders for a Grafana alert which gets routed to OpsGenie. We already have `og_priority` to set the (proper) priority for OpsGenie, but it seems like there is no such feature for the "responders". Unfortunately, the responders field is an array, see https://docs.opsgenie.com/docs/alert-api. It could look like the exam

[2020-10-30 10:31] hugohaggmark commented on #28547
The JSON is not valid I think

[2020-10-30 10:34] maksymlysenko commented on #28547
[Test_Dashboard.txt](https://github.com/grafana/grafana/files/5464519/Test_Dashboard.txt)
Maybe I can share it in the file.

[2020-10-30 11:10] Berbe commented on #28361
The problem also appears in v7.2.2... but not in v7.3.0 anymore.
<details>
  <summary>v7.2.2</summary>

[code]
</details>

I hope this could help you pinpointing the source of the trouble, in order to prevent future regressions.

[2020-10-30 11:26] Berbe commented on #28313
Could you reopen this?

I would like to have a way to override `no value` with a specific colour, on top of overriding the value:
![Grafana-v7 3 0_Override-color_no-value](https://user-images.githubusercontent.com/4251220/97699814-1345bf80-1aab-11eb-9a47-5a02f55bd70e.png)

[2020-10-30 11:31] diegostammer commented on #10916
+1

[2020-10-30 11:34] fraform commented on #28693
Hi torkelo and thanks for reply.
The problem with your proposed approach is that the display name is static, but in my case depends on metric output, and i don't know when my query returns only one time series and consequetly i don't know the name of field.

[2020-10-30 11:36] sdwire commented on #28522
Sure! Here's an example:

![image](https://user-images.githubusercontent.com/11800061/97700503-55a6d680-1a82-11eb-990e-5e1efee93fd2.png)

[2020-10-30 11:39] sdwire commented on #28522
`"{"level":"debug","log":"{\"level\":\"debug\",\"msg\":\"Skipping Kubernetes event kind *v1.Endpoints\",\"time\":\"2020-10-30T11:31:43Z\"}
","msg":"Skipping Kubernetes event kind *v1.Endpoints","time":"2020-10-30T11:31:43Z"}"`

[2020-10-30 11:52] #28612 closed

[2020-10-30 12:11] stehla opened #28698 "Rendering scale factor default is not set when using environment variable"
**What happened**:
Setting the environment variable GF_PLUGIN_GRAFANA_IMAGE_RENDERER_RENDERING_VIEWPORT_DEVICE_SCALE_FACTOR does not affect the rendering scale of a panel, when using panel_header > share > direct link rendered image

**What you expected to happen**:
The value given in GF_PLUGIN_GRAFANA_IMAGE_RENDERER_RENDERING_VIEWPORT_DEVICE_SCALE_FACTOR would have become the default rendering sc

[2020-10-30 12:30] kyoujuro opened #28700 "translated into Japanese"
**What would you like to be added**:
May I suggest that the displayed content be translated into Japanese?
**Why is this needed**:
This is because we believe that the Japanese language will increase demand in the Japanese manufacturing industry.
I would appreciate it if I could send you a pull request as soon as I can translate it into Japanese.

[2020-10-30 12:43] desolatorxxl commented on #26223
It's seems to work with Grafana 7.1.5.

[2020-10-30 12:44] hugohaggmark commented on #28547
Ok, I understand now. If you click a snapshot link and you're not authorized, you'd like for Grafana to redirect to login page. Sorry I was confused before. @maksymlysenko do you know if this is a new behavior or if this is an existing issue?

[2020-10-30 12:47] aknuds1 commented on #28678
I think I can reproduce the issue, looking into it.

[2020-10-30 12:48] torkelo commented on #28693
you can use variables like ${__series.name} to use series name

[2020-10-30 12:49] maksymlysenko commented on #28547
@hugohaggmark I did not find a similar or so issue actually. So hard to say.
What confusing me, v5.2.0 works and redirecting to the login page. With the same dashboard configuration.

[2020-10-30 12:57] hugohaggmark commented on #28700
/duplicate #448

[2020-10-30 12:58] #28700 closed

[2020-10-30 13:12] torkelo commented on #28678
Try 7.3.1, related to this issue https://github.com/grafana/grafana/issues/28301

[2020-10-30 13:12] hugohaggmark commented on #28698
Added this to @grafana/backend-platform but please change it back to us if this issue turns out to be Frontend related.

[2020-10-30 13:13] hugohaggmark commented on #28547
Ok, thank you @maksymlysenko then it seems to be a regression.

[2020-10-30 13:31] fraform commented on #28693
Gosh you're right.. With this variable it works. Thanks.

[2020-10-30 13:38] nathanaelCNAF commented on #28546
grafana-6.6.1-1.x86_64.rpm
grafana-7.1.5-1.x86_64.rpm --->pb appears  for tag links
grafana-7.2.0-1.x86_64.rpm
grafana-7.2.2-1.x86_64.rpm
Thanks

[2020-10-30 13:41] pfischer64 opened #28703 "feature-request: table-panel - numbered rows"
When I use elasticsearch as a datasource, there is no easy solution to display numbered rows in a table panel.

Therefore I suggest a new table option:

Show Row Numbers - toggle to show/hide row numbers

[2020-10-30 15:37] ivanahuckova opened #28706 "Loki/Explore: Distinction between Log labels and Parsed fields causes confusing with Loki v2"
**What would you like to be improved**:
With the Loki 2.0 enhancements the Parsed fields part in log details can be confusing now. Because when we use the parsers in the Loki query language what is parsed shows up as labels, but users might think that **Parsed fields** is what is parsed by Loki. This was also mentioned on the workshop - that distinction between Log Labels and parsed fields causes

[2020-10-30 16:31] torkelo commented on #28435
Was not able to replicate, spun up 6.7 and created a snapshot but did not get the same snapshotData in the json as you did, and the snapshot then worked after upgrade to 7.x

[2020-10-30 16:35] treksler commented on #28706
the worst part of the confusion between log labels and parsed fields is that they don't behave the same, but are treated the same in the UI

For example, in grafana with Loki 2, the parsed fields show up as labels, but when you click on the little + search icon (filter for value), grafana puts the label in the query like any non-parsed label
`{container="my-container",parsed-field-label="parsed-va

[2020-10-30 16:56] treksler commented on #28669
can confirm with loki 2.0.0 and grafana 7.3.1 in explore view

also, zooming into a small (less than an hour) time range does not work in the logs panel, if that time range is within the last hour.

eg , show the last 6h of logs and drag to zoom in to show about 5 min of logs. this works for time ranges that were more than an hour ago. if you select a time range within the last hour, it will show

[2020-10-30 18:18] rpenny125 commented on #24594
I am using a simple home-grown proxy (long story), and the biggest impediment I've found so far is Grafan's use of the "<base href="/" />". If I set serve_from_sub_path = true and a long root_url, the grafana server can work in the proxied environment, but it won't work outside that environment.

It feels like removing the <base> tag would eliminate a lot of the reverse proxy problems (at least th

[2020-10-30 18:26] Bio2hazard commented on #28678
@torkelo I tested with both the 7.4 beta and now with Grafana v7.3.1 (6668161a88) and the Add field from calculation transformation still exhibits this bug. Please re-open.

[2020-10-30 18:36] ivanahuckova commented on #28522
Could I ask you to send the log line one more time, but now from the network tab and specifically from the **Response tab** to see how many `\` are in `"` escaping. There is probably 1 `\` missing for the `"`, but I would like to see if there could be something that we could do in frontend.
![image](https://user-images.githubusercontent.com/30407135/97742690-ea422080-1ae4-11eb-851c-c7274825ef8c.pn

[2020-10-30 18:56] gustavoghpf commented on #28042
@aknuds1 @dprokop @torkelo seems like a bug in grafana 7.2+

[2020-10-30 19:05] moisesvega commented on #28486
Yeah that sounds better! The idea was to be able to edit any repeated channel if this one will change the main query is fine, the main use case here is able to go play around with that specific panel ( add more queries update the main query etc, etc)

[2020-10-30 20:23] WelterRocks commented on #2786
Same here. Seems to have something to do with the JSON model. If you open the preferences for the dashboard, switch to the JSON model tab and than scroll to the end (maybe, or search for "time"), you can change the value and save the model. For example:

`  "time": {
    "from": "now-6h",
    "to": "now"
  },`

[2020-10-30 20:47] ethirolle commented on #28678
Re-opening this issue on behalf of @Bio2hazard and @davidnewhall, per the above comment (+ support ticket [18358](https://grafana.zendesk.com/agent/tickets/18358))

[2020-10-30 21:44] prichards-wmko commented on #28683
I implemented the menuPlacement option as you suggested and it works adequately.  Thanks!

[2020-10-30 22:31] simianhacker commented on #25878
I started looking into this issue... At first glance it looks pretty easy but as I dug in I realized the arguments passed to `getLogRowContext` are not sufficient for the Elasticsearch datasource; the critical missing piece is the start/end time from the time picker. This is used to calculate the indices (for the Elasticsearch datasource)  via `this.indexPattern.getIndexList(timeFrom, timeTo)`. We

[2020-10-30 23:06] DefauIt commented on #28435
snapshots were created in grafana version 6.2 or 6.4
grafana 6.7 worked with snapshots from previous versions correctly.

[2020-10-30 23:42] amnonh commented on #26447
Hey guys, I've added a trivial fix with this PR: #28710
Can you please try to push it? Having a home dashboard will be a huge jump forward in usability and this bug is what stands in the way of that

[2020-10-30 23:52] ryantxu commented on #26447
Can you take another try at the PR?  it has 275 changes and a bunch of conflicts... that makes it hard to review :)
![image](https://user-images.githubusercontent.com/705951/97765678-43ec2000-1ad0-11eb-9124-9a5dc8de8e79.png)

[2020-10-31 00:03] amnonh commented on #26447
It should have been 4 lines, I'll take a look

[2020-10-31 07:19] torkelo commented on #28678
Very strange, unable to replicate this

[2020-10-31 07:19] torkelo commented on #28678
will try more

[2020-10-31 08:11] aknuds1 commented on #28678
I think I could reproduce the issue @torkelo. I saw a clear difference between v7.2.2 and master.

[2020-10-31 08:58] filipsPL opened #28712 "grafana > 7.0.3: graphs are not displayed in firefox"
Hi,

**What happened**:

- grafana > 7.0.3 - graphs are not displayed in *firefox*
- in other browsers it works perfectly
- in grafana 7.0.3 works perfectly
- this happens also in the firefox in the safe mode, with all plugins disabled.

The dashboard - no graphs are shown:

![obraz](https://user-images.githubusercontent.com/11406606/97775091-033ae800-1b5e-11eb-842c-e9f8261a74b7.png)

The error vi

[2020-10-31 15:44] Tommie15 opened #28714 "Error: e.replace is not a function - after creating data link in field override"
**What happened**: after creating a link an error message appears: e.replace is not a function

**What you expected to happen**: creating a link

**How to reproduce it (as minimally and precisely as possible)**: please see the executed steps in the gif

**Anything else we need to know?**: I'm using Elasticsearch as source and a complete fresh install. I'm using an ad-hoc filter variable

**Environ

[2020-10-31 22:07] sdwire commented on #28522
Uploaded the HAR file from the network tab (renamed with a .txt extension).  One thing I noticed was that the `msg` field contains an embedded newline character at the end of it. Wonder if that could be causing the failure.

[grafana.local.edifyhub.com.har.txt](https://github.com/grafana/grafana/files/5469897/grafana.local.edifyhub.com.har.txt)

If that's the problem, then I'll need to figure out

[2020-10-31 23:02] sdwire commented on #28522
OK...   It looks like it's actually the Fluent-bit [Kubernetes filter](https://docs.fluentbit.io/manual/pipeline/filters/kubernetes).  When `Merge_Log` is turned on, the `Merge_Log_Trim` is supposed to remove newlines, and it's supposed to be on by default.  But it doesn't seem to be working - even if I explicitly set `Merge_Log_Trim` to true in my config.

So...   I'm going to solve this a differ

[2020-10-31 23:09] mgodlewski commented on #6373
Fixed with [date format configuration](https://github.com/grafana/grafana/issues/1459#issuecomment-689093587)

[2020-10-31 23:32] lephisto commented on #26484
I can report the same Issue with Grafana 7.3.1 in conjunction with InfluxDB 2.0.0 OSS (f46a3bd).

MD is lower then the amount of Data my Flux queries produce.

This in fact is a showstopper and keeps me pinned on Grafana 6 for some IIoT Projects.

[2020-11-01 01:51] arcivanov commented on #28566
Actually I don't know if this is OAuth2 at all, this is purely JWT authorization with no authentication.
I might be able to work on this this week.

[2020-11-01 06:33] nikobearrr opened #28717 "Dashboard: Minimum dashboard refresh interval should be based on time range selection"
**What would you like to be added**:

I would like to be able to have a fixed minimum refresh interval based on the timerange seleciton.
if I select:
- "last 24h" I would like the minimum refresh to be "5s"
- "last 2d" I would like the minimum refresh to be "30s"
- "last 7d" I would like the minimum refresh to be "1min"

The best would be if I have a dashboard with last 24h and 5s refresh interval

[2020-11-01 09:30] samualg commented on #26397
Agree with mirellou. During planning the migration to Flux, I had the same issue with 1.8.0. Upgraded to 1.8.3 and the Save and test database error was fixed.  Grafana is now able to save during the Save and Test and recognises the bucket.
I noted that you need to enter "" for Organisation (as it is not supported in 1.8.x) and "" for token (when not using authentication). Both these entries worked

[2020-11-01 09:32] zoltanbedi commented on #28693
Seems like the issue is resolved. We can reopen it if you think that is not the case.

[2020-11-01 09:32] #28693 closed

[2020-11-01 11:36] yoramshai commented on #28669
@hugohaggmark to reproduce it,
you need to run a query over a resource that will hit the lines limit (1000)

[2020-11-01 12:00] zoltanbedi opened #28718 "Loki: spinner in explore stops early"
**What happened**:
In Explore we run instant query as well and if that takes longer than the range query then the spinner is not showing as loading.
![spinner](https://user-images.githubusercontent.com/13729989/97802068-5174e780-1c41-11eb-872b-4c158a52550e.gif)

**What you expected to happen**:
It should show the spinner when instant query takes longer.
**How to reproduce it (as minimally and prec

[2020-11-01 18:02] edin008 opened #28720 "Option to choose number of items in legend in graph panel"
**What would you like to be added**: Option to choose number of items in legend in graph panel. Even if only 1 item, legend height should stay fixed, for instance 4 items.

**Why is this needed**: Example below in GIF.

- I prefer graph size at beginning - but don't like 2 items in legend
- I prefer 4 items - but graph size is too big

Some may want to show more than 6 items in legend but the grap

[2020-11-01 19:10] kaydelaney opened #28721 "Implement best practices for password inputs"
**What would you like to be added**:
Currently there are a number of things we could be doing better when it comes to password inputs in Grafana. (See https://web.dev/sign-in-form-best-practices for reference).

These include:
- The use of `autocomplete="new-password"` and `autocomplete="current-password"` where appropriate.
- Providing 'Show password' functionality.
- Using appropriate aria attri

[2020-11-01 21:09] howardjohn opened #28723 "LogsPanel: Scrolling in dashboards does not work, log level is not customizable"
![GrafanaLogPanel](https://user-images.githubusercontent.com/623453/97815411-a36a3d00-1c42-11eb-8d2b-38af67b1cd01.gif)

The GIF above shows me trying to use the log panel (with loki data source).

1. The first issue is the scroll bar is not selectable by the mouse
2. At the bottom right there is a random white box. There is no info about it on https://grafana.com/docs/grafana/latest/panels/visuali

[2020-11-01 21:41] howardjohn opened #28724 "Support Log -> Tracing linking in "log" panel type"
**What would you like to be added**:
Currently, I am able to setup log -> tracing linked like in this post https://grafana.com/blog/2020/10/27/announcing-grafana-tempo-a-massively-scalable-distributed-tracing-system/. However, this is not possible on the logs panel as far as I can tell.

Note: its possible I cannot due this due to https://github.com/grafana/grafana/issues/28723. Not sure if the lo

[2020-11-01 22:08] howardjohn opened #28725 "Missing documentation on "exemplar"s or Metrics<->Tracing correlation"
According to https://grafana.com/blog/2020/10/27/announcing-grafana-tempo-a-massively-scalable-distributed-tracing-system/, Grafana 7.3.0 adds support for linking traces to metrics "Finally! Open source exemplars are here! Now traces can now be discovered directly from metrics."

The release notes for Grafana 7.3 do not mention this at all. A grep of the repo shows only a glossary entry and a coup

[2020-11-01 22:16] dlopes7 commented on #24027
Any news about allowing the community to sign plugins?

[2020-11-01 22:29] lobocobra commented on #16638
same issue here with grafana and influxdb

[2020-11-02 05:25] #28600 closed

[2020-11-02 06:26] #28598 closed

[2020-11-02 07:02] aknuds1 commented on #24536
It isn't exactly true that Dockerfile hardcodes PID/GID, since it takes [arguments](https://github.com/grafana/grafana/blob/a5c03b1772ad7083e223cb20204836273efc20eb/Dockerfile#L39-L40) to control them (i.e., GF_UID and GF_GID).

Are you saying you need to change PID/GID after the Docker image has been built? I'm not familiar with that use case. Can you not solve this by configuring PID/GID when bu

[2020-11-02 07:43] #28725 closed

[2020-11-02 07:44] zoltanbedi commented on #28725
It will be available in 7.4.

[2020-11-02 07:53] cf-sewe opened #28729 "Grafana loses query when forwarding to Explore view"
**What happened**:
When using a specific Loki query, Grafana will no longer be able to forward the original query to the explore view.

**What you expected to happen**:
The original queries should be forwarded to Explore view

**How to reproduce it (as minimally and precisely as possible)**:
This seems to be caused by `%` being present in the query (valid query for loki v2):
[code]

The URL will u

[2020-11-02 08:31] aknuds1 commented on #26860
Looking into this.

[2020-11-02 08:37] zoltanbedi commented on #28729
Thanks for raising this @cf-sewe. I'm closing this as this is a duplicate of https://github.com/grafana/grafana/issues/28568

[2020-11-02 08:37] #28729 closed

[2020-11-02 08:52] aknuds1 commented on #26860
I just tried importing the dashboard with ID 12552 (as in your example) with latest master, and it doesn't fail. I tested both with and without nginx proxy. Closing the issue, but please get back to us with more info in case it still happens to you with the most recent Grafana version.

[2020-11-02 08:52] #26860 closed

[2020-11-02 08:57] cykl commented on #27389
@marefr Sorry for this late response. Adding `apiVersion: 1` indeed fixes the issue.

[2020-11-02 09:03] ivanahuckova commented on #28522
Thank you so much for sending this. Yes I totally agree that Grafana should be more flexible in this, but in many cases, if escaping is not done properly, there is pretty much nothing that we can do on frontend. I am going to close this issue for now, but will open new feature request to investigate, if there is anything we can do on frontend to tolerate newline/escaping weirdness. Also I am glad

[2020-11-02 09:03] #28522 closed

[2020-11-02 09:06] ivanahuckova opened #28731 "Logs: Investigate if we could be more tolerating with wrong escaping and newlines in Grafana"
**What would you like to be added**:
Connected to #28522. We could investigate if there are any ways how to tolerate wrong escaping/newlines in logs. I have looked into the escaping and couldn't find any solution, but not sure about the newlines.  It would be awesome if Grafana would be more flexible in this, but again, needs investigation if possible.
[example of log line with newline character](

[2020-11-02 09:13] marefr opened #28732 "Plugins: Error message when installing plugin doesn't include helpful information"
**What happened**:
Installed plugins before Grafana starts and received the following error `Error: ✗ Failed to find requested plugin, check if the plugin_id is correct: 404 not found error`.

**What you expected to happen**:
Error message to include at least the plugin id, but if possible the version would also be helpful.

**How to reproduce it (as minimally and precisely as possible)**:
1. Use

[2020-11-02 09:18] Ginginho opened #28733 "Support for the Microsoft.AppConfiguration/configurationStores namespace"
**What would you like to be added**: Support for the App Configuration namespace, Microsoft.AppConfiguration/configurationStores

**Why is this needed**:
The absence of app configuration metrics prevents Grafana being a complete monitoring platform for our Azure environment

[2020-11-02 09:37] torkelo opened #28734 "Alert rule list react warning"
![Screenshot from 2020-11-02 10-36-04](https://user-images.githubusercontent.com/10999/97852676-585e3180-1cf7-11eb-94af-b989940ce8e1.png)

[2020-11-02 09:37] marefr commented on #28712
Please include the panel JSON of one of the failing panes or the full dashboard JSON.

[2020-11-02 09:51] marefr commented on #28714
Not able to reproduce. Can you please use Chrome Developer Tools or similar and check the console when your error occurs and include the details of it. Can you please include the query inspector response?

[2020-11-02 09:54] marefr commented on #28717
What data source are you using? In most data sources you can already specify the min time interval - have you tried this?

[2020-11-02 09:55] marefr commented on #28720
/duplicate of #8292

[2020-11-02 09:55] #28720 closed

[2020-11-02 10:01] marefr commented on #28733
Please provide more detailed information. I have no idea if this is related to Azure Monitor data source or something else.

[2020-11-02 10:03] Gabrii95 commented on #9764
I am having the same issue with Grafana 7.3.1, coming from a docker image.

**Note** the issue is not happening if user and password fields are left empty and the smtp server doesn't require user/password.  It is happening when smtp server requires user/password and the host is on port 25.

Here's my config
`[smtp]
enabled = true
host = <my_company_host>:25
user = <my_username>
password = <my_pass

[2020-11-02 10:35] DEvil0000 opened #28738 "annotation creation/edit/deletion on non editable dashboards"
As brief summary: I can add annotations but not edit or delete them on a non editable (readonly) dashboard.
I expect adding annotation beeing also disabled when the dashboard is non editable.

**What happened**:
I can create but not edit or delete annotations on a non editable (readonly) dashboard.

**What you expected to happen**:
I would expect non editable (readonly) means annotations can not g

[2020-11-02 10:47] nolequen commented on #14538
hi, @bergquist! are pluggable notifiers available already?

[2020-11-02 10:56] Ginginho commented on #28733
My apologies; per the [product documentation](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/metrics-supported), Azure Monitor exposes the following metrics for the Microsoft.AppConfiguration/configurationStores namespace:

- HttpIncomingRequestCount
- HttpIncomingRequestDuration
- ThrottledHttpRequestCount

My hope is that Microsoft.AppConfiguration/configurationStores can be added

[2020-11-02 11:29] kazeborja commented on #7169
Following the new transformers components I was able to structure the data into a "matrix" like object that can be visualised using the Grafana table plugin.

It doesn't depend on the datasource since it works directly in the data as structured by Grafana.

![after-matrix](https://user-images.githubusercontent.com/2511477/97863136-ccec9c80-1d06-11eb-85c5-7d7397f8666f.png)
![transformer](https://us

[2020-11-02 11:35] #28734 closed

[2020-11-02 11:40] anastas-makar opened #28740 "Tags have stoped working with enabled "all" option since Grafana v7.1.5"
**What happened**:

When "All" checkbox is ticked, and than tag is chosen, it works just the same way as if only "All" was chosen.

Example from grafana demo:

![screencast-nimbus-capture-2020 11 02-14_08_24 (1)](https://user-images.githubusercontent.com/57357389/97863097-818eba00-1d17-11eb-8c28-2ace60247925.gif)

Demo:

https://play.grafana.org/d/000000024/templating-value-groups?orgId=1

It work

[2020-11-02 11:46] aknuds1 commented on #27651
Trying to reproduce the issue.

[2020-11-02 11:55] #25841 closed

[2020-11-02 12:11] ivanahuckova opened #28742 "Icons: Improvements"
### Improve documentation and usage of icons:

- [ ] https://github.com/grafana/grafana/issues/28744 Deprecation warning:
    - [ ] Add linter warning for new usage of font awesome classNames `fa-`
    - [ ] By 7.4 introduce deprecation warning for font awesome (if possible, deprecate in 8.0)
- [ ] https://github.com/grafana/grafana/issues/28745 _(Ivana working on this)_ Another round of going thr

[2020-11-02 12:19] KursLabIgor commented on #16638
This is hard disk storage for VM (EC2) in AWS it is called like EBS

[2020-11-02 12:26] aknuds1 commented on #27651
I'm not able to reproduce this issue. Using `$__timeFilter`, I'm generating the following SQL that SQL Server parses without problems:

[code]

This is using the Docker image mcr.microsoft.com/mssql/server:2017-CU4-ubuntu.

As you can see the date/time strings in my query end with Z, and evidently SQL Server understands them. Is it this type of date/time strings that don't work for you? Why doesn'

[2020-11-02 12:39] wbrowne commented on #28610
Thanks for creating this issue @ad-m. We're currently doing some rework of Alerts at Grafana and I think this particular problem can be encapsulated in the topic of #6552, therefore I'll close this issue for now

[2020-11-02 12:39] #28610 closed

[2020-11-02 12:40] deejayluk opened #28743 "Add to refresh variables when the panel is refreshing"
**What would you like to be added**:
Please add possibility to refresh variable when panel is refreshing.
**Why is this needed**:
I using Grafana to the production and using some filters (I am not using time range) and when I change some options in filter then panels are refreshing and variables not refresh (variables are only refreshing when Dashboard Load or change range time).
Please add this p

[2020-11-02 12:55] marefr commented on #28610
/duplicate of #6552

[2020-11-02 12:59] aocenas commented on #28724
@howardjohn Thanks for the input. Yeah this is an issue of not actually having the log row detail component inside the logs panel in dashboards. There are some UX issues with that in addition with the config that you already mention, we hope to figure this out but right now isn't highly prioritized so don't have any timelines for this.

[2020-11-02 13:01] Ila199 commented on #27651
'2020-11-02T15:56:37Z' AND '2020-11-02T16:56:37Z' (UTC+3) converted '2020-11-02T11:56:37Z' AND '2020-11-02T12:56:37Z' (UTC)
![1sc](https://user-images.githubusercontent.com/55548784/97870671-55c60100-1d24-11eb-86fd-73c880393da5.png)
![2sc](https://user-images.githubusercontent.com/55548784/97870674-56f72e00-1d24-11eb-93bd-1bbf43fb562b.png)

[2020-11-02 13:06] aknuds1 commented on #27651
@Ila199 Are you getting an error?

[2020-11-02 13:12] Ila199 commented on #27651
Yes, I am not getting the actual data from the DB (UTC + 3), because grafana converts the time in UTC to the request (see screen)

[2020-11-02 13:12] ivanahuckova opened #28744 "Icon: Add deprecation warning and linting warning for font awesome"
**What would you like to be added**:
Add linter warning for new usage of font awesome classNames `fa-` so developers are informed that this is not supposed to be used anymore and that <Icon /> component is preferred. Also, add deprecation warning for font awesome, so plugin developers are informed about this as well. The plan is to deprecate in 8.0.

[2020-11-02 13:15] #20577 closed

[2020-11-02 13:15] ivanahuckova opened #28745 "Icon: Remove usage of font awesome icons where possible"
Another round of going through all the font awesome icons and removing them if possible. It would be great to also document where the icons are still implemented and why they can't be removed, so we can tackle it before 8.0 deprecation.

[2020-11-02 13:16] aknuds1 commented on #27651
@Ila199 What timezone is your SQL Server instance configured to use?

[2020-11-02 13:17] torkelo commented on #28740
Try upgrading to v7.3

We will remove the tags feature soon, possibly in 7.4 or v8 (it's marked experimental)

[2020-11-02 13:17] #28740 closed

[2020-11-02 13:18] ivanahuckova opened #28746 "Icon: Add color prop"
**What would you like to be added**:
Add color prop to Icon component, so the color can be updated not just via css, but also via prop.

[2020-11-02 13:22] ivanahuckova opened #28747 "Icon: Improve experience for monochrome/solid icons"
**What would you like to be added**:

- [ ] Update name to solid icons for more semantic name
- [ ] Switch monochrome icons that are implemented for solid icons
- [ ] Improve typing - as we have only some solid icons (less than 15) - we should make sure that if users select the one, that don't exist in mono/solid form, they get warning
- [ ] Display possible mono (solid) icons and explain which ar

[2020-11-02 13:22] dprokop commented on #28458
@aengusrooneygrafana the Field settings apply to values, not the entire data set. Closing this as this is am intended behaviour.

For empty responses there is a `No data` indication in the table panel which, well, could be improved:

![image](https://user-images.githubusercontent.com/2376619/97872758-dda50e80-1d16-11eb-8bfc-e5779a5117ca.png)

[2020-11-02 13:22] #28458 closed

[2020-11-02 13:25] ivanahuckova opened #28748 "Icon: Improve Icon documentation"
**What would you like to be added**:
 Improve Icon documentation - probably specifically documentation in storybook:
- [ ] When to use which icon - add info regarding when do we usually use that icon
- [ ] Add information about Icon component being wrapper around unicons and any unicons icon can be added

[2020-11-02 13:30] dprokop commented on #28485
/duplicate https://github.com/grafana/grafana/issues/264

Related issues: https://github.com/grafana/grafana/issues/15257, https://github.com/grafana/grafana/issues/20319

[2020-11-02 13:30] #28485 closed

[2020-11-02 13:31] torkelo commented on #28746
what is the use case for this?

[2020-11-02 13:32] filipsPL commented on #28712
Hi, thanks for responding.

Done:  [grafana.json.txt](https://github.com/grafana/grafana/files/5475299/grafana.json.txt)

[code]
(TZ is CEST)

Firefox is sending this header: `Accept-Language: en-US,en;q=0.5`

No, I wrote it doesn't work for grafana version > (higher than) 7.0.3, while for grafana version 7.0.3 it works pefrectly. To sum up:
- 7.0.3 it works
- 7.1.5, 7.2.2, 7.3.1 it doesn't work

[2020-11-02 13:35] alexanderzobnin commented on #28457
@wiegandf Hi! Could you post content of the `id_token`, because it contains groups? The tokens above are access tokens. You can find encoded id token in the same grafana log message that contains access token.

[2020-11-02 13:39] filipsPL commented on #28712
OK, something is messed with with the Accept-Language header sent by the browser. If I changed it from:

`Accept-Language: en-US,en;q=0.5`

to:

`Accept-Language: pl,en-US;q=0.5` or `Accept-Language: pl,en-US;q=0.7,en-GB;q=0.3`

grafana works fine again!

So it seems that grafana has a problem with this first header.

[2020-11-02 13:45] ivanahuckova commented on #28746
This came up from the discussion on frontend weekly call. Some users are wondering how to update the color of the icon and it is not clear that you can do it using css. Moreover, it can be extra work to create className and then pass it as `className` prop compared to just passing colors.

Adding color prop would make it easier for developers to update color of their icon. They could still use css

[2020-11-02 13:46] torkelo commented on #21962
duplicate of #21962

[2020-11-02 13:51] theyaa commented on #28515
@hugohaggmark I do see Cluster, but the only value is None.

[2020-11-02 14:02] Ila199 commented on #27651
If my data is stored in the database - 2020-11-02 15: 57: 09.333,
then you need to bring them to 2009-05-18 10: 41: 04.457 +03: 00?
There are no other options?

[2020-11-02 14:05] simonc6372 opened #28751 "click selected with nothing selected selects the all item, as well as all the other items."
**What happened**:
In the template variable selection dropdowns, when selecting `selected` with nothing selected, every value is selected including all.

**What you expected to happen**:
the all value should not be selected.

**How to reproduce it (as minimally and precisely as possible)**:
play.grafana.org, clear the selection by clicking `selected`
![image](https://user-images.githubusercontent.

[2020-11-02 14:11] mckn commented on #28523
@mikhailredis what is your thinking behind including the CHANGELOG.md in the dist folder? We are including the README.md but currently not the CHANGELOG.md.

[2020-11-02 14:11] hugohaggmark commented on #28515
@theyaa correct that means that you're not receiving any data because you're missing the data source, but in that specific version of Grafana the error handling doesn't seem to report that.

So I think you'll need to:
0. In Grafana 6.7.4
1. Edit each query variable, click on the name of the variable
![image](https://user-images.githubusercontent.com/562238/97877269-34ade200-1d1d-11eb-85bb-a6697a15

[2020-11-02 14:17] aknuds1 commented on #27651
@Ila199 I don't understand what you mean. Can you please specify what timezone your SQL server is configured to use? Is it configured with UTC+3 as its TZ?

[2020-11-02 14:26] torkelo commented on #28678
If you can replicate can you show the result in table format pre & post adding the transform ?

[2020-11-02 14:33] pgassmann opened #28752 "Download Logs for manual processing"
**What would you like to be added**:

From Grafana Dashboard Logs Panel or from Explore Logs, I would like to export the logs as a plain file to process/analyze/archive/forward logs manually.

**Why is this needed**:

The use case is that we would like to filter with context. you can easily process text logs with` grep bla -C 5` or `| grep foo -B 2 -A 20`. The log panel for grafana dashboards very

[2020-11-02 14:34] Ila199 commented on #27651
Yes, on all servers UTC+3
![image](https://user-images.githubusercontent.com/55548784/97879738-6335b800-1d31-11eb-8a67-477cc1af6964.png)

[2020-11-02 14:38] aknuds1 commented on #27651
@Ila199 Thanks, what type is your column "CreationDateTime"?

[2020-11-02 14:40] nathanaelCNAF commented on #28546
It seems the problem is database related as when we re-import the database in a new instance of grafana the problem repeats itself. Would you be interested in us sharing our database to investigate the root of the problem ?

[2020-11-02 14:41] Ila199 commented on #27651
datetime
![image](https://user-images.githubusercontent.com/55548784/97880750-9af12f80-1d32-11eb-9e92-eecc5c648484.png)

[2020-11-02 14:43] Muraliprasath opened #28753 "Not able to import FormLabel and FormField in 7.x.x grafana/ui"
Hi Team,
Kindly address the following queries,

We are planning to Migrate from Grafana 6 to Grafana 7, facing the following issues,
1. Not able to import the formfields and formlabel,
2. I have noticed we have support for Legacy Forms - Input, Switch, Select, Kindly let us know whether these legacy forms are available only for short duration, is there any future plans for removing these legacy co

[2020-11-02 14:44] aknuds1 commented on #27651
@Ila199 I think the problem is that you're using the datetime type for your CreationDateTime column, since it doesn't have timezone info. On my side I'm using [datetimeoffset](https://docs.microsoft.com/en-us/sql/t-sql/data-types/datetimeoffset-transact-sql?view=sql-server-ver15), which works well with date/time strings with a TZ component.

[2020-11-02 14:53] ivanahuckova commented on #28745
Where it is used:
- In documentation, specifically section [Installing Grafana](https://github.com/grafana/grafana/blob/master/docs/sources/_index.md) - could be maybe replaced with svgs/images?
- We use it as spinner icon. We should figure out a new spinner icon. I have refactored all usages of `fa-spin` to  use `<Spinner />`
- We use font awesome for [LoginServices icons](https://github.com/graf

[2020-11-02 15:09] Joey40 commented on #17939
I'm seeing this as well.  I'm also using the Blandstat plugin as others have noted.

[2020-11-02 15:11] aaronsuns commented on #28752
If grafana UI could do the same as '| grep' does, it would also a good feature to have.

[2020-11-02 15:12] #26447 closed

[2020-11-02 15:24] aknuds1 commented on #28678
@torkelo I will try.

[2020-11-02 15:52] #28695 closed

[2020-11-02 15:53] ivanahuckova commented on #28745
So for the next steps we should check with Unicons team if they plan to create/could create for us following missing icons:
- [ ] Spinner that spins
- [ ] Microsoft
- [ ]
- [ ]
- [ ]

- [ ]

[2020-11-02 15:54] aknuds1 commented on #28678
@torkelo Here are my screenshots of version 7.2.2 versus master.

## Version 7.2.2 without transform
![screenshot-pre-7 2 2](https://user-images.githubusercontent.com/281303/97888277-472f1800-1d2b-11eb-8b18-b4443a06a06b.png)

## Version 7.2.2 with transform
![screenshot-post-7 2 2](https://user-images.githubusercontent.com/281303/97888276-46968180-1d2b-11eb-9fa7-3a20bb786f52.png)

## Master revisi

[2020-11-02 15:56] desaintmartin opened #28756 "[Feature request] Alert Notifier / Notification: allow templating in message / tags"
**What would you like to be added**:

Allow templating in alert notification so that we can customize message and tags. In this case, something like:
<img width="606" alt="Screenshot 2020-11-02 at 16 53 01" src="https://user-images.githubusercontent.com/38929/97888885-f4a22b80-1d2b-11eb-9832-4be1078d7324.png">
would be translated as `This is an alert from my-great-service with value 1337`, and tag

[2020-11-02 16:03] torkelo commented on #28753
We have a number of Form components  (https://github.com/grafana/grafana/blob/master/packages/grafana-ui/src/components/index.ts#L147)
* Input
* Select

For inline forms use these component https://github.com/grafana/grafana/blob/master/packages/grafana-ui/src/components/index.ts#L152

[2020-11-02 16:03] #28753 closed

[2020-11-02 16:05] heislers commented on #5329
+1

[2020-11-02 16:05] desaintmartin commented on #28756
This may be somehow related to:
- https://github.com/grafana/grafana/issues/5848 (in comments)
- https://github.com/grafana/grafana/issues/15079
- https://github.com/grafana/grafana/issues/25808
- https://github.com/grafana/grafana/issues/7121

[2020-11-02 16:05] #25395 closed

[2020-11-02 16:13] torkelo commented on #20573
Closing this, no other reports and we will soon replace this graph component with our new one

[2020-11-02 16:13] #20573 closed

[2020-11-02 16:23] aknuds1 commented on #28263
Can you please clarify what you want to be added? I can't really grok your request as it's currently written.

[2020-11-02 16:38] wbrowne commented on #28698
@stehla Thanks for raising this issue. I'm just curious, was this working originally and stopped working after a Grafana upgrade?

[2020-11-02 16:47] dprokop commented on #13881
@lukaszgryglicki I believe you can now achieve what you want with Grafana 7.1+ selecting Raw Data in Elastic query editor and using Stat Panel's **Field** and **Text mode** options described here https://grafana.com/docs/grafana/latest/panels/visualizations/stat-panel/#display-options

[2020-11-02 16:47] #13881 closed

[2020-11-02 17:05] simianhacker commented on #19206
@varpenny I've opened a PR to remove pipeline aggregations for the sorting list: #28620

[2020-11-02 17:24] marefr commented on #28698
@stehla You're using the remote rendering using Docker so please refer to https://github.com/grafana/grafana-image-renderer/blob/master/docs/remote_rendering_using_docker.md#configuration-file. We're planning to update the Grafana documentation to make this more clear.

[2020-11-02 17:24] #28698 closed

[2020-11-02 17:27] szerwi opened #28759 "Gauge panel values scaled wrongly"
**What happened**:
After update from 7.2.2 to 7.3.1, the gauge panel values are being scaled incorrectly. Longer values are too small and shorter values are too big.
This is how it looks on 7.3.1:
![7 3 1](https://user-images.githubusercontent.com/19311511/97898915-d68ef800-1d38-11eb-9bef-23ae9b7fb325.jpg)

**What you expected to happen**:
This is how it looked on 7.2.2:
![7 2 2](https://user-imag

[2020-11-02 17:39] marefr commented on #28743
This request doesn't really make sense to me. Possibility to refresh variable when panel is refreshing I'm pretty sure we wouldn't/couldn't add because a variable is not dependent on a panel, rather the opposite. Can you please provide more information so that I could understand why you think you need it? Thanks

[2020-11-02 17:40] torkelo commented on #28678
@aknuds1 thanks for that! unable to replicate still

Without any transformations added can you copy the raw data frame structure from the inspector / JSON / DataFrame

![Screenshot from 2020-11-02 18-39-44](https://user-images.githubusercontent.com/10999/97900348-cf68e980-1d3a-11eb-8d30-a8de97653c37.png)

[2020-11-02 17:50] Tommie15 commented on #28714
I hope the attached screenshots are what you're looking for.
If you need any other information, please ask.

![GR_Chrome](https://user-images.githubusercontent.com/73750017/97901220-2a4f1080-1d3c-11eb-9bea-f5a578e7e8e2.jpg)
![GR_QueryInspector](https://user-images.githubusercontent.com/73750017/97901225-2cb16a80-1d3c-11eb-9b97-03abcb16a077.jpg)

[2020-11-02 17:55] marefr commented on #28712
Weird. Thanks. Please include your language settings of Firefox, primary and alternatives. Does decide what Accept-Language header browser will send with all requests. Something like this
![image](https://user-images.githubusercontent.com/1668778/97901702-d0027f80-1d3c-11eb-832a-92cc5d77b9fd.png)

What language do you have on your operating system?

[2020-11-02 17:57] marefr commented on #28733
Thanks

[2020-11-02 18:12] marefr commented on #28714
Thanks. Based on the error message seems like it maybe fails to parse the URL you're using. Have you tried manually inputting the URL and not paste it (in case there's some extra character included when pasting)?

[2020-11-02 18:38] karlatkinson commented on #28263
@aknuds1
There is the REST & HTTP type API gateway in AWS. These both share the same cloudwatch metrics namespace.
If you compare the two links I've posted, the metric names are slightly different. ie. REST uses `4XXError` where as HTTP uses `4xx`.

Looks like the metrics you can choose in the dropdown in Grafana for an API Gateway are here? https://github.com/grafana/grafana/blob/master/pkg/tsdb/

[2020-11-02 18:49] aknuds1 commented on #28263
Could you make a PR adding the metrics you're suggesting? I'm not sure how this would work technically based on the AWS docs you provided.

[2020-11-02 19:19] #18376 closed

[2020-11-02 19:19] sanchomuzax commented on #28743
I can detect this bug, which has been released since version 7.3.1 in Grafana dashboards variable handling:

Please, create 2 variables for a template, one variable should refer to the other variable.

Example:

- Create a custom list the following elements (`$list`):
![image](https://user-images.githubusercontent.com/2911588/97908649-42785d00-1d47-11eb-8587-8265d33d6023.png)

- Create a 2nd varia

[2020-11-02 19:25] arturomp commented on #5698
any news on this @torkelo?

[2020-11-02 19:41] Tommie15 commented on #28714
![ES_Error](https://user-images.githubusercontent.com/73750017/97911534-b1f04b80-1d4b-11eb-80da-039882fdc658.gif)

When I try to copy the URL of the 'destination' page another error occurs.

[2020-11-02 20:33] filipsPL commented on #28712
With this settings grafana *works fine*:

![obraz](https://user-images.githubusercontent.com/11406606/97914435-29c07500-1d50-11eb-9f5f-20ccaec9df84.png)
header: `Accept-Language: pl,en-US;q=0.7,en-GB;q=0.3`
![image](https://user-images.githubusercontent.com/11406606/97914844-cedb4d80-1d50-11eb-8698-fab2708089b6.png)
header: `Accept-Language: en-US`

The original settings:
![image](https://user-ima

[2020-11-02 21:46] mermino opened #28762 "Custom Dashboard Variable: preview does not show correct values when values are URL's"
![Screen Shot 2020-11-02 at 12 30 41 PM](https://user-images.githubusercontent.com/6807784/97922063-bb0ff700-1d10-11eb-8514-4b730f430b8c.png)

**What happened**:
Creating a custom dashboard variable with URL's as values does not properly show under "Preview of Values"

**What you expected to happen**:
Preview of Values should show correct values

**How to reproduce it (as minimally and precisely a

[2020-11-02 22:48] vvuk opened #28763 "Docs feedback: /administration/cli.md"
`--homepath` is in the wrong place on the `grafana-cli` command line example; it needs to be after `grafana-cli`, as executing the command as written gives:

[code]

[2020-11-02 23:21] mikhailredis commented on #28523
@mckn, CHANGELOG.md was included in the `dist` folder to be displayed on the plug-in page. Looks like it was removed in the recent versions 7.2/7.3.

Please compare version 1.2.0 and 1.2.1 for https://grafana.com/grafana/plugins/redis-datasource. Tab `Change Log` exists for version 1.2.0 and is missing for 1.2.1.

Thank you.

[2020-11-02 23:42] fjmacagno commented on #16004
The lack of something like this is a really significant problem. Being able to write a plugin would allow me to avoid having to write an entire service just to translate the grafana webhook data into something usable and passing it on.

[2020-11-03 00:06] simianhacker commented on #25878
Quick update, I got this working without having to use the `meta.custom` key on the `DataFrame` object; I stumbled across the `this.timeServ.timerange()` method that allowed me access to the time range. I found a few rough spots that I will point out in the PR once I have it ready (probably the next day or so). Here's a screenshot of it working:

![image](https://user-images.githubusercontent.com/

[2020-11-03 06:08] mckn commented on #28523
Ah, suuper! Will have a look at it.

[2020-11-03 06:49] JBSullivan opened #28766 "Alias Name changes the trend display"
Hello I have the following problem under Grafana 7.2.0 and InfluxDB. As soon as I edit the Alias name in the 5th of five trend lines, the trend is drawn to 0.

If you leave the alias field empty, which of course looks stupid if you see a data point name instead of the clear name in Legend, the trend curve is displayed correctly again.

This is about the red line of the sun's course. Pay attention

[2020-11-03 08:27] som-kanade opened #28768 "unable to add tags to grafana alerts"
unable add tags in alert rules
grafana version >> 7.0.3
the tags disappear after saving
can someone help here ?

[2020-11-03 08:30] wiegandf commented on #28457
So for both cases (working & non-working) I can't see the id_token field.

Working case:
[code]
Non-working case:
[code]

[2020-11-03 09:28] bergquist opened #28770 "Instrument time in seconds instead of milliseconds"
When we switched to instrument Grafana with Prometheus we wanted to be backward compatible with the graphite instrumentation we had in place. Today Prometheus is by far the most popular way to instrument Grafana so we should adjust Grafanas instrumentation to align more with how Prometheus monitors applications.

Might be possible to convert some of the values from `seconds` to `ms` in the graphit

[2020-11-03 09:33] leahoswald opened #28771 "Randome unit of decbps after upgrade from 7.2.0 to 7.3.1"
**What happened**:
I upgraded my grafana installation from 7.2.0 to 7.3.1
After that some of my graphs (most of the problematic ones are created in the last months) are showing a strange unit of decbps instead of bits/s for their Y-axis and I have no idea what this unit should mean (I would guess deca bits or a bit/s with the base 10). Also I have to change every single graph to a working unit aga

[2020-11-03 09:38] gw0 opened #28772 "Allow triggering external webhooks on events"
**What would you like to be added**:
Support for triggering external webhooks on specific events (e.g. when saving a dashboard). Probably for events that the backend already broadcasts for other purposes, e.g.:

https://github.com/grafana/grafana/blob/5fcff1a4c74f80fe5c29cc259d43418b35088467/pkg/api/dashboard.go#L266

**Why is this needed**:
In order to automate provisioning of dashboards it would

[2020-11-03 09:42] ivanahuckova commented on #28771
Another issue related to `decbbs` mentioned on community site: https://community.grafana.com/t/panel-y-axis-units-byte-sec-si-is-saved-as-decbps-in-json/38658

[2020-11-03 10:01] rvdheij commented on #28771
If this helps to determine the cause: we observed it when 7.1.5 tried to import a dashboard created on 7.2.0
Digging deeper, I see that my 7.1.3 system creates the JSON file with "Bps" where "7.2.0" does "decBps" (which is not right). This might be related to the introduction of the "(SI)" differentiation in the Data Rate units.

[2020-11-03 10:12] rvdheij commented on #28771
FWIW - There is some value in scaling disk I/O with 1024 and network I/O with 1000 but that's probably not my biggest concern when typical panels are 5% - 7% off when we're reporting MB/s and GB/s. In a previous life I avoided the issue by using 1024 because network traffic often includes frame headers etc that obscure the actual application workload enough as an excuse.
My main concern was using

[2020-11-03 10:13] #28523 closed

[2020-11-03 10:24] #28678 closed

[2020-11-03 10:37] rvdheij commented on #28771
I probably should have reviewed https://en.wikipedia.org/wiki/Binary_prefix before commenting, but maybe we need to change this into a feature request rather than a bug report. I understand the legal issues around SSD drives, but would like a pragmatic approach for the panels.
The designer of the panel should be aware what type of scaling to use, and the user should be able to blindly trust that j

[2020-11-03 10:58] marefr opened #28778 "CloudWatch: Add namespace, metrics and dimensions support for AWS Client VPN"
**What would you like to be added**:
Support for AWS/ClientVPN namespace, metrics and dimensions according to [documentation](https://docs.aws.amazon.com/vpn/latest/clientvpn-admin/monitoring-cloudwatch.html). I think the only dimension supported is `Endpoint` even though the documentation is not great in this regard.

**Update:** Confirmed using the `aws cloudwatch list-metrics --namespace "AWS/C

[2020-11-03 11:00] marefr commented on #28778
Changes for metrics and dimensions needed in https://github.com/grafana/grafana/blob/fa567de9b8a3615fbd079f2940bee70938c8f03a/pkg/tsdb/cloudwatch/metric_find_query.go#L44

[2020-11-03 11:06] alexanderzobnin commented on #28457
Message looks like (id_token is in the raw data):
[code]

[2020-11-03 11:09] #19270 closed

[2020-11-03 11:35] aknuds1 commented on #28009
I'm going to try and reproduce.

[2020-11-03 11:42] shkhan26 opened #28781 "Issue with Plugin installtion through grafana CLI for Windows ENv"
Hi Team,

While installing the IBM APM plugin datasource on Grafanav7.1.5 on Windows env,  I am  getting mentioned exceptions

Tried multiple options but same issue ---

C:\Program Files\GrafanaLabs\grafana\bin>grafana-cli.exe plugins install ibm-apm
-datasource
←[31mError←[0m: ←[31m?←[0m Failed to send request: Get "https://grafana.com/api/
plugins/repo/ibm-apm-datasource": context deadline excee

[2020-11-03 11:51] karlatkinson commented on #28263
@aknuds1 no problem, have created a PR.

[2020-11-03 12:09] aknuds1 commented on #28781
I can't find any plugin called ibm-apm:

[code]

Closing until more concrete evidence of a bug is provided.

[2020-11-03 12:09] #28781 closed

[2020-11-03 12:11] aknuds1 commented on #28781
Aha, I see now you mean ibm-apm-datasource. Your formatting made it look like ibm-apm. However, I can install it just fine, so there's probably a problem in your environment making it impossible for grafana-cli to download it.

[2020-11-03 12:20] shkhan26 commented on #28781
Thank you very much, but I am still getting the mentioned error while installing with command promt/power cli both ways.. even Proxy is opened -

C:\Program Files\GrafanaLabs\grafana\bin>grafana-cli.exe plugins install ibm-apm-datasource
←[31mError←[0m: ←[31m?←[0m Failed to send request: Get "https://grafana.com/api/
plugins/repo/ibm-apm-datasource": context deadline exceeded (Client.Timeout exce

[2020-11-03 12:25] aknuds1 commented on #28781
I can recommend using the Grafana community [forums](https://community.grafana.com) or [Slack](http://slack.raintank.io) for support requests. We use GitHub issues for bug reports and feature requests.

[2020-11-03 12:27] shkhan26 commented on #28781
Thanks, I have already raised the ticket there. Thank you for the support

[2020-11-03 12:56] torkelo commented on #28771
yes, we accidentally released 7.2 with some bad unit ids, fixed in 7.2.1, but if you used those unit ids in between those releases, you need to go into edit mode and pick the unit again

[2020-11-03 12:56] #28771 closed

[2020-11-03 13:00] torkelo opened #28782 "Dashboard: Adding an annotation query or dashboard link does not show up after going back to dashboard"
After adding an annotation query dashboard link I expect to see them when I go back to the dashboard but I do not. I have to save and reload the dashboard for them to be shown in the SubMenu.

Probably due to react props not changing.

https://github.com/grafana/grafana/blob/master/public/app/features/dashboard/components/SubMenu/SubMenu.tsx#L63

[2020-11-03 13:07] shkhan26 commented on #28781
Thanks it's solved i set http proxy in command promt it was uable to go to site for downloadng .. Thanks for the support

[2020-11-03 13:12] hanahas commented on #3514
👍

[2020-11-03 13:26] rvdheij commented on #28770
Not sure this is in the same area, but I would enjoy ```$__interval_s``` in addition to ```$__interval_ms```
I know it's just an extra *1000 but it would be nice to avoid. I wonder whether it could or should be tied to the units for the Y-axis.

[2020-11-03 13:42] jothibasu-kamaraj commented on #5082
it worked for me with 20 columns thank you

[2020-11-03 13:59] faxm0dem opened #28786 "grafana toolkit unexpected token {"
This is what happens when I try to bootstrap a new plugin as stated in the doc:

[code]

[2020-11-03 14:19] wiegandf commented on #28457
Thank you very much - this pointed me to reason it's not working. Unfortunately, the id_token wasn't logged with log format json which I would not have expected.

So, for the non-working case, id_token consists of a groups overage claim (https://docs.microsoft.com/de-de/azure/active-directory/develop/id-tokens#groups-overage-claim).

[2020-11-03 14:19] faxm0dem commented on #28786
I had a mixture of different node versions in my `$PATH`, thus the error.
Sorry for the noise!

[2020-11-03 14:19] #28786 closed

[2020-11-03 14:20] amnonh opened #28787 "Dashboard parameters ignores the first item in a custom parameter"
**What happened**:
I'm using custom variables with repeated rows dashboards are loaded from file.

The customer variable looks like:
[code]

As you can see the first line should be `GetItem`, but it's not there
![image](https://user-images.githubusercontent.com/2118079/97994634-28de2080-1dee-11eb-976f-c36fca15afb0.png)

If I edit the dashboard manually (like changing the order of the parameters) i

[2020-11-03 14:37] mckn commented on #28712
I have tried to reproduce this but I can't get it to fail in either Firefox, Chrome or Opera. The part of the code that is referenced in this issue is when the native i10n support tries to use the native locale flags so I must be something with the browser settings.

I will close this due to unable to reproduce. Feel free to re-open or ping me if you can figure out how to reproduce it.

[2020-11-03 14:37] #28712 closed

[2020-11-03 16:17] calebsmac opened #28789 "Influx query doesn't correctly limit time to now"
**What happened**:
When performing a regular Influx query with a relative time range selected (e.g. "Now - 1h") the limit on future is not added to query.

The result is that data from far in the future (added there due to a bug) is erroneously returned. Changing time range in address bar to `from=now-6h&to=now-0s` corrects the issue.

Decoded query from query inspector:
`q=SELECT "field" FROM "me

[2020-11-03 16:32] secustor commented on #28731
We have the use case of multiple quotes in a message block. This could maybe solved using a regex with look behind.
![image](https://user-images.githubusercontent.com/17493763/98013289-7cef0200-1dfa-11eb-97c2-5bce71dc65fb.png)

[2020-11-03 17:17] HappyCerberus opened #28790 "Default openCensus gRPC metrics are not displayed correctly when using Heatmap"
**What happened**:

Monotonically increasing values are displayed:

![](https://i.imgur.com/tCnQ1q6.png)

**What you expected to happen**:

I would expect to see a heatmap

**How to reproduce it (as minimally and precisely as possible)**:

openCensus gRPC monitoring -> Prometheus -> grafana

[2020-11-03 17:25] shanson7 opened #28791 "Template variables: URL values not used for dependent variables"
**What happened**:

We have many dashboards with 2 template variables A and B, where B depends on A. In some cases, there are links like `<grafana_url>?var-A=val`, where B is left empty and should be filled in. After upgrading to `Grafana v7.3.1` we are seeing that the template value query for B is not using the value for A specified in the URL.

For a concrete example, let's say we have 2 variabl

[2020-11-03 17:52] bartmachielsen commented on #6983
+1 Very usefull

[2020-11-03 18:02] dmagliola commented on #23305
+1 It would be great to have more manual control of how this looks

[2020-11-03 18:41] stevenvachon opened #28792 "plugin.json supported features field"
**What would you like to be added**:
A `supportedFeatures` (or similarly named) field for listing/mapping Grafana features that a plugin supports:
[code]

Any undefined features can be parsed as an "unknown" state; for handling features added to Grafana after a plugin has last been updated.

**Why is this needed**:
This would be useful for generating a visual for Grafana UIs and plugin pages on gr

[2020-11-03 18:45] cawhite6 commented on #28042
Any update on possible fix, think it shows a bug in grafana???

[2020-11-03 19:44] dkozar opened #28794 "oauthPassThru option visible for data source plugins?"
**What would you like to be added**:

We're wondering if the `oauthPassThru` option could be made visible for the following data source plugins:

- Azure Monitor datasource
- Prometheus

This value is being edited by the _Forward OAuth Identity_ switch which is present in `HttpProxySettings` control, but this control is not present in any of the standard data source config editors:

![image](https

[2020-11-03 20:02] torkelo commented on #28791
Here is a gist with a dashboard to replicate the issue: https://gist.github.com/torkelo/0afc8ef66f0c8f63ba136f96b139e2b5
 require you to run the devenv  graphite11 docker block.

Some log output from troubleshooting this:

URL: http://localhost:3000/d/exS-5d2Mk/graphite-nested?orgId=1&var-stats=response&var-substats=All
[code]

@hugohaggmark as you can see the first variable (stats) does not actua

[2020-11-03 20:07] torkelo commented on #28792
not sure what the templating sub features (names & values) & alias options mean? aliasing should not needed anymore as Grafana can do this now via the display name option

[2020-11-03 20:20] netbix commented on #27832
I have upgrade grafana to 7.3.1 but the problem persist

[2020-11-03 20:23] jcdauchy-moodys commented on #24092
Hope this gets fixed in 7.4, as many of us are waiting for this to be able to use the new 7.x Panels. We are stuck in old panels 👎

[2020-11-03 20:34] netbix commented on #27832
I have resolve, in the text filter i have put * and delete .... refresh et voila !
![immagine](https://user-images.githubusercontent.com/66208491/98037724-4fb34b80-1e1c-11eb-8019-d68d79c54fa3.png)

[2020-11-03 20:34] #27832 closed

[2020-11-03 20:40] stevenvachon commented on #28792
The feature list here is not yet exact. I mostly copied from https://grafana.com/grafana/plugins/grafana-dynatrace-datasource

[2020-11-03 21:01] edin008 commented on #8292
Is this feature request being considered?

Please implement posibility to fix number of rows in legend, would help greatly in visualising dashboards in sense of putting more information on whole dashboard before page scroll.

My problem is a bit different than from trevorndodds but this feature would solve it. I want to put as many graphs as possible with exactly 4 rows in legend before page scrol

[2020-11-03 21:09] simianhacker commented on #5148
I'm going to start looking into a fix for this issue.

[2020-11-03 21:19] PavelPikat commented on #24092
True. v7 is non-existing for us as well until this feature is re-implemented there

[2020-11-03 23:12] alolita commented on #28674
Hi Folks - We're getting ready to file our first PR on this feature request. Can you please assign this @ahlaw @eunice98k

[2020-11-03 23:40] lephisto commented on #26484
Might this be related? https://github.com/grafana/influxdb-flux-datasource/blob/87b7c464277666a00b5284b91c4e752523bdd1a2/pkg/influx/executor.go#L25

[2020-11-04 02:27] lmatias98 commented on #27686
Yes, I tried, but I'm with this problem :/

[2020-11-04 05:07] nikobearrr commented on #28695
Hi, I am also observing the same issue on Windows10 with Chrome 83.0.1403.106 (64 bit). That was not an issue with 7.2.2
Is this fix going to address win/chrome or is it iOS specific?

[2020-11-04 05:12] nikobearrr commented on #28717
HI @marefr, I am using Graphite and mysql primarily.
I am not aware about such configuration, but perhaps I need to read the docs.
I do not want to completely disable 5s intervals, but if I select "last 7days" it makes no sense to ask the graphite instance every 5s for last 7d - the change won't be visible.

[2020-11-04 05:12] hugohaggmark commented on #28791
@torkelo I'm on it

[2020-11-04 06:01] mnpenner commented on #24897
I'm still seeing this in Grafana v7.3.1 (6668161a88)

[2020-11-04 07:00] RakeshNagarajan opened #29198 "Grafana Loki live log is not working for user having editor access"
Grafana Live log is only working for user has admin permission in the organization.

User which has Editor access cannot able to use live logs

`Error: Permission denied to access property "parentElement"`

[2020-11-04 07:56] #28791 closed

[2020-11-04 08:06] #19841 closed

[2020-11-04 08:31] #21076 closed

[2020-11-04 09:00] OrionDevelopment opened #28803 "[Windows] [Generic OAuth]: Remote endpoint parsing from the config results in broken redirects."
**What happened**:
Generic Oauth configuration seems to parse the wrong URLs when it runs under windows.
This causes redirects to happen relative instead of absolute making the generic oauth system not work on windows, due to the fact that grafana does not run the OAuth2 endpoint but still redirects the calls to itself, instead of to the remote system.

**What you expected to happen**:
Grafana sho

[2020-11-04 09:13] #27803 closed

[2020-11-04 09:21] torkelo commented on #28683
The decision to update Select component do default  to down instead of auto

[2020-11-04 09:22] mckn commented on #24897
@mnpenner could you provide us with a way to reproduce it? Maybe a dashboard or panel json.

[2020-11-04 09:23] Schrolli91 opened #28804 "Display problem with graph panel (Sun and Moon datasource)"
**What happened**:
Display problem in graph panel with the Sun and Moon datsource
https://grafana.com/grafana/plugins/fetzerch-sunandmoon-datasource

If you can see on the image, there are some wrong lines.
When i do a refresh (F5) of the browser window all is ok - but after some time (auto-timed refreshes) this error occurs.
![image](https://user-images.githubusercontent.com/6043382/98092368-e026

[2020-11-04 09:24] torkelo commented on #28461
Closing this as it's only test data source that has this where it's unique in that it has a valid query in the default state, if any real data source has this we need to fix it

[2020-11-04 09:24] #28461 closed

[2020-11-04 09:25] DrMichael commented on #24092
True, same here.

And, it appears, that you cannot have the table sorted by hidden fields?!?!

[2020-11-04 09:28] #26451 closed

[2020-11-04 09:30] torkelo commented on #25305
Can you try upgrading to latest 7.3 release? There is a possibility that orphaned alert rules are cleaned up then

[2020-11-04 09:31] davkal commented on #28675
This seems to be a problem with the editor component, mixed with the query run on blur behavior. We'll take a look.

[2020-11-04 09:33] gjemp commented on #28056
hei, installed the 7.3.1 today, and the case still exists

[2020-11-04 09:33] davkal commented on #26760
@grafana/grafana-frontend-platform we'll take this.

[2020-11-04 09:35] davkal commented on #28675
Related to #26760

[2020-11-04 09:36] davkal commented on #28675
@grafana/grafana-frontend-platform we'll take this.

[2020-11-04 09:39] fa1861 commented on #11418
+1

[2020-11-04 09:39] aknuds1 commented on #28056
@gjemp thanks for letting us know, I reopened the issue so the frontend team can have another look.

[2020-11-04 09:40] MartinRoenneburg opened #28805 "7.3.1 Stat panel: ${__field.labels.*} not evaluated in data links"
**What happened**:

In Grafana 7.2 I use Stat Panels with Data Links depending on (prometheus-) labels.
(drill down to other dashboards ... )

<img width="279" alt="Bildschirmfoto 2020-11-04 um 10 32 22" src="https://user-images.githubusercontent.com/32619064/98094644-d94d3280-1e89-11eb-9bf3-bf541ddd01be.png">

I updated to 7.3.1 and the ${__field.labels.*} are no longer evaluated in Field Data Li

[2020-11-04 09:45] davkal commented on #28669
@yoramshai I know it's confusing, and we're trying to improve this. But the graph is only calculated from the log result dates. This is a limitation with loki right now, but we're trying to improve this.

See also https://grafana.com/docs/grafana/latest/explore/#logs-visualization

Closing this, since the behavior is as designed (even though it's sub-optimal right now).

[2020-11-04 09:45] #28669 closed

[2020-11-04 09:47] davkal opened #28807 "Explore: zooming into logs is broken"
From @treksler:

with loki 2.0.0 and grafana 7.3.1 in explore view: zooming into a small (less than an hour) time range does not work in the logs panel, if that time range is within the last hour.

eg , show the last 6h of logs and drag to zoom in to show about 5 min of logs. this works for time ranges that were more than an hour ago. if you select a time range within the last hour, it will show y

[2020-11-04 09:53] dprokop commented on #22073
Fixed with https://github.com/grafana/grafana/pull/27669

[2020-11-04 09:53] #22073 closed

[2020-11-04 09:58] stehla commented on #28698
@marefr Thanks, for the reply. But there has probably been a misunderstanding. I have been using this configuration-file for the grafana-image renderer. Especially these values in `/usr/src/app/config.json`
[code]
But they seem to have no effect when rendering requests come from the grafana WebUI, since these values are set in the HTTP-request to some value set inside of grafana maybe. This I was

[2020-11-04 09:59] stehla commented on #28698
Unfortunately, I have not been able to make this work, yet

[2020-11-04 10:00] dprokop commented on #22240
@daenney thanks for opening this. We don't see much interest in such a feature, and we do plan to introduce it anytime soon in the future, so I'm closing this one.

[2020-11-04 10:00] #22240 closed

[2020-11-04 10:05] ivanahuckova commented on #26169
Closed in https://github.com/grafana/grafana/pull/28697

[2020-11-04 10:05] #26169 closed

[2020-11-04 10:09] daenney commented on #22240
I don't quite get the sentence: We don't see interest, we do plan on introducing it, closing the issue?

[2020-11-04 10:15] dprokop commented on #22249
Hi @florianwgnr and thank you for opening this issue! We do not plan to implement this feature in near future and we also do not see any evidence this is a popular future request.

[2020-11-04 10:15] #22249 closed

[2020-11-04 10:19] dprokop commented on #22470
Thanks @fmakawa for opening this issue. We do not see much interest in this feature request so I will close it for now.

[2020-11-04 10:19] #22470 closed

[2020-11-04 10:21] dprokop commented on #22658
Thanks @bgalartza for opening this issue. We do not see much interest in this feature request so far so I will close it for now.

[2020-11-04 10:21] #22658 closed

[2020-11-04 10:31] marcusolsson commented on #28792
I'm worried that this will encourage more configuration, where plugin authors need to specify the all the features they intend to use up-front instead of just using them. How do we determine what features need to be "turned on" in the plugin.json?

Typically, supported features are currently top-level boolean properties. The ones I can think of right now include:

- alerting
- annotations
- backen

[2020-11-04 10:32] dprokop commented on #23062
@ontari homelinks panel will be removed in 7.4

[2020-11-04 10:32] #23062 closed

[2020-11-04 10:49] davkal commented on #25699
Browser access was never meant to be there. Sorry for this.

[2020-11-04 11:02] HappyCerberus commented on #28790
Another example, this should be the same data. Bottom graph is percentiles.

![comparison](https://i.imgur.com/IvpdaSy.png)

[2020-11-04 11:10] dprokop commented on #23639
@noonker thank you for opening the issue. We do not see much of an interest in this feature so I will close this for now.

[2020-11-04 11:10] #23639 closed

[2020-11-04 11:50] runebaas opened #28812 "Add support for Phone Number formatting in field overrides"
**What would you like to be added**:
The ability to select "Phone Number" in field overrides when editing a query, possibly as a Unit or separate override option

**Why is this needed**:
To nicely format phone numbers

I'd be happy to do the work

[2020-11-04 11:52] HenrikRolandHansen opened #28813 "Local formate in "Field" i a MaximumFractionDigits value out of range"
**What happened**:

![image](https://user-images.githubusercontent.com/8969659/98108503-597c9380-1e9c-11eb-9ef6-846d4b790859.png)

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Grafana version:
- Data source type & version:
- OS Grafana is installed on:
- User OS & Browser:
- Grafana plug

[2020-11-04 11:53] #28813 closed

[2020-11-04 12:04] HenrikRolandHansen opened #28814 "Using Local formate in "Field Unit" gives a MaximumFractionDigits value out of range error"
Changing the Unit under Field to "local format" gives a "MaximumFractionDigits value out of range" error. The same thing happens if applied under overrides. The same error does not happening if using other Unit..

![image](https://user-images.githubusercontent.com/8969659/98109071-44543480-1e9d-11eb-848f-7754e7829797.png)

**Environment**:
- Grafana version: Grafana 7.2.2
- Data source type & vers

[2020-11-04 12:15] bergquist opened #28815 "Dashboard snapshot cannot be saved since it's too long"
A user in our hosted service is having problems storing a dashboard snapshot due to the size of the dashboard.

[code]

Seems like we using `DB_BLOB` instead of `DB_TEXT` as a datatype for encrypted dashboard snapshots. The Blob datatype is limited to 65535 bytes (64 KB). A `MEDIUMBLOB` is 16777215 bytes (16 MB) and a `LONGBLOB` is 4294967295 bytes (4 GB). So I suggest we change it to `MEDIUMBLOG`

[2020-11-04 12:22] ivanahuckova commented on #26508
@appleciderjack @Tomica-G  we plan is to introduce a Transform for regex renames. I am closing this issue in favour of https://github.com/grafana/grafana/issues/22360.

[2020-11-04 12:22] #26508 closed

[2020-11-04 12:25] marefr commented on #28763
Seems like this section is incorrect https://grafana.com/docs/grafana/latest/administration/cli/#reset-admin-password

It's correct in this section https://grafana.com/docs/grafana/latest/administration/cli/#override-homepath-value so we should probably link to this section from https://grafana.com/docs/grafana/latest/administration/cli/#reset-admin-password

[2020-11-04 12:26] marefr commented on #28763
@grafana/docs-squad can you have a look at my comment and see if it makes sense. Thanks

[2020-11-04 12:29] marefr commented on #28766
At the bottom screenshot you have right y-axis enabled, but at the top you doesn't. As you can see the min/max value of the right y-axis is much smaller than the left y-axis and why you see this behavior. Please change any of them to include or not include a right t-axis.

[2020-11-04 12:29] #28766 closed

[2020-11-04 12:50] #20425 closed

[2020-11-04 12:51] #23232 closed

[2020-11-04 13:21] stevenvachon commented on #28792
Yes, I think that would clean up the file schema.

Perhaps we could automate the properties via @grafana/toolkit and/or grafana-plugin-sdk-*, but still using _plugin.json_.

[2020-11-04 13:27] marefr commented on #28814
I was able to reproduce it temporarily and then saved a dashboard of the reproduction [here](https://play.grafana.org/d/qNiytchGk/issue-28814-maximumfractiondigits-value-out-of-range-error?orgId=1). Used Google Chrome. However, loading the dashboard now it's no longer happening. The error message logged in the console I unfortunately didn't catch before I reloaded the browser window.

I think this

[2020-11-04 13:40] dprokop commented on #28805
This seems like it might be a Prometheus data source specific, just checked on master and the labels are correctly suggested with test data source.

[2020-11-04 13:46] marefr commented on #28815
We need to do something similar to this, but for mediumblob https://github.com/grafana/grafana/blob/5916ef94d0d7ca4bde47cb8478c3fb55fd829063/pkg/services/sqlstore/migrations/dashboard_snapshot_mig.go#L52-L54

[2020-11-04 13:55] sirbavo commented on #28042
I can also confirm this, 7.1.5 is the last working version. Query inspector is also stucked during the loading process (however based on the network traffic the API is responding with the proper values).

_Zabbix is an enterprise-class monitoring solution with LTS versions also (5 year support), used by many people out there. **The proper working of this data source plugin really needs more attent

[2020-11-04 13:56] HenrikRolandHansen commented on #28814
Hi Marco
Here is the copy of the query'sm, with the error reproduced .

/Henrik

{
  "request": {
    "url": "api/tsdb/query",
    "method": "POST",
    "data": {
      "from": "1603892931086",
      "to": "1604497731086",
      "queries": [
        {
          "refId": "A",
          "intervalMs": 600000,
          "maxDataPoints": 1255,
          "datasourceId": 5,
          "rawSql": "SELECT\n$

[2020-11-04 14:04] NotAFile commented on #28675
@davkal oh, didn't see that issue. I'd go further and call them duplicates. The only difference to me seems to be that my steps are a bit more complete, as they include deliberately triggering the drop down.

[2020-11-04 14:07] NotAFile commented on #28677
A gif demonstrating this behavior was posted on another issue, linking it here so it doesn't get lost:

https://github.com/grafana/grafana/issues/28675#issuecomment-719329670

[2020-11-04 14:16] ivanahuckova commented on #20245
+2 this feature request was also mentioned several times during rich history research

[2020-11-04 14:18] marefr commented on #28814
@HenrikRolandHansen thanks. Can you try disable the query "E" and see if you still can reproduce it?

[2020-11-04 14:28] HenrikRolandHansen commented on #28814
If I disable "E" then I can't reproduce the error with the remaining queries and same time period. But when I change the time period  to 90 days I get the same error again with the remaining queries.

[2020-11-04 14:31] R-Studio opened #28821 "Grafana special data source "Dashboard" not working for repeated rows"
**UseCase / What happened**
I want to make a dashboard with a row foreach "Customer"("Customer" is a Grafana template variable).
I use a Grafana table inside the row with a queryfilter "Customer". To make the dashboard fast and efficient I want to use the data in this table for all following Grafana Panels in the same row.

**But here is the issue:** In the first Grafana row the panels with the sp

[2020-11-04 14:50] marefr commented on #28814
Thanks. I'll let another team investigate this further.

Until then,

[2020-11-04 14:53] HappyCerberus commented on #28790
Ok, so after a lot of trial and error, it boils down to lacking documentation.

- Under Query:
  - Input needs to be prometheus cumulative buckets.
  - In Query options, make sure your minimum interval is set high enough.
  - In Query options, set max data points to something reasonable, you shouldn't need crazy `x-axis` resolution for heatmaps.
  - Use `rate` or `irate`, ending up with something

[2020-11-04 14:53] #28790 closed

[2020-11-04 14:56] aknuds1 commented on #28803
Closing since I couldn't reproduce (on Windows) on the latest version, v7.3.1, using GitLab as a generic OAuth provider. Please try upgrading and if the issue still occurs, let us know.

[2020-11-04 14:56] #28803 closed

[2020-11-04 14:59] ryantxu commented on #28792
I am strongly against adding this to the static plugin.json file.

Perhaps adding a describe features function to the runtime module?  Then it could actually enumerate what is possible based on current settings

[2020-11-04 15:01] stevenvachon commented on #28792
Like a REST API endpoint?

[2020-11-04 15:01] HappyCerberus opened #28824 "Heatmap visualization bug - bucket rectangles are much taller than they should be"
For some peculiar reason the height of the rectangle ends up being 75 pixels, which leads to weird artifacts in the heatmap (light lines peeking around dark values).

This seems to happen consistently when using the Format `Time Series Buckets`.

![visual bug](https://i.imgur.com/U7Lf2Gb.png)

[2020-11-04 15:06] ryantxu commented on #28792
a function on the plugin module.

Let me back up to ask why we should add more details?

[2020-11-04 15:20] stevenvachon commented on #28792
1. Customers know upfront which expected features are not supported
2. We have an accurate record of how incomplete each of our plugins are

[2020-11-04 15:21] stevenvachon commented on #28792
That means JavaScript, which I don't know will tell us which backend features are implemented.

[2020-11-04 15:46] HenrikRolandHansen commented on #28814
Thanks

[2020-11-04 16:06] sbouchex opened #28827 "Select : Can't be cleared when isClearable is defined"
I'm designing a query editor and here is the sample I'm using :
[code]
**What happened**:

I'm adding a custom value with the keyboard, then I want to clear it with the small cross at the right of the menu

**What you expected to happen**:

I'm supposed to see the value cleared (as isClearable is defined)

**How to reproduce it (as minimally and precisely as possible)**:

- Defined the editor
- Ru

[2020-11-04 16:07] #28759 closed

[2020-11-04 16:11] #28827 closed

[2020-11-04 16:18] zoltanbedi commented on #28677
@NotAFile can you please try with latest master if this pr fixed this issue as well? https://github.com/grafana/grafana/pull/28622

[2020-11-04 16:27] torkelo commented on #28821
This use case is sadly not supported and likely will not be as this dashboard query needs the panel id to look up its results

[2020-11-04 16:27] #28821 closed

[2020-11-04 16:28] torkelo commented on #28804
Can you show the data in panel inspector / JSON / DataFrame when you see this?

[2020-11-04 16:30] ivanahuckova commented on #28807
Hello @treksler, can you maybe provide gif, more detailed description or show information from your network tab. I was following your directions, but everything worked for me as expected (see below).
![Kapture 2020-11-04 at 17 30 03](https://user-images.githubusercontent.com/30407135/98138466-6cef2500-1ec3-11eb-93ed-f47773efe80a.gif)

/needs more detail

[2020-11-04 16:32] torkelo commented on #28789
/duplicate #7071

[2020-11-04 16:33] #28789 closed

[2020-11-04 16:35] ivanahuckova commented on #28807
/needsMoreInfo

[2020-11-04 16:36] weeco opened #28829 "Linux group of grafana user in docker container is root"
**TL;DR:** The Grafana user is now part of the `root` user group in linux. Dockerfile in repo differs from the actual dockerfile being used to build the image.

---

We install Grafana plugins in our docker build and noticed that our chown command suddenly failed after all the previous versions have worked fine:

[code]

This did not make any sense to me when I looked at the Dockerfile in this rep

[2020-11-04 16:37] marefr commented on #28698
@stehla oh now I understand. You have to provide the `scale` query string parameter in the URL currently. see the docs for reference https://grafana.com/docs/grafana/latest/dashboards/share-panel/#direct-link-rendered-image

Let me know if this doesn't work.

[2020-11-04 16:39] Berbe opened #28830 "Stat panel: Override threshold style for specific values"
This is another take at explaining #28313

**What would you like to be added**:
The ability to override style (dynamically set through threshold) when overriding values of a `Stat` panel

**Why is this needed**:
When a `Stat` panel uses an inverted scale (in which values above a specific value are shown green, and under which colours are being used to indicate problems), in case of a lack of data,

[2020-11-04 16:58] marefr commented on #28717
Thanks. I do understand that you're asking about different minimum refresh rates based on time range now. Sorry for my confusion..That makes sense as a feature request. Related to #22493

----

Just to clarify my earlier discussion about min time interval even though it's not applicable here. Configuring this will make sure that Grafana will calculate an interval based on the current time range se

[2020-11-04 17:01] aknuds1 commented on #28829
[This](https://github.com/grafana/grafana/blob/master/packaging/docker/Dockerfile) is the Dockerfile used to produce our images.

[2020-11-04 17:02] marefr commented on #28717
We'll keep this open for some time to see if it receives more interest/activity.

[2020-11-04 17:02] aknuds1 commented on #28829
/duplicate 28614

[2020-11-04 17:03] #28829 closed

[2020-11-04 17:08] marefr commented on #28457
Thanks. I re-labeled this as a feature request since this was not something thought of when implemented. We'll keep it open to see if there will be more interest/activity in it,

[2020-11-04 17:18] marefr commented on #27686
Potentially related to #15316, but haven't seen any error log message related to this provided here. @lmatias98 maybe you can check your logs for "failed to look up user based on cookie"

[2020-11-04 17:20] weeco commented on #28614
@xlson I was confused about this as well, however I think this change should be at least mentioned in the release notes. We run a chown command (after installing Grafana plugins in our docker image) for user/group grafana:grafana. With the upgrade the build suddenly broke and I couldn't find any notes about this anywhere.

[2020-11-04 17:23] marefr commented on #28714
Not able to reproduce the bug. I noticed you're using the Vivaldi browser. Can you please try if you can reproduce it using a different browser? Thanks

[2020-11-04 17:25] marefr commented on #28743
/duplicate of #28791

It looks like this is a duplicate of above mentioned issue and a fix for that will be included in upcoming v7.3.2

[2020-11-04 17:26] #28743 closed

[2020-11-04 17:41] #28815 closed

[2020-11-04 18:12] kalebris opened #28833 "Prometheus: No labels associated with data returned by data source"
**What happened**:
upgraded grafana from 7.2 to 7.3.1 and our dashboards that utilizies tables and the labels to fields transformation stopped being displayed properly and it can't be recreated due to fields not showing up under transformation.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
A prometheus and a node_exporter running on the same h

[2020-11-04 18:25] zoltanbedi opened #28835 "Tempo: test data source is not working properly"
@annanay25 raised an issue on slack that the test data source feature is not working for Tempo.

[2020-11-04 18:32] Schrolli91 commented on #28804
Do you mean the `Inspect` on the panel with the wrong lines and go to the tab `JSON` and select `Panel data` here?
I'll try that tomorrow

[2020-11-04 18:47] zoltanbedi opened #28837 "Jaeger: test data source feature is not implemented"
**What happened**:

Adding Jaeger data source doesn't give valid feedback when testing data source.

**What you expected to happen**:

See error/success message if Jaeger is there.

**Anything else we need to know?**:

Sending a request to the data source should be enough.

[2020-11-04 18:51] zoltanbedi opened #28838 "Zipkin: test data source is not returning success message"
**What happened**:

Adding Zipkin data source the success message is not shown.

**What you expected to happen**:

Show success message when the data source is reached.

[2020-11-04 19:02] zoltanbedi opened #28839 "Tracing data sources: use new fetch api instead of datasourceRequest"
Replace the deprecated `datasourceRequest` calls with the new `fetch` api.

- [ ] Jaeger
- [ ] Tempo
- [ ] Zipkin

[2020-11-04 19:22] torkelo commented on #28830
you would have to map use the value mapping to map null to a value that you can set a threshold color for

[2020-11-04 19:22] #28830 closed

[2020-11-04 19:27] #28266 closed

[2020-11-04 19:36] lukewing commented on #24849
@hugohaggmark @torkelo I am looking at contributing for a class project. May I take on this item?

[2020-11-04 19:42] aidanmountford opened #28840 "P/R #25275: user.email was removed from global variables."
user.email was removed from global variables.

The position taken was "there is no use case" and you wanted to limit the data exposed.

I submit that the data is exposed in the client regardless (when logged on) and as such this only serves to limit the functionality.

The use case I have is quite simple (and clearly others do as well).   I pull data from multiple systems, many of which do not all

[2020-11-04 19:42] lukewing commented on #27590
How can I recreate this in my local environment?

[2020-11-04 20:34] torkelo commented on #24849
Yes that be much appreciated

[2020-11-04 20:41] zoltanbedi commented on #28805
/duplicate of #28833

[2020-11-04 20:42] #28805 closed

[2020-11-04 20:45] torkelo commented on #28804
Yes

[2020-11-04 20:46] seanluce commented on #28350
@wbrowne, is there anything I can do to assist with this effort? I have access to Azure NetApp Files in my Azure sub and I can follow directions reasonably well. Thank you.

[2020-11-04 21:24] R-Studio commented on #28821
What do you think about the following idea/feature request?
- In the template variables **add a variable type "Table"**. In this variable type you can write a **query that gets a table of data**.
- In the panels and rows you can select this **template variable as a data source but you can filter on this table data** (for example with other template variables to make this more dynamic and support r

[2020-11-04 23:47] josephctyler commented on #9305
+1

[2020-11-04 23:52] DislayPS commented on #26512
Following on this issue please. I'm trying to use Checkbox on Grafana 7.1.x and Typescript tells me it's missing a bunch of properties

[2020-11-05 00:17] ryantxu commented on #28792
again, my question is for what purpose.  If I read your  description, it is for building a matrix that can be published on the website.  My biggest concern is that the static values are rarely correct and depend on the setup and which version you are running.  Perhaps this is something e2e could inspect and save... :thinking:

In the specific examples listed, ideally they are all supported automat

[2020-11-05 00:30] stevekatsaras opened #28844 "Grafana Explore: date histogram not reflective of date/time picker"
**What happened**:

I have configured an Elasticsearch datasource to Grafana. In the "Explore" screen, I am attempting to search the Elasticsearch index over a large timeframe (screenshot has 3 hours) and I would like to display the logs. I set the "Metrics" to "Logs". When I run the query, I can see the raw logs listed (limited to either 500 or 1000) and a date histogram that only graphs the last

[2020-11-05 00:51] belm0 commented on #26857
this bugs still exists in v7.2.0, please remove "needs more info"

the problem is this:  "Decimals" is being applied to _both_ the source value (before conversion to display value) and the display value formatting.

E.g. for "percent (0-1.0)" unit, "Decimals:2", and source value of .12345:
  * source value will be rounded to 0.12
  * source value will be converted (x100) to 12
  * display format w

[2020-11-05 04:08] mnpenner commented on #24897
Of course, *now* I can't get it to happen. The fix, when I encountered it before, was exactly as phemmer said -- I had to switch from Bar gauge back to Graph and then click on "Switch to table view" and then back to Bar gauge again. But now it doesn't seem to be happening on a fresh panel; so maybe there's a few extra steps needed to break it, not sure. Will let you know if it happens again. Thank

[2020-11-05 04:13] ducnguyen2595 commented on #6983
+1

[2020-11-05 05:58] JalanshMunshi commented on #19265
@C-Duv Were you able to implement `myapp_metric_foo{task_date="{{ $__to - 86400000 | format_date "YYYY-MM-DD" }}"}

`?

I am specifically interested in the part where we do `$__to - 86400000`. I tried using different ways but I can't seem to subtract 15 seconds from the current `$__to` value. Following is the query -

`@timestamp:[${__to:date}-15sTO ${__to:date}] AND <other stuff which works perfe

[2020-11-05 06:50] annanay25 commented on #28835
👋  Thanks for fixing this @zoltanbedi!

[2020-11-05 07:11] tobiasdirksen opened #28848 "Variables: Can't use space in variable search"
**What happened**:
Since one of the recent updates (I'm not sure which one), I can't use space anymore, when I search for a value option in a variable. This is a big problem, e.g., when you have many addresses in the variable, and you would like to search for a specific one. When I click space nothing happens.

**What you expected to happen**:
I expect that a space is inserted in the search string

[2020-11-05 07:53] kohts commented on #25381
+1, guys, please upvote the issue

[2020-11-05 07:56] mckn commented on #28814
I can reproduce this issue, will look into resolving it.

[2020-11-05 08:05] Tommie15 commented on #28714
My last post and recorded session was while using Chrome.
Is there anything else I can do to help you?

[2020-11-05 08:20] marefr commented on #28848
Thanks. Please update your issue description - use the bug template to provide more information and needed details https://github.com/grafana/grafana/issues/new?labels=type%3A+bug&template=1-bug_report.md

[2020-11-05 08:25] zoltanbedi commented on #28839
Closing in favor of https://github.com/grafana/grafana/issues/27222

[2020-11-05 08:25] #28839 closed

[2020-11-05 08:29] marefr commented on #28844
looks like you're using an interval of 10s - have you tried to increase this?

If that doesn't make a difference maybe you can use the chrome developer tools to capture the query request details and include in here?

[2020-11-05 08:37] marefr commented on #28840
To ease navigating to the PR #25275

I've asked another team to have a look at this.

[2020-11-05 08:43] marefr commented on #28812
Can you please describe in more detail the use case of it. This feels like something the data source should provide. What panel do you need this for?

[2020-11-05 08:54] karolina108 commented on #3168
+1

[2020-11-05 08:57] rvdheij commented on #26857
I've simply avoided using the feature since it was attracting more surprises than I needed. For example, do thresholds apply to the 0-1.0 value or the 0-100 value? What will the hover-over display show?
Because of issues with the derivative() function in InfluxDB, I have been moving away from counters and mostly use gauge-type metrics for the charts. When I have to add logic to compute the ratio,

[2020-11-05 09:01] marefr commented on #28794
You can already use this for Prometeheus. Azure Monitor is a bit different since it's not implemented as a HTTP data source like Prometheus for example - would suggest you open a separate feature request for Azure Monitor and describe the use case. Thanks

[2020-11-05 09:01] #28794 closed

[2020-11-05 09:03] Schrolli91 commented on #28804
Here you can find the json from the `Panel data`
https://pastebin.com/QEaqfN7D

In the moment of dump these data the graph shows this:
![image](https://user-images.githubusercontent.com/6043382/98220034-0f53ea80-1f4e-11eb-9c7b-63fda16c2757.png)

[2020-11-05 09:08] pipinstallyogi opened #28850 "Receive Grafana Alerts as Tickets In Zammad"
**Zammad as a Notfication Channel**:

**Zammad is a very popular ticketing tool. It will be great if it is also added as a Notification Channel.**:

Hallo Grafana Gurus,

Is there any way we can receive Grafana Alerts as tickets in Zammad (Ticketing tool)?
Any input onto this will be highly appreciated. May be something related to APIs?
Thanks in advance

[2020-11-05 09:16] marefr commented on #28787
Using Grafana v7.3.1 not able to reproduce your problem, see https://play.grafana.org/d/QFRma2hMz/issue-28787-repeat-custom-variables?orgId=1.

I think you may have an error in your dashboard JSON - have you created that manually from the UI? If you save the dashboard when you've re-ordered does that work? I'm going to close this since it feels like a configuration error. But let me know if I misu

[2020-11-05 09:16] #28787 closed

[2020-11-05 09:16] Berbe commented on #19971
Duplicate of #8957?

[2020-11-05 09:17] #28850 closed

[2020-11-05 09:28] wbrowne commented on #28350
Sorry, we haven't gotten around to this one yet at @seanluce, so in the meantime, if you would like to investigate further that would be great! You could get more request+response details from the `Query Inspector` panel in the top right-hand side of the [image you provided](https://ibb.co/D1mhB6B). If you could share them then that would be a great start!