[2020-09-28 14:39] szerwi commented on #27802
I've tried clearing storage data and using incognito mode, but it is not working as well.

[2020-09-28 14:48] pcbl opened #27860 "Grafana 7.2 + Loki 1.6.1 + pie-chart: query then query_range"
**What happened**:
I just updated Grafana to version 7.2 and I noticed that the Pie-Chart plugin was not working correctly.

**What you expected to happen**:
I was expecting that my dashboard should keep working, but the pie chart panel did not worked as expected.

**How to reproduce it (as minimally and precisely as possible)**:
Just try to use a pie chart panel. The chart does not get rendered.

[2020-09-28 14:48] baelish commented on #27855
To add to this when using the GCE Default service account in our GKE container I can see the local project perfectly well but when I select a different project things are not working. (I have granted the service account permissions for several accounts). The data source page does state you need to create one data source per project but this does seems odd considering that when you add a metric you

[2020-09-28 15:18] torkelo commented on #26398
Fixed by https://github.com/grafana/grafana/pull/27306 in v7.2

The inspect table & csv now uses the formatting options by default, you can disable that to get raw data in the table and csv

[2020-09-28 15:18] #26398 closed

[2020-09-28 15:23] aocenas commented on #27791
My PD knowledge may be a bit rusty but could it be that the sequences aren't set to correct value? Ie that the sequence for example is set to initial value of 1 even though the ID's in the table already have different values and so when inserting it will get a new ID value which can already be in the table. As far as i know sequences can get desynchronized from the table and can be manually reset.

[2020-09-28 15:25] aocenas commented on #27791
@marefr do you know if we have some guide for this sort of migration?

[2020-09-28 15:26] kahinton commented on #27839
In our situation we need to set the keepalive to essentially match the dataproxy timeout. It seems that the network proxy in use isn't handling the keep alive message well and it leads to the connection being marked as closed. I added the setting for the idle connection timeout just for anyone that has a need to more tightly control open connections to a datasource.

[2020-09-28 15:27] aocenas commented on #27686
We will need a bit more information to be able to investigate. Can you tell is if and how can you reproduce this issue? Does it happen randomly or after some specific steps or some specific time?

[2020-09-28 15:27] #27819 closed

[2020-09-28 15:29] oddlittlebird commented on #27819
Don't mind in the least. :)

Incidentally, the setup vs. set up confusion is rampant throughout the software world. If you felt like running this check on other documentation repositories, you'll probably find lots to fix.

[2020-09-28 15:30] aocenas commented on #27802
Can you share your grafana logs after setting log level to debug https://grafana.com/docs/grafana/latest/administration/configuration/#log. Also can you check if there is any error log in the browser when this happens?

[2020-09-28 15:46] zoltanbedi commented on #27860
@ivanahuckova could this be because of https://github.com/grafana/grafana/pull/27213 ?

[2020-09-28 15:57] szerwi commented on #27802
@aocenas here is the fragment of the logs:
https://pastebin.com/MWTErLWe

Screenshot of what the developers console in browser shows:

![Zrzut ekranu 2020-09-28 175734](https://user-images.githubusercontent.com/19311511/94456878-1d2a8900-01b4-11eb-9726-ef1a445c5be7.jpg)

[2020-09-28 15:59] bjakubski opened #27863 "Cloud Monitoring/Stackdriver project selector constantly resets itself"
**What happened**:

I'm running grafana in GKE (GCE for the purpose of this error).
I'm running grafana with its specific Service Account, using `authenticationType: gce`.
This Service Account has monitoring.viewer role in **multiple** projects.

If I open a panel editor (or "explore") and select my Cloud Monitoring/Stackdriver data source I'm able to see the projects I have access to in the dropd

[2020-09-28 16:09] aocenas commented on #27802
Just to confirm, because based on this log line `t=2020-09-28T17:47:18+0200 lvl=info msg="Successful Login"` I would assume you are logged in, what do you see after the redirect? Do you see some error message? Are you redirected back again to login page? Could this be just an issue with permissions? Subsequent log messages would suggest that maybe the user that logs in does not have a permissions

[2020-09-28 16:11] zoltanbedi commented on #27863
I think this is a duplicate of #27855

[2020-09-28 16:11] #27863 closed

[2020-09-28 16:13] szerwi commented on #27802
After logging in, I am being redirected to home page, but the icon in bottom left corner is still showing me to log in. I also do not have access to other dashboards that are available to that user (home dashboard is available for everyone, even anonymous users).
It cannot be problem with permissions, because the same user is working fine on Edge browser.

[2020-09-28 16:28] aocenas commented on #27802
@dprokop can your team take a look? I feel this may be frontend issue considering it's browser dependent but not sure. Also I feel we had something like this in the past.

[2020-09-28 17:21] cesarmacias opened #27865 "Grafana Transform problem with metrics same name"
**What happened**:

When order or merge two tables, if have one same metric name (Example Unique Count) but to different field in the transform table only appear the metric name without the field name:

![image](https://user-images.githubusercontent.com/492320/94464766-81cdef80-0184-11eb-84e2-3bf1c7f922db.png)

![image](https://user-images.githubusercontent.com/492320/94464829-990cdd00-0184-11eb-9

[2020-09-28 17:27] coussej opened #27866 "Flux datasource: Documentation mentions v.timeRangeEnd to use as end time, actually is v.timeRangeStop"
docs at https://grafana.com/docs/grafana/latest/features/datasources/influxdb/ mention v.timeRangeEnd
![image](https://user-images.githubusercontent.com/9944663/94465633-7d272c80-01c0-11eb-818c-3fd767ad0567.png)

this does not get replaced in the query, and an error is returned
![image](https://user-images.githubusercontent.com/9944663/94465719-9e881880-01c0-11eb-9534-df601ef49b6a.png)

When using

[2020-09-28 18:01] midnightconman commented on #20394
This would also help with some of the lower line limits set by default in loki and grafana... most times I search in grafana for a pattern (even over an hour or less), the first 10 minutes (t-60m to t-50m) of the search return results and then the limit is hit. It would be nice to have the option to also search for newest lines first (t-0m).

[2020-09-28 18:07] midnightconman commented on #16555
For anyone else searching through this issue, the new toggle is a button on the right called `Flip results order`. I found it in version 7.2.0.

![image](https://user-images.githubusercontent.com/1736251/94469333-c94f7e00-017a-11eb-80f3-1d8a3fcd5aa9.png)

[2020-09-28 18:52] AranScope commented on #16452
+1

[2020-09-28 19:42] dpajin commented on #26460
unfortunately, I don't see this issue in the list of bug fixes in 7.2.0 release notes?

[2020-09-28 19:44] torkelo opened #27869 "NewsPanel: Should refresh list on dashboard refresh or time range change"
Currently the only way to refresh news panel is to reload the dashboard.

The list should update on dashboard refresh or time range change

[2020-09-28 20:37] ryantxu commented on #27869
See also:
https://github.com/grafana/grafana/issues/17361

[2020-09-28 20:53] roidelapluie commented on #23287
We could use the Prometheus API to get the Prometheus external URI, there is no need for a user option, I think.

[2020-09-28 21:35] hdost commented on #24935
Yes indeed :)

[2020-09-28 21:35] #24935 closed

[2020-09-28 21:36] roidelapluie commented on #5910
It seems to be that all of these are standard features of grafana now.

1. Set unit as percentunit.
2. this is the case now out of the box.
3. set refresh=time on the dashbords variables
4. theming is available on grafana entreprise, there you can have unicorns.

[2020-09-28 21:46] ryantxu opened #27871 "Plugins: report unsigned plugins in the UI"
Currently when a datasource plugin has an invalid signature, the system logs an error and then ignores the plugin.  We can do better than that.

The plugin should be added in the UI and given a flag that says it is unsigned and will not run.  The UI should include instructions on how to fix it so it will run.

[2020-09-28 21:49] ryantxu commented on #27364
@marefr I think it *could* be done either way, but having a single manifest for the app makes more sense so that it validates everything at once and either marks everything as signed or nothing.

The core problem we have now is that signing verification and walking are tied together.  There are a few band-aids we could do to fix this, and it is worth thinking about this while also solving https://

[2020-09-28 22:04] nachopv commented on #9185
Hi @torkelo

We have been digging about this behaviour but still only updating the root value does not have a proper behaviour
Our deployment is isung Influx db datasources but regarding the chained variables update does not matter what datasource we are using but the policy on when the refresh is triggered. Also we have tested the behaviour both on Grafana 6 & 7 with the same result

- Definitely

[2020-09-28 22:53] Jerome-Paddick opened #27873 "The way dashboards are stored in the database could be massively improved"
Currently in the database, for each dashboard: every panel, request, alert etc for the entire dashboard are stored in a single piece of json in a single field in the db.  the same json you can find in the "JSON Model" on the frontend.

This seems really restricting from a features point of view for a number of reasons:
- panels or alerts cannot be reused across dashboards
- if there are multiple d

[2020-09-28 23:05] ethirolle opened #27874 "Loss of login session (cookie expiry) also causes loss of URL"
**Current (undesired) behavior**
I keep a number of Grafana tabs open at all times. Grafana regularly loses my session when a cookie expires, which isn't unusual. Unfortunately this means that when I log back in, I'm directed to the Home screen rather than the URLs I had been at previously and have to spend some time reconfiguring my tabs to have the right dashboards.

**Desired behavior**
"Re-aut

[2020-09-29 00:59] ryantxu opened #27876 "Inconsistent z-index behavior for small screens"
In a wide dashboard view, the z-index can cover the next panel:

![image](https://user-images.githubusercontent.com/705951/94500494-4e0abe00-01b4-11eb-8b14-2b7a43fa64e0.png)

With the same panel in the more narrow view, it gets clipped:
![image](https://user-images.githubusercontent.com/705951/94500515-5fec6100-01b4-11eb-8553-842b22a0a7fd.png)

[2020-09-29 02:03] kaleyroy commented on #11875
**can keep the dashboard toolbar & time picker**

[2020-09-29 02:37] macropan commented on #27846
this data source worked for dashboard, but cannot work for variables query

[2020-09-29 04:57] anarcher commented on #27839
I have the same issue.  dataproxy timeout is above 30s  but always datasource slow queries (loki, >= 1m) are failed with bad gateway(`http: proxy error: EOF`) and there are no error logs from query-frontend in loki.

[2020-09-29 06:20] M0rdecay opened #27877 "Alerting: Allow more states on execution error or timeout"
**What would you like to be added**:
Allow to use the same possible alert states during an `If execution error or timeout` that are available for `If no data or all values are null`

**Why is this needed**:
In our case, we use a separate alert that checks the availability of databases. When it fires, we need all other alerts not to fire.

The problem is that if the error state is set to `Keep Last

[2020-09-29 06:38] aknuds1 opened #27878 "Fix Drone master build errors"
There are currently serious Drone master build errors, that need to be fixed:

*  Docker builds sometimes fail due to a corrupt tar archive (started about 8 days ago)
* release-next-npm-packages fails due to a missing file (Steve Vachon has a theory)
* Building the Windows installer fails due to a missing file

- [ ] Insert integrity checks in Drone steps, to catch when files go corrupt/missing

[2020-09-29 06:54] torkelo commented on #26460
sorry, missed adding "add to changelog" label on https://github.com/grafana/grafana/pull/27422

[2020-09-29 06:59] torkelo commented on #9185
Maybe solved in upcoming 7.2 https://github.com/grafana/grafana/pull/27790

[2020-09-29 07:09] torkelo commented on #27876
Strange, can you create a dashboard on play site that replicates this? I was unable to

[2020-09-29 07:55] torkelo commented on #27707
closing as there is already an issue

[2020-09-29 07:55] #27707 closed

[2020-09-29 08:20] dgdevops commented on #27760
Hello @papagian,
Quick update, I downgraded back to 7.1.5 to avoid the SIGSEGV error, however going back to 7.1.5 did not fix it.
As a result the constant grafana pod crash is still happening:

[code]

[2020-09-29 08:20] primoz-p commented on #5856
I would love something like that too.
It is easy to do that in PagerDuty and it will be nice to make that happen inside Grafana too. During every maintenance session we get a lot of not useful alerts all over the place.

[2020-09-29 08:41] dheeruymv commented on #27856
@torkelo : It is not working. Please find the screenshot.

do we need to switch to new grafana version? Please correct me, if i am doing anything wrong here.

![image](https://user-images.githubusercontent.com/65417565/94533913-68e53d00-025d-11eb-985e-eb0ccaf3281e.png)

[2020-09-29 08:44] ummarbhutta commented on #6252
+1
We need this feature to show very high resolution data

[2020-09-29 09:04] coussej opened #27882 "Flux and Transformations: unable to join by Time with mixed Query"
**What happened**:
When adding a normal influxdb query and a flux query to the same panel, with the same time interval, I tried creating a trasnformation to join them by time and display them in a table. I get a table with the correct timestamps, but the column where the flux values are supposed to be show are empty.

In the transformation debugger I see the following input for the normal query:

[2020-09-29 09:05] #27537 closed

[2020-09-29 09:10] marefr commented on #27364
Yes and no. An app is not really treated as a bundle right now. In theory you could have a data source plugin with multiple apps and panels or a panel plugin with data source and app plugins. Not sure how common that is though :)

Given the existing plugins are currently scanned one by one in Grafana the easiest thing would be to continue require each plugin to have a manifest even though multiple

[2020-09-29 09:24] marefr commented on #27791
@aocenas we have https://grafana.com/blog/2020/01/13/how-to-migrate-your-configuration-database/ but only for MySQL. In general would suggest checking the [Grafana Community site](https://community.grafana.com/), think this question have come up multiple times there.

[2020-09-29 09:25] aocenas commented on #27245
hmm so right now in Grafana you can only link to specific trace so you would need a trace ID to be able to create a link to a Jeager inside Grafana.

In the future we will probably add a way to search for traces in Jaeger datasource but Jaeger server only has limited means to search for traces. If the path value is the same as the operation name in the trace that that would work and you could link

[2020-09-29 09:32] aocenas commented on #27803
Sorry I am not exactly sure what setting do you mean, can you elaborate a bit which setting do you mean?

[2020-09-29 09:33] torkelo commented on #27856
you need to upgrade to 7.x to be able to switch to new table panel

[2020-09-29 09:35] aocenas commented on #27831
@torkelo @dprokop this seems like we should not even show the inspect panel in snapshots. Is that by design or did we just forgot to hide it there?

[2020-09-29 09:37] aocenas commented on #27832
@alexanderzobnin can you take a look at this? Don't have zabbix set up so not sure how to try to reproduce this.

[2020-09-29 09:37] Tepew commented on #27791
https://community.grafana.com/t/downgrading-from-7-to-6-database-migration-issues/37025 it`s look same but without answer
https://community.grafana.com/t/grafana-ha-setup-errors-failed-to-save-dashboard/36302 same erorr but not same case
https://community.grafana.com/t/failed-to-create-user/9275 same erorr but not same case
not find multiple times. If you find I will be happy

[2020-09-29 09:54] marefr commented on #24177
@peterholmberg why have this been added to the backend platform backlog?

[2020-09-29 09:55] marefr commented on #25452
@peterholmberg why have this been added to backend platform backlog?

[2020-09-29 10:01] coussej commented on #27882
Turns out you're not even able to plot a graph with a mixed query.

A workaround would me to ad the following before you yield the flux result. There has to be an explixit **Time** column for it to work, the default _time column doesnt work with mixed queries.
[code]

[2020-09-29 10:22] torkelo commented on #27831
No, inspect should be possible still. Allows you to view raw data and export to csv , and that should still be possible in a snapshot

[2020-09-29 10:36] jaaakob-io commented on #6983
+1

[2020-09-29 10:48] annanay25 opened #27885 "Mark log/event annotations on the Span bar in Trace viewer"
**What would you like to be added** / **Why is this needed**:

In the Jaeger UI, each event / log of a span is denoted by a vertical line on the span bar - helping visualise when the event occurred in the timeline. This is missing in the Grafana Trace Viewer.
![Screenshot 2020-09-29 at 4 17 03 PM](https://user-images.githubusercontent.com/10982987/94549137-6095fd80-026f-11eb-862e-d8f4ef62e54a.png)

[2020-09-29 11:00] prachirokade commented on #6983
+1

[2020-09-29 11:41] JIM-CHEN commented on #27245
Oh, i see. It's the current limitation of Jaeger.
I still appreciate your support very much.

[2020-09-29 11:47] lmatias98 commented on #27686
The problem happens at random. The dashboards are open for monitoring (NOC), so we don't make any changes, we just leave them with automatic refresh.

I tried to change some parameters like... but no success

login_maximum_inactive_lifetime_days
token_rotation_interval_minutes
login_maximum_lifetime_duration

It seems that the session expires for no reason.

[2020-09-29 12:18] VinayDanda opened #27889 "Grafana 7.1.5 version login not working in Google Chrome. After entering username, password and hit login-> just redirects to login page again n again.."
![grafana_7 1 5-issue](https://user-images.githubusercontent.com/33858700/94556688-22064000-027b-11eb-9c75-4b9778610c74.PNG)
![grafana_7 1 5-afterlogin-page](https://user-images.githubusercontent.com/33858700/94556826-5aa61980-027b-11eb-84fb-76f62b64009c.PNG)

**What happened**: Grafana 7.1.5 version login not working in Google Chrome. After entering username, password and hit login-> just redirec

[2020-09-29 12:24] #27878 closed

[2020-09-29 12:25] bassmaster187 commented on #27802
I've got the same problem after updating from 6.3.5 to 7.2.0 on Chrome 85.0.4183.121.
Using "Private Mode" in Chrome solve the problem. Maybe this helps?

[2020-09-29 12:39] aocenas commented on #27836
Not sure right now if this is a bug report or a question and if question what exactly is it. Do you think there is something Grafana should do about this autocomplete behaviour?

[2020-09-29 12:43] aocenas commented on #27837
How did you exactly rolled back the grafana version? Mainly what did you do with the DB? Did you also restore from a backup that was done before the upgrade?

[2020-09-29 12:50] aocenas commented on #27842
Do you mean variables that work inside a data link? Because they are described here https://grafana.com/docs/grafana/latest/linking/data-link-variables/#data-link-variables. Don't think those variables are global.

[2020-09-29 12:50] bjakubski commented on #27855
I have the same issue. GCE authentication, service account with access to multiple projects.
The UI selector is "fixed" to the project grafana is running in. As OP mentioned queries are sent to selected project (even if project shown is different), but also any change in query parameters will reset the project to the "default" one.

I've tested also grafana 7.1.0 and problem does not exist there

[2020-09-29 13:06] emexelem commented on #6983
Getting endless +1 from this thread for years finally got me tired, unsubscribing and migrating...

[2020-09-29 13:14] dheeruymv commented on #27856
Thanks for the info.

[2020-09-29 13:37] holmesb commented on #6983
Dear github newbs.  Your +1's are annoying since they trigger an email to all followers without contributing anything new to the discussion.  If you only want to add emphasis, please instead add to the count of thumbs up in the original message.  [cue onslaught of hilarious "ironic" +1 messages]

[2020-09-29 13:39] Jeinhaus opened #27891 "Support CloudFront Additional Metrics"
In 2019 CloudFront introduced optional "Additional Metrics" to CloudFront Distributions that expose metrics such as "Cache Hit Rate", "Origin Latency" and "Error Rate". Here's the introductory [blog post](https://aws.amazon.com/about-aws/whats-new/2019/12/cloudfront-realtime-metrics/?nc1=h_ls).

**What would you like to be added**:

It would be great if the CloudWatch Grafana data source could exp

[2020-09-29 13:39] aknuds1 commented on #27364
@wbrowne and I will work on this soon. I just came back from holidays!

[2020-09-29 13:42] dgdevops commented on #27760
Hello @papagian,
Let me give you a quick update, I managed to fix the SIGSEGV error, my pods with version 7.1.5 came up fine after the downgrade. I did another test with image 7.2.0-ubuntu, also added the GODEBUG environment variable, but the same error is observed:
`msg="Server shutdown" logger=server reason="Service init failed: migration failed: failed to check table existence: x509: certificat

[2020-09-29 13:42] ivanahuckova opened #27892 "Explore/Loki: Run simultaneously logs and metrics queries"
**What would you like to be added**:
Based on discussion with @buro9 it would be a great idea to add option to loki's query editor to run simultaneously both - metrics and logs query. You would specify the metrics query and logs query would be created out of it. This way, you could visualise in graph results from metrics query and below you would have associated logs, which is very useful.

Curren

[2020-09-29 13:43] Azertooth commented on #6983
+1

[2020-09-29 13:50] Telokis commented on #24744
Maybe I'm not using the `label_replace` workaround properly but it doesn't return anything for me.

`label_replace(node_uname_info{customer=~"$customer", stage=~"$stage"}﻿﻿,﻿"cust"﻿,﻿"$﻿1﻿"﻿,﻿"customer"﻿,﻿"﻿(﻿.﻿*﻿)﻿")`

[2020-09-29 13:56] IsmaeelHaider commented on #6252
+1

[2020-09-29 14:06] Eraac commented on #6983
I just found a workaround, which make this issue more ridiculous since the problem is "only" the tab "alert" who isn't display for singlestat panel (or other kind of panel)

If you write the JSON model with the alert and a singlestats, you *can* setup the alert and it's just works (I sent alert to slack with image)
![image](https://user-images.githubusercontent.com/5497623/94568949-6f7bb080-026d-1

[2020-09-29 14:13] buro9 commented on #27892
Example that came up in a usability test is that if you have a dashboard graph based on Loki that just shows the rate that the log is written to:
```rate({job="varlogs"}[1m])```

Then when you explore from the graph, Explore starts with `rate({job="varlogs"}[1m])` which means manually editing the Explore query every time to remove the rate function `{job="varlogs"}` so that within Explore the view

[2020-09-29 14:15] szerwi commented on #27803
Hi. I mean value's unit that is available in all panel types.
![image](https://user-images.githubusercontent.com/19311511/94570253-f2e9d180-026e-11eb-97b4-554f3e834d91.png)

[2020-09-29 14:16] suekag-lukyanov opened #27896 "7.2 Time series. Export time series to CSV returns one column only"
**What happened**: For query output in 'Time series' format,  in Tabular visualization with transformation 'Time series to Columns', the action 'Inspect => Data' returns one column only (1st column from transformed tabular view).

**What you expected to happen**:   action 'Inspect => Data' has to return all columns (up to 1600 columns).

**How to reproduce it (as minimally and precisely as possibl

[2020-09-29 14:16] szerwi commented on #27802
@bassmaster187 incognito mode did not help in my case.

[2020-09-29 14:56] suekag-lukyanov opened #27899 "Inspect: No way to view raw data for angular panels"
****What happened**:  when the numeric values in panels with "Graph" and "Table" visualization have values greater than 10, the action 'Inspect => Data' returns integers (without the mantissa).

**What you expected to happen**:   action 'Inspect => Data' has to return numeric values in the same format as it configured in the relevant panel.

**How to reproduce it (as minimally and precisely as pos

[2020-09-29 15:12] craigbrett17 commented on #5986
Nope, doesn't work, unless you edit the chart.

[2020-09-29 15:24] atymchuk opened #27900 "Link menu dropdown items get hidden under the left-side menu"
**What happened**:
Then link menu dropdown items get hidden under the left-side menu so they are not fully visible to the user.
![LINKS_SUBMENU_HIDDEN_UNDER_LEFT_MENU](https://user-images.githubusercontent.com/81549/94576417-fa64a700-027d-11eb-8bcf-7149dcc59d05.gif)

**What you expected to happen**:
The link menu dropdown items are fully visible to the user.

**How to reproduce it (as minimally an

[2020-09-29 15:36] aocenas commented on #27843
Not sure exactly what do you mean by exporting a datasource, but you can set auth data in datasource provisioning file and use that to create a Grafana installation without manual setup.

[2020-09-29 15:36] dkozar commented on #27836
Sorry for not being clearer. It is a question for others if they are experiencing the same issue.

At the same time, it's a proposed fix. Since I didn't managed to fix it by putting `autocomplete="off"` to the input element itself - based on the docs I linked above - putting the `autocomplete="off"` on a form element might switch the autocomplete.

However, the plugin builder (i.e. me) doesn't hav

[2020-09-29 15:42] aocenas commented on #27853
You can use division if you use binary mode in the transformation:
![Screenshot from 2020-09-29 17-40-03](https://user-images.githubusercontent.com/1014802/94581093-f4b99200-027a-11eb-9d79-271d47e7f3c7.png)

Also you can use mixed data source to add queries from different data sources to single panel:
![Screenshot from 2020-09-29 17-40-20](https://user-images.githubusercontent.com/1014802/94581139

[2020-09-29 15:42] #27853 closed

[2020-09-29 15:51] dkozar opened #27901 "Custom data source plugin: "module.js" must be renamed to "module" in order to work"
**What happened**:

I created a custom data source plugin. I've run the `yarn build` command, which created the `dist` folder. I published the plugin by uploading the content of `dist` folder to a remote folder:

`/usr/share/grafana/public/app/plugins/datasource/my-datasource`

This is the contents of the folder:

![image](https://user-images.githubusercontent.com/1078403/94578646-e3b75380-026f-11

[2020-09-29 15:54] papagian commented on #27760
thank you for the update

I think that for fixing it we have to set `VerifyConnection` as described [here](https://github.com/golang/go/issues/40748#issuecomment-673612108).

what is the format of your `server_cert_name` configuration? is it something like: `<gcp-project-id>:<cloud-sql-instance>`?

[2020-09-29 16:00] aocenas commented on #27836
Hmm so not sure we have any guidelines for this and also not sure if removing the autocomplete is the desired behavior even though I agree it could be annoying.

@dprokop or @jessover9000 do we have any opinion on this from UX perspective?

[2020-09-29 16:04] yuklia opened #27903 "Service init failed: Alert notification provisioning error: Alert notification name *** aleready exist"
[code]

**What happened**:
[code]

**What you expected to happen**:
**update** provisioned config

**Environment**:
- Grafana version: 7.1.5
- Data source type & version: Prometheus
- OS Grafana is installed on: ubuntu 18

[2020-09-29 16:05] aocenas commented on #27803
Ah thanks for clarifying that. @dprokop or @torkelo do we want to add that or is there some reason this isn't there already (we seem to have the same options in 7.2)?

[2020-09-29 16:09] aocenas commented on #27686
@marefr or @papagian can you take a look at this? Is there a way to prevent the session from expiring?

[2020-09-29 16:18] dgdevops commented on #27760
Hello @papagian,
Thank you for the update.
The `server_cert_name` in the Grafana configuration follows the naming you shared above.
The issue you sent is completely matching my scenario.

1. Is there any workaround that could be used until it is fixed?
2. Are there any plans for fixing this in the next release?

Thank you

[2020-09-29 16:29] dkozar commented on #27836
Thanks for the answer @aocenas. Well, in this particular case the autocomplete happens because the browser thinks it found the password field, it assumes the previous filed is username, so it auto-fills in the username/password. So, it's pretty chaotic and unpredictable.

If I remove the secure field, this doesn't happen.

[2020-09-29 16:52] ivanahuckova commented on #27860
Yeah, I definitely think that it is a reason. Change the order of functions would solve the problem, but not sure if it is the ideal solution. I'll assign the issue to me and look into it.

[2020-09-29 17:11] aunovis-kretschmer opened #27904 "x-xsrf-token missing in POST-queries"
**What happened**:

Hello all,

I'm currently facing an issue when upgrading from Grafana 6.6.2 to anything above.
In my case Grafana is running behind a mandatory reverse proxy which adds a XSRF-TOKEN cookie to each request.
With Grafana 6.6.2, the content of that cookie was correctly sent back to the server as HTTP-Header with every POST-request.
Starting with Grafana 6.7, this doesn't seem to w

[2020-09-29 17:25] daveychu opened #27905 "Error when testing a rule for an alert based on CloudWatch Logs query that returns no data"
**What happened**:
Error when testing a rule for an alert based on CloudWatch Logs query:

The error only happens if there's no data in the period checked.

**What you expected to happen**:
No error, Condition[0]: Eval: false

**How to reproduce it (as minimally and precisely as possible)**:
- Create new panel with Graph visualization
- Under query, select Cloudwatch as data source
- Point query A

[2020-09-29 17:48] jvasallo commented on #27855
We are seeing something similar as mentioned. The dropdown for us is fixed to the default project in the StackDriver settings. Here is a view of what we are seeing, hope this helps!
![](https://i.imgur.com/9nqLjZv.gif)

[2020-09-29 18:11] torkelo commented on #27384
@robbymilo does this sound like a good plan?

[2020-09-29 18:17] torkelo commented on #27803
Feature request can be implemented by the community easily:

Here is the place to add function:
https://github.com/grafana/grafana/blob/master/packages/grafana-data/src/valueFormats/dateTimeFormatters.ts#L373

and here to add to units list:
https://github.com/grafana/grafana/blob/master/packages/grafana-data/src/valueFormats/categories.ts#L187

[2020-09-29 18:55] timpalpant commented on #25766
We don't know how this occurs but have seen two instances of it suddenly happening in our internal Grafana instance as well.

[2020-09-29 19:26] nachopv opened #27910 "Chained variables not solved on dashboard load"
**What happened**:
We do have dashboard with multiple chained variables. As stated as best practice [here ](https://github.com/grafana/grafana/issues/9185), in order to prevent the queries of the chained variables we have to following  refresh policy on the variables definition
- Root variable : On dashboard load
- Chained variables : Never

This setup fails when sharing a dashboard link parametri

[2020-09-29 19:29] Shikachuu commented on #27824
If it's still free may I sign up? :smile:

[2020-09-29 19:34] trallnag commented on #1004
If you have the need to have a whole set of panels available in multiple different dashboards, wouldn't the way to go be provisioning via something like grafonnet / jsonnet? I can imagine that introducing a feature like that into Grafana itself would also introduce a bunch of new complexities

[2020-09-29 19:50] oddlittlebird commented on #27824
Have at it!

[2020-09-29 19:53] BradErz opened #27912 "Dashboard variables are not preserved when clicking on a new dashboard"
**What happened**:
![output](https://user-images.githubusercontent.com/12010278/94606949-22123a00-0293-11eb-85e6-ae797aabf00e.gif)

When you navigate to a page and change the selected variables and then click on a dashboard link the variables you previously changed are not preserved when you are taken to the new dashboard.

**What you expected to happen**:
When clicking on the link to a new dashbo

[2020-09-29 20:36] trallnag commented on #12372
I've read a tip to just copy / duplicate the row directly via the JSON. But there is quite a big issue with this approach. After duplication / copying there will be panels with non-unique panel ids which will mess up your dashboard quite reliably.

[2020-09-29 20:37] ethirolle opened #27913 "Preserve percentage formatting during CSV export ("Download CVS" button)"
**What would you like to be added**:
When use Download CSV option, preserve the percentage format of columns that were formatted as percentages in the table view.

The CSV format supports numbers in percentage format (like `99.5%`), per my tests with importing and exporting CSV files from Excel.

Here is a screencap showing how this does NOT happen right now in the Grafana UI:

![image](https://us

[2020-09-29 21:43] stickybyte commented on #11418
+1

[2020-09-29 21:46] arturomp commented on #9292
How come [this](https://github.com/grafana/grafana/pull/12609) hasn't been merged?

[2020-09-30 02:36] Gauravshah commented on #12790
it seems this is a duplicate of https://github.com/grafana/grafana/issues/11166

[2020-09-30 02:37] VeenaThimmegowda commented on #27837
Using Helm rollbck cmd we are rolling back to grafana previous version chart.
No we are not taking any backup before we rollback/downgrade from 7.1.3 to 6.6.2 chart.

[2020-09-30 05:45] rakeshraih commented on #25156
Looks like this is fixed with v7.2.0.  Tested on https://play.grafana.org/d/000000002/influxdb-templated?orgId=1  and it works fine.

[2020-09-30 06:01] zoltanbedi commented on #25156
Thanks for confirming this @rakeshraih, I've also checked and it is working fine.

[2020-09-30 06:01] #25156 closed

[2020-09-30 07:03] papagian commented on #27686
Can you check the grafana logs when this happens? Do you see any errors?

[2020-09-30 07:12] dprokop commented on #27836
@dkozar this is quite weird, to be honest, and I can't recall any reports on that or experiencing this behavior. Can you try providing `autocomplete="new-password"` (ref: https://developer.mozilla.org/en-US/docs/Web/Security/Securing_your_site/Turning_off_form_autocompletion) to your secret field and see if the autocompletion will still kick in?

[2020-09-30 07:26] #13161 closed

[2020-09-30 08:32] aocenas commented on #27892
One idea that could solve is to have a sort of quick actions or hints supplied by the data source that can interact with explore. In this case Loki could provide `Add log query` button that would automatically add new query row with logs query based on the rate query. That would still better match current Explore functionality while adding new feature that plugins can use. Although it would also m

[2020-09-30 08:36] aocenas commented on #26243
Recently this whole transform to table model was removed and instead a transform on top of dataFrames is used. Not sure if that changed performance or not so needs to be checked again.

[2020-09-30 08:44] aocenas commented on #26322
Could be an issue of how we handle timezone in logs panel when we changed user preferences from allowing just UTC/local to allow any timezone.

At the same time in logs panel we show time in the other timezone as title (so will show on hover), question is whether we should keep that behavior somehow or just remove the on hover version altogether.

[2020-09-30 08:52] aocenas commented on #3772
@Elfo404 can you take a look if this is still an issue seem like there were some PRs already merged for this so it's probably already fixed.

[2020-09-30 08:57] aocenas commented on #26688
Could be a regression after unification of the interface in Explore, as we removed the manual switch between metrics and logs it is possible it is not clear what limit to send with the query, whether the screen width which is important for metrics/graphs or just the maxLines limit which is important to logs. Right now Explore does not know what the query will return so maybe this limit decision ne

[2020-09-30 08:59] aocenas commented on #26687
This seems like a duplicate of https://github.com/grafana/grafana/issues/26688 so closing this.

[2020-09-30 08:59] #26687 closed

[2020-09-30 09:00] ruslan-k commented on #27793
We had type long for values, instead of float. Changing type to to float resolved the issue.

[2020-09-30 09:08] MaoPann opened #27923 "influxDB error bad gateway"
![image](https://user-images.githubusercontent.com/44804599/94666086-91456800-033f-11eb-9837-a0810ac47c64.png)

![image](https://user-images.githubusercontent.com/44804599/94666056-85f23c80-033f-11eb-9a99-9d8346f5b02d.png)

[2020-09-30 09:21] rlueckl opened #27924 "Plugin won't load in Docker, but works fine with Grafana installed as Debian package"
**What happened**: I'm getting the following message when trying to add the [Discrete](https://grafana.com/grafana/plugins/natel-discrete-panel) plugin to my Grafana Docker installation:

[code]

**What you expected to happen**: The plugin is loaded without any problems.

**How to reproduce it (as minimally and precisely as possible)**: [Download](https://grafana.com/api/plugins/natel-discrete-pan

[2020-09-30 10:12] MalteMagnussen commented on #7158
Currently trying to Graph data with a column like this:
![image](https://user-images.githubusercontent.com/11192971/94672767-0308bc00-0316-11eb-9090-ea7f2d40e2db.png)

How do I make a graph, that shows on the Y axis the number of rows up until that date? (Total number of users to that date)
And time on the X axis? (Based on this user_registered column)

For a tool to visualize data, it seems stran

[2020-09-30 10:14] MalteMagnussen commented on #7158
Could you make a guide for this? I can't quite seem to follow these instructions. Could you make an example with images and step by step? Or does it exist somewhere? Not sure what to google for.

[2020-09-30 10:24] papagian commented on #27760
hello again,
from the discussion in the linked Go issue I understand that this is resolved in the cloudsql-proxy. So as a workaround you could try running cloudsql-proxy and [configure grafana to talk to the proxy instead](https://cloud.google.com/sql/docs/mysql/connect-external-app). Does this help?

If this won't work we can consider including a workaround fix in grafana (unless this will be add

[2020-09-30 10:24] dkozar commented on #27836
@dprokop thanks, it worked! 👍 🥇

Before:

![Snag_42a2327](https://user-images.githubusercontent.com/1078403/94673985-70fdb500-030f-11eb-87c6-2080247c4b88.png)

With `autocomplete="new-password"` on "Client secret" field:

![Snag_42a3a58](https://user-images.githubusercontent.com/1078403/94673995-74913c00-030f-11eb-9d96-76dcb12d288c.png)

[2020-09-30 10:24] #27836 closed

[2020-09-30 10:27] dkozar commented on #27725
Any ideas what could have happened here?

I'd like to know if the error is possibly on our side. Much appreciate! 😄

[2020-09-30 11:05] torkelo commented on #27910
not sure what you mean, does the chained variables loose their value on reload? Unable to replicate that.
https://play.grafana.org/d/000000056/graphite-templated-nested?orgId=1&var-app=fakesite&var-server=web_server_01&var-server=web_server_02&var-interval=1h

[2020-09-30 11:09] roidelapluie commented on #19964
I am marking this as Hacktoberfest issue.

[2020-09-30 11:09] MalteMagnussen commented on #12463
I am having a similar type issue.
Here is the statement in workbench:
![image](https://user-images.githubusercontent.com/11192971/94677969-06a04100-031e-11eb-9c03-f30cf7bfd244.png)
And here it is in Grafana:
![image](https://user-images.githubusercontent.com/11192971/94677998-13bd3000-031e-11eb-8d38-22fcbbce7718.png)
I do not understand the error message.
What do I do? Please help. @meier81 @torke

[2020-09-30 12:03] acc-bert opened #27928 "Grafana change the date picker to one view"
See the post [37313](https://community.grafana.com/t/grafana-change-the-date-picker-to-one-view/37313).

[2020-09-30 12:04] roidelapluie commented on #18819
Is this a duplicate of https://github.com/grafana/grafana/issues/19964 ?

[2020-09-30 12:04] torkelo commented on #27896
Can you switch to new table panel? (open panel edit and switch to table visualization), then apply join or merge transform

[2020-09-30 12:04] #27896 closed

[2020-09-30 12:21] torkelo commented on #27928
Thanks for the feedback will take into account next time we update design of the time picker

[2020-09-30 12:21] #27928 closed

[2020-09-30 12:22] torkelo commented on #27928
Closing this issue, just because it is closed does not mean it will never be implemented. It can still act as a feature request and gain +1/up votes in order to see user interest in the feature. Just means it's not something the core team plans to work on in next 1+ year. We are trying to limit the number of open issues to better manage & plan work.

[2020-09-30 12:42] phemmer commented on #9401
While digging up this issue to see if it was addressed yet, I stumbled across #7250 which is for the exact same thing. As that one predates this, I'm closing this as it's a duplicate.

[2020-09-30 12:42] #9401 closed

[2020-09-30 12:44] phemmer commented on #18983
See also #7250

[2020-09-30 13:05] aknuds1 commented on #27682
Closing for now, since it should be fixed in Drone.

[2020-09-30 13:05] #27682 closed

[2020-09-30 13:07] aknuds1 commented on #26304
Closing for now, since OSS triggers enterprise now.

[2020-09-30 13:07] #26304 closed

[2020-09-30 13:07] #25278 closed

[2020-09-30 13:07] aknuds1 commented on #25278
Done.

[2020-09-30 13:09] aknuds1 commented on #26878
This should be implemented.

[2020-09-30 13:09] #26878 closed

[2020-09-30 13:09] #27109 closed

[2020-09-30 14:29] aknuds1 opened #27933 "Drone: Front-end metrics not correctly published"
**What happened**:
It looks as if [front-end metrics](https://play.grafana.org/d/VEy5UXjmk/grafana-ci-code-stats?orgId=1) are still not correctly published from Drone. Need to look into why.

[2020-09-30 14:32] papagian commented on #20157
For an example of such a conversion check 2996041791bf52de67a985ee62d4dcf8166f340b

[2020-09-30 14:35] nachopv commented on #27910
Hi @torkelo

You were missing to set up "server" variable to refresh = "Never" or "On Time Range" in order to reproduce it
Remember we avoid using On dashboard Load for "server" variable to prevent the "server" query to be executed twice on load ( we do it only on the root variable )

![image](https://user-images.githubusercontent.com/70150083/94699398-9227cb00-033a-11eb-90a5-47db0963dbd8.png)

[2020-09-30 14:39] papagian commented on #18723
The function is this [one](https://github.com/grafana/grafana/blob/master/pkg/util/split_email.go)

[2020-09-30 15:42] ivanahuckova commented on #26117
Hello @alavrovinfb the alerting state for Prometheus is consistent with the [documentation](https://grafana.com/docs/grafana/latest/alerting/create-alerts/#no-data--error-handling). You can set up the NO DATA behaviour however you want - see below example when I set it up to **Ok**, **No data**, **Alerting** state. If you don't want notification to be sent, you can simply choose *Keep Last State*

[2020-09-30 15:42] #26117 closed

[2020-09-30 15:42] rakeshraih commented on #22878
Can I take this one?

[2020-09-30 16:06] mojatt commented on #27889
Issue is also apparent in  v6.7.4 (8e44bbc5f5). An issue with latest Chrome version?

[2020-09-30 16:15] gadol commented on #27702
Unfortunately I cannot post the whole mapping (plus it's huge), but this is the relevant part:
[code]

I also tried using just Date as the `Time field name` which also returned `No date field name ProccessingDate found`

querying in Kibana's discover with a query such as the following works fine: `Date.Epoch:[ 2020-09-30T00:00:00 TO 2020-09-30T22:00]`

[2020-09-30 16:24] louloizides commented on #7397
+1
It'd be nice to add as many axes as possible. They don't have to be on both sides of the plot either, it's perfectly acceptable to have multiple scales on the same side of the plot.

[2020-09-30 18:21] lmatias98 commented on #27686
Today I managed to get a different log:

t=2020-09-30T13:33:16+0000 lvl=eror msg="Data proxy error" logger=data-proxy-log userId=39 orgId=1 uname=<USERNAME> path=/api/datasources/proxy/37/api/v1/query_range remote_addr=<ADDRESS> referer="https://address/d/u4tBfDOMk/dashboard-name?orgId=1&refresh=1m" error="http: proxy error: context canceled"

I thought it would be something with my machine’s cach

[2020-09-30 18:56] MatinF commented on #26695
I'm struggling to get Grafana 7.2 + Flux to work with alerts as well. I've added my case below in this thread (my other thread was closed because it was considered a duplicate of this one):

---------

I'm using Grafana cloud (7.1.5) with InfluxDB cloud 2.0 (Flux).

I'm trying to set up a basic alert in Grafana, which should trigger based on an InfluxDB based time series chart.

**My default Flux

[2020-09-30 19:01] simianhacker commented on #18325
The fix for this is quite simple, looking at the `getPipelineAggOptions()` function in `public/app/plugins/datasource/elasticsearch/query_def.ts`, if you remove the `if` statement that prevents the pipeline aggregations from being listed as `bucket_path` fields then it allows the user to select pipeline aggs a the path. The list of metrics (fields) should exclude any previous pipeline aggs in the

[2020-09-30 19:11] kogent commented on #25381
when a user who doesn't have edit permissions or a dashboard is marked not editable (eg- when doing dashboards as code) and they click on an alert that takes them to the editPanel linked page, you are taken to the full dashboard with an error in the top right of the page
![image](https://user-images.githubusercontent.com/796/94728838-b1603180-0315-11eb-91ae-8eee696d15eb.png)

This makes the alert

[2020-09-30 19:21] pforman-zymergen commented on #27542
Section 2 of this is a regression from Grafana v6, where that option was easy and in v7 appears no longer possible.

It would definitely be nice to have that feature back, we used it for red/green highlighting in many cases.

Banded rows would be nice for big tables, and I might find uses for color-per-value.  Neither of those are as important to our current use cases as the regression involving c

[2020-09-30 19:45] #27820 closed

[2020-09-30 22:22] marefr commented on #20089
Suggestions for fixing this:
- Add a couple new errors, `ErrAlertNotificationWithSameUIDExists` and `ErrAlertNotificationWithSameNameExists` [here](https://github.com/grafana/grafana/blob/c028d3047cdc6f718532d6d9100bed80ed4f49a9/pkg/models/alert_notifications.go#L11-L18).
- Return `ErrAlertNotificationWithSameUIDExists` from [here](https://github.com/grafana/grafana/blob/c028d3047cdc6f718532d6d910

[2020-09-30 22:39] seanlaff commented on #27725
@dkozar I think it would be good to verify if the refresh token that grafana gets from azure on the first login is valid. You could query the sql db directly, but the token is encrypted (not sure where to get the secret used to decode, but Im sure its somewhere) You could try kicking up the log level, but I don't think that token is logged b/c security concerns.

[2020-09-30 23:06] marefr commented on #22251
Currently the MySQL data source configuration includes settings related to either not enable any TLS related config or either provide a custom TLS config. Looking at the [TLS connection string parameter](https://github.com/go-sql-driver/mysql#tls) for the MySQL go library the value `<name>` is what being used in Grafana if a custom TLS config have been configured.

![image](https://user-images.git

[2020-09-30 23:18] marefr commented on #22890
Here's an example adding a new unique index for the `alert_notification_state` table:
https://github.com/grafana/grafana/blob/c028d3047cdc6f718532d6d9100bed80ed4f49a9/pkg/services/sqlstore/migrations/alert_mig.go#L147-L148

To fix this we need to add two new non-unique indices at the end of above file so that the database migrations are executed after all of the existing migrations.
 - New non-uni

[2020-09-30 23:46] marefr commented on #24004
For the Prometheus backend data source code there are a trace created here:
https://github.com/grafana/grafana/blob/c028d3047cdc6f718532d6d9100bed80ed4f49a9/pkg/tsdb/prometheus/prometheus.go#L109-L113

As described above, what's seems to be missing is to propagate the trace with the Prometheus api client call.
An example when propagating the trace for http.Request can be seen here:
https://github.

[2020-09-30 23:51] DECarreras commented on #27822
I'd like to work on this for Hacktoberfest. Any specific areas/folders in the documentation to start?

[2020-10-01 01:52] DECarreras commented on #27822
UPDATE: Should I stick to the files under **docs/** folder only? There are a few other miscellaneous .md files elsewhere but I'm not sure I should touch those?

[2020-10-01 02:22] RahilRehan commented on #27821
Some first columns have queries etc in them,  should I un-italisize them?
Example:
![query](https://user-images.githubusercontent.com/29269254/94758510-f2f6e800-03ba-11eb-86f0-410896246ade.PNG)

[2020-10-01 03:24] mtanda opened #27946 "Templating: Share repeated panel in collapsed row results in panel not found"
**What happened**:
Panel link is broken. Cause error like `Panel with id 6 not found`.

**What you expected to happen**:
Open the panel which is shared by link.

**How to reproduce it (as minimally and precisely as possible)**:
1. create new dashboard
2. add query type template variable with `On Dashboard Load` option and `Multi-value` option
3. check one template variable value
4. add a panel wit

[2020-10-01 03:58] mtanda commented on #27946
I think this bug is caused by inconsistent panel id between shared state and open state.

When loading dashboard, panel id is taken by this function (if it is not set).
https://github.com/grafana/grafana/blob/v7.2.0/public/app/features/dashboard/state/DashboardModel.ts#L330-L348

The shared dashboard JSON doesn't include panel id 6 definition because it is generated by panel repeat.
Grafana can't

[2020-10-01 04:06] #1988 closed

[2020-10-01 06:10] Lundbyit commented on #27065
Hi can I have a go?

[2020-10-01 06:44] rakeshraih commented on #25000
Can i take this up?

[2020-10-01 06:44] #27912 closed

[2020-10-01 06:48] rakeshraih commented on #25479
Can i take this up?

[2020-10-01 06:58] torkelo commented on #25479
Yes!

[2020-10-01 06:59] torkelo commented on #25479
https://github.com/grafana/grafana/blob/master/packages/grafana-ui/src/components/ThresholdsEditorNew/ThresholdsEditor.tsx#L50

[2020-10-01 07:38] bergquist opened #27948 "`/metrics`, `/api/health` and `/healthz` should not pass any middlewares."
Health check and monitoring endpoints should not be rejected by the domain enforcement check.

[2020-10-01 08:04] jbergler commented on #5344
Given the age of this, and since I haven't seen for quite some time I'll close this issue.

[2020-10-01 08:04] #5344 closed

[2020-10-01 08:19] trallnag opened #27952 "Allow newlines in template variable query field"
**What would you like to be added**:

Allow the use of newlines in the template variable (Prometheus) query field.

**Why is this needed**:

Most of the time the queries I use for template variables are very short. So I don't need newlines. But for example when I want to calculate the top x series over the whole time range (as recommended [here](https://www.robustperception.io/graph-top-n-time-ser

[2020-10-01 08:32] SugandhaDuhan commented on #16465
@marefr ... Thanks for your reply...
After researching on this issue... following worked for me:
protocol = https
cookie_samesite = none
cookie_secure = true

and serving grafana over https...

I had kept my certificates in the following path and updating the same in garafana.ini file:

cert_file = /etc/grafana/cert.pem
cert_key = /etc/grafana/key.pem

[2020-10-01 08:39] mckn opened #27953 "Build: move canary channel/tag from npm to github registry"
**What would you like to be added**:
Currently we publish a new package to the canary tag/channel in the npm registry on every commit to master. This is really useful when developing plugins and you want to stay in sync with the latest changes in master. Especially close to shipping a new major/minor release.

To make this possible we have a script that is kind of error prone. The reason is that w

[2020-10-01 08:40] mckn commented on #27953
@dprokop @aknuds1 @torkelo @stevenvachon @ryantxu

Please ping others that might be interested in this migration.

[2020-10-01 08:41] ivanahuckova commented on #27860
Hello @pcbl, thanks for creating this issue. As Zoltan has mentioned, this was introduced by #27213 (Grafana 7.2) where we re-introduced running of Loki instant queries which was present in Grafana 7.0 (but only in Explore) and not-purposely removed in Grafana 7.1 [during logs-metrics unification](https://github.com/grafana/grafana/pull/27737/commits/7668398b30be5941f46f4b10e1eeeba39a848f06). So w

[2020-10-01 08:43] dprokop commented on #27953
With publishing to Github Packages repository, we won't need to care about deprecating/unpublishing canary versions, as this was done only to limit the number of packages that are listed on NPM.

[2020-10-01 08:59] torkelo commented on #27781
Unable to replicate the original issue
![Screenshot from 2020-10-01 10-58-47](https://user-images.githubusercontent.com/10999/94789418-2cd4e800-03d5-11eb-81f1-edd091c190bf.png)
![Screenshot from 2020-10-01 10-58-52](https://user-images.githubusercontent.com/10999/94789424-2e9eab80-03d5-11eb-84b1-76ecf9bd7f8d.png)

[2020-10-01 09:02] torkelo commented on #27781
Here is a test dashboard where I am unable to replicate the problem https://play.grafana.org/d/AGS-2BKGz/elasticsearch-join-issue?orgId=1

[2020-10-01 09:49] aknuds1 commented on #27933
Fixed.

[2020-10-01 09:49] #27933 closed

[2020-10-01 09:51] aknuds1 commented on #27953
Anything to make this process more robust would be great.

[2020-10-01 09:52] aknuds1 commented on #27364
Looking at this again.

[2020-10-01 09:59] papagian commented on #27686
Have you tried increasing [data proxy timeout](https://grafana.com/docs/grafana/latest/administration/configuration/#timeout)? Does this help?

[2020-10-01 10:00] jfschneider opened #27956 "Adding Team members search box doesn't work properly"
**What happened**:
Trying to add multiple Members to a team. )First problem: the dropdown only shows a few accounts. It is not clear that it is actually a search field...)
After searching for an account and adding it via click, it is not possible to delete the name from the search field and search again. I have to switch to another page (e.g.the settings tab) and the come back and click "Add Membe

[2020-10-01 11:04] jussirantala commented on #22125
I have this issue with characters like Ä, Å, Ö, ä, å, ö. Those characters are filtered out from the params for some reason.

[2020-10-01 11:17] reuvygroovy commented on #25687
Can you explain to me how to override a date value returned in Influx so that I could only see this format: "YYYY-MM-DD"?

[2020-10-01 11:19] dupondje opened #27957 "Prometheus - http: proxy error: context canceled"
**What happened**:

After upgrading grafana from 7.1.5 to 7.2.0, some dashboards don't load completely anymore.
But the strange thing is that it seems to stop sending out ajax calls to the backend (Prometheus) to get its data.

**What you expected to happen**:

Dashboards load fine when downgrading to 7.1.5.

**How to reproduce it (as minimally and precisely as possible)**:

Open some random dashb

[2020-10-01 11:41] aknuds1 opened #27958 "Investigate enabling GitHub scanning"

[2020-10-01 11:50] Nkmol opened #27961 "Provisional datasource not respecting Basic Auth settings"
**What happened**:
When adding a provisional Datasource the "Test & Save" functionality fails with a 401 Unauthorized, because an "Authorization" header is sent.

**What you expected to happen**:
When the "basicAuth" is "false" and not enabled in the UI,  I would expect no "Authorization" header to be sent. I would even expect when "basicAuth" is not set it should default to "false".

**How to rep

[2020-10-01 11:53] michael-niemand opened #27962 "Azure Monitor Data Source: summarize has different results in Azure & Grafana using the same Query"
**What happened**:

When using the Azure Monitor Data Source, the result of the exact same query differs between Grafana and the Azure Portal when using the summarize keyword. Grafana misses all additional columns provided after the aggregated column, while they are displayed in the Azure Portal.

**What you expected to happen**:

Running the same query against the same data source should produce

[2020-10-01 12:11] michael-niemand commented on #27962
Nevermind, it works in Grafana 7.2.0!

**Solution: Update to Grafana 7.2.0!**

[2020-10-01 12:11] #27962 closed

[2020-10-01 12:27] isaozlerfm commented on #27592
Hi @dprokop will work on this one 👍

[2020-10-01 12:32] dprokop commented on #27592
Thanks @isaozlerfm, let me know if there is anything unclear here.

[2020-10-01 12:38] ethirolle opened #27964 "Logs: Provide option to toggle \n and \t characters in log messages to literal newlines and tabs"
Per https://github.com/grafana/loki/issues/2562#issuecomment-700237334, I am moving this issue from Loki repo to Grafana repo:

**Is your feature request related to a problem? Please describe.**
Many logs (e..g., from java or SQL) will include log messages that embed a lot of `\n` or `\r\n` or `\t` characters. These formatted log messages are pretty hard to read when viewed in Loki. They would be

[2020-10-01 13:43] stevenvachon commented on #27953
I can write this today in JavaScript -- gets it done. Ultimately, it'd probably be best to have it implemented in Go.

[2020-10-01 13:49] FrankyGT opened #27967 "incorrect umask used when installing plugins"
**What happened**:

plugin not detected

**What you expected to happen**:

plugin is detected

**How to reproduce it (as minimally and precisely as possible)**:

as root :

# umask 0027
# grafana-cli plugins install <plugin-id>

Now the plugin files are only accesible by root, and not the grafana user

**Anything else we need to know?**:

**Environment**:
- Grafana version: 7.2
- Data source type

[2020-10-01 14:27] kaydelaney opened #27969 "CloudWatch Logs: Implement query queueing"
Amazon CloudWatch Logs imposes certain limits, or quotas, on the usage of various API endpoints and features. One of these limits is the limit on query concurrency, which has a default of 4, but can be increased to 10 on request. If a user attempts to start a query while the maximum number of concurrent queries are running, an error will be returned. In order to prevent CloudWatch Logs panels, or

[2020-10-01 14:28] ivanahuckova commented on #27860
@pcbl please disregard my last message. We will remove running of instant queries in dashboards.

[2020-10-01 14:29] asm19 opened #27971 "Stat panel - No Data after upgrade to v7.2"
I don't know if this is a bug but I can't solve it. After updating to grafana 7.2 I no longer have data in some fields of stat panels. This only happens if the query mode is "Text". I already changed the format of the unit and I can't solve it.

**Environment**:
- Grafana version: 7.2
- Grafana plugins: alexanderzobnin-zabbix v4.0.0
Zabbix Version: 5.0.4

![1](https://user-images.githubusercontent

[2020-10-01 14:34] pcbl commented on #27860
Hi @ivanahuckova , thanks for the information! :-) I am anxious to get the fix on next release. :-)

BR
Pedro

[2020-10-01 15:03] Dieterbe opened #27973 "legend names in snapshots get messed up"
Grafana v7.2.0 (efe4941ee3) (datasource: metrictank)
dashboard looks like this....
![dash](https://user-images.githubusercontent.com/20774/94826769-53644480-0410-11eb-9220-278d59b0faf4.png)
snapshot looks like this....
![snap](https://user-images.githubusercontent.com/20774/94826719-45162880-0410-11eb-85fb-e397b090b168.png)

[2020-10-01 15:04] oddlittlebird commented on #27821
Yes, please do. Those should not be italicized. Queries like those should be code format instead.

[2020-10-01 15:34] oddlittlebird commented on #27822
Mostly the stuff in the docs folder and contribute folder will apply.

[2020-10-01 16:26] aocenas commented on #27791
Not sure how much we can help right now, but what you could try is, after the migration, check the values of the sequences that generate the primary keys https://www.postgresql.org/docs/current/functions-sequence.html to see if they are correctly set to next unique value or start from zero. That way at least you could figure out if the problem is with the sequences and find out how to fix that.

[2020-10-01 16:33] aocenas commented on #27837
@marefr do you know what is the way to do downgrades? As far as I know we do not have down DB migrations so what ever got changed in the 7.1 would still be in the DB creating issues after downgrading back to 6.6 is that right?

[2020-10-01 16:35] nomar22 commented on #25334
I'm facing the same problem, it is not solved.

[2020-10-01 16:45] #27822 closed

[2020-10-01 17:57] ryantxu commented on #25334
Looking at this issue... when everyone says "it is not solved"  are you using the elastic search datasource?  or in general?  Grafana 7 has an export CSV, so the issue was closed -- maybe we need a new issue about elastc search?

[2020-10-01 19:34] mr-ns opened #27982 "Graph panel does not render if a series has the alias "constructor""
**What happened**:
I have a dataset of multiple time series that I am attempting to plot in a graph panel. If one of the time series is named "constructor" the graph panel shows nothing. This appears to be the same root cause as issue #14961.

**What you expected to happen**:
I expect the graph panel to render data even if a time series is named "constructor".

**How to reproduce it (as minimally

[2020-10-01 19:51] ghost235 commented on #27832
The same with zabbix 5.0.1.

But in the "Query inspector" in grafana the values are present. Seems its a grafana "display" issue.

[2020-10-01 21:18] dkozar opened #27984 "Configurable TLS cipher order?"
Hi,

We're wondering if the [TLS cipher order](https://github.com/grafana/grafana/blob/8a5fc00330fadb0fa2cba9e21e4ca1367963418c/pkg/api/http_server.go#L216) could be made configurable (via `defaults.ini` file for instance):

![image](https://user-images.githubusercontent.com/1078403/94864220-9257c180-0433-11eb-9d58-6866aa1d58a6.png)

We're aware that there is a workaround of putting a proxy (nginx

[2020-10-01 21:43] dkozar opened #27986 "plugin.json templating enhancement (routing to "https://{ClientParams.dynamicServerUrl}/some/path")"
**What would you like to be added**:

It would be great if templating in` plugin.json` could be extended to support calling arbitrary endpoints.
We're aware this is currently forbidden due to security, however in some cases this is needed.

For instance, currently one could use JsonData variables when specifiying the final URL (the proxy routes the traffic to):

`https://login.microsoftonline.com/

[2020-10-01 22:12] drakrubt opened #27987 "Variables using InfluxDB (flux) datasource send empty username/password in Authorization to InfluxDB"
When trying to add a Variable to a panel which queries an InfluxDB 2.0 (via flux) data source, it does not use the configured username/password associated with the data source.

Grafana Version: 7.2.0
InfluxDB Version: 2.0RC0
OS Version: Centos8

---FromNetworkCapture-------------------------
**POST /query?epoch=ms HTTP/1.1**
Host: localhost:8086
User-Agent: Grafana/7.2.0
Content-Length: 18
Accept

[2020-10-01 22:21] elliotpryde commented on #27494
Reproduced this in 7.2.0.

It looks like [RefreshPicker is using some default intervals](https://github.com/grafana/grafana/blob/6145bf77cf4462af04353001cd7eda369e15b235/packages/grafana-ui/src/components/RefreshPicker/RefreshPicker.tsx#L48) since no intervals were passed into the component. Those default intervals aren't being validated by the [context service](https://github.com/grafana/grafana/

[2020-10-01 23:59] seanhoughton opened #27989 "Elasticsearch annotations don't work with field names that contain periods"
summary by @gabor: in elasticsearch annotations, when entered field-names contain periods (`.`), we assume it's a nested structure, and recursively try to find the real field. so if it is a not-nested field that has a `.` in it's name, it does not work. even if we change this, we need to be careful with backward-compatibility. (the related code: https://github.com/grafana/grafana/blob/66b54e2dbd10

[2020-10-02 00:24] LuckyMallari opened #27990 "PanelEdit: Protect against resizing query region beyond viewport"
**What happened**:
DIVs at the bottom in EDIT are not scrollable when the graph itself takes much of the screen's real estate. Additionally, when you accidentally resized the graph to be very large, you lose the resize handle so you can't resize it back.

![grafana_scroll_bug](https://user-images.githubusercontent.com/6183345/94875890-e9956c00-040a-11eb-9035-b3d92658fc14.gif)

**What you expected

[2020-10-02 00:41] phillipsj commented on #20549
Yeah none of these really work. Even trying the persistent storage option, which must be backed by Azure Files, doesn't work either. I have updated my post about it and I am going to provide an alternative way to create backups which offer an alternative. https://www.phillipsj.net/posts/update-easy-grafana-on-azure/

[2020-10-02 04:19] Tepew commented on #27791
Sequence start from 0. But when I try set sequence not 0 problem didn`t go away and Grafana set new id as
id + set sequence
f.e.
in table 4 rows - set sequence 4
in Grafana I see problem with save before I do save 3 times and on 4 Grafana save but in Databse I see that id not 5. Id is
4+3=7
how Grafana check and set id? Problem in id set. If I can say Grafana start from id 4 all problems go away.

[2020-10-02 04:49] VishalLahane opened #27991 "[data sources] Without entering any values data source getting saved"
**What happened**:
- Go to configuration then data sources
- Click on data source (any) don't fill any value or Save & Test
- Message popups up "Datasource added"
-  the data sources list getting filled with this empty data sources.

**What you expected to happen**:
- There should be some restriction or setting that user not allow to save data source unless fill all required values & click on Save

[2020-10-02 05:14] #27948 closed

[2020-10-02 05:39] domasx2 opened #27993 "Log frontend errors"
**What would you like to be added**:
Opt-in, configurable way to capture frontend javascript errors and log them.

**Why is this needed**:
There's currently no visibility into errors occuring on frontend, so we rely on manual testing and user feedback to spot problems. It would be great to have frontend error logs as well for discoverability and debugging.

**Relevant links**

- [related post on g

[2020-10-02 05:59] trobers commented on #27989
I suspect it has something to do with the following issue: https://github.com/grafana/grafana/issues/5043

We have the same problem with annotation tags and nested fields. In our case the annotation appears but the tags are not filled.

[2020-10-02 06:42] #18723 closed

[2020-10-02 08:23] pr1malc0de commented on #24092
Any ideas when this may make into release? Im running 7.2.0 and i cant hide fields without losing access to the data they hold

[2020-10-02 08:37] PavelPikat commented on #24092
@pr1malc0de I think there is milestone set for 7.3

[2020-10-02 08:47] coussej commented on #26695
@MatinF the flux datasource takes into account the "Max data points" of the query options. Try increasing that for your graph to show up completely.

![image](https://user-images.githubusercontent.com/9944663/94905099-9cfa7100-049c-11eb-862d-6765faa0d196.png)

[2020-10-02 09:49] MatinF commented on #26695
@coussej Thanks for the inputs. The challenge with boosting the max data points is that my charts are at 1 second resolution. As such, if I were to be able to include all data points this way, it would result in a huge number of datapoints if a user e.g. views the chart for a period of 1 week.

The original query I shared solves this by aggregation, which works perfectly for visualizing my data.

[2020-10-02 10:02] sysadmin-exe commented on #14629
Had same issue. First time on grafana. Solved issue by using URL with IP address of Prometheus Docker Pod (docker inspect <Prometheus Pod Name>) like so  url: http://172.17.0.2:9090
This worked instantly.

[2020-10-02 10:22] Trovalo commented on #25193
Can confirm that in version 7.2 this does not happen

[2020-10-02 10:24] dkozar commented on #27725
@seanlaff thanks! I changed the log level to "debug" (previously I wasn't aware how to do that). Here's the (hopefully) more detailed log:

[code]

[2020-10-02 10:33] folhabranca commented on #27889
same here with Grafana 7.2.0 and Chrome 85

[2020-10-02 10:35] madamak commented on #7397
+1
As many axes as possible indeed!

[2020-10-02 11:43] zen commented on #19555
I've added examples, but working NGINX configuration for Live Tailing here #27998

Feel free to test and provide feedback

[2020-10-02 11:56] therealcodlord commented on #27723
I am getting this since upgrading to v7.2.0. I think this is a vertical scrollbar which is showing and cutting off the right side of all bar gauge panels.

In my Ubuntu Firefox 81.0 the scrollbar is visible as the grey but in other browsers such as Chrome the bar is the same colour as the background so it cuts off the right-side of the bar gauge. Here is where it's visible:

![bar](https://user-im

[2020-10-02 12:31] torkelo commented on #27971
can you use query inspector and check the raw response, and in the inspect drawer data tab you can inspect the raw data as well

[2020-10-02 12:35] gitolihub commented on #19172
Same request, Same problem ^^

[2020-10-02 12:56] manero666 commented on #14629
I mapped port 8010 to 9090 when running Prometheus (-p 8010:9090).
It finds itself on the default network just as the Grafana container does.

I'm able to connect to it either with:
http://172.17.0.4:9090 (connects to the container directly)
or
http://172.17.0.1:8010 (connects to the mapped port)
or
http://_server-ip_:8010 (connects to the mapped port)

[2020-10-02 13:07] #27065 closed

[2020-10-02 13:15] al-lac opened #28001 "Azure Monitor Metrics sometimes go to 0"
**What happened**:
Azure Monitor Metrics sometimes have no value, indicated by the dotted lines in the Azure Portal:
<img src="https://user-images.githubusercontent.com/11136952/94926572-49e6e500-04c1-11eb-8dc5-68f5274170c4.png" width=50% height=50%>

Grafana returns this as 0 which results in dips on the graph:
<img src="https://user-images.githubusercontent.com/11136952/94926476-2885f900-04c1-11

[2020-10-02 13:38] dkozar commented on #27725
@seanlaff where can find more details on how the `tokenAuth` works? I'm aware that I could safely remove `tokenAuth` from `plugin.json`, and everything continues to work as expected. I believe need to switch on the `oauth pass-thru`, because otherwise no token is sent to the server.

[2020-10-02 13:46] elliotpryde commented on #27494
My understanding is that `min_refresh_interval` is used to stop dashboards from sending too many queries to datasources, is that wrong?

If that's the case, should dashboards and the explore page have different minimum refresh intervals? `min_refresh_interval` comes under the `[dashboard]` section of the configuration file at the moment.

[2020-10-02 15:04] seanlaff commented on #27725
@dkozar `OAuth Pass thru` as I referred to it us the `Forward OAuth Identity` box you have checked in the datasource config ui- which should be all that is needed to have the AD `access token` passed along to your datasource when grafana makes the request. If memory serves the lifecycle works like this->

1) User logs into grafana via oauth
2 ) grafana persists the `access token`, `refesh token`,

[2020-10-02 16:22] seanhoughton commented on #27989
The problem seems to be on this line (https://github.com/grafana/grafana/blob/185442115caf82b797816c47a9c1396426139f95/public/app/plugins/datasource/elasticsearch/datasource.ts#L249)
[code]

If the code used a split function that respected quoting then users could be more explicit about where real object fields need to be resolved and where the field name just contains a period character.

[2020-10-02 16:24] jgulick48 opened #28006 "Cloudwatch: Add support for AWS Direct Connect virtual interface metrics"
**What would you like to be added**:
Add support for the AWS Direct Connect virtual interface metrics as documented on https://docs.aws.amazon.com/directconnect/latest/UserGuide/monitoring-cloudwatch.html
**Why is this needed**:
These metrics are needed to properly monitor the virtual interfaces between your local data centers and AWS environments.

[2020-10-02 17:00] tushutripathi commented on #27803
@torkelo @aocenas  I'll have a go at it if that's okay?

[2020-10-02 17:13] gw0 opened #28009 "Datasource not working with Basic Auth settings"
**What happened**:
As an additional precaution I use datasources that require a HTTP basic authentication. Unfortunately, it seems Grafana has a weird issue with Basic Auth credentials that makes it work only the first time or when you open a new browser window. My hypothesis is that this forwarding of HTTP basic auth prompt from the datasource to to users browser is not implemented correctly. Onc

[2020-10-02 17:14] torkelo commented on #27803
Of course!

[2020-10-02 17:40] #20157 closed

[2020-10-02 18:02] #27818 closed

[2020-10-02 19:15] atulmodi-akamai commented on #16452
+1

[2020-10-02 19:29] tushutripathi commented on #27803
Great, I have submitted a PR #28011

[2020-10-02 19:34] LuckyMallari commented on #27723
I fixed mine differently:

`.panel-content {
  padding-right: 0;
}
`

[2020-10-02 19:48] edfungus opened #28013 "Cannot get options panel back in editor after closing"
![grafana options bug](https://user-images.githubusercontent.com/193586/94963395-f23e7e80-04ac-11eb-8aba-c9586905e5ea.gif)

**What happened**:
I closed the options panel in the editor and there is not a button to get the panel back.

**What you expected to happen**:
I expect a `Show Options` or similar button to appear for me to to click to get the options panel back

**How to reproduce it (as min

[2020-10-02 19:49] dkozar commented on #27725
@seanlaff many thanks for the insights! Your input helped me finding the missing piece:

**Azure AD doesn't return a refresh token as the result of OAuth flow unless the `offline_access` scope is not added.**

Docs: https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-permissions-and-consent#offline_access

My current `Azure AD OAuth` section in `defaults.ini`:

#####################

[2020-10-02 19:49] #27725 closed

[2020-10-03 03:08] zanemountcastle commented on #18292
Agreed. We use Grafana to give users access to log data from their hardware deployed in the field. Each group of users has their own team. It's a very unfriendly experience to add a user only for them to have access to nothing until we add them to a team. It would be a really nice feature to include them in a team when inviting a new user.

[2020-10-03 05:19] #27956 closed

[2020-10-03 07:16] marcusolsson opened #28015 "Broken link to anonymous authentication"
The following anchor point doesn't exist:
https://grafana.com/docs/grafana/latest/auth/#anonymous-authentication

It's being used here:
https://grafana.com/docs/grafana/latest/administration/configuration/#authanonymous

Should likely refer to:
https://grafana.com/docs/grafana/latest/auth/grafana/#anonymous-authentication

[2020-10-03 07:36] vipinvkmenon opened #28016 "Azure Monitor Datasource struggles with resource-groups having large number of resources"
**What happened**:

When selecting a ResourceGroup with a large number of resources, Grafana is unable to parse/handle it
**What you expected to happen**:

The resources are listed as expected.

**How to reproduce it (as minimally and precisely as possible)**:

Based on the documentation following variables were created

[code]
[code]
[code]

Use the dashboard with the above variables and Select a

[2020-10-03 08:54] daenney opened #28017 "Time regions only show if the start of the time region falls within the current time range"
**How to reproduce it (as minimally and precisely as possible)**:

I have a graph setup with 2 time ranges:
* 21:00 to 07:00, blue
* 07:00 to 21:00, yellow

When looking at the graph this morning I noticed that the blue section was missing. It only started to show once I increase the time range of the graph so that it would include 21:00 last night.

I expected the areas to always be coloured, reg

[2020-10-03 08:59] daenney commented on #28017
Hmm actually, it seems the blue section starts to show up once the time range goes past last midnight. So if I do `now-8h` I don't get the blue region, but `now-9h` I do, which includes midnight UTC.

[2020-10-03 09:55] #27855 closed

[2020-10-03 09:56] windware-ono commented on #24714
Same error as above for `Authentication failed; no valid credentials available`. I do not have any basic auth against grafana nor loki and followed advices on https://github.com/grafana/grafana/issues/22905 but still getting the error.

[2020-10-03 10:56] octapudus opened #28018 "Multiple hover tooltip issue"
Hello,
I tried with Mysql and Influx DB.

With mysql its working well and tooltip show the values of the points on hover the chart zone.
in the case of InfluDB this does not happen.

In the case of InfluxDB (all datas are stored as string)  you see the list of variables in format: "name_table.column:" and then nothing, no any value.
in order to see the value i need to select "Hover tooltip Mode ->

[2020-10-03 11:14] coussej commented on #26695
@MatinF my opinion is that as long as this issue with the v.windowPeriod is nog solved for alerting, the high-performant panel with alerting combo is not really possible, as you need to fix the interval for the alerting query to work.

[2020-10-03 14:06] Skeen opened #28019 "Issue with `npx @grafana/toolkit plugin:create my-plugin`"
**What happened**:

I attempted to run `npx @grafana/toolkit plugin:create my-plugin` inside `node:12`, but it reports:
[code]

**What you expected to happen**:

A folder structure would appear in `/my-plugin/`

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

Full output from the command:
[code]

![peek](https://user-images.githubuser

[2020-10-03 17:43] MatinF commented on #26695
Ok if so, my understanding is that there's no "proper way" to set up alerts in Grafana with InfluxDB Flux currently. Would be really great to get this resolved as it is a critical functionality for a lot of the use cases our end users encounter. If there's a work around for it short-term, I'd also be interested in that.

[2020-10-03 19:12] klausenbusk commented on #26626
PR opened: https://github.com/grafana/grafana/pull/28021

[2020-10-04 00:26] ryantxu commented on #26695
See also https://github.com/grafana/grafana/issues/27469

7.2 has a fix that sets the maxDataPoints and interval  https://github.com/grafana/grafana/pull/27463 -- but you may have other issues

[2020-10-04 00:29] ryantxu commented on #27469
In timestream, I hacked this:
https://github.com/grafana/timestream-datasource/blob/master/pkg/models/query.go#L42

I think picking a reasonable maxDataPoints is the best approach -- maybe 2048?

[2020-10-04 01:57] linkdd opened #28023 "Relative URL in links instead of absolute"
**What would you like to be added**:

Links should be relative like assets (the ``<base/>`` element is already present in the rendered page).

**Why is this needed**:

I have a Grafana dashboard that should be exposed through different reverse proxies (each one with its own base URL).
The reverse proxies are patching the response from Grafana to fix the `href` attribute on the `<base/>` element.
B

[2020-10-04 02:06] ahlaw commented on #27215
Hi, can I take this issue? It appears [InfluxDb](https://grafana.com/docs/grafana/latest/features/datasources/influxdb/#querying-logs-beta) also has this issue. Should the docs be updated with a note about the 7.1 update?

[2020-10-04 03:51] ahlaw commented on #26364
Hi, can I take this issue?

[2020-10-04 04:18] rakeshraih commented on #25479
Pls correct me if am wrong, I don't see the above method `onAddThreshold`  being called. ThresholdFormCtrl is being used to add the threshold. Using the master branch with the latest code. Hope am looking at the correct location. (Attached the front end screenshot)
<img width="580" alt="Screen Shot 2020-10-03 at 9 14 32 PM" src="https://user-images.githubusercontent.com/6831851/95006861-c0690d00-0

[2020-10-04 05:47] geprieto commented on #7832
Incredible that this feature has not been implemented yet, with the huge feedback that this issue has.

I use Grana as our visualization & alerts engine at the Magellan Telescopes. If I have several subsystems that share characteristics that merit for them to be all in 1 plot, when an issue arises and one starts behaving badly, my users have to get a cryptic warning and dig which is failing.

Crea

[2020-10-04 07:14] gadol commented on #27542
https://community.grafana.com/t/is-grafana-7-0-missing-row-color-modes/30526/2

other people seem to be infected for the row table color issue

[2020-10-04 07:55] aknuds1 commented on #26364
@ahlaw Go ahead.

[2020-10-04 08:44] gvnirmal commented on #8725
We are also looking for a tree view plugin since a long time. We are looking for alternative tools that can provide this capability.

[2020-10-04 11:18] DrMichael opened #28024 "Variables: Add timezone as global template variable"
**What would you like to be added**:
I would like to have the timezone in which the data is displayed available in queries. E.g. when using date_trunc('day', ...) in psql, it gets truncated to midnight of the database server timezone, but displayed in the display timezone.

**Why is this needed**:
To correct above mentioned behaviour one needs the display timezone available in queries.
Or to be ab

[2020-10-04 13:01] zoltanbedi commented on #27215
Hi @ahlaw please do and the influx page as well. Nice catch! 👍

[2020-10-04 13:16] zoltanbedi commented on #28013
Can you try to upgrade your Grafana instance? This is working fine in 7.2

[2020-10-04 13:58] chrisngene commented on #159
Been day dreaming about this too, would love to see it added

[2020-10-04 16:19] tomdaly commented on #27485
hey @marefr I'd be interested in picking up this ticket, is the issue that the function only expects `[*]pattern` or `pattern[*]`, and the edge case is having multiple `[]` brackets in one string?

[2020-10-04 17:12] MatinF commented on #26695
Thanks, I'm on 7.2 (via the Cloud version of Grafana), but I still struggle to see how I should set up a panel alert via Flux in the "correct" way. Is there some example of a Flux query that lends itself well to setting up alerts as well?

To recap, the query I use currently looks as follows:
[code]

With alert settings as below:
![image](https://user-images.githubusercontent.com/26184427/95022109

[2020-10-04 19:41] #27860 closed

[2020-10-05 02:00] rmunoz10 commented on #20231
Regarding "Add Panel -> Text Panel -> Edit the Markdown/HTML" the content area is also too small (only 10 lines). Is there a way to resize it?

BTW, I also prefer v6.6 layout

[2020-10-05 06:05] torkelo commented on #20231
Thanks for the feedback. We will work with plugin authors to update so use the new option & override model. It should make panels more similar and easy for users (and plugin authors). That is the hope, we will keep collecting feedback and polishing and tweaking this new edit UI

[2020-10-05 06:05] #20231 closed

[2020-10-05 06:07] torkelo commented on #28023
Sorry Grafana can not be fully run like this (redirects and other backend generated urls need to use AppSubUrl. And there are situations there base.url is not respected by browsers when Grafana needs absolute url

[2020-10-05 06:07] #28023 closed

[2020-10-05 06:09] torkelo commented on #28023
But you could open a feature request to support multiple domain names (one per org) or something like that

[2020-10-05 06:10] torkelo commented on #28018
You need to include your grafana version, data source version, query, and the raw query results from your query, your panel config (panel json)

[2020-10-05 06:11] torkelo commented on #28018
And for the Graph the values needs to be numbers not strings

[2020-10-05 06:39] kishoreg commented on #20141
@HunterEl let us know if you need any help with this.

[2020-10-05 06:56] AlexanderBrandborg commented on #25715
Hey, sorry for a late reply.
It's been a bit since I implemented this, but it's part of an open source project, so you can find it at: https://github.com/humio/humio2grafana/blob/master/src/MetricFindQuery.ts

Note that I'm rather shaky on this solution, it seems to be working through manual testing, but I wouldn't make it load bearing.

[2020-10-05 08:31] vke commented on #27957
The same behavior. Grafana 7.2.0 (no custom plugins), Prometheus 2.21.0, FreeBSD 12.1, Firefox 81

[2020-10-05 08:57] mtanda commented on #24490
@neemiasjnr I finished my work for MQL support.
https://github.com/grafana/grafana/pull/26551

If you can build my branch Grafana code, please review/test my code :-)

[2020-10-05 10:09] lafrech commented on #27899
Same here, with the same limit at 10.

**Environment**:
- Grafana version: 7.2.0
- Data source type & version: InfluxDB
- OS Grafana is installed on: Debian Buster (official Grafana package)
- User OS & Browser: Debian Buster + Firefox / Windows 10 + Firefox
- Grafana plugins: None

The graph and query (Inspect -> query) show correct data. Only Inspect -> data and exported CSV are incorrect.

I ca

[2020-10-05 10:50] pr1malc0de commented on #3601
Can i assume coloring cells based on regex pattern is not currently planned? For my setup, if i could just use variables inside Value mappings i could have a column with Integer values matching thresholds then replace them using value mappings to a variable from a column in my data. Would this be a workaround for some people? Would need Value mappings to accept variables which they dont seem to cu

[2020-10-05 11:10] maxim-kukushkin commented on #6592
It's a pity that after 4 years this obviously demanded feature hasn't been implemented. My use case is a simple home automation where the router has to be restarted from time to time (it's ISP's one and cannot survive longer than a week of uptime). I have a simple socket adapter with a dial that resets the router every night. So every night I get lots of alerts about my sensors being down in Teleg

[2020-10-05 11:14] marefr commented on #27485
@tomdaly yes exactly.

[2020-10-05 11:28] #27364 closed

[2020-10-05 11:30] #26364 closed

[2020-10-05 12:18] aocenas commented on #27957
Seems like an issue with grafana backend proxy rather than Prometheus itself. @marefr assigning this to backend team.

[2020-10-05 12:23] Elfo404 commented on #17327
@berglh Thanks for bringing this up, and you are right, this should be fixed in the 6.6.2 release with #21937.
I'm closing this issue, if someone is still facing this problem we can reopen it 🙂

[2020-10-05 12:23] #17327 closed

[2020-10-05 12:52] #27793 closed

[2020-10-05 13:24] fredr commented on #27593
Since the ui state was removed from the url in #27753 we can't add it there.
I'll dig into this to see if there is an other way of solving the refresh problem

[2020-10-05 14:15] cesarmacias commented on #27781
Hello,

The problem appear when handle not timeseries, the data are group by a term field.

[2020-10-05 14:28] linkdd commented on #28023
Could the AppSubUrl be overwritten via a custom HTTP Header then ? So the Reverse Proxy could just set that header.

[2020-10-05 14:40] leeoniya commented on #27848
@dprokop if you're tagging related issues, you've missed a few 🤣. sorted by most comments:

https://github.com/grafana/grafana/issues?q=is%3Aopen+label%3Aarea%2Fpanel%2Fgraph+sort%3Acomments-desc

the vast majority of these can be knocked out by Graph NG. i might be able to help with this soon ;)

[2020-10-05 14:49] marefr commented on #17816
Investigate further to reproduce the bug

[2020-10-05 15:21] marefr commented on #26490
@guozhiwei please update the description using the [bug template ](https://github.com/grafana/grafana/issues/new?labels=type%3A+bug&template=1-bug_report.md)

[2020-10-05 15:28] dprokop commented on #27848
Was just tagging few that I have encountered today when going through the platform backlog. Thanks @leeoniya

[2020-10-05 15:29] dprokop commented on #27848
Lol, a few 🤣🤣🤣

[2020-10-05 15:30] torkelo opened #28035 "Frontend improve build performance"
Webpack performance is not great, would be interesting exploring snowpack or a build system using esbuild (snowpack uses it under the hood)

[2020-10-05 15:31] #28015 closed

[2020-10-05 15:41] danfoxley opened #28036 "Docs feedback: /variables/variable-examples.md"
Links are broken.

[2020-10-05 15:58] papagian commented on #27011
@kchervonets
I don't think that the token is the reason that testing the datasource fails.
the url [should be](https://grafana.com/docs/grafana/latest/features/datasources/influxdb/#flux-support) `http://localhost:9999` instead of `http://localhost:9999/api/v2`

Provisioning a Flux datasource by providing the token under `secureJsonData` works fine for me.
Therefore I'm closing this. Feel free to

[2020-10-05 15:58] #27011 closed

[2020-10-05 16:05] #27781 closed

[2020-10-05 16:15] dgdevops commented on #27760
Hello @papagian,

Thank you for your response.
I have tested the cloudsql-proxy workaround and I managed to bring Grafana up by connecting it to the SQL instance on 127.0.0.1:3306. However when I had `ssl_mode = true` enabled I got the following error message:
`lvl=eror msg="Server shutdown" logger=server reason="Service init failed: migration failed: failed to check table existence: TLS requested

[2020-10-05 16:19] #28006 closed

[2020-10-05 16:27] marefr commented on #26856
We're going to close this based on earlier discussions.

We suggest you to update the `migration_log` table manually to resolve your current problem:
[code]

[2020-10-05 16:27] #26856 closed

[2020-10-05 16:34] marefr commented on #24769
Duplicate of #24563

[2020-10-05 16:34] #24769 closed

[2020-10-05 16:34] marefr commented on #24769
#24563 was fixed by #24574 and is included in Grafana v7.1+

[2020-10-05 16:43] marefr commented on #25149
The needed dependencies is documented as needed to be preinstalled [here](https://grafana.com/docs/grafana/latest/installation/rpm/#install-with-rpm).

[2020-10-05 17:01] tim-99 commented on #25149
The needed dependencies are not longer avaialable for SLES 12 SP4... pls check it first before you post some old docs.

[2020-10-05 18:16] krvajal commented on #26131
What html attributes do you expect to be able to pass, should it be treated as a `div` or do you have a specific subset in mind?

[2020-10-05 18:42] mikeshimkus commented on #4693
+1

[2020-10-05 19:30] lannierose commented on #15151
I just upgraded from 6.4.3 to 7.2, both official Docker containers, and 7.2 is much slower - 30 seconds to a minute of bouncing logo before it opens. It is a good thing I like the bouncing logo. I hope my users do too.

[2020-10-05 20:05] alanmiller opened #28041 "table panel column disappears for prometheus query in outer join"
**What happened:**
I created a table panel with the following 2 prometheus queries that are "outer joined" on a volume field.

**query 1**:
`label_replace(windows_logical_disk_size_bytes{instance =~ "$server", volume !~ "HarddiskVolume.+", volume !~ "T:"},"IPAddress","$1","instance","(.*):9182")`
**query 2**:
`( (100 - (100 * (windows_logical_disk_free_bytes{instance =~ "$server",volume !~ "Harddi

[2020-10-05 20:07] ajaxous opened #28042 "Text Queries with Zabbix Data Source fail to return content"
**Overview**:

Several, what appear to be related issues happen when working with Zabbix data content (Log, Text and Character) that is considered Text in Grafana.

If I am leveraging a table from Grafana 6.7.X where the query returned textual data (Query Mode: "Text", Format as "Time Series") (when I have a wild card or variable for several different Items), if I go to the transform and select "S

[2020-10-05 20:35] marefr commented on #25149
Sorry didn't understand that was the problem.

[2020-10-05 20:52] jgulick48 commented on #20089
Would it make more sense to return a 409 (Conflict) rather than a generic 400 (bad request)?

[2020-10-05 21:38] simonc6372 commented on #25149
The urw-fonts dependency should be provided by "ghostscript-fonts-std" on SUSE systems.
On my openSUSE Tumbleweed system:
[code]
Looking on SUSE's build server, that is not available on SLES12, but you can get it for openSUSE 12.3, which should be compatible. You would have to check with SUSE Support why that package is not available for SLES12 directly.

We also have a problem of having a depende

[2020-10-05 22:07] achatterjee-grafana opened #28045 "Link to macOS install guide is missing from https://grafana.com/grafana/download?edition=enterprise&platform=mac"
In the Grafana download page for the "Standalone MacOS/Darwin Binaries" section, add the following line "Read the macOS  installation guide." and link "install guide" to the topic: https://grafana.com/docs/grafana/latest/installation/mac/

Without this, the user cannot access the installing Grafana on mac information. Thank you!

**Environment**:
- Grafana version: 7.2
- Data source type & version

[2020-10-05 22:13] odedshimon opened #28046 "Feature Request: Dynamic Diagram UI Component"
Hello Grafana community,
And thank you for a great product!

**Why is this component needed:**
While monitoring complex systems consisting of several components (e.g. a microservices system)
there is a need to look for a specific type of information.
For example, examine the processing time for a particular request in the system, which is handled by a number of components along the way.

**Where i

[2020-10-05 22:18] tim-99 commented on #25149
thats right... but you have to build and install your own rpm package of urw-fonts out of  ghostscript-fonts-st to pass the dependencies check. and also their is no chkconfig rpm anymore, but its still available as command.

[2020-10-05 23:45] nickdelnano commented on #1032
This seems to not be supported for Prometheus.

[2020-10-06 00:14] leeoniya commented on #28035
another option is https://github.com/swc-project/swc

[2020-10-06 02:47] tkinz27 commented on #25341
So unsure if this belongs in a new issue, but I was hoping to be able to display a prometheus label but color the text based ont the value.

For instance if I have the metrics
* `kube_cronjob_status_active cronjob="Cron Job 1" 1`
* `kube_cronjob_status_active cronjob="Cron Job 2" 0`

It be nice to be able to select the `cronjob` label to display but have `Cron Job 1` in green and `Cron Job 2` in r

[2020-10-06 05:31] torkelo commented on #28035
Looks like esbuild has some advantages, like is as fast as swc and has minification https://twitter.com/youyuxi/status/1257660498906165255?s=21

[2020-10-06 05:55] #27161 closed

[2020-10-06 06:01] torkelo commented on #25341
With this PR you will be able to set a fixed color mode using an override rule
https://github.com/grafana/grafana/pull/28039

[2020-10-06 06:03] aknuds1 commented on #28042
@alexanderzobnin Can you tell if this is a bug in the Zabbix plugin?

[2020-10-06 06:05] aknuds1 commented on #28042
@ajaxous Have you considered opening an issue in the [Zabbix](https://github.com/alexanderzobnin/grafana-zabbix) repo instead, since it's a plugin?

[2020-10-06 06:14] aknuds1 commented on #28041
Can you please rewrite the issue description following the standard bug template?

[2020-10-06 06:47] aknuds1 commented on #27651
Thanks for reporting the issue, will look into it.

[2020-10-06 07:13] mckn commented on #27802
I'm on it!

[2020-10-06 07:21] mckn commented on #27802
Have you tried to clear the cookies as @bassmaster187 suggested?

[2020-10-06 07:26] mckn commented on #27802
hmm, I am able to recreate this. I will have a look at it.

[2020-10-06 07:44] asm19 commented on #27971
**### Grafana v7.1.5**:

{
  "request": {
    "method": "POST",
    "url": "https://zabbix-XXXXXXXXX.com/zabbix/api_jsonrpc.php",
    "data": {
      "jsonrpc": "2.0",
      "method": "history.get",
      "params": {
        "output": "extend",
        "history": "1",
        "itemids": [
          "31330"
        ],
        "sortfield": "clock",
        "sortorder": "ASC",
        "time_from": 16

[2020-10-06 07:58] #27958 closed

[2020-10-06 08:17] mckn commented on #27802
@szerwi could you attach a screen shot of the google chrome developer tools when viewing the login response headers? Like the example I attach below.

<img width="1664" alt="Skärmavbild 2020-10-06 kl  10 16 23" src="https://user-images.githubusercontent.com/172951/95176413-22dc2c00-07bd-11eb-826c-fd20325a4771.png">

[2020-10-06 09:02] tsekine354 opened #28048 "Allow free text input for GCP project on dashboard variable query for stackdriver"
**What happened**:
Dashboard variable for "Service Level Objectives (SLO)" query type can't be added, if service account doesn't have enough permission to list GCP projects. From browser's console log against https:///api/datasources/proxy/4/cloudresourcemanager/v1/projects access:

[code]
indicating that the service account doesn't have enough permission.

But as you could see in the screenshot,

[2020-10-06 09:13] alexanderzobnin commented on #28042
@ajaxous Hi! Could you provide zabbix API request results? Series to Rows transformation doesn't work with text data - it expects numeric values. Also, I can't replicate this - all works as expected. If you need actual text values from multiple series, try to use Reduce transformation with `last` or `last (not null)` param.

[2020-10-06 09:29] Clarity-89 opened #28049 "Investigate upgrading dot-prop"
Currently used version: 4.2.0.

[2020-10-06 09:34] aocenas commented on #27791
The thing is grafana does not set the ID, it is left blank and database is responsible for assigning a new ID. That's what SERIAL PRIMARY KEY type is for. It creates a sequence that is then used to assign incremental IDs automatically while handling concurrent inserts.

When doing the migration, I do not know what the contents of the dump file are. I assume they are just create and insert statemen

[2020-10-06 09:52] dylan-asos commented on #24784
Looks like the Query Options in v7 has what I want,

![image](https://user-images.githubusercontent.com/16137664/95186243-b31c7000-07c1-11eb-8097-e674a191f6b1.png)

That then correctly calculates a time range used by the query against Azure monitor. Think we can close this?

[2020-10-06 09:59] Tepew commented on #27791
`I do not know what the contents of the dump file are`
in first message I write want in dump
`but with specific IDs`
Where are specific IDs I can find?
`After moving the sequence to the right number, try inserting a dashboard through a DB CLI and see if that works and if that assigns correct ID.`
ID`s from all tables start from 1 after migration.
Open test dashboard 'Hypervisor' and try to save. R

[2020-10-06 10:45] gjemp opened #28051 "Can not load Notification Channel edit view"
**What happened**:
Can not load Notification channel edit view from Notification channels list view

**What you expected to happen**:
Notification channel edit view will be opened when I click on the channel row

**How to reproduce it (as minimally and precisely as possible)**:
1) Add new notificartion channel - email/slack
2) Go to channels list view if you are not there
3) Click on the added not

[2020-10-06 10:49] dylan-asos opened #28052 "Client Script based variable calculation"
**What would you like to be added**:

The ability to calculate a variable from client script.

Variable Type : 'Script'
Input : Panel to craft some javascript

![image](https://user-images.githubusercontent.com/16137664/95190242-e9102300-07c6-11eb-9182-5200ccd73111.png)

**Why is this needed**:

Currently, we have variables set to 'query' that will execute against a data source in order to returns

[2020-10-06 10:50] aknuds1 commented on #28051
In "How to reproduce":

1. Please specify what you mean by "grafana upgrade". Do you have to upgrade from 7.1.5 to 7.2 for the problem to happen?
2. Please specify with enough details how to reproduce the issue, so we can see the bug for ourselves.

[2020-10-06 10:57] gjemp commented on #28051
updated

[2020-10-06 11:16] aknuds1 commented on #28051
I can reproduce this when I use the official 7.2.0 release. Doesn't happen to me when I try from source though, which is strange. Thanks, will relay it on.

[2020-10-06 11:19] aknuds1 commented on #28051
Actually doesn't happen consistently for me, only once so far, even though I've tried many times.

[2020-10-06 11:21] gjemp commented on #28051
I use Win 10 64bit Prof.

[2020-10-06 11:35] darrylsepeda commented on #27824
Seems there is no update, may I be the assignee?

[2020-10-06 11:41] johnatannvmd commented on #27697
IMHO you should push the Influx Data team for this, not Grafana Team.

OFFTOPIC: If some company releases a new great product and wants to integrate it with Grafana who should publish the plugin?

[2020-10-06 12:24] papagian opened #28053 "Cloudwatch: missing dimension in AWS/TransitGateway namespace"
**What happened**:
[TransitGatewayAttachment](https://docs.aws.amazon.com/vpc/latest/tgw/transit-gateway-cloudwatch-metrics.html#transit-gateway-dimensions) dimension for `AWS/TransitGateway` namespace is [missing](https://github.com/grafana/grafana/blob/0a2ef086b3a92e6362427c4479157aae5b4d7f01/pkg/tsdb/cloudwatch/metric_find_query.go#L217).

**What you expected to happen**:

**How to reproduce it

[2020-10-06 12:25] srnlfk commented on #25149
It worked for me when i first installed 6.7.4 and then updated to 7.2 with rpm -U --nodeps grafana-7.2.0-1.x86_64.rpm.

[2020-10-06 12:28] marefr opened #28054 "Elasticsearch: Raw data query doesn't render ad-hoc filter selection in table panel"
**What happened**:
When doing a raw data query using Elasticsearch and visualize in table panel doesn't render ad-hoc filter selections in cells.In this example I'm hovering the _index column/first row:
![image](https://user-images.githubusercontent.com/1668778/95201037-a6a71000-07df-11eb-8c88-91bf9c9ae142.png)

**What you expected to happen**:
Ad-hoc filter selection to be shown on hover of cell

[2020-10-06 12:53] kylebrandt commented on #22199
The Azure Log Analytics datasource has been reworked in 7.1 and later. So I think this may be fixed in latest versions. If this is not the case please reopen the issue.

[2020-10-06 12:53] #22199 closed

[2020-10-06 13:00] gjemp opened #28056 "Notification channel Back route does not have the subpath"
**What happened**:
back button in notification channel edit view does not count in the root_url path where the proxy subPath is defined to make the routing correctly
 serve_from_sub_path = True

**What you expected to happen**:
I will be routed back to list view from where i got there.

**How to reproduce it (as minimally and precisely as possible)**:
Preconditions:
in grafana.ini define root_url

[2020-10-06 13:38] marefr commented on #27293
Maybe related/will be fixed by #25548. Suggest we return to this when that have been merged to master.

[2020-10-06 13:38] szerwi commented on #27802
@mckn Here you are. I've only blured my IP address in "General" section.
![image](https://user-images.githubusercontent.com/19311511/95208799-e3780480-07e9-11eb-9251-36b6fb432928.png)

[2020-10-06 13:38] alexanderzobnin commented on #27832
Hi! What's a panel you're using? Can you show panel configuration?

[2020-10-06 13:44] marefr commented on #27190
Needs to add a new field to this file to support this: https://github.com/grafana/grafana/blob/master/pkg/services/alerting/notifiers/pushover.go

[2020-10-06 13:48] mckn commented on #27802
Ah, perfect! If you highlight the small little yellow triangle at the end of the "Set-Cookie" line. What does that say? Because it looks like the `cookie_secure` value in your configuration is set to `false`.

[2020-10-06 13:51] szerwi commented on #27802
@mckn It says "This Set-Cookie was blocked because it had the "SameSite=None" attribute but did not have the "Secure" attribute, which is required in order to use "SameSite=None"."

[2020-10-06 13:53] mckn commented on #27802
So make sure that you only have one `cookie_secure` value in your configuration and that it is set to `true`.

[2020-10-06 13:57] szerwi commented on #27802
@mckn There is only one cookie_secure value in my configuration file and it is set to true. Should I change the cookie_samesite to anything else?

[2020-10-06 14:00] mckn commented on #27802
hmm, no - it should work with that configuration.

[2020-10-06 14:04] szerwi commented on #27802
@mckn I have also checked it on Microsoft Edge browser (logging in works fine on that browser). All the headers are the same, the only difference is that on Edge there is no warning which is on Opera / Chrome.

[2020-10-06 14:05] torkelo commented on #27865
Can you try latest master (7.3 nightly) https://github.com/grafana/grafana/pull/27963

[2020-10-06 14:05] #27865 closed

[2020-10-06 14:09] torkelo commented on #27866
@oddlittlebird something the docs squad can take a look at ?

Maybe creating a GitHub docs project is a good idea to visualize & prioritize docs backlog & work in-progress
And by project I mean one of these, https://github.com/grafana/grafana/projects. EIther under the grafana repo or under the grafana org (Org projects can have issues from many different repos)

[2020-10-06 14:11] torkelo commented on #27873
Agree!

We are working on reusable (shared) panels between dashboards (and will have separate database table). https://github.com/grafana/grafana/issues/1803

Same for new alerting system, alert rules will be created and edited outside of dashboards (so not part of a dashboard or panel json).

[2020-10-06 14:11] #27873 closed

[2020-10-06 14:20] torkelo commented on #27874
Think it's due this line https://github.com/grafana/grafana/blob/master/public/app/core/services/backend_srv.ts#L43

on 401 response we just send the user to that page that then redirects to login. Think if we instead did a full page reload the backend should redirect the user to the login page with the correct page remembered

[2020-10-06 14:25] torkelo commented on #27882
Try the merge transform.

What is the result from all your queries? (the table structure)

[2020-10-06 14:26] torkelo commented on #27889
probably same issue as others report in https://github.com/grafana/grafana/issues/27802

Check your cookie_secure or your cookie_samesite option

[2020-10-06 14:26] #27889 closed

[2020-10-06 14:28] torkelo commented on #27891
Think it needs to be added here: https://github.com/grafana/grafana/blob/master/pkg/tsdb/cloudwatch/metric_find_query.go#L44

[2020-10-06 14:30] torkelo commented on #28052
The challenge here would be what scripting language and how to make this secure (allowing arbitrary javascript as part of dashboard definition is not secure)

[2020-10-06 14:53] tsekine354 opened #28058 "Stackdriver: Add support for select_slo_burn_rate(SLO_NAME, LOOKBACK_PERIOD)"
**What would you like to be added**:
Add `SLI Burn Rate - select_slo_burn_rate (SLO_NAME, LOOKBACK_PERIOD)` as a Stackdriver SLO query Selector option.

It's mentioned in https://github.com/grafana/grafana/issues/22627, but dropped from initial PR https://github.com/grafana/grafana/pull/22917 as discussed in the issue.

**Why is this needed**:
`select_slo_burn_rate(SLO_NAME, LOOKBACK_PERIOD)` is o

[2020-10-06 15:04] xlson opened #28059 "Add PR name and author to Drone notifications"
**What would you like to be added**:

PR name and author information to the Drone notifications

**Why is this needed**:

The current notifications are good to have but I'm not interested in all build failures, it would be great to see a notification and know if I need to care (it is something I'm involved in).

[2020-10-06 15:05] dylan-asos commented on #28052
@torkelo yep for sure.  A large number of scenarios I'm seeing are these table / simple lookup's based on another variable .

So requirements could be reworded as - the ability to represent a data structure client side which has rows/is a collection, which I can select from and set another variable - rather than 'define and run any script'

Variable Type : 'Collection'
Input a -> Panel to create f

[2020-10-06 15:10] devopsix opened #28060 "Setting any field display name for a bar gauge makes panel render “No data”"
**What happened**:

Using a template variable (`$__cell_0`) for the display name of a PostgreSQL table query based bar gauge field makes the panel show “No data”.

**What you expected to happen**:

Using a template variable (`$__cell_0`) for the display name should cause the bars being labelled as the value in the query result's first column.

**How to reproduce it (as minimally and precisely as p

[2020-10-06 15:15] torkelo commented on #27111
think this is working as intended, any thoughts @marefr @alexanderzobnin  ?

[2020-10-06 15:15] marefr commented on #27059
Since importing a dashboard from grafana.com (that requires variables/data source to be selected) is only supported thru the UI today a logical first step would be to support importing a dashboard (originating from grafana.com or exported for public use) thru the HTTP API. A logical next step could be supporting provisioning of dashboard (originating from grafana.com or exported for public use), b

[2020-10-06 15:17] oddlittlebird commented on #27866
We have a Monday.com board that we are using to organize our work. Since we work in multiple repos, it does not make much sense to have GitHub project boards.

And this is something that we would need an SME to help us with. There are several things that could be wrong here. Is it a bug in the InfluxDB data source? Is it a documentation update? If documentation, then what should the doc update be?

[2020-10-06 15:25] torkelo commented on #28054
Looks like there is no filterable: true set on any field config  https://github.com/grafana/grafana/blob/0a2ef086b3a92e6362427c4479157aae5b4d7f01/public/app/plugins/datasource/elasticsearch/elastic_response.ts#L573

[2020-10-06 15:30] andrew-pickin-epi commented on #11126
jsonData:
    esVersion: "70"
    interval: "Daily"

Both are ignored.

[2020-10-06 15:33] andrew-pickin-epi opened #28062 "Unable to set Elastic Search esVersion and pattern using Provisioning"
[code]

Both eaVersion and Pattern are ignored.

[2020-10-06 15:34] ChSanjayBabu commented on #23305
Blendstat plugin gives flexibility to adjust font size, but i found problem changing backgroud

[2020-10-06 15:34] andrew-pickin-epi opened #28063 "Elasticsearch provisioning ignores esVersion and pattern/interval."
[code]

Both esVersion and interval are ignored.

[2020-10-06 15:36] mojatt commented on #27802
I tried changing "cookie_secure" in my config (not running https) to true and the issue is still apparent. :(

[2020-10-06 15:46] #28045 closed

[2020-10-06 16:55] jongyllen opened #28065 "Encrypt the dashboard data inside dashboard_snapshots"
**What would you like to be added**:
We would like the data inside dashboard_snapshots (the dashboard column) to be encrypted.
Maybe the same way secure json is encrypted inside the datasource table

**Why is this needed**:
This column could potentially contain private data

[2020-10-06 17:05] aknuds1 opened #28066 "Chore: Make cronjob to query for untriaged issues"
Should make a Drone cronjob that queries the GitHub API periodically for untriaged issues, and sends a Slack message to the grafana-issue-triage channel.

[2020-10-06 17:22] #28053 closed

[2020-10-06 17:39] aknuds1 commented on #28063
Is this a duplicate of #28062?

[2020-10-06 17:52] #27304 closed

[2020-10-06 17:52] netbix commented on #27832
i updated grafana to 7.2.0 again and now here's the problem:
![image](https://user-images.githubusercontent.com/66208491/95241018-83935500-080d-11eb-87ba-51ca3d8d8eb2.png)

[2020-10-06 17:56] netbix commented on #27832
![image](https://user-images.githubusercontent.com/66208491/95241224-c0f7e280-080d-11eb-89ff-e64be9532301.png)

[2020-10-06 17:58] netbix commented on #27832
hostname and system information in zabbix exist
![image](https://user-images.githubusercontent.com/66208491/95241584-42e80b80-080e-11eb-9624-c57284077115.png)

[2020-10-06 18:02] oddlittlebird commented on #28036
Which links? I just tested them all, and they seem to be working fine.

[2020-10-06 18:08] netbix commented on #27832
![image](https://user-images.githubusercontent.com/66208491/95242619-b50d2000-080f-11eb-97e6-46cc32bfd493.png)

[2020-10-06 18:09] achatterjee-grafana commented on #28036
@aknuds1, can you specify which link is broken? All of them worked for me. TY.

[2020-10-06 18:33] torkelo commented on #27857
Think use cases like this is best handled by putting a fully-featured reverse proxy in front of Grafana (like nginx). But will leave this open as a feature request

[2020-10-06 18:38] torkelo commented on #27877
Why did it fire?

[2020-10-06 18:55] M0rdecay commented on #27877
"No Data" and "OK", yes.

[2020-10-06 18:59] netbix commented on #27832
I have downgrade grafana to 7.1.5 and this is query isspect

{
  "request": {
    "url": "api/datasources/1/resources/zabbix-api",
    "method": "POST",
    "data": {
      "datasourceId": 1,
      "method": "history.get",
      "params": {
        "output": "extend",
        "history": "1",
        "itemids": [
          "62728"
        ],
        "sortfield": "clock",
        "sortorder": "ASC",

[2020-10-06 19:25] Blackbaud-ChrisBlythe opened #28068 "Group by "tag" not available in alert data associated with Azure Log Analytics query"
**What you expected to happen**:
For InfluxDB datasources, I've had a lot of success creating alerts that cover several targets (ie. servers, etc.) by using a single query with a "group by" clause. In this case, the alert result exposes the "tag" from the "group by" clause in various parts of the result to delineate them. As an example, here is an InfluxDB query and corresponding alert result that

[2020-10-06 20:06] KarineValenca commented on #22890
Can I take this up?

[2020-10-06 20:14] ahlaw commented on #17210
I tested the above workaround of setting `null) OR (true` as the custom ALL value, and it seems like a preferable approach since it doesn't modify the query outside of the variable during interpolation.

[2020-10-06 20:33] danfoxley commented on #28036
Well, they all work for me now too. Sorry for the false alarm. (I'd have to think it was not working at the time, the links loaded but reported an error).

[2020-10-06 20:33] #28036 closed

[2020-10-06 20:45] marefr commented on #25149
Thanks @srnlfk.

The dependency of chkconfig was added due to this bug report #22935 to support Fedora. That obviously broke support using SLES12. The main question moving forward is whether we can maintain a single RPM package to support all different distro's. Or is there perhaps best practices/suggestions of how to build RPM package to better support multiple distro's? Any input/feedback would

[2020-10-06 20:51] marefr commented on #27802
Have you read/considered these upgrade notes?
- https://grafana.com/docs/grafana/latest/installation/upgrading/#important-changes-regarding-samesite-cookie-attribute
- https://grafana.com/docs/grafana/latest/installation/upgrading/#cookie-path

[2020-10-06 20:54] marefr commented on #27957
How long time does your queries take that gets cancelled? Using Chrome Developer Tools inspecting the requests being made from the dashboard, can you see if they're cancelled?

[2020-10-06 20:56] marefr commented on #27957
Pinging @hugohaggmark as well since it may be related to the changes made in regards to browser request cancellation/maximum queries allowed at the same time.

[2020-10-06 21:00] szerwi commented on #27802
@marefr Thanks, it seems that changing cookie_samesite from none to disabled fixed the problem :)

[2020-10-06 21:18] alanmiller commented on #28041
@aknuds1 Does that correspond to the standard template?

[2020-10-06 21:38] marefr commented on #27802
Thanks

[2020-10-06 21:38] #27802 closed

[2020-10-06 21:55] marefr commented on #27791
Maybe this can bring some clarity to what Andrej referring to, basically you need to restart the auto increment columns in all tables so they begin counting from the last inserted primary key/id. This seems to be a popular solutin: https://stackoverflow.com/a/5343914

With that I would think doing something like this should reveal the current (next) sequence number used for the dashboard_version t

[2020-10-06 22:02] marefr commented on #27760
I think the idea is that you configure TLS in the cloudsql proxy and connect from Grafana to the proxy (127.0.0.1:3306) without TLS.

[2020-10-06 22:23] marefr commented on #27253
You still haven't provided the query your using in the query editor so very hard for us to investigate. Based on my own knowledge this is how I would use the `$__timeGroup` macro and it definitely works using a min interval > 288h:
![image](https://user-images.githubusercontent.com/1668778/95266077-c1ef3b00-0832-11eb-949a-6ca3e9416706.png)

Not able to reproduce and possibly thus has been fixed in

[2020-10-06 22:27] marefr commented on #27314
Duplicate of #23473

[2020-10-06 22:28] marefr commented on #27314
Maybe not exactly like referenced issue, but solving that would include a solution for Grafana Admin similar to what we have for LDAP grouo mapping.

[2020-10-06 22:28] #27314 closed

[2020-10-06 23:46] marefr commented on #11126
@andrew-pickin-epi this is yaml. Make sure it's correctly formatted. Looks like you'tr adding 70 incorrectly as a string "70". Please refer to the [documentation](https://grafana.com/docs/grafana/latest/features/datasources/elasticsearch/#configure-the-data-source-with-provisioning).

[2020-10-06 23:51] marefr commented on #27111
I guess this use case have never really been taken into account. But adding a check in the oauth login, if you're already logged in we can redirect in similar manner as we do in regular login page. This is still a nice to have and probably nothing we would prioritize to work on. But if someone would be interested in contributing a fix for it I would say we're open for accepting it.

[2020-10-07 00:02] marefr commented on #20089
@jgulick48 probably make sense :+1:

[2020-10-07 00:29] marefr commented on #27837
@aocenas yes, what ever got changed in the 7.1 would still be in the DB creating issues after downgrading back to 6.6.

We always recommend to do a [backup before upgrading](https://grafana.com/docs/grafana/latest/installation/upgrading/#backup).

If you upgrade again you should make sure you have the `UQE_data_source_org_id_uid` index. You should be able to see the migration log over the datasour

[2020-10-07 00:29] #27837 closed

[2020-10-07 04:25] aknuds1 commented on #22890
@KarineValenca Sure, go ahead.

[2020-10-07 04:25] hugohaggmark commented on #27957
**Background:**
In 7.2 we did add a queue for the backend requests so if you haven't configured http2 for your Grafana instance you should see that only 5 concurrent data source requests are being handled at any given time. As part of 7.2 we also made Prometheus data source cancelable changing to an api using Observables, could it be that the requests get the same `requestId` and now those are rea

[2020-10-07 04:35] aknuds1 commented on #28041
This looks much better, thanks.

[2020-10-07 04:47] torkelo commented on #28041
This is not a Grafana bug/issue, As Prometheus returns nothing when there is no label match, just an empty result so nothing for Grafana to join to.

[2020-10-07 04:47] #28041 closed

[2020-10-07 06:01] freman opened #28070 "Samsung Tizen TV (1280) - Not Loading"
**What happened**:

![image](https://user-images.githubusercontent.com/506680/95292711-5ac69a80-08b5-11eb-96a5-06c5ed036264.png)

https://github.com/grafana/grafana/blame/61bd33c24187184b058571c42f0e5f5129d22320/packages/grafana-data/src/datetime/formats.ts#L91 introduced code which breaks Samsung Tizen TVs (ver 1280)

**What you expected to happen**:

It not to be broken

**How to reproduce it (a

[2020-10-07 06:17] aryak007 commented on #9953
Is there an update on creating a data source which talks to the AWS CE API? A timeline, perhaps?

[2020-10-07 06:44] Tepew commented on #27791
From dump I delete this
`INSERT INTO "sqlite_sequence" VALUES('migration_log',239);
INSERT INTO "sqlite_sequence" VALUES('user',55);
INSERT INTO "sqlite_sequence" VALUES('dashboard',86);
INSERT INTO "sqlite_sequence" VALUES('dashboard_provisioning',0);
INSERT INTO "sqlite_sequence" VALUES('data_source',8);
INSERT INTO "sqlite_sequence" VALUES('api_key',0);
INSERT INTO "sqlite_sequence" VALUES('das

[2020-10-07 07:34] torkelo commented on #27923
Probably a connection issue. Make sure Grafana server can access the url you specified

[2020-10-07 07:37] #27923 closed

[2020-10-07 07:42] tsekine354 commented on #28048
There is no behavior change in latest Grafana 7.2.0.

To be exact, on QueryEditor, project value is preset by `getDefaultProject()` value. And then, I could type free text there.

While on VariableQueryEditor, there is no preset value on project, but default project seems to be used in preview query when project is not configured.

[2020-10-07 07:55] jartigag commented on #27821
i could resume this. may i?

[2020-10-07 07:57] torkelo commented on #27946
Thanks for reporting this. Feels tricky to solve. Might need some fundamental change to how collapsed rows work and repeated panels.

[2020-10-07 08:02] torkelo commented on #27952
Prometheus supports newlines in query. So must be something wrong in your syntax?

[2020-10-07 08:06] torkelo commented on #27899
Thanks for reporting this! Need to improve the inspect drawer for angular panels so you can select result and view raw data.

[2020-10-07 08:13] torkelo commented on #27991
Thanks for the feedback. When you add a data source in the first step it already adds the data source. We need it added in order to test connection details.

But we can improve this

[2020-10-07 08:13] #27991 closed

[2020-10-07 08:13] mckn commented on #28060
@devopsix does it work if you change the `${__cell_0}`?

[2020-10-07 08:15] torkelo commented on #27913
If you switch to new table panel, in 7.2 you can download csv with formatting preserved

[2020-10-07 08:15] #27913 closed

[2020-10-07 08:21] dprokop commented on #28051
@peterholmberg are you investigating this one?

[2020-10-07 08:37] #28054 closed

[2020-10-07 08:39] #28063 closed

[2020-10-07 08:42] aocenas commented on #28062
Seems like the version needs to be a string see https://github.com/grafana/grafana/issues/11126 for details.

Not sure about the pattern we will have to look at that.

[2020-10-07 08:43] aocenas commented on #28062
We may need to make the docs about how the version should be specified more clear.

[2020-10-07 08:52] aocenas commented on #26714
So we do a deduplication of logs based on timestamp and the log message, because loki can send duplicate logs due to limitation of the ingestion architecture. In that case we actually don't want to show those duplicates. Are you saying that this is not a duplication but real logs and you want to show them even though the are exactly the same lines?

[2020-10-07 08:52] czomo commented on #27313
The problem seems to be solved since the last time I looked at it, but this is the dashboard I used.`{
  "__inputs": [
    {
      "name": "DS_PROMETHEUS",
      "label": "prometheus",
      "description": "",
      "type": "datasource",
      "pluginId": "prometheus",
      "pluginName": "Prometheus"
    }
  ],
  "__requires": [
    {
      "type": "grafana",
      "id": "grafana",
      "name":

[2020-10-07 08:56] czomo commented on #27957
Strange, I faced http2 problems even in 7.1.5 version. To bad I didn't have time at all to investigate but now it seems working.

@hugohaggmark From which version of grafana requires http2?
See #27313, I linked my dashboard.

[2020-10-07 08:58] swisspol commented on #26714
I can't say if the app is logging multiple times the same messages or if it's Promtail / Loki that's "creating" duplicates. I certainly hope it's not the latter as it would imply you cannot trust Loki.

In my mind, deduplication should only remove entries that match both on content and timestamp, which means in this example that no entries should be removed.

[2020-10-07 09:06] coussej commented on #27882
Hi @torkelo ,

the merge transform is the reason it's not working "out of the box", but after some consideration I'm thinking this might be the expected behaviour. Simple example to reproduce:

Query A (InfluxQL):
[code]

Query B (Flux, same data at same interval):
[code]

When configuring these two queries, the merge transform doesn't give any option, because both results don't have any colums in

[2020-10-07 09:07] hugohaggmark commented on #27957
Sorry for confusion @czomo, what I meant to say is if you have http2 configured there is no queuing of requests. The queing in 7.2 only applies to those that have NOT configured http2 which is standard. Hope that clarifies my previous comment.

[2020-10-07 09:15] mtanda commented on #27946
The idea `Evaluating panel repeats even for collapsed rows`, doesn't solve this issue.
If template variable values are server_A, server_C and share server_C link with `viewPanel=2` param.
And, when opening the link if template variable values are server_A, server_B, server_C, the panel id 2 might show server_B graph.
Embed actual scoped variable value is important to get same panel.

[2020-10-07 09:24] markuman commented on #23134
I agree, Custom Metrics must be names manuelly in the data source.
but what does not work anymore since 7.2 is, that it fetchs automatically available metric names. that does not work anymore

[2020-10-07 09:41] markuman opened #28075 "Cloudwatch custom metric results in server error when query metricFindQuery"
**What happened**:

Querying aws cloudwatch custom metrics results in a 500er server error when try to get the list of available metric names.

![grafanabug](https://user-images.githubusercontent.com/3920157/95314022-13c6ae00-0891-11eb-803b-25e96e1c14b0.gif)

Server log

[code]

Browser Payload

[code]

Browser response

[code]

**What you expected to happen**:

Autocomplete existings metric names

[2020-10-07 09:42] trallnag commented on #27952
Here is a recording. The syntax is correct as you can see:

![gif4](https://user-images.githubusercontent.com/24834206/95314907-24c3ef00-0892-11eb-8a2e-fd091f34b6f0.gif)

I don't know what could be special about my environment. Vanilla Google Chrome and the latest Grafana release. Since you are assuming that it should work I guess this is more of a bug than a feature request?

[2020-10-07 09:48] Elfo404 opened #28076 "Elasticsearch: Error when adding ad-hoc filters in explore with table panel"
**What happened**:
This is a follow up to https://github.com/grafana/grafana/pull/28064#pullrequestreview-503419967, Ad-hoc filters don't work in explore with the Table Panel.

When adding an ad-hocc filter:
<img width="647" alt="image" src="https://user-images.githubusercontent.com/1170767/95314602-6bf9b200-0889-11eb-88a5-c703063445b9.png">
this error happens:
<img width="606" alt="image" src="ht

[2020-10-07 09:52] mielemilos opened #28077 "Error connecting to loki when using Mozilla firefox because of wrong timestamp"
An error is shown when connection to loki using the grafana web interface
`Loki: Bad Request. 400. invalid query, through < from (1602063114.464 < 1602068953.975) `

**What you expected to happen**:
A working connection, no error

**How to reproduce it (as minimally and precisely as possible)**:
installed using docker-compose: https://raw.githubusercontent.com/grafana/loki/v1.6.0/production/docker

[2020-10-07 10:00] LaXiS96 opened #28078 "InfluxDB Flux: cannot access calculated and mapped values"
**What happened**:
Consider this Flux query:
[code]
`OpcUa` is a measurement where `LineDescription` and `LayoutId` are the only tags and `Alarm` is one of many fields.
The `Alarm` field value is 0 or 1, representing the new state after the change that happened at that timestamp. See the raw field data screenshot: https://pasteboard.co/Juws1ho.png

When using this query as source for a table, all

[2020-10-07 10:02] aknuds1 commented on #28078
@ryantxu Could you help out on this one?

[2020-10-07 10:05] devopsix commented on #28060
@dprokop Unfortunately, no. The issue also seems to exist with `${__cell_0}`.

[2020-10-07 10:09] dgdevops commented on #27760
Hello @marefr,
Thank you for your response.
From now on, will it be the best practice to use Grafana (from v7.2.0) with cloudsql-proxy or is it a workaround until there will be a fix in Go (if there are actually plans to fix it)?

As many users (including me) are using HELM chart to deploy Grafana the CloudSQL-Proxy sidecar option should be available in the chart to make it easier to deploy the pr

[2020-10-07 10:09] dupondje commented on #27957
![image](https://user-images.githubusercontent.com/723195/95317818-f5af7c80-0895-11eb-8ee1-d220167edeea.png)

They get cancelled ...

[2020-10-07 10:12] har1ey commented on #27971
Similar problem..

Grafana version: 7.2
Grafana plugins: alexanderzobnin-zabbix v4.0.1
Zabbix API version: 4.0.6

[2020-10-07 10:18] aknuds1 commented on #28077
Could you also add to the _How to reproduce it _ section how to trigger the bug? You're missing that part.

FWIW, I just tested you docker-compose.yml (although I changed _latest_ with _7.2.0_) and I can query Loki in Firefox without problems (via a table panel).

[2020-10-07 10:56] yuvalman opened #28081 "Table panel column headers collide with each other when use zoom-in in browser"
**What happened**:
In a table panel,
When I zoom-in the browser, the columns headers of the table collide with each other and we can not see the headers clearly.
here is a recording of the bug:
![table_columns_headers_bug](https://user-images.githubusercontent.com/25984852/95320277-efbf9880-08a1-11eb-9f9b-855cc4f86a33.gif)

**What you expected to happen**:
I expect that when I zoom-in in the brows

[2020-10-07 11:05] aknuds1 commented on #28081
v6.5.x is unsupported at this point. Have you tried v7.2.x instead?

[2020-10-07 11:07] RahilRehan commented on #27821
please proceed @jartigag

[2020-10-07 11:22] ivanahuckova commented on #27593
So the problem why selected fields are not persisted when refreshed is because we unmount the log container when running new query/refreshing, as we don’t know what kind of results are we going to receive - what panel is going to showed. And therefore parsed field settings are lost.

So couple of options we could do, and that I could think of:
- I think that the best option would be to save parsed

[2020-10-07 11:38] dupondje commented on #27957
I've tried enabling http2 on my reverse proxy in front of Grafana, but it still gives me cancelled requests.
Something is really broken :-(

[2020-10-07 11:39] mielemilos commented on #28077
I found the trigger: an incorrect time on the client.
when exploring I see the following call:

1. http://localhost:3000/api/datasources/proxy/1/api/prom/label?start=1602077290738000000&end=1602080890739000000
2. http://localhost:3000/api/datasources/proxy/1/api/prom/label?start=1602080290873000000
3. http://localhost:3000/api/datasources/proxy/1/api/prom/label/job/values?start=1602077290738000000

[2020-10-07 11:40] hugohaggmark commented on #5323
I think this feature request has been solved for a while. The latest changes including a bug fix will be released with Grafana 7.2 (see #27926).
I'm going to close this for now but we can reopen it.

[2020-10-07 11:40] #5323 closed

[2020-10-07 11:44] hugohaggmark commented on #27957
Then I think we can rule out the queue, thank you. Looking at your screenshot, do I get this correctly that your 5th request is always cancelled or are there more requests?

[2020-10-07 11:45] aknuds1 commented on #28077
As I asked though, can you update the issue description as follows?

[2020-10-07 11:50] dupondje commented on #27957
@hugohaggmark : there are way more requests indeed. It does a bunch of requests (like 20-50) and then it gives 'Cancelled'.

Not sure if its always the case, but seems like it has always issues with graphs that contain +10 queries.

[2020-10-07 11:56] hugohaggmark commented on #27957
Ok, thank you I'll try to repro this locally.

**Questions?**
How long time does the requests that get cancelled take?
Is it always the same graph panels that are experiencing this issue?

[2020-10-07 12:00] mielemilos commented on #28077
I added the line (in bold): Have an incorrect time setting on the client system

[2020-10-07 12:01] xlson commented on #20335
duplicate of #17836

[2020-10-07 12:01] #20335 closed

[2020-10-07 12:01] aknuds1 commented on #28077
And what do you do after the last step listed, "add loki with http://loki:3100"? Trigger the bug through some query?

[2020-10-07 12:03] mielemilos commented on #28077
no, it pops up
Correct time:
![image](https://user-images.githubusercontent.com/6410323/95328357-c0128f80-08a5-11eb-8211-4bc3b5c3e224.png)
Time in the future:
![image](https://user-images.githubusercontent.com/6410323/95328434-d7ea1380-08a5-11eb-8eaa-e8a1ebc3e6ce.png)

[2020-10-07 12:05] fredr commented on #27593
Adding it to the URL would make me happy, since it would then be preserved when pasting links to team members while debugging problems. But it would also result in quite long and "ugly" urls.

[2020-10-07 12:10] aknuds1 commented on #28077
But why do you say in the issue description that you get the following error in the UI:

Your screenshot contradicts the above.

[2020-10-07 12:11] dupondje commented on #27957
They don't even get started it seems. So its not that they get cancelled due to timeout.

It seems to be (as far as I tested different cases), always triggered by graphs with +10 queries.
There is also no other way to get things refreshed etc by just doing F5. Seems like everything hangs.

I can even simulate it by just opening 1 graph (the one with a lot of queries).
Opening it, it does 23 querie

[2020-10-07 12:16] mielemilos commented on #28077
You're right, this is what happend the first time and this is an older version of both grafana and loki.

The error returned has the same message but a 500 http return code.

After that I installed the submitted version locally and got the error as submitted.
I'll remove these screenshots and try to properly recreate the error

[2020-10-07 12:18] aknuds1 commented on #28077
If you get a 400 error, I don't see why it's a bug? The client sends an invalid time and Loki responds with an error. What else should happen?

[2020-10-07 12:25] ivanahuckova commented on #20166
@chipsmaster I think that your issue is happening in Explore and not in Dashboard's Logs panel, as LogsPanel doesn't provide option to show context. Therefore if you have a problem with context in Explore, could you please open a new issue.

[2020-10-07 12:32] hugohaggmark commented on #27957
I can't repro this locally using A-Z queries in the same graph panel. I have 2 graph panels in the same dashboard with A-Z amount of queries. One querying local prometheus and another panel querying remote test prometheus.

[2020-10-07 12:33] ivanahuckova commented on #20166
I have changed the label to `type/feature-request`, as we don't have show context functionality in logs panel and couple months ago we have removed the `show context` button, as it wasn't doing anything and it was probably confusing for users. Let's have a discussion if we would like to generally provide interactivity in LogsPanel (show context, logs details, toggle parsed fields) or keep it only

[2020-10-07 12:33] mielemilos commented on #28077
That's a good question. In this case I had not selected a date and got an error suggesting that loki was down and that grafana was not able to connect to it. This was also the case when trying to add loki as a datasource and that might give the user a wrong impression.

But as i'm trying to re-reproduce to get a screenshot I, of course, cannot get the error back.
So let's close this for now, i'll

[2020-10-07 12:33] #28077 closed

[2020-10-07 12:33] torkelo commented on #27924
Must be something wrong when you prep and copy the plugin to the folder in the docker file.

Better to copy the plugin to GF_PATHS_PLUGINS

https://github.com/grafana/grafana/blob/master/packaging/docker/run.sh#L88

or use our preferred way to install plugins:
https://grafana.com/docs/grafana/latest/installation/docker/#install-plugins-in-the-docker-container

[2020-10-07 12:33] #27924 closed

[2020-10-07 12:34] aknuds1 commented on #28077
I don't see how the error message you posted indicates that Loki is down, rather that there's an error connecting to it.

[2020-10-07 12:36] dupondje commented on #27957
The panel I have is one with 158 queries.
The other that is broken has 159 queries.

Yes quite a lot :) But on 7.1.5 it works smooth.

[2020-10-07 12:38] hugohaggmark commented on #27957
Wow, not sure that is optimal! Very curious why this works in 7.1.5 and not 7.2

[2020-10-07 12:41] torkelo commented on #27127
there is no way to send authorization credentials in the preflight request, you need to allow the preflight OPTIONS request so browser knows it's allowed crom a CORS perspective

[2020-10-07 12:41] #27127 closed

[2020-10-07 12:43] ivanahuckova commented on #27593
Maybe this PR will make you happy then https://github.com/grafana/grafana/pull/27409 :)

[2020-10-07 12:43] torkelo commented on #22642
closing this as it looks CORS related

[2020-10-07 12:43] #22642 closed

[2020-10-07 12:44] torkelo commented on #28009
duplicate of #15050

[2020-10-07 12:47] torkelo commented on #27961
basic auth is the only way Grafana authenticates with InfluxDB.

So even if you have basicAuth disabled Grafana will send the database user & password via the Authorization header:

[2020-10-07 12:47] #27961 closed

[2020-10-07 12:48] Jerome-Paddick commented on #27873
Good stuff, looking forward to it

[2020-10-07 12:51] torkelo commented on #27957
:exploding_head: :vomiting_face:  that's a lot of network request, wish Prometheus had request batching :)

I have heard of like 5 or ten queries in a single panel but never anything like this :)

[2020-10-07 12:52] torkelo commented on #27957
You do know Prometheus supports regex label matching? what could cause you to need so many queries?

[2020-10-07 12:57] dupondje commented on #27957
@torkelo : Yea its huge, but never seen any issues with it I must say :)

The root cause of this is in fact caused by the collector we use: Telegraf.
For MySQL it creates multiple metrics for each command:
- mysql_com_admin_commands
- mysql_com_alter_table
- mysql_com_xxx
- and so on

So that means each command need its own query.
In an ideal world it would be mysql_com{which="alter_table"}, but i

[2020-10-07 13:10] andrew-pickin-epi commented on #28063
appVersion: 1

datasources:
- id: 3
  orgId: 1
  name: Elasticsearch
  type: elasticsearch
  typeLogoUrl: "public/app/plugins/datasource/elasticsearch/img/elasticsearch.svg"
  access: proxy
  url: "http://elasticsearch:9200"
  password: ""
  user: ""
  database: "[fluentd-]YYYYMMDD"
  basicAuth: false
  isDefault: false
  jsonData:
    esVersion: 70
    interval: "Daily"
    logLevelField: ""

[2020-10-07 13:17] fredr commented on #27593
It makes me very happy! :smile:

[2020-10-07 13:48] xlson commented on #7200
Closing this as it's no longer an issue in 7.2.0, I presume it has been working for quite some time.

[2020-10-07 13:48] #7200 closed

[2020-10-07 14:09] torkelo commented on #27952
ah, I see it's these custom query syntaxes grafana has.

[2020-10-07 14:22] acedrew commented on #27253
![image](https://user-images.githubusercontent.com/977415/95343906-09071b80-0887-11eb-9e0a-0ab52f73ba54.png)

[2020-10-07 14:23] acedrew commented on #27253
![image](https://user-images.githubusercontent.com/977415/95344020-2b009e00-0887-11eb-96ca-b14ddb9ac665.png)

[2020-10-07 14:23] acedrew commented on #27253
I'll check in 7.2 as well.

[2020-10-07 14:28] acedrew commented on #27253
Same problem in 7.2
![image](https://user-images.githubusercontent.com/977415/95344632-dad60b80-0887-11eb-8f49-3c9179682cd0.png)

[2020-10-07 14:29] acedrew commented on #27253
I also checked using $__timeGroup instead of $__timeGroupAlias, same result. Strange that you can't recreate it.

[2020-10-07 14:35] amnonh commented on #26447
Any updates? It seems like a small issue, but setting the home dashboard is such a required UX

[2020-10-07 14:38] tolik-u commented on #27905
It was fixed in one of the recent version, I updated to 7.2.0  and it fixed the problem

[2020-10-07 14:46] bogski87 commented on #6606
so was this implemented or not? A thread on the forums says the config documentation details how to disable invites but there is nothing in there and no options in the config file

[2020-10-07 14:46] dustball opened #28087 "Latest Chrome Update Breaks Frame Embedding"
**What happened**: When logging in while in a `<frame>`, `/login` does a 302 to `/`

[Screen recording](https://imgur.com/a/PZD0ln7) - EDIT: fixed link to recording (click speaker icon for narration)

**What you expected to happen**:  Login successful

**How to reproduce it (as minimally and precisely as possible)**:  Upgrade to latest Chrome and try to login in a frame

**Anything else we need to

[2020-10-07 15:02] aknuds1 commented on #27905
Closing since it seems to be fixed. Please let us know if it still happens for you in newer versions.

[2020-10-07 15:02] #27905 closed

[2020-10-07 15:04] aknuds1 commented on #28087
Can you please try the latest version, v7.2.0 and see if your issue remains?

[2020-10-07 15:10] dustball commented on #28087
I upgraded to v7.2.0 (efe4941ee3) and confirm the issue remains.

[2020-10-07 15:35] ivanahuckova commented on #23042
@kongluoxing, could you please fill out following information:

**Environment**:
- Grafana version:
- Data source type & version:
- OS Grafana is installed on:
- User OS & Browser:
- Grafana plugins:
- Others:

Also, any screenshots/information/recordings of your screen would be highly appreciated.

[2020-10-07 15:40] ivanahuckova commented on #23042
I have looked into this and not sure what could be the problem. All language-provider queries are sent trough `metadataRequest` that adds the basicAuth header, if it is there. Therefore I am not sure, why it is not adding it in case above.

*Request to /api/v1/label with auth header*
![image](https://user-images.githubusercontent.com/30407135/95353693-d891a280-08c3-11eb-8fb7-14715406d092.png)

*Re

[2020-10-07 15:54] kylebrandt commented on #21206
Currently the Azure Kusto style data sources (Log analytics, App Analytics, Data Explorer) only support one table in a response.

There are two workarounds for this:

1. Make two queries from Grafana:

![image](https://user-images.githubusercontent.com/1692624/95355505-a0726b80-0893-11eb-97c9-e2bf5aec28ce.png)

2. Do a join on the two tables, to make one table:

![image](https://user-images.github

[2020-10-07 15:58] kylebrandt commented on #21206
For reference, the code that does this is:

https://github.com/grafana/grafana/blob/98b94d3824dfa084c2f728fdbc7558c0cd058776/pkg/tsdb/azuremonitor/azure-log-analytics-datasource.go#L254-L262

[2020-10-07 16:12] robbybb commented on #26029
I have a similar problem using variables that is worse than a query failure.  It actually consistently causes prometheus to crash:
Oct 07 10:44:32 prom-devopsdev1-1 prometheus[6157]: created by net/http.(*Transport).dialConn
Oct 07 10:44:32 prom-devopsdev1-1 prometheus[6157]: /usr/local/go/src/net/http/transport.go:1338 +0x941
Oct 07 10:44:32 prom-devopsdev1-1 prometheus[6157]: goroutine 2609 [sel

[2020-10-07 16:19] larsjohnson commented on #9292
+1.  We have many fields with enumerated values, and need a visual way of assigning the number with a short text value either in the y-axis or in the graph tooltip popup

[2020-10-07 16:28] ivanahuckova commented on #20527
I believe that this should be fixed by refactor of prometheus results to data frame  (https://github.com/grafana/grafana/pull/27737/files) and should be part of 7.3 release

[2020-10-07 16:29] #20527 closed

[2020-10-07 16:31] #27824 closed

[2020-10-07 17:03] #27891 closed

[2020-10-07 17:29] ivanahuckova commented on #20311
I have tested this out an it is working as expected - you can create template variables for Loki using it as Prom datasource.
![image](https://user-images.githubusercontent.com/30407135/95365506-82782b80-08d2-11eb-9d08-b999c61d5160.png)

[2020-10-07 17:29] #20311 closed

[2020-10-07 18:01] DU-ds opened #28089 "Changes to Constant template variables do not persist"
**What happened**:
changing constant template variables does not persist after save; two fields in the json regresses to previous value on page reload (after saving) causing the old values to be used
**What you expected to happen**:
changing a constant template variable persists in json after reload
**How to reproduce it (as minimally and precisely as possible)**:

1. create new dashboard
2. creat

[2020-10-07 18:12] timpalpant commented on #26242
Just noting that we have also seen this occur with dashboards edited only in 7.0, so it is unlikely to be due to the migration but rather some other race when saving dashboard state.

[2020-10-07 19:17] ndeevy commented on #19270
Hello @oddlittlebird  Could I possibly try to address this issue?

[2020-10-07 19:22] ndeevy commented on #26790
Hi @ryantxu  Could I try to tackle this issue?

[2020-10-07 20:07] edfungus commented on #28013
Ah, I don't control our grafana instances so I personally can't do that but I can see if we can get it upgraded

[2020-10-07 20:43] ajaxous commented on #28042
Hi.

I wasn't initially sure if the issue was with the plugin or Grafana so I thought I'd put here to see if others may have encountered the same phenomena.  Lookin at issue #27971 it seemed like there may be something similar happening.

If the Series to Rows transform doesn't work with text data I can see that triggering what I'm seeing (The NaN message was a bit confusing).  Are there plans to

[2020-10-07 21:06] tbotalla commented on #27831
@torkelo @aocenas I understand that you need to keep the inspect for that, but how would you do to embed on a website a panel or a snapshot without exposing that data? Is it possible? Maybe there is a feature that I am missing.
Thanks for answering.

[2020-10-07 21:13] ryantxu commented on #23305
#28091 will help with *part* of the issues.  However, it will not help with the scale dependent issues.

[2020-10-07 21:42] marefr commented on #28087
I think this may be a duplicate of #27802

[2020-10-07 22:03] MartynKeigher commented on #26397
Hmmm.... still not working in the following setup...

- Grafana: 7.3.0
- InfluxDB 2.0 (RC) and\or Influx 2.0 (beta)

Anyone out there managed to get this work in this setup? I have been battling this one now for HOURS!!

Thanks.

[2020-10-07 22:03] marefr commented on #28078
I may be wrong, but I think you have to use a transformation to achieve what you want. I have this similar example with 3 series with each having label key server and values A, B and C:
![image](https://user-images.githubusercontent.com/1668778/95392697-7fdcfc80-08f9-11eb-96b6-c3edd61f410b.png)i

Adding a labels to fields transformation I think the result is in line with what you want:
![image](ht

[2020-10-07 22:13] marefr commented on #27760
Right now cloudsql-proxy would be the solution. But we'll keep this issue open and if more users reporting this problem/upvotes this issue/comments etc we'll consider to work on a fix in Grafana,

[2020-10-07 22:34] marefr commented on #27018
I just tried to reproduce using your examples, but I cant. It works as expected for me. I'm using Grafana v7.2 but I don't think that should make a difference actually. I would suggest you try 7.2. I'll close this since it works as expected.

[2020-10-07 22:34] #27018 closed

[2020-10-07 22:36] fatalglitch commented on #17836
The other request like this was closed per the above, so is there any update on roadmap for this feature request? Assigning orgs via OAuth is a pretty important feature if you are using Organizations.

[2020-10-07 22:44] marefr commented on #27389
I just tried your provided configuration at it works as expected for me on 7.2. Make sure that you include the `apiVersion: 1` - did you?

[code]

[2020-10-07 22:44] debashish-github opened #28093 "Grafana dashboard panel with multiple timeseries strips off some of the timeseries data on hover over"
**What happened**:
I have a dashboard panel with about 60 different timeseries data .
I have set up the hover tooltip to show all series with sort as descending.
But when I hover over the timeseries it only shows first few items.

**What you expected to happen**:
Need to see all the items in the timeseries in the hover over panel
**How to reproduce it (as minimally and precisely as possible)**:
Cr

[2020-10-07 23:22] MartynKeigher commented on #2908
5 years (pretty much to THE day) and this has not been put in yet???

I'll +1 this one too, seen as I cant +10000 it! ;p

[2020-10-07 23:41] hedeesaa commented on #23242
there must be some problem with your configuration.
Are you using auth for login?
this variable will remove login fields from your grafana login page and I was using it by mistake:
`GF_AUTH_DISABLE_LOGIN_FORM=true`

[2020-10-08 00:57] ryantxu commented on #28078
@LaXiS96 -- are you able to share the CSV output from chronograf?

I am not totally fluent with flux, but i think you can force it into a table mode rather than the timeseries you are currently returning.  as @marefr points out, you can always convert the labels back to columns -- they are just constants :)

[2020-10-08 02:45] m5x opened #28097 "[Feat Req] Support streaming from InfluxDB"
**What would you like to be added**:

Support for streaming in InfluxDB input data source plugin.

**Why is this needed**:

For efficient real-time monitoring of high frequency sources.

[2020-10-08 05:01] aknuds1 commented on #28093
Can you try upgrading to v7.2.0, or at the very least 6.7.4? We don't support 6.6 any longer.

[2020-10-08 05:02] aknuds1 commented on #28087
Can you try the troubleshooting suggestions in #27802?

[2020-10-08 05:16] carazzim0 opened #28099 "test packages in stable repositories"
**What happened**: Grafana on Debian upgraded to `7.3.0~test` due to unattended-upgrades

**What you expected to happen**: No packages called "test" in stable repositories 😉

**How to reproduce it (as minimally and precisely as possible)**:
[code]

`apt policy grafana` lists "test" package and automatically installs it, if no apt pinning is in place.

[code]
**Anything else we need to know?**:

**

[2020-10-08 05:19] aknuds1 commented on #28099
@carazzim0 Thanks for reporting this! I'll see if I can remove it.

[2020-10-08 05:45] Tepew commented on #27791
Test on other base. It`s work fine.
My mistake that I set sequnce in first time only for table dashboard and didn`t understand why don`t work. Didn`t work because Grafana use for dashboard not one table. If I test on table Star keys close so much faster.

[2020-10-08 05:45] #27791 closed

[2020-10-08 05:54] torkelo commented on #27882
merge will join on all columns with matching name

[2020-10-08 05:54] #27882 closed

[2020-10-08 05:57] torkelo commented on #27882
if you only want to join on one field use seriesToColumns

[2020-10-08 05:58] aknuds1 commented on #28099
I see why it happens now, it's a bug in some new CI logic :man_facepalming: Will do my best to clear it up.

[2020-10-08 06:00] torkelo commented on #27831
But yes, removing this meta data field should be part of the snapshot scrubbing
https://github.com/grafana/grafana/blob/master/public/app/features/dashboard/components/ShareModal/ShareSnapshot.tsx#L114

[2020-10-08 06:06] torkelo commented on #25248
There is a tooltip mode to show all series for the time point you are hovering over

[2020-10-08 06:06] #25248 closed

[2020-10-08 06:07] torkelo commented on #28093
Can be solved by adding a limit the tooltip #12611

[2020-10-08 06:07] #28093 closed

[2020-10-08 06:14] kaddkaka commented on #25248
Toreklo I think you misunderstood the problem? I do get a tool tip when hovering, but I have to hover the exact right pixel.

[2020-10-08 06:15] MarcoA12000 commented on #448
+1

[2020-10-08 06:20] torkelo commented on #25554
This small difference is by design, the lines in the graph have a small transparency I think

[2020-10-08 06:20] #25554 closed

[2020-10-08 06:34] torkelo commented on #28097
Can you link to info on InfluxDB's query streaming capable API?

[2020-10-08 06:36] torkelo commented on #28089
Did you check the checkbox "Save current variable values" when you saved the dashboard?

[2020-10-08 06:37] torkelo commented on #28089
probably a duplicate of #20600

[2020-10-08 06:42] torkelo commented on #28089
/duplicate #20600

[2020-10-08 06:43] #28089 closed

[2020-10-08 06:45] aknuds1 commented on #28075
Can you please paste more logs? The log message you pasted only states that 500 is returned to the client, and there are probably logs before that describing the cause.

[2020-10-08 07:00] LaXiS96 commented on #28078
@ryantxu Here are the Chronograf csv exports for the same time period (2020-10-07 13:00 to 14:00 UTC):
[raw data](https://github.com/grafana/grafana/files/5345816/raw.txt)
[query results](https://github.com/grafana/grafana/files/5345815/query.txt)

@marefr's suggestion looked like a promising workaround until I noticed that the `state` column is always showing one unique value per group, which is

[2020-10-08 07:20] dupondje commented on #27957
After some debugging with @hugohaggmark we've found out the root cause :)

The root cause is that the following graph query:
[code]

Gets converted into
[code]

Now with the new backend code the refId is used, and when it notices a duplicate refId, the request gets cancelled.
This causes the canceled requests.

Changing the JSON to have unique refId's make everything work again!

[2020-10-08 07:23] aknuds1 commented on #28099
Hi, can you just see if the version is gone now please? I've tried pruning it from the repo, but not 100% sure if I did everything required.

[2020-10-08 07:29] marekbeckmann opened #28103 "Cant install Grafana following instructions"
**What happened**: I tried to install Grafana following the official instructions (OSS release) for Debian (https://grafana.com/docs/grafana/latest/installation/debian/)

**How to reproduce it (as minimally and precisely as possible)**: Simply follow the installation instructions (see link above). When it comes to the step `sudo apt-get update` the error will occur (see image below)

![error-insta

[2020-10-08 07:33] dupondje opened #28104 "Force refId to be unique"
**What happened**:

When upgrading Grafana from 7.1.5 to 7.2.0, it adds refId's to the queries that don't have one:

[code]

Becomes

[code]

**What you expected to happen**:
All queries outside the A-Z range now have NA as refId. Which causes other issues:
https://github.com/grafana/grafana/issues/27957

First of all Grafana should handle it correctly when upgrading, so it assigns a unique refId

[2020-10-08 07:33] aknuds1 commented on #28103
Yeah sorry, it's a problem we're in the middle of fixing. Duplicate of #28099.

[2020-10-08 07:33] #28103 closed

[2020-10-08 07:38] torkelo commented on #28056
https://github.com/grafana/grafana/blob/master/public/app/features/alerting/EditNotificationChannelPage.tsx

[2020-10-08 07:40] osks commented on #979
This is not an really an edge case, but rather a very common case. I actually think it's very often that one wants an y-axis with "soft" min/max values. The main reason for setting the y-axis scale is that one want to align it with expected data range, and also to have multiple graphs with aligned y-axis so one can easily compare values.

Highchartjs calls it softMin/softMax.
https://api.highchart

[2020-10-08 07:41] carazzim0 commented on #28099
Hi @aknuds1, thanks for looking into this.

I setup the repository on a new Debian server and the package is still listed in the releases file, but is not available to be installed via `apt`.

Releases file:
[code]

`apt download grafana` fails:

[code]

So there still must be something wrong :/

[2020-10-08 07:43] aknuds1 commented on #28099
Thanks for the update. We are in the process of syncing the repo metadata, will let you know when it's done.

[2020-10-08 07:47] #28070 closed

[2020-10-08 07:47] carazzim0 commented on #28099
FYI: the test version was also pushed to RPM / YUM repositories.

[code]

[2020-10-08 07:49] aknuds1 commented on #28099
Yeah, I'm aware it was uploaded to RPM, and I tried to prune it from there too. As I remember it, RPM repo structure is trickier to figure out, but I thought removing the package was enough. Let me check.

[2020-10-08 07:51] hugohaggmark commented on #27746
ping @marcusolsson you might be interested in this as well :)

[2020-10-08 08:03] #7245 closed

[2020-10-08 08:06] rpthms commented on #28099
I think along with removing the test package from the repo, we should also create new packages that are actually just 7.2.0 but with the epoch set to 1 to force a downgrade on all the folks who accidentally upgraded to 7.3.0~test.

[2020-10-08 08:09] aknuds1 commented on #28099
@rpthms How do you technically set the epoch to 1? I'm not an RPM expert.

[2020-10-08 08:14] andrew-pickin-epi commented on #11126
setting a string or integer both are ignored. As is the interval.

[2020-10-08 08:16] andrew-pickin-epi commented on #28062
both string or integer are ignored, as is the interval

[2020-10-08 08:17] rpthms commented on #28099
It's not really an RPM thing. Most package manager support epochs to force a downgrade for whatever reason. Are you creating your packages using FPM? I think there's a flag called --epoch which could be used. I'll need to check

[2020-10-08 08:17] aknuds1 commented on #28099
We are using FPM yes.

[2020-10-08 08:21] aknuds1 commented on #28099
@rpthms FPM has an `--epoch` flag, do you know what the default value is?

[2020-10-08 08:24] rpthms commented on #28099
According to this blog, RPM doesn't use an epoch by default (https://utcc.utoronto.ca/~cks/space/blog/linux/RPMEpochNumbers?showcomments). So just setting it to 1 should be okay.

In Debian's case, the default epoch is 0 (https://www.debian.org/doc/debian-policy/ch-controlfields.html#version)

[2020-10-08 08:25] aknuds1 commented on #28099
@rpthms The question is if FPM has a default for `--epoch`. I couldn't really tell yet.

[2020-10-08 08:27] rpthms commented on #28099
@aknuds1 If I'm reading this pull request correctly, the epoch is null or not used by default: https://github.com/jordansissel/fpm/pull/1053

[2020-10-08 08:28] rpthms commented on #28099
Whoops sorry, wrong issue. This is the right one: https://github.com/jordansissel/fpm/issues/381

[2020-10-08 08:28] aknuds1 commented on #28099
@rpthms According to FPM's changelog, --epoch's default value (1) was removed in 2013.

[2020-10-08 08:28] #28018 closed

[2020-10-08 08:30] rpthms commented on #28099
Does Grafana have packages that are older than 2013? If not, I guess we could go with --epoch=1.

[2020-10-08 08:30] aknuds1 commented on #28099
@rpthms So in practical terms, if we bump the epoch of the 7.2.1 to 1, it will downgrade 7.3.0-test? And we have to keep that epoch for all future packages (so they can upgrade 7.2.1)?

[2020-10-08 08:31] torkelo commented on #27987
Can you show a screenshot of your template variable settings? and include your dashboard.json and data source settings

[2020-10-08 08:32] rpthms commented on #28099
Yes, for the package manager the epoch holds the final say and can override the package versioning schemes. So 1:7.2.1 would be preferred over 7.3.0.

Yes, once you start using the epoch, you cannot decrease it or remove it. If you do that then future packages will not be considered as upgrades by the package manager.

[2020-10-08 08:34] aknuds1 commented on #28099
Right. I think there could be some risk to changing our RPM package name (due to bumped epoch), so that has to be taken into consideration also.

[2020-10-08 08:34] aknuds1 commented on #28099
Do you know how the epoch eventually affects the RPM name?

[2020-10-08 08:39] rpthms commented on #28099
Unfortunately, I'm not too sure about RPM. I'm more of a Debian guy. Right now I have an Ubuntu box in front of me, so I can let you know how the epoch affects package names there:

Using busybox-static as an example.

Version: 1:1.30.1-4ubuntu6.2
FileName: /var/cache/apt/archives/busybox-static_1%3a1.30.1-4ubuntu6.2_amd64.deb

[2020-10-08 08:47] markuman commented on #28075
@aknuds1 Ok, I've found the relevant log line

[code]

[2020-10-08 08:50] aknuds1 commented on #28075
Thanks, that helps.

[2020-10-08 08:50] rpthms commented on #28099
@aknuds1 I just tried running a CentOS 8 VM and I can see that the epoch does not show up in the RPM file name

Using bind-export-libs as an example (which has an epoch of 32!)

Version: 32:9.11.13-6.el8_2.1
FileName: /var/cache/dnf/BaseOS-e497ce4923b1f449/packages/bind-export-libs-9.11.13-6.el8_2.1.x86_64.rpm

Output of `yum info bind-export-libs`:
[code]

[2020-10-08 08:51] rpthms commented on #28099
So, I guess only the Debian package names are getting affected by the epoch.

[2020-10-08 08:51] NorbertRonecker opened #28107 "Hash sum mismatch while upgrading"
**What happened**:
On a Ubuntu 18.04 Server upgrades fail because of some hash sum failures.

# apt-get upgrade --yes
[...]
E: Failed to fetch https://packages.grafana.com/oss/deb/pool/main/g/grafana/grafana_7.3.0~test_amd64.deb  Hash Sum mismatch

**What you expected to happen**:
Upgrade of everything.

**How to reproduce it (as minimally and precisely as possible)**:
1. LC_ALL=C apt upgrade --ye

[2020-10-08 08:52] carazzim0 commented on #28099
I can mainly speak for Debian systems only.
Either way on someone's end something will break or must be adjusted manually.
* Introducing epochs will break people's already existing version pinnings.
* By mistake upgraded versions should / must / can be downgraded by hand once the repo has been fixed

So please keep that in mind.

[2020-10-08 08:57] aknuds1 commented on #28099
From checking around, bumping the epoch doesn't look like a safe alternative. It will probably also affect the .deb filenames if I'm not mistaken?

@carazzim0 Sounds from what you're saying as if bumping the epoch isn't a good choice.

[2020-10-08 08:58] aknuds1 commented on #28099
Our current plan is to sync our Deb and RPM repos today so they are pruned of v7.3.0-test. When 7.3.0 is released (ETA for beta1 middle of next week), that should upgrade 7.3.0-test regardless right?

[2020-10-08 09:04] rpthms commented on #28099
Epochs are not really that dangerous. They're just a part of the package versioning scheme. Almost every distro in existence have packages with epochs in them. If we use epochs, then the user doesn't have to do anything but run a package upgrade to get rid of the non-stable package. I would argue that's the simplest course of action that we could take, but hey I'm also fine with doing a manual dow

[2020-10-08 09:09] aknuds1 commented on #28099
I'm also worried that filename changes will break e.g. our download pages, it's difficult to foresee what might break in our processes.

[2020-10-08 09:14] aknuds1 commented on #28075
Will try to reproduce.

[2020-10-08 09:15] RalfJung commented on #28099
The package name is not affected by the epoch in Debian, just the version number is.

[2020-10-08 09:22] quinox commented on #28107
I blacklisted this version to make it not block other updates:
[code]

[2020-10-08 09:22] marefr commented on #26120
@Foxeronie when your users gets the Dashboard not found error does their URL's include the `orgId` query string parameter with a value of the non-anonymous organization, e.g. as seen in https://play.grafana.org/d/0KapoFkMk/1-new-features-in-v7-0?orgId=1&refresh=5s?

[2020-10-08 09:25] Foxeronie commented on #26120
Yes, the ```orgId``` parameter is set.

```https://grafana.domain.de/d/ac35aw3r3c54w/specific-host-metrics-with-telegraf?orgId=1&refresh=1m```

[2020-10-08 09:36] lcheylus commented on #28099
Same issue this morning for me after `apt upgrade` on my Grafana server => version 7.3-test installed.

Temporary fix waiting for repository sync => desinstall Grafana v7.3-test and force install version 7.2

[code]

[2020-10-08 09:37] rpthms commented on #28099
Yeah, I did mean the file name instead of the package name. Thanks for pointing that out.

[2020-10-08 09:43] aknuds1 commented on #28107
I must've missed this one. Closing as dup of #28099, since it's already discussed there.

[2020-10-08 09:43] #28107 closed

[2020-10-08 09:57] drohhyn commented on #28099
Problem solved for me on Ubuntu 18.04.5 LTS

[2020-10-08 10:04] lcheylus commented on #28099
Grafana Debian repository correctly synchonized for version 7.2.0.

[code]

[2020-10-08 10:24] #18325 closed

[2020-10-08 10:24] #15741 closed

[2020-10-08 10:33] torkelo opened #28109 "Snapshots broken in master for graphs due to annotations panelData check"
https://github.com/grafana/grafana/pull/27757/files#diff-54fb55ab8d49df25dcf1f0057946b4b1R238

[2020-10-08 10:39] aknuds1 commented on #28099
The OSS Deb repo should be fixed now, but I hear enterprise might still need syncing.

[2020-10-08 10:46] hugohaggmark commented on #28104
Officially we still don't support more than [26 queries per panel](https://github.com/grafana/grafana/issues/4978) but to repro this issue you can try to import a dashboard like the one below and you will see that after the `"refId" : "Z"` the refIds will be assigned `"refId" : "NA"` for every target following `"refId" : "Z"`

[code]

[2020-10-08 10:56] LaXiS96 commented on #28078
I think I found a way around, but I don't understand if this is the "correct" way to extract data via Flux and if Grafana could do something to make this more intuitive.

Adding this as a last function in the pipeline:
[code]
returns a single record for each unique combination of `_time`, `state` and `elapsed` values, with the side effect that those columns are now visible in Grafana.

![image](ht

[2020-10-08 11:21] torkelo commented on #27973
Unable to replicate this

[2020-10-08 11:21] #27973 closed

[2020-10-08 11:21] torkelo commented on #27973
The only thing I can think that can cause this is an old snapshot

[2020-10-08 11:55] runerys opened #28110 "Grafana Cloud Alerting: Alertmanager secrets should only be visible to Admins"
**What happened**:
When the alertmanager config is shown, secrets like api-keys and secret urls are displayed in clear text to both Editors and Admins.

**What you expected to happen**:
Only users with Admin role should see the secrets.

Editors are presented a read-only view, and here the secrets should be masked. This is done here: https://alertmanager-us-central1.grafana.net/alertmanager/#/stat

[2020-10-08 12:10] aknuds1 commented on #28099
The RPM repos (OSS/enterprise) should be back to normal.

[2020-10-08 12:30] priyanr opened #28114 "Panel with queries from different sources not working"
When a panel configured with query from different source in my case query A is application insights and query B is azure log anlytics. In query inspector no data is returned. It seems for different sources grafana is making two requests to
/api/ds/query one for application insights and one for log anytics i can see in browser one query is getting blocked. Tried in both chrome and firefox same resu

[2020-10-08 12:50] peterholmberg commented on #28056
The issue is in this component https://github.com/grafana/grafana/blob/master/public/app/features/alerting/components/NotificationChannelForm.tsx

[2020-10-08 13:07] mitchmckenzie commented on #28075
Also seeing this on our grafana 7.2 instance.
![image](https://user-images.githubusercontent.com/1819482/95462561-4928d580-093d-11eb-9ea8-e8f8e63b627d.png)

[2020-10-08 13:08] Dieterbe commented on #27973
https://snapshot.raintank.io/ it's probably due to this not having been updated

[2020-10-08 13:17] #28051 closed

[2020-10-08 14:08] Berbe opened #28120 "TypeError: e is undefined"
**What happened**:
`TypeError` errors pop up in console, sometimes making a Dashboard crash.

No error spawned by the server run with a `debug` log level: definitely seems like a frontend error bug.

<details>
  <summary>Error displayed when a Dashboard crashes</summary>

[code]
</details>

<details>
  <summary>Examples of console error on Dashboard crash</summary>

<details>
  <summary>Crash 1</s

[2020-10-08 14:14] anilsagar commented on #7832
+1 necessary feature

[2020-10-08 14:19] Andrewpk opened #28121 "Using auth.google and auth.generic_oauth causes role_attribute_path to not always be evaluated"
**What happened**:
If `auth.generic_oauth` and `auth.google` are configured in your grafana.ini configuration, `role_attribute_path` seems to stop being calculated reliably and `Viewer` role is assigned on login due to https://github.com/grafana/grafana/issues/26626

I only have access to a user that can successfully login with one of our auth providers, but regardless of if I change the configura

[2020-10-08 14:49] aviadbi1 commented on #27542
Yeah, Grafana had that in version 6 and it's been very useful for our org.
Is there any reason why dropping that feature ? @torkelo

[2020-10-08 14:50] marekbeckmann opened #28122 "signatures couldn't be verified"
**What happened**: I tried to install Grafana following the official instructions (OSS release) for Debian (https://grafana.com/docs/grafana/latest/installation/debian/)

**How to reproduce it (as minimally and precisely as possible)**: Simply follow the installation instructions (see link above). When it comes to the step `sudo apt-get update` the error will occur (see image below)
![error-instal

[2020-10-08 15:43] dustball commented on #28087
Are you talking about [this](https://grafana.com/docs/grafana/latest/installation/upgrading/#important-changes-regarding-samesite-cookie-attribute) config change?  I don't host Grafana behind HTTPS so I don't think that applies.

(Sorry there is a lot going on in #27802 - can you be more specific about what suggestions I should try?)

[2020-10-08 16:38] #28109 closed

[2020-10-08 16:41] oddlittlebird commented on #19270
Yes, please do. If possible, please update the [Documentation style guide](https://github.com/grafana/grafana/blob/master/contribute/style-guides/documentation-style-guide.md) as well.

[2020-10-08 16:41] randall-fulton commented on #28056
I can take a stab at this.

[2020-10-08 16:43] lenaxia commented on #6106
+1 on this

[2020-10-08 17:09] aknuds1 commented on #28099
The enterprise Deb repo should be fixed.

That concludes our measures in rectifying this mistake. So sorry again! Hopefully we will avoid this from happening again in the future, as our CI systems have matured significantly.

[2020-10-08 17:09] #28099 closed

[2020-10-08 17:10] aknuds1 commented on #28122
I think this is a duplicate of #28099. The issue should be rectified, I'll make sure to verify myself though.

[2020-10-08 17:37] kylebrandt commented on #28114
Can replicate on my local instance with currentish master:

![image](https://user-images.githubusercontent.com/1692624/95493947-2c0afb80-096b-11eb-8659-09196184da22.png)

Same when using mixed datasource.

[2020-10-08 18:27] awarm opened #28125 "Error occurs when using global variable $__user in MySQL query variable"
**What happened**: After place __user global variable in field "Query" with MySQL datasource and leave this field, Grafana send two alert: "Validation - e.replace is not a function",  and "Templating - Template variables could not be initialized: e.replace is not a function"

**What you expected to happen**: User Grafana user id in MySQL query

**How to reproduce it (as minimally and precisely as

[2020-10-08 18:39] mepster commented on #11436
Yes please - an email sent though a text gateway like mms.att.net is hard to access... you have to download and open a .html attachment.

It would be great to have the info that is already the html (i.e., the 'Notification Message' text, and the links) in plain text format instead of html. (Note that in the image below, "Air Quality alert" and "Temperature alert" are the 'Rule Name', not the 'Noti

[2020-10-08 18:41] gotjosh commented on #28110
Hi @runerys this is not specific to OSS Grafana but instead of Grafana Cloud. We're aware of it and are working internally to prioritise it and make it better.

I'm going to close this for now given that OSS Grafana receives a high number of issues and there's nothing we can do here, but please submit a support ticket through Grafana Cloud if you have the chance.

Thank You!

[2020-10-08 18:41] #28110 closed

[2020-10-08 19:59] mepster commented on #11436
BTW if anyone is up for it, the relevant functions in the repository are:

The data is set up in func (en *EmailNotifier) Notify()
[grafana/pkg/services/alerting/notifiers/email.go](https://github.com/grafana/grafana/blob/master/pkg/services/alerting/notifiers/email.go)

and then it goes though func (ns *NotificationService) sendEmailCommandHandler()
[grafana/pkg/services/notifications/notificatio

[2020-10-08 20:50] fx19880617 commented on #20141
Please let me know if there is anything I can help with.

[2020-10-08 21:25] vikasmn commented on #7949
+1

[2020-10-08 21:30] vkas-mn commented on #7949
+1

[2020-10-08 22:06] debashish-github commented on #28093
But adding a limit will only limit the number of items. What I want is some kind of a scroll bar that I can pull up or down to see all the values. Is this possible ?

[2020-10-08 22:47] ahlaw commented on #5190
Since requests are handled differently per data source anyways, would it make more sense to implement time alignment as a data source-level configuration first in every data source we want to support, and then have panel-level configuration as an overriding configuration?

[2020-10-08 23:18] simianhacker opened #28130 "Elasticsearch: Moving Average is no longer available in 7.x"
**What happened**:

Tried to use the Moving Average pipeline aggregation in 7.x and the Elasticsearch query fails

**What you expected to happen**:

Display a moving average

**How to reproduce it (as minimally and precisely as possible)**:

1. Create a new visualization where using an Elasticsearch 7.x endpoint
1. Add "Moving Average" metric

**Anything else we need to know?**:

The moving averag

[2020-10-09 01:54] lwlei commented on #26726
I also met an issue about colors with elastic search datasource. I am using grafana(version:7.1.5) to draw a table panel of elasticsearch datasource. I have set Thresholds and chosed Cell display mode. However, the corresponding columns of the table panel are grey instead of the color I have set in thresholds, just as the fourth screenshot shown.
![image](https://user-images.githubusercontent.com/

[2020-10-09 05:37] marekbeckmann commented on #28122
Just to clarify, I tried installing after you wrote

in Issue #28099

[2020-10-09 06:11] ericayosh opened #28132 "Notifier ShowWhen struct not working as expected"
**What happened**:
I am creating a new notifier and want to provide a way for users to select an Auth Provider, either a Credential Profile, AWS ARN, or Access Key & Secret. These same options are available for customers setting up the CloudWatch DataSource today.

**What you expected to happen**:
In the code for the notifier, I used the [ShowWhen](https://github.com/grafana/grafana/blob/master/pk

[2020-10-09 06:18] aknuds1 commented on #28122
I'm trying now to reproduce.

[2020-10-09 06:20] aknuds1 commented on #28122
I installed Grafana OSS stable as per the [instructions](https://grafana.com/docs/grafana/latest/installation/debian/), and I get 7.2.1 as expected. Can you please try again and see if the issue is resolved for you? I suspect you might have hit a cached repo.

[2020-10-09 06:39] marekbeckmann commented on #28122
clearing the APT Cache helped and it works now. Thank you very mouch!

[2020-10-09 06:40] aknuds1 commented on #28122
Great! Sorry about the hassle!

[2020-10-09 06:40] #28122 closed

[2020-10-09 06:55] amitad16 commented on #14629
**This solution worked for me**

First check if port `9090` is working

`sudo lsof -i:9090`

then check the promethues logs

`sudo docker-compose logs promethues`

it showed me error `global_scrape timeout greater than scrape_interval`

In their docs https://bigbluebutton-exporter.greenstatic.dev/installation/all_in_one_monitoring_stack/#2-copy-configuration-files

they told to increase the `scrap

[2020-10-09 07:41] torkelo opened #28133 "Field Color Scheme Follow-up"
This PR added the new standard field color scheme options https://github.com/grafana/grafana/pull/28039

Follow up issues:
* [x] Finalize naming of palettes
* [x] Finalize colors in named palette
* [x] Update docs
* [x] Filter out color by series for visualizations that do not support it
* [x] Handle switching visualizations to set to a compatible color scheme (So if you switch to graph it get's s

[2020-10-09 07:43] ndeevy commented on #19270
Ok, I'll do my best. Thanks @oddlittlebird !

[2020-10-09 07:58] torkelo commented on #27542
just a bit tricky to do in the unified field option model

[2020-10-09 07:59] breeswish commented on #7539
I have interests to implement this feature as described in https://github.com/grafana/grafana/issues/10401 . Considering that it involves with some UI changes, I would like to receive feedbacks or thoughts from Grafana developers about the proposal in #10401 before I start to follow it. @daniellee

[2020-10-09 08:20] hawran opened #28134 "A possibility to switch off the "smart" functionality of the PromQL query's editor"
**What would you like to be added**:
I really need to re-open https://github.com/grafana/grafana/issues/20929.

**Why is this needed**:
When there are more complex queries within the query editor (`Edit Panel`), those long responses, cursor jumps make it unusable.

`Grafana v7.2.0 (NA)`

[2020-10-09 08:26] aknuds1 commented on #28134
@davkal Please have a look.

[2020-10-09 08:27] hugohaggmark commented on #28114
Seems like the requests get the same `requestId` for some reason so when the second one starts the first request ends up here and cancels:
https://github.com/grafana/grafana/blob/d18178294364112cd28950bcbb3c7727ed6a847f/public/app/core/services/backend_srv.ts#L326

I'm not familiar with these data sources so I'm going to need some time to find where the root cause is.

[2020-10-09 08:39] yuvalman commented on #28081
I've tried with v6.7.4.
We get the same bug:
![table_columns_headers_bug_6_7_4](https://user-images.githubusercontent.com/25984852/95560059-6040f380-0a21-11eb-954e-4f1b1b77a3da.gif)

I would like to suggest another solution besides the one I suggested before:
Add the option to dynamically change column headers row height when the header string is longer than the cell width.

Please let me know if

[2020-10-09 08:42] #27268 closed

[2020-10-09 08:47] mckn commented on #28120
@Berbe so the issues you have referenced is due to a different reason. I can see why you could think that they are related due to the error message but that is somewhat a standard error.

However the error you have posted has to do with the parsing of the URL. Could you share how the query string looks for your dashboard that crashes? That would help us resolve this.

[2020-10-09 08:53] dprokop commented on #25017
This is now fixed with https://github.com/grafana/grafana/pull/27284 and will be released in Grafana 7.3

[2020-10-09 08:53] #25017 closed

[2020-10-09 09:05] Berbe commented on #28120
Tahnks for this piece of information.
Maybe could it be an idea to make those error messages more specific, if that is possible? It would help both reporters & solvers.

---
For all the following errors, the URL was `http://127.0.0.1:3000/d/<dashboard GID>/<dashboard name>?orgId=1&refresh=1m`

1. _Before_ crash
[code]

2. _After_ crash
[code]
[code]

[2020-10-09 09:22] dprokop commented on #28081
This issue was fixed in Grafana 7. Please update to the latest version if possible.

[2020-10-09 09:22] #28081 closed

[2020-10-09 09:30] peterholmberg commented on #28132
Thanks for reporting this, I have opened a PR that I hope resolves this.

[2020-10-09 10:20] dprokop commented on #28060
@devopsix just tested against master and v7.2.0, and also agains your provided zip (btw, thanks for this, it's super helpful!).

Indeed it seems there is something wrong, investigating

[2020-10-09 10:23] #27215 closed

[2020-10-09 11:37] dprokop commented on #28060
Identified the problem, but can't see a way to solve it yet.

When picking a Field to be displayed:
![image](https://user-images.githubusercontent.com/2376619/95578326-01d14080-0a34-11eb-8131-81263e47f58d.png)
the field to be rendered is picked by [regex name matcher](https://github.com/grafana/grafana/blob/13915758532438a64812808276171d8c6d5567a0/packages/grafana-data/src/transformations/matchers

[2020-10-09 11:53] PPACI commented on #22271
+1
This would also enable people with only **reader** role to be able to view details, since they can't access explorer view.

[2020-10-09 12:15] #28001 closed

[2020-10-09 12:21] #28068 closed

[2020-10-09 13:01] hugohaggmark commented on #25135
We merged an external contribution recently that should address this (I don't remember the PR Id but will post it when I find it) so have you tried upgrading to 7.2 release?

[2020-10-09 13:17] torkelo commented on #28060
yea, for this I think you need to show all numeric fields, not pick field by name

[2020-10-09 13:19] hugohaggmark commented on #25135
I found it #27525 should introduce a performance boost when opening the DropDown for large variables. This fix was released in 7.2.0-beta2.

Can you verify that #27525 fixes your issues @Naumis1, @zhukaiqiang and @jon-rolfe? Thank you.

[2020-10-09 13:20] hawran opened #28140 "A possibility to switch off a panel within a dashboard (to not to query)."
**What would you like to be added**:
I have got a bunch of related panels within a dashboard, all displaying data on most occasions.
It would be nice to have an option to switch a (selected) panel off so it does not query a data source.

Without going to "edit panel", hence this option should be a visible "property" of the panel.

Persistence (a cookie?) would be the icing on the cake.

**Why is t

[2020-10-09 13:22] hawran opened #28141 "An option to switch a panel off (to not to query a data source)."
**What would you like to be added**:
I have got a bunch of related panels within a dashboard, all displaying data on most occasions.
It would be nice to have an option to switch a (selected) panel off so it does not query a data source.

Without going to "edit panel", hence this option should be a visible "property" of the panel.

Persistence (a cookie?) would be the icing on the cake.

**Why is t

[2020-10-09 13:22] aknuds1 commented on #28141
Duplicate of #28140.

[2020-10-09 13:22] #28141 closed

[2020-10-09 13:25] torkelo commented on #27901
You need to place your custom plugin in the external plugins folder /var/lib/grafana/plugins

[2020-10-09 13:25] #27901 closed

[2020-10-09 13:27] hawran commented on #28141
Oops, some glitch with my web browser.
Sorry for that.

[2020-10-09 13:35] hugohaggmark commented on #28114
I will continue this investigation on Monday, lot's of other things have come in between :(

[2020-10-09 13:39] kylebrandt commented on #28114
Thanks, I think this was different data sources that were brought together, so maybe something there.

The following looks pretty sketchy:

https://github.com/grafana/grafana/blob/670b8512bfb7a9b343d7e0ce34bb09857493e807/public/app/plugins/datasource/grafana-azure-monitor-datasource/datasource.ts#L81-L109

[2020-10-09 13:41] papagian opened #28142 "Cloudwatch: reconsider the way sessions are cached"
**What happened**:
Following discussions #25548 session caching as we handle it now has [some implications](https://github.com/grafana/grafana/pull/25548#issuecomment-706067454).
Currently we cache a session upon successful credentials retrieval but it's not guaranteed
that these credentials are valid.
We have to cache them after the API has been successfully queried.

Another [suggested approach]

[2020-10-09 13:44] kylebrandt commented on #28114
FYI if I do something after the deep clone like:

[code]

The request is no longer cancelled.

[2020-10-09 13:57] Moosetracks555 commented on #1893
+1 I really need this!

[2020-10-09 14:18] torkelo commented on #28140
You can place then in a row and collapse the row

[2020-10-09 14:24] hawran commented on #28140
Hi,
I've just been notified about the `v` shortcut (view).
AFAIR I stopped to use it as it had seemed as if panels (on the background) still queried data sources.

If really is the panel on the foreground the only panel querying a data source I can live with that and this issue can be closed.

[2020-10-09 14:24] torkelo commented on #28140
Queries in the background should not be queried

[2020-10-09 14:27] hawran commented on #28140
Yep, this is another option, thank you for reminding me.

[2020-10-09 14:46] jvitor83 commented on #448
+1

[2020-10-09 14:57] jonathan-dorsey opened #28145 "Optional Header values for authToken request in plugin config"
**What would you like to be added**:
When plugins utilize getBackendSrv and routes to execute requests from the server, an authToken can be retrieved and maintained by Grafana. The data requests can be configured to pass custom Header values in the http requests. Currently, the authToken http request does not support additional headers.

**Why is this needed**:
We are building a data source that r

[2020-10-09 15:02] aknuds1 commented on #28140
Should this issue still be open, given the method @torkelo provided?

[2020-10-09 15:16] EBZ-Krisemendt opened #28146 "generated query ignores timezone in timepicker"
**What happened**:
$__timefilter(column) translates to UTC

**What you expected to happen**:
$__timefilter(column) translates to CEST

**How to reproduce it (as minimally and precisely as possible)**:
create a query using "WHERE $__timefilter(column)"
set dashboard timezone to CEST
pick 'Last 6 hours' (or any other range that ends at 'now()')
hover timepicker to check if timerange is correct
displ

[2020-10-09 15:31] mckn commented on #28120
Could you share a copy of your dashboard json? Just so I can see what template variables you have setup?

[2020-10-09 15:37] kylebrandt commented on #27713
Becomes a label when 28147 is merged:

![image](https://user-images.githubusercontent.com/1692624/95603079-cc245b80-0a23-11eb-8a6b-7dec8c6d63e9.png)

[2020-10-09 15:59] gsuberland commented on #979
I think it may also be useful to consider implementing a "minimum y-axis range" feature as part of this, distinct from the "soft" min/max. The soft minimums and maximums would be used to specify fixed positions on the y-axis which must always be visible during auto-scaling. This can be used when you've got a known range of y-axis values that you always want to have visible, which is useful for pre

[2020-10-09 16:05] #27713 closed

[2020-10-09 16:35] debashish-github commented on #28093
Any answers for this ? There should be some key short cuts to scroll through the scroll bar for the hover over panel .. no ?

[2020-10-09 16:44] Berbe commented on #28120
I am a bit unsettled about giving out potentially sensitive data.
Hence, I anonymised the variables parts of the export JSON and will provide it to you through a share meant to expire _within a day or so_ through a sharing mechanism available out there.

[Here is that share](https://paste.rosset.net/?e2ac34d2342c114e#3Jky4kpux2mFR6gY2SwpporSoHMKUYrvwNxEzEHDa5Zq).
Please be mindful about that piece

[2020-10-09 18:56] m5x commented on #28097
I haven't found any so it seems that for the InfluxDB 2.0 it is not yet documented. However it was planned for this year so it might already be implemented. I asked [a question](https://community.influxdata.com/t/stream-events-in-influxdb-2-0/12974/4) on InfluxDB  community forums, hopefully someone will be able to provide more info.

[2020-10-09 18:57] Nelluru-Hemasree opened #28154 "Native Table Panel Pagination"
**What would you like to be added**:
Along with the features available in Table Panel, I need panel supporting **Pagination** and containing search box.
**Why is this needed**:
The no of rows to display are very huge. So scrolling is not efficient.
I require the table panel which contain cell display mode option, pagination, search functionality, data links property working.
So I'm requesting for

[2020-10-09 18:59] torkelo commented on #28146
data points and time range filters are always UTC.

The timezone setting is just a display setting

[2020-10-09 18:59] #28146 closed

[2020-10-09 19:00] torkelo commented on #28154
/duplicate #26022

[2020-10-09 19:01] #28154 closed

[2020-10-09 19:58] honzor commented on #17939
Looks like this bug originates [from a plugin for the flot js library](https://github.com/toyoty99/flot.gauge/blob/master/jquery.flot.gauge.js) used by some grafana plugins. I have the exact same problem without having the blendstat plugin installed. in my case, the plugin with the bug is the [Single Stat Math Panel](https://github.com/black-mirror-1/singlestat-math).

[2020-10-09 20:00] matthiaslee commented on #25135
@hugohaggmark we also ran into this issue and it seems the latest version fixes this issue for us!

[2020-10-09 20:02] drbrain commented on #17939
Thanks for tracking down the source, I made a PR there too: toyoty99/flot.gauge#7

[2020-10-09 22:45] marefr commented on #28087
@dustball specifically this https://github.com/grafana/grafana/issues/27802#issuecomment-704545710

[2020-10-09 22:53] marefr commented on #26120
@Foxeronie thanks. I think we should be able to fix this. Will open a PR

[2020-10-09 22:53] eunice98k opened #28157 "Feature request: Limit Time Range in Public Dashboard"
**What would you like to be added**:
This feature request is related to [Issue #4288](https://github.com/grafana/grafana/issues/4288), proposing to allow Admin control on the maximum time range and how far users can go back in Grafana Public Dashboards.

**Why is this needed**:
The current Grafana UI allows users to set time range to go arbitrarily far back using the calendar picker and the zoom o

[2020-10-09 22:56] dustball commented on #28087
Re: the second link - understood that stale cookies can cause issues, I confirm all old cookies removed (it actually happens on new installs as well, where I have never logged in and never had a cookie yet)

Re: the first link.  Paragraph 1 & 2:  my `cookie_samesite` was already set to `disabled`.  Paragraph 3: I don't host Grafana behind HTTPS so `cookie_secure` should remain untouched.

[2020-10-10 05:47] veera83372 commented on #28056
Can I  pick this one?

[2020-10-10 09:25] simPod opened #28163 "ModuleNotFoundError: Module not found: Error: Can't resolve 'vendor/angular-other/angular-strap'"
Running `make` on master https://github.com/grafana/grafana/commit/f393e66a5a6a3cba1b52ba1f85abb18ec1657ee4 gives:

[code]

any idea what might it be?

[2020-10-10 09:31] simPod commented on #28163
invalid

[2020-10-10 09:31] #28163 closed

[2020-10-10 09:37] honzor commented on #17939
You did the hard work, not me!

Btw, correcting the typo did NOT resolve the issue for me. While singlestat-math panels now correctly refresh, the standard (built-in) Gauge panel still keeps on adding new `<span>`s on each refresh on top of the old one. Basically, the structure is full of

[code]
lines.

[2020-10-10 12:12] NoFacePeace opened #28165 "How can I get image file name for s3?"
https://grafana.com/docs/grafana/latest/administration/configuration/#external_image_storages3
I configured this, but how can i get the name for image

[2020-10-10 12:50] #28165 closed

[2020-10-10 12:52] aknuds1 commented on #28165
Please direct support questions to our community [forums](https://community.grafana.com) or [Slack](http://slack.raintank.io). GitHub issues are for bug reports and feature requests.

[2020-10-10 12:55] aknuds1 commented on #28056
@veera83372 Sure.

[2020-10-10 13:12] aknuds1 commented on #28157
How does the proposed functionality differ concretely from #4288?

[2020-10-10 13:25] aknuds1 commented on #27984
@marefr What do you think about this, is it something Grafana should do?

[2020-10-10 13:27] aknuds1 commented on #27967
@sakjur @marefr Do you think this is a bug?

[2020-10-10 13:32] aknuds1 commented on #27903
Please update your issue description with the section "How to reproduce it".

[2020-10-10 14:19] Nelluru-Hemasree commented on #26022
How data links work in table panel?
How to pass current row data on clicking along with url?

[2020-10-10 17:41] mapshen commented on #22605
@aknuds1 would it be possible for you to help fix this? #23661 has been reject as per https://github.com/grafana/grafana/pull/23661#issuecomment-678957352 and it seems 23473 is dead. Thank you! Having this means a lot to us.

[2020-10-10 19:26] a5hk opened #28169 "yarn dev fails using yarn version 2"
**What happened**:
I was trying to create a new plugin following [this](https://grafana.com/tutorials/build-a-panel-plugin/#3) tutorial and [this ](https://yarnpkg.com/getting-started/install) one to install yarn. But it throws an error when I enter `yarn dev`.

**What you expected to happen**:
To build the plugin without errors.

**How to reproduce it (as minimally and precisely as possible)**:
F

[2020-10-10 21:25] joaoedsonjunior commented on #27971
Similar problem

[2020-10-10 23:59] nicolas17 commented on #18819
I don't think so. That one is about disabling existing Grafana-local passwords when switching to another auth provider, this is about profile editing.

But this one does sound like a duplicate of #7810.

[2020-10-11 01:17] nicolas17 commented on #27443
As suggested in #15312, maybe there should be a separate "OpenID Connect" auth plugin.

[2020-10-11 01:18] nicolas17 commented on #26350
As suggested in #15312, maybe there should be a separate "OpenID Connect" auth plugin rather than adding this kind of feature to "Generic OAuth".

[2020-10-11 01:19] nicolas17 commented on #25267
So how do you get the email for a user in OpenShift?

[2020-10-11 04:16] raffaelespazzoli commented on #25267
OpenShift users don't have an email necessarily. Is that an issue? @nicolas17

[2020-10-11 07:32] reuvygroovy opened #28170 "Bar Group by 60/90 Days"
**What happened**:
When selecting 60/90 days in the time packer, when viewing a bar graph, there is a single/merged "mush" of color, with no clear distinction between time periods.
![Bars90Days](https://user-images.githubusercontent.com/1325158/95672879-df166780-0bac-11eb-9046-9036abdde119.png)

**What you expected to happen**: I expected to see distinct delineated time periods and values, as I ge

[2020-10-11 07:52] gadol commented on #27702
Hi there @marefr I didn't get your operations and what is the status of the issue
Do you guys think it is a bug within grafana or something else related to my setup?

[2020-10-11 08:20] torkelo commented on #28170
Make sure you group your data consistently (ie same space between data points).

Please show your query, and your raw query results

[2020-10-11 08:23] reuvygroovy commented on #28170
You're right, sorry.
![image](https://user-images.githubusercontent.com/1325158/95673733-14728380-0bb4-11eb-9342-3b55018ef577.png)

Problem is we are trying to show a minimal daily rate, but when we select the 7-30 days time picker range, it groups by hours, and we cannot show a minimum day count unless we hard code it. But then we run into a problem with larger dates.

[2020-10-11 08:56] fr-ser commented on #18376
I created a plugin that queries an SQLite reachable (through a network drive) on the Grafana host. I would consider this a first step

https://github.com/fr-ser/grafana-sqlite-datasource

[2020-10-11 09:34] aknuds1 commented on #28169
I don't think this is a bug since you're diverging from the instructions in the tutorial (by upgrading to yarn v2).

[2020-10-11 09:34] #28169 closed

[2020-10-11 10:02] a5hk commented on #28169
Fair. But I think yarn version should also be mentioned in the tutorial like nodejs and grafana versions.

[2020-10-11 10:26] aknuds1 commented on #28169
@a5hk I don't really agree, since you explicitly diverged from the tutorial instructions (yarn v2 requires you to enable it on the project, as you did).

[2020-10-11 11:22] torkelo commented on #28170
Not sure @reuvygroovy what your trying to do. The graph says meetings by day, so I assume your query has a group by day clause? You can use an interval variable you want to be able to change the group by time interval using a variable. https://grafana.com/docs/grafana/latest/variables/variable-types/add-interval-variable/. Then use that variable in your min interval & group by time SQL clause. Tha

[2020-10-11 11:22] #28170 closed

[2020-10-11 11:24] torkelo commented on #28157
/duplicate of #4288

Think you can add these proposals to that issue instead of having an issue that is more concrete solution proposal to the same underlying problem

[2020-10-11 11:24] reuvygroovy commented on #28170
My **query** has a group by $__interval param, but the problem is that when the timepicker has 30 days selected, grafana calculates the minimum interval to be 10m.