[2020-01-07 21:14] Dieterbe commented on #21204
looks like i helped build this feature :rofl: I can confirm grafana sends spans to jaeger, can create the root span, and propagate to metrictank using the Uber-Trace-Id header.
see https://github.com/grafana/grafana/pull/21392

[2020-01-08 00:06] igorpeshansky commented on #18887
@sunker, I'm not really equipped to test that change, but I'm happy to offer some review comments. I'll also tag one of my teammates who is more proficient in Go.

[2020-01-08 02:11] CarlosNZ commented on #9259
Yes, +1 here. Would be good to have this working correctly. Opening new tabs is a clunky way to operate.

[2020-01-08 03:11] gopalakrishnan-subramani commented on #21390
Facing Below error while mounting a React Page

Plugin component error Error: [$injector:unpr] Unknown provider: propsProvider <- props
http://errors.angularjs.org/1.6.9/$injector/unpr?p0=propsProvider%20%3C-%20props
    at angular.js:116
    at angular.js:4887
    at Object.getService [as get] (angular.js:5047)
    at angular.js:4892
    at getService (angular.js:5047)
    at injectionArgs (angul

[2020-01-08 03:35] ryantxu commented on #21390
Now reproducible in:
https://github.com/grafana/simple-app-plugin

the plugin embedded in grafana core does not have strict type checking so builds ok but as a plugin you cant :(

[2020-01-08 04:24] ryantxu commented on #21390
The issue (I think) is with the typing on:
https://github.com/grafana/grafana/blob/master/packages/grafana-data/src/types/plugin.ts#L135

[code]

Rather than `PluginConfigPage<GrafanaPlugin>` it needs to be something like `PluginConfigPage<GrafanaPlugin<T>>`, but that seems to fail 🤷‍♂

[2020-01-08 05:04] geektcp commented on #21313
Hei, the grafana support my mysql version(5.6.23) , but do not support tag query when enable prometheus mysql datasource

[2020-01-08 05:44] qlyoung opened #21398 "Datasource provisioning uses "Browser" as default access mode when not specified"
**What happened**:

Provisioned an InfluxDB datasource and neglected to specify the `access:` field in the `.yaml` file. Datasource access mode behavior defaulted to the equivalent of the web UI's `Browser`.

**What you expected to happen**:

I expect an omitted `access` field to default to `proxy` (named `Server` in the web interface), which is the default when configuring a new datasource from t

[2020-01-08 06:01] zengxs commented on #21211
I think this is not duplicate, **Wechat Work** and **Wechat** are two different apps.

[2020-01-08 06:18] rajputvishwas opened #21399 "grafana docker image name and tag missing"
**What happened**:
I am archiving grafana docker image to a grafana.tar file and later, I am using this tar file and loading the image back to docker.

When I issue docker images command, I am able to see the image but labels and tags are missing.

**What you expected to happen**:
After loading the image, labels and tags should be as per the original image.
grafana/grafana:5.4.3

**How to reproduc

[2020-01-08 06:56] lunaticmonk commented on #12638
This worked for me!

[2020-01-08 07:21] kumaravel29 commented on #8816
+1

[2020-01-08 07:57] simsnow opened #21400 "Relative path support for static resources behind reverse proxy with urlrewrite"
**What would you like to be added**:

Could static resources use a relative path, another than html tag `<base href=xxxx>`,
Now: `<base href="/grafana">    <img src="public/images/xxx.png">`
Wanted: `<img src="./public/images/xxx.png">`

**Why is this needed**:

We have many grafana instance running at root_url "/grafana",
http://192.168.3.1/grafana,
http://192.168.3.2/grafana,
http://192.168.3.3/

[2020-01-08 08:24] aknuds1 commented on #21399
What is the output you're seeing from `docker images` that differs from what you expect? I followed your procedure, and to me it looks fine:

[code]

[2020-01-08 08:28] rajputvishwas commented on #21399
@aknuds1 Yes this is what I expect, but I was getting <none> for REPOSITORY and TAG.

[2020-01-08 08:39] rajputvishwas commented on #21399
docker load -i grafana.tar
7b4e562e58dc: Loading layer  58.44MB/58.44MB
c61883f6d7a1: Loading layer  3.072kB/3.072kB
f2d8bd23c9c1: Loading layer  28.28MB/28.28MB
63e69b5ec8fb: Loading layer  159.9MB/159.9MB
4a786a04c29c: Loading layer  194.6kB/194.6kB
67796dde2d25: Loading layer   5.12kB/5.12kB
Loaded image ID: sha256:d0454da13c8411af06d6dbd5fa4b291ca30f5de1b53c1d0480c43ab51bdf8071
root@CapstoneNo

[2020-01-08 08:40] rajputvishwas commented on #21399
![image](https://user-images.githubusercontent.com/15668995/71962948-9d711e80-3220-11ea-9e3b-cf9e2885f23e.png)

[2020-01-08 08:50] aknuds1 commented on #21399
Since I could successfully save and load the grafana/grafana:5.4.3 image with Docker on my machine, I can only guess that you have a Docker related problem. I suggest you investigate this with the help of the Docker community. Closing as it doesn't look like a Grafana problem.

There's an error in the `docker save` command you listed FWIW, it should be
[code]

[2020-01-08 08:50] #21399 closed

[2020-01-08 08:52] rajputvishwas commented on #21399
Thanks @aknuds1

[2020-01-08 09:12] r4yfx commented on #1002
I would like to add it as a datasource if at all possible. This will allow RSS feeds to come from aws

https://status.aws.amazon.com/

[2020-01-08 09:25] davkal commented on #21357
@aocenas yup, this absolutely sounds helpful. It's not discussed anywhere else AFAIK. I've been wanting to do something similar across Explore splits, but it's not written down anywhere.

[2020-01-08 09:38] #18326 closed

[2020-01-08 10:09] xlson commented on #13920
@mrvladis It looks like you have something (probably a firewall) that puts in an unsigned certificate somewhere in the chain. This won't be accepted by Grafana/curl/wget as this is not the correct certificate. Are you running this on a company network that might do this?

Using the `-k` flag on curl will accept the self-signed cert and can be used to verify that this is the only problem. That said

[2020-01-08 10:21] mrvladis commented on #13920
@xlson This is definitely not the case.
I am running it at home, where I don't have any proxies. It is only an issue with this container.

[2020-01-08 10:28] sunker commented on #21215
Great that you found this @jveldboom! I just opened a PR to fix this. Hopefully it will go in 6.5.3
Thanks!

[2020-01-08 10:39] aknuds1 commented on #21321
I'm not 100% sure, but I would think you should use [/api/dashboards/db](https://grafana.com/docs/grafana/latest/http_api/dashboard/#create-update-dashboard). I think the `dashboard` field should be exactly the dashboard JSON document, for example https://grafana.com/api/dashboards/674/revisions/3/download.

For further support on this, I suggest you ask in the [Grafana community](https://communit

[2020-01-08 10:39] #21321 closed

[2020-01-08 10:44] ddes commented on #20960
I have the same issue, by using a multi-values variable with cloudwatch API.
It was working fine on 6.4 but I have now this error message on 6.5.2.

However the graphs are working well as I'm using the Repeat feature on each graphs, so in the end the var is always uniq in the request.

[2020-01-08 11:24] #21215 closed

[2020-01-08 11:58] torkelo opened #21402 "DeleteButton (Teams List) UI padding bug"
The DeleteButton was recently refactored and now uses the Button from @granfana/ui but this seems to not support just a single icon button in small mode

![image](https://user-images.githubusercontent.com/10999/71976334-5847ef00-3216-11ea-9002-b0596207d078.png)

[2020-01-08 13:20] JackIngleton opened #21403 "Support dynamic data links on the log panel."
**What would you like to be added**:
Support dynamic data links on the log panel.

**Why is this needed**:
It would be useful for data links on the log panel to support the same features as the graph panel ([graph/#data-link](https://grafana.com/docs/grafana/latest/features/panels/graph/#data-link)).

Instead of clicking on individual data points, it would be useful to be able to click on individu

[2020-01-08 13:32] Chivolta commented on #8260
+1

[2020-01-08 13:41] gopalakrishnan-subramani commented on #21390
There are two problems that needs to be investigated.

1. Angular pages is not always consistently displayed, it appears, sometime it doesn't
2. React pages is not appearing.

configuration pages are fine, only pages to be fixed

[2020-01-08 13:57] #20456 closed

[2020-01-08 14:45] stevenvachon opened #21404 "Perspective panel plugin"
[Perspective](https://perspective.finos.org)

[2020-01-08 15:16] gsarristz commented on #16094
Hello and Happy New Year,

Is there an ETA for the migration to the new react table panel?

Thanks,
George

[2020-01-08 15:57] sticks221 commented on #16452
+1

[2020-01-08 16:35] ryantxu commented on #21404
This should have its own repo in grafana.... not be in the core grafana repo

[2020-01-08 17:22] stevenvachon commented on #21404
This was created more for the current sprint's project management. Progress is currently at [stevenvachon/grafana-perspective-panel](https://github.com/stevenvachon/grafana-perspective-panel).

[2020-01-08 18:26] lrosser2103 commented on #13920
I have the same issue, and think it may be Pi-hole muddying the waters.  Going to try removing the Pi-hole container in my docker and see if that provides any insight

[2020-01-08 19:03] MarkoBursic commented on #21139
I have no idea how to change file permissions. What do I need to revert the permission back? I did install `grafana_6.5.2_arm64.deb` over `grafana_6.5.1_arm64.deb` and it was working for two weeks. I thought it stopped this time for same reason, but it seems that there is a new issue.

[2020-01-08 19:56] fitzoh commented on #20715
Closing, looks like this is no longer valid as of Grafana 6.5
(Initial screenshot was before the row display reformat)

[2020-01-08 19:56] #20715 closed

[2020-01-08 20:46] stevenvachon commented on #21404
Moved to https://github.com/grafana/perspective-panel/issues/1.

[2020-01-08 20:46] #21404 closed

[2020-01-09 07:35] torkelo opened #21409 "Chore: Migrate to react-virtualized-auto-sizer"
If we started using react-virtualized-auto-sizer instead of AutoSizer from react-virtualized we could stop using react-virtualized completely.

We are also using react-sizeme in DashboardGrid but last time I tried to change this to AutoSizer I ran into issues that I could not fix but worth another try.

[2020-01-09 08:07] cc250080 commented on #12234
This would be a killing feature in order to have a real open source tracking toolset

[2020-01-09 08:26] torkelo commented on #20328
do we need to do more here in v6.6 or can this be closed?

[2020-01-09 08:35] ryantxu commented on #20328
still need to find a solution.  Currently any backend plugin (metaanalytics etc) copy the code and dependencies :(

Maybe:  https://github.com/grafana/grafana/pull/21408

and/or maybe a scoped export from `@grafana/data` that can be loaded async.

The change that breaks e2e tests on phantomjs is:https://github.com/grafana/grafana/commit/1aa52f259c96ef5837e9894639a292a4a7679e59

[2020-01-09 08:36] aknuds1 commented on #21139
Try `ls -l /var/log/grafana/grafana.log` to see what the permissions are. I would also ask such support questions in the [community forums](https://community.grafana.com/).

[2020-01-09 08:47] aocenas commented on #21313
Sorry not sure I understand this. Do you mean it does not work only if you have both prometheus and mysql datasources set up? Does it work if you have only mysql datasource?

[2020-01-09 08:52] aocenas commented on #19224
@dprokop this seems like a small cleanup task for platform team if it isn't already changed.

[2020-01-09 08:58] rspljignesh opened #21411 "After version upgrade to 6.5.2 we are facing issue in accessing dashboards which are using Cloudwatch as datasource"
**What happened**: dashboard like Amazon EBS, Amazon EC2 stopped working and and giving error `Cloudwatch GetMetricData error: Maximum number of allowed metrics exceeded. Your search may have been limited.` I have already open support ticket to AWS for increasing the  Limit but they reply and informed to check with Grafana Developer.

**What you expected to happen**: Grafana version upgrade from 5

[2020-01-09 09:16] aocenas commented on #21370
Hey @sunker I think you worked on stackdriver a lot recently, do you know if there are plans to do this?

[2020-01-09 10:07] aocenas commented on #21398
Hey @qlyoung right now in current version (6.5 at least) this will throw an error during server initialisation, which means you cannot omit the `access` key anymore. It is possible that in 5.0 the default values when provisioning were not properly defined. Will close this as this should not happen anymore and does not seem severe enough to do a patch release for 5.x.

Thanks, really appreciate tha

[2020-01-09 10:07] #21398 closed

[2020-01-09 10:18] #21330 closed

[2020-01-09 10:19] burnstreet opened #21412 "Allow Azure datasource setup without requiring subscription list access"
**What would you like to be added**:
Setting up the Azure monitoring datasource by entering the subscription ID manually.

**Why is this needed**:
I want to be able to setup the Azure monitoring datasource without having to grant reader rights on the whole subscription to the application.
After setup, the following Roles seem to suffice for Grafana:
- Subscription Level: Monitoring Reader
- Subscr

[2020-01-09 10:19] davkal opened #21413 "Panel: common query option tooltip "Min time interval" is too graphite specific"
This tooltip is very graphite-specific:

[code]

While a plugin config can turn the option off, it's still used by a couple of datasources in unique ways that are not reflected in the tooltip. Hence a datasource that uses `minInterval` should somehow be able to set this help text.

I see a couple of approaches:

- extend the `PluginMetaQueryOptions` interface to not just take booleans but also an

[2020-01-09 10:33] sfro commented on #20243
This would be great to fix! We are also running into this issue with OneLogin.

[2020-01-09 11:42] stefanotorresi commented on #6983
You folks should really dial your tone down; this is open-source software that you get for free, nobody owes you anything.
If you're missing a feature so dearly, either contribute to the project or feel free to pick a different one.

[2020-01-09 11:43] pdf commented on #6983
I appreciate the sentiment @stefanotorresi but I suspect you're shouting into the wind.

[2020-01-09 11:51] abitrusty commented on #6983
To be fair not everyone has the skillset to contribute and yes its free but when you state on your website "Currently only the graph panel supports alert rules but this will be added to the Singlestat and Table panels as well in a future release" I think its ok for people to start getting a bit impatient when it doesn't even appear to be on the roadmap still

[2020-01-09 12:01] azhiltsov commented on #12971
I faced the same issue running MySQL > 8.0.13 with sql_require_primary_key=ON
I tried to resolve it by adding new column 'id' with primary index to the tables without primaries.
However this break the tests and I couldn't figure why.
Would really appreciate if someone can help me.

[2020-01-09 13:05] beorn7 opened #21417 "Prometheus data source: Add `$__rate_interval`"
**What would you like to be added**:

A variable `$__xinterval` (“extended interval”) similar to the already existing `$__interval`. It's value is the value of `$__interval` plus a configurable duration, which should default to the _Scrape interval_ configured in the Prometheus data source __not multiplied by anything like the resolution factor!!!__

To configure the additional duration explicitly

[2020-01-09 13:26] calebcall commented on #6983
That’s not entirely true. I’m a paying customer of Grafana Enterprise. I’ve raised this request through my CSM as well.

[2020-01-09 13:31] torkelo opened #21419 "Loki does not work with repeated panels"
Need to pass scopedVars to replace function:

https://github.com/grafana/grafana/blob/master/public/app/plugins/datasource/loki/datasource.ts#L134

example:
expr: this.templateSrv(target.expr, options.scopedVars, this.interpolateQueryExpr)

[2020-01-09 13:37] ivanahuckova commented on #20731
This issue is fixed on current master (see video below). I think it was fixed by @kaydelaney in one of her recent PRs. 🙂
![ezgif com-video-to-gif (17)](https://user-images.githubusercontent.com/30407135/72070417-d6c19100-32e9-11ea-8e0d-88460397fcc7.gif)

[2020-01-09 13:44] KuvshinovaElena opened #21420 "Error loading cookies for anonymous user from iframe"
**What happened**:
The server version of Grafana v5.3.0 is deployed.
Users can work with him directly using user authentication. Also, one of the graphs is accessed through an iframe on my site using anonymous authentication and a separate organization. After visiting the Grafana page in the same browser, the iframe cookies contain information on this user in grafana_user and an access error occur

[2020-01-09 13:45] fredbcode commented on #20731
Great !

[2020-01-09 13:46] ivanahuckova commented on #20731
Following PR closes this issue #20890.

[2020-01-09 13:46] #20731 closed

[2020-01-09 13:48] jmaciasluque commented on #6983
From https://github.com/grafana/grafana/pull/21416#issuecomment-572551160:

I don't see why this issue hasn't been closed, though, this being the case...

[2020-01-09 13:57] ivanahuckova commented on #20933
@davkal I was trying to look at this issue, but I wasn't able to reproduce it on master or on https://play.grafana.org/.  After using browser *back button* , time picker kept the selected relative range.   So I am not sure, if I correctly understand the issue, or if it was already fixed.

[2020-01-09 14:35] treboul01 commented on #5329
+1

[2020-01-09 15:10] zmlpjuran opened #21423 "Dashboad UID does not support dot in the name"
Hi all,
My use case is about using label values from node exporter and create links for individual service dashboards.

From labels you get names of services running in systemd (services=label_values(node_systemd_unit_state,name)).
It includes "postgresql-9.6" value. In dashboard I use repeating panel for services and generate links to detailed dashboards (d/$services). All is fine for all service

[2020-01-09 15:18] smyru commented on #19486
I can imagine having the page title configurable, ie. a configurable page title for a dashboard view would default to: `$dashboard_name - $grafana`, but it would be possible to set it to be ie. `$organisation \ $folder \ $dashboard_name` or `$dashboard_name $time_range`

[2020-01-09 15:34] zmlpjuran commented on #21423
To be mode precise, the issue is about creating dashboard with dot in UID.

[2020-01-09 15:47] naturalbeau commented on #17812
This feature will be very useful. Hope it can be implemented soon.

[2020-01-09 16:27] qlyoung commented on #21398
Ack. One more thing to note is that I copy-pasted + edited that config from the first small example on the provisioning page:
https://grafana.com/docs/grafana/latest/administration/provisioning/#using-environment-variables

The full example just below that one has a comment that notes that `access` is required. In the short blurb, `access` is the only required field that is missing though. Might b

[2020-01-09 16:36] hawran commented on #20929
Hi davkal,
I'd like to report over here that it's really better now. (Grafana v6.5.2 (NA)).
Thanks again.

[2020-01-09 18:02] aciccioli commented on #18927
Hello.
Any workarround about this issue ??

[2020-01-09 19:14] torkelo commented on #21423
think it's the backend or frontend url router that does not allow it

[2020-01-09 19:14] #21423 closed

[2020-01-09 19:15] torkelo commented on #21423
sorry for closing, but do not think we can support it

[2020-01-09 19:17] JosephComputerScience opened #21425 "Docs feedback: /plugins/developing/snapshot-mode.md"
Getting plugins to work in snapshot mode is empty.

[2020-01-09 19:57] naturalbeau commented on #21019
@marefr Is there any update on this issue? I also have the same issue and looks there is no way to work around it.

[2020-01-09 20:13] enotanet commented on #18927
Seems like dead project or they are working for corp users.

[2020-01-09 21:11] schaffino opened #21426 "Stackdriver timeouts concurrent queries over large time periods with "Client.Timeout exceeded while awaiting headers""
**What happened**:

We are using the stackdriver datasource to for dashboarding with grafana against some log based metric data sources. It's working well for some dashboards, but we frequently encounter the following error in certain dashboards when increasing the time period they run over.

[code]

One dashboard works perfectly fine for a 12 hr period and under, but as soon as we set it to 24 ho

[2020-01-09 21:24] schaffino commented on #21426
That should say i'm not well versed in GO :)

[2020-01-09 21:27] ademxoy opened #21427 "Alert on value change from previous run"
I want to alert on increasing values.  Is there a way to do it?

So, situation is this:  If errors (discards) are 15kbps 2 minutes ago and errors are 20kbps 1 minute ago, I want fire an alert.

Condition:
When avg() of query(A, 2m, now) IS ABOVE avg() of query(A, 1m, now)
instead of second part being a static value.

I searched online for a while but I could not find an answer.

Thanks,

[2020-01-09 22:33] Drewster727 commented on #8260
+1

[2020-01-09 22:56] cantino commented on #21340
We're also encountering this issue in production. AuthProxy simply doesn't work with users that we create with the API.

[2020-01-09 23:23] darxriggs commented on #14218
@provenvelocity is this still an issue?

[2020-01-09 23:27] bryannaegele commented on #15972
I can confirm what @benj0c found. Image rendering works fine for us in test alerts but failed on real ones. If image rendering fails, the alert should still always be sent

[2020-01-09 23:38] chaithuam opened #21428 "Stackdriver: When I use a variable for the filter field in query editor, I get invalid argument error."
Here is what I am trying to do.

These are my template variables:
![Screen Shot 2020-01-09 at 5 17 33 PM](https://user-images.githubusercontent.com/17556564/72112993-c8cd3980-3304-11ea-8e2f-eb4e53691151.png)

I am trying to create a panel using the query editor.
![Screen Shot 2020-01-09 at 5 22 26 PM](https://user-images.githubusercontent.com/17556564/72113294-9ff97400-3305-11ea-9d28-b62458b17934.

[2020-01-09 23:49] cantino commented on #19876
We have this issue as well. Running `delete from cache_data` fixes it. I think there is a cache that is not being cleared on user deletion. Is this an easy fix?

[2020-01-10 00:41] ryantxu opened #21429 "Move all custom metadata key/values to the custom section"
The current QueryResultMeta implementation allows any key/value pair:
[code]
we also have a section that allows custom values (since #20854)
[code]

Ideally we should have known/standard properties on the main element and than anything custom in custom.   Currently there are only a few things that use custom properties so I think we should move this before 7.0

The only things using values are:
[c

[2020-01-10 01:50] cyriltovena opened #21431 "Explore cancel request"
**What would you like to be added**:

I would like a way/button to abort a request.

**Why is this needed**:

now with frontend and single queries that can spawn many other queries (150 or more) it would be very nice to be able to cancel/abort a request, the request would then cancel all sub requests, in case of mistake this would be a nice way to recover request budget.

[2020-01-10 02:00] provenvelocity commented on #14218
I fixed it my code and have ment to get it back to the community but I left
the company..... I will check the latest code and see if it’s still and
issue and commit my code if it is. But if the ldap has not changed I bet it
still is an issue.

On Thu, Jan 9, 2020 at 3:23 PM René Scheibe <notifications@github.com>
wrote:

[2020-01-10 02:46] veesahni commented on #1893
+1

We have many services, each with their own dedicated dashboards.  It would be nice for our "Home" dashboard to have 1 chart per service, graphing a handful of key metrics each with their own scale.   The goal here is to provide a quick visual that a human could use to say "something is not right on this one" and use that as a starting point to dig deeper.

[2020-01-10 02:46] veesahni commented on #7397
+1

We have many services, each with their own dedicated dashboards.  It would be nice for our "Home" dashboard to have 1 chart per service, graphing a handful of key metrics each with their own scale.   The goal here is to provide a quick visual that a human could use to say "something is not right on this one" and use that as a starting point to dig deeper.

[2020-01-10 05:46] torkelo commented on #18927
Why would not Corp user care about this?

[2020-01-10 07:55] freekvh commented on #18376
So, this is not happening? Would be sweet with the default home-assistant docker...

[2020-01-10 08:43] Gauravshah commented on #3677
@redlus you should give it another shot, it does work on the grafana 6.4. Also if latest grafana version was the only issue , there were options to go back one minor version. Not sure why would you call `would love to see a working plugin`

[2020-01-10 09:27] ushuz commented on #9294
We have the same problem with 6.5.2. Series got overlapped instead of stacked if there are `null` values. `fill(0)` / `null as zero` could workaround this.

Below is the raw response from InfluxDB:

<details>

[code]

</details>

[2020-01-10 09:33] aocenas commented on #21400
@marefr do you know if this is solvable? If I understand correctly we use `root_url` for both `base href` and where server listens but here they should have different values.

[2020-01-10 09:39] aocenas commented on #21411
May be a duplicate of https://github.com/grafana/grafana/issues/20652 but not sure.

@sunker can you take a look at this?

[2020-01-10 09:39] marefr commented on #20944
@t-umeno 502 bad gateway is an indication that Grafana server can't establish a connection with your elasticsearch cluster. Seems like configuration error to me and not basic auth related because of 502 status, i.e. Grafana can't connect at all to Elasticsearch.

[2020-01-10 09:39] #20944 closed

[2020-01-10 09:47] Jens-H-Eriksen opened #21434 "Table visualization of Annotations is not showing titel and timeend"
**What happened**:
When using a table to visualize region annotations it is not showing the (new) _timeend_ column.
Also the Title is empty.

**What you expected to happen**:
All Columns from my annotation should be shown.
The Title Column should show the Name of the Annotation

**How to reproduce it (as minimally and precisely as possible)**:
Add an annotation with a _timeend_ column.
Add a new v

[2020-01-10 09:48] marefr commented on #19574
@ryankurte HTTP datasources use a common HTTP configuration which include ssl/tls. Different data source types have different needs and I think it's hard to make this part of common configuration.

[2020-01-10 09:54] marefr commented on #21310
@castillo92 interesting in contributing? Think something along these lines would be sufficient:
[code]

[2020-01-10 09:56] jongyllen commented on #21366
Just for reference - here the details how this works:
https://docs.microsoft.com/en-us/azure/active-directory/develop/access-tokens

[2020-01-10 10:06] aocenas commented on #21420
Hey @KuvshinovaElena, can you post a screenshot of the error?

[2020-01-10 10:11] Jens-H-Eriksen opened #21435 "Overlapping region annotations should show tooltip for both annotations"
**What would you like to be added**:
When you have more annotations that are overlapping, the tooltip is only showing data for one annotation region.

**Why is this needed**:
When you have many overlapping region annotations it will make it possible to find out what annotations are actually active at the time you are pointen at.

![2020-01-10_11h09_42](https://user-images.githubusercontent.com/263

[2020-01-10 10:15] aocenas commented on #21425
Seems like there is an issue with the styling as the content is there it is just pushed way down and some is not even visible. When I remove some styles:
<img width="169" alt="Screenshot 2020-01-10 at 11 12 40" src="https://user-images.githubusercontent.com/1014802/72145176-40997380-339a-11ea-9ccb-38025280b693.png">
This shows ok but seems like that styling there is for some reason and it is using

[2020-01-10 10:41] marefr commented on #21191
@tneumueller my screenshot is with preserve logs and accepting invite is the request I underlined. Are you by any chance using some custom configuration, please include that. Maybe custom `org_name`?

Almost sounds like user in question you're testing with don't have a correct org id assigned as the default. If you could check in the user table in the database what is the value of org_id and in or

[2020-01-10 10:43] #19988 closed

[2020-01-10 10:49] coussej opened #21436 "Make decimal separator in csv export customisable"
**What would you like to be added**: currently, the export to csv function exports the data with points as decimal separator. I'd propose to make this configurable, either as an option in the export modal, but preferably as a user setting.

**Why is this needed**: while I fully support using point when working with numbers on computers, some locales (such as in Belgium) use comma as the decimal se

[2020-01-10 10:53] mark-cts commented on #18887
Excited to see where this goes as a very appreciated request, especially for kubernetes labels out of stackdriver.

I'm not sure if this will be part of this PR or not but is it possible to ensure these are added appropriately (or just a free-form box) to the variables selection for K:V pairs out of SD metrics? Currently im only able to use resource labels in there due to autocomplete not taking t

[2020-01-10 10:56] marefr commented on #21400
@aocenas don't think it's solvable without code change. It's somewhat related to #6844 and possibly a duplicate since the solution probably would be the same.

[2020-01-10 11:17] dprokop commented on #20656
@mckn would be cool to do some quick POC with https://typedoc.org/ or https://api-extractor.com/ and see if we can get some quick wins there

[2020-01-10 11:38] #21362 closed

[2020-01-10 12:06] mckn commented on #20656
Totally agree! But thinks it might be a parallell process as we check some examples on how other does it.

[2020-01-10 12:15] mckn commented on #20656
I am a big fan of the [react.js](https://reactjs.org/docs/react-api.html) documentation. It is easy to follow, have a good amount of text and some examples.

[2020-01-10 12:25] KuvshinovaElena commented on #21420
Unfortunately, I can’t add a screenshot of the error, because it is limited by the requirements of the company’s security policy.
If you do not log in to the Grafana interface, then the graph is successfully integrated, and everything works fine. But if you log in to the Grafana interface in the same browser as any user, the iframe block contains the message:

[2020-01-10 13:17] Tomica-G opened #21438 "Cloudwatch returns no datapoints for CPU* metrics from ElasticBeanstalk"
**What happened**:
A Grafana Cloud customer reported a reproducible bug with the CloudWatch datasource not loading datapoints for ElasticBeanstalk CPU* metrics:
* CPUIdle
* CPUIowait
* CPUIrq
* CPUNice
* CPUSoftirq
* CPUSystem
* CPUUser

**What you expected to happen**:
The screenshot shows that the data exists on the CloudWatch side:

![b](https://user-images.githubusercontent.com/56955081/721798

[2020-01-10 13:18] marefr commented on #21366
#20030 would make it easier to add this custom logic.

[2020-01-10 13:19] Tomica-G commented on #21438
The specific metric can also be queried on the AWS side using awscli:

[code]

[2020-01-10 13:22] davkal commented on #20929
Thanks for reporting back @hawran
v6.6 will come out in the next couple of weeks. It should have significantly better behavior when editing queries.

[2020-01-10 13:22] #20929 closed

[2020-01-10 13:55] #19744 closed

[2020-01-10 14:24] cyriltovena opened #21440 "Explore: show context not showing top values"
**What happened**:

I was trying to find the cause of a panic and when using the `show context` on the line found, it didn't show anything at the top. However it seems that the data is being returned correctly.

![image](https://user-images.githubusercontent.com/1053421/72159655-d1685300-338a-11ea-808b-e01e7ee949c5.png)

**What you expected to happen**:

Show me the top and bottom part of the show

[2020-01-10 15:05] Daly123456 commented on #10358
problem solved thanks for not responding

[2020-01-10 15:06] #12650 closed

[2020-01-10 15:07] sunker commented on #18887
@mark-cts, the group by field will have a [hard coded list](https://github.com/grafana/grafana/issues/18887#issuecomment-528526695) of SystemLabels at the very bottom of the dropdown. It will also be possible to enter a custom value in the group by field. As long as the metric that is selected supports the label in the group by field, it will be possible to filter on that label and also do alias b

[2020-01-10 15:23] sunker commented on #21370
No there's no plans to do this at the moment, but I think it's great idea.

[2020-01-10 15:30] sunker commented on #21411
@rspljignesh, in 6.5 we stop using the GetMetricStatistics api and use the GetMetricData api instead.  Please read the [what's new](https://grafana.com/docs/grafana/latest/guides/whats-new-in-v6-5/) and the [upgrading to 6.5 doc](https://grafana.com/docs/grafana/latest/installation/upgrading/#upgrading-to-v6-5).

I suggest splitting the query into multiple panels.

[2020-01-10 15:30] #21411 closed

[2020-01-10 15:35] sowndarya22 commented on #10358
Even I have the same problem. Can you please tell how did you fix this

[2020-01-10 15:35] sowndarya22 commented on #10358
probe_ssl_earliest_cert_expiry{instance=~"$target"} -time()

The below showing wrong output in grafana

[2020-01-10 15:45] Daly123456 commented on #10358
which panel did you used  ?

[2020-01-10 15:46] sowndarya22 commented on #10358
grafana dashboard id - 7587

[2020-01-10 15:47] Daly123456 commented on #10358
can u upload a screenshot ?

[2020-01-10 15:48] sowndarya22 commented on #10358
![image](https://user-images.githubusercontent.com/40585727/72166140-b69bdb80-3396-11ea-96fe-b608b0802f75.png)

[2020-01-10 15:49] sowndarya22 commented on #10358
![image](https://user-images.githubusercontent.com/40585727/72166235-df23d580-3396-11ea-9b0d-6e971629901a.png)

[2020-01-10 15:55] aocenas commented on #21440
Seems the issue is somewhere around [here](https://github.com/grafana/grafana/blob/9b7748ec133cb2ce4b092e523cb6d70a7b89de83/packages/grafana-ui/src/components/Logs/LogRowContextProvider.tsx#L56). We do some filtering there but that should only filter the row around which we want to see the context, could be something is off and we filter all the rows in some cases.

[2020-01-10 15:56] Daly123456 commented on #10358
try to use only this fonction ( time()) to verify your know where the problem did come from !

[2020-01-10 15:57] sowndarya22 commented on #10358
time() gives a value 50 years, 0 months, 3 weeks

[2020-01-10 16:05] Daly123456 commented on #10358
try to check your ssl manuelly from your site !

![image](https://user-images.githubusercontent.com/46686877/72167387-58d5b680-33cb-11ea-9103-cb0a04cfc07f.png)

[2020-01-10 16:06] sowndarya22 commented on #10358
![image](https://user-images.githubusercontent.com/40585727/72167505-39be3100-3399-11ea-87cc-b0f024537014.png)

[2020-01-10 16:41] pknad505 commented on #3514
This would be an amazing feature and its the only reason why I'm hesitant to start using this platform +1

[2020-01-10 16:46] ryantxu commented on #19755
solved with #19926

[2020-01-10 16:46] #19755 closed

[2020-01-10 17:33] veesahni commented on #8346
[Cloudwatch recently added anomaly detection](https://aws.amazon.com/blogs/aws/new-amazon-cloudwatch-anomaly-detection/).  The user interface is quite simple - pick a metric, enable anomaly detection and customize parameters if you need.   Similar to what datadog implemented.

GitLab also posted [this article](https://about.gitlab.com/blog/2019/07/23/anomaly-detection-using-prometheus/) on how the

[2020-01-10 18:01] dneth commented on #20652
This broke some of our dashboards out of the box as well and those that still work are more fragile since they could break by changing the time range.  So we're going to wait to upgrade until there's some kind of resolution to this.

Setting the min interval automatically works for our use cases and seems like a much smaller effort.

[2020-01-10 18:03] alecxvs opened #21442 "CloudWatch validation error, generated query exceeding 1024 characters"
**What happened**:
After upgrading from 6.3 to 6.5, some CloudWatch dashboards are breaking because there are many values in the template variables and it's generating a query expression that is too large.

**What you expected to happen**:
The query should work

**How to reproduce it (as minimally and precisely as possible)**:
Create a template variable with many values (like Lambda function name)

[2020-01-10 18:28] dneth commented on #21442
It should be possible to do that within the same request to keep costs low.  But even if the implementation were to make separate requests, the cost of the requests is still lower than the engineering cost of redesigning dashboards to work around the new limitation.

[2020-01-10 20:27] jsoref opened #21443 "Cog at top-right next to Cycle View mode should be a pencil"
**What happened**:
Load Grafana:
![image](https://user-images.githubusercontent.com/2119212/72183864-0c837a00-33bd-11ea-8adf-d8bbf4814141.png)

There are two cogs, one at the top right, and a second on the left

**What you expected to happen**:
Don't use the same visual indicator for two different actions.

Clicking the top right Cog results in an "editview" task. Edit view tasks in modern UX are

[2020-01-10 20:48] Tomica-G commented on #21438
It's not a bug, we've found out that the second Dimension has to be added to the query for CPU* metric to show.

[2020-01-10 20:48] #21438 closed

[2020-01-10 21:00] enotanet commented on #18927
No money - no attention. Nobody what to care for sake other for free.

[2020-01-10 21:27] prathap12 opened #21444 "504 gateway timeout (Server didn’t respond)"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Grafana version:
- Data source type & version:
- OS Grafana is installed on:
- User OS & Browser:
- Grafana plugins:
- Others:
We are running Grafana version 6.1.6, running on the Linux server. We are pulling data wmi expor

[2020-01-10 21:40] tronar opened #21445 "Alert display assumes threshold is scale compatible with left axis"
**What happened**:
Adding a diff() alert creates a red line that is meaningless.
I guess sum() and count() have the same issue.
Also, the alert uses (always) the left axis, even when the referenced query is right axis assigned.

**What you expected to happen**:
Threshold only drawn for compatible aggregation functions, or made optional.

**How to reproduce it (as minimally and precisely as possibl

[2020-01-10 21:43] dpavlos commented on #21340
This seems to be a proxy cache related issue @torkelo . I managed to reproduce the error on latest master by following the steps mentioned by @sfitts :

1) start from an empty db
2) create the user
3) set isGrafanaAdmin to true
4) authenticate once using the `X-WEBAUTH-USER: <username>`. On this step a proxy key is generated.
5) delete the user
6) repeat steps 2,3,4

When you delete the user the p

[2020-01-10 21:56] torkelo commented on #21443
Not sure I agree, they both go into settings / configuration views, why should one be cog and other pencil and not the other way around. Better to be consistent. Pencil is for launching an edit / modify action.

But thanks for feedback, will take it up with UX team

[2020-01-10 21:56] #21443 closed

[2020-01-10 21:59] torkelo commented on #21445
yea, agree!

we plan to make alert rules standalone (seperate) from graph panel / dashboard. so will try to remember this.

dupe / similar to : https://github.com/grafana/grafana/issues/7258

[2020-01-10 21:59] #21445 closed

[2020-01-10 21:59] torkelo commented on #21434
Title is something else, deprecated part of an annotation event

[2020-01-11 01:07] wrossmann commented on #19732
I've taken a deeper poke at this problem and it seems like this might have been due to a migration from a previous version. In digging into the sqlite DB I found the dashboard's `templating` section to look a bit off:

[code]

Whereas a freshly-created dashboard with the template variable copied over did not display the mismatched quotes. All instances had double-quotes, and the variable worked as

[2020-01-11 03:08] mhansen commented on #19585
Just commenting to note that grafana/grafana-arm32v7-linux:latest now works fine for me (this [image](https://hub.docker.com/layers/grafana/grafana-arm32v7-linux/latest/images/sha256-5d42f9ad1f8fe76815c2315aa30715d44146238460d083a0b31b2ab0242ef649)), so I've unpinned versions 👍

[2020-01-11 12:23] dpsenner opened #21448 "systemctl start grafana-server fails on armv7l (raspberry)"
**What happened**:

I restarted the raspberry. This resulted in the grafana-server systemd service to no longer start with the inconclusive error 2/invalid argument. journalctl reports the following:

[code]

`/var/log/grafana/grafana.log` is not updated on start, probably meaning that it does not even get as far as opening the logfile. The last message in `grafana.log` is `lvl=error msg="Server s

[2020-01-11 12:55] pedroetb commented on #19585
@mhansen you can use directly the base image (grafana/grafana:latest), it's multiarch :)

I'm currently using grafana/grafana:6.5.1@sha256:befcd84da2c1f3310b23d93ba9eec4a80df4c86c04bd39455623ac632fbcefdd in an ARM cluster.

[2020-01-11 13:40] castillo92 commented on #21310
Hello @marefr, and thanks for the coding. I think it could be enough too.

I am interesting in contributing, but I am not fell comfortable working in that huge project, because I do not know the variables nor the roadmap.

I could'n do the code because I don't know, for example:
`ctx.OrgId, "uname", ctx.Login, "ip", c.RemoteAddr()`

But, if you could tell me something or explain where I can help,

[2020-01-11 14:42] Neex101 opened #21450 "Show daytime bands on graphs"
**What would you like to be added**:
On graphs where the time-base spans more than a day, it would be great to be able to see the start and ends of the day by employing a simple greyscale banding scheme for the graph background. This could be driven with a custom daily start/finish field, or driven by local daylight data.

**Why is this needed**:
The end point of Grafana is about visually communic

[2020-01-11 14:52] dpsenner commented on #21448
The following appears to have solved the symptom:

`apt install --reinstall grafana`

It is however totally unclear to me what caused the problem.

[2020-01-11 14:52] #21448 closed

[2020-01-11 15:24] ominolab commented on #8170
+1

[2020-01-11 22:37] cyriltovena commented on #20511
I think this was a bug fixed now in Loki.

[2020-01-11 22:39] cyriltovena opened #21451 "Loki: Automatically switch between metrics or logs based on the query"
**What would you like to be added**:

I would like panels to be automatically switched between logs and metrics when writing queries in explore Loki. I don't think it's a good user experience to show an error that could be resolved automatically.

**Why is this needed**:

Who likes to click on a button when it is not required :)

[2020-01-12 01:12] marefr commented on #21450
You should be able to solve this with time regions feature of the graph panel, see https://grafana.com/docs/grafana/latest/features/panels/graph/#time-regions.

[2020-01-12 01:12] #21450 closed

[2020-01-12 01:20] ptsilva commented on #4288
+1

[2020-01-12 12:36] roobert commented on #21112
Came here to open this same issue. I've observed the following:

* Parsing the `level` out of the log message appears to work as expected:
<img width="904" alt="Screen Shot 2020-01-12 at 12 29 48" src="https://user-images.githubusercontent.com/226654/72218852-9a837000-3537-11ea-8652-bdba754078db.png">

* Specifying a `label` results in the log message being type "unknown":
<img width="903" alt="Sc

[2020-01-12 14:19] lsj9383 opened #21453 ""On Time Range Change" Invalid"
**What happened**:
"On Time Range Change" Invalid

**What you expected to happen**:
I want to refresh the value of “hostname” every time I change the time range.

However, the “hostname” value is not refreshed after changing the time range.

What else do I need to configure?

![image](https://aws1.discourse-cdn.com/standard14/uploads/grafana/optimized/2X/a/a19a5391b33211d694e19fcabb63105bed76c9ad_

[2020-01-12 15:57] torkelo commented on #21453
strange, can you have chrome dev tools & network tab open as you change time range?

[2020-01-12 17:36] lsj9383 commented on #21453
Yes, I can.

In my demo, there will be different "hostname" for different time range.
When I select "the last 5 minutes", http request body is:
{"queries":[{"queryType":"query","target":"query","refId":"A","type":"timeserie","datasourceId":1,"query":"*|SELECT server_name GROUP BY server_name"}],"from":"1578763786785","to":"1578850186785"}

Obviously, this time range is not 5 minutes.
1578763786: 2

[2020-01-12 17:54] lsj9383 commented on #21453
So, no matter what I choose, the time range of the request is always one day

[2020-01-12 18:24] lsj9383 commented on #21453
So, no matter what I choose, the time range of the request is always one day.

And you can access the grafana site to test: http://qa.signalping.com
username & password: guest / guest123

[2020-01-12 18:55] #21402 closed

[2020-01-12 21:06] torkelo commented on #21453
looks like it's a problem with the data source plugin your using

[2020-01-12 21:06] #21453 closed

[2020-01-12 21:42] luke-guyton commented on #11436
My company also needs this feature because the email content gets copied to a third party app that only allows text.
I really need a date/time in the message content to aide in identifying the relevance of the alert.

[2020-01-12 23:35] vogler commented on #15173
Same problem here:
[code]

[2020-01-13 00:15] BhartiAgrawalNvidia commented on #16090
I have submitted the PR here https://github.com/grafana/grafana/pull/21447 thanks. Sorry it took so long.

[2020-01-13 00:16] BhartiAgrawalNvidia commented on #16090
Hi, I am not able to assign this issue to myself for some reason.

[2020-01-13 05:21] lsj9383 commented on #21453
Why is the time range in the request body related to the data source plugin?

[2020-01-13 06:31] okhowang opened #21455 "Graph in View repeat Panel disappear after change dashboard variables"
**What happened**:
when view repeated panel, changing variable will make graph disappeared

**What you expected to happen**:
all repeated panel view as first repeat panel

**How to reproduce it (as minimally and precisely as possible)**:
there is a dashboard which has a repeat panel graph,
![image](https://user-images.githubusercontent.com/3352585/72236240-fcfc6f00-3610-11ea-9884-4acb13e48119.png)

[2020-01-13 06:45] okhowang commented on #21455
it seem like
[code]

[2020-01-13 06:46] torkelo commented on #21455
Yes, this is not supported, bit tricky. If you go full screen view of a repeated panel Grafana should lock the variables so you cannot change them (if they are the repeated variable or it depends on it)

[2020-01-13 07:40] sunker opened #21457 "Stackdriver: Use custom.meta for labels"
All labels should live in meta.custom. Ream more [here](https://github.com/grafana/grafana/pull/21373#issuecomment-573158410)

[2020-01-13 07:51] jinleileiking opened #21458 "grafana 6.5.2 `Direct link rendered image` function does not work well"
Use 6.4.4 is ok

[2020-01-13 08:04] torkelo commented on #21458
we need more info, log output, what data source you use, what panel? Can grafana-server access your data source? what OS are you running grafana-server on? what package did you install?

Have you tried installing:
https://grafana.com/grafana/plugins/grafana-image-renderer

[2020-01-13 08:06] Jens-H-Eriksen commented on #21434
Okay.... but it would be nice if the _Title_ could be the _name_ of the Annotation. In my case I have 3 different kinds of annotations and the _Title_ would then be the way to distinguish between them in the table. At least it should not be there if it is deprecated.

[2020-01-13 08:08] jinleileiking commented on #21458
@torkelo I am not using the new grafana-image-render, I use old  phantomjs.
 I have tried to reproduce this.

1. Install grafana 6.5.2. Then the `Direct link rendered image` does not work
2. Copy the 6.4.2 public folder to 6.5.2. It  worked well.

[2020-01-13 08:12] jinleileiking commented on #21458
Failed log is:
[code]

[2020-01-13 08:15] vpbobade commented on #5848
I am implementing alert mechanism in grafana and added an email as my notification channel.  I want to add a variable in my email message however when I actually tried to it is not working - could some suggest if this is possible here in case of email notification ??

I think we can do that in slack notifications however not possible in email notifications. Please let me know if some one did this.

[2020-01-13 08:21] jinleileiking commented on #21458
the phantomjs is runing and hanged:

[code]

60s killed

[2020-01-13 08:39] torkelo commented on #21458
try installing grafana-image-render

[2020-01-13 08:59] #19459 closed

[2020-01-13 09:00] jinleileiking commented on #21458
@torkelo I want to use phantomjs. Can it possible?

[2020-01-13 09:06] torkelo commented on #21458
we are having issues with supporting phantomjs, it is too old and unmaintained, and support will be 100% removed soon in 7.0. From 7.0 we are going to require grafana-image-render plugin, so the sooner you migrate to that the better.

[2020-01-13 09:08] nttoan26 commented on #10728
hi @daniellee , I believe you could guide @vishuPPatel to use Grafana's AuthProxy to handle authentication

[2020-01-13 09:20] torkelo commented on #21444
You have a query timeout option in the data source settings view

[2020-01-13 09:20] #21444 closed

[2020-01-13 09:22] #16887 closed

[2020-01-13 09:23] jinleileiking commented on #21458
Ok, waiting for 7.0.

[2020-01-13 09:23] #21458 closed

[2020-01-13 09:36] sunker commented on #20729
@eddgrant @jveldboom does it work if you replace dimension name within brackets with label?
eg: `request-count-{{AvailabilityZone}}` --> request-count-{{label}}

[2020-01-13 09:42] sunker commented on #20927
Thanks @viper25. Yes, using `label` will always work when a multi-valued template variable is being used for dimension values and that is because the GMD api will return one label for each time series, and that label will have the same name as the dimension.

@julian-ott-emnify and @zelds if you replace dimension name within brackets with label, does that work for you too?
eg: request-count-{{Avai

[2020-01-13 09:43] Schmaetz92 opened #21459 "Templating: Links and multi valued variables that set variables via URL"
Hello,
I'm currently trying to embed defined variables, which can take several or all values, into custom html links of a panel. But the problem is that the available options:

- $var_name
- [[var_name]]
- ${var_name:glob}
- ${var_name:regex}
- ${var_name:pipe}
- ${var_name:csv}
- ${var_name:json}
- ${var_name:distributed}
- ${var_name:lucence}
- ${var_name:percentencode}
- ${var_name:glob}

do no

[2020-01-13 10:33] hugohaggmark opened #21460 "Test plugins for digest issues with new version of backendSrv"
Plugins that might be affected by change:

- [x] ~~grafana-piechart-panel~~
- [x] ~~grafana-clock-panel~~
- [x] alexanderzobnin-zabbix-app
- [x] ~~grafana-worldmap-panel~~
- [x] ~~vonage-status-panel~~
- [x] ~~natel-discrete-panel~~
- [x] ~~grafana-simple-json-datasou...~~
- [x] ~~briangann-gauge-panel~~
- [x] ~~jdbranham-diagram-panel~~
- [x] raintank-worldping-app
- [x] ~~natel-plotly-panel~~
-

[2020-01-13 10:37] itmecho opened #21461 "Slack notificaitons not sending after upgrade"
**What happened**:
Upgraded from `6.4.2` to `6.5.2`. Email alerts continue being sent with no problem but slack alerts stop coming through. Sending the test notification in the "Notification Channel" configuration works fine.

![Notification Channel](https://i.snipboard.io/SubGX8.jpg)

![Working Test Notification](https://i.snipboard.io/9XELSO.jpg)

**What you expected to happen**:
Slack alerts sh

[2020-01-13 10:57] itmecho commented on #21461
Downgrading back to `6.4.2` fixes the issue

[2020-01-13 11:10] Neex101 commented on #21450
Many thanks

[2020-01-13 11:52] torkelo commented on #21459
similar problem to https://github.com/grafana/grafana/issues/20733

[2020-01-13 11:53] shred commented on #4113
Can someone with proper permission please re-open this issue?

[2020-01-13 11:58] torkelo commented on #4113
Grafana 6.6 has custom units so you can add any unit you want

[2020-01-13 12:02] Hipska commented on #4113
Okay, but You said "this was added", so I assumed that You were talking about "Rotations per minute (RPM)".

[2020-01-13 12:06] shred commented on #4113
There is a "read per minute" unit, which also abbreviates to RPM, and could be used as "rotation per minute" even though it's technically something different.

The latest Docker image is 6.5.2, so I am still missing the custom units feature. If it's coming with 6.6, it's okay for me then. :smile:

[2020-01-13 12:11] alvarolmedo opened #21463 "fallbackText added to Google Chat notifications."
**What would you like to be added**:
Add a fallbackText (string) could be added to the card used to notify in Google Chat, in order to be visible the alert in the notifications.
Definition of fallbackText: A plain-text description of the message's cards, used when the actual cards cannot be displayed (e.g. mobile notifications).  (https://developers.google.com/hangouts/chat/reference/rest/v1/space

[2020-01-13 12:32] dprokop commented on #20921
@nitinsurana thanks for reporting. Any chance of providing us with repository we can reproduce the issue?

[2020-01-13 12:48] marefr commented on #21256
Duplicate of #2101

[2020-01-13 12:48] #21256 closed

[2020-01-13 12:49] marefr commented on #21256
Duplicate of #21018

[2020-01-13 12:49] marefr commented on #21275
Duplicate of #21018

[2020-01-13 12:49] #21275 closed

[2020-01-13 12:49] marefr commented on #21461
Duplicate of #21018

[2020-01-13 12:50] #21461 closed

[2020-01-13 12:59] safadig commented on #9875
Definitely go for duplicate Alert...Much easier to remove/disable than to add in duplicate

[2020-01-13 13:03] LarsKumbier opened #21466 "Custom variable unescape in repeating row not working properly"
I am using a prometheus datasource with a prometheus label called "url". When using the Query Inspector, I can e.g. use a PromQL query for a visualization like so:
[code]
The Query Inspector shows a correct query and I get a proper visualization, if I *just* use a custom variable:
[code]

Now for the problem with the same graph in a repeated row. I created a row, used the repeating-rows functional

[2020-01-13 13:23] aocenas commented on #21205
Hey, @Dieterbe as far as I know what you describe as a current state is correct, there isn't any ongoing work on this.

The datasource API allows for any datasource to get previous query from previous datasource and try to map it to it's own query. This could be used semi easily for this too.

Only issue I see is that the API could be improved to make this bit easier to implement. Right now each t

[2020-01-13 13:39] Duologic commented on #17804
This looks very similar to #12878.

[2020-01-13 13:47] gopalakrishnan-subramani commented on #21390
@ryantxu are you planning fix for 6.6 release?

1. Kindly check to Bring React pages
2. Kindly check to bring angular pages consistently [it works like random behaviour]

[2020-01-13 14:29] itmecho commented on #21018
I upgraded from `6.4.2` to `6.5.2` and saw this behavior. Nothing else changed and reverting back to `6.4.2` fixes the problem. I am using the default phantomJS renderer in the `grafana/grafana` docker image.

Email notifications still get sent but don't include the image of the graph. Slack notifications never come through.

[2020-01-13 14:48] Dieterbe commented on #2881
Spoke with Torkel. He had some good points:
* datasource should return query id, not query used. e.g. you may issue the same query multiple times and set one to left, one to right. you need to differentiate, them.
* torkel thinks the likely implementation would then be display rules that say "if query id was A or C or whatever -> apply these tweaks".

[2020-01-13 14:55] Dieterbe commented on #21205
Thanks Andrej!

[2020-01-13 15:22] aocenas commented on #21420
Hmm ok so you do not get something like an access denied error page, the page in the iframe just does not load as if the server was down is that right?

[2020-01-13 15:24] aocenas commented on #21420
@marefr do you know whether this can be some security setting that logged in users cannot be server through iframe or something like that?

[2020-01-13 15:30] marefr commented on #21420
@aocenas sounds like the authenticated user does not have access to the anonymous organization?

[2020-01-13 15:44] aocenas commented on #19166
@ivanahuckova do you think this can be closed? I think those missing items are either obsolete anyway or you already implemented it.

[2020-01-13 15:46] chaithuam commented on #21428
Solved it by using
![image](https://user-images.githubusercontent.com/17556564/72269640-8ef08180-35e9-11ea-8c7b-8b79b2550012.png)

[2020-01-13 15:46] #21428 closed

[2020-01-13 15:54] ivanahuckova commented on #19166
Yes, I was looking at this issue last week and I was thinking the same. So I am closing it. 🙂

[2020-01-13 15:54] #19166 closed

[2020-01-13 15:57] KuvshinovaElena commented on #21420
Yes.
The authenticated user specified in the cookie must not have access to this organization.

[2020-01-13 16:10] #19139 closed

[2020-01-13 16:15] weshayutin commented on #21324
My only thought would be to perhaps scroll lock a panel by default, and allow users to scroll w/ a shit + scroll or something along those lines.  Perhaps keyboard configurable.

Thanks for reading through and taking the time!!

[2020-01-13 16:25] torkelo commented on #14206
think this is done on the grafana.com side now

[2020-01-13 16:25] #14206 closed

[2020-01-13 17:04] tikoflano opened #21473 "Bar graph width doesn't match aggregation period"
I think that when using aggregated values the bar width should match the aggregation period. When querying data from my MySQL with a 1d aggregation period the bar is about "16hrs wide". I've tested with 1h and gives "40m wide" and with 20m gives "13m wide".

Here is my query
[code]
I'm setting th **$__interval** using the **_Min time interval_** option.

![image](https://user-images.githubusercont

[2020-01-13 17:07] torkelo commented on #21473
Can you use query inspector and show the raw data points (times) that your query returns? think this is due to the last day, it is not complete (it ends in 16:00) so the shortest time between two data points is less then a day, which is why the bars do not cover a full day. The bar width is calculated to be the same as the shorted distance between two data points.

[2020-01-13 17:21] tikoflano commented on #21473
This is what the query inspector shows:

[code]

[2020-01-13 18:57] till commented on #16648
@torkelo Thanks

---

So... in a multi-tenant environment. Where does this auth proxy come from?

I wonder how this works when I have one Grafana instance where I want to query all logs from my Loki server. They may have different "tenants", to shift through logs more easily, but I want a firehose of everything.

When I configure this header, I would then need to add one datasource per tenant (wit

[2020-01-13 18:58] torkelo commented on #21473
Oh, data looks evenly spaced on date interval even for last time point.

Think the reason the bar is not exactly a day wide is to leave space between bars (the bar size is set to 50% of the distance between data points).

You can use staircase mode (plus lines) to showcase more accurately the exact distance between data points

[2020-01-13 18:58] #21473 closed

[2020-01-13 19:01] torkelo commented on #16648
Think you have to do all that yourself via some kind of proxy

[2020-01-13 19:03] till commented on #16648
@torkelo Can I set multiple org ids in one header?

[2020-01-13 19:06] tomwilkie opened #21476 "Explore view doesn't show anything when you do a bad query"
Might be worth saying "0 series returned" or something:

<img width="1093" alt="Screenshot 2020-01-13 at 13 04 05" src="https://user-images.githubusercontent.com/444037/72283947-71c9ac00-3605-11ea-848c-2814a58486b5.png">

[2020-01-13 19:07] torkelo commented on #16648
no

[2020-01-13 19:18] #20053 closed

[2020-01-13 19:25] tikoflano commented on #8832
I wanted to set up the LDAP configuration with environmente variables too and this is what I came up with. Maybe you can use this as a base for what you are looking for.

**docker-compose.yml**:
[code]

Note how I changed the **user** and the **entrypoint**. Also mounted **entrypoint.sh** and **ldap.template.toml**

**./src/grafana/entrypoint.sh** (rememember to chmod +x it)
[code]
**./src/grafana

[2020-01-13 19:42] #21463 closed

[2020-01-13 20:41] tikoflano commented on #21473
Thanks. That worked. The only problem with that approach is that the last data won't have any width (right graph). It would be better to allow us to modify that min space between bars.

![image](https://user-images.githubusercontent.com/6231202/72290410-e6174600-362b-11ea-86c4-9dc07f497e1c.png)

I managed to force it to have a width (left graph) by artificially adding a record for tomorrow modifyi

[2020-01-14 01:06] lperrin-tower commented on #9802
can you please revisit the decision to merge this? it would actually be really helpful to pack more info in the tables. thanks

[2020-01-14 02:04] sasaluo opened #21477 "compiling failed after login_ctrl.ts code revised"
**What would you like to be added**:
I need to change  request method in login_ctrl.ts for security risk. my way is  using $http alone in login,and using http request in backend_srv after log in. Howeverafter chaning code in login_ctrl, i execute command  npm install -g yarn   yarn install --pure-lockfile npm run build,error occured
 so how can i execute command above success when i add just like

[2020-01-14 02:59] philrz commented on #3538
I just found myself seeking this functionality as well. My use case was pulling time-series data from an InfluxDB data source and needing to do downsampling in my panels based on `$__interval`, and of course with downsampling I have to pick what math is applied to summarize into the number of available pixels. Right now it seems I have to either:

1. Lock in a single Aggregation/Selector such as `

[2020-01-14 05:43] ryantxu commented on #21477
not sure how to help here... changing the login page/process is not really supported, so your mileage my vary :)

[2020-01-14 05:43] #21477 closed

[2020-01-14 06:49] torkelo commented on #9802
The New table panel might support different size (padding) options

[2020-01-14 08:31] anirudh-ramesh commented on #21286
Hi, @hugohaggmark, would this or #4909 be a good fit for Grafana v6.7? I see that both issues are closed, and hence worth asking a question.

[2020-01-14 08:33] #20649 closed

[2020-01-14 09:12] hugohaggmark commented on #21286
@anirudh-ramesh I'm guessing that they are not fit for Grafana v.6.7.

[2020-01-14 09:13] #14447 closed

[2020-01-14 10:02] peterholmberg opened #21482 "PanelInspect: Add error tab"
Add a error tab to Panel inspector and render the error in tabcontent

[2020-01-14 10:11] NoelzeN commented on #5812
+1 for this, still no solution available? Wanted to migrate from  Redash to Grafana but need to be able to plot a table as chart for that :(

[2020-01-14 10:20] hannesaqua opened #21483 "Does not parse id_token claims when using Generic OAuth with Azure AD B2C"
**What happened**:

Grafana does not correctly parse returned application claims returend by Azure AD B2C. All the information is returned in the `id_token` but still it tries to fetch the profile info from the configured `api_url` (which doesn't work).

**What you expected to happen**:

That Grafana use the returned application claims in the `id_token` without trying to fetch the profile from the

[2020-01-14 10:26] hannesaqua commented on #21483
When inspecting the source code this looks very strange:

https://github.com/grafana/grafana/blob/7a3d1c0e4ba1b4803f7b8273f3f7dd8e8f78b19f/pkg/login/social/generic_oauth.go#L220

It seems that the code assumes that the token is *never* extracted because when executing the line at https://github.com/grafana/grafana/blob/7a3d1c0e4ba1b4803f7b8273f3f7dd8e8f78b19f/pkg/login/social/generic_oauth.go#L234

[2020-01-14 10:57] dprokop opened #21484 "Angular migration: pages & views"
Mark | Description
-- | --
🏃 | work in progress

## Angular pages left to migrate to React

- [x] Dashboard import (http://localhost:3000/dashboard/import) #22338
- [x] Dashboards list (http://localhost:3000/dashboards) https://github.com/grafana/grafana/pull/23530 @Clarity-89
- [x] New dashboard folder (http://localhost:3000/dashboards/folder/new) (https://github.com/grafana/grafana/issues/22687)

[2020-01-14 11:00] dprokop commented on #21484
Some candidates to start with (as those could also introduce new form styles) are:
- [ ] Invite user (http://localhost:3000/org/users/invite)
- [ ] New dashboard folder (http://localhost:3000/dashboards/folder/new)
- [ ] Admin - Add new user (http://localhost:3000/admin/users/create)
- [ ] Reset password (http://localhost:3000/user/password/send-reset-email)
- [ ] Login - Signup (http://localhost:

[2020-01-14 11:25] dsuievalov opened #21485 "Grafana do not send rendered image when it was created to slack"
**What happened**:
Configured remote image-rendered service according to the doc (https://grafana.com/docs/grafana/latest/administration/image_rendering/#remote-rendering-service) and point Grafana on it with env variables:
[code]

Alert is configured to send images to slack:

![Screenshot 2020-01-14 at 13 04 55](https://user-images.githubusercontent.com/59164447/72339166-80c86100-36ce-11ea-8512-9

[2020-01-14 11:46] torkelo commented on #11700
Some progress on showing metric tank query meta in the inspect feature was completed in 6.6, but the panel inspector is still behind feature toggle and not ready. The changes to the panel header to show indication is not yet possible to start on, first we need to unify our panel headers, then redesign the panel header. This work is scheduled for 7.0

[2020-01-14 11:47] torkelo commented on #20508
fixed by https://github.com/grafana/grafana/pull/20510

[2020-01-14 11:47] #20508 closed

[2020-01-14 12:34] Jens-H-Eriksen opened #21486 "Add cm as a length unit"
**What would you like to be added**:
'cm' (centimeter) as lenght unit

**Why is this needed**:

![2020-01-14_13h31_35](https://user-images.githubusercontent.com/26311915/72344777-5d071a00-36d2-11ea-8183-1ffe8dced1b3.png)

[2020-01-14 12:36] hannesaqua commented on #21483
I'm sorry, I can see now that this is fixed by https://github.com/grafana/grafana/pull/20300

I have confirmed it locally.

[2020-01-14 12:37] #21483 closed

[2020-01-14 13:16] #19681 closed

[2020-01-14 13:19] #17525 closed

[2020-01-14 13:56] torkelo opened #21487 "Tabs: Page header nav & responsive view"
The page header tabs should be hidden on smaller screens (when the dropdown is visible instead)

<img width="546" alt="Screen Shot 2020-01-14 at 14 17 43" src="https://user-images.githubusercontent.com/10999/72350076-fee03400-36dd-11ea-8de7-73703b035fd8.png">

[2020-01-14 15:29] maxblaze commented on #13733
This seems to be fixed for me in 6.5.2

[2020-01-14 15:32] dbartz commented on #10550
@torkelo as described above

including thresholds in the query does not help. Would it then not be a good idea to add such an option (and re-opening this issue)?

[2020-01-14 16:06] polycaster commented on #20998
+1, seeing this issue too.

Version: Grafana v6.5.1

Setting datasource to `"default"` results in it defaulting to first on the list of datasources.
Setting datasource to `null` produces expected results.

Sample panel json that defaults to first item in datasource array:
[code]

Working null datasource panel:
[code]

Is this expected behaviour?

[2020-01-14 16:41] #19847 closed

[2020-01-14 17:06] sebastianpiskorski opened #21491 "Query generated using $__range always contains incorrect value"
**What happened**:
Grafana generated such Prometheus query

[code]

from such template:

[code]

**What you expected to happen**:
I expected Grafana to produce query dependent on currently selected range, eg. `1d`

[code]

**How to reproduce it (as minimally and precisely as possible)**:
Use Grafa version `Grafana v6.5.2 (742d165)`  running on docker image

[code]
and create come Promtheus query c

[2020-01-14 17:13] marcusolsson opened #21492 "Community call #1"
Join us for the first Grafana community call to chat about Grafana development.

**Tuesday January 21, 16:00 UTC**

For the first community call, we're going to keep things casual and open up for questions from anyone attending. Join in if you're interested in ongoing Grafana development, our roadmap, or have questions about specific PRs and issues.

Subscribe to this issue for updates and the Zoo

[2020-01-14 18:20] #20933 closed

[2020-01-14 18:41] sebastianpiskorski commented on #21491
Solved.
Grafana behaved like this because I accidentally set `Relative time = 1s` for all my queries screen.
(or `timeFrom` value in panel JSON).

[2020-01-14 18:41] #21491 closed

[2020-01-14 19:17] ryantxu opened #21494 "Tabs: extra line in datasource config pages"
It looks like we now have an extra 1px line in some tabs:
![image](https://user-images.githubusercontent.com/705951/72374525-4b684700-36bf-11ea-8b60-cbb61fc3bc7c.png)

@peterholmberg

[2020-01-14 19:28] alecxvs commented on #20921
I think I'm seeing a similar issue, but only in unit testing; I'm seeing `TypeError: Cannot assign to read only property 'constructor' of object '#<Group>'` when importing @grafana/runtime in a typescript module. It loads @grafana/ui which loads BizCharts etc. etc. and eventually encounters this error.
[code]

This isn't an issue when running in the browser, though. Normally this whole import is m

[2020-01-14 20:02] Melhorio commented on #437
+1  I work with equipment related issues utilizing Grafana for equipment variable trending (temperatures, pressures, current, power etc.) . I have to agree that this feature would help to pin point equipment issues. Also selecting the trend line color on normal area s grayish, warning area to dark yellow and on alarm area as bright red or orange (as an example) can make the trends pop out highligh

[2020-01-14 20:16] alecxvs commented on #20921
Prerelease is showing
[code]

Same results as @nitinsurana.

Not sure this is the same issue at this point but here's some more info

I replaced this in my local index.development.js
[code]
with
[code]
and I have no more failures in my Jest tests. Plus I don't have to mock any imports which seems great.

The path seemed suspect and it's being used in a couple places including here:
https://github.

[2020-01-14 20:35] siegmund42 commented on #3677
@Gauravshah unfortunately still not working with Grafana 6.5.1 - I didn't try with 6.4 but switching to an older release may not be acceptable for most users.

[2020-01-14 23:31] tehlers320 opened #21496 "6.5 cloudwatch changes make large queries impossible"
**What happened**:
by switching APIs it is no longer possible to build a panel that queries over 100 series.

**What you expected to happen**:
All metrics to load

**How to reproduce it (as minimally and precisely as possible)**:
launch something with 100+ nodes in elasticache
`REMOVE_EMPTY(SEARCH('{AWS/ElastiCache,CacheClusterId} MetricName="CPUUtilization"', 'Average', 60))
`

**Anything else we

[2020-01-15 05:51] arunkumardada opened #21498 "Embed Grafana Panel as src using Iframe in Externally"
**What happened**:
I created Angular Web Application,From the Back End Service Call i am getting the Grafana Panel Links. Using <iframe [src]="link"/> i am able to see the grafana panel like this

![image](https://user-images.githubusercontent.com/29578687/72408382-b893df00-3788-11ea-99aa-7e0808cdbe74.png)

**What you expected to happen**:

I am expecting to show the Panels without Scroll bar and

[2020-01-15 06:51] #20998 closed

[2020-01-15 07:20] #21217 closed

[2020-01-15 07:25] torkelo commented on #21494
can't replicate this, what browser / OS and zoom level are you using?

[2020-01-15 07:48] kk5pengke opened #21500 "test the alert and the data was cut off"
**Steps to reproduce**:
I want to test the alert of the grafana, I push the test data continuously, qps = 10. I set the time interval = 1min, so there is about 599 every min.
![image](https://user-images.githubusercontent.com/18496674/72414203-a62b9c80-37ac-11ea-83ae-f7900d6d5067.png)
and set the alert diff as follow:
![image](https://user-images.githubusercontent.com/18496674/72414230-b5aae580-37

[2020-01-15 07:55] 0rn0lf commented on #19636
Same problem here. I started using grafana yesterday. I created some panels and everything was fine until I tried to resize them.

![2020-01-15 08_51_40-Grafana](https://user-images.githubusercontent.com/35098710/72415457-c63f6980-3774-11ea-9f59-a6ddcf54918f.png)
![2020-01-15 08_52_20-Grafana](https://user-images.githubusercontent.com/35098710/72415459-c6d80000-3774-11ea-9f30-2ca60e8b8162.png)

[2020-01-15 08:01] torkelo commented on #21494
damit, sorry I can replicate it now. Was on a branch where this was fixed

[2020-01-15 08:43] fsmp125 commented on #14130
+1

[2020-01-15 09:23] pinakispecial commented on #11601
Getting same problem in Openshift Grafana dashboard. How did you solved thsi?

[2020-01-15 09:25] fa1861 commented on #16452
+1

[2020-01-15 09:57] Breee commented on #4922
We also need this feature badly for personalized dashboards

[2020-01-15 10:29] RavivarmaDadi opened #21502 "Uncertain metric counts from Grafana"
We are using sumSeries() function to collect the metrics and sum up the results from multiple queries.
**Example:**
#A sumSeries(aliasByNode(exclude(exclude(exclude(*.*.2-2-12.journalValidator-service-296905184-1-314990627.com.walmart.arsenal.finance.journal.validator.controllers.JournalValidatorController.*.count, 'mapSize'), 'healthCheck'), 'clusterNodes'), 12))

#B sumSeries(aliasByNode(exclude

[2020-01-15 10:31] RavivarmaDadi commented on #21502
We want to understand why these queries giving uncertain counts for each refresh of 30 secs.

[2020-01-15 10:48] epigns commented on #7258
It will be really helpful ! +1

[2020-01-15 11:49] fa1861 commented on #13703
+1

[2020-01-15 11:54] #21487 closed

[2020-01-15 12:03] #18644 closed

[2020-01-15 12:10] adamkdean commented on #8152
This is still a requirement, years later

[2020-01-15 12:10] torkelo commented on #21494
fixed by https://github.com/grafana/grafana/pull/21489

[2020-01-15 12:10] #21494 closed

[2020-01-15 12:10] #20984 closed

[2020-01-15 12:23] #21369 closed

[2020-01-15 12:23] aknuds1 commented on #21369
This has been fixed.

[2020-01-15 12:25] tskarhed opened #21504 "Forms/Select: CSS issue, overlapping elements"
CSS issue when using Select
![Screenshot from 2020-01-14 17-09-53](https://user-images.githubusercontent.com/1438972/72360854-d57cd380-36f0-11ea-8d1f-615d0f995809.png)

_Originally posted by @dehrax in https://github.com/grafana/grafana/pull/21410#issuecomment-574249878_

[2020-01-15 12:43] viper25 commented on #20927
So just to confirm, `{{FunctionName}}` which was working before will no longer work correct? Is there documentation online that shows what the valid variables are?

[2020-01-15 12:49] p3r7 commented on #5961
Hello,

Facing the same situation, at [Transatel](https://github.com/Transatel) we decided to solve it by making an HTTP proxy to handle this: [Transatel/cleanflux](https://github.com/Transatel/cleanflux).

We've been using it for 2 whole years, both from Grafana and various scripts (including Jupyter notebooks).

For now, it is quite declarative (retention policies have o be redeclared in proxy c

[2020-01-15 13:45] karln-star commented on #16452
+1

[2020-01-15 14:17] harshal-raina commented on #7896
Installed edgex with grafana on an ubuntu 16.0.4 system, graphs and other data metrics are working perfectly on that system. But while accessing it via IP remotely, the grafana page loads and show all the graphs and meters with specified name on it but doesn't show any readings(even the graphs).
Using localhost 3000 for grafana. Influx_db is being used for datasource. Also checked data is being re

[2020-01-15 14:39] danger89 commented on #8152
I agree.. its still missing, I though it was easy to implement by some Grafana developers with the right known-how.

[2020-01-15 14:43] marefr commented on #17111
Should be fixed by #20514 from Grafana point of view. Plugin still need to use hclog with json format to get proper output in Grafana log.

[2020-01-15 14:43] #17111 closed

[2020-01-15 14:50] sunker commented on #20927
@viper25 I'm not saying that's how it should be. I was just asking if it works for you if you replace the dimension name with `label`. I can't reproduce this bug so that's why I need your input.

[2020-01-15 15:23] marefr opened #21510 "Backend plugins: Refactor new datasource query endpoint"
New datasource query endpoint (/api/ds/query) are still using `tsdb.HandleRequest()`. We need to create a new package similar to tsdb package which includes support for registering query endpoint and calling query endpoint using new API that returns dataframes/arrow payload.

[2020-01-15 15:30] ant0nwax commented on #11601
sorry i cant remember, i just see the comment i wrote INVALID :) so it was not the issue

[2020-01-15 15:33] AlKult commented on #17943
Hi!

Just wondering if anyone's picked this up so far?

Best regards,
Albert.

[2020-01-15 15:35] marefr opened #21512 "Backend plugins: Implement support for resources"
Implement support for registering and calling resources provided by backend plugins.

Blocked by grafana/grafana-plugin-sdk-go#34
Epic: #19667

[2020-01-15 15:38] #19888 closed

[2020-01-15 15:39] papagian opened #21513 "Grafana v6.6 Release Plan"
# Grafana v6.6
Release Coordinator: @papagian

## 1. Beta Release

### 1.1. Publish What's new in Grafana draft article
**When:** Preliminary Friday 17th November 2019
**What:**

 - [X] Create Google doc and share with maintainers (Release coordinator)
 - [X] Write draft article (Maintainers)
 - [X] Open a PR (Release coordinator) in grafana repository
 - [X] Open PR in website repository merging

[2020-01-15 15:43] dima-horror commented on #8042
We have the same problem :(

[2020-01-15 15:50] marefr opened #21515 "Backend plugins: Implement support for providing configuration properties to plugins"
Implement support for providing configuration properties and host (Grafana) information to backend plugins. Host information could be Grafana version, edition (currently OSS and Enterprise), valid or expired license.

The idea is to reuse the Grafana configuration file and existing `[plugin.<plugin id>]` section by taking all parameters in that section (except Grafana specific ones) and provide th

[2020-01-15 15:58] marefr opened #21516 "Backend plugins: Implement support for validating backend plugin config"
Implement support for validating backend plugin config before saving app/datasource backend plugin settings. Any error/warning should be returned to client. If it fails settings should not be saved in database.

Blocked by: grafana/grafana-plugin-sdk-go#37
Epic: #23992

[2020-01-15 16:09] mohsen0 commented on #20473
@hugohaggmark / @marefr Shouldn't grafana follow the default AWS credential chain in the SDK and then override if user wants to provide credentials through its interface?

[2020-01-15 16:31] jveldboom commented on #20729
Yes, that does kind of work but just not as it did before where you can specify the each dimension names individually. I'm assuming this is related to using the different CloudWatch API.

For example using just `{{label}}`:
![image](https://user-images.githubusercontent.com/303202/72451138-75863b80-3789-11ea-87ab-5998d9da9f60.png)

And another one using `{{label}} -- {{Stage}}` seems to duplicate

[2020-01-15 17:46] marefr opened #21519 "Backend plugins: Implement support for checking plugin config health"
Implement support for checking backend plugin config health. To be used at least when testing app/plugin from UI after saving a backend app/datasource plugin. Any error/warning should be returned to client.

Blocked by: grafana/grafana-plugin-sdk-go#38
Epic: #19667

[2020-01-15 19:47] jaydlowrider opened #21520 "Allow configuring bucket policy for S3 image store"
**What happened**:
The latest version (v6.5.2 (742d165)) seems to have broken the external_image_storage S3.

**What you expected to happen**:
We use Slack notification for alerts and image is automatically uploaded to S3. our current running production Grafana is at v.5.2.2 and S3 external_image_storage works.

**How to reproduce it (as minimally and precisely as possible)**:
I followed the docum

[2020-01-15 21:02] skupjoe commented on #4973
A typical operation that I do in other tools is drag and zoom into a particular part on the graph and then I want to zoom back out.

Having a "Reset Zoom" button would be extremely useful.

[2020-01-15 21:30] boyskila commented on #21377
@dprokop is anyone already working on this? I would like to take it if its free

[2020-01-15 21:43] lakshmankumark opened #21522 "role_attribute_path as environment variable in Dockerfile"
Hi, I am trying to add role_attribute_path in Dockerfile as an Environment Variable. Please suggest appropriate ENV variable name like other variables like GF_AUTH_GENERIC_OAUTH_NAME.

Thanks, Lakshman

[2020-01-15 21:57] michael-doubez opened #21523 "Dropdown menu for external links at top of dashboard"
**What would you like to be added**:

In the same way I can define dropdown menus of dashboards, I would like to be able to define dropdown menus of external links.

In `Dashboard Links > New`, for external links, I would be able to add/delete links from a list instead of a single item. It would be nice also to reorder them.

**Why is this needed**:

I have dashboards with many related resources (

[2020-01-15 22:11] t-umeno commented on #20944
Index OK. Time field name OK. (Version: 6.5.3)
Thanks!

[2020-01-15 22:30] Onepamopa commented on #6946
+1 option to hide values with 0s (or less than X) on hover tooltip.

[2020-01-15 22:39] mathieupassenaud opened #21525 "generic oauth2 : use email as username if there is no "login" or "username" property in /userinfo"
**What happened**:
Grafana + keycloak as authentication provider.
Keycloak has porperty "Email as username" activated.

I log in with my keycloak account, it works fine. Then, I changed my email in keycloak, using the "account" builtin application.
Surprise, when I log in grafana I lost everything, it is a new account.

**What you expected to happen**:
email shouldn't be used as a user id. I expec

[2020-01-15 22:54] viper25 commented on #20927
ok got it. Yes `{{label}}` works for me and `{{FunctionName}}` doesn't in version 6.5.2

[2020-01-15 23:22] ryantxu commented on #21390
@gopalakrishnan-subramani check https://github.com/grafana/simple-app-plugin against master grafana.  I think it is all sorted now

[2020-01-15 23:45] lunaticusgreen commented on #20150
@dprokop Hi, I probably missed notification from github, created PR

[2020-01-16 00:24] #20150 closed

[2020-01-16 04:43] gopalakrishnan-subramani commented on #21390
I see that Grafana page(s) has two type of functionalities.

1. Config Page [ as demonstrated below]

.addConfigPage({
    title: 'Page 1',
    icon: 'fa fa-info',
    body: ExamplePage1,
    id: 'page1',
  })
  .addConfigPage({
    title: 'Page 2',
    icon: 'fa fa-user',
    body: ExamplePage2,
    id: 'page2',
  });

and module.ts export as ConfigCtrl

export {
  ExampleConfigCtrl as ConfigCtrl

[2020-01-16 06:43] fredwangwang opened #21528 "Allow git as alternative persistent storage for dashboards"
**What would you like to be added**:
Allow Grafana to add a git repository to read/store dashboard in a centralized place.

**Why is this needed**:
Given a company has similar infrastructure setup for dev/stage/prod foundations, and the infrastructure setup is actively evolving.
As an operator, I need to keep the grafana dashboard up-to-date to better monitor the health of the foundation. Right no

[2020-01-16 07:15] yanbin7 commented on #3305
+1, any update now?

[2020-01-16 07:36] mckn commented on #21460
After a first check of the plugins this is the one that we properly need to test:

- [ ] alexanderzobnin-zabbix-app
- [ ] raintank-worldping-app
- [ ] ryantxu-ajax-panel
- [ ] grafana-kubernetes-app
- [ ] digiapulssi-breadcrumb-pane...
- [ ] jasonlashua-prtg-
- [ ] novalabs-annotations-
- [ ] digiapulssi-organisations-p...
- [ ] cloudflare-app
- [ ] ddurieux-glpi-app
- [ ] stagemonitor-elasticsear

[2020-01-16 07:55] AnushaBoggarapu commented on #18628
Any update on this issue?

[2020-01-16 08:15] aknuds1 commented on #21520
Thanks for reporting this, we will look into it.

[2020-01-16 08:18] aknuds1 commented on #21525
Thanks for reporting this, we'll look into it.

[2020-01-16 08:23] aknuds1 commented on #18628
@papagian Know how to move forward on this one?

[2020-01-16 08:53] dprokop opened #21529 "Replace react-size with AutoSizer"

[2020-01-16 09:12] nosteine opened #21530 "Errors when using "Today" time range"
I am using Prometheus data source.
When running rate queries with time range "Today", for some panels I am getting this error after some time:

However, when querying with "last 24 hours", then it returns just fine.
Also, I have a different query which has a counter with a 5m range in the query.
Here I get "No data" when using "Today".
I suspect this is because "Today" is a behaving differently th

[2020-01-16 09:22] sunker opened #21532 "CloudWatch: Display partial result in graph when max data points per call limit is reached"
The GetMetricData api has a limit of 100,800 data points per request. In case all queries in the GMD call are metric stat (not using math expressions), grafana will paginate the response until all data points are received. But in case a math expression is being used, GMD doesn't support pagination so in that case it's not possible to receive more than 100,800 data points. If that limit is reached,

[2020-01-16 09:56] rahuldevopsengg commented on #14173
Hi Siddhu,

I'm getting same issue for LDAP authentication and using active directory credentials. Please can you help me out.

regards,
Rahul

[2020-01-16 10:09] ST-DDT commented on #11419
Please fix this **bug** or at least add a big warning message to the import page.
After a fatal data loss on grafana's disk we had to do a full reimport of all our dashboards and it looked like everything was good. But we missed a few alarms that we shouldn't have missed.

[2020-01-16 10:18] mazycool commented on #8042
Also not working for me with last version 6.5.3.
Downgrade to 6.4.3 helped

[2020-01-16 10:28] jgehrcke commented on #16555
With all these observability systems that we build we sometimes don't try hard enough to put ourselves into the position of those people that will then actually have to do debugging using these systems. I find it rather obvious: trained humans can be **extremely** fast skimming through logs, reasoning about problems as logs fly by, especially if they know the component that emits the log they are

[2020-01-16 10:33] Apollon77 commented on #8042
Sorry I can not, no button to reopen. I think creating a new ticket with reference would be best idea?!

[2020-01-16 10:36] alexanderzobnin commented on #20921
@dprokop got the same error when run Jest tests against latest `@grafana/ui` build:
[code]
I've found a reason - strange import here
https://github.com/grafana/grafana/blob/43dbbe51f0e05e87e684700c28034d16014d917f/packages/grafana-ui/src/components/TimePicker/TimePickerContent/TimeRangeForm.tsx#L7

[2020-01-16 10:42] maxvonroden commented on #18139
We've recognized the same. Maybe it's worth to mention, that the used min and max values (inside of the custom range) are added to the legend.
![Heatmap_Legend](https://user-images.githubusercontent.com/59958042/72518193-0bd36380-3855-11ea-9fd5-c16541e0b8ca.png)
In our use case the custom legend was -15 to 35, but in the example chart only values from 3 to 29 are in the buckets, so the legend rang

[2020-01-16 11:06] alexanderzobnin opened #21537 "grafana-ui: failed tests in 3d party plugins"
After fixing #20921 I get another error when run tests. Tests are failed on files where `@grafana/ui` imported, like
[code]
Since I'm not building plugin with `@grafana/ui` (grafana libs are excluded in my webpack config:
[code]
), I get following error only with Jest tests:
[code]

I've found a root cause - import in one of time picker components looks strange:
https://github.com/grafana/grafana/

[2020-01-16 11:37] papagian commented on #18628
@aknuds1
It needs more investigation for related postgres issues given we don't include the `id` in the query.

[2020-01-16 11:44] #20873 closed

[2020-01-16 12:17] Siddhu1096 commented on #14173
What's the issue you're getting? Can you paste it here?

[2020-01-16 12:55] peterholmberg commented on #21529
Closed via #21511

[2020-01-16 12:57] peterholmberg opened #21539 "Add Download CSV Panel Inspect"

[2020-01-16 13:34] sunker commented on #20927
I've found the problem now. See suggested solution [here](https://github.com/grafana/grafana/pull/21541). Would be great to get some help with testing, or at least some feedback @viper25

[2020-01-16 13:36] sunker commented on #20729
I've found the problem now. Same issue as in #20927.

See suggested solution [here](https://github.com/grafana/grafana/pull/21541). Would be great if someone could test and verify that it works @eddgrant  @jveldboom

[2020-01-16 13:41] bgranvea opened #21542 "Add a builtin variable $__timezone containing the timezone"
**What would you like to be added**:
Expose a $__timezone global built-in variable which contains the timezone used to display the dashboard (either UTC if set in user preferences or the browser timezone).

**Why is this needed**:
I'm using dashboard links to have dashboard renderings. The rendering is not the same as what the user sees in his browser because of the missing timezone information.

[2020-01-16 14:02] razie commented on #12019
how do we vote for this? Is someone counting comments or is there something smarter?

[2020-01-16 14:05] marefr commented on #21485
Please read https://grafana.com/docs/grafana/latest/alerting/notifications/#slack and https://grafana.com/docs/grafana/latest/alerting/notifications/#external-image-store carefully. With slack you could either upload the image or send a link to a publicly available image.

[2020-01-16 14:05] #21485 closed

[2020-01-16 14:10] aknuds1 commented on #8042
It might be related to #21018, which we are working to fix.

[2020-01-16 14:12] aknuds1 opened #21544 "Alert pane for new dashboard has TypeScript error"
**What happened**:
After creating a new dashboard with a single graph panel (with TestDB as data source), when going to the alert pane for the panel, a TypeScript error pops up in the UI: `TypeError: can't access property "match", str is undefined`.

![Screen Shot 2020-01-16 at 12 03 40](https://user-images.githubusercontent.com/281303/72532047-f79e5f00-3872-11ea-93dc-7142431a22d6.png)

**What you

[2020-01-16 14:46] jkytomaki commented on #19173
Coming from Grafana 5.4.2, we had a working Cloudwatch datasource. On update to 6.5.3 the datasource stopped working.

Grafana is running on an EC2 instance that has an IAM role "grafana" assigned to it.

Editing the datasource and leaving the ARN empty gives the HTTP Error message and logs this in syslog:

`
error InvalidParameter: 1 validation error(s) found.\n- minimum field size of 20, AssumeR

[2020-01-16 15:09] helmser commented on #15465
same issue - using Pi, Chromium Browser.  Anything new here @7abbix , @harisaamin ?

[2020-01-16 15:11] tehlers320 commented on #21496
Another thing that happens is you can not open many graphs at one time.
<img width="277" alt="Screen Shot 2020-01-16 at 9 09 55 AM" src="https://user-images.githubusercontent.com/16598119/72536506-fc95eb00-383f-11ea-9ea9-fcb2fd99e40d.png">

This takes away much of the functionality of using grafana for cloudwatch.

[2020-01-16 15:17] schnobbl opened #21548 "Accessibility: error handling improvements"
Hi folks,

when entering some wrong data (for example a invalid format for "Evaluate every" in an alert rule) the affected field is not highlighted in GUI:

https://i.paste.pics/d18c0faed410e6dbdebc30d92763ec7c.png

A red border or sth else would help to better find the problem on the screen.

Regards,
Norbert

**Steps to reproduce**:

- Edit a Dashboard
- Create an Alert
- Enter invalid value "te

[2020-01-16 15:38] #21544 closed

[2020-01-16 15:40] eddgrant commented on #20729
Sorry for the delay in replying, have tested on `6.5.3` and can confirm that using `{{label}}` _does_ indeed resolve the issue for us.

![image](https://user-images.githubusercontent.com/604861/72533258-c4f16800-386c-11ea-8c51-bf15874b0330.png)

[2020-01-16 15:42] eddgrant commented on #20729
Aah, just seen https://github.com/grafana/grafana/issues/20729#issuecomment-575154013, will see if I can verify this.

[2020-01-16 16:02] aknuds1 commented on #21018
@StupidScience For which notification channels are your alerts not being sent? Slack? Email?

[2020-01-16 16:07] eddgrant commented on #20729
Have just realised that in order to test this I think I'll need to build your Grafana branch @sunker? If that's the case, is there by any chance a pre-built Docker image in a public registry somewhere that I can pull to test your change? Thanks!

[2020-01-16 16:09] #17963 closed

[2020-01-16 16:16] #21537 closed

[2020-01-16 16:22] #21522 closed

[2020-01-16 16:27] marefr commented on #21542
dashboard renderings - do you mean rendering image of panel? If you do panel -> share -> direct rendered image you should notice that url opened contains `&tz=Europe%2FStockholm` or whatever timezone you're browser is using.

[2020-01-16 16:46] marefr commented on #21426
Each stackdriver query/request is running one by one after eachother so not sure Grafana can do anything to resolve this if you get hit by rate limiting?

[2020-01-16 16:48] marefr commented on #21427
Can't you use diff() instead of avg()?

[2020-01-16 16:51] StupidScience commented on #21018
@aknuds1 I use Slack and webhook channels and problem occurs for both of them.

[2020-01-16 16:55] marefr commented on #21442
Please read upgrade notes https://grafana.com/docs/grafana/latest/installation/upgrading/#upgrading-to-v6-5

This works as intended.

[2020-01-16 16:55] #21442 closed

[2020-01-16 17:02] polycaster opened #21551 "Grafana image renderer not available for download"
**What happened**:
Tried to download the zip for the plugin from the plugins page and was met with the following message:
[code]
Tried all versions available and the error persisted. Had success installing it using the CLI, however I want to be able to get the hash of the zip instead of dynamically downloading the plugin every time I build my grafana image
**What you expected to happen**:
Expected

[2020-01-16 17:04] marefr commented on #21466
If you use `performance:bootup_time{url="${url:raw}",profile="$profile"}` instead? Or [percentencode](https://grafana.com/docs/grafana/latest/reference/templating/#percentencode) format?

[2020-01-16 17:06] marefr commented on #21486
See https://github.com/grafana/grafana/issues/2968#issuecomment-561603133

[2020-01-16 17:06] #21486 closed

[2020-01-16 17:08] marefr commented on #21496
This is already documented in the [upgrade notes](https://grafana.com/docs/grafana/latest/installation/upgrading/#upgrading-to-v6-5) so will close this.

[2020-01-16 17:08] #21496 closed

[2020-01-16 17:11] marefr commented on #21498
Make your iframe bigger? Hard to tell if this is on Grafana side or you that haven't implemented it properly. Would suggest ask on our [community site](https://community.grafana.com/). Github are mainly for feature requests and bug reports.

[2020-01-16 17:11] #21498 closed

[2020-01-16 17:27] marefr commented on #21500
This is probably due to the nature of how influxdb group by time function, see https://docs.influxdata.com/influxdb/v1.7/troubleshooting/frequently-asked-questions/#why-do-my-queries-return-no-data-or-partial-data. Would suggest reaching out to influxdb community site for further help.

[2020-01-16 17:27] #21500 closed

[2020-01-16 17:31] marefr commented on #21502
Please use the query inspector and inspect the request/response to verify if this is a Grafana issue or Graphite/query configuration issue on your side.

[2020-01-16 17:35] marefr commented on #21528
Please use [provisioning](https://grafana.com/docs/grafana/latest/administration/provisioning/) feature which provision dashboards from local file system. Should be quite easy for you to setup a cron to pull in all dashboards from git into local file system which Grafana would automatically pick up.

[2020-01-16 17:35] #21528 closed

[2020-01-16 17:37] marefr commented on #21530
Please use query inspector in query tab in Grafana and inspect request/response to see whether this is a Grafana or prometheus issue. You could include request/reponse here.

Are you using today as timerange in prometheus ui or what?

[2020-01-16 17:39] marefr commented on #21551
https://github.com/grafana/grafana-image-renderer/issues/47

[2020-01-16 17:39] #21551 closed

[2020-01-16 17:59] jdmaloney opened #21553 "Grafana Stuck Logging In"
**What happened**:
When trying to log into LDAP backed Grafana instance Log In just hangs and never completes (or note a failure); login splash screen loads normally

**What you expected to happen**:
Normal log in to dashboard

**How to reproduce it (as minimally and precisely as possible)**:
Navigate to grafana URL, enter credentials and hit log in

**Anything else we need to know?**:
I noticed t

[2020-01-16 18:17] #21553 closed

[2020-01-16 18:21] marefr commented on #21553
What was the problem?

[2020-01-16 18:55] #9259 closed

[2020-01-16 18:58] harisaamin commented on #15465
What database are you using? It could very well be a querying issue.

On Thu, Jan 16, 2020, 16:09 Chad Helms <notifications@github.com> wrote:

[2020-01-16 20:54] helmser commented on #15465
grafana is using postgres, metrics from graphite.

[2020-01-16 21:27] HadesArchitect commented on #9683
Hi there, glad to announce 'work-in-progress' for the grafana-cassandra-datasource as grafana plugin, PR should be ready in the upcoming weeks.

https://github.com/HadesArchitect/grafana-cassandra-source

[2020-01-16 21:29] #17183 closed

[2020-01-17 05:20] fredwangwang commented on #21528
We could definitely setup something as you described, but I think there is a potential to integrate tighter with git to make the dashboard management across different (similar) foundations easier.

[2020-01-17 05:21] Slyke opened #21555 "GF_AUTH_ANONYMOUS_ENABLED Not being detected"
**What happened**:
Anonymous login is not working

**What you expected to happen**:
Anonymous dashboard view

**How to reproduce it (as minimally and precisely as possible)**:
1. Use base Grafana image.
2. Login and do initial setup.
3. Set `GF_SECURITY_ALLOW_EMBEDDING=true` and `GF_AUTH_ANONYMOUS_ENABLED=true` in environment variables.
4. Restart Grafana

**Anything else we need to know?**:
I'm i

[2020-01-17 05:58] serresident commented on #18080
Good day, a similar problem occurs on chrome / firefox browsers of all versions that were compatible with windows xp

[2020-01-17 06:52] joaolcorreia commented on #6983
+1 basic and expected!

[2020-01-17 07:21] bgranvea commented on #21542
yes it works for the rendering of panels. I would like to do the same with the rendering of an entire dashboard. For the moment, I'm using a link configured in Dashboard settings > Links:

type: link
url: render/d/my-uid/my-dashboard?width=1000&height=1000
time range: true
variables: true

but the timezone used for the rendering is always UTC (I'm using the grafana-image-renderer in a separate ser

[2020-01-17 07:22] #21542 closed

[2020-01-17 07:26] kk5pengke commented on #21500
If so, I think the diff and percent_diff function is nonsense. The first and the last array are random because of the  partial data. Is there any way or setting to solve the problem? Or I should change the way of pushing data. Thanks.

[2020-01-17 07:30] LarsKumbier commented on #21466
@marefr That did the trick, thank you.

Should we keep the bug open, since it's still different behavior between just-a-panel and panel-in-row?

[2020-01-17 07:42] bgranvea opened #21556 "[FeatureRequest] DashboardLinks: Add link of type "rendering""
**What would you like to be added**:
In Dashboard settings > Links, I would like to add a new type of link called "rendering". This would allow to have rendering of the entire dashboard (it already exists only for individual panel). This type of link would have the following properties:

type: rendering
with: ...
height: ...
encoding: png / jpeg / pdf (combo box or free text field?)
other paramete

[2020-01-17 08:15] torkelo commented on #20019
i have tried to replicate this, so far without success.

Setup 2 data links, and a query that only returned 1 datapoint.

![image](https://user-images.githubusercontent.com/10999/72595310-d5a3eb80-3909-11ea-9711-9ac91c15b0c7.png)

Can you use query inspector and detail the exact query response?

[2020-01-17 08:42] simonc6372 commented on #20019
This can be reproduced on play.grafana.org.
Edit the "memory/CPU" graph.
Under visualization, add a data link.
![image](https://user-images.githubusercontent.com/8004654/72597079-ebfb7880-3904-11ea-8987-a4b4529cd25c.png)

Now, the memory graph should have annotations at every data point,
click on the first one, and hover over the title "foo" and you should see a link with ${__value.time} in there.

[2020-01-17 09:07] torkelo commented on #20019
Was able to replicate against 6.5.x branch but not master, so something in master has fixed this.

So 6.6 beta is next week and stable soon after!

[2020-01-17 09:07] #20019 closed

[2020-01-17 09:08] xiaobeiyang commented on #20011
It will be great if this feature is added.

[2020-01-17 09:22] sunker commented on #20927
Sure! Either build from [source](https://github.com/grafana/grafana/pull/21541), or pull from dockerhub. `docker pull grafana/grafana:master`

[2020-01-17 09:24] sunker commented on #20729
Sure! `docker pull grafana/grafana:master`

[2020-01-17 09:55] lioncedric opened #21557 "Grafana is raising an error on IE11 (ProdData plugin failedError: Loading chunk 44 failed.)"
**What happened**:
When you open a dashboard with charts in it a red  popup appear saying
ProdData plugin failedError: Loading chunk 44 failed.
Then the chart in not rendered

**What you expected to happen**:
The charts to be rendered

**How to reproduce it (as minimally and precisely as possible)**:
just open a dashboard with charts

**Anything else we need to know?**:
I downgraded to grafana 6.4

[2020-01-17 10:35] #17830 closed

[2020-01-17 10:58] schaffino commented on #21426
@marefr
I think the issue here is that regardless of any rate limiting on the google side, the queries are being cancelled on the grafana side after 30 seconds due to settings of the http client. Running the same queries outside of grafana causes the results to return properly. Given i have modified the datasource settings to a a 10 minute timeout i would expect that to be honored but it doesn't s

[2020-01-17 10:59] marefr commented on #21018
Thanks all. Fix will be included in 6.6.0-beta1 planned to be released on Monday.

[2020-01-17 11:07] #21018 closed

[2020-01-17 11:08] thedeveloperr commented on #21310
Anyone working on this? I am interested to contribute.

[2020-01-17 11:25] #18887 closed

[2020-01-17 11:47] #20729 closed

[2020-01-17 11:47] #20927 closed

[2020-01-17 11:55] #21539 closed

[2020-01-17 12:02] dilshaat commented on #6983
+1 Very much needed for us too.

[2020-01-17 12:10] sunker commented on #21442
Yes, @marefr pointed out, this works as expected. Some users might have this problem, but for most user's the migration to GMD will be a good thing.

That is technically possible, but will make it much harder to maintain this datasource so we won't do that.

[2020-01-17 12:16] daniellee opened #21563 "Graphite: queries can get saved with "select metric" in the metric path"
**What happened**:

If there is no data for a Graphite metric and I open a query editor then the last segment of the metric path gets replaced with `select metric`:

![image](https://user-images.githubusercontent.com/434655/72611075-63db9a00-3929-11ea-9150-2ebb38006669.png)

In a large dashboard, with lots of queries it can happen that one or more queries times out. A user can then accidentally sa

[2020-01-17 12:22] #18493 closed

[2020-01-17 12:22] #20652 closed

[2020-01-17 12:25] Betula-L opened #21567 "Support refresh variable manually"
**What would you like to be added**:

Currently, grafana support refresh options "Never", "On Dashboard Load", "On Time-Series Change". However, in the following situation, those three do not match user requirement.

We need refresh variable manually or add an option "Refresh Periodically".

![image](https://user-images.githubusercontent.com/6059935/72611037-f305a380-3963-11ea-8971-951af9853763.pn

[2020-01-17 12:39] #21133 closed

[2020-01-17 12:44] marefr commented on #21310
@thedeveloperr no. Please go ahead

[2020-01-17 13:00] wilfrid-dubreuil commented on #448
+1

[2020-01-17 13:28] #20346 closed

[2020-01-17 14:07] cgebe commented on #8900
Support for CockroachDB would be much appreciated. We are using it across all of our k8s clusters since postgres does not allow easy ha setups. Is there an update to the state of this request? Right now, we have to use the PostgresSQL datasource.

[2020-01-17 14:36] ldealmei opened #21576 "Indicate visually that the returned log limit has been reached (in Explore)"
**What would you like to be added**:
A visual cue that signifies that the returned logs have reached the set limit.
This could be as simple as making `Limit:1000 (1000 returned)` appear in bold bright red. Or adding an overlay over the time range that does not return any data (see example image below).

**Why is this needed**:
In the Explore tool, the users associate a green bar to the presence of

[2020-01-17 14:51] tehlers320 commented on #21496
@marefr there is no work around as explained you cannot simply add * and there is no way to key off anything to slim down the query.

[2020-01-17 15:11] jdmaloney commented on #21553
@marefr This ended up being an LDAP timeout issue so not grafana related.  I didn't initially suspect that since I saw the "user last seen" being updated as well as the account being granted permissions on dashboards.

[2020-01-17 15:24] marefr opened #21581 "OAuth: Implement Azure AD provider"
Currently you have to use Generic OAuth configuration to use Azure AD, but it's a bit limited. Suggest to Implement specific Azure AD OAuth provider.

Related issues:
- OpenID unique user identifier #17635
- Add support for teams or orgs in Azure AD OAuth #15670
- id_token signature validation #15312

[2020-01-17 15:26] marefr opened #21582 "OAuth: Implement Okta provider"
Currently you have to use Generic OAuth configuration to use Octa, but it's a bit limited. Suggest to Implement specific Octa OAuth provider.

Related issues:
- OpenID unique user identifier #17635
- id_token signature validation #15312

[2020-01-17 15:30] dprokop opened #21583 "Migrate ts-loader to babel"
Work started by @stevenvachon in https://github.com/grafana/grafana/pull/21554 is very promising from performance perspective (https://github.com/grafana/grafana/pull/21554#issuecomment-575577602) and will also enable us to use Emotion 10 `css` property syntax.

Creating this issue to keep track of  problems to be solved:

- [x] PhantomJS breaks when running bundled code (maybe because of preset e

[2020-01-17 15:37] Silas-Asamoah opened #21584 "Status Panel Visualisation does not change when server is critical"
**What happened**: Status Panel does not indicate red when server is critical.

**What you expected to happen**: Status panel goes red when server is critical or displays no colour when shutdown.

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:

**Environment**:
- Grafana version: Grafana v6.3.4
- Data source type & version: InfluxDB
-

[2020-01-17 15:55] stevenvachon commented on #21583
Replace PhantomJS with Chrome/Chromium headless or Puppeteer?

[2020-01-17 16:00] dprokop commented on #21583
@stevenvachon can't do that until 7.0 - that's when we remove phantomJS in favour of https://github.com/grafana/grafana-image-renderer

[2020-01-17 16:03] stevenvachon commented on #21583
Whoa.. that sounds like a long wait for many other changes that are waiting on this.

[2020-01-17 16:05] dprokop commented on #21583
@stevenvachon i think there might be a way of addressing this with babel presets/plugins, not sure yet

[2020-01-17 16:06] stevenvachon commented on #21583
That will increase the build size and definitely complication with additional shims/polyfills, but you're right that it can be done sooner than 7.0.

[2020-01-17 16:07] stevenvachon opened #21586 "Migrate ng-annotate to babel-plugin-angularjs-annotate"
**Why is this needed**:
[ng-annotate](https://npmjs.com/ng-annotate) is deprecated.

[2020-01-17 17:13] torkelo commented on #21584
please open an issue with the authors of this external (3rd party) plugin: https://github.com/Vonage/Grafana_Status_panel

[2020-01-17 17:13] #21584 closed

[2020-01-17 17:57] #20243 closed

[2020-01-17 18:04] marefr commented on #21557
Duplicate of #15754

[2020-01-17 18:04] marefr commented on #21557
Please refer to [requirements](https://grafana.com/docs/grafana/latest/installation/requirements/#supported-web-browsers)

[2020-01-17 18:04] #21557 closed

[2020-01-17 18:07] Silas-Asamoah commented on #21584
Thanks for the response!

[2020-01-17 18:11] marefr commented on #21555
Since we don't maintain https://github.com/gcgarner/IOTstack we cannot support it here. Will close this. If you run grafana docker image using `docker run -e GF_AUTH_ANONYMOUS_ENABLED=true  ...` and you can provide information that it doesn't work we'll consider reopen this issue.

Just looking quickly at that project seems like you have to the environment variables in https://github.com/gcgarner/

[2020-01-17 18:11] #21555 closed

[2020-01-17 18:13] Dieterbe commented on #21563
It's okay for the query editor to give the user a hint that the query doesn't match anything, and that perhaps they should change the query editor.

It's not okay to destroy the users' actual query under any circumstance. Whether or not the lack of data was temporary.
I believe I've seen Grafana alter the query this way even if the user didn't even go to the editor.
This way you can completely bre

[2020-01-17 19:10] mrvladis commented on #13920
@xlson
Sorry for a  bit a delay. I have tried "-k" as per your suggestion.

Please see below. As it looks for me - certificate is yours,  but your container doesn't trust it.

`bash-4.4# curl -vvI -k https://grafana.com/api/plugins/repo/grafana-clock-panel
*   Trying 35.241.23.245...
* TCP_NODELAY set
* Connected to grafana.com (35.241.23.245) port 443 (#0)
* ALPN, offering h2
* ALPN, offering htt

[2020-01-17 19:10] mrvladis commented on #13920
p.s. This is on grafana/grafana:6.5.3-ubuntu

[2020-01-17 20:44] cyriltovena commented on #21451
/cc @slim-bean @owen-d @Dieterbe

[2020-01-17 20:49] cyriltovena opened #21589 "Explore: Adding label matcher from table doesn't work with log metrics query"
**What happened**:

When you're doing a metrics query on logs such as `rate({job="default/prometheus"}[5m])`.

The table view show the instant value result. But if I click in one cell to add a new label matcher if actually break the query like this `{job="default/prometheus",level="info"} rate([5m])`

![image](https://user-images.githubusercontent.com/1053421/72645062-ac528200-3940-11ea-8ee5-ab56b

[2020-01-17 20:51] cyriltovena opened #21590 "Explore: Return to the top"
**What would you like to be added**:

When I'm using explore, and I'm scrolling down to the bottom, I want to be able to quickly go back to the top and refine my query.

**Why is this needed**:

Hurt my scroll wheel and my finger.

[2020-01-17 20:52] jpmcb commented on #19841
Hey @fredwangwang just stumbled onto this - Is this something you still need? I have time and would be able to work on this! @dprokop

[2020-01-17 21:11] michaeldrey commented on #10339
Any plan for this to be prioritized? Would love to have this feature. Our use case is that each root folder is an organization and they add their dashboards to that folder. Would be great have subfolders so we can organize dashboards by system.

[2020-01-17 21:18] RamanPndy opened #21591 "Grafana Ngin Reverse Proxy ERR_TOO_MANY_REDIRECT to login"
**What happened**:
I tried to setup grafana over nginx reverse proxy but I'm getting following error:
If you're seeing this Grafana has failed to load its application files

1. This could be caused by your reverse proxy settings.

2. If you host grafana under subpath make sure your grafana.ini root_url setting includes subpath

3. If you have a local dev build make sure you build frontend using: y

[2020-01-17 22:45] fredwangwang commented on #19841
I still think it is nice to have -- though I am not developing any plugins
at the moment, someone else might find it useful in the future. So if you
are interested, go for it 😀

On Fri, Jan 17, 2020, 1:52 PM John McBride <notifications@github.com> wrote:

[2020-01-18 00:26] davidnewhall opened #21592 "CloudWatch variables not split when using All without Multi-value"
**What happened**:

I'm using the cloudwatch plugin. I have a variable setup that pulls instance IDs. I have the variable hidden, and I expect it to default to "all" values. When I use this variable in a very simple query the commas are not removed/split and replaced with `OR`.

![Screen Shot 2020-01-17 at 4 10 28 PM](https://user-images.githubusercontent.com/2402929/72654792-f1c57e00-3945-11ea-81

[2020-01-18 02:32] Slyke commented on #21555
Hey @marefr I know you closed the issue, but thought I'd report my findings here: Wasn't an issue with either code base.

Looks like there was an issue where the env file wasn't being written to disk (somehow?) even though opening it with cat and VIM showed it had saved my env var.

A restart of the system and adding the env back in corrected this.

[2020-01-18 03:57] acoshift commented on #8900
Right now I use Grafana with CorkcoachDB, still not found any problems so far.
But It won't work out of the box.
I have to
1. Run Grafana with PostgreSQL
2. Stop Grafana
3. Dump Grafana database from PostgreSQL and import to CockroachDB
4. Start Grafana using CockroachDB

The problem is when upgrading Grafana, I have to check is there any database migration, and I might have to manually migrate th

[2020-01-18 06:42] torkelo commented on #21563
Grafana will never alter queries outside the query editor

[2020-01-18 11:00] ziadkiwan opened #21593 "Influx DB log Mode in Dashboard"
**What happened**:
I'm trying to pipe some logs from a plain text file to grafana so i can save it as a dashboard and users can view it, i created a script that insert the data into influx DB with the required tags and fields as stated in the tutorials, now i can see the data inside influx DB and i can query them, when i go and create a dashboard and choose influx db i cannot find the button that

[2020-01-18 19:54] Krylanc3lo commented on #15164
Hello Sunil,

did you find a way to do so ?

Thank you!

[2020-01-18 20:42] thedeveloperr commented on #21310
@marefr Ok we need client ip right ? is grafana deployed behind a reverse proxy? In that case I might need to look for ``X-Real-Ip`` and ``X-Forwarded-For header``. If not I think ``Req.RemoteAddr`` is sufficient ?

[2020-01-18 20:55] thedeveloperr commented on #21310
Sorry, I just dug in Macaron source and figured that Macaron already does that .....attach real ip to RemoteAddr in it's request context. So I think I can directly use it.

[2020-01-19 15:12] thedeveloperr commented on #21310
I am getting a 500 error and failed e2e test. It says phantomjs not properly installed. I reinstalled node_modules but still facing this issue. Is there something else I need to install or do to resolve this ?

[2020-01-19 16:11] jcdauchy commented on #21593
I guess Logpanel is not working with influxdb datasource. Would be really nice to be table to save logs to influxdb as a long term log solution whereas short term log could be saved in Loki.

[2020-01-19 16:22] jcdauchy commented on #18522
Being table to select dispayed fields would be awesome. Don't if this could be done also for Loki datasource ?

[2020-01-19 16:33] Fr33maan commented on #18522
I think that it would need a full text indexing which is not in the scope
of Loki. When I upgraded to lastest grafana I finally get the json being
pretty printed.

Le dim. 19 janv. 2020 à 23:22, JC Dauchy <notifications@github.com> a
écrit :

[2020-01-19 16:36] thedeveloperr commented on #20953
@marefr would like to try to fix this one. Might take time as gonna contribute to angular code after a long time.

[2020-01-19 16:38] thedeveloperr commented on #19841
Assigned to anyone ?

[2020-01-19 16:40] thedeveloperr commented on #20421
Couldn't find a PR so wanted to ask if anyone still working on this ? Can I work on it if someone is not or have left ?
@sakjur  @osokaru

[2020-01-19 16:43] thedeveloperr commented on #17665
Can I try this if no one is already working on it ?

[2020-01-19 17:04] jcdauchy commented on #18522
I understand that loki uses only labels as "index". But Who do you need to display all labels and fields as the seem to be already "parsed" as show in the details of each line ?

[2020-01-19 17:16] jcdauchy commented on #17501
Is it possible to use influxdb as a log datasource in Explore / Logpanel ? If this is the case, any input how to set this up ?

[2020-01-19 17:54] ryantxu commented on #19841
patches are always welcome :)  Not assigned to anyone and likely will not be unless someone steps up to do it

[2020-01-19 18:00] ryantxu opened #21597 "Toolkit fails to run prettier on master"
Check https://github.com/grafana/grafana-polystat-panel/pull/102

It looks like toolkit needs some investigation before we can release beta1 :(

Essentially try to run `yarn dev` against any plugin with `canary` target and it will fail

[2020-01-19 18:29] quilldata commented on #17642
+1

[2020-01-19 18:33] stevenvachon commented on #21597
It's actually working fine and is only a messaging error caused by my [cleanup PR](#21441).

[2020-01-19 18:47] osokaru commented on #20421
Hi @thedeveloperr, yeah its assigned to me I'm planning to work on that on february. Its my first issue so I do not know if it can be more than one person working on that. Regards.

[2020-01-19 22:45] LeoVerto commented on #14952
[bbernhard/signal-cli-rest-api](https://github.com/bbernhard/signal-cli-rest-api) provides a REST API for sending messages to Signal and has already been used by the Home Assistant project.

[2020-01-20 00:06] marefr commented on #17665
@thedeveloperr sure . No one else is working on this

[2020-01-20 01:08] Estrax commented on #21440
Looks like it works with the current master (d2b08c8368d53b96225749a339f0f04a8d969f49), but I'll take a look at filtering once again to check if it produces valid results.

[2020-01-20 01:12] lujiao87 opened #21601 "6.5.2 memory will go up when dashboard page always run"
What happened:
**memory always rise**
What you expected to happen:
**memory should be smooth**
How to reproduce it (as minimally and precisely as possible):
1. open a dashboard with 50 graph panels.
2. set datasource
3. use monitor tool to monitor the page process.
4. let this page run 4 days in activation page.

**Anything else we need to know?**:
[50panel.json.txt](https://github.com/grafana/gra

[2020-01-20 01:49] Estrax commented on #21041
Spent some time trying to replicate that, looks like it works properly on my end. Gonna ping you to do a debugging session together on Tuesday.

[2020-01-20 02:28] wilfred-centrality commented on #221
We need this feature. Thoughts on how it should be implemented welcome

[2020-01-20 02:42] #21597 closed

[2020-01-20 03:52] ndfred commented on #21310
I am looking into this as well, but am actually seeing everything I need in the logs. Here is what happens when I fail to log in, it shows me my IP with path=/login which should be sufficient:

[2020-01-20 04:42] ndfred commented on #21310
Here is the crude `/etc/fail2ban/filter.d/grafana.conf` file that worked for me:

    [Definition]
    failregex= method=POST path=/login status=401 remote_addr=<HOST>

And this is my `/etc/fail2ban/jail.d/grafana.conf`:

    [grafana]
    enabled = true
    filter = grafana
    logpath = /var/log/grafana/grafana.log
    bantime = 28800
    maxretry = 3

I then restarted fail2ban and it all works.

[2020-01-20 04:45] Estrax opened #21604 "Prometheus step field throws an error on edit - type change from uncontrolled to controlled"
**What happened**:

Prometheus step field in Explore throws an error on edit, stating that the type of input field has changed from uncontrolled to controlled.

**What you expected to happen**:

Prometheus step field works properly.

**How to reproduce it (as minimally and precisely as possible)**:

Go to Explore, select Prometheus data source and start typing anything in the step field.

**Anythi

[2020-01-20 07:00] AnushaBoggarapu commented on #18628
@papagian

I was looking into the code,

The postgres schema sequence definition is

CREATE SEQUENCE public.org_id_seq
    INCREMENT 1
    START 1
    MINVALUE 1
    MAXVALUE 2147483647
    CACHE 1;

so start value is 1 here. So any first call that hits would start from 1

And in the code
https://github.com/grafana/grafana/blob/master/pkg/services/sqlstore/org.go
this function , createDefaultOrg()

[2020-01-20 07:26] AnushaBoggarapu commented on #18628
@papagian
True, for any post org you are not sending the id in the query. But can you please check how is the mainOrg getting created.

Because the postgres sequence says start value as 1. Any call that we make is starting with 1.
CREATE SEQUENCE public.org_id_seq
    INCREMENT 1
    START 1
    MINVALUE 1
    MAXVALUE 2147483647
    CACHE 1;

But 1 should be consumed by Main Org always.. Are you

[2020-01-20 07:48] thedeveloperr commented on #21310
I have opened a PR to add additional info to login attempt logs. So i think
the PR will fix your logout log triggering too

On Mon, 20 Jan, 2020, 10:12 AM Frédéric Sagnes, <notifications@github.com>
wrote:

[2020-01-20 08:13] castillo92 commented on #21310
@marefr and @thedeveloperr thanks you very much! Your improvements are great

[2020-01-20 08:33] loomsen opened #21608 "Prometheus metric autocompletion/lookup not working"
**What happened**:
Prometheus metrics autocompletion of remote prometheus server is not working.

![Selection_374](https://user-images.githubusercontent.com/302524/72709973-4e9f7f00-3b66-11ea-8909-e449e334b2e2.png)

When I run the query in the explorer or to populate dashboards, everything works as expected. Labels and their values are being completed just fine without running a query first.

![Se

[2020-01-20 08:45] steenstra opened #21609 "Change column name order of table"
**What happened**:
The Column names of a query with a Group By clause are sorted alphabetically by the tag name.

**What you expected to happen**:
Use the order in which the Group By clauses are stated.

**How to reproduce it (as minimally and precisely as possible)**:
Use Group By in a query

**Environment**:
Grafana v6.5.2
datasource: InfluxDB

[2020-01-20 08:53] torkelo commented on #20151
After testing this we discovered it did not have the pay-off we where hoping for, so deciding on a single export namespace

[2020-01-20 08:53] #20151 closed

[2020-01-20 09:18] #21563 closed

[2020-01-20 09:25] marefr commented on #16026
Closing this in favor of #20740

[2020-01-20 09:25] #16026 closed

[2020-01-20 09:27] torkelo commented on #21609
This sounds like either a feature request / issue for InfluxDB or a wish for an option in the table panel to re-arrange columns: https://github.com/grafana/grafana/issues/5082

[2020-01-20 09:27] #21609 closed

[2020-01-20 09:29] beingyash commented on #7832
This was a much needed feature. Any update on the upcoming situation yet?

[2020-01-20 09:39] marefr commented on #21556
Wouldn't it make more sense to put this in Dashboard -> Share, similar to how it works for panels (Panel -> Share)?

[2020-01-20 09:45] marefr commented on #17794
Duplicate of #6843

[2020-01-20 09:46] marefr commented on #17794
Referenced issue is referring to render PDF for panels, but I think it's better to keep everything related to PDF rendering in there (we can change the title) since it has a lot of comments and upvotes.

[2020-01-20 09:46] #17794 closed

[2020-01-20 09:48] dprokop commented on #21529
@peterholmberg is this really closed? I see react-sizeme being used in DashboardGrid (https://github.com/grafana/grafana/blob/cd07c3e6520a7c1a37cd042b2ad00426d78462bb/public/app/features/dashboard/dashgrid/DashboardGrid.tsx#L7)

[2020-01-20 09:50] vmitris commented on #5212
+++1

[2020-01-20 09:55] tskarhed opened #21610 "Implement UnitPicker with Cascader"
See previous #21379

**What would you like to be added**:
- UnitPicker should use the Cascader component

**Why is this needed**:
Because we are migrating to the new form styles, and the cascader provides a better alternative for selecting tree-structured data.

**TODO**
- [x] Implement create custom value in Cascader
- [x]  UnitPicker should have a feature toggle `newFormStyles` for using while m

[2020-01-20 10:09] papagian commented on #8249
Fixed by #21480

[2020-01-20 10:09] #8249 closed

[2020-01-20 10:56] ttys42 opened #21611 ""Server Error" when adding InfluxDB as a datasource"
**What happened**:
After fresh install it is not possible to add an InfluxDB source

**What you expected to happen**:
InfluxDB can be added as data source

**How to reproduce it (as minimally and precisely as possible)**:
-Clean install CentOS 8
-add influx repo as described here https://docs.influxdata.com/influxdb/v1.7/introduction/installation/#installing-influxdb-oss
-install & start influxdb

[2020-01-20 10:59] scelle opened #21612 "On page load: same query is fired multiple times."
Hi,

This is probably not a real bug, more like a different behaviour between versions:

I switched from Grafana 6.3.5 to 6.5.3.  Since then I noticed clearly slower page loading.
After some investigation in the chrome devtools I noticed that the same set of queries are executed up to 12 times after each other.  This obviously explains the slow page loading.

The dashboard has some specific text p

[2020-01-20 11:06] bgranvea commented on #21556
yes it could be an option. The difference that I see is that Dashboard > Share is intended for the end user (viewer), whereas Dashboard settings > Links is for the designer (editor) of the dashboard.

In my case, I would prefer to let the dashboard editor configure rendering parameters and let the viewer have a simple link with no options.

What do you think?

[2020-01-20 11:12] peterholmberg opened #21614 "Migration: Dashboard import"

[2020-01-20 11:32] marefr commented on #20953
@thedeveloperr please go ahead. Assigning you to the issue

[2020-01-20 11:34] #21379 closed

[2020-01-20 11:47] ivanahuckova commented on #17405
I have tried to unsuccessfully reproduce this again. Everything works as expected, therefore I am closing this issue.

[2020-01-20 11:47] #17405 closed

[2020-01-20 12:12] #19223 closed

[2020-01-20 12:12] ivanahuckova commented on #19223
As this behaviour is consistent with the dashboards, I am closing the issue.

[2020-01-20 12:42] europemaster commented on #20736
After upgrading from 6.3.2 to 6.5.2 we started to experience this error. Upgrading to 6.5.3 did not solve the issue.
Testing rule sends notification, while actual rule doesn't send anything.
From Grafana logs:
[code]

Version: 6.5.3
OS: Ubuntu 16.04 LTS
Data source: Prometheus 2.7.1

[2020-01-20 12:47] europemaster commented on #20736
Downgrading from 6.5.3 to 6.3.7 fixed the issue, so I am positive that there is issue with 6.5.x version.

[2020-01-20 12:50] iamvijayaragavan commented on #9766
Grafana role mapping is not working for Azure AD user groups. when we set auto_assign_org to true.

Anyone have idea how to get rectify this.

[2020-01-20 13:16] marefr commented on #20736
Please refer to https://github.com/grafana/grafana/issues/21018#issuecomment-575579432

[2020-01-20 13:17] marefr commented on #9766
@iamvijayaragavan please refer to https://github.com/grafana/grafana/pull/20300#issuecomment-575732127

[2020-01-20 14:55] aknuds1 commented on #21593
This looks like a feature request, labeling it as such and assigning it to the observability team.

[2020-01-20 14:59] aknuds1 commented on #21601
Thanks for reporting - are you referring to browser memory usage?

[2020-01-20 15:21] aknuds1 commented on #21593
Actually, when I test (both latest master and v6.5.3), I find that it is possible to add a logs panel with InfluxDB as data source.

![](file:///home/arve/Downloads/Screen%20Shot%202020-01-20%20at%2016.16.03.png)

Closing issue for now, since it seems to actually work.

[2020-01-20 15:21] #21593 closed

[2020-01-20 16:09] aknuds1 commented on #21591
This looks more like a support request than a bug to me. I see that you've already asked in the [Grafana Community](https://community.grafana.com/t/grafana-ngin-reverse-proxy-err-too-many-redirect-to-login/24871). I suggest we continue the discussion there instead, since the issue tracker is for reporting bugs/feature requests. Thanks!

[2020-01-20 16:09] #21591 closed

[2020-01-20 17:17] sunker opened #21625 "CloudWatch: Dimension value not expanding correctly"
When fixing #20927 and #20729 in PR #21541, instead of expanding only the dimension, the whole label is expanded.

[2020-01-20 17:51] #21625 closed

[2020-01-20 18:10] zacharyhumphrey opened #21628 "New Gauge: Does Not Dynamically Change with Stat"
### Grafana Version: v6.5.1
### Zabbix Plugin Version: v3.14.5

#### Issues:

1. The new gauge does not dynamically adjust to the amount stated in the marking.  For instance, I expect the green in the gauge in the first image to be stopped at the 22ish GB mark... But it is currently full.
![image](https://user-images.githubusercontent.com/49042255/72748316-81547200-3b7c-11ea-9cb8-8aa0faccfcf1.png)

[2020-01-20 21:26] llmuculusll commented on #6592
Is there any plan to implement this feature in 6.6.x > versions after Four years?

[2020-01-21 00:58] lujiao87 commented on #21601
Yes.this is browser memory usage
![50panel-chrome-5464_CMV](https://user-images.githubusercontent.com/53459043/72766719-1498b080-3c2c-11ea-9816-2922c3995ce9.png)

![50panel-chrome-5464_Mem](https://user-images.githubusercontent.com/53459043/72766583-8290a800-3c2b-11ea-9dfc-6ba606042071.png)

[2020-01-21 04:43] ryantxu commented on #21601
Is this with refresh query?  or just sitting there?  How often is your refresh?

[2020-01-21 04:53] lujiao87 commented on #21601
yes ,use grafana datasourse , with 5s refresh。

[2020-01-21 04:56] ryantxu commented on #19570
fixed in 6.6 (beta)

[2020-01-21 04:56] #19570 closed

[2020-01-21 04:59] ryantxu commented on #21628
Some of the language has changed.... what used to be "Stat" is now "Calculation" -- in yours you are showing "Last (not null)

Is your view always filled up all the way to maximum?  do other values show something different?   I wonder if this is related to https://github.com/grafana/grafana/issues/17939

If you have different queries or select a different calculation, are you able to get a differe

[2020-01-21 06:17] srik65 commented on #12633
any workaround for this, same issue "unencrypted connection "

[2020-01-21 06:32] volschin commented on #12133
This Problem Seemann to be back with grafana 6.5.3 under iOS 13.3 with chrome.

[2020-01-21 06:43] ryantxu commented on #21612
Are you using out-of-the-box panels and datasources?  or is this something custom?

yes, things got moved so we now have a shared query runner for each panel -- that is not controlled by the plugin.  There are some hoops to make it work nicely with the angular MetricPanelCtrl -- but custom panels/execution may do something odd

https://github.com/grafana/grafana/blob/master/public/app/features/pan

[2020-01-21 07:04] kiddingl opened #21629 "BUG: I can't setup data on grafana web"
**What happened**:
I can't find operator in grafana web
![image](https://user-images.githubusercontent.com/36329336/72782532-ef716580-3c5e-11ea-9928-7bacbca4ebdc.png)

**What you expected to happen**:
I want to get this
![image](https://user-images.githubusercontent.com/36329336/72782561-087a1680-3c5f-11ea-82fa-5a74b0bce578.png)

**Anything else we need to know?**:
The grafana is runing on docker

[2020-01-21 07:14] ryantxu commented on #21629
Do you see the same thing with v6.6?  can you look at the console output and see if there are any errors?

[2020-01-21 07:18] kiddingl commented on #21629
[code]
@ryantxu

[2020-01-21 07:20] kiddingl commented on #21629
I can't deal with it

[2020-01-21 07:42] peterholmberg commented on #21529
@dprokop no I accidentally closed it. Should be reopened?

[2020-01-21 07:46] kiddingl commented on #21629
![image](https://user-images.githubusercontent.com/36329336/72784943-f7340880-3c64-11ea-93bd-41bb8ae946c7.png)
I can't set the unit on a period time, all setup will be lost when I set the "unit" with my mouse on a few time

[2020-01-21 07:51] orcunbaslak opened #21630 "Alerting: Better control over alert image timezone"
**What happened**:
My data gets into influxdb as UTC. When I browser the dasboard via my browser; the graphs show the correct time but when Grafana sends an Alert to Telegram; rendered images are in UTC, not in UTC+3.

**What you expected to happen**:
The rendered images should be in UTC+3

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
My se

[2020-01-21 08:05] torkelo commented on #21629
Not sure I understand what you mean, what happens when you set unit?

What version of firefox are you using?

[2020-01-21 08:12] torkelo commented on #21630
Currently alerting images are rendered in backend server timezone, if your using docker and the docker image timezone is UTC, the images will be in UTC

[2020-01-21 08:37] torkelo commented on #21529
yes

[2020-01-21 08:42] dprokop opened #21631 "6.6 what's new article"

[2020-01-21 08:45] aaron-lerner opened #21632 "$__timeGroup doesn't respect dashboard timezone"
**What happened**:
When using `$__timeGroup` to bucket metrics, the timezone of the dashboard is not accounted for even though `$__timeFilter` is appropriately adjusted for the timezone. For example, trying to group metrics on a per-day basis, it buckets them based on the UTC date stored in the database:
<img width="1178" alt="Screen Shot 2020-01-21 at 12 37 19 AM" src="https://user-images.githubu

[2020-01-21 09:08] #18049 closed

[2020-01-21 09:39] #21086 closed

[2020-01-21 10:00] aocenas commented on #17498
Hey, @marefr will need a bit more details here or maybe this is just too old? Not sure what is meant by adhoc filter in explore. Did we have something like that before?

[2020-01-21 10:01] aocenas commented on #17916
@marefr again not sure if the code changed or maybe this was meant for dashboards only?

[2020-01-21 10:05] aocenas commented on #16325
@kay I assume you already implemented and we can close this right?

[2020-01-21 10:09] aocenas commented on #20511
@shaikatz as this is a bit older issue and there were some development that should have fixed this, can you check if it is fixed for you or if you still see the bug?

[2020-01-21 10:10] #21020 closed

[2020-01-21 10:14] aocenas commented on #20992
@pstibrany this should be fixed on master at this moment. Going to close it but please reopen if you encounter this again.

[2020-01-21 10:14] #20992 closed

[2020-01-21 10:17] ziadkiwan commented on #21593
Hello Could you please how where you able to do it? a small hint ? because it's not working for me, Thanks!

[2020-01-21 10:25] sewi-cpan opened #21636 ""Panel with id not found" due to inconsistent id usage"
Short: I found out that our updates using the dashboard API write back the panel IDs as JSON strings instead of numbers. That's no problem for showing the dashboard, but most other functions (like "Edit") don't find the panel Id if it's a string instead of a number.
Clearly a bug in our API caller which will be fixed there, but Grafana should have a consistent behavior: Either don't show these pan

[2020-01-21 10:29] aocenas commented on #21145
@kaydelaney do you know why this is happening? Something with loki versioning? Seems more like something we are doing deliberately than a random bug.

[2020-01-21 10:57] marefr commented on #21630
@orcunbaslak since v1.0.8 of image renderer plugin you can specify default timezone using an environment variable, see https://github.com/grafana/grafana-image-renderer/#environment-variables

[2020-01-21 10:58] aocenas commented on #21308
@Estrax does the additional field in loki query editor that you worked on show in annotations editor? I think it is the same component so maybe we can close this too by implementing that.

[2020-01-21 10:58] marefr commented on #21630
Try it out and let us know if it doesn't work and we'll consider reopen this.

[2020-01-21 10:58] #21630 closed

[2020-01-21 11:01] aocenas commented on #20869
Hey @aknuds1, I see you added this to in progress observability, is there something on our side to work on or is this an issue in loki?

[2020-01-21 11:03] shaikatz commented on #20511
I think it was fixed. thanks.

[2020-01-21 11:03] #20511 closed

[2020-01-21 11:05] marefr commented on #17498
@aocenas this was created with Influxdb logs query field in mind.

Current logs query field renders three drop downs when clicking +/add:
![image](https://user-images.githubusercontent.com/1668778/72799770-3a32b380-3c46-11ea-997e-34ca9df66330.png)

[2020-01-21 11:07] marefr commented on #17916
Influxdb logs query field. Earlier on there was an idea that multiple datasources could use this query field, but I guess it should be labeled for influxdb:
![image](https://user-images.githubusercontent.com/1668778/72799906-85e55d00-3c46-11ea-8884-eaef39281285.png)

[2020-01-21 11:09] marefr commented on #12133
@volschin would recommend to open a new bug report and possibly reference this issue. Thanks

[2020-01-21 11:18] jerome-morgado commented on #13676
@digitalkaoz  How did you solved this issue ?

[2020-01-21 11:36] marcusolsson commented on #21492
Join the call with this link:
https://grafana.zoom.us/j/629634448

[2020-01-21 11:49] TonyBoyle opened #21640 "Adding a label to a timeseries duplicates the timeseries viewed on Grafana when using prometheus."
**What happened**:
Using a prometheus database, I added an arbitrary label to a timeseries. When viewing a timeframe that covers the point at which the label was added, observed that two lines appeared rather than 1, across the entire panel. Hovering over the line showed that there were two lines, and viewing a legend that showed the values also showed this. The lines are complete duplicates of ea

[2020-01-21 11:52] orcunbaslak commented on #21630
My docker yaml file is like this.

`  grafana:
    container_name: grafana
    image: grafana/grafana
    user: "0"
    ports:
      - "127.0.0.1:3000:3000"
    volumes:
      - /tig/data/grafana:/var/lib/grafana
      - /tig/log/grafana:/var/log/grafana
      - /tig/conf/grafana/grafana.ini:/etc/grafana/grafana.ini
    links:
      - influxdb
    environment:
      GF_RENDERING_SERVER_URL: http:/

[2020-01-21 11:59] marefr commented on #21630
@orcunbaslak Sorry thought you had renderer installed as a plugin. Please use the instruction for remote rendering using docker: https://github.com/grafana/grafana-image-renderer/blob/master/docs/remote_rendering_using_docker.md#environment-variables

[2020-01-21 12:12] scelle commented on #21612
I use the standard graph panel combined with standard Influxdb datasource.
As a test, I made a simple page, containing 1 graph panel, and 1 textpanel, with only the js code I mentioned.

[code]
On loading this grafana page, the same query for the graph panel is called 3 times,
1 time, normally initiated by the panel, the next 2 times I suppose are initiated by the js lines
timeService.setTime(newT

[2020-01-21 12:15] sunker opened #21642 "Panel: color.indexOf is not a function error"
![Skärmavbild 2020-01-21 kl  12 59 40](https://user-images.githubusercontent.com/2388950/72803952-a2d25e00-3c4f-11ea-8178-74034ef7ec8e.png)

Problem found when testing the CloudWatch datasource in grafana 6.6.x.

I get the error message when rendering State, Gauge and Bar Gauge. All other panels work.

![Skärmavbild 2020-01-21 kl  13 14 10](https://user-images.githubusercontent.com/2388950/72804

[2020-01-21 12:23] cr-lironkreiss commented on #12491
Hello,

Is there any update here? I need the same feature- I wanna use the API to import dashboard to a specific folder.
Thanks

[2020-01-21 12:28] orcunbaslak commented on #21630
I have GF_RENDERER_PLUGIN_TZ: Europe/Istanbul in my grafana-renderer as environment variable. Am I missing something?

[2020-01-21 12:36] torkelo commented on #21642
what does your dashboard json look like?

[2020-01-21 13:03] RavivarmaDadi commented on #21502
Sure will do that.

[2020-01-21 13:07] aknuds1 commented on #21636
So, is the problem that API clients can write panel IDs as strings instead of numbers and Grafana doesn't detect or rectify the error?

[2020-01-21 13:18] aknuds1 commented on #21640
Thanks for reporting this!

[2020-01-21 13:21] erandu opened #21643 "Loki: Cannot display logs when using "repeating" on a panel"
**What happened**:

I am using Loki to display logs of my Kubernetes Pods. I have a variable than contains the list of my Kubernetes pods, and a panel that uses this variable with the "repeating" option for this variable. So my dashboard contains one panel per pod.

When I select only one pod, the logs are well displayed into the panel. But when I choose two or more pods, I can't see any logs on p

[2020-01-21 13:26] aknuds1 commented on #21632
Thanks for reporting this, but related issues have been posted before. At least #18120, so closing this one as a duplicate, sorry.

[2020-01-21 13:26] #21632 closed

[2020-01-21 13:38] kenju commented on #10494
@Enigo @sunker

Hi 👋

I'm working on the same problem with you, and I submitted a PR just now
👉 https://github.com/grafana/grafana/pull/21644

[2020-01-21 13:55] sunker commented on #21642
@torkelo

[code]

[2020-01-21 13:57] Rzpeg commented on #20330
@marefr So is there a way to see guest metrics with 6.5 + without round-tripping to Log Analytics ?

[2020-01-21 14:00] marefr commented on #12491
@cr-lironkreiss Since you're using the API you can workaround this. Lookup folder by uid to get the folder id and use that when saving dashboard.

[2020-01-21 14:04] marefr commented on #21630
@orcunbaslak if you read link i referenced you should use `BROWSER_TZ=Europe/Istanbul` instead.

[2020-01-21 14:09] sewi-cpan commented on #21636
Thats one possible summary.
Another one might be that ids should always be treated numerically.
Or just fail to show a panel with invalid id.

But catching the error at the earliest possible stage (at the API) would probably best.

[2020-01-21 14:10] cr-lironkreiss commented on #12491
@marefr thanks for the reply.
I know what's my folderId, I'm using the /import and I tried to give it as a param and also inside the json (as "folderId") key and it didn't work.
Can you elaborate on your suggested workaround?

Thanks.

[2020-01-21 14:19] #10494 closed

[2020-01-21 14:24] marefr commented on #21640
@TonyBoyle could you please include query inspector request/response here? Also, can you run the same query in Prometheus UI showing graph and verify it only shows one point.

[2020-01-21 14:31] digitalkaoz commented on #13676
I didnt ;)

[2020-01-21 14:33] marefr commented on #12491
@cr-lironkreiss the /import api is specifically to be used from Grafana UI when importing dashboards. Would suggest you use the [create/update dashboard api](https://grafana.com/docs/grafana/latest/http_api/dashboard/#create-update-dashboard) instead.

[2020-01-21 15:03] cr-lironkreiss commented on #12491
@marefr correct me if I'm wrong, but I can't create/update dashboard from json using the api, hence I need to use the import cause I have json template that.

[2020-01-21 15:04] aocenas commented on #21420
Sorry got kind of confused right now.

Is that a requirement you have or is that just a confirmation of the underlying issue?

In any case if you get `might be temporarily down or it may have moved permanently to a new web address.` page when trying to access Grafana then I would assume the issue is outside of Grafana. Maybe some issue with the proxy? Because if it was authentication issue in Graf

[2020-01-21 15:13] danfoley1991 commented on #19949
Is this feature still being slated for 6.X?

[2020-01-21 15:17] zacharyhumphrey commented on #21628
Hey @ryantxu,

I get the same result no matter the config (Last (not null), Last, Mean, Calc, ECT), the color of the remaining storage changes as expected based on the thresholds, but the bar is always green and full... :(

Maybe this is related, but the gauge in #17939 does appear to be working as expected, but the text has issues during scaling and sizing.

We did get it 'working' but only when

[2020-01-21 15:33] aknuds1 commented on #20869
@wapmorgan Do you actually mean that the label name contains a backslash? Your example shows the label value having a backslash, but that doesn't fail for me, only when it's in the label name.

[2020-01-21 16:04] #21631 closed

[2020-01-21 16:09] ulikl opened #21647 "Show influxdb error messages from HTTP 200 responses"
**What would you like to be added**:

InfluxDB api has some cases where the query call returns HTTP 200 without series, but it includes error messages in the results blocks.
These error messages should be shown as warning/error in the Grafana GUI.

E.g. due to query execution restrictions you can get the following results:
- Query timeout:
[code]

- No result due to abort on query limits: e.g.
[co

[2020-01-21 16:11] kaydelaney commented on #21145
Did a little digging and it seems like what's happening here is the following:
Back in May of 2019 a new filtering syntax was added to LogQL (https://github.com/grafana/loki/pull/492), which @davkal then added support for in Explore (https://github.com/grafana/grafana/pull/16674).
I guess support for the legacy filtering syntax was wanted, so `parseQuery()` has some logic that checks if, after the

[2020-01-21 16:14] mikailyetkin commented on #5993
I assume it is still not possible, i am also looking for the same thing. Anyone knows a solution ?

[2020-01-21 16:20] #21112 closed

[2020-01-21 16:22] aknuds1 commented on #21647
Thanks for reporting!

[2020-01-21 16:31] ivanahuckova commented on #21112
@roobert @olivierboudet thanks so much for creating this issue! 🙏 Fix will be part of 6.6.0-stable release.

[2020-01-21 16:37] mckn commented on #21642
When I am testing this locally it looks like this is causing the error:

[code]

Not really sure why. Some migration gone wrong? @torkelo

[2020-01-21 16:42] dprokop commented on #21642
Hmm, this does not seem right. Seems updating thresholds on a existing panel causes this.

To reproduce behaviour:

1. go to http://localhost:3000/d/mCx3NzAWk/react-graph-toolkit
2. Change 1st panel's type to Gauge - Boom!

[2020-01-21 16:56] carlosoliverosmonti commented on #9259
maybe this helps =)

javascript:window.location.href='/d/qXHtipxZz/nodos-puertos-usados-y-libres?var-no_sitio=${__cell_1}&var-no_destino=${__cell_2}&orgId=1&from=$__from&to=$__to'
![Captura de pantalla -2020-01-21 11-57-30](https://user-images.githubusercontent.com/29068197/72825358-dfe52300-3c44-11ea-9e54-d3e4b58efe56.png)

[2020-01-21 16:57] carlosoliverosmonti commented on #13433
maybe this helps

javascript:window.location.href='/d/qXHtipxZz/nodos-puertos-usados-y-libres?var-no_sitio=${__cell_1}&var-no_destino=${__cell_2}&orgId=1&from=$__from&to=$__to'
![Captura de pantalla -2020-01-21 11-57-30](https://user-images.githubusercontent.com/29068197/72825515-29357280-3c45-11ea-911f-5e06fc2e7cc7.png)

[2020-01-21 17:11] nvn-devops opened #21649 "MongoDB plugin/datasource ?"
**What would you like to be added**:
Mongo DB plugins or data source inclusion..

**Why is this needed**:
Needed this to act Grafana as complete monitoring tool. Apart from MongoDB we are able to monitor everything

[2020-01-21 17:26] cantino commented on #21340
Agreed @dpavlos, manually deleting the contents of that table seemed to clear the cache and allow login.

[2020-01-21 18:38] tehlers320 commented on #21496
We have decided that we can never move off of Grafana 6.4.x because of these changes.

[2020-01-21 20:15] malanvaneck commented on #6983
+1

[2020-01-21 20:27] rssalerno commented on #6983
This thread is epic.

On 1/21/20, malanvaneck <notifications@github.com> wrote:

[2020-01-21 21:10] tlindhardt commented on #17554
Any update to this?

[2020-01-22 04:03] briangann opened #21651 "subpath evaluates as invalid in redirects"
**What happened**:

Following a link to a dashboard with Grafana configured to use a subpath:
[code]
When the user needs to login, they are redirected to the login. Once that succeeds, they should be redirected back to the original url intended.

The new cookie validation code has an extra forward slash and always returns false, sending the user to their default page.

This is related to PR #21057

[2020-01-22 04:11] briangann commented on #21651
added some debug code, the redirectTo appears to have an extra subpath:
[code]

[2020-01-22 04:19] briangann commented on #21651
the redirect_to cookie set in auth.go is prepending the subpath that already exists in the RequestURI

[code]

[2020-01-22 06:16] twendt commented on #21366
I think that this is not the way to go. I was trying to implement this during my work on #21581 . It seems to required extra permissions for the application on the Azure AD which even require admin consent. From the documentation the limit that you get the overage in the token is not 6 groups, but 200. From my experience the number of groups that users are a member of can be massive in a historica

[2020-01-22 06:27] cavallos commented on #14217
+1 :)

[2020-01-22 06:28] dprokop commented on #21612
timeService.setTime(newTime);
varService.variableUpdated(dMeasId1, true);

Yes, that's right. Time range update results in dashboard refresh: https://github.com/grafana/grafana/blob/0f0374544f7d76d8e1fde046a8bb7007b4e8b5ea/public/app/features/templating/variable_srv.ts#L75 as well as variable update https://github.com/grafana/grafana/blob/0f0374544f7d76d8e1fde046a8bb7007b4e8b5ea/public/app/feature

[2020-01-22 06:52] nthienan commented on #5812
Does anyone know any workaround?

[2020-01-22 07:08] annelaurefroment opened #21656 "Support interval variables as alignment period"
**What would you like to be added**:
Support for duration other than seconds as alignment period for stackdriver.

**Why is this needed**:
Currently interval variables cannot be used as alignment periods, because they are not in seconds. The error message is :
`aggregation.alignment_period' (type.googleapis.com/google.protobuf.Duration), Field 'alignment_period', Illegal duration format; duration

[2020-01-22 07:13] hugohaggmark opened #21657 "PhantomJs: Prometheus panels can't render"
**What happened**:
While investigating PhantomJs issue on master I came across `es-check` tool and could see that the import `LRUCache` breaks es5 compatibility. This means as soon as you try to render a Panel that uses a Prometheus datasource it will fail with a timeout.

**What you expected to happen**:
Panels with Prometheus datasource should render.

**How to reproduce it (as minimally and pre

[2020-01-22 08:15] dprokop opened #21658 "Migrate Table panel transformations to Transformers API"
Current Table panel supports data transformation which are one of the panel configuration options:

![image](https://user-images.githubusercontent.com/2376619/72876896-e54f7580-3cf7-11ea-9536-11b3feba1606.png)

Very soon we will need similar functionality in the [inspect drawer](https://github.com/grafana/grafana/issues/20710) which will allow simple transformations on the data frames:

![image](h

[2020-01-22 08:18] torkelo commented on #21658
not sure this is part of the table panel in any way

[2020-01-22 08:22] aknuds1 commented on #21649
AFAICT this is a duplicate of #3153 - please vote for that.

[2020-01-22 08:22] #21649 closed

[2020-01-22 08:23] dprokop commented on #21658
@torkelo updated description and title, happy to hear any more feedback about the requirements for the transformations that we want to support

[2020-01-22 08:49] dprokop commented on #21642
@sunker what panel that was? React Graph?

[2020-01-22 08:52] torkelo commented on #21612
Given that custom script there is no suprise there are multiple queries fired.

1) initial load => queries fired
2) Custom script changes time range => queries fired
3) Custom script changes variable => queris fired

[2020-01-22 08:52] #21612 closed

[2020-01-22 08:58] mhollstein opened #21660 "Graph panel with query "Mixed" shows the resulting values in the legend in a random order."
**What happened**:
Graph panel with query - Mixed - shows the resulting values in the legend in a random order.

**What you expected to happen**:
The sorting result should always be the same, even with multiple data sources in one panel.

**How to reproduce it (as minimally and precisely as possible)**:
Use a graph panel with two datasources in "Mixed" mode.
Each datasource should show two values.

[2020-01-22 09:07] torkelo commented on #21660
duplicate of https://github.com/grafana/grafana/issues/20555

[2020-01-22 09:07] #21660 closed

[2020-01-22 09:12] sunker commented on #21642
@dprokop I got the error in Stat, Gauge and Bar Gauge. All other panels worked.

[2020-01-22 09:15] aocenas commented on #21145
Thanks @kaydelaney btw is `=~` something we actually used at some point or is that just a typo in the operator? Cause if I understand the old syntax was `{job="grafana"} test` and now it is `{job="grafana"} |="test"` right?

[2020-01-22 09:17] HaikunWasTaken opened #21661 "Playlist fails for dashboards with floating point gauges"
Hello, I have a massive issue with the playlist feature since Monday and I hope you can help me.

**What happened**:  I know this might sound weird, but I extended the gauges on my dashboards to show float numbers (two decimals) and since then the playlist crashes after the first or second iteration. Description of what exactly happens: The first iteration works perfectly fine, it shows dashboard

[2020-01-22 09:20] sunker commented on #21642
@dprokop @mckn  if it's any help - I cannot reproduce this is master (pulled this morning), only in v6.6.x

[2020-01-22 09:31] aocenas commented on #21576
@ldealmei right now the graph for when using loki is computed from the logs themselves so if the limit is 1000 the graph has the same limit. Now that Loki also can do a metric type queries we plan to do a separate query for the log counts which would span the whole time range (this is how Elastic works right now). That should fix this issue.

[2020-01-22 09:32] kapralVV commented on #14217
+1

[2020-01-22 09:40] Maddin-619 opened #21662 "backendSrv: (datasource)request interface changed"
**What happened**:
With #20999 there where some changes in the datasourceRequest interface. Since that a successfull request returned the whole response (statuscode, header, loctaion, etc.). Now only the data field.
https://github.com/johntdyer/grafana/commit/782074ac0e2fa6f7fdfe51cecb654bd33dbeb512#diff-ee2adfbba2f0547ca6b2c9bc2fde339aR216

**What you expected to happen**:
Many plugins where deve

[2020-01-22 09:46] scelle commented on #21612
Ok, I understand, it's up to me to optimize and only call timeserver and varserver on real changes,

On the other hand, even in the case that I would not use any custom scripts, I have a similar issue with template variables:
Changing one template variable that is used for 1 query in 1 panel, also triggers all xx other queries on my dashboard, not using this template variable.
I suppose in most ca

[2020-01-22 09:50] rostyslav-dyiak commented on #14217
+1

[2020-01-22 09:51] rparashchak commented on #14217
+1

[2020-01-22 10:00] kaydelaney commented on #21145
Yeah, `=~` isn't a valid operator, so just a typo

[2020-01-22 10:21] aknuds1 commented on #21643
Thanks for reporting this, but it looks as if it's a duplicate of #21419. Please let us know if it turns out not to be the case! :)

[2020-01-22 10:21] #21643 closed

[2020-01-22 10:40] KuvshinovaElena commented on #21420
We use Grafana for two different purposes: directly through the Grafana interface and to display a graph in our interface through an iframe. This separation is based on 2 different organizations. This is a requirement.

The problem is in the iframe cookies being sent that contain user data authorized in the Grafana interface. Is there any way to disable these cookies?

[2020-01-22 10:56] Simonefardella commented on #16220
BUMP

[2020-01-22 11:07] aknuds1 commented on #21661
Thanks for reporting this issue!

[2020-01-22 11:33] infa-kparida commented on #10916
+1

[2020-01-22 12:30] JanVerstuyft commented on #6983
Thanks to ALL the +1 comments, I finally unsubscribed from this post and will not get any updates anymore.

Which is a pity because I do want to know when they will fix this.

Many thanks to everybody wo gave a +1 for letting me make this decision.  This is NOT how issue tracking of github works.  you have the thumb up to let everybody know that you also wants this feature.

Kind regards

Jan

[2020-01-22 12:49] HaikunWasTaken commented on #21661
Is there a known solution for this issue?

[2020-01-22 12:51] aknuds1 commented on #21661
I don't know of any.

[2020-01-22 13:05] horse27 commented on #6983
+1

[2020-01-22 13:05] torkelo commented on #21661
Can you include browser console logs? sounds like there is either a network error or browser javascript error

[2020-01-22 13:12] HaikunWasTaken commented on #21661
I'll have a look if there are errors thrown in the console in a minute. I am currently reverting the changes from monday to see if the playlist still crashes without float point gauges.

[2020-01-22 13:12] Azertooth commented on #6983
this is gold 😂

[2020-01-22 13:31] gboor opened #21667 "role_attribute_path does not handle hard-coded strings in quotes"
**What happened**:
While testing some issues with keycloak (apparently resolved recently), I tried the following config to see if role assignment works at all;

`role_attribute_path = 'Admin'`

**What you expected to happen**:
If I put `'Admin'` into jmespath.org, it always returns `"Admin"`, regardless of the input. So I expect all users who log in to be automatically Admin, instead everyone was

[2020-01-22 13:39] tlinhart opened #21668 "Allow font family selection in Table panel"
**What would you like to be added**:

It would be great if we could choose font family in the Table panel in a similar way to how we can choose font size.

**Why is this needed**:

We use Table panel to display logs from Elasticsearch. Log messages are best to be displayed with monospaced font, especially if the log messages are multiline. (At the moment, it's the most suitable way how to display

[2020-01-22 13:57] dprokop commented on #21657
Ok, I have found the offender which is 043bb59593cd12b41f609da734a24e34e5d1c936. The most suspicious and probable line is https://github.com/grafana/grafana/commit/043bb59593cd12b41f609da734a24e34e5d1c936#diff-a59431ca1f1f94cdb3ae176c50a585b2R82 which uses [URLSearchParams](https://developer.mozilla.org/en-US/docs/Web/API/URLSearchParams) which most probably is not available in PhantomJS

[2020-01-22 14:27] Estrax commented on #21440
Seems to be working properly with the current master. Closing the issue now. Please reopen if it still doesn't work properly.

[2020-01-22 14:30] Estrax commented on #21041
Annotation tags seem to be working properly with Loki with the current master (5afcf79c59d3756e643d6c8974508165d90c0845). Closing the issue now. Please reopen if it still doesn't work properly.

[2020-01-22 14:37] bhozar commented on #21123
The use case for this is: I would like to include links in the panels to filter on the data, but if the board name/URL changes it breaks.

This is most noticeable if I export the dashboard so I can upload it to Grafana.com as a template as it breaks all of them.

[2020-01-22 14:38] bhozar commented on #20577
Any progress on resolving this bug, or is it only the two of us having issues with the export function?

[2020-01-22 14:43] aocenas opened #21669 "Loki: Simplify props on LokiQueryField and remove duplicate useLokiSyntax call"
We use `LokiQueryField` inside `LokiQueryEditor` but we still call `useLokiSyntax` in both of them. This is because the props of `LokiQueryField` seem to require those syntax props even though it is creating them itself.

[2020-01-22 14:53] cyriltovena commented on #21440
for a0b04559e4 it doesn't work.

[2020-01-22 14:54] cyriltovena commented on #21440
Which seems to be after the commit you're talking about.

[2020-01-22 14:56] AntoineThebaud commented on #10714
I like this feature on the Prometheus UI, it would be great to have it on Grafana also.

To (try to) improve the proposal made in the rejected PR https://github.com/grafana/grafana/pull/15885 , maybe the 'Toggle stacking' option added here could be shown/hidden based on a new parameter that would be available under Panel Edit > Visualization > Stacking & Null value like the following :

![alt text

[2020-01-22 14:58] RavivarmaDadi commented on #21502
{
  "xhrStatus": "complete",
  "request": {
    "method": "POST",
    "url": "api/datasources/proxy/1/render",
    "data": "target=sumSeries(sumSeries(aliasByNode(exclude(*.*.2-2-12.journalValidator-service-296905184-1-314990627.com.walmart.arsenal.finance.journal.validator.controllers.JournalValidatorController.*.count%2C%20'healthCheck')%2C%2012))%2CsumSeries(aliasByNode(exclude(*.*.2-2-12.journ

[2020-01-22 15:18] aocenas commented on #21030
Seems like this works correctly in Loki and we do refresh the labels and values with the correct time range when opening the selector. In prometheus though we do not refresh it so there this can be a problem.

[2020-01-22 15:37] aocenas commented on #21030
Ok scratch the previous comment, seem like prometheus values API does not take a time range so there isn't need to refresh it after timerange change.

[2020-01-22 15:37] #21030 closed

[2020-01-22 15:48] jl98800 opened #21670 "Y axis defaults to bytes instead of bps"
Hi,

When using cloudwatch as a datasource for my query of AWS/NATGateway and the following metrics

BytesInFromSource
BytesInFromDestination
BytesOutFromSource
BytesOutFromDestination

Visualization defaults to Bytes for the Y axis and it can't be changed via the UI or JSON to the data rate of bps.  Please help.

Grafana v6.4.4 (commit: 092e514)

[2020-01-22 15:56] #18628 closed

[2020-01-22 15:58] nyh commented on #18983
It seems to me this issue is as relevant as it always was... Maybe isn't super-popular, but still relevant as far as I can tell.

[2020-01-22 16:17] kaydelaney opened #21672 "Nested <td/> warning when showing log field stats"
**What happened**:
![image](https://user-images.githubusercontent.com/45561153/72911521-22d0f480-3d32-11ea-9bb6-779b70e2d58d.png)
Expanding the log field stats by clicking the icon circled above causes an error to be output to the console complaining about nested `<td/>` elements:
<img width="550" alt="image" src="https://user-images.githubusercontent.com/45561153/72911636-4f850c00-3d32-11ea-8530-

[2020-01-22 16:57] KristianLyng opened #21673 "Allow updating of template variables from within a panel, e.g. clicking a table cell updates a variable"
**What would you like to be added**:

I'd like one panel's data to be used to update template variables by user interaction. E.g.: Instead of table cells just being links, allow them to update template variables and trigger redrawing of other panels. Ideally leaving the clicked panel untouched, unless it uses the updated variable.

The closest I can get today is opening a separate dashboard, which

[2020-01-22 17:00] marefr commented on #12491
@cr-lironkreiss so doing an import in UI of a dashboard from grafana.com and inspecting the payload POSTed to Grafana API (/api/dashboards/import I get this:

[code]

There you could provide your `folderId`.

[2020-01-22 17:27] KristianLyng commented on #18075
We're looking at exactly this, and so far we've investigated using separate Grafana installations and migrated dashboards from one to an other through magic. This feature request would be a much smoother solution.

One thing that needs to be adressed, though, is how to deal with parallel tracks. There are two issues I see:

1. D-v3 tries to fix something unrelated to D-v2, and is, as such, based o

[2020-01-22 17:33] HJEGeorge commented on #14217
+1

[2020-01-22 18:51] marefr commented on #21366
@twendt thanks a lot for your view on this. Really appreciate it. What you write makes perfect sense to me so I will close this issue.

[2020-01-22 18:51] #21366 closed

[2020-01-22 19:07] marefr commented on #21502
What settings are you using in the singlestat to get out that value?

[2020-01-22 19:27] marzlarz opened #21674 "Alert notifications not working if any datasource in Alert config is down"
**What happened**:
We noticed lately that when any of our many prometheus data sources are down for patching, that notifications are essentially broken for all data sources used by that particular alert. Event data sent to Webhook ( ALERTA ) is missing key fields

**What you expected to happen**:
DC1 is down for patching, but we should still get alerts in DC2

**How to reproduce it (as minimally a

[2020-01-22 20:03] joe-elliott commented on #21041
@Estrax
I'm still seeing the issue in Grafana v6.7.0-pre (2283ceec09).  I would be glad to sit together and review the details of what we're seeing.  It's quite possible I'm misunderstanding this feature.

[2020-01-22 20:47] ldealmei commented on #21576
Sounds good, thank you

[2020-01-22 20:56] wpdildine commented on #12779
Is this available anywhere I would like to use this feature.  I'm not in a rush I can use ssh tunnelling in the meantime.

[2020-01-22 21:24] scottlepp opened #21675 "Toolkit missing error message when linting fails"
In 6.5 a message of "please run yarn dev" was provided.  Now just a stack trace.

https://circleci.com/gh/grafana/plugin-ci/717

![image](https://user-images.githubusercontent.com/6108819/72935514-7d1e8500-3d33-11ea-83c8-ab53faea58f8.png)

[2020-01-22 21:31] nicolargo commented on #3356
Another proposal: be able to configure, at admin level (through the telegraf.conf file), the default "Auto-Refresh" variable when a new dashboard is created. If an user want to overwrite this default value, he should edit the dashboard configuration.

Example in the configuration file, the default Auto-Refresh value is defined as following:

    default-auto-refresh=[30s, 1m, 5m, 15m, 30m, 1h, 2h,

[2020-01-22 21:57] youshy commented on #20421
Hey guys, I've made a draft pull request for this issue, happy to work with someone on that!

[2020-01-22 23:01] alecxvs commented on #21537
I'm still seeing this issue on the "next" tag (6.6.0-beta1). I'm trying to figure out if it's a local environment issue, but perhaps was the index.development.js not regenerated when that version was published?

[2020-01-23 00:30] nunks commented on #16452
Maybe move the variable box logic to a kind of panel? I like to have lookup tables in some dashboards dinamically filtered by variables, and putting the variable box next to the table would be aesthetically better.
+1, btw

[2020-01-23 06:42] sunker commented on #21496
@tehlers320, I'm curious to know what kind of query you would run that return more than 100 time series? To me that seems like an incredibly busy graph, and it will also cause very slow rendering.

It's not possible to add more than 26 query rows in the Grafana query editor, so I'm assuming your using multi-valued template variables. That's the only way to issue a query for more than 100 instances

[2020-01-23 07:15] fredwangwang opened #21678 "Request: Support provisioning teams through API"
**What would you like to be added**:
Extend provisioning API to able to provision teams.

**Why is this needed**:
Related to #12119, but team provisioning would provide an automated fine grained control within the same org.

[2020-01-23 07:43] sunker opened #21680 "Frontend: Time Range picker changes doesn't trigger panel refresh"
Steps to reproduce:
1. Click the time range selector and choose “Last 24 hours”
2. Click the refresh icon
3. Effect: nothing happens
4. Expected behavior: the graph refreshes to show the newly selected time range
5. Work around: click in the “Period” field and hit the Tab key.

Issue found when testing CloudWatch datasource in branch v.6.6.x

Error in js console:
`2angular.js:14800 Possibly unhand

[2020-01-23 08:28] sunker commented on #21670
Thanks for reporting the @jl98800. In Grafana 6.5 that was released in November last year, we switched from CloudWatch GMS api to GMD api. The GMD api doesn't return data types, so the auto data type detection in the graph does not exist anymore, and I'm afraid we won't be able to do a patch release for 6.4

[2020-01-23 08:28] #21670 closed

[2020-01-23 08:31] aknuds1 commented on #21675
Thanks for reporting!

[2020-01-23 08:42] aknuds1 commented on #21678
Thanks for your request, we'll put it under consideration.

[2020-01-23 08:51] aknuds1 commented on #21673
Thanks for your request, we'll take it under consideration.

[2020-01-23 09:11] RavivarmaDadi commented on #21502
I am attaching a snap to showcase
![Singlestat_setting](https://user-images.githubusercontent.com/18698401/72970852-77d24080-3dee-11ea-963d-53bae3d679ff.JPG)
 our settings

[2020-01-23 09:24] marefr commented on #21502
What difference are you expecting, difference between last (current) value and first value? Seems like using the Difference Stat will do current value - current-1 value hence the negative result when current-1 value is greater than current value.

[2020-01-23 09:26] RavivarmaDadi commented on #21502
General settings snap of the dashboard.
![General_Settings](https://user-images.githubusercontent.com/18698401/72971967-99ccc280-3df0-11ea-8894-5a5a74046d08.JPG)

[2020-01-23 09:33] torkelo commented on #21673
you will be able to do this in v6.6 using cell links, var syntax `var-<varname>=$__cell`

[2020-01-23 09:33] #21673 closed

[2020-01-23 09:37] torkelo commented on #21642
I am still unable to replicate this in master or v6.6.x

How did you create this dashboard? it has a very strange nested json for one of the gauge panels.

[2020-01-23 09:39] RavivarmaDadi commented on #21502
We are expecting the difference of values from given time range.
For Example : last 15 mins
We have tried "current" option as well but it is giving the current value but not what we are expecting. That's why we went for "difference", It is giving the value we are expecting but on refresh it is giving some negative integer.

[2020-01-23 09:44] RavivarmaDadi commented on #21502
Snap showing time range and refresh interval of a dashboard.
![Time Range and Refresh interval](https://user-images.githubusercontent.com/18698401/72973282-02b53a00-3df3-11ea-8a25-95fa7cb79586.JPG)

[2020-01-23 10:14] RuchaBapat opened #21682 "Getting template variables for dashboard Id and panel ID while using data links"
Hello,
We are using data links to carry the data from the panel of the one dashboard and put it in the filters of another dashboard.

We create URL for this and specify the dashboard id.
Is it possible to make this URL expandable in a sense that we can use template variables additional to host URL.

Consider this situation-
We have links from dashboard1 to dashboard2, at the moment we hard code th

[2020-01-23 10:18] nkondratyk opened #21683 "Possibility to use Prometheus Explorer by non Admin users"
**What would you like to be added**:
Currently only Admin users can use Prometheus Explorer.
It will be great if read only users can also use this great feature.

**Why is this needed**:
In our company we have more than 1000 developers which are using Grafana and we can`t provide admin access for all of them.

[2020-01-23 10:30] torkelo commented on #21683
Prometheus Explorer? what is that?

You mean the Explore mode (compass icon)? You do not need to be admin for that, only Editor.

You can make Viewers also be able to access Explore if you enable the option "viewers can edit" in the ini file, this setting will allow viewers to make transient edits in dashboards as well (make changes but not save them)

[2020-01-23 10:30] #21683 closed

[2020-01-23 10:46] nkondratyk commented on #21683
It works. Thank you!

[2020-01-23 10:49] cariag commented on #3305
This would be very useful, +1

[2020-01-23 11:09] aocenas opened #21686 "Loki: Annotation query editor throws on query change"
**What happened**:
When query in annotation editor for loki is changed and error is thrown:
[code]
Seems the `onChange` prop is not filled from the parent. The parent in this case is an angular controller so it needs to go through angular-react bridge which may be the issue.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we nee

[2020-01-23 11:23] roidelapluie opened #21688 "Prometheus POST queries to grafana backend are truncated"
**What happened**:
We updated grafana to 6.7.0-e861b821pre

our dashboards don't work at all:

![allerr](https://user-images.githubusercontent.com/291750/72980554-1654a680-3ddb-11ea-8c8d-669192f17b9a.png)

**What you expected to happen**:
It works

**How to reproduce it (as minimally and precisely as possible)**:

take grafana master

add a valid prometheus backend with POST method

click save

**

[2020-01-23 11:26] dprokop commented on #21688
@roidelapluie can you provide us with console output? Have you tried 6.6.0-beta.1 to see if this problem exists there?

[2020-01-23 11:28] mckn commented on #21642
@sunker

Does it still occur if you try use this dashboard? I have removed the nesting of the `defaults` and change the plugin version to 6.5.3 to make the migrate script to trigger again. It will only be run for versions below 6.6 and since `6.6.0-beta1` isn't below 6.6 it won't be run for that panel.

The PR that @torkelo opened should fix the nesting issue from happening again.

[code]

[2020-01-23 11:32] bmerry opened #21689 "$__range is excessively rounded (Prometheus)"
**What happened**:

A Prometheus instant query using `[$__range]` on a time range of about 33 hours reported only over 24 hours. The query inspector shows that it was substituting `1d`.

**What you expected to happen**:

`$__range` should expand to the time range selected, to the nearest second.

**How to reproduce it (as minimally and precisely as possible)**:

In a Grafana connected to a Prometh

[2020-01-23 11:43] roidelapluie commented on #21688
queries to prometheus are truncated
![allerr](https://user-images.githubusercontent.com/291750/72981785-ed81e080-3ddd-11ea-9674-faf765fc2b68.png)

[2020-01-23 11:46] marefr commented on #12779
@wpdildine you can provisioning as a workaround, see [docs](https://grafana.com/docs/grafana/latest/administration/provisioning/#custom-http-headers-for-datasources)

[2020-01-23 11:47] bmerry commented on #21689
Incidentally, the examples for using Prometheus include one that says:

which could be cleaned up if `$__range` is made as precise.

[2020-01-23 11:51] roidelapluie commented on #21688
reproduced on 2 systems totally different, one centos with rpm and one exherbo with tar.gz

[2020-01-23 11:59] roidelapluie commented on #21688
6.6. beta works

[2020-01-23 12:04] marefr commented on #21682
Linking to dashboard including the unique `uid` should solve the problem of uri's changing when renaming a dashboard. In `http://localhost:3000/d/5SdHCadmz/panel-tests-graph` the `uid` part is `5SdHCadmz` and will be stable even if you change the title of the dashboard. See [docs](https://grafana.com/docs/grafana/latest/http_api/dashboard/#identifier-id-vs-unique-identifier-uid) for more informati

[2020-01-23 12:04] #21682 closed

[2020-01-23 12:10] #21657 closed

[2020-01-23 12:17] roidelapluie commented on #21688
90338c13 - not ok

[2020-01-23 12:18] KristianLyng commented on #21673
I know this is closed, but this is pretty great. Installed beta in dev and so far I can't find any huge flaws :D

[2020-01-23 12:21] roidelapluie commented on #21688
Grafana v6.6.0-pre (7cbf3d8dab) - ok

[2020-01-23 12:33] roidelapluie commented on #21688
The first  commit with this issue is cf2cc71393 according to my bisect.

cc @kaydelaney @hugohaggmark

[2020-01-23 12:42] aknuds1 commented on #21673
@KristianLyng Great! :)

[2020-01-23 12:46] dprokop commented on #21686
This happens also on beta1 branch. Affected are also Stackdriver and Cloudwatch.

[2020-01-23 13:13] aknuds1 commented on #20869
When it comes to backslashes in label names, that's actually forbidden. Loki has the same rules for label names as [Prometheus does](https://prometheus.io/docs/concepts/data_model/#metric-names-and-labels).

[2020-01-23 13:25] chrisjacksonsw commented on #3783
I too have used the table panel to display text from the grafana database as a workaround. In my case it's an html link to a query that allows the user to see where the metrics are coming from and dig a bit deeper into the information. If the single stat panel had an option to refer to an external link (generated dynamically from the database) this would be better.

[2020-01-23 13:52] dprokop commented on #21686
Here's the breaking commit: https://github.com/grafana/grafana/commit/880fbcb09a5ab1a63f69811db8a94ba76ac7bf0f

[2020-01-23 14:05] dehrax commented on #21680
After some inital investigation this problem is probably related to template variables, as there are no options for region, namespace and dimensionValue. A reload creates the error:
![Screenshot from 2020-01-23 14-57-43](https://user-images.githubusercontent.com/1438972/72990628-cb458e00-3df0-11ea-8961-62a27d0f3278.png)
Which logs:
[code]

Since a couple of them are QueryVariables it might be the

[2020-01-23 14:12] hugohaggmark commented on #21688
@roidelapluie thanks for reporting this, can you give an example of such a range query? I've a pretty comprehensive Prometheus dashboard that works fine using `rate queries` not sure that is the same as you're using. Sorry for my low-level knowledge about prom queries.

[2020-01-23 14:20] ivanahuckova opened #21691 "SQL datasources: Query builder is incorrectly displaying un-interpolated variables"
**What happened**:
When user wants to get to Explore from dashboard panel, `interpolateVariablesInQueries` is used and it correctly interpolates variable. You can see correct variables in SQL Editor, but the query builder is incorrectly displaying un-interpolated version. When you open Editor and run query, correct results are displayed.
![image](https://user-images.githubusercontent.com/30407135/

[2020-01-23 14:20] roidelapluie commented on #21688
The default prometheus v2 dashboard

[2020-01-23 14:28] hugohaggmark commented on #21688
Thank you, do you have a link?

[2020-01-23 14:29] roidelapluie commented on #21688
In your grafana, go to data source prometheus, tab dashboard, click import

[2020-01-23 14:52] scelle opened #21692 "Memory: browser memory usage rising continuously on switching between dashboards"
**What happened**:
browser memory keeps rising

**What you expected to happen**:
browser memory should remain stable

**How to reproduce it (as minimally and precisely as possible)**:

- create 2 dashboards with standard graph panels and influxdb datasources, and dashboard links page.
- rapidly switch between the dashboards (1s interval) -> memory rises (starting at 120 mb and rises to 250 mb afte

[2020-01-23 14:54] KristianLyng opened #21693 "Self referencing cell links behave strange when template variables are left out"
**What happened**:

Testing cell-links, re #9259.

Two issues, one I can reproduce in a fresh dashboard, one I can't, both similar. The former first:

- Created a dashboard with two panels and two template variables
- Variable 1: parent_ae_name - provided from cell link
- Variable 2: ifs - computed through parent_ae_name, want default to be "All"
- Panel 1: Table of interface aggregates, with each

[2020-01-23 15:51] dehrax commented on #21680
The issue seems to be caused by the query variable having refresh set to `On Time Range Change `, with no defined data source.
![Screenshot from 2020-01-23 16-49-00](https://user-images.githubusercontent.com/1438972/72999911-59754080-3e00-11ea-9823-dcb30380a25d.png)

@sunker How was the data source not set? Imported dashboard with edited JSON?

[2020-01-23 15:57] aocenas opened #21695 "Loki: On loading context it does requests for both old and new API"
**What happened**:
Seems like the RX.js switch does not work properly and it does both old and new API call https://github.com/grafana/grafana/blob/cf2cc713933599e7646416a56a665282c9d9e3bb/public/app/plugins/datasource/loki/datasource.ts#L491

<img width="1480" alt="Screenshot 2020-01-23 at 16 55 53" src="https://user-images.githubusercontent.com/1014802/73000642-765e4380-3e01-11ea-91be-14817874ef

[2020-01-23 16:08] TheRoSS opened #21696 "UpdateAnnotation should update field Data too"
**What would you like to be added**:
file: grafana/pkg/api/annotations.go
Function PostAnnotation creates new annotation and allows you to set field Data from cmd.Data.
Function UpdateAnnotation do not read this field from cmd.
Add please the string "Data: cmd.Data" to function UpdateAnnotation (line:164) to have possibilty to update data field in the database

**Why is this needed**:
We store som

[2020-01-23 16:27] shanson7 commented on #16961
This is still broken in 6.5.1, any ETA here?

[2020-01-23 16:38] TheRoSS opened #21697 "Should not set WWW-Authenticate header while X-Requested-With: XMLHttpRequest set"
There is an agreement if server received 'X-Requested-With: XMLHttpRequest' header it shound not send back WWW-Authenticate header

**What happened**:
I send authentification request with header 'X-Requested-With: XMLHttpRequest' and receive 401 status with WWW-Authenticate header set

**What you expected to happen**:
No WWW-Authenticate header set

**How to reproduce it (as minimally and precisel

[2020-01-23 17:01] tfalbo commented on #4623
+1

[2020-01-23 18:02] no3am opened #21701 "Grafana helm not supporting GitHub Auth when client id is not according to rules"
**What happened**:
failed to deploy helm chart with GitHub auth enabled because GitHub issued a client_id with decimal point.

**What you expected to happen**:
The grafana helm deployed and login with GitHub enabled

**How to reproduce it (as minimally and precisely as possible)**:
First create a secret:
`kubectl create -n monitoring secret generic grafana-client-auth --from-literal=client_id=Iv1.

[2020-01-23 19:26] DooMMasteR commented on #18886
this issue is still persistent

[2020-01-23 19:27] rplevka commented on #21357
I was just about to open the same RFE (including autoscroll). I was surprised this wasn't implemented yet. It would be really helpful!

[2020-01-23 20:44] scottlepp opened #21703 "News panel - long titles not fully using width"
![image](https://user-images.githubusercontent.com/6108819/73022101-eadfb500-3df6-11ea-87c7-d954e3c9bd1b.png)

[2020-01-24 01:37] #20531 closed

[2020-01-24 04:09] nvn-devops commented on #3153
Currently do Grafana supports MongoDB ?

[2020-01-24 05:41] hugohaggmark commented on #21688
Thank you so much for clarifying all this, I'm looking into this asap.

[2020-01-24 06:03] christopher-wong opened #21706 "Loki logs not loading past ~5 minutes"
**What happened**:
When using Explore to query Loki, the chart doesn't render logs that are older than ~5 minutes.

As you can see from the logs bar chart in the screenshot, only 5 minutes of logs appear. If I spam the refresh button, or enable auto-refresh, I can watch as the logs from 5 minutes ago disappear as new logs come in. The first green bar gets smaller, the last green bar grows.

This a

[2020-01-24 06:20] dprokop commented on #21460
@hugohaggmark @mckn I assume we can close this already, right?

[2020-01-24 07:20] DS95 commented on #6778
@7lives83
Hey very nice.
Is it possible to use local mp3's. I don't get it to work

[2020-01-24 07:27] dprokop opened #21708 "Lint: Blacklist path imports from @grafana/* packages"
We need to blacklist path imports in @grafana/* as paths are different in bundle vs source. In bundled packages there is no `src` directory, which can lead to weird issues, i.e.

![image](https://user-images.githubusercontent.com/2376619/73051633-64bd8000-3e83-11ea-84be-8f276707b772.png)

https://github.com/grafana/grafana/pull/21707

[2020-01-24 07:32] devdil commented on #17665
@marefr @thedeveloperr I would like to contribute to beginner friendly issue, can I pick this one?

[2020-01-24 07:34] hugohaggmark commented on #21460
I think it could be good to keep it open, so we can add potentially affected plugins to changelog for 6.6

[2020-01-24 07:50] Niki2k1 opened #21709 "Remove image_path from Slack alert if empty"
**What would you like to be added**:
I want to have the _image_path_ from the slack webhook body json removed if the **include image** option is off or the image is empty

Another option would be to add a own Rocketchat Webhook Type

**Why is this needed**:
I am using the Slack webhook type with rocketchat as they are basically the same. With a new version from Rocketchat there is a new Link valid

[2020-01-24 08:35] aknuds1 commented on #21709
Thanks for reporting this, we'll see what we can do!

[2020-01-24 08:40] #21642 closed

[2020-01-24 08:48] AIXruth commented on #4157
+1
v6.5.2 still has this issue

[2020-01-24 08:50] #21419 closed

[2020-01-24 08:58] pwSteve opened #21711 "Panel Issue the panel don't show anything and have i failure message!"
I have my own Graph Panel based on an older version of Grafana Graph Panel. I added many other features. It was all fine, but now i become this issue:

WEBPACK_IMPORTED_MODULE_19_grafana_app_core_utils_kbn_default.a.valueFormats[format] is not a function

I see this notification in Grafana itself in the top left corner of the panel. In the console, i don't have any failure messages.

The panel is

[2020-01-24 09:08] sylr opened #21713 "Different values for interval based on datasource"
**What would you like to be added**:

I'd like to have different values for interval depending on the datasource.

**Why is this needed**:

In a `grafana -> cortex (cache) -> thanos query (reverse proxy) -> thanos store / prometheus (data sources)` context we can query raw original data up to a certain period and then we can have 5m and/or 1h downsampled data.

To be able to chose between what kin

[2020-01-24 09:23] marefr commented on #17665
@devdil I just removed the beginner friendly label since there's a quite a bit of work to fix this.

[2020-01-24 09:28] aknuds1 commented on #21693
Thanks for testing and reporting your findings!

[2020-01-24 09:30] aknuds1 commented on #21696
Thanks for making this request, we'll look into it.

[2020-01-24 09:34] aknuds1 commented on #21711
Can you please use our standard issue template?

[2020-01-24 09:36] Puude commented on #1893
Here the same.

[2020-01-24 09:39] devdil commented on #17665
@marefr do you have anything in backend which I can look into?

[2020-01-24 09:45] devdil commented on #19289
@marcusolsson can I pick this up?

[2020-01-24 09:45] aknuds1 commented on #21713
Thanks for your request! We'll look into it.

[2020-01-24 09:51] aknuds1 commented on #21701
Thanks for reporting this, we'll look into it.

[2020-01-24 09:55] #21686 closed

[2020-01-24 10:00] aknuds1 commented on #21701
Bear in mind though that Helm is not officially supported by Grafana Labs. We think the underlying auth issue may be valid, so we'll investigate.

[2020-01-24 10:16] pwSteve commented on #21711
It's good, i found the issue, but for next time i will use the template.

[2020-01-24 10:16] #21711 closed

[2020-01-24 10:28] negbie commented on #21706
This is because you've reached your row limit of 1000.

[2020-01-24 10:44] avekrivoy opened #21718 "Set dashboard variable on user login"
How can I set dashboard variable dynamically depending on user that is logged in? Assume that it could be done with reverse proxy. I tried to override query parameters with nginx, but this didn't help. Probably because this logic is being executed in browser.
Say I've got variable value, that I need, how can I pass it to grafana? So when user requests https://my.grafana.xyz/dashboard he gets dashb

[2020-01-24 10:50] aocenas commented on #21706
This is duplicate of this other issue https://github.com/grafana/grafana/issues/21576. This is known and we have it in our roadmap.

[2020-01-24 10:50] #21706 closed

[2020-01-24 10:52] CSimpiFoN commented on #922
+1 for the feature request

[2020-01-24 10:54] aocenas commented on #21689
cc @dprokop @torkelo you probably have context for the 2 variables.

[2020-01-24 11:11] marefr opened #21719 "Import dashboard doesn't work as expected"
**What happened**:
Tried to import a dashboard published on grafana.com, but nothing happens when pasting the dashboard id and blurring the Grafana.com Dashboard field.

**What you expected to happen**:
Taken to the next step in import wizard directly after blurring the Grafana.com Dashboard field.

**How to reproduce it (as minimally and precisely as possible)**:
1. Go to dashboard import page
1.

[2020-01-24 11:19] torkelo commented on #21689
no, not really. Not sure exactly the purpose and how this variable should work, unique to Prometheus

[2020-01-24 11:41] bmerry commented on #21689
I can make a PR showing what I think should happen, but I'm not a Javascript developer and don't know my way around the testing framework so will probably need someone to help with a regression test.

[2020-01-24 12:11] rburema opened #21721 "Docs feedback: /installation/windows.md"
The 'Getting started' link can't be found.

The sidebar (which works) points to `.../docs/grafana/latest/guides/getting_started/`, but the link in the text itself just points to `.../guides/getting_started/`

[2020-01-24 12:25] aknuds1 commented on #21689
Moved this issue to the Platform board, after discussing with @aocenas. Feel free to move somewhere else if it's a better fit :)

[2020-01-24 12:30] 321freddy commented on #5398
+1

[2020-01-24 12:31] 7lives83 commented on #6778
Sure. You only need to change the Audio file destination.

var selectedSound = 1; var sounds = { '1': 'https://www.soundjay.com/button/beep-04.mp3', '2': 'http://soundbible.com/grab.php?id=1072&type=mp3', '3': 'http://soundbible.com/grab.php?id=2142&type=mp3', '4': 'http://soundbible.com/grab.php?id=915&type=mp3', '5': 'http://soundbible.com/grab.php?id=914&type=mp3', '6': 'http://soundbible.com/g

[2020-01-24 12:33] bmerry commented on #21689
I made a PR (#21722), but I see it can't be accepted until I agree to the CLA. Since I'm doing this on work time, that means lawyers get involved, which could take months (hopefully quicker now that this is the second time I'm asking for CLA approval). If someone else wants to just do the fix themselves, I believe the change needed is to replace the [current calculation](https://github.com/grafana

[2020-01-24 12:33] 7lives83 commented on #6778
Will look into it next week. Iam in vacation at the moment 😊🤣

[2020-01-24 12:36] aknuds1 commented on #21689
Thanks @bmerry, trying to get some feedback on your PR.

[2020-01-24 12:39] aknuds1 commented on #21718
Please use our [community](https://community.grafana.com/) for support, our issue tracker is for reporting bugs and making feature requests. Thanks!

[2020-01-24 12:39] #21718 closed

[2020-01-24 12:39] aknuds1 commented on #21721
Can you please rewrite the issue using the standard issue template?

[2020-01-24 13:07] bmerry commented on #21689
Good news! My manager said we don't need to get lawyers involved, so I've signed the CLA.

[2020-01-24 13:14] aknuds1 opened #21726 "grafana-cli should print also global options when help invoked for sub-command"
**What happened**:
When invoking help for a grafana-cli sub-command (f.ex. `grafana-cli plugins --help`), only options for the sub-command are printed, and global options omitted. Since global options are omitted, the user will be confused and not realize they are available, for example `--pluginsDir`. The convention with CLIs is to print also global options as part of the help for a sub-command,

[2020-01-24 13:35] hugohaggmark commented on #21662
@Maddin-619 great that you found this!. Working on a PR that will be merged soon.

[2020-01-24 14:07] #21669 closed

[2020-01-24 14:34] torkelo opened #21730 "Table panel XSS issue with cell links"
Table cell link's have one XSS issue remaining. We are only URL encoding the href, need to sanitize it as well (to protect against javascript: alert(...) url.

![image](https://user-images.githubusercontent.com/10999/73076679-debf2a80-3ebe-11ea-87e2-f1ad4b0eef4b.png)

[2020-01-24 14:35] kylebrandt commented on #20328
@ryantxu / @dprokop Was this fixed via https://github.com/grafana/grafana/pull/21408 ? The only comment that makes me unsure is " and a minor change in it means it does not work with GEL", but not sure if that is actually true by the time it was merged?

[2020-01-24 14:42] dprokop commented on #20328
Yeah, not sure neither @kylebrandt, but the apache-arrow issue described by Ryan should be gone with this PR https://github.com/grafana/grafana/pull/21677

[2020-01-24 14:48] #20740 closed

[2020-01-24 14:48] tmroberts-tableau opened #21732 "Deleted threshold keeps coming back."
**What happened**:
While creating a new panel on a Zabbix dashboard, a threshold keeps getting created, that 1) has no relation to the trigger threshold in Zabbix and 2) can't be deleted.  When I delete the threshold, change the threshold (value, color or any other parameter) either via the GUI or via the JSON (and save it) the original threshold keeps coming back as if I did nothing.

**What you

[2020-01-24 14:55] #21680 closed

[2020-01-24 15:03] mpryhu opened #21733 "Prometheus Plugin Failed. Error: Loading Chunk 44 failed. (missing...... prometheusPlugin....js)"
I have Grafana 6.5.3 installed.
Every device Grafana is working (iOS, Android, Firefox) except Apple iPad 2 Wi-Fi + 3G with iOS 9.3.5 (resolution 768x1024).
When loading Grafana Graph there is an Error:
Prometheus Plugin Failed
Error: Loading chunk 44 failed. (missing:http://[ip path]/public/build/prometheusPlugin.2ffa3667c2c8a7a8351f.js)

Why this error occurs? Is there any way to elimanate it?

[2020-01-24 15:04] aknuds1 commented on #19938
Sorry for the long wait, but I will have a look at this :)

[2020-01-24 15:06] elsmorian commented on #19938
@aknuds1 No worries, thanks! Part of me is still questioning if we can really be the only ones having this issue, let me know if we can do anything our end :)

[2020-01-24 15:10] aknuds1 commented on #19938
I'm going to see if I can replicate it first.

[2020-01-24 15:23] sergiodegrazia commented on #15269
Grafana automatically creates two CSS files at each build or update, one for the 'light' and one for the 'dark' template. The easiest option is to amend these files with the required changes. All changes should last until the next manual update of the application.

In Ubuntu, the files are located at:
/usr/share/grafana/public/build
And are called something like:
grafana.dark.0d52b7637e43802b8d00.

[2020-01-24 15:30] aknuds1 commented on #19938
It looks as if you need to [obtain the user ID](https://api.slack.com/reference/surfaces/formatting#mentioning-users) before you can insert a mention, just using the Slack handle won't work.

[2020-01-24 15:33] aknuds1 commented on #19938
Are you familiar with the above requirement @elsmorian?

[2020-01-24 15:41] tmroberts-tableau commented on #21732
as a follow up, even adding a completely different (and manually added) threshold and deleting the other, doesn't change the fact that it keeps coming back.

[2020-01-24 15:43] elsmorian commented on #19938
@aknuds1 ah, hmm I think we did try that but I will double check

[2020-01-24 15:45] aknuds1 commented on #19938
@elsmorian We also need to format the inclusion of the user ID properly in the message, so it's not something you can solve on the user side :)

[2020-01-24 15:46] elsmorian commented on #19938
Aha, yes If I remember correctly we tried using the Slack user ID and couldn't get that to work and have just double checked, and indeed it comes through as the raw Slack I rather than a @user mention

[2020-01-24 16:25] aknuds1 commented on #21733
Can you please use our issue template?

[2020-01-24 16:44] oddlittlebird commented on #19289
Go for it @devdil !

[2020-01-24 16:57] torkelo commented on #21732
please open this issue in the zabbix grafana plugin github repo

[2020-01-24 16:57] #21732 closed

[2020-01-24 16:59] diegofmole commented on #21105
Since we update to Grafana v6.5.3, the legends of our charts that take metrics from AzureInsigths appear oddly too. Any idea when this bug will be solved?

![image](https://user-images.githubusercontent.com/19187807/73087679-a533f280-3eb1-11ea-9bc0-74457d423d1d.png)

[2020-01-24 18:10] alexism7hz commented on #7941
Hi,

I'd like to make a contribution that might help as a little trick, because this feature is not released yet.

I'm computing 5-minute average values of a sensor giving data every second. Considering the following data points:
- Between 10:45AM and 10:50AM, `averageValue = 106.9` (**so the 10:45 to 10:50 period should have the value 106.9**)
- Between 10:50AM and 10:55AM, `averageValue = 105.7`